[2021-12-21 09:50] karthikeyanvenkatraman opened #585 "[Tracking] AWS Cloudwatch metrics reporting issue with CGroupsV2"
## Description

We are using faltcar AWS AMI's for ECS cluster and since the release of flatcar stable version 2983.2.0, We are no longer able to get ECS Cloudwatch Metrics. Seems like ecs-agent is not compatible with  Cgroups V2

## Impact

On upgrading the instances to flatcar AMI ami-08165d837cc8ef7f6, AWS ECS Cluster and Service metrics such as CPU Utilization and Memory Utilization are unavai

[2021-12-21 10:27] tormath1 commented on #571
@miao0miao this community call is over, I guess we can close this issue ? :)

[2021-12-21 10:29] t-lo commented on #571
The slides [have not been published](https://github.com/flatcar-linux/Flatcar/tree/main/community-meetings) (even though the item was checked off).

[2021-12-21 10:46] tormath1 commented on #571
@t-lo slides have been pushed: https://github.com/flatcar-linux/Flatcar/commit/119080687b7e16e3326a27d5317f06ea8f304edf. Checking the item :)

[2021-12-21 11:06] krnowak commented on #568
There is a PR doing it, among other things: https://github.com/flatcar-linux/coreos-overlay/pull/1524

[2021-12-21 12:20] t-lo commented on #571
Awesome, thanks for jumping in @tormath1 ! We're done here, closing the issue.

[2021-12-21 12:20] #571 closed, assigned to miao0miao

[2021-12-21 12:37] holymoly opened #586 "Can not boot from PXE on Virtual Enviroments like VMWare Workstation or Virtual Box"
## Current situation

I setup a PXE Boot Enviroment using netboot.xyz to be used inside my virtualized enviroment (VMWare Workstation, vsphere, Virtual Box). The PXE Boot works and flatcar is booting but hangs during the boot with the messages in the picture.
![image](https://user-images.githubusercontent.com/4531344/146930386-3dc17933-aef0-4b5c-b1c6-004980fa6047.png)
After the time expires it wil

[2021-12-21 13:48] tormath1 commented on #585
Hi @karthikeyanvenkatraman ,

After quickly checked `aws/amazon-ecs-agent`, it seems the `ecs-agent` relies on [legacy](https://github.com/aws/amazon-ecs-agent/blob/master/agent/go.mod#L10) cgroups:
[code]

Could you open an [issue](https://github.com/aws/amazon-ecs-agent/issues) on the repository to get a confirmation from AWS folks?

Since `cgroups` is defined by init process (systemd), I'm not

[2021-12-21 14:02] karthikeyanvenkatraman commented on #585
We reached out to AWS support on this issue and they had confirmed that ecs-agent dont support cgroups v2 at this time and they have an [open issue](https://github.com/aws/containers-roadmap/issues/1535). We dont have a ETA around this still.

[2021-12-21 14:15] johananl commented on #445
I'm looking into vSphere support.

[2021-12-21 15:57] rck commented on #577
Is there some progress on that? It is pretty obvious that this is a bug, isn't it, do you need further information? It is just not obvious where to fix it, and if you want to fix the "flatcar-linux" part or the "kinvolk" part, that is something the project needs to decide, I can not make that decision and prepare a MR.

If somebody runs into the same issue, a hackish fix for now is:

[code]

[2021-12-21 16:17] krnowak commented on #577
Hi. Thanks for reporting this issue. This looks like a fallout from moving the repos from kinvolk to flatcar-linux org, and it looks to me that redirects that github installs are rather a mixed blessing here.

As a stop-gap measure, could you edit `/etc/portage/repos.conf/coreos.conf` inside the dev-container and replace `kinvolk` with `flatcar-linux` in `sync-uri` keys for both `coreos` and `port

[2021-12-21 16:29] tormath1 commented on #584
Hi @andy-v-h,

Thanks for raising this issue. It seems we are hitting a regression, let's compare two `iproute2` from current (`3033.2.0`) stable and an old stable (`2765.2.6`):

3033.2.0:
[code]
2765.2.6:
[code]

As you pointed, `libelf` linking is missing - it seems to appear in this commit: https://github.com/flatcar-linux/portage-stable/commit/406576c5e554e10950c82fa7f3692d62743958b2:

[code]

[2021-12-21 17:39] pothos commented on #586
Looks like the wrong boot loder or kernel cmdline argments were used, a PXE boot doesn't look for the A/B partition normally, please check that you have both the `initrd=flatcar_production_pxe_image.cpio.gz` kernel argument passed and that your boot loader has `flatcar_production_pxe_image.cpio.gz` as initrd.

A reference for kernel arguments can be found here: https://www.flatcar-linux.org/docs/l

[2021-12-21 17:58] pothos commented on #583
Hi,
good idea.
I agree that the `imports` directive could be a general good point for customization without "forking" the whole config.
We need to do some experiments to know how the import behaves. The filenames could be prefixed with `custom_` or `overwrite_` to know that it's not a file generated by the system.

[2021-12-21 18:27] mleklund commented on #583
I'll attempt to do some independent testing on imports before the holiday, and report my findings back.

[2021-12-22 07:58] rck commented on #577
I'd assume it from what I saw in the code, but also gave it a real test run which results in what I would expect.

[code]

[2021-12-22 08:56] #584 closed, assigned to nobody

[2021-12-22 09:11] tormath1 commented on #584
Hi @andy-v-h,

Thanks again for this bug report. `iproute2` should be now linked against `libelf` in the following set of releases.

[2021-12-22 15:51] mleklund commented on #583
My testing shows the following config works exactly as we would like, when `/etc/containerd/custom_*.toml` files exist and when they do not.

[code]

[2021-12-22 16:35] #577 closed, assigned to nobody

[2021-12-22 17:02] krnowak commented on #577
Thanks for confirming, this should be fixed in next release.

[2021-12-23 08:50] tormath1 commented on #585
@karthikeyanvenkatraman thanks again for your report, two documentations points have been added:
* https://www.flatcar-linux.org/docs/latest/installing/cloud/aws-ec2/#known-issues
* https://www.flatcar-linux.org/docs/latest/container-runtimes/switching-to-unified-cgroups/#known-issues

Let's keep this issue opened has a tracking one for future generations.

[2021-12-31 05:10] ronnessim opened #587 "Syntax for multiple ip addresses on a single network interface does not work"
Copying the example for multiple IP addresses on a single interface, only the first IP is shown in ifconfig -a. Either the documentation is incorrect or the feature does not work as expected.

[2021-12-31 05:53] ronnessim commented on #587
Further information - this refers to this page in the documentation:

https://www.flatcar-linux.org/docs/latest/setup/customization/network-config-with-networkd/

specifically this example doesn't work:

20-multi_ip.network:

[Match]
Name=eth0

[Network]
DNS=8.8.8.8
Address=10.0.0.101/24
Gateway=10.0.0.1
Address=10.0.1.101/24
Gateway=10.0.1.1

The expected result would be to see 2 network interfac

[2021-12-31 09:34] SR-G opened #588 "flatcar-install not working on some distros ?"
## Description

I would like to try flatcar-linux, but i'm unable to have the "flatcar-install" script working. Whatever i do, there are some freezes (or errors) on archlinux.

## Impact

Unable to install ISO of flatcar-linux

## Environment and steps to reproduce

1. **Set-up**: Start from an up-to-date archlinux system, with all prerequesites in place + a USB key plugged as /dev/sdaroot) ""
2.

[2021-12-31 16:18] SR-G commented on #588
For reference - in the end i gave up trying to use this script, and i just extracted what is really needed (which is pretty straightforward but not easy to read in the script)
1. Download the image
2. just issue a regular "dd" command without anything special on the target device
3. In my case, mount the /dev/sda6 partition somewhere (it's a blank partition) and copy there the config.ign file (whi

[2022-01-03 07:25] tormath1 commented on #587
Hi @ronnessim,

Thanks for raising an issue, for the record `ifconfig` is quite deprecated as command to interface with network interfaces. Could you try to check with:
[code]

or

[code]

To assert that your configuration is correctly loaded ? You should see the two IPs in here.

[2022-01-03 10:59] pothos commented on #587
If the above doesn't work you can try the alternative syntax:
[code]

[2022-01-03 11:05] pothos commented on #588
The first command looks good if you ran it as `root`, the second looks strange because you use the ISO image instead of the regular .bin image, I don't expect this to work, especially when trying to embed an Ignition file.

Also note: Previous problems came from the device being in use by LVM or similar. Did you check the `lsblk` output before?
(There is a `-s` flag which finds the smallest free d

[2022-01-03 11:06] pothos commented on #588
Was this the .bin image or the ISO image?

[2022-01-03 12:25] SR-G commented on #588
Additional informations :
- I haven't used the "-s" command line parameter, anyway i just have only one sd* device (desktop with one NVME (/dev/nvme*) for the system and only one USB key under /dev/sda)
- I tried second command as first was not working, maybe my bad for the .iso
- When i issued the "dd" command, it was by doing the exact same things than inside the script : i copy'n'pasted everyth

[2022-01-03 15:36] miao0miao opened #589 "Community Call 2022-01-11"
## TODO list for the meeting
  - [x] 1 week before meeting: Create Agenda PR @miao0miao (https://github.com/flatcar-linux/Flatcar/discussions/594)
  - [x] 1 week before meeting: Tweet "ask for input" @ahrkrak  w/ link to agenda PR (so people can add topcis)
  - [ ] Monday before meeting: Finish and merge Agenda @miao0miao
  - [ ] Monday before meeting: Tweet announcement @ahrkrak
  - [ ] 1h before

[2022-01-04 17:37] ronnessim commented on #587
@tormath1 you were correct - I do see the alternate ip's when using ip -4 addr show dev xxxx. The strange thing is that my container can't bind a service to the secondary IPs. (which was why I assumed it wasn't working) for example:

[code]

Then I took a stock haproxy:latest container off dockerhub, and I see this in the logs:

[code]
But if I do something like:

`ifconfig ens33:0 10.0.1.3/24 `

[2022-01-04 20:24] jdall opened #590 "TPM 2.0 support - when will it happen ?"
TPM 2.0 has been here since 2014 and it's getting harder every day to find hardware that includes TPM 1.2

When will support for TPM 2.0 be included in Flatcar ?

Thanks

[2022-01-04 21:03] tormath1 commented on #587
@ronnessim glad you can see the IPs as expected.

Could you share with us the command used to run the docker container ?

[2022-01-04 22:38] ronnessim commented on #587
@tormath1 I used a compose file with host networking:

[code]
The same setup is what we usually use on other operating systems (e.g. Ubuntu) + docker without any issue, but since we've been migrating to flatcar we noticed that it wasn't working as expected on systems where multiple ingress IPs need to be bound to a single interface. As far as the documentation ticket is concerned, I would recommen

[2022-01-05 08:18] jepio commented on #590
Thanks for opening the issue @jdall. Could you share what part of the TPM support you rely on?

[2022-01-05 09:08] tormath1 commented on #587
@ronnessim Hi, thanks for providing your `docker-compose` file :) However, without `haproxy` configuration, I can't really try to reproduce exactly your issue.

With `nginx` Docker image, It works as expected with two IPs:
[code]

The only difference I spotted between your conf and this one is that `10.0.1.3/24` is defined as `secondary`:
[code]

[2022-01-05 10:11] pothos commented on #590
Systemd has tooling for TPM 2.0 things, but we don't ship any other userspace tooling on the OS (you would need to use a container for that at the moment)

[2022-01-06 08:32] jepio opened #591 "[tracking] cAdvisor issues with cgroup2"
## Description

cAdvisor has issues with cgroup2.

Upstream issues:
- [ ] k8s <1.23 uses cAdvisor <v0.43 https://github.com/kubernetes/kubernetes/issues/106393
- [x] cAdvisor v0.43 has some problems https://github.com/google/cadvisor/issues/3026

## Impact

Missing node metrics.

## Additional information

Please add any information here that does not fit the above format.

[2022-01-06 12:59] ahrkrak opened #592 "[RFE] investigate remote attestation using TPM (consider Keylime)"
## Current situation
Most servers ship with a TPM module that can be leveraged to verify (remotely attest) system integrity. Flatcar doesn't currently do so.

CoreOS used to have a proprietary version of CoreOS Container Linux that did this, but (a) it was never open sourced, and (b) community projects are now available that implement this functionality.

## Impact
Potential attack vectors exist t

[2022-01-06 14:13] ahrkrak opened #593 "[RFE] full-disk encryption leveraging systemd-cryptsetup and TPM"
## Current situation
Flatcar doesn't currently support full-disk encryption AFAIK.

## Impact
1) Without disk encryption Flatcar systems might not pass some security audit / certification requirements.
2) Potential attack vector if someone can get hold of the physical disk inside a Flatcar machine.

## Ideal future situation
Disks are encrypted, leveraging the TPM as a secret store to bind to a sp

[2022-01-06 20:07] jdall commented on #590
@jepio I do not have much knowledge about the nitty gritty details of the TPM 2.0 standard, but I would really like support for  whatever parts are necessary for secureboot and full disk encryption (using LUKS and Clevis)

[2022-01-07 07:46] jepio commented on #590
Thanks for providing the specifics, these are aligned with what we would like to accomplish.

[2022-01-07 08:11] jepio commented on #568
I'll resolve this since it will be a part of the next alpha release.

[2022-01-07 08:11] #568 closed, assigned to nobody

[2022-01-07 14:41] krnowak commented on #568
I'd swear that I added a closing clause to the PR, but apparently I didn't. Thanks for closing it.

[2022-01-11 16:06] t-lo commented on #560
Hello @cpswan,

please pardon the long silence. We have taken a closer look at GCP's ops-agent and would like to share below findings. We'd also like to ask if you could elaborate on the scenario you're using Flatcar in and what benefits ops-agent would bring over other monitoring tools?

We've taken a closer look at https://github.com/GoogleCloudPlatform/ops-agent and its potential relevance for

[2022-01-12 10:39] cpswan commented on #560
Thanks @t-lo

Basic host metrics are what we use the agent for. We have a custom dashboard in GCP Monitoring that shows us:

* CPU load (5m) [MEAN]
* VM Instance - Memory utilization [MEAN]

This first group seems to get its data from the agent, as the Flatcar hosts we have running don't show up.

We also have these on the dashboard, and the Flatcar hosts are already included, as the metrics come

[2022-01-13 11:11] Joseph-Irving commented on #455
We're currently seeing strange behaviour with Cilium on any flatcar version greater than 2905.2.1. Most of the time (but weirdly not always) shortly after cilium starts up on the node all network connectivity is lost, i.e the node cannot communicate at all, no ssh no outbound etc.  Nothing else about our setup changed apart from upgrading our flatcar version.
Are there any obvious suspects to inve

[2022-01-13 12:02] pothos commented on #455
@Joseph-Irving Please try to get some info through the serial console, e.g. `networkctl status` output and `journalctl` output shortly after it happened (best is to use the latest Stable release when reproducing), then open a new issue

[2022-01-13 12:08] christianhuening commented on #455
I think you probably have another problem. I am running 2905.2.6 just fine with cilium. also if your entire node is disconnected that's a different level imho than what cilium would affect.

[2022-01-13 12:13] Joseph-Irving commented on #455
I've tried running our nodes without cilium and it seems to works just fine @christianhuening, it's only when cilium starts up the problems occur. I'm gonna try and get onto the nodes via the ec2 console @pothos to see what I can find, it's currently awkward to debug as I lose network access to the nodes when this happens

[2022-01-13 12:28] schmitch commented on #455
btw. I'm on `stable` thus on `3033.2.0` and it works just fine on k8s cilium and we've run that since way before 2905

[2022-01-13 12:31] martin31821 commented on #455
@Joseph-Irving which cilium version are you running? There used to be a bug with reboots until 1.9.7

xref: https://github.com/cilium/cilium/issues/16279

[2022-01-13 12:38] Joseph-Irving commented on #455
@martin31821 1.9.11, although I've also tried 1.10.6 and the same thing occurred. Also we're not rebooting the nodes to apply the patch, these are fresh new nodes. I've tried stable flatcar versions from 2905.2.1 to the most recent and all exhibited the same behaviour.

[2022-01-13 12:53] martin31821 commented on #455
I'm running 1.9.11 with several different flatcar versions but all newer than 2905.2.1 up to 3033.2.0 and it works fine.

[2022-01-13 13:37] sayanchowdhury opened #595 "Release Flatcar Container Linux Alpha 3115.0.0"
Planned release on January 13th, 2022.

## Release Flatcar Container Linux Alpha 3115.0.0

### Tasks
- [x] Go / No Go tracking folder created, tracking doc added (@sayanchowdhury)
- [x] All planned changes are merged & blocker bugs are fixed (@sayanchowdhury)
- [x] Branch off main (only new major) (@sayanchowdhury)
- [x] Tag build branch (@sayanchowdhury)
- [x] Generate manifest (@sayanchowdhury)

[2022-01-13 14:17] sayanchowdhury commented on #595
- Go/No-Go Document: https://hackmd.io/_bwDRdW7Roa7cc8tuJp7EQ
- Manifest Release Tag: https://github.com/kinvolk/manifest/releases/tag/v3115.0.0
- SDK Release Metadata Update PR:
   * https://github.com/kinvolk/manifest/pull/47
   * https://github.com/flatcar-linux/scripts/pull/216

[2022-01-13 14:49] pothos commented on #595
Founds these unwanted files added to the image content list, need to check if they are really on the image:
[code]

Image size diff is positive, we have a small reduction compared to 3066.0.0.

[2022-01-13 15:01] pothos commented on #595
We can add this in the "Known Issues", also created an issue for it https://github.com/flatcar-linux/Flatcar/issues/596

[2022-01-13 15:04] pothos opened #596 "Leaked selinux policy store files to the image root directory"
## Description

These files/directories got added to the images compared to the 3066 Alpha:

[code]

## Impact

Possibly people are confused/concerned

## Environment and steps to reproduce

[code]

## Expected behavior

These files should not leak to the rootfs

## Additional information

Probably related to the recent selinux policy store fix

[2022-01-13 15:07] pothos commented on #595
Added it to https://hackmd.io/_bwDRdW7Roa7cc8tuJp7EQ?view

[2022-01-13 15:25] tormath1 commented on #596
Issue is fixed in this upstream commit: https://github.com/gentoo/gentoo/commit/54a8322d1885f7f1bfe2718fb731d6e195f86466

[2022-01-14 09:18] #596 closed, assigned to nobody

[2022-01-16 20:17] dee-kryvenko opened #597 "Performance degradation in 3033.2.0?"
## Description

We are upgrading from 2905.2.4 to 3033.2.0 on AWS managed with Kops using the following AMI:

[code]

And we are getting what seems to be a performance hit. We have tightly limited workloads:

[code]

And some of them (specifically - based on Java SpringBoot) just unable to start after the upgrade. They just take ages to init the Java code until the probe backs off and restarts the

[2022-01-17 09:12] jepio commented on #597
The first thing that comes to mind is the switch to cgroupv2 - https://www.flatcar.org/docs/latest/container-runtimes/switching-to-unified-cgroups/. If I were you I would check if switching back allows the workloads to start with the newer Flatcar version.

Are you seeing the pods getting OOM killed? Cgroup2 and legacy cgroups perform memory accounting differently (legacy cgroups didn't account al

[2022-01-17 13:29] dee-kryvenko commented on #597
It is not getting OOM killed - it just veeeery slow to start. Java is known to be slow to start, but my SpringBoot applications producing like two lines of init logs and then there is no activity at all until it gets killed by the probe timeout. Which makes me feel like it is either IO or CPU throttled but I guess it might be due to the lack of memory too.

Is there any human readable explanation

[2022-01-17 14:02] jepio commented on #597
I don't think you'll find a human readable explanation, it's spread out over many blog posts and conference talks.

The best resource is probably this section https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v2.html#memory, and the memory.stat list. The biggest changes to memory controller in cgroup2 would be including kernel memory allocations, TCP socket buffers and block io writeback b

[2022-01-18 09:17] tsde opened #598 "Can't install Kubernetes >=1.22 with RKE due to missing SELinux custom policies"
## Description

Using RKE, installing (or upgrading) Kubernetes >= 1.22 fails with the following error message

[code]
Starting with 1.22, RKE (and RKE2) chose to use custom SE Linux policies for their setup. These can be installed through dedicated RPMs: [rancher-selinux](https://github.com/rancher/rancher-selinux) for RKE and [rke2-selinux](https://github.com/rancher/rke2-selinux) for RKE2 but t

[2022-01-18 09:32] tormath1 commented on #598
Hi @tsde,

Thanks for your report.

SELinux has three modes:
* deactivated (no SELinux at all)
* permissive, SELinux is enabled but does not block commands
* enforced, SELinux is enabled and will block commands

Flatcar should default to `permissive` mode - could you first check that by connecting on one of your node and run a `sudo getenforce` command ?

`rke_container_t` won't be available on th

[2022-01-18 11:01] tsde commented on #598
Hi @tormath1

Thanks for your quick reply and for digging into this

Current mode of SE Linux is indeed set to `permissive`

If I'm not wrong, according to [RKE code](https://github.com/rancher/rke/blob/6efce927fbafb32468ad2dc45acb64511f4a6f31/hosts/hosts.go#L485), SE linux detection is done using the `docker info` API. If `selinux` is listed in the `SecurityOptions`, RKE tries to use its custom S

[2022-01-18 11:08] tormath1 commented on #598
@tsde thanks for your answer.

Then it makes sense, `docker` is started with SELinux security options:
[code]

In that case, you might be interested to use the following `docker.service` systemd [dropin](https://www.flatcar.org/docs/latest/setup/systemd/drop-in-units/) to override SELinux options:
[code]

[2022-01-18 11:21] tsde commented on #598
Thanks for the suggestion, I'll give it a try.
In the long run, I'd like to keep security related features enabled. Switching SE linux to `enforced` mode is something I have in mind in a near future (still have to level up in this area though ;)
So it would be great to have a way to integrate this with a fully SE linux enabled Flatcar system.

[2022-01-18 13:21] tormath1 commented on #598
@tsde last time I checked, [integrating](https://github.com/flatcar-linux/Flatcar/issues/479) `containers` policies was blocked by this issue https://github.com/SELinuxProject/refpolicy/issues/397, I see now an opened PR with recent activities: https://github.com/SELinuxProject/refpolicy/pull/434. We might expected to have this merged upstream soon them.

Let me know if the drop-in solution is eno

[2022-01-18 14:25] tsde commented on #598
@tormath1 Thank you for your concern. Hope it'll move forward smoothly. Integrating these policies would be really nice.

In the meantime, I was able to upgrade Kubernetes to 1.22 following your recommendations. Setting `--selinux-enabled` flag to `false` did the trick.

And thanks for the good work on the Flatcar project

[2022-01-18 15:08] pothos opened #599 "motd: race in reboot coordinator report (probably only with flatcar.autologin)"
## Description

With `flatcar.autologin` it can be that the `/etc/profile.d/flatcar-profile.sh` code checking for `/run/update-engine/coordinator.conf` gets executed before locksmithd created this file

## Impact

The user sees `Update Strategy: No Reboots` which is false. This is only for the first console session, e.g., exiting the console session which directly starts a new session makes the st

[2022-01-19 10:18] alban commented on #499
Runc 1.1.0 is released:

https://github.com/opencontainers/runc/releases/tag/v1.1.0

[2022-01-20 10:42] pothos commented on #559
@tormath1 Or I have another idea: We can ship the image with an empty rootfs by default, the few directories and symlinks we need get created on first boot anyway. This way we can't accidentally introduce a file on rootfs that older machines don't have because both old machines and new ones need to have the file defined through the content of the `/usr` partition (e.g., either a `/usr` path is use

[2022-01-21 10:25] #561 closed, assigned to nobody

[2022-01-21 12:41] sayanchowdhury commented on #595
We had some hiccups with the Azure publishing but that is now resolved. Marking the release as complete.

[2022-01-21 12:41] #595 closed, assigned to nobody

[2022-01-21 13:12] sayanchowdhury opened #600 "Release Team Call 2021-01-25"
## TODO list for the meeting
  - [x] 1 week before meeting: Create Agenda on [Github Discussion](https://github.com/flatcar-linux/Flatcar/discussions/601) board @sayanchowdhury
  - [x] 1 week before meeting: Tweet "Invitation to Release Team Call w/ link to agenda discussion" (so people can add topics)
  - [x] Monday before meeting: Finish and merge Agenda @sayanchowdhury
  - [x] Monday before mee

[2022-01-21 15:24] sayanchowdhury commented on #600
The agenda for the meeting is put up on the Github Discussion https://github.com/flatcar-linux/Flatcar/discussions/601

[2022-01-21 17:32] nshalman commented on #527
Related:
 - https://community.letsencrypt.org/t/production-chain-changes/150739
 - tinkerbell/ipxedust#53
 - ipxe/ipxe#116
 - If you use cert-manager, https://cert-manager.io/docs/configuration/acme/#use-an-alternative-certificate-chain may be of interest.

[2022-01-22 14:27] pothos commented on #527
Ok, the goal would be to get the NGINX servers get accepted by iPXE again and for that it would be a way forward to set this as long as nothing changes on the iPXE side…

[2022-01-24 06:45] xamroc opened #602 "Handling CVE-2022-0185"
Recently this CVE was published: https://sysdig.com/blog/cve-2022-0185-container-escape/

We should be able to mitigate this by setting the following:
`sysctl -w kernel.unprivileged_userns_clone = 0`

However, upon looking into Flatcar's variables, `kernel.unprivileged_userns_clone` is neither set nor defined. I did not find any reference to the docs about this variable. Is it recommended to set t

[2022-01-24 08:55] jepio commented on #602
`kernel.unprivileged_userns_clone` is a downstream Ubuntu/Debian patch, this is not available in Flatcar. The sysctl referenced for RedHat `user.max_user_namespaces = 0`, is present in upstream kernels, you may set that value if you wish.
The bug has been fixed by this commit https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=722d94847de29310e8aa03fcbdb41fc92c521756, whi

[2022-01-24 10:22] pothos commented on #602
While `sudo sysctl user.max_user_namespaces=0` forbids the creation of user namespaces even from the root user (a test is `sudo -u (core|root) unshare -U whoami`) it does not really mitigate the vulnerability for untrusted containers that are running with the root user and the SYS_ADMIN capability (but with that [capability](https://man7.org/linux/man-pages/man7/capabilities.7.html) the container

[2022-01-24 14:39] tormath1 opened #603 "Bug smashing Friday - 2022-01-28"
The goal of this event is to go trough the Flatcar [issues](https://github.com/flatcar-linux/Flatcar/issues) and try to:
* check if they are still relevant
* add steps to reproduce the issue
* add the correct labels
* ask for more information
* ...

<details>
  <summary>Click for Zoom information</summary>

* Link: https://us06web.zoom.us/j/89332204295?pwd=WXBMTndKNjh6SE1GR1Q3dGp2MzdMUT09
* Meetin

[2022-01-24 15:46] t-lo commented on #603
Zoom link: https://us06web.zoom.us/j/89332204295?pwd=WXBMTndKNjh6SE1GR1Q3dGp2MzdMUT09
Meeting ID: 893 3220 4295
Passcode: 99999

[2022-01-25 08:00] TheKangaroo commented on #602
I don't get when this will be released on https://www.flatcar.org/releases/ .
The MRs bump e.g. from kernel 5.10.92 to 5.10.93, but the release page says 3033/3066 uses kernel 5.10.84 at the moment.
Can someone help me with this? Thanks :)

[2022-01-25 08:27] tormath1 commented on #479
`containers` SELinux module has been added to `refpolicy`.

[2022-01-25 08:55] tormath1 commented on #602
Hi @TheKangaroo,

The release page is mentioning 5.10.84 because it was the Kernel version at this time (15th of Dec.). Between the 15th of Dec. and today we got multiple Kernel bumps, for example on version 3066: https://github.com/flatcar-linux/coreos-overlay/commits/flatcar-3066/sys-kernel/coreos-sources: 5.10.84 -> 5.10.87 -> 5.10.89 -> ... -> 5.10.93.

According to the release planning: https

[2022-01-25 09:33] miao0miao commented on #603
should we aim for some specific time for the streaming? (I want to add that info in a tweet)

[2022-01-25 09:36] t-lo commented on #603
The [calendar slot on Friday is from 9am to 6pm CET](https://calendar.google.com/calendar/u/0/embed?src=c_ii991mqrpta9en8o7ofd4v19g4@group.calendar.google.com), happy to adjust if that's not right.

[2022-01-25 09:47] TheKangaroo commented on #602
Ok I see. Thank you for the explanation :)

[2022-01-25 10:15] miao0miao commented on #603
I created a link tree:
https://flow.page/flatcarbugsmashingday

[2022-01-25 10:20] sayanchowdhury opened #604 "Release Flatcar Container Linux Alpha 3127.0.0, Beta 3066.1.1, Stable 3033.2.1, LTS 2605.25.1"
## Release Flatcar Container Linux Alpha 3127.0.0, Beta 3066.1.1, Stable 3033.2.1, LTS 2605.25.1

The release of Flatcar Container Linux Alpha 3127.0.0, Beta 3066.1.1, Stable 3033.2.1, LTS 2605.25.1 is planned for January 25th, 2022

### Tasks for Alpha 3127.0.0
- [x] Go / No Go tracking folder created, tracking doc added (@sayanchowdhury)
- [x] All planned changes are merged & blocker bugs are fi

[2022-01-25 10:37] t-lo commented on #604
SDK container for 3127 is built and currently uploading to ghcr.io.

[2022-01-25 10:48] t-lo commented on #602
Release is tracked here: https://github.com/flatcar-linux/Flatcar/issues/604

[2022-01-25 15:10] dongsupark commented on #602
FYI, Kernel 5.4.173 also has the same backported [fix](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=bd2aed0464ae3d6e83ce064cd91fc1a7fec48826).
- [x] https://github.com/flatcar-linux/coreos-overlay/pull/1584

[2022-01-25 16:54] pothos commented on #596
Also newest Stable and Beta got affected but the fix is merged already and will be part of the following releases

[2022-01-25 17:25] tormath1 commented on #604
Do we need to split the tasklist for each channel ? IMHO it's harder to maintain / follow :) Most of the time, release steps are common between each channel.

[2022-01-25 23:00] Tahvok opened #605 "Slow ssh on gcp with oslogin"
## Description
We're seeing a slow ssh sign in into our instances with Flatcar. In comparison, this issue is not observed with CoreOS (yes, the deprecated one).

## Impact

Slow ssh sign in

## Environment and steps to reproduce

1. Create flatcar instance with oslogin enabled.
2. ssh into the instance,
3. Observe that there is slight delay of about 5 seconds before you are completely in the shell

[2022-01-26 05:28] shosti opened #606 "CVE-2021-4034"
## Description

CVE: https://blog.qualys.com/vulnerabilities-threat-research/2022/01/25/pwnkit-local-privilege-escalation-vulnerability-discovered-in-polkits-pkexec-cve-2021-4034

From some quick investigation it seems like Flatcar 3033.2.0 has `pkexec` and might be vulnerable. I can try to get full reproduction steps if necessary.

## Impact

Potential privilege escalation.

## Additional informa

[2022-01-26 09:05] sayanchowdhury commented on #604
Yes, I will try to find a better way. Sometimes, for a few channels things fail and we would need to track through this but agreed this multiple comment is tedious and not too clear

[2022-01-26 15:14] jepio commented on #581
I believe this was added to iproute in 2018 (https://git.kernel.org/pub/scm/network/iproute2/iproute2.git/commit/ip/ipaddress.c?id=78d04c7b27cf42b77ed239e5ce26f2b7f75ee57b), so there's nothing for us to do.

[2022-01-26 15:40] pothos commented on #581
With these changes being possible in general I think parsing the JSON output `ip -j a` is what we can suggest to avoid breakage. Closing this now.

[2022-01-26 15:40] #581 closed, assigned to nobody

[2022-01-26 16:01] jepio commented on #600
We can close this right?

[2022-01-26 16:01] #600 closed, assigned to nobody

[2022-01-26 16:26] tormath1 commented on #606
Hi @shosti,

Thanks for the heads-up ! The issue is tracked and `polkit` will be upgraded in the next set of releases. Let's keep this opened for visibility :)

[2022-01-26 16:37] pothos commented on #602
Fixed in https://www.flatcar.org/releases/#release-3033.2.1, https://www.flatcar.org/releases/#release-3066.1.1, https://www.flatcar.org/releases/#release-3127.0.0, https://www.flatcar.org/releases/#release-2605.25.1

[2022-01-26 16:37] #602 closed, assigned to nobody

[2022-01-26 18:53] andy-v-h opened #607 "[RFE] support for toolbox without `docker.service` running"
## Current situation

The `toolbox` script is written to rely on `docker.socket` and `docker.service` being up and running. I run a Kubernetes environment with `containerd` as the `cri` directly.

## Impact

In my environment, if enable `docker` to run `toolbox` it creates undesirable network configs for `docker0`, namely the default configuration creates a network in 172.16.0.0/12. This leads to

[2022-01-27 00:27] goochjj commented on #606
In the meantime, you can create /etc/systemd/system/usr-bin-pkexec.mount
[code]

and start/enable it

[2022-01-27 07:44] sayanchowdhury commented on #604
Thank you all for the collaboration on the release. 🌮 🍿

[2022-01-27 07:44] #604 closed, assigned to sayanchowdhury

[2022-01-27 07:57] Winnie81 opened #608 "LSILogicParallel disk is still listed by lsblk after hot adding\removing"
## Description

LSILogicParallel disk is still listed by lsblk after hot adding\removing

## Environment and steps to reproduce
1. Deploy a Flatcar 3033.2.0 or 3033.2.1 vm.
2. Hot add a LsiLogicParallel controller and a disk with this controller.
3. Run command lsblk, it could see sda and sdb disks.
4. Hot remove the LsiLogicParallel disk.
5. Recan all scsi devices:
for i in `find /sys/ -iname res

[2022-01-27 11:37] vpnachev opened #609 "Has the GCP image for 2765.2.6 been deleted or the required permissions changed?"
Today we have noticed that we no longer can create VMs on GCP using the image id `projects/kinvolk-public/global/images/flatcar-stable-2765-2-6` which was working fine till recently, for example on `2022-01-25T16:12:05.288Z` we have successfully create a VM with this image.

Now we are facing this error
[code]

When I try to list the image, I get the same error
[code]

But for reference, I can des

[2022-01-27 12:22] pothos commented on #609
Thanks for the report, indeed the release entries for

- 2905.2.0
- 2765.2.1
- 2765.2.2
- 2765.2.4
- 2765.2.5
- 2765.2.6
- ok, and more…!

got lost, maybe during the website rework.
Didn't look at GCP.

[2022-01-27 14:31] jepio commented on #502
Started this work some time back on branches in scripts https://github.com/flatcar-linux/scripts/commits/jepio/rpi4 and coreos-overlay https://github.com/flatcar-linux/coreos-overlay/commits/jepio/rpi4. If someone wants to pick that up that, they are welcome to. Here are the todos that I can still remember:

* document usage
* figure out what to do about RAM limit (UEFI firmware has a default limi

[2022-01-27 15:30] pothos commented on #609
Added the lost releases back to the website.

[2022-01-28 08:07] t-lo commented on #608
Thank you for reporting, @Winnie81 ! Could you please attach the journal and `dmesg` output? It would help us a lot to understand what's happening.

[2022-01-28 08:17] t-lo commented on #597
Hi @dee-kryvenko , we had other folks reporting Java slowness with old Java versions (in the case of the report I am referring to, Java 8) in combination with cgroups v2. The issues were resolved by
- upgrading the Java runtime to a recent version, or
- running Flatcar in cgroups v1 legacy mode (see https://www.flatcar.org/docs/latest/container-runtimes/switching-to-unified-cgroups/#starting-new-n

[2022-01-28 08:29] t-lo commented on #589
@miao0miao Please review https://github.com/flatcar-linux/Flatcar/pull/610 to get this issue closed.

[2022-01-28 08:40] t-lo commented on #587
@ronnessim wrote:

That's a good point - the [relevant documentation](https://github.com/flatcar-linux/flatcar-docs/blob/main/docs/setup/customization/network-config-with-networkd.md#configure-multiple-ip-addresses) should be updated to call out the limitations with `ifconfig` and cover this case.

Since this is a doc update I'll label this a "good first issue".

Did you have a chance to test the

[2022-01-28 08:44] t-lo commented on #586
@holymoly Did you try [Pothos's suggestion](https://github.com/flatcar-linux/Flatcar/issues/586#issuecomment-998971341)? Did it work?

[2022-01-28 08:46] tormath1 commented on #38
I think the last remaining items is done here: https://www.flatcar.org/docs/latest/installing/bare-metal/installing-to-disk/. @pothos OK to close this issue ?

[2022-01-28 08:50] t-lo commented on #582
I believe it's worth waiting for https://github.com/flatcar-linux/Flatcar/issues/443 (which will get increased attention in this quarter) since it might be simpler to add nerdctl to a sysext instead of adding it to the current torcx docker package.
@pothos @jepio wdyt?

[2022-01-28 08:58] tormath1 commented on #87
@alpana17 do you still facing this issue ? We also have some documentation about NTP here: https://www.flatcar.org/docs/latest/setup/customization/configuring-date-and-timezone/

As mentioned earlier, I think it's more a network configuration issue.

[2022-01-28 09:02] tormath1 commented on #88
Hi @invidian,

Requirements for `flatcar-install` have been documented by a Flatcar's contributor in here: https://github.com/flatcar-linux/flatcar-docs/pull/180: https://www.flatcar.org/docs/latest/installing/bare-metal/installing-to-disk/#required-dependencies

Thanks for opening this :)

[2022-01-28 09:02] #88 closed, assigned to nobody

[2022-01-28 09:08] t-lo commented on #575
* Compression happens in the [upload step of image_to_vm.sh](https://github.com/flatcar-linux/scripts/blob/main/image_to_vm.sh#L132)
* via `upload_image` in [vm_image_util.sh](https://github.com/flatcar-linux/scripts/blob/main/build_library/vm_image_util.sh#L1197)
* which is implemented in [release_util.sh](https://github.com/flatcar-linux/scripts/blob/main/build_library/release_util.sh#L194)
* th

[2022-01-28 09:09] tormath1 commented on #89
Hi @alban,

Some tests have been added and more to come but the initial issue is solved:

We currently have:
[code]

Thanks for submitting the issue :)

[2022-01-28 09:09] #89 closed, assigned to nobody

[2022-01-28 09:24] t-lo commented on #556
It seems to resolve this issue one would need to
- remove the [logrotate package](https://github.com/flatcar-linux/coreos-overlay/tree/main/app-admin/logrotate) from coreos-overlay
- add a systemd service / systemd timer (e.g. to [baselayout](https://github.com/flatcar-linux/coreos-overlay/tree/main/sys-apps/baselayout/)) to periodically truncate `/var/log/btmp` and `/var/log/wtmp`.

Looks like a

[2022-01-28 09:40] tormath1 commented on #97
I think we can close this issue now. ARM64 has landed in stable by the end of 2021 (https://www.flatcar.org/releases/#release-3033.2.0).

Thanks everyone involved in this effort :partying_face:

[2022-01-28 09:40] #97 closed, assigned to wrl, miao0miao

[2022-01-28 09:45] t-lo commented on #506
Should be resolved with the new [containerised SDK](https://www.flatcar.org/docs/latest/reference/developer-guides/sdk-modifying-flatcar/) which does not use `cork` or `repo`.
I did some cursory testing by pasting the UTF8 name provided in the issue report into my local `.git/config` and the container starts as expected.
@akunszt I'll close this issue, please feel free to re-open if you encounter

[2022-01-28 09:45] #506 closed, assigned to nobody

[2022-01-28 09:50] sayanchowdhury commented on #384
PR [#1589](https://github.com/flatcar-linux/coreos-overlay/pull/1589) and [#1587](https://github.com/flatcar-linux/coreos-overlay/pull/1587) also fixes the RAs for the address assignment and they should be available in the next set of releases.

[2022-01-28 10:07] jepio commented on #43
Thanks for the issue - it would be cool but:
- introducing and maintaining a platform is a lot of work
- 32-bit platforms are slowly disappearing
- most ARM systems require custom bootloaders/kernels

We are going to be working on #502, though. So I'm going to have to close this issue.

[2022-01-28 10:07] #43 closed, assigned to nobody

[2022-01-28 10:09] pothos commented on #384
Ok, merged this now and it should work in the next Alpha release

[2022-01-28 10:11] tormath1 commented on #135
I think this issue can be closed, and we now have a mechanism to display Ignition errors during the boot: https://github.com/flatcar-linux/bootengine/pull/28. :)

[2022-01-28 10:11] #135 closed, assigned to nobody

[2022-01-28 10:24] t-lo commented on #480
It appears our todo is to add the [proposed fstrim conf](https://github.com/flatcar-linux/Flatcar/issues/480#issuecomment-956203209) to [util-linux](https://github.com/flatcar-linux/portage-stable/tree/main/sys-apps/util-linux) and [install it in pkg_postinst](https://github.com/flatcar-linux/portage-stable/blob/main/sys-apps/util-linux/util-linux-2.37.2-r1.ebuild#L327), overwriting the default sh

[2022-01-28 10:29] pothos commented on #38
The item I wanted to address is now done with
https://www.flatcar.org/docs/latest/installing/customizing-the-image/customize-the-image/
(this wasn't about building from source but customizing a release image).

The follow up about using it with flatcar-install is a minor issue and it's half documented as @tormath1 showed.
Yes, ok to close.

[2022-01-28 10:29] #38 closed, assigned to nobody

[2022-01-28 10:34] tormath1 commented on #133
Tried to reproduce the issue with Flatcar-alpha-3127.0.0:

[code]

Then:

[code]

Finally:
[code]

The instructions work as expected, closing the issue. :)

[2022-01-28 10:34] #133 closed, assigned to nobody

[2022-01-28 10:41] pothos commented on #116
We have a Terraform setup here: https://github.com/flatcar-linux/flatcar-terraform/tree/main/eks
but no section in the docs.

[2022-01-28 10:50] pothos commented on #95
I think we are good for now and will close this:

- For change log generation we have `show-changes` in https://github.com/flatcar-linux/flatcar-build-scripts (used for the release note draft) that uses the info of the coreos-overlay/portage-stable/scripts release note entries the PR template mandates
- The list of CVEs that impact a build is not generated (work ongoing in this area) but one can c

[2022-01-28 10:50] #95 closed, assigned to nobody

[2022-01-28 10:52] pothos commented on #236
The problem of left-over keys seems to be linked to terminating the kola process before it can delete the key, and the solution is to add key removal to the ore packet gc command (see GC in platform/api/packet/api.go) which we run as periodic garbage collection job that also deletes left-over instances: https://github.com/flatcar-linux/mantle/blob/1a9b367bb7cd3db7e703cc2634ce13a062d2120c/platform/

[2022-01-28 10:54] pothos commented on #65
With systemd 249 on Stable one can use a sysext image that makes the hook available under `/usr`.

[2022-01-28 10:58] pothos commented on #63
Offline updates are available with the new `flatcar-update` tool.

While we have docs for customizing the release images:
https://www.flatcar.org/docs/latest/installing/customizing-the-image/customize-the-image/
we don't have a section there yet for the Live CD customization to embed the to-be-installed-image and the Ignition config to do so on the Live CD's OEM partition.

[2022-01-28 11:02] pothos commented on #56
Ok, so this is a docs issue and we should add this information to https://www.flatcar.org/docs/latest/installing/vms/vagrant/

[2022-01-28 11:05] pothos commented on #55
In the example I posted I used a different notation, please try to follow (e.g., besides separate sections I also used `/0` as suffix in the destination): https://github.com/flatcar-linux/Flatcar/issues/55#issuecomment-727736449

[2022-01-28 11:06] pothos commented on #51
Similar task as https://github.com/flatcar-linux/Flatcar/issues/63

[2022-01-28 11:40] jepio commented on #37
Maybe DO fixed something on their backend, or our hosting has changed the duration of the transfer relative to the decompression - but I can't reproduce this today. I tried with the latest images (3033.2.1) and with (2345.3.0), in various regions (sfo3/fra1) and have had only success. I'm using the `doctl` utility.

I'm adding a PR to docs (https://github.com/flatcar-linux/flatcar-docs/pull/204) t

[2022-01-28 11:40] #37 closed, assigned to nobody

[2022-01-28 11:43] dongsupark commented on #291
Now that repo was updated to 2.8 in all channels, we can revert the workaround in mantle.
Will soon create a PR.

[2022-01-28 11:45] jepio commented on #132
We have sha512, sha1 and md5 available. Did you ever manage to move off SHA256? I want to say this issue can be closed.

[2022-01-28 11:56] dongsupark commented on #291
PR https://github.com/flatcar-linux/mantle/pull/283

[2022-01-28 11:58] #270 closed, assigned to nobody

[2022-01-28 12:01] jepio commented on #243
Indeed, its avaialable in upstream ignition v3 and @tormath1 has been working on getting this merged, so I would close this issue and track in https://github.com/flatcar-linux/Flatcar/issues/387 instead.

[2022-01-28 12:03] pothos commented on #158
Since using virtualbox it could be related to using the right image for vagrant so that Ignition works? https://github.com/flatcar-linux/Flatcar/issues/56

[2022-01-28 12:07] pothos commented on #166
Closing as we don't have a failure report here. In general we can extend the number of instance types we run our release tests on. We did this for Equinix Metal by running a simple test on all recent instance types, could do so for AWS and other clouds, too.
Edit: Here is the open issue for that: https://github.com/flatcar-linux/Flatcar/issues/553

[2022-01-28 12:07] #166 closed, assigned to nobody

[2022-01-28 12:10] jepio commented on #187
@carpenike This may have been a firmware issue - UEFI boot is supported on all platforms. What doesn't work is secure boot, unless you enroll our special keys in your firmware but there no guides to do so. We'll track secure boot here: #501. Closing, please reopen if needed.

[2022-01-28 12:10] #187 closed, assigned to nobody

[2022-01-28 12:10] pothos commented on #178
I've reworked the docs in this regard. In the near future we will also have fleetlock support which offers new ways like having a public service that we host and allows clients to do reboot coordination using a secret group name.

[2022-01-28 12:10] #178 closed, assigned to nobody

[2022-01-28 12:13] jepio commented on #220
@tormath1 could we add a test for IMDSv1/IMDSv2 in kola while we're still missing support for this? This would be covered by migrating to ignition v3 (#387), and there is an interim PR here https://github.com/flatcar-linux/ignition/pull/32.

[2022-01-28 12:15] dongsupark commented on #212
Can confirm that the failure happens on AWS ARM. (tested several months ago)
Removed the label `channel/alpha`, as all channels from Stable to Alpha now support ARM.

[2022-01-28 12:18] pothos commented on #203
Action to be done here: We are still using `Type=simple` and should migrate to `Type=notify` in https://github.com/flatcar-linux/coreos-overlay/blob/main/app-emulation/containerd/files/containerd.service#L6

[2022-01-28 12:31] jepio commented on #597
There are cases were old java runtimes don't know how to parse cgroup2 data and don't configure heap size and thread-pool sizes optimally considering cgroup limits. That could be it, and the only solution would be - update java runtime or switch to cgroupv1 like @t-lo mentioned.

[2022-01-28 12:38] #589 closed, assigned to nobody

[2022-01-28 12:56] pothos commented on #204
Thanks for the update, closing it then

[2022-01-28 12:56] #204 closed, assigned to nobody

[2022-01-28 12:58] jepio commented on #586
I'll report it upstream.

[2022-01-28 12:59] pothos commented on #198
We got bashrc aliases now for some bcc tools (using Docker)

[2022-01-28 12:59] #198 closed, assigned to nobody

[2022-01-28 13:03] jepio commented on #564
This will be possible when we upgrade to ignition v3.
#387

[2022-01-28 13:03] #564 closed, assigned to nobody

[2022-01-28 13:03] pothos commented on #207
To repeat the part that was not done yet: possible enable `rngd.service` by default (if we assume it has a different backing than the ones in `/sys/class/misc/hw_random/rng_current`)

Adding havegd as new package can be discussed but I would not do it unless really needed

[2022-01-28 13:08] pothos commented on #268
There won't be a manifest anymore with the SDK container, we can close this now already

[2022-01-28 13:08] #268 closed, assigned to nobody

[2022-01-28 13:11] pothos commented on #218
With a drop-in unit file (using prefix matching) one can lower the log level, example here for Docker: https://github.com/docker/for-linux/issues/679#issuecomment-1004955357

Closing it now (Edit: Also, we have systemd 249 which should have the log rate limit)

[2022-01-28 13:11] #218 closed, assigned to nobody

[2022-01-28 13:13] #538 closed, assigned to nobody

[2022-01-28 13:17] jepio commented on #521
To be added here as a subpage here: https://www.flatcar.org/docs/latest/setup/releases/update-strategies/. We can describe how to add conditions which will affect whether the update is considered successful.

[2022-01-28 13:22] jepio commented on #500
Solved via https://github.com/flatcar-linux/scripts/pull/217. I'll close this as it trickles into stable channels.

[2022-01-28 13:22] #500 closed, assigned to nobody

[2022-01-28 13:25] #243 closed, assigned to nobody

[2022-01-28 13:37] pothos commented on #538
We have docs for how to update in case of SSL errors:
https://www.flatcar.org/docs/latest/migrating-from-coreos/update-from-container-linux/#the-migration-script

[2022-01-28 13:37] #259 closed, assigned to nobody

[2022-01-28 13:50] tormath1 commented on #209
Hi @invidian,

So `favicon.ico` stills return a 404 but there is an icon now:
![tmp AC9JJLrezW](https://user-images.githubusercontent.com/28657343/151558032-2d86b7be-a78c-4d59-be24-e0aba3bc0a67.png)

Let's close this one then, thanks !

[2022-01-28 13:50] #209 closed, assigned to nobody

[2022-01-28 13:55] invidian commented on #209
Cool, thanks!

[2022-01-28 13:57] jepio commented on #422
Fixed via: https://github.com/flatcar-linux/coreos-overlay/pull/1138.

[2022-01-28 13:58] #422 closed, assigned to nobody

[2022-01-28 14:02] jepio commented on #477
@Keithsc you need to configure networking through systemd network units. This would involve preparing an ignition file and passing it to `flatcar-install -i ignition.json`. Kai has linked examples, and there are more in our documentation. Closing.

[2022-01-28 14:02] #477 closed, assigned to nobody

[2022-01-28 14:05] jepio commented on #462
The workaround has been provided; this could be revisited after the ignition v3 upgrade, which potentially solves it.

[2022-01-28 14:09] jepio commented on #456
The root cause was a locked account causing all of our AMI to be marked private. The account was locked based on an automated system, with no clear correlation to any action our side. That's all we know. We'll be closing this issue.

[2022-01-28 14:09] #456 closed, assigned to nobody

[2022-01-28 14:16] jepio commented on #453
Both the `locksmith:` and `update:` sections in the yaml render into the `/etc/flatcar/update.conf` file. These missing fields would belong in the `update:` section. This is easy to do: just extend the struct here https://github.com/flatcar-linux/container-linux-config-transpiler/blob/flatcar-master/config/types/update.go#L36-L37, and the code here https://github.com/flatcar-linux/container-linux-

[2022-01-28 14:27] jepio commented on #440
For the most part done, we'll create smaller follow-up issues when we tackle the remaining items.

[2022-01-28 14:27] #440 closed, assigned to t-lo, pothos

[2022-01-28 14:27] jepio commented on #441
For the most part done, we'll create smaller follow-up issues when we tackle the remaining items.

[2022-01-28 14:28] #441 closed, assigned to t-lo

[2022-01-28 14:29] jepio commented on #257
We don't publish images to GovCloud, if anyone wants them they'll need to upload them themselves.

[2022-01-28 14:29] #257 closed, assigned to nobody

[2022-01-28 14:35] jepio commented on #428
Problematic with stage1/stage2 bootstrap. If stage1 uses old ebuilds, then its built with old profile, and stage2 switches profile (fail); if stage1 uses new ebuilds it fails because old seed.

Also requires updating a bunch of docs that reference /usr/lib64 paths that might not be correct after profile update (/usr/lib/systemd as an example).

[2022-01-28 14:40] pothos commented on #453
Merging these sections with any manually defined `/etc/(coreos|flatcar)/update.conf` content would be great to prevent settings getting lost.

[2022-01-28 14:42] neilmayhew commented on #133
The problem was in the [Adding swap with a Container Linux Config](https://www.flatcar.org/docs/latest/setup/storage/adding-swap/#adding-swap-with-a-container-linux-config) section of the documentation. I found that I needed to make the following changes to my ignition `config.yml` to get it to work:

[code]

[2022-01-28 14:49] jepio commented on #413
Hi, is this still happening with a recent release?

[2022-01-28 14:54] jepio commented on #398
Manual labor required here: https://github.com/flatcar-linux/container-linux-config-transpiler/blob/flatcar-master/config/types/etcd.go.

[2022-01-28 14:59] jepio commented on #397
This is related to this: https://github.com/flatcar-linux/Flatcar/issues/384 and so will be fixed at the same time. Fixed in the next alpha release (after 3128.0.0). Please re-open if this isn't the case.

[2022-01-28 14:59] #397 closed, assigned to nobody

[2022-01-28 14:59] pothos commented on #413
I suggest modifying `oem-cloudinit.service` from `ExecStart=/usr/bin/coreos-cloudinit` to `ExecStart=/usr/bin/strace -f /usr/bin/coreos-cloudinit` and share the unit log.
I still think there is some logical bug around
https://github.com/flatcar-linux/coreos-cloudinit/blob/cfcc44197d11f44441e5aa2c9db34bcd0bf16015/system/update.go#L58
but if coreos-cloudinit is not writing the file we can search els

[2022-01-28 15:07] jepio commented on #396
@pothos suggests extending https://github.com/flatcar-linux/init/blob/flatcar-master/systemd/system-generators/flatcar-autologin-generator to react to a flag file (`flatcar-no-autologin`) or (re)parsing grub.cfg so that this can be influenced via ignition and applied at instance creation.

[2022-01-28 15:10] jepio commented on #394
This shipped in stable 3033.2.0 (https://www.flatcar.org/releases/#release-3033.2.0), please try that version.

[2022-01-28 15:10] #394 closed, assigned to nobody

[2022-01-28 15:13] dongsupark commented on #291
PR https://github.com/flatcar-linux/mantle/pull/283 was merged, everything is done.

[2022-01-28 15:13] #291 closed, assigned to dongsupark

[2022-01-28 15:14] pothos commented on #285
Here a workaround to use systemd-resolved from any container (that takes `/etc/resolv.conf` without checking if it's a symlink to the stub) through a hack (systemd does not directly allow using the "external" IP address in the resolve.conf instead of 127.0.0.53):

`/etc/systemd/network/10-resolve.netdev`:
[code]

`/etc/systemd/network/10-resolve.network` (assuming you don't use the 192.0.2.254/32

[2022-01-28 15:23] jepio commented on #379
The partition table gets touched during an update, to adjust the gpt partition priorities. This should be an atomic operation at the sector level (either old or new partition table present). A reboot also sync the disks, so nothing should be lost.

This is intersting. How is your update_engine configured? Normally locksmith waits 5 minutes after an update before it triggers a reboot. Do you trigge

[2022-01-28 15:25] pothos commented on #374
Hm, sorry for not keeping track of this. We still have it enabled in our `nsswitch.conf`. Before continuing, does the issue still exist with systemd 249 (currently in Stable)?

[2022-01-28 15:30] jepio commented on #378
Is this still occurring with the most recent releases? Could you also test alpha which has kernel 5.15, which might not trigger this any longer.

[2022-01-28 15:30] pothos commented on #328
Upstream merged the change to support the newer format, I think we can close this as there is nothing to be done anymore (assuming that an upstream release comes with it goes out).

[2022-01-28 15:30] #328 closed, assigned to nobody

[2022-01-28 15:32] pothos commented on #340
Closing but feel free to ask follow up questions

[2022-01-28 15:32] #340 closed, assigned to nobody

[2022-01-28 15:35] seh commented on #378
We've seen it most recently two weeks ago with kernel version 5.10.84, which we received by way of an upgrade when rebooting one of our machines that started life with Flatcar version 2705.1.2.

It may be another couple of weeks before I can offer any testing outcome. What changed recently that you think may alleviate this problem?

[2022-01-28 15:36] jepio commented on #368
Could you check if any of the block schedulers affect the disk latency for you? `/sys/block/sda/queue/scheduler`. The default may have changed.

[2022-01-28 15:42] tormath1 commented on #365
On recent Alpha:
[code]

Amazon Root CAs are presents. :)

[2022-01-28 15:42] jepio commented on #365
We ship the Mozilla NSS store, and started regularly updating since October 2021. The Amazon certs are included now.

[2022-01-28 15:42] #365 closed, assigned to nobody

[2022-01-28 15:43] pothos commented on #430
Thanks for reporting, I guess it's worth forwarding this to upstream QEMU

[2022-01-28 15:51] jepio commented on #334
Sounds like a good idea. You would need to implement a new config drive backend (https://github.com/flatcar-linux/coreos-cloudinit/blob/cfcc44197d11f44441e5aa2c9db34bcd0bf16015/datasource/configdrive/configdrive.go) for coreos-cloudinit.

[2022-01-28 15:52] jepio commented on #331
These options are present in current stable flatcar images.

[2022-01-28 15:52] #331 closed, assigned to nobody

[2022-01-28 15:56] pothos commented on #296
It's a FAT filesystem and won't store permissions, or?

[2022-01-28 15:58] jepio commented on #296
`/boot` is a FAT filesystem, it doesn't support permissions. It has to be FAT because that's the EFI boot partition. So we can't fix this.

[2022-01-28 20:29] zzvara opened #611 "After successful upgrade to 3033.2.0 the second reboot goes back to 2905.2.2"
## Description

[code]

Then after reboot, a proper version is provided:

[code]

However, calling `sudo reboot` immediately after, goes back to:

[code]

## Environment and steps to reproduce

I'm not sure how to reproduce this, since this is a node that was upgraded from CoreOS to Flatcar. Please advise on how to debug and collect more information on what is going wrong.

[2022-01-28 21:23] jepio commented on #611
Looks like you disabled update-engine.service, update-engine is responsible for marking an update as successful. It normally does this 1 minute after the update, but it needs to run for this to happen.

See a discussion of this here https://www.flatcar.org/docs/latest/setup/releases/update-strategies/#disable-automatic-updates. Can you confirm that this is what's happening here?

[2022-01-28 21:41] zzvara commented on #611
@jepio yes, that was the problem! I updated the restarted again with `update-engine` enabled and it did not revert to the previous version. Thank you!

[2022-01-28 21:41] #611 closed, assigned to nobody

[2022-01-29 08:55] Winnie81 commented on #608
Hi, journal and dmesg are [attached
[journal.zip](https://github.com/flatcar-linux/Flatcar/files/7963330/journal.zip)
[dmesg.txt](https://github.com/flatcar-linux/Flatcar/files/7963331/dmesg.txt)
.

[2022-01-29 18:54] samm-git commented on #374
yes, no progress with upstream

[2022-01-29 22:44] dee-kryvenko commented on #597
Hmmm thank you @t-lo and @jepio - I think all applications we experienced issues with were java, but I am pretty sure some of them were running Amazon Corretto 11. We have rolled back to the older flatcar for the time being, but for the next upgrade attempt this is definitely something we'll look at.

[2022-01-31 07:56] jepio commented on #296
Reopening: we should mount with the `umask=0077` option. The unit is here: https://github.com/flatcar-linux/init/blob/flatcar-master/systemd/system/boot.mount.

[2022-01-31 08:31] tormath1 commented on #603
We closed around 39 issues (40 with this one) and updated more than 55. Thanks everyone !

[2022-01-31 08:31] #603 closed, assigned to nobody

[2022-01-31 09:04] tormath1 commented on #133
@neilmayhew thanks for your feedback.

I gave a try with the Container Linux Config that you linked, and it worked without any error on Alpha-3127.0.0, might be related to systemd upgrade:
[code]

[2022-01-31 09:54] jepio commented on #378
Nothing @seh, I wast just hoping it might have resolved itself.

Would you be able to capture the full splat on the serial console, including the stacktrace?

[2022-01-31 10:21] miao0miao opened #613 "Community Call 2022-02-08"
## TODO list for the meeting
  - [x] 1 week before meeting: Create Agenda PR @miao0miao (https://github.com/flatcar-linux/Flatcar/discussions/612)
  - [x] 1 week before meeting: Tweet "ask for input" @miao0miao  w/ link to agenda PR (so people can add topcis)
  - [x] Monday before meeting: Finish and merge Agenda @miao0miao
  - [x] Monday before meeting: Tweet announcement @ahrkrak
  - [x] 1h befo

[2022-01-31 14:13] seh commented on #378
Next time I see it, I will grab all I can from _journalctl_. Is there another source you’re recommending that I collect as well?

[2022-01-31 14:36] pothos commented on #378
In case your system has a pstore backend, you may find dmesg traces in `/var/lib/systemd/pstore/` on the next boot. The files get moved there for persistent storage instead of staying in `/sys/fs/pstore`. I'll update the docs (Edit: done here https://github.com/flatcar-linux/flatcar-docs/pull/206).

[2022-01-31 14:42] seh commented on #378
Note that I mentioned in my initial description that our _pstore_ directory winds up empty after these reboots, perhaps for lack of hardware support.

[2022-01-31 14:47] pothos commented on #378
Maybe, but it could be that `systemd-pstore.service` ran and moved them to `/var/lib/systemd/pstore`, that's what I wanted to hint on.
Edit: check whether you have pstore support by looking if `/sys/module/pstore/parameters/backend` contains something else than `(null)`

[2022-01-31 16:01] t-lo commented on #597
Thanks for getting back to us @dee-kryvenko .

To ensure your issue is actually caused by cgroups v2, it would also be very helpful if you could run 3033.2.0 in cgroups v1 mode (see https://www.flatcar.org/docs/latest/container-runtimes/switching-to-unified-cgroups/#starting-new-nodes-with-legacy-cgroups) and validate if you're still hitting performance issues.

On a more general note the maintain

[2022-01-31 16:02] t-lo commented on #608
Thank you for providing the logs Winnie, this is very helpful.

[2022-01-31 19:01] ahrkrak opened #614 "Improve text on Packer"
In a call with Adobe folks (@mtougeron and @sfotony) it was noted that the docs text[1] on use of Packer was quite scary, so they haven't used it yet (but want to). Given we do create packer images for Cluster API, we should find some way to phrase this that is clearer that this is a valid way to deploy Flatcar, but with some caveats that users should understand.
[1] https://www.flatcar.org/docs/l

[2022-02-01 19:31] ericgraf commented on #445
@t-lo If possible we would like to have support for GCP and OpenStack added to the supported provider list.

[2022-02-02 12:32] holymoly commented on #586
I was not able to change the setup with the error to run it correctly. It was based on a notboot.xyz enviroment on my ubiquity edge router. I decided to switch to the netboot.xyz docker image to provide everything that is needed for booting. It can be found here https://hub.docker.com/r/linuxserver/netbootxyz
After setting this up everything worked perfectly. So the fault was surly on my side but

[2022-02-02 12:35] pothos commented on #586
There was a recent change in netboot.xyz to use some initrd magic argument instead of the cpio.gz which Flatcar expects. Maybe the Docker image you used successfully was on an older version that didn't have the broken change?

[2022-02-02 13:21] jepio commented on #586
Reported here https://github.com/netbootxyz/netboot.xyz/issues/1070

[2022-02-03 11:58] jepio commented on #56
Recent vagrant supports experimental cloud-init with the cidata disk, so it might make sense to implement compatibility for that. Also deals with the Rancher support.

[2022-02-03 13:25] pothos commented on #133
I think it makes sense to add `DefaultDependencies=no` to `create-swapfile.service` instead of the `.swap` unit.

[2022-02-03 14:44] mrdima commented on #379
For me I think I found the culprit. We have an ignition with in it a part which formats the 2nd disk, which we eventually mount on /var/lib/docker
    "filesystems": [
      {
        "mount": {
          "device": "/dev/sdb",
          "format": "xfs",
          "label": "EPHEMERAL",
          "wipeFilesystem": true
        },
        "name": "ephemeral"
      }

The problem is that there is no g

[2022-02-03 14:46] pothos commented on #133
Docs are updated now: https://github.com/flatcar-linux/flatcar-docs/pull/208

[2022-02-03 14:47] t-lo commented on #445
@ericgraf Ignition support was added in the v1.1 CAPI release yesterday, making it significantly easier to add support for more providers. While we currently don't have plans to work on GCP or OpenStack please feel free to pick this up, I'll happily update the tracking issue to reflect the work.
Please do not hesitate to reach out to us for pointers and for help - the maintainers are available all

[2022-02-03 14:49] pothos commented on #379
The trick is to use `/dev/sdb` or similar only for the initial partitioning step and from there on you use stable reference, e.g., the partition label as reference for filesystem formatting, and the filesystem label for mounting.

[2022-02-03 14:55] pothos commented on #455
@Joseph-Irving Would be nice to have a new issue for your problem, comments here somehow go under the radar, sorry

[2022-02-03 15:28] rata commented on #499
I guess what is missing here to use with containerd is libseccomp 2.5.2?

[2022-02-03 16:17] jepio commented on #499
Is the strictly necessary? The linked libseccomp commit says

We have both kernel and kernel-headers built from sources after this commit, so this does not apply.

[2022-02-03 16:56] pothos opened #617 "[RFE] bpftool on Flatcar"
## Current situation

While for debugging a node with, e.g., broken network, there is tcpdump already but nowadays there can be bpf programs loaded, too, that interact with the network system yet Flatcar has no way to easily see this layer. The normal tool for interaction with bpf is bpftool, which allows to list the loaded programs or the bpf features of the kernel.

## Impact

Bpf is effectively

[2022-02-03 17:03] dongsupark commented on #549
PRs:
* https://github.com/flatcar-linux/portage-stable/pull/282
* https://github.com/flatcar-linux/coreos-overlay/pull/1611

[2022-02-03 17:49] rata commented on #499
Oh, didn't know that. I guess not, then. Thanks!

[2022-02-03 17:52] rata commented on #499
@jepio one more question, runc 1.1 is included in https://www.flatcar.org/releases/#release-3033.2.1 ? Or is it included in any flatcar release? I'm asking as I want to mention it in a blog post :)

[2022-02-03 18:10] jepio commented on #499
It's included in alpha 3127 https://www.flatcar.org/releases/#alpha-release.

[2022-02-03 18:11] rata commented on #499
Thanks!

[2022-02-04 07:05] mrdima commented on #379
Yes, we use labels for mount reference but that doesn't help fix this issue. It can happen that on first boot, the /dev/sdb is already swapped to /dev/sda, (and so /dev/sdb is the boot disk with all flatcar partitions) then what?

[2022-02-04 07:55] pothos commented on #379
Right, in that case Ignition has no good mechanisms to express this and you would need to retry the provisioning step… Would be nice to have a better matching logic in `storage: disks: device:`, e.g., here the expression could be `/dev/sd*` if `/dev/disk/by-label/EFI-SYSTEM` does not point to it. For now you would need to shift this logic into a separate systemd service.

[2022-02-04 08:22] sayanchowdhury opened #618 "Release Flatcar Container Linux Alpha 3139.0.0, Beta 3066.1.2, Stable 3033.2.2"
## Release Flatcar Container Linux Alpha 3139.0.0, Beta 3066.1.2, Stable 3033.2.2

The release of Flatcar Container Linux Alpha 3139.0.0, Beta 3066.1.2, Stable 3033.2.2 is planned for February 7th, 2022

### Tasks
- [x] Go / No Go tracking folder created, tracking doc added (@sayanchowdhury
- [x] All planned changes are merged & blocker bugs are fixed (@sayanchowdhury)
- [x] Branch off main (only

[2022-02-07 09:02] #384 closed, assigned to nobody

[2022-02-07 09:06] sayanchowdhury opened #619 "alpha:3139.0.0"

[2022-02-07 09:07] #619 closed, assigned to nobody

[2022-02-07 09:08] Tahvok commented on #591
I'm not sure if it's related to cgroups v2, I just couldn't verify if it is. But I don't see any container percpu metrics as well. I see only the total. So can you add this please to this issue, or should I open another one?

[2022-02-07 10:14] jepio commented on #591
Check if there's an open issue with cadvisor. If there isn't one, then please open one directly upstream. Then we can link it from here for tracking purposes.

[2022-02-07 16:13] pothos opened #620 "Cilium routing policy rules can get lost"
## Description

As documented in https://github.com/cilium/cilium/issues/18706 there are two problems that lead to Cilium's routing policy rules getting lost. One is that the networkd default `ManageForeignRoutingPolicyRules=yes` discards Cilium's changes and there is no easy way for Cilium to annotate them (e.q., requires a dummy network interface), and the second is that the systemd 249 version

[2022-02-08 12:29] sayanchowdhury opened #621 "[Flaky Test] os/kola/aws, arm: cl.ignition.{v2,v1}.btrfsroot"
## Which tests are flaking?

- cl.ignition.v1.btrfsroot
- cl.ignition.v2.btrfsroot

## Description

The test flakes on AWS-ARM and passes on subsequent runs. In the #618 release, the test has not passed even after a couple of runs in Beta but passed on Stable. On Alpha, `cl.ignition.v2.btrfsroot` on the second run, but the other test kept failing.

## Log from the tests (if any)

The instance free

[2022-02-08 14:27] dongsupark commented on #617
Right, we should have bpftool.
In the past we had that only in [edge](https://github.com/flatcar-linux/coreos-overlay/pull/402), but never in other channels.
Meanwhile Gentoo started to natively provide [dev-util/bpftool](https://gitweb.gentoo.org/repo/gentoo.git/tree/dev-util/bpftool), so it should be even easier.

[2022-02-08 15:42] sayanchowdhury commented on #606
The PR has been merged and will be shipped in the next set of releases across all the affected channels

[2022-02-08 15:42] #606 closed, assigned to nobody

[2022-02-09 07:16] jepio commented on #527
We switched to ISRG Root X1 preferred chain, the handshake data is now short enough that iPXE can digest it. I have validated that this works on several Equinix instances sizes and all is good.

Follow up: use https for PXE boot in mantle again.

[2022-02-09 07:16] #527 closed, assigned to nobody

[2022-02-09 09:17] jepio commented on #621
This issue is related: https://github.com/coreos/fedora-coreos-tracker/issues/920.
The first thing wrong with the test is that we don't actually gather console output because we have the parameter set to `console=ttyAMA0`, while journal.txt of booting instances mentions that the console is `ttyS0`.

[2022-02-09 10:24] #613 closed, assigned to nobody

[2022-02-09 17:06] jepio commented on #621
This test also fails on equinix metal analysis shows the following:
* first boot fails at ignition phase with:
[code]
 this blocks the boot, waiting at emergency shell phase for 5 minutes.

* after restart, ignition still needs to run but fails with:
[code]

Ignition has this nice comment right before udev settle that nicely explains that this kind of thing is unlikely but can happen: https://gith

[2022-02-09 17:53] pothos commented on #621
Yeah, these kind of races are common when modifying block devices. A udev settle means really nothing and only a proper waiter can tell whether the condition we wait for is reached or not.

[2022-02-09 17:59] pothos commented on #621
One way out here would be a waiter directly after the mkfs call which checks that the new filesystem is up under /dev/disk/by-uuid/VALUE based on the expected new UUID. Another solution is to issue a tagged udev event when all mkfs actions are done and wait for it to be reported back, meaning the event queue got completely processed up to this point.

[2022-02-10 15:50] dongsupark opened #622 "[Tracking] incompatibilities between Nebraska 2.6 and Flatcar release process"
During the Flatcar releases in this week, a number of incompatibility issues were found between Nebraska [2.6.0](https://github.com/kinvolk/nebraska/releases/tag/2.6.0) and the Flatcar release process, especially when uploading [update payloads](https://github.com/flatcar-linux/flatcar-build-scripts/blob/master/upload_package). For now Nebraska has been reverted to 2.5.1 in the production servers

[2022-02-10 16:10] jepio commented on #212
We are using a really old version of rng-tools, I'm updating it to a newer version which handles missing hwrng better.

[2022-02-10 16:18] alban commented on #324
I had this issue when deploying [Inspektor Gadget](https://github.com/kinvolk/inspektor-gadget/) on Flatcar alpha 3127.0.0 with Typhoon. Symptoms:
[code]

On the host:
[code]
Given the date, I suspect it is not part of the Flatcar image, but was created automatically as a directory by docker (or another container runtime): docker automatically creates a directory on the host when it does not exist

[2022-02-10 16:37] pothos commented on #620
The future Stable/Beta/Alpha releases will have `ManageForeignRoutes=no` and `ManageForeignRoutingPolicyRules=no` by default. The releases from Feb 9 2022 don't have this and require the user to set this explicitly in `/etc/systemd/networkd.conf` under `[Network]`.

[2022-02-10 16:37] #620 closed, assigned to nobody

[2022-02-11 10:35] pothos opened #623 "[RFE] ci: Migrate emerge-gitclone to use scripts repo tags and submodule refs"
## Current situation

emerge-gitclone used in the dev container relies on the manifest to check out the right scripts/coreos-overlay/scripts/portage-stable references: https://github.com/flatcar-linux/flatcar-dev-util/blob/flatcar-master/emerge-gitclone#L22
In the future we want to retire the manifest as we now have tags on the "scripts" repo for each build and two submodules for coreos-overlay an

[2022-02-11 10:57] pothos opened #624 "[RFE] Reduce usage of kernel parameters"
## Current situation

The kernel parameters are set up by GRUB and used to initiate the first boot logic and setup dm-verity with the right partition and hash.
In the past GRUB also passed a parameter to initiate the GPT disk ID randomization but we moved that step to the initramfs because the implementation in GRUB caused some hardware to hang.

## Impact

The kernel parameters vary on each updat

[2022-02-11 13:00] dongsupark commented on #549
Not complete yet, as we also need to merge the actual gcc update PR https://github.com/flatcar-linux/portage-stable/pull/283.

[2022-02-11 13:15] pothos commented on #621
I think it should work to replace the `udevadm settle` with a `udevadm trigger -w /dev/BLOCKDEV` directly after the mkfs call.

[2022-02-11 14:44] jepio opened #625 "[RFE] kola: asynchronously fetch EC2 console or establish serial connection"
## Current situation

EC2 buffers the latest 64 kB of console output and makes that available.

## Impact

console.log from EC2 test runs is truncated in most cases.

## Ideal future situation

Complete console output is saved somehow.

## Implementation options

Two options:
* look into new EC2 APIs for serial console connections and live stream console output to file
* start an async task to fet

[2022-02-11 14:52] pothos commented on #621
Tried my luck here: https://github.com/flatcar-linux/ignition/pull/35

[2022-02-11 15:56] shosti opened #626 "Cilium with IPSec tunneling fails to start on 3033.2.2"
## Description

Since updating to 3033.2.2, all of my Cilium pods are in a `CrashLoopBackoff` state with the following error message:

[code]

After rolling back to 3033.2.1, cilium starts up again.

## Impact

Cilium fails -> all other pods can't get network -> general mayhem :smiling_imp:

## Environment and steps to reproduce

1. **Set-up**:
- Flatcar Linux 3033.2.2 on x86s
- Cilium set up as C

[2022-02-11 16:01] pothos commented on #626
Thanks for the report, maybe our cilium tests need some extensions to catch these cases in the future.
It looks like these xfrm changes could be related: https://lwn.net/Articles/882912/ (Linux 5.10.94)

[2022-02-11 16:06] pothos commented on #626
In the mean time make sure you disable automatic updates: https://www.flatcar.org/docs/latest/setup/releases/update-strategies/#disable-automatic-updates

[2022-02-11 16:51] pothos commented on #626
Looked at the kernel config under `/proc` and there is no unexpected difference between the two versions (as was the case with a bugfix kernel update some time ago)

[2022-02-11 17:01] tormath1 commented on #626
here's a minimal repro: https://gist.github.com/tormath1/bf3af973de9a4232698cc42199496496 from cilium failing part.

with strace, we can see that we're hitting the following change: https://github.com/torvalds/linux/commit/8dce43919566f06e865f7e8949f5c10d8c2493f5

Investigating on the netlink side...

[2022-02-11 17:07] jepio commented on #626
@tormath1 if its failing on the changelink then its a kernel bug (if_id is always 0).

[2022-02-11 17:10] tormath1 commented on #626
@jepio based on the linked commit, `if_id` needs to be different from 0... On the repro, it works fine by setting an explicit `if_id` to 1 for example.

[2022-02-11 17:12] jepio commented on #626
Missed the lower half of the gist on my phone xD

[2022-02-11 19:37] pothos commented on #626
It's really something to discuss how this (LTS) bug fix kernel update ended up in this situation given the leading principle that userspace ABI should not be broken. Maybe this change could be reverted in the next kernel bug fix release?
@borkmann - do you have an opinion on this from the Cilium (and kernel) side?

Edit: also posted to lkml: https://marc.info/?l=linux-kernel&m=164483790014524&w=2

[2022-02-14 16:13] #549 closed, assigned to nobody

[2022-02-14 17:10] sayanchowdhury commented on #618
Marking this release as complete

[2022-02-14 17:10] #618 closed, assigned to nobody

[2022-02-14 23:31] amitsingla commented on #394
Thanks @jepio.  I will test this flatcar version in coming weeks and get back to you if I have any further questions/issues.

[2022-02-15 07:23] jepio commented on #453
https://github.com/flatcar-linux/container-linux-config-transpiler/pull/17 is merged, now we need to update the flatcar-docs here: https://github.com/flatcar-linux/flatcar-docs/blob/main/docs/provisioning/config-transpiler/configuration.md

[2022-02-15 15:45] sayanchowdhury opened #627 "Release Team Call 2021-02-22"
## TODO list for the meeting
  - [x] 1 week before meeting: Create Agenda on [Github Discussion](https://github.com/flatcar-linux/Flatcar/discussions/628) board @sayanchowdhury
  - [x] 1 week before meeting: Tweet "Invitation to Release Team Call w/ link to agenda discussion" (so people can add topics)
  - [x] Monday before meeting: Finish and merge Agenda @sayanchowdhury
  - [x] Monday before mee

[2022-02-15 16:26] pothos opened #629 "Kola tests sometimes fail"
Tracking issue:

- [x] `cl.ignition.oem.regular` complains that it "got: btrfs\nbtrfs" instead of `btrfs` for the OEM filesystem check: https://github.com/flatcar-linux/mantle/pull/304
- [x] random tests fail due to etcd type errors: `panic: field etcdserverpb.Request.ID has invalid type: got uint64, want pointer` https://github.com/flatcar-linux/mantle/pull/293
- [ ] `cl.ignition.v1.once` fails t

[2022-02-16 10:14] krnowak commented on #546
This was done in December - https://github.com/flatcar-linux/coreos-overlay/pull/1475

[2022-02-16 10:14] #546 closed, assigned to nobody

[2022-02-16 12:39] holymoly commented on #586
Today I tested netboot.xyz and flatcar with the reported issue ( netboot.xyz release 2.0.5.5) https://github.com/netbootxyz/netboot.xyz/issues/1070

I still have the same issue when I boot flatcar in VMWare Workstation. netboot.xyz uses the following configuration.
[code]

As there suggested by @pothos I checked the initrd configuration and it looks ok to me. Am I missing something regarding the b

[2022-02-16 13:06] jepio commented on #586
Can you switch to UEFI boot in VMware Workstation? I see that BIOS boot is still broken in netboot.xyz, while UEFI boot works correctly.

[2022-02-16 13:10] jepio commented on #586
There is an error in the boot log when using BIOS:
[code]

[2022-02-16 15:46] jepio opened #630 "[Tracking] TPM 2.0/Secure Boot workstream"
Rough first draft, currently not ordered:

- [x] update grub https://github.com/flatcar/scripts/pull/1082
- [x] update ignition https://github.com/flatcar-linux/Flatcar/issues/387
- [x] update shim
- [x] update EDK2 OVMF (?)
- [x] investigate SBAT
- [x] run some secure boot enabled tests in CI:
   - [x] https://github.com/flatcar/mantle/pull/556
- [ ] #1211
- [x] import tpm2-tools - done together

[2022-02-17 06:43] holymoly commented on #586
UEFI works perfectly.
Would the problem with the unpacking in Bios mode be a Issue for flatcar or for netboot?

Thanks alot for the help!

[2022-02-17 08:49] carezkh opened #631 "How to update a custom Flatcar machine ?"
I built a custom Flatcar image following the instructions in document https://www.flatcar.org/docs/latest/reference/developer-guides/sdk-modifying-flatcar/#making-changes

version:  3033.2.2+2022-02-14-1145

I use `flatcar-install` to install Flatcar to disk with this image (in `__build__/images/images/amd64-usr/developer-3033.2.2+2022-02-14-1145-a1/flatcar_production_image.bin` , use bzip2 to com

[2022-02-17 09:01] pothos commented on #631
The end of this section shows how to use the `flatcar-update` script for that:
https://www.flatcar.org/docs/latest/migrating-from-coreos/update-from-container-linux/#the-migration-script
In your case you would use `--force-dev-key` instead of `--force-flatcar-key`.

[2022-02-17 09:02] pothos commented on #631
(If you want your machine to follow the regular Flatcar updates you would need to use an other way of customization: https://www.flatcar.org/docs/latest/installing/customizing-the-image/customize-the-image/)

[2022-02-17 10:15] carezkh commented on #631
Oh I see, thanks for your advice!

[2022-02-17 11:16] sayanchowdhury opened #632 "[ROADMAP] Automate and Revamp Flatcar Build Release Pipeline"
## Automate and Revamp Flatcar Build Release Pipeline

### Foundational

- [ ] Build the foundation Flatcar Release tool (or Jenkins job for publishing, see [here](https://github.com/flatcar-linux/Flatcar/issues/650#issuecomment-1164458837)) to handle the release.

### Pre-Builds

- [ ] Build a Release Planning SOP
- [ ] Automate the triggering of the Jenkins Release Builds
- [ ] Integrate a step

[2022-02-17 11:19] sayanchowdhury opened #633 "Automate the publishing of Azure Marketplace"
## Automate the publishing of Azure Marketplace

This issue is part of the [Automate & Revamp Flatcar Build Release pipeline](https://github.com/flatcar-linux/Flatcar/issues/632).

Every release, the Azure Marketplace are done manually which is time-taking, and error-prone.

Azure provides a publishing API, and there is [pub](https://github.com/devigned/pub), a cli-tool built to interact with the

[2022-02-17 11:24] pothos commented on #631
The flow is like for airgapped updates, I guess we should add a new docs section for that

[2022-02-17 11:31] pothos commented on #544
As far as I know this was not enough and torcx will still fail
Edit: That's why https://github.com/flatcar-linux/mantle/pull/254 reverted the test for enforcement from boot on

[2022-02-17 15:36] dongsupark commented on #617
Filed PRs:
* https://github.com/flatcar-linux/portage-stable/pull/291
* https://github.com/flatcar-linux/coreos-overlay/pull/1658

[2022-02-17 17:54] JAORMX commented on #592
Who's looking into this? I'd like to sync about this feature as am interested in trying it out and contributing if possible.

[2022-02-17 19:49] Tahvok commented on #591
@jepio finally got into testing the issue. Opened the issue: google/cadvisor#3065

[2022-02-17 20:01] pothos commented on #631
Created a docs PR here: https://github.com/flatcar-linux/flatcar-docs/pull/211

[2022-02-17 20:01] #631 closed, assigned to nobody

[2022-02-17 20:10] srm09 commented on #445
Adding @johananl 's PR for vSphere support here: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1429

[2022-02-18 10:55] dongsupark commented on #617
Merged

[2022-02-18 10:55] #617 closed, assigned to nobody

[2022-02-18 11:43] jepio commented on #591
Thanks. I looked into this briefly and it appears that cgroup2 simply doesn't expose percpu metrics for CPU time, so there might not be a way to solve this.

Do you have any particular use case that benefits from having the stats percpu?

[2022-02-18 11:45] jepio commented on #592
I'm looking at it starting from the TPM side, I'm happy to share some early images when they are available and collaborate on this.  @surajssd was looking at keylime from the application side.

Let's jump on a call if possible, would love to find out more about this and the use cases.

[2022-02-18 11:51] Tahvok commented on #591
Unfortunately not all applications are multithreaded. If you have multiple containers running on a multi core host, and one of them is not multithreaded - what way would there be find if one of the cores is running at 100% - basically saying there is an issue?
Example of a very known non multithreaded app is redis.

[2022-02-18 11:56] Tahvok commented on #591
Another example is simply a bad written application that usually does work in a multithreaded way, but some particular method of it does not - so the whole application will hang due to this method if it hogs a single core.
Having percpu metrics is important to monitor for such cases.

[2022-02-19 16:17] maxromanovsky opened #634 "Raspberry PI 3 support"
- I have followed steps depicted in https://github.com/flatcar-linux/Flatcar/issues/502 and in blog post mentioned on https://github.com/flatcar-linux/Flatcar/blob/main/community-meetings/2022-01-11-slides.pdf (BTW, the blog is offline, but the page is still available at https://github.com/littichokha/journalctl.dev/blob/main/content/posts/2021-12-25-flatcar-runs-on-raspberry-pi.md).
- I've used R

[2022-02-20 11:01] jepio commented on #634
I'm not super familiar with the state of UEFI and mainline kernels on rpi3, but the most likely culprit is the `acpi=force` flag passed to the kernel. Rpi3 might work in device tree mode. When in grub, try editing the menuentry and adding a line like this before `linux`:
[code]
I removed `extra_options` from the default one, which contains the acpi=force arg.

[2022-02-20 19:11] maxromanovsky commented on #634
@jepio it didn't help unfortunately. I've edited `Flatcar default` like this and pressed `F10` to boot. It reboots just as previously in ~5 sec after `EFI stub: Exiting boot services and installing virtual address map...`

![IMG_9256](https://user-images.githubusercontent.com/749775/154859913-0756d640-f23c-4414-9ae2-87dc89926fdc.jpg)

[2022-02-21 16:01] dongsupark commented on #622
All PRs were merged, and upload_package was tested against a staging server with Nebraska 2.6.
Everything looks good.

[2022-02-22 09:08] tormath1 opened #635 "Kube Flannel (> 0.14.1) does not start in SELinux enforcing mode"
## Description

In latest CNI plugins versions (from [1.0.0](https://github.com/containernetworking/plugins/releases/tag/v1.0.0)), Flannel plugin has been removed. Starting from Kube Flannel version 0.15.0, plugin installation is defined in the [manifest](https://github.com/flannel-io/flannel/blob/7878a97795b562142de9003a5ff842b2690d90e1/Documentation/kube-flannel.yml#L168-L178):
[code]

The path

[2022-02-22 10:35] owenthomas17 opened #636 "[RFE] - NFS4 with Kerberos"
## Current situation

Currently not able to mount nfs4 shares with Kerberos on flatcar.

## Impact

Unable to use flatcar against our new storage provider. The company I work for has traditionally been Windows and we're in the process of migrating all of the code to Linux. Our storage provider is able to expose the same share as CIFS/NFS/S3 and therefore gives us the cleanest migration path into L

[2022-02-22 11:42] gabriel-samfira commented on #575
Heya! I'd like to tackle this one if no one else is interested.

[2022-02-22 11:43] pothos commented on #629
- [ ] `cl.swap_activation` fails with   `Error: "filesystem.go:403: swap is not enabled while it should be"` but in the console log I see the swap getting activated. Maybe the test does the check too early and should retry a bit.

[2022-02-22 11:45] Oleksii-Melnyk-UA opened #637 "Sysdig-agent docker container fails to start on 3033.2.2 Flatcar version"
## Description

After build of new image with 3033.2.2 Flatcar version, and run of new AWS EC2 instance - sysdig-agent docker container fails to start.
We use the latest version of sysdig-agent image - https://hub.docker.com/r/sysdig/agent/tags?page=1
All our other containers are running successfully on 3033.2.2 version.
Also tested that latest version of sysdig-agent is running successfully on ol

[2022-02-22 11:52] pothos commented on #629
I found the strange case that `cl.ignition.v2.ext4root/1463f2c2-440a-4201-9884-006be3451899/journal.txt` and `console.txt` totally differ. The console.txt has the output matching the userdata but `journal.txt` seems to be the output of `coreos.ignition(v1).groups`

[2022-02-22 11:54] pothos commented on #621
Please reopen if you see this race again

[2022-02-22 11:54] #621 closed, assigned to nobody

[2022-02-22 12:04] jepio commented on #575
Go ahead @gabriel-samfira

[2022-02-22 12:16] jepio commented on #637
Looks similar to this: https://github.com/flatcar-linux/Flatcar/issues/534.

[2022-02-22 15:49] pothos commented on #447
One thing to keep in mind is that we need to migrate our internal Docker usage (Toolbox, flannel/etcd services, BCC tool aliases)  to something that is not manged by the user. We could for example have a tool in the image that allows us to download and unpack container images, and then use systemd-nspawn for that, but actually I would rather like to see Podman as part of the base image because it

[2022-02-22 16:11] gabriel-samfira commented on #575
Addressed by: https://github.com/flatcar-linux/scripts/pull/233

[2022-02-23 08:08] AverageMarcus commented on #445
@t-lo FYI I've opened an issue on CAPG to request Flatcar support - https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/540

[2022-02-23 11:40] jepio commented on #622
We found another issue reported by a user in the host-flatcar-packages option (works in 2.5.1):
- [x] https://github.com/kinvolk/nebraska/issues/575

[2022-02-23 11:50] t-lo commented on #445
@AverageMarcus Thank you! I've added the tracking issue to the summary.

[2022-02-23 12:44] krnowak opened #638 "Drop net-misc/bridge-utils eventually"
bridge-utils is a package that provides `brctl` for configure network bridges. Just noticed in its [readme](https://git.kernel.org/pub/scm/network/bridge/bridge-utils.git/tree/README?h=main) that it's marked as deprecated in favor of `bridge` utility from iproute (which we provide through the `sys-apps/iproute2` package).

[2022-02-23 12:53] pothos commented on #638
Hopefully together with `ifconfig` ;)

While I agree it's nothing to do lightly because people still have the habit to use it and it's part of many instructions still…
For backwards compatibility I would say we should keep it around as long as possible.

[2022-02-23 14:44] t-lo commented on #445
@AverageMarcus Would you be interested to work on CAPG support? The team is supportive of the idea but currently pursues other priorities. We can definitely ramp you up on existing CAPI work and support you in the process.

[2022-02-23 14:58] AverageMarcus commented on #445
I can't currently as have other work with higher priorities but possibly in the future once this becomes more of a priority for us. I mainly wanted to ensure it was tracked on CAPG so there was at least an awareness of wanting this.

[2022-02-25 13:17] jepio commented on #637
Hi @Oleksii-Melnyk-UA, I don't quite know where you got the docker command come from, but if you add
`-v /usr:/host/usr:ro` then the module is built correctly. The instructions here also specify mounting /usr: https://docs.sysdig.com/en/docs/installation/sysdig-agent/agent-installation/agent-install-non-orchestrated/.

Stay strong!

[2022-02-25 16:02] hwaastad opened #639 "RKE2 CIS-1.6 support"
## Description

This is probably not a bug, rather an RFC.
Rancher RKE2 will do an go os.user.Lookup('etcd') and os.user.LookupGroup('etcd') to verify existence but this will fail.

## Impact

Cannot run Rancher RKE2 with cis-1.6 profile on flatcar linux

## Environment and steps to reproduce

1. **Set-up**: in rancher 2.6, create a cluster having 1.6-CIS worker profile
2. **Error**: the system-ag

[2022-02-25 17:07] pothos commented on #629
- [ ] `cl.update.grubnop` fails because it uses `coreos-cloudinit` to mask `update-engine.service` after it started. Systemd sees that the service file got invalidated and kills the service. Later kola finds a failed service and complains (`harness.go:535: Cluster failed starting machines: machine \"90f1a678-1fe7-4563-9d74-82d638fd290c\" failed basic checks: some systemd units failed:\n● update-en

[2022-02-26 23:05] hwaastad commented on #639
This turns out not to be an issue with flatcar. Did a simple test:
[code]
and output is:
[code]

[2022-02-26 23:05] #639 closed, assigned to nobody

[2022-02-28 08:33] #379 closed, assigned to nobody

[2022-02-28 10:41] Oleksii-Melnyk-UA commented on #637
Thank you for help, this fixed the issue.
And thank you for support!

[2022-02-28 10:42] #637 closed, assigned to jepio

[2022-02-28 11:32] miao0miao opened #641 "Community Call 2022-03-08"
## TODO list for the meeting
  - [x]  1 week before meeting: Create Agenda PR @miao0miao  (https://github.com/flatcar-linux/Flatcar/discussions/640)
  - [x] ~~1 week before meeting: Tweet "ask for input" @ahrkrak w/ link to agenda PR (so people can add topcis)~~
  - [x] Monday before meeting: Finish and merge Agenda @jepio
  - [x] ~~Monday before meeting: Tweet announcement @ahrkrak~~
  - [x] 1h b

[2022-02-28 12:03] miao0miao opened #642 "Documentation writing day 2022-03-04"
The goal of this event is to go through the Flatcar [documentation](https://www.flatcar.org/docs/latest/) and make sure it is up to date and add missing documentation.
## TODO list for the meeting
  - [ ] Monday before meeting: Tweet announcement @miao0miao @ahrkrak
  - [ ] add event to the Flatcar Community [Calendar]
  - [ ] 1h before meeting: announce in matrix  @t-lo
  - [ ]  add the YouTube l

[2022-02-28 14:44] pothos opened #643 "[RFE] Define sysext level for Flatcar"
## Current situation

Systemd-sysext images have a compatibility matching mechanism that searches for the matching OS version or custom sysext level setting. On Flatcar there is just the OS version set in `/etc/os-release` until now.

## Impact

Sysext images can't easily be used together with autoupdates that change the OS version.

## Ideal future situation

We define a Flatcar sysext level like

[2022-02-28 14:51] pothos opened #644 "[RFE] Prepare for Torcx deprecation"
## Current situation

The functionality offered by Torcx is going to be offered through systemd-sysext images (roadmap issue https://github.com/flatcar-linux/Flatcar/issues/443).

## Impact

Users need to know how to use sysext images, migrate their setup away from Torcx (in case there are users) and can also migrate away from custom binaries under `/opt/bin`, if wanted.

## Ideal future situation

[2022-02-28 15:56] #627 closed, assigned to nobody

[2022-03-01 08:21] tormath1 commented on #626
Hi @shosti, Cilium's PR has been merged - if you're feeling adventurous, you can build a cilium image and try it to deploy by updating this value: https://github.com/cilium/cilium/blob/v1.11.0/install/kubernetes/cilium/values.yaml#L84

Otherwise, the fix should be part of the next cilium's release (1.11.3). :)

[2022-03-01 09:02] krnowak opened #645 "[RFE] Keep packages in portage-stable updated"
Here is an ongoing effort to update the packages in portage-stable. The goal is to have all the packages that are either the same version as gentoo or of lower revision.

It's a part of #96.

First done by EAPI versions:

- [x] EAPI 0 - https://github.com/flatcar/portage-stable/pull/264
- [x] EAPI 1 - N/A
- [x] EAPI 2 - https://github.com/flatcar/portage-stable/pull/226
- [x] EAPI 3 - https://gith

[2022-03-01 09:23] krnowak opened #646 "[RFE] Move out customizations out from portage-stable"
We want portage-stable to contain almost zero modifications, so we need to handle the following things:

- [x] GLSA files
  - These files reside in the `metadata/glsa` directory.
  - They need to be moved elsewhere, but still at a place where glsa-check can find them.
  - I think we can keep them in portage-stable - `metadata/glsa` is a canonical location for GLSA stuff and the rsynced Gentoo repo

[2022-03-01 10:10] krnowak opened #647 "[RFE] Handle configuration updates in /etc"
Currently we modify the ebuilds of the packages that are putting files into `/etc` by telling them to put them somewhere in `/usr` and to install `tmpfiles.d` file that will tell systemd-tmpfiles to copy those files from `/usr` to `/etc` or create symlinks. The reason for it is that `/etc` is not updated when the OS update is performed. Instead, `systemd-tmpfiles` is invoked on every boot.

The pl

[2022-03-01 10:32] krnowak opened #648 "[RFE] Update packages in coreos-overlay and add automation to handle them."
Many packages in coreos-overlay are in a bit similar situation as in portage-stable - not being updated for a long time. These are harder to update as they are not simply copies of packages from gentoo.

There are two categories of packages that we have:

- Forks of gentoo packages, with our modifications.
- Our own packages:
  - Some of those probably started as forks of gentoo packages, but were

[2022-03-01 12:07] krnowak opened #649 "[RFE] Initial automation for updating Gentoo snapshot replacing portage-stable"
When #646 and #645 are done, we can try to replace portage-stable with a snapshot of Gentoo.

For this to happen, we would need to add an option to our build process, that would tell it what to use - the Gentoo snapshot or the portage-stable repo. With this done, we can try running the builds with Gentoo snapshot and start fixing issues.

When build with a Gentoo snapshot produces working SDK and

[2022-03-01 12:47] sayanchowdhury opened #650 "Build a release tool to control the release process"
## Build a release tool to control the release process

The release has mentioned in the roadmap issue is a combination of multiple steps.

It would be beneficial to build a small release tool to coordinate the steps. The idea would be to make the interface simple enough for other members of the release team to operate and to make it in a modular manner to extend it as needed.

The initial planned

[2022-03-01 14:11] jepio commented on #650
Could this be a part of mantle?

[2022-03-01 15:24] tormath1 opened #651 "kola: rework `README` file"
Kola's `README` should act as a documentation which targets two types of users:
- test writers
- maintainer of the framework

Existing documentation could be ordered in the following way:
1. _As an external contributor, I want to quickly know how to write and run a test_ (a.k.a "Getting started")
  a. Check the requirements
  b. Get the tools
  c. Write a simple test
  d. Run it locally
  e. (Run

[2022-03-01 15:24] tormath1 opened #652 "[roadmap] ensure Flatcar's quality across the releases"
The goal of this issue is to track the various steps involved to ensure Flatcar's quality across the releases:

## Documentation side
- [ ] https://github.com/flatcar-linux/Flatcar/issues/651
- [ ] https://github.com/flatcar-linux/Flatcar/issues/653

## Development side
- [ ] https://github.com/flatcar-linux/Flatcar/issues/654
- [ ] https://github.com/flatcar-linux/Flatcar/issues/655

[2022-03-01 16:35] tormath1 opened #655 "kola: ease test writing"
The goal of the issue is to propose a new layer on top of Kola to add tests. Most of the time, simple unit tests need the following elements:
- user-data for initial provisioning
- an input (the actual test to run)
- an expected output (the result of the input command)

Tests could be defined in `yaml` format and using `yaml` Go bindings and code generation we could generate the tests. With this a

[2022-03-02 10:37] pothos opened #656 "[RFE] Support Azure Userdata for coreos-cloudinit"
## Current situation

Currently on Azure the Custom Data attribute is the location for Ignition/coreos-cloudinit configs. The (newer) [VM Userdata attribute](https://docs.microsoft.com/en-us/azure/virtual-machines/user-data) is ignored.

## Impact

For users this can be confusing if they put the config into Userdata and nothing works. The Custom Data attribute is quite limited because it can't be

[2022-03-02 12:40] pothos commented on #626
The proposal to revert upstream got rejected but we decided to do it for Flatcar anyway: https://github.com/flatcar-linux/coreos-overlay/pull/1682 - this is not part of a release yet.

[2022-03-03 07:08] Akshaybaisla opened #658 "trying to disable net.ipv4.ip_forward"
I am trying to disable net.ipv4.ip_forward from file "/etc/sysctl.d/*" (nt.conf file) but when I write net.ipv4.ip_forward=0. I found out that it is not reading from that file. It is changing according to /proc/sys/net/ipv4/ip_forward.

- provide some solution by which I can disable "net.ipv4.ip_forward"

[2022-03-03 09:36] jepio commented on #658
Hi @Akshaybaisla, have you seen this issue https://github.com/flatcar-linux/Flatcar/issues/297? The sysctl.d files do work but there  are other ways through which ip_forwarding gets enabled: docker will enable it, systemd-networkd as well.

What you can do is set the iptables policy: `iptables -P FORWARD DROP`, which will stop ip_forwarding for anything not matching any other rules.

[2022-03-03 10:17] schmitch opened #659 "[Maybe Bug] possible link failure after switch reboot"
## Description

currently we do run 3x Dell Servers 7525 (AMD EPYC 7313) with Mellanox ConnectX-5 EN 25GbE Dual-port SFP28 Adapter's and also some Meraki Switches, this is a test cluster that should be going live in a month or so, inside a much more volatile network.
We use cilium with hardware offloading (dsr, native acceleration)/kube proxy disabled/kube-vip on a k3s 1.23.4 and this is a baremet

[2022-03-03 10:28] pothos commented on #659
Hello,
please see https://github.com/flatcar-linux/Flatcar/issues/620 for the workaround - the upcoming Flatcar releases will have this set by default.

[2022-03-03 10:38] jepio commented on #534
Tried to go down the static linking path, that failed. sysdig-agent has a better build system which requires bind mounting /usr and relocates the binaries to find the correct libraries/linker. Falco's build system doesn't support this.

The best that I could come up with is this gist: https://gist.github.com/jepio/ee301a76b437c80f5533588172bc790e. It creates a wrapper script and a bunch of symlink

[2022-03-03 16:48] tormath1 commented on #626
Hi @shosti , so it seems that cilium has already fixed the issue starting from latest release 1.11.2. Do you think you could give a try ?
I tested with IPSec test case: https://github.com/flatcar-linux/mantle/pull/292 and it seems to work as expected.

[2022-03-03 16:52] pothos commented on #626
Maybe as additional info that there is a regression: https://github.com/cilium/cilium/pull/19019

Edit: With 1.11.2 this is not a problem

[2022-03-03 17:10] schmitch commented on #659
@pothos thank you! I rebooted  the switch to see if the issue is reproducible (it is), I will try to reboot it once more tomorrow and report if the fix worked.

[2022-03-03 17:16] pothos commented on #659
Maybe you can also reproduce it with something like `networkctl down eth0 ; networkctl up eth0` (at least that worked in a simple qemu VM). I expect it to be the same issue and will close now. Please reopen if the workaround doesn't help.

[2022-03-03 17:16] #659 closed, assigned to nobody

[2022-03-03 17:30] krnowak commented on #647
The initial plan could be:

- Phase 1 (the "simplify installation of configuration to `/etc` from ebuilds" phase):
  - Copy `/etc` to `/usr/share/flatcar-etc` when building the image.
  - Add a unit running at boot (at around the same time as `systemd-tmpfiles-setup.service`) that would run `systemd-tmpfiles` on files in `/usr/share/flatcar-etc-tmpfiles`.
    - In the beginning this would be the n

[2022-03-03 19:51] pothos commented on #647
On Phase 1: I'm a bit confused about the packages and their tmpfiles directives. I would say that instead of using systemd-tmpfiles in the new service unit we could look at what is in `/usr/share/flatcar-etc` and copy these files to `/etc` if they are not there yet - the other way is to generate a list of these files at image build time and generate a tmpfile config from it as done already for the

[2022-03-04 07:33] Winnie81 opened #660 "New Package Request: [open-vm-tools 12.0.0]"
VMware Tools 12.0.0 is GA as of March 1, 2022. Please rebase OVT to our newest release in future.

About vmtools release information, please refer to https://docs.vmware.com/en/VMware-Tools/.

Thanks.

[2022-03-04 10:16] schmitch commented on #659
btw. the fix worked flawlessly! thank you

[2022-03-04 10:35] krnowak commented on #647
I'd say that

is basically what systemd-tmpfiles is doing with our tmpfiles already, so I'd leverage it as long as we could until we get to the phase 2 where we drop it. And about:

Instead of doing it, I'd reuse what we already have. So at this point we can just slightly modify them instead of doing all the work again.

Basically the point of phase 1 would be not to change the outcome, but prepar

[2022-03-04 10:41] tormath1 opened #661 "terraform: update equinix-metal examples with recent provider"
We still rely on legacy TF provider for Equinix-Metal Terraform [examples](https://github.com/flatcar-linux/flatcar-terraform/blob/main/equinix-metal-aka-packet/packet-machines.tf#L4-L7):
[code]

While the [documentation](https://www.flatcar.org/docs/latest/installing/cloud/equinix-metal/#terraform) can be updated consequently, it would be nice to use to update both at the same time.

The new prov

[2022-03-04 11:31] pothos commented on #275
PR for the very first introduction example: https://github.com/flatcar-linux/flatcar-docs/pull/217

The provider "quickstart" sections need to be reworked still.

[2022-03-04 14:41] pothos commented on #275
Done for for the provider sections: https://github.com/flatcar-linux/flatcar-docs/pull/222

[2022-03-04 14:54] pothos commented on #626
I think we can close this now as a Cilium release was done and we have anyway reverted the change for next week's release

[2022-03-04 14:54] #626 closed, assigned to nobody

[2022-03-04 15:10] #275 closed, assigned to nobody

[2022-03-04 16:34] t-lo commented on #660
Thank you @Winnie81 , we'll look into including it in the next release.

[2022-03-07 10:38] dongsupark opened #662 "Release Flatcar Container Linux Alpha 3165.0.0, Beta 3139.1.0, Stable 3033.2.3, LTS 2605.26.1"
## Release Flatcar Container Linux Alpha 3165.0.0, Beta 3139.1.0, Stable 3033.2.3, LTS 2605.26.1

The release of Flatcar Container Linux Alpha 3165.0.0, Beta 3139.1.0, Stable 3033.2.3, LTS 2605.26.1 is planned for Mar. 7th, 2022.

### Tasks
- [x] Go / No Go tracking folder created, tracking doc added (@dongsupark)
- [x] All planned changes are merged & blocker bugs are fixed (@dongsupark)
- [x] Br

[2022-03-07 12:15] dongsupark opened #663 "Start Jenkins builds (@dongsupark)"

[2022-03-07 12:17] dongsupark commented on #663
Closing, an invalid garbage issue. :see_no_evil:

[2022-03-07 12:17] #663 closed, assigned to nobody

[2022-03-07 13:27] pothos opened #664 "[RFE] Azure AADSSHLoginForLinux Support"
## Current situation

Flatcar is not recognized by the Microsoft.Azure.ActiveDirectory.AADSSHLoginForLinux extension:
[code]

https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-linux#supported-linux-distributions-and-azure-regions

## Impact

The SSH keys have to be managed otherwise

## Ideal future situation

The extension supports Flatcar

## Implementatio

[2022-03-08 17:16] sayanchowdhury commented on #662
To update on the Azure, and GCP offers:
- Azure has some changes in drafts which needs attention is blocking the publishing
- GCP Partner Portal is not accepting any changes and request for [transition to Producer Portal](https://cloud.google.com/marketplace/docs/partners/portal-migration) which also being looked into

[2022-03-09 07:46] jepio commented on #245
A fix for the udev race was merged when investigating #621

[2022-03-09 07:46] #245 closed, assigned to nobody

[2022-03-09 07:47] #641 closed, assigned to nobody

[2022-03-09 07:50] jepio commented on #629
# cl.cloudinit.basic
Seen failing because cloudinit didn't run, because some logic explicitly skipped enabling it. Here are logs from a failing run and a passing (re)run.
[journal-fail.txt](https://github.com/flatcar-linux/Flatcar/files/8212690/journal-fail.txt)
[journal-pass.txt](https://github.com/flatcar-linux/Flatcar/files/8212689/journal-pass.txt)

[2022-03-09 13:03] #661 closed, assigned to nobody

[2022-03-09 13:50] dongsupark commented on #660
PR is open. https://github.com/flatcar-linux/coreos-overlay/pull/1704

[2022-03-09 14:25] jepio commented on #660
There are additional new (optional?) dependencies in v12, that we should look into supporting

[2022-03-09 15:18] dongsupark commented on #660
Good points.
It is mainly containerinfo and salt-minion.
Adding salt-minion option to configure was trivial. Done.
However, containerinfo is tricky, because it requires additional libs like grpc++, which needs some additional work.
So for now I pushed fixes to https://github.com/flatcar-linux/coreos-overlay/pull/1704 by simply disabling containerinfo.

[2022-03-09 15:25] tormath1 commented on #642
The event has been done. It has been mentioned in this community call: https://github.com/flatcar-linux/Flatcar/discussions/640 and YT video is available: https://www.youtube.com/watch?v=O9fnK9CvwjI

[2022-03-09 15:25] #642 closed, assigned to nobody

[2022-03-09 15:28] tormath1 commented on #636
Support is enabled on the latest Alpha-3165.0.0 release: https://www.flatcar.org/releases/#release-3165.0.0. Thanks again for your contribution !

[2022-03-09 15:28] #636 closed, assigned to nobody

[2022-03-09 15:30] #575 closed, assigned to nobody

[2022-03-09 15:56] tormath1 commented on #540
Hi @shibumi , I hope you're doing well - we just released a new version of `ct`: https://github.com/flatcar-linux/container-linux-config-transpiler/releases/tag/v0.9.3 if you want to update it for ArchLinux :)

[2022-03-09 16:16] shibumi commented on #540
Thanks @tormath1 will do it.

[2022-03-10 10:43] jepio opened #665 "Flatcar fails to boot on AWS m4.* instance types"
## Description

Flatcar stable 3033.2.0 works,  3033.2.1 doesn't. The symptoms are no DHCP address being acquired on the network interface, so fetching instance metadata fails. Boot log shows more or less this:
[code]

## Impact

[ 1 sentence detailing the impact this bug is creating for you ]

## Environment and steps to reproduce

1. **Set-up**: [ describe the environment Flatcar/Lokomotive/Nebr

[2022-03-10 11:05] pothos commented on #553
Created a PR for AWS https://github.com/flatcar-linux/scripts/pull/250

[2022-03-10 11:38] jepio commented on #665
Releases with 5.15 fail differently, they can't find the root block device. xen-blkfront module is missing from initramfs, which would explain that. But also no sign of DHCP lease being acquired.

[2022-03-10 14:06] tormath1 commented on #562
Closing this one as it's done thanks to @jepio !

[2022-03-10 14:06] #562 closed, assigned to nobody

[2022-03-10 15:21] pothos commented on #665
This is the full list of modules that were present in Stable but are not in Alpha: `glue_helper.ko.xz md4.ko.xz aoe.ko.xz brd.ko.xz drbd.ko.xz nbd.ko.xz rbd.ko.xz xen-blkfront.ko.xz zram.ko.xz pps_core.ko.xz ptp.ko.xz nfs_ssc.ko.xz libarc4.ko.xz lru_cache.ko.xz zsmalloc.ko.xz`

[2022-03-10 17:02] pothos opened #666 "dev: Ignition 3 translation to strict when checking links"
## Description

`CheckPathUsesLink` in `ign-converter` is matches by prefix which is too simple

## Impact

The following Ignition 2.3.0 config (here CLC YAML) fails:
[code]

## Expected behavior

It is accepted

## Additional information

This is `UsesOwnLinkError`: `%s uses link defined in config %q. Please use a link not defined in Storage:Links …`, it already happens in `files:` as `/helloworl

[2022-03-10 17:16] #643 closed, assigned to pothos

[2022-03-11 08:17] jepio commented on #666
lets add a kola test

[2022-03-11 08:37] dongsupark commented on #660
https://github.com/flatcar-linux/coreos-overlay/pull/1704 was merged.
open-vm-tools 12.0.0 will be included in the next Alpha.
Thanks for creating the issue.

[2022-03-11 08:37] #660 closed, assigned to nobody

[2022-03-11 09:35] t-lo commented on #652
There's overlap with this roadmap item: https://github.com/flatcar-linux/Flatcar/issues/442

[2022-03-11 09:44] t-lo opened #667 "[RFE] ci-automation: AWS vendor test"
Add AWS vendor image testing support for containerised builds.

[2022-03-11 09:50] t-lo opened #668 "[RFE] ci-automation: Azure vendor test"
Add Azure vendor image testing support for containerised builds.

[2022-03-11 09:54] t-lo opened #669 "[RFE] ci-automation: Digital Ocean vendor test"
Add Digital Ocean vendor image testing support for containerised builds.

[2022-03-11 09:55] t-lo opened #670 "[RFE] ci-automation: GCE vendor test"
Add GCE vendor image testing support for containerised builds.

[2022-03-11 09:57] t-lo opened #671 "[RFE] ci-automation: Equinix Metal vendor test"
Add Equinix Metal (bare metal) vendor testing support for containerised builds.

[2022-03-11 09:58] t-lo opened #672 "[RFE] ci-automation: VMWare ESX vendor test"
Add VMWare ESX vendor image testing support for containerised builds.

[2022-03-11 10:02] t-lo commented on #632
I think this roadmap item overlaps with the above: https://github.com/flatcar-linux/Flatcar/issues/442

[2022-03-11 10:28] tormath1 commented on #671
I'm on this one.

[2022-03-11 10:38] pothos commented on #666
Agree, we don't have any kola tests for Ignition links yet

[2022-03-11 10:53] JAORMX opened #673 "[RFE/Fix]: Smooth out SELinux rough edges in Flatcar"
## Current situation

Given issues with having the whole system labeled in the past, not every file in the base distribution is labeled with the appropriate SELinux type. On the other hand, crucial boot-time tooling such as `torcx` has historically had issues with SELinux enforcing at boot time.

In order to provide a smoother experience in a SELinux enforcing deployment, it would be ideal to get

[2022-03-11 11:26] #666 closed, assigned to pothos

[2022-03-11 12:40] pothos opened #674 "Make /usr/lib an own directory"
## Current situation

Flatcar amd64 uses a symlink `/usr/lib` → `lib64` and stores all files in `/usr/lib64`.
Flatcar arm64 the symlink is not used and both are separate folders.

## Impact

Systemd-sysext amd64 images can't be mounted when they use a `/usr/lib` folder (as required in the spec)

Currently there is a workaround for that by following the same setup in the sysext image, e.g., here a

[2022-03-11 13:59] jepio commented on #665
I've isolated this to a kernel change, here's the bisect log so far:
[code]
so something between 5.15.10 and 5.15.11 is responsible. Im testing on the 5.15 kernel because I believe this will lead to the answer of what is wrong in Flatcar 3033.2.1.

[2022-03-11 13:59] JAORMX commented on #673
also, getting a newer reference of `refpolicy` would help, as we really need `spc_t` to be available.

[2022-03-14 08:47] jepio commented on #665
Full bisect points towards d8888cdabedf353ab9b5a6af75f70bf341a3e7df (or torvalds/linux@83dbf898a2d45289be875deb580e93050ba67529 upstream):
[code]

[2022-03-14 13:13] obourdon opened #675 "3033.2.3 not available on Azure marketplace"
## Description

Subject says it all. Seems like images for 2605.11.0 have been made available on AWS but not on Azure

## Impact

Can not upgrade

## Expected behavior

Stable (and potentially Beta & Alpha) release should be available cross IaaS providers

[2022-03-14 14:44] wincus commented on #665
In case helps, I have also observed this behavior on c4 instances while t2 instances seem like are unaffected by this issue ( instances boot normally )

[2022-03-14 16:25] jepio commented on #665
@wincus c4 instances would have the same issue because they use the same Intel VF for enhanced networking. t2 instances are unaffected because they use Xen networking.

I've already confirmed that reverting that commit fixes the issue in 5.15 and 5.10 based flatcar releases, so we will be reverting it in all channels while we work upstream to figure out what the actual bug is.

[2022-03-14 16:26] jepio commented on #675
Hi @obourdon,
If you look at the release tracking issue https://github.com/flatcar-linux/Flatcar/issues/662, you'll find that there is a blocker for Azure publishing of the latest release currently.

[2022-03-14 16:40] jepio commented on #665
At least one other report confirms the bisect: https://lore.kernel.org/lkml/Ydh5OCudJKz5Y7jc@arighi-desktop/.

[2022-03-14 17:05] obourdon commented on #675
@jepio thanks for the notification, I indeed saw this other reference when searching priori to log the issue but was not totally sure this was completely related. Closing this one for now. Many thanks again

[2022-03-14 17:05] #675 closed, assigned to nobody

[2022-03-14 17:06] jepio commented on #665
This PR is needed to fix the stable release:
- [x] https://github.com/flatcar-linux/coreos-overlay/pull/1720.

Beta/Alpha need:
- [x] https://github.com/flatcar-linux/coreos-overlay/pull/1721
- [x] https://github.com/flatcar-linux/coreos-overlay/pull/1723

[2022-03-16 09:18] sayanchowdhury commented on #675
Hi @obourdon The Azure images should now be now available.

[2022-03-16 09:38] jepio commented on #665
The fixes are present in all branches (3033/3139/3165/main), and will be part of all releases that we do next week.

[2022-03-16 09:38] #665 closed, assigned to jepio

[2022-03-16 19:52] pothos commented on #629
- [ ] `bpf.execsnoop`: `cluster.go:117: Status: Downloaded newer image for quay.io/iovisor/bcc:latest` `bpf.go:78: unable to get container ready: no logs, the service has not started yet properly`

Edit: ah, that was already in the list…

[2022-03-17 08:50] sayanchowdhury opened #679 "Release Team Call - 22nd March 2022"
## TODO list for the meeting
  - [x] 1 week before meeting: Create Agenda on [Github Discussion](https://github.com/flatcar-linux/Flatcar/discussions/678) board @sayanchowdhury
  - [x] 1 week before meeting: Tweet "Invitation to Release Team Call w/ link to agenda discussion" (so people can add topics)
  - [x] Monday before meeting: Finish and merge Agenda @dongsupark @pothos
  - [x] Monday before

[2022-03-17 12:09] tormath1 commented on #673
I started to investigate on relabeling the whole system during the build of the image.

[2022-03-17 12:48] Akshaybaisla opened #681 "Recommendation to delete all the rules and enable the audit service to run"
On applying Flatcar recommendations as mentioned in  https://www.flatcar.org/docs/latest/setup/security/selinux/ (https://www.flatcar.org/docs/latest/setup/security/selinux/%22) and running "auditctl -l" is returning "No Rules". And with "no rules" it means audit service will not work by default. Why we have this recommendation to delete all the rules and how we can enable the audit service to run

[2022-03-17 13:04] jepio commented on #681
Hi @Akshaybaisla,
it is expected that you provide your own audit rules.

These instructions are the way they are because the default Flatcar audit rules in `99-default.rules` contain this entry:
[code]
which disables all other rules. So you definitely need to remove that one.

[2022-03-17 16:04] cpswan commented on #560
Closing this as I've solved the problem with a containerised Python script to send CPU load average as a GCP custom metric.

__Dockerfile__

[code]

__docker_send_data.py__

[code]

[2022-03-17 16:04] #560 closed, assigned to nobody

[2022-03-17 16:09] #674 closed, assigned to pothos

[2022-03-17 19:46] wincus commented on #665
wow amazing work! thanks @jepio

[2022-03-18 11:56] jepio commented on #212
These messages are now gone because we no longer have rngd in the images.

[2022-03-18 11:56] #212 closed, assigned to nobody

[2022-03-21 20:08] jferr commented on #650
I'm posting this here because I haven't found an official channel/place to ask this

Our company has the need to know in advance when a flatcar update (stable channel) is arriving. We are implementing automation (our needs are greater than what the fluo operator provides so we have a homegrown solution that we are developing/rolling out) and our on/offshore staff needs advance notice to ensure zer

[2022-03-21 20:44] dongsupark commented on #650
Yes, that is the plan.
We are working on release including Stable, and it will be probably done in this week.
As usual, the final release date can be a few days after the planned date, as CI tests for different cloud providers could result in extra work.

[2022-03-21 21:12] jferr commented on #650
Thank you. Where can our team look to get at least a few hours notice before a release?  It seems like releases come early in the morning (we are US mountain time zone).  Is there a  time window or exact time where the release happens/is available to the update_engine running on our hosts?

[2022-03-22 09:19] pothos commented on #650
To be on your own schedule you can also deploy your own Nebraska server that syncs the latest release but you would allow updates only during certain timeframes or manually: https://github.com/kinvolk/nebraska/

[2022-03-22 09:22] pothos commented on #650
Two more pointers without using Nebraska:
https://www.flatcar.org/docs/latest/setup/releases/update-strategies/#disable-automatic-updates shows how to do manual updates on a machine with `flatcar-update`
https://www.flatcar.org/docs/latest/setup/releases/update-strategies/#auto-updates-with-a-maintenance-window is about the reboot window in locksmith

[2022-03-22 15:33] jferr commented on #650
thank you for all of the thorough and detailed answers

[2022-03-22 16:15] AlexisMontagne opened #683 "NTP server is giving a time far in the future"
## Description

Twice in the last week, we observed that one machine in particular (out of a fleet of 100s) has had their clock drifting far in the future (more than 10hrs).

After restarting `timesyncd` the correct time was updated.

When i queried the ntp servers after noticing the issue the correct time was returned.

Do you have any idea what could cause this issue? Who is running `2.flatcar.p

[2022-03-22 16:45] dongsupark opened #684 "1h before meeting: announce in matrix (w/ Zoom link) @dongsupark @pothos"

[2022-03-22 16:46] dongsupark commented on #684
oops, sorry, closing.

[2022-03-22 16:46] #684 closed, assigned to nobody

[2022-03-22 16:52] pothos opened #685 "Systemd-networkd route setup leads to failed interface state (v249 but also in v250 now)"
## Description

We noticed that the DigitalOcean network setup is in a failed state since somewhere between 2512.5.0 (works, systemd v241) and 2605.7.0 (fails, systemd v245). This got visible now through a systemd 249.11 stable backport fix that changed the behavior of making failed network interfaces not pass the network-online check anymore as was the case before which hid this issue.
The failed

[2022-03-22 17:08] tormath1 commented on #679
Thanks everyone, the recording is available here: https://www.youtube.com/watch?v=YqgxhzP8UV4. Let's close this issue.

[2022-03-22 17:08] #679 closed, assigned to nobody

[2022-03-22 19:24] vbatts opened #686 "[RFE] support PTP (hardware clock) for time synchronisation"
## Description
[PTP](https://en.wikipedia.org/wiki/Precision_Time_Protocol) is recommended in various environments, particularly in [Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/time-sync). Their recommendation is to use chronyd, which is not included in Flatcar's minimal fs, and would be an exercise to bundle in a container with host devices.

It seems that systemd-timesyn

[2022-03-22 23:48] kh34 commented on #683
@AlexisMontagne I'm seeing the same issue using Flatcar stable 3033.2.0 and with:

[code]

In my case, ~11 hours in the future.

[2022-03-23 07:36] jepio commented on #683
These nodes come from https://www.ntppool.org/en/, the Flatcar project doesn't control them. The 'X.flatcar.pool.ntp.org' is an alias assigned to a vendor, but refers to the public pool of machines.

For 86.108.190.23 I found a reference to something like this happening last year: https://forum.proxmox.com/threads/ntp-node-has-backed-in-time-for-5h.82767/.

There is nothing we can do here.

[2022-03-23 07:39] jepio commented on #683
You may consider overriding the server config to use a different pool that you trust or following the advice from ntpool.org:

[2022-03-23 08:47] dongsupark opened #687 "Release Flatcar Container Linux Alpha 3185.0.0, Beta 3139.1.1, Stable 3033.2.4"
## Release Flatcar Container Linux Alpha 3185.0.0, Beta 3139.1.1, Stable 3033.2.4

The release of Flatcar Container Linux Alpha 3185.0.0, Beta 3139.1.1, Stable 3033.2.4 is planned for Mar. 23rd, 2022.

### Tasks
- [x] Go / No Go tracking folder created, tracking doc added (@dongsupark)
- [x] All planned changes are merged & blocker bugs are fixed (@dongsupark)
- [x] Branch off main (only new major

[2022-03-23 09:32] t-lo commented on #686
As a stop-gap solution an alpine / chrony container would serve as a work-around:
[code]

then
[code]

[2022-03-23 10:12] pothos opened #688 "Reduce vmlinuz size"
## Description

The boot partition has to fit both kernels on update. If both are > 60 MiB they won't fit. Therefore, we always have to ensure that the vmlinuz file is < 60 MiB. On arm64 we are closely approaching the limit (new Alpha has a ~57 MiB vmlinuz).

## Impact

To avoid hitting the size limit we may have to block a security update.
And of course updates will break for users if we release

[2022-03-23 10:15] pothos opened #689 "arm64 image differences"
## Description

Some binaries and libraries are not present on the arm64 image.

## Impact

It may be confusing to users or block a migration to arm64 when suddenly something is missing that was present on amd64

## Environment and steps to reproduce

This will give the list:
[code]

## Expected behavior

Where it makes sense the arm64 image should be the same as the amd64 image

## Additional inf

[2022-03-23 10:22] pothos commented on #687
I've reviewed the image contents changes and size. Created two follow-up issues https://github.com/flatcar-linux/Flatcar/issues/688 and https://github.com/flatcar-linux/Flatcar/issues/689

[2022-03-23 13:59] vbatts commented on #686
right on. And since you disabled the system service, you might should make that container a `--restart=always` and make sure that `docker.service` is enabled, and not just `docker.socket`.
Ideal fix would be PTP feature in systemd-timesyncd.

[2022-03-23 14:31] t-lo commented on #686
Actually, we can pass this via an ignition config and run the chrony container as a systemd service. Please find the config below - just a braindump for now so we can turn it into documentation later:

CT config (human-readable, for editing and adjusting): **use_chrony.yaml**
[code]

Run this to convert to ignition config:
[code]

Use this with `az vm create [...] --custom-data ignition.json`
**ig

[2022-03-23 22:42] andy-v-h commented on #347
I'm not sure this would be an issue. In the Equinix Metal production environment, we use `kexec` for many customer OS installations across many hardware types with a wide array of components, firmware, and target kernels to initialize to.

[2022-03-23 23:37] mtougeron opened #690 "pam_sss.so missing from arm64 images"
## Description

I'm trying to configure SSH the same on both my amd64 nodes & arm64 nodes but the `pam_sss.so` does not exist on the arm64 images (AWS) for me to use.

## Impact

I'm unable to use sssd on arm64 VMs

## Environment and steps to reproduce

1. Launch an AWS amd64 VM with version `3033.2.4` of Flatcar
2. Once the VM is running, `ls -la /usr/lib64/security/pam_sss.so` and you'll see th

[2022-03-24 06:11] norve opened #691 "[RFE] update-ssh-keys: Add ecdsa-sk and ed25519-sk (U2F/FIDO security key) support"
When I try to add an ecdsa-sk or ed25519-sk key generated using my hardware U2F/FIDO security key to ~/.ssh/authorized_keys.d/, and run the update-ssh-keys command, I get the following message:
$ update-ssh-keys
warning: failed to parse public key "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1l...AAAABHNzaDo= yubikey": unsupported keytype: sk-ssh-ed25519@openssh.com, omitting from authorized_keys
war

[2022-03-24 09:17] pothos commented on #689
Here one concrete case: https://github.com/flatcar-linux/Flatcar/issues/690

[2022-03-24 10:22] t-lo opened #693 "[RFE] ci-automation: Provide a minimal Kola / qemu container for reproducably running tests"
## Current situation

In the classic build environment, tests are not reproducible since kola versions used for testing are not recorded. This leads to a divergence between community / 3rd party testing and our CI / release tests.

In the containerised build environment, the SDK's kola version is updated to the respective kola release corresponding to the OS version being tested (based on the git

[2022-03-24 12:53] jepio commented on #689
sssd pulls in samba which pulls in liburing, which doesn't cross-compile. I've opened an upstream PR with a fix: https://github.com/gentoo/gentoo/pull/24733. Other than that there's a one keyword to be added.

[2022-03-24 13:28] dongsupark commented on #685
Thanks for creating the issue.

Actually that error is not present only until v250.3.
In v250.4 or newer, it would fail like that just like v249.11, because v250.4 has also the following commits:
* https://github.com/systemd/systemd-stable/commit/397ede8dcd29f35350c015f1d945e50c88476a93
* https://github.com/systemd/systemd-stable/commit/056fcd4e318aa664bd36950bf6c2dae4647c96c7

[2022-03-24 16:43] pothos commented on #688
First small size reduction in https://github.com/flatcar-linux/coreos-overlay/pull/1750

[2022-03-24 17:13] t-lo opened #694 "[RFE] ci-automation: Build nightlies only on changes, push nightly build tags to branches"
## Current situation
1. Nightlies are build unconditionally - even when there was no change to the previous nightly.
2. Nightly builds generate a build tag and push it to the repo. While "main" branch build tags are pushed to the "main" branch, release branch tags are not pushed to any branch.
3. Thirdly, the "main" branch is always built from scratch - SDK and OS image - but currently generates t

[2022-03-24 19:01] pothos commented on #347
So two use cases, one is the reboot and the other is after installation from PXE. Would it work to kexec into GRUB?

[2022-03-24 19:05] pothos commented on #347
Actually it may help to work on https://github.com/flatcar-linux/Flatcar/issues/624 first, then we don't have to care about GRUB and kernel parameters so much

[2022-03-24 19:16] pothos commented on #396
The new Alpha has Ignition v3 which includes the "kargs" directive to set kernel parameters and reboot from the initramfs to make them match the expected values

TODO: call this out in the docs that talk about autologin

[2022-03-24 19:21] pothos commented on #207
We decided to drop even rngd because since kernel 5.4 the issue of early-boot blocking is resolved and now with the upcoming kernels even /dev/random will just behave like /dev/urandom.

[2022-03-24 19:21] #207 closed, assigned to nobody

[2022-03-24 19:22] pothos commented on #205
New idea, make this a sysext image?
Edit: Should be part of a combined "hypervisor" extension that includes qemu-user, qemu-system (regular QEMU stuff), and Cloud Hypervisor or even something like Kata.

[2022-03-24 19:29] pothos commented on #72
`ct` Docker image in docs is done

- [ ] The validation with `ignition-validate` is not yet mentioned in the docs.

Jeremi made a PoC for a transpilation website.

[2022-03-25 13:17] pothos commented on #647
This is what I meant for phase 1 and generating the tmpfile config:
https://github.com/flatcar-linux/scripts/pull/264

This should take care of being able to use upstream ebuilds.

[2022-03-25 15:02] t-lo commented on #560
Amazing work @cpswan I just read your blog about this: https://blog.atsign.dev/google-cloud-custom-metrics-cl16j2q2b05gujonv0h9x2dg5

Just out of curiosity, would you be interested in adding your approach (and your script)  to our [GCP platform docs](https://github.com/flatcar-linux/flatcar-docs/blob/main/docs/installing/cloud/gcp.md) as a work-around for our lack of ops agent?
(after merging this

[2022-03-25 15:27] cpswan commented on #560
Sure @t-lo I've done a docs PR here before so I'll dive in for another...

[2022-03-25 15:30] t-lo commented on #560
Awesome, thank you!

[2022-03-25 15:41] norve commented on #691
@jepio Identified that the list of supported key types that update-ssh-keys references is provided here: https://github.com/coreos/openssh-keys/blob/main/src/lib.rs#L79-L87

ssh-ed25519 and ecdsa-sha2-nistp256 are listed as supported keys, but the formats are different from sk-ssh-ed25519@openssh.com and sk-ecdsa-sha2-nistp256@openssh.com.

[2022-03-26 10:03] jkroepke commented on #220
Hi there.

I'm currently testing

The alpha version include ignition 2 which supports IMDSv2 natively -> https://github.com/flatcar-linux/ignition/pull/32#issuecomment-1073702170

[code]

But the coreos-metadata service still has some issues, if token is required.

[code]

This confuse me, since afterburn supports IMDSv2 - https://github.com/coreos/afterburn/issues/305

Luckly, machines will not l

[2022-03-26 16:16] jepio commented on #220
Yes definitely, that is planned. I would expect it to happen before ignition v3 hits stable.

[2022-03-28 11:26] pothos commented on #387
Ignition is done, Afterburn is next.

Rough list for the tasks needed:
- [x] There are two changes that we need to port over: 212b2f458ef648b9dd064df2f1e85488ee46ed49 (for ignition.platform.id=→flatcar|coreos.oem.id as kernel parameters) and e2e89fcba45a390fe88550506656e67dee9da819 (upstream PR https://github.com/coreos/afterburn/pull/728)
- [x] For the name of the binary we can set up a symlink (

[2022-03-28 14:40] pothos commented on #387
Here a port of the afterburn kernel parameter patch
[0001-util-cmdline-Handle-the-cmdline-flags-as-list-of-sup.patch.txt](https://github.com/flatcar-linux/Flatcar/files/8363781/0001-util-cmdline-Handle-the-cmdline-flags-as-list-of-sup.patch.txt)
It also reintroduces the cl-legacy build flag.

[2022-03-28 17:17] tormath1 opened #695 "[RFE] rework SELinux patches"
## Current situation

On Flatcar, we have SELinux patches. Some of these are quite old and could be upstreamed or purely deleted. Let's gather the feedback we had from an interesting discussion with https://wiki.gentoo.org/wiki/Project:SELinux folks:
- [x] `selinux-unconfined`: no customization -> let's move it to `::portage-stable`: https://github.com/flatcar-linux/portage-stable/pull/314
- [ ] [

[2022-03-28 17:58] perfinion commented on #673
Some quick thoughts that might be useful here:
1) setfiles has a `-r /alt_root/` (instead of chroot'ing).
2) you probably want to use `setfiles -D Set or update any directory SHA1 digests. Use this option to enable usage of the security.sehash extended attribute.` it is originally from android. it puts the hash of the policy in the xattr so if there is no policy change it quits early. Android uses

[2022-03-29 05:43] #681 closed, assigned to nobody

[2022-03-29 05:59] Akshaybaisla opened #696 "getting "avc: denied" messages in system logs"
On applying Flatcar recommendations as mentioned in https://www.flatcar.org/docs/latest/setup/security/selinux/ . when checking system logs getting many messages as "avc: denied". what we have to do now?
avc log message-
" localhost kernel: audit: type=1400 audit(1648446800.796:86): avc:  denied  { bpf } for  pid=1 comm="systemd" capability=39  scontext=system_u:system_r:kernel_t:s0 tcontext=syste

[2022-03-29 08:36] tormath1 commented on #696
hi @Akshaybaisla thanks for your feedback - this is a known issue: https://github.com/flatcar-linux/Flatcar/issues/509 and it should be solved with the next SELinux upgrade.

If these AVC messages are blocking your workload, you can still temporary keep SELinux to permissive mode.

[2022-03-29 17:21] invidian commented on #445
Happy to ping everyone informing that CAPA support has been merged today :tada:

[2022-03-30 06:09] Akshaybaisla commented on #696
hi @tormath1  When SELinux upgrade will be released?

[2022-03-30 06:47] tormath1 commented on #696
Hi, upgrade is quite in progress and we mainly wait for this issue: https://github.com/flatcar-linux/Flatcar/issues/479 in order to ship more standard SELinux module for handling containers. You can subscribe to the issue to track progress on it.

Can you describe a bit your workload ? As far as I can tell, these errors should not impact it _directly_.

[2022-03-30 11:11] #686 closed, assigned to t-lo

[2022-03-30 11:18] ashish-dua opened #698 "Getting OOM issues on Flatcar Latest Release: 3033.2.4"
Getting OOM issues on Flatcar Latest Release: 3033.2.4
We upgraded Flatcar Version from 2904.2 to 3033.2.4 yesterday But Now Users are reporting OOM issues

Also checked by logging into Flatcar node : dmesg showing OOM messages in every node upgraded with Flatcar version: 3033.2.4

Tasks state (memory values in pages):
[88559.579211] [  pid  ]   uid  tgid total_vm      rss pgtables_bytes swapents

[2022-03-30 11:23] jepio commented on #698
Hi @ashish-dua,
What java version are you running? Are you configuring any memory limits for your java application?

The biggest difference between Flatcar 2904.2 and 3033.2.4, is that 3033 uses cgroupsv2 by default and not all java versions correctly handle memory limits under cgroupsv2. Would you check the docs at https://www.flatcar.org/docs/latest/container-runtimes/switching-to-unified-cgroup

[2022-03-30 11:42] ashish-dua commented on #698
Using Java version 8 in applications, Should the Java version be upgraded in that case?

[2022-03-30 11:48] ashish-dua commented on #698
Using Java version 8 in applications and Memory limits are also configured for Java applications, Should the Java version be upgraded in that case?

[2022-03-30 12:10] jepio commented on #698
I'm not very familiar with the java ecosystem, according to this issue https://bugs.openjdk.java.net/browse/JDK-8230305 it is possible that the needed changes have been (or will be) backported to Java 11, but not Java 8.

I think you will need to revert to cgroupsv1 for the time being and separately explore upgrading to a current java LTS (17).

[2022-03-30 14:40] jyotishsre36 commented on #698
Hello @jepio : We are also noticing same issues with pods running java11 applications apart from java8 ....is it something which is expected..

[2022-03-30 14:55] dongsupark commented on #622
Nebraska [2.7.0](https://github.com/kinvolk/nebraska/releases/tag/2.7.0) was released with bug fixes, and the public server was also updated.

[2022-03-30 14:55] #622 closed, assigned to nobody

[2022-03-30 15:08] jepio commented on #698
Hi @jyotishsre36,
please check if switching back to cgroupsv1 solves your issue. We have had multiple reports of java based applications having problems running on cgroupsv2. Could you see if things are better with Java 17?

[2022-03-31 12:29] pothos commented on #694
First PR here: https://github.com/flatcar-linux/scripts/pull/266

A follow-up PR will address the point 4 of using a release version in version.txt for the OS in the nightly release branch builds, while still using the nightly build tag. This requires to rework the logic that currently assumes that the tag corresponds to the OS version.

[2022-03-31 14:20] pothos opened #699 "Alpha: ignition v3 should write SSH pub keys to authorized_keys.d"
## Description

When updating to the new Ignition version the ebuild file set `distro.writeAuthorizedKeysFragment=false` to write the SSH pub keys to `.ssh/authorized_keys` directly instead of `.ssh/authorized_keys.d/flatcar-ignition` as before.

## Impact

The keys will get lost when update-ssh-keys rewrites the `.ssh/authorized_keys` file

## Environment and steps to reproduce

Didn't try to rep

[2022-03-31 16:35] tormath1 commented on #220
@jepio I had a look to AWS API: by default, metadata request supports both version (1 and 2) and new afterburn defaults to v2 and fallback to v1 in case of failure.
So I think we can keep our tests in the current way.

[2022-04-01 02:37] Winnie81 commented on #608
@t-lo Is there any progress for this issue? Thanks!

[2022-04-01 11:23] lizelive opened #700 "[RFE] docs for lvm support"
## Current situation

i want to use lvm to setup caching

## Impact
improve filesytem performance

## Ideal future situation

be able to enable lvm by enabling some systemd service

i think
`systemctl start lvm2-monitor.service`
works but idk much about lvm

[2022-04-01 11:56] pothos commented on #700
You can create the LVM setup with pvcreate, vgcreate, lvcreate, and lvconvert as usual.

Here is some copy paste snippet:

## Setting up the LVM cache

First, we create physical volumes for our devices, and check that it worked
correctly:

[code]

Then, we create a volume group with our three physical devices. In that volume
group, we create three logical volumes: one for the data, another for the

[2022-04-04 15:40] pothos opened #701 "[RFE] ci-automation: Decouple OS version from build tag"
Follow-up for https://github.com/flatcar-linux/Flatcar/issues/694

## Current situation

The the CI pipeline assumes that the git tag mandates the OS version.

## Impact

We have to create the release tags before starting a build. We can't, e.g., start a (nightly or manual) build with a release OS version from a dev/nightly git tag.

## Ideal future situation

The OS version is decoupled from the

[2022-04-04 15:40] pothos commented on #694
Split out point 4 in a separate [issue](https://github.com/flatcar-linux/Flatcar/issues/701) (it wasn't part of the original issue here anyway)

[2022-04-04 15:40] #694 closed, assigned to pothos

[2022-04-04 15:50] alban commented on #673
Thanks for working on this.

For the record, I had an issue with the Security Profiles Operator Daemon and Flatcar 3185.0.0. I will post below in case it helps someone with the same problem (https://xkcd.com/979/)

It failed to start with:

The current workaround:
* `kubectl edit SecurityProfilesOperatorDaemon -n security-profiles-operator spod`
* `selinuxTypeTag: unconfined_t`

[2022-04-04 16:02] JAORMX commented on #673
For the record, the SPO (Security Profiles Operator) runs the daemon with `spc_t` by default. This doesn't work with the current refpolicy version that ships with Flatcar. An update is needed.

[2022-04-04 18:34] #699 closed, assigned to pothos

[2022-04-05 07:07] Akshaybaisla opened #702 "docker container are not getting started in flatcar version 2983.2.1 and also with 3033.2.4"
we have a build dated 02-feb-2022 with 2983.2.1 which is working fine and the docker is also working but now when we are creating a new build either with 2983.2.1 or 3033.2.4 version and post configuring it, while executing - we are getting this error.
<img width="875" alt="image" src="https://user-images.githubusercontent.com/71061446/161695894-0b3b376e-4c3a-4557-b72b-b84533610b10.png">

[2022-04-05 07:42] jepio commented on #702
Hi @Akshaybaisla,
can you:
1. paste the output of `ls -la /usr/share/torcx/store`
2. share what steps you are performing in post-configuring? Please be as detailed as you can.

[2022-04-05 10:10] Akshaybaisla commented on #702
Hi @jepio,
1. Run cork command - "cork -d create --manifest-branch=flatcar-stable-3033.2.4 --manifest-name=release.xml --manifest-url https://github.com/flatcar-linux/manifest.git --sdk-version=3033.0.0".
2. Run command- "cork enter".
3. Once inside chroot. Run these command
#once inside chroot set the password.
"./set_shared_user_password.sh"
#set build target as amd64
"./setup_board --default --

[2022-04-05 10:52] jepio commented on #702
What exactly are steps 4 or 5?

A torcx package for docker is built during `./build_packages` step but installed when `./build_image` is done. You need to run the following steps after step 3 to generate a valid image:
[code]

You can also accomplish the same as `set_shared_user_password.sh` by providing an ignition config at runtime that sets the password: https://www.flatcar.org/docs/latest/prov

[2022-04-05 12:30] Akshaybaisla commented on #702
Steps- ./build_packages and ./build_image already exist in our code even then docker containers are not working

[2022-04-05 13:05] t-lo opened #703 "Community Call 2022-04-12"
## TODO list for the meeting
  - [x] 1 week before meeting: Create Agenda (@t-lo ) - https://github.com/flatcar-linux/Flatcar/discussions/704
  - [x] 1 week before meeting: Tweet "ask for input" (@t-lo) w/ link to agenda PR (so people can add topcis)
  - [x] Monday before meeting: Finish Agenda @t-lo
  - [x] Monday before meeting: Tweet announcement @[owner]
  - [x] 1h before meeting: announce in

[2022-04-05 13:20] jepio commented on #702
`./build_packages` builds a torcx package for docker (https://github.com/flatcar-linux/scripts/blob/main/build_packages#L304-L307), and `./build_image` installs that torcx package into the image at /usr/share/torcx/store (https://github.com/flatcar-linux/scripts/blob/main/build_library/build_image_util.sh#L593-L611). They also need to be executed within the chroot. You can find the built torcx pac

[2022-04-05 16:16] cpswan opened #705 "Nodes not rejoining Docker Swarm after reboot"
## Description

When a Flatcar Linux based worker node is rebooted it shows as `DOWN` in the list returned by `docker swarm node ls`.

## Impact

The docker service needs to be restarted on the worker node with `sudo systemctl restart docker`

## Environment and steps to reproduce

1. **Set-up**: Flatcar 3033.2.4 (and 3033.2.2 previously)
2. **Task**: Rebooting a node
3. **Action(s)**:
  a. drain

[2022-04-05 17:09] jepio commented on #705
Hi @cpswan

The default docker service is socket activated, have you executed `systemctl enable docker.service` to make sure the docker service is brought up after a reboot?

[2022-04-06 07:50] cpswan opened #706 "How long to wait between update_engine_client -reset_status and -check_for_update ?"
## Description

When we find a node that doesn't have the latest version ready for upgrade we run `update_engine_client -reset_status` then `update_engine_client -check_for_update` according to the [Double update workaround](https://www.flatcar.org/docs/latest/setup/releases/update-strategies/#double-update-workaround) but we've found that it's not simply a case of running those two commands back

[2022-04-06 10:20] till commented on #705
I can confirm, we use a workaround via systemd to poke the service and force start-up. Then node reboots work.

[2022-04-06 10:49] jkroepke opened #707 "Flatcar on EC2 sets a incorrect os hostname"
## Description

By default, on flatcar (Alpha?), the hostname contains dots and systemd-networkd is not set hostname received through DHCP.

Readings the docs at https://www.freedesktop.org/software/systemd/man/hostnamectl.html, a system hostname should not contain any dots and should be a single dns label.

Also Debian follows this pattern.

On Flatcar, the `/etc/hostname` is populated by coreos-

[2022-04-06 10:54] jkroepke commented on #707
I also enable debug log of networkd https://superuser.com/a/1234599

[code]
I can verify, that transient hostname is still set by systemd-networkd, but since the `/etc/hostname` is populated through coreos metadata, the transient hostname does not matters.

Apr 06 10:46:37 i-08115ab723fbe0417.eu-central-1.compute.internal systemd-networkd[184971]: Setting transient hostname: 'i-08115ab723fbe0417'

[2022-04-06 11:19] jkroepke commented on #707
Hi,

running

[code]

Resolve the issue.

[code]

This is the current workaround, that I use for now.

[code]

[2022-04-06 13:35] tormath1 commented on #707
Hi,

Thanks for raising this issue - I think it should be solved with this commit: https://github.com/coreos/afterburn/pull/673/commits/860db5c2df12251d2a597368b12546a707e14e75 which is about to be merged (see: https://github.com/flatcar-linux/coreos-overlay/pull/1769).

The hostname will be truncated to the first dot, so in your case: `i-00c64910e1b14a8ef.eu-central-1.compute.internal` will becom

[2022-04-06 16:44] jepio commented on #705
For reference, here's the section of the documentation that provides a config snippet to achieve this:
https://www.flatcar.org/docs/latest/container-runtimes/getting-started-with-docker/#permanently-running-a-container

[2022-04-06 16:54] cpswan commented on #705
Thanks all. I haven't had the chance to test yet, but looks like this is a well paved path, so closing.

[2022-04-06 16:54] #705 closed, assigned to nobody

[2022-04-06 17:12] jkroepke commented on #707
How I can disable services that runs inside initramfs? I would expect, that ignition configure only unit files in `/sysroot`, not configure services inside initramfs.

On a bootet system, there is such no service.
[code]

The ability to disable flatcar-metadata-hostname.service would be great.

[2022-04-06 19:42] jkroepke commented on #707
Hi @tormath1

i looked into https://github.com/coreos/afterburn/commit/860db5c2df12251d2a597368b12546a707e14e75 . As I understand, the hostname is truncated only if the FQDN have more than 64 bytes. This is not the case here. Even on us-east-1, since the FQDN does not include the region.

in conclusion, https://github.com/flatcar-linux/coreos-overlay/pull/1769 would not help here, EXCEPT https://g

[2022-04-07 10:42] sayanchowdhury opened #708 "Release Flatcar Container Linux Alpha 3200.0.0, Beta 3185.1.0, Stable, 3139.2.0, and LTS 2605.27.1"
## Release Flatcar Container Linux Alpha 3200.0.0, Beta 3185.1.0, Stable, 3139.2.0, and LTS 2605.27.1

The release of Flatcar Container Linux Alpha 3200.0.0, Beta 3185.1.0, Stable, 3139.2.0, and LTS 2605.27.1 is planned for April 7th, 2022

### Tasks
- [x] Go / No Go tracking folder created, tracking doc added (@sayanchowdhury )
- [x] All planned changes are merged & blocker bugs are fixed (@flatc

[2022-04-07 10:58] dongsupark commented on #662
Done. GCP was published last week.

[2022-04-07 10:58] #662 closed, assigned to sayanchowdhury, dongsupark

[2022-04-07 15:40] t-lo commented on #708
SDK containers for 3200.0.0 created and uploaded: https://github.com/orgs/flatcar-linux/packages/container/package/flatcar-sdk-all .

[2022-04-07 16:27] jkroepke commented on #698
HI there,

https://bugs.openjdk.java.net/browse/JDK-8230305 is the correct hit.

we run into this issue, too. Debian 11 also switch to cgroup v2 only and all our java applications runs into OOM. It's not a Flatcar specific issue!

Re-enable cgroupsv1 helps us short-term. Long term, we have to upgrade everything to Java 17.

If you are using flatcar as kubernetes worker and are running Java 8/11 Ap

[2022-04-07 19:14] goochjj opened #710 "newest beta 3185.1.0 does not boot"
## Description

Dependency failed for ensure-sysext.service (over and over and over and over again until I reboot)

## Impact

Machines do not reboot cleanly after the update is applied.  I have to reboot the VM manually (which boots on the old OS image)

## Environment and steps to reproduce

1.  Have a machine running beta or stable
2. Set group to beta
3. Apply update
4. reboot
5. fail

## Expe

[2022-04-07 19:15] goochjj commented on #710
Probably related to https://github.com/flatcar-linux/init/pull/65

[2022-04-07 19:19] goochjj commented on #710
masking the service before rebooting solves the problem; however, knowing you HAVE to do that (across all my VMs) is a whole other story.

[2022-04-07 19:23] tormath1 commented on #710
Hi @goochjj,

First thanks a lot for running beta nodes - do you have any log / information to provide for this:

[2022-04-07 19:25] goochjj commented on #710
Since my system is complete non-functional when I reboot, I have nothing.

Now that I have the unit masked I can try to collect some logs

[2022-04-07 19:26] tormath1 commented on #710
Awesome, thanks. In the meantime, we are going to try to reproduce the issue - just to confirm: you were on a Stable and you switched to Beta ?

[2022-04-07 19:28] goochjj commented on #710
Beta to Beta and Stable to Beta both do it

[2022-04-07 19:35] goochjj commented on #710
It may be part of some of my customizations, i.e.:

# systemctl cat ensure-sysext.service
# /usr/lib/systemd/system/ensure-sysext.service
[Unit]
BindsTo=systemd-sysext.service
After=systemd-sysext.service
DefaultDependencies=no
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/systemctl daemon-reload
ExecStart=/usr/bin/systemctl restart --no-block sockets.target timers.target multi-use

[2022-04-07 19:36] goochjj commented on #710
Removing my onfailure entry doesn't help

[2022-04-07 19:47] tormath1 commented on #710
Ok, thanks for the logs.

I tried to reproduce locally on QEMU environment from `beta-3139.1.1` -> `beta-3185.1.0` and it boots fine. However, I do see the dependency issue but it should not prevent the instance to boot.

What does `systemctl status failuremgmt-failure@ensure-sysext.service.service` say ?

[2022-04-07 20:08] tormath1 commented on #710
I've been able to reproduce with the following ignition:
[code]

I think the `OnFailure` makes the unit seen as "failed".

[2022-04-07 20:10] goochjj commented on #710
failuremgmt basically does this
[Unit]
Description=Unit Status Failure Management
After=network.target

[Service]
Type=simple
ExecStart=/opt/bin/failuremgmt-unit-failed %i

Which just emails me :-D

[2022-04-07 20:32] goochjj commented on #710
Status looks ok
○ failuremgmt-failure@ensure-sysext.service.service - Unit Status Failure Management
     Loaded: loaded (/etc/systemd/system/failuremgmt-failure@.service; static)
    Drop-In: /etc/systemd/system/failuremgmt-failure@.service.d
             └─email-failure.conf
     Active: inactive (dead) since Thu 2022-04-07 16:28:34 EDT; 3min 3s ago
    Process: 2827 ExecStart=/opt/bin/failuremg

[2022-04-07 20:54] goochjj commented on #710
The part I can't really test is a dependency on sysinit - to get it to boot I have to mask the ensure-sysext service, which I think is probably invalidating some of my testing, because it's entirely possible something just isn't there yet when it's running in realtime.

And since I've now definitely booted this VM into the new OS, it'd be hard to back out I suppose.

I can see about snapshotting t

[2022-04-08 00:49] goochjj commented on #710
More logs mined from journalctl
[code]

[2022-04-08 00:53] goochjj commented on #710
Confirmed working without my OnFailure=

[code]

I will look into other options, unless you have some suggestions.  Really I have the email notices in there to detect boot-up issues, but I'd love for that dropin to only apply after sysinit... or at a specific point in the boot sequence. I'll have to dig further and come up with a solution.

For that matter if sysext is firing, /usr and /opt may no

[2022-04-08 02:00] karthikeyanvenkatraman commented on #585
I see this is resolved now with the release of ecs agent v1.61.0 this morning.

[2022-04-08 07:23] tormath1 commented on #585
@karthikeyanvenkatraman this is great - it's a really good news. Did you get a chance to test it ?

[2022-04-08 07:49] karthikeyanvenkatraman commented on #585
@tormath1 , yes. we did roll out the changes and did not notice any issues until now.

[2022-04-08 08:43] peters5 opened #711 "NFSv4 mounts not working on Flatcar version 3139.2.0"
## Description

In the latest Flatcar stable release 3139.2.0 it is impossible to mount NFSv4 shares. Originally this behavior was discovered when our Kubernetes cluster stopped working after the Flatcar upgrade. We are using NFS for persistent volumes and all the volumes could not be mounted. When analyzing the problem it turned out that this issue is not related to Kubernetes, but that the under

[2022-04-08 09:23] #387 closed, assigned to tormath1

[2022-04-08 09:25] tormath1 commented on #387
Afterburn and Ignition are now upgraded and synced with upstream:
* Ignition spec3 is available from `3185.0.0`
* Afterburn-5.2.0 should be available in the Alpha release

[2022-04-08 10:11] tormath1 opened #712 "[RFE] Get `flatcar_production_image_packages.txt` into the OS"
Many enterprise companies (I can only speak for germans here) have a requirement to gather the software inventory from each running VM. Currently, I'm able to write a script which curls the packages.txt to the running VM. This is okay. But everybody has to do this.

In case, Flatcar would deliver this file inside the /usr as part of the distribution itself in a standardised way, tools like https:/

[2022-04-08 10:13] tormath1 commented on #712
Implementation idea could be to have two files:
* `flatcar_production_image_packages.txt` as the one currently generated
* `flatcar_production_oem_packages.txt` for OEM packages

[2022-04-08 12:42] jepio commented on #698
Thanks for confirming

[2022-04-08 13:38] goochjj commented on #710
I've made a unit that fires after network-online.target that dumps my service.d/ dropin into /run, instead of having it in etc.  This seems to work quite nicely, actually, and eliminates the problem.

I'll leave it to you whether you want to investigate further. :-D

[2022-04-09 07:40] comphilip commented on #711
@peters5 I have the same issue after upgrade to 3139.2. I found more information.

There are several NFS servers. One is QNAP device with version [QTS 5.0.0.1891 build 20211221](https://www.qnap.com/zh-hk/release-notes/qts/5.0.0.1891/20211221), kernel version: 5.10.60. The others are Ubuntu 20.10 LTS.

Kubernetes pods work fine with vers=4.2 to Ubuntu server, but stuck on QNAP. QNAP works well wit

[2022-04-09 19:32] jepio commented on #711
Thanks for the QNAP suggestion. I find the following reports of a potential upstream kernel issue (not sure if it's considered a regression yet).
* https://lore.kernel.org/all/50bd4b4d-3730-4048-fcce-6c79dfe70acf@garloff.de/T/#u
* https://lore.kernel.org/all/a494ba2b-7e2c-bcad-bac9-12804b113383@garloff.de/T/#u

For the time being I would recommend explicitly forcing nfs 4.0 if possible, while upst

[2022-04-10 16:49] peters5 commented on #711
The QNAP finding is indeed a very good point, thanks @comphilip. We are also using QNAP as the NFS server. The QNAP device has QTS 4.5.2.1594 (which is pretty old).

Also thanks a lot for the links to the kernel lists @jepio, I did not find these before. Forcing NFS 4.0 would be the way to go I guess until this is fixed in kernel or maybe even on QNAP side.

[2022-04-11 07:21] jepio opened #713 "[RFE] update google guest agents to latest versions"
## Current situation

We ship Google guest agents together with python inside of a container. The version we use is from 2018, and the build of the agent ACI is different than all the other platforms that we ship.

## Impact

Outdated guest agents don't support latest features on Google Cloud.

## Ideal future situation

We update the agents/configuration to the latest version and stop shipping th

[2022-04-12 07:40] pothos commented on #706
Thanks for the report. Does `systemctl restart update-engine` have a similar effect as the sleep time?

[2022-04-12 07:50] sayanchowdhury commented on #708
Azure has gone live for two offers, Pro is stuck with some issues and should be live tomorrow.

[2022-04-12 07:50] pothos commented on #707
Sounds like we should either exclude ec2 again or throw away the existing shell logic and adapt the new afterburn unit to set the hostname?

[2022-04-12 08:10] pothos commented on #712
We have this information already in `/usr/share/licenses/licenses.json.bz2`, e.g., read it with `less /usr/share/licenses/licenses.json.bz2` or the command mentioned in `/usr/share/licenses/INFO`. We can also add a command that prints only the package version and skips other info.

[2022-04-12 08:15] pothos commented on #710
Seems we need to duplicate the conditions from `systemd-sysext.service` into this unit:

[code]

[2022-04-12 09:31] jepio commented on #710
This will be a stupid questions but could the ensure-sysext.service commands be added via drop-in to systemd-systext.service as ExecStartPost?

[2022-04-12 09:46] pothos commented on #710
Seems also to be a good option, I've tested it and it works well even if other ExecStartPost entries are present.

[2022-04-12 09:46] pothos commented on #710
(Not sure how a user would disable a drop-in, maybe with an empty one of the same name)

[2022-04-12 10:15] jepio commented on #710
Oh, if disabling is a concern then a separate unit is probably more sane.

[2022-04-12 10:16] ffilippopoulos opened #714 "oem-gce.service is broken after upgrading to flatcar 3139.2.0"
## Description

We have a Kubernetes cluster running on gcp nodes using flatcar os. When we updated nodes from flatcar version 3033.2.4 to 3139.2.0 (latest) we noticed that oem-gce.service fails to start with the following logs:

[code]

## Impact

Since this service is critical for a few gcp features, including setting up host ip routes, a lot of things broke. In particular, we noticed as our ext

[2022-04-12 10:35] jepio commented on #714
Hi @ffilippopoulos,
thanks for reporting this, I stumbled across this and am in the process of righting this. Will fix in all branches.

Can I ask you a favor - would you be able to paste the `journalctl -u oem-gce.service` logs from a working version (3033.2.4) for me?

[2022-04-12 10:59] ffilippopoulos commented on #714
Hi @jepio Thanks for the quick response and for looking into this one!

Here are the requested logs:
[code]

[2022-04-12 12:00] pothos commented on #710
Not really the main concern, the main concern was to make clear that this is something custom to Flatcar. The ExecStartPost action is nice because it's something we could try to upstream but I'm not really sure it gets accepted… I'll take a note.

[2022-04-12 12:49] pothos commented on #656
Checked Ignition support and only Custom Data (the emulated CD-ROM) is supported at the moment: https://github.com/coreos/ignition/blob/main/internal/providers/azure/azure.go

[2022-04-12 12:52] tormath1 commented on #656
Yeah. I'm currently looking at the Azure SDK to get something similar to AWS: https://github.com/coreos/ignition/blob/main/internal/providers/aws/aws.go#L123-L139.

Resources:
* https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service?tabs=linux#get-user-data

EDIT: I think the logic could be the following:
1. Try to fetch user-data through: `http://169.254.169.254

[2022-04-12 15:06] cpswan commented on #711
I'm finding NFS with GCP NetApp Cloud Volumes is as unreliable as usual (random mount failures at reboot) after upgrading to 3139.2.0. My options string is `Options=rw,hard,rsize=65536,wsize=65536,vers=4.1,tcp`

I'm presently trying to test [.automount + .mount](https://github.com/systemd/systemd/issues/4468#issuecomment-730861560) to see if that's any more reliable, but being thwarted by login is

[2022-04-12 15:10] cpswan commented on #714
I was about to open a ticket reporting `gcloud compute ssh` asking for a password (that doesn't exist) but it looks like this is the root cause.

At least I can still use the `core` user.

[2022-04-12 15:45] jepio commented on #714
@cpswan / @ffilippopoulos

Would one of you be able to test a dev image: https://bucket.release.flatcar-linux.net/flatcar-jenkins/developer/developer/boards/amd64-usr/2022.04.07+dev-flatcar-master-5373/flatcar_production_gce.tar.gz? I'm curious if I fixed the issue with `gcloud compute ssh` or if more is broken.

The steps are basically: upload this file to google storage, and create an image from

[2022-04-12 16:10] cpswan commented on #714
Trying that image now @jepio

[2022-04-12 16:13] jepio opened #715 "[RFE] Improve Nvidia driver situation"
TODO: currently just a brain dump
* work with Nvidia to get driver-container solution working
* maybe publish pre-built drivers with every release for direct consumption? sysext?
* publish flatcar development container images to a container registry for easier consumption
* optimize build speed? bzip2 -> lbzip2; skip `emerge-gitclone` and `emerge coreos-sources` steps since /lib/modules is suffici

[2022-04-12 16:14] cpswan commented on #714
The dev image seem to be working. oem-gce.service has come up, and I'm able to `gcloud compute ssh` without specifying the core user.

[2022-04-12 16:14] jepio commented on #715
Would love to hear user feedback/pain-points since you know best what currently works/doesn't.

[2022-04-12 16:23] jepio commented on #319
I think this is what was needed to create a "seed" from a development container https://gist.github.com/jepio/7ee539b768f7a33953d137d0ff7c6abe.

[2022-04-12 16:38] sfotony opened #716 "[RFE] Arm64 Support for Azure Kubernetes Service (AKS)"
## Current situation

Azure recently announced [Azure Virtual Machines with Ampere Altra Arm-based processors](https://azure.microsoft.com/en-us/blog/now-in-preview-azure-virtual-machines-with-ampere-altra-armbased-processors/) is now in preview.  Flatcar was named as an OS whose support is "on the way".  I'd like to be able to use Flatcar on arm64 as the base for worker nodes on AKS.

## Impact

[2022-04-12 16:53] cpswan commented on #706
@pothos I'm struggling to come up with a practical way to test whether restarting the update-engine service will substitute for sleep, as I no longer have running instances that are >1 updates behind, and fresh installs of older images just grab the latest update rather than getting stuck on the next point release.

[2022-04-12 17:13] cpswan commented on #706
I figured it out with `flatcar-update`, and indeed it seems that a `systemctl restart update-engine` does the trick between `-reset_status` and `-check_for_update`. But then whether I need to bother with all that now that `flatcar-update` exists is a different question.

[2022-04-13 02:43] pothos commented on #706
Makes sense to change your approach and either use your own Nebraska update server to control the rollout or use [`flatcar-update --disable-afterwards`](https://www.flatcar.org/docs/latest/setup/releases/update-strategies/#disable-automatic-updates). Having updates downloaded without any reboot configured not only needs the workarounds above but also means that you would get unscheduled updates fr

[2022-04-13 08:08] pothos opened #717 "[RFE] Add afterburn-network-kargs service to initramfs for VMware static IP address configuration"
## Current situation

For VMware only DHCP works to set up networking in the initramfs, static IP addresses or special settings can't be used because they require to be passed via kernel command line

## Impact

VMware with static IP addresses means no remote content can be fetched with Ignition, this also impacts our CI coverage

## Ideal future situation

The initramfs network can be configured

[2022-04-13 08:09] pothos commented on #387
I took a look at the afterburn usage from bootengine and filed a PR to align the hostname setup and created a follow-up issue for additional functionality https://github.com/flatcar-linux/Flatcar/issues/717

[2022-04-13 08:14] ffilippopoulos commented on #714
I can also verify that the dev image is solving the issue for us as well @jepio
`oem-gce.service` starts fine and our load balancing seems to work as expected.
In case you need the `journalctl` logs from using the dev image:
[code]

[2022-04-13 09:35] #706 closed, assigned to nobody

[2022-04-13 11:08] pothos commented on #693
Draft for the container in https://github.com/flatcar-linux/mantle/pull/323
It covers all mantle binaries because, e.g., for some platforms `ore` is needed to create a cloud image before kola runs.

[2022-04-13 11:43] #710 closed, assigned to nobody

[2022-04-13 11:46] pothos commented on #710
Will be resolved in the next bug fix releases for Alpha/Beta

[2022-04-13 12:41] tormath1 commented on #479
`sec-policy/selinux-container` has been added upstream: https://github.com/gentoo/gentoo/tree/master/sec-policy/selinux-container

[2022-04-13 16:47] bgilbert commented on #656
As I recall, custom data is accessible until the VM reports to Azure that it is ready.  If the Afterburn Azure checkin is run `After=ignition-kargs.service` in the initrd, or in the real root, kargs should work properly with custom data.

[2022-04-13 16:49] invidian opened #718 "/usr/lib/sftp-server: No such file or directory error with Ansible with Packer"
## Description

Cross-report with https://github.com/kubernetes-sigs/image-builder/issues/859.

## Impact

Unable to build new CAPI images.

[2022-04-13 17:34] jepio commented on #656
Indeed the custom data dvd is available until it is either ejected or the check-in happens. On check-in the host will hot-unplug the whole dvd drive.

We don't use afterburn on Azure, since we ship the Azure Linux Agent and so the checkin happens at the end of boot, not in initrd.

[2022-04-14 06:50] pothos commented on #707
PRs ready for review: https://github.com/flatcar-linux/bootengine/pull/43 https://github.com/flatcar-linux/coreos-overlay/pull/1817

[2022-04-14 08:29] #707 closed, assigned to pothos

[2022-04-14 08:41] Winnie81 commented on #68
@t-lo @pothos  CoreOS has met EOL one year ago, but in the latest release 3139.2.0, " Ignition/coreos-cloudinit data", "Ignition/coreos-cloudinit data encoding" still exist, do you have any plan to fix it? If so, please reopen this issue. Thanks a lot.

[2022-04-14 08:49] pothos commented on #68
`coreos-cloudinit` is the name of the cloud-init implementation. There are also other appearances with "coreos" in variable names that won't go away any time soon for backwards compatibility.

[2022-04-14 08:53] jepio opened #719 "ansible_os_family detection produces different results on different Flatcar versions"
## Description

Ansible determines ansible_os_family by looking at the existance of `/etc/flatcar/update.conf` or a fallback to parsing `/etc/os-release`. In the first case it determines the value "Flatcar" in the fallback case it's "Flatcar Container Linux by Kinvolk". This makes it difficult to write generic ansible code.

https://github.com/flatcar-linux/scripts/pull/212 removed /etc/flatcar/up

[2022-04-14 08:55] pothos commented on #719
Why would Ansible need to read this file? I think it should just check `/etc/os-release` as with other distros.

[2022-04-14 08:59] pothos commented on #719
A symlink is not good because update-engine already has logic to check both locations and also it would require users to first delete the file and create it again before they can write their settings.

[2022-04-14 09:04] pothos commented on #719
Ansible also tries to get the `distribtion_release` from the Nebraska group, which makes no sense: https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/system/distribution.py#L446

[2022-04-14 09:10] pothos commented on #719
I suggest that Ansible implements the Flatcar detection similar how it's done for ClearLinux or Debian, to look at `/usr/lib/os-release` and ensure to always return `Flatcar` even if the name in os-release says `Flatcar Container Linux…`.

[2022-04-14 09:19] jepio commented on #719
We contributed the code: https://github.com/ansible/ansible/commit/598e3392a9597f0214d68882da4f4ca07314ce41.

As long as ignition handles overwriting a symlink we should be good?
Does update-engine parse both files? Then an empty file would work as well. Though ansible parses the GROUP= out of /etc/flatcar/update.conf.

Even if we fix ansible now, people pin ansible versions so they would still al

[2022-04-14 09:27] pothos commented on #719
Update-engine parses both files, the one under `/etc` is just for overwriting the defaults. I guess people don't rely on the GROUP information in ansible and an empty file should be fine, or?

[2022-04-14 12:24] johananl commented on #719
FWIW I'm reporting the issue in Ansible upstream. We will obviously need workarounds wherever this bug is relevant but we might as well fix our Flatcar-related Ansible code. Will share a link soon.

[2022-04-14 13:05] johananl commented on #719
Upstream issue: https://github.com/ansible/ansible/issues/77537

[2022-04-14 13:41] till commented on #719
From a user perspective (mine): no big deal.

99% of the Ansible roles work with RedHat/Debian distributions, and will install software using a package manager. Not a very interesting use-case for Flatcar (or CoreOS, FCOS) anyway.

The gathering of instance data (IPs, disks, whatever) works very well though. :D

[2022-04-14 16:05] t-lo opened #720 "[RFE] ci-automation: remove requirement for google bucket for running Equinix Metal tests"
## Current situation

Kola uses a google bucket for images, ignition configs, and PXE scripts for the Equinix Metal tests.

## Impact

The containerised ci-automation aims to reduce infrastructure complexity and to remove the need for the google bucket for non-GCP vendors. Kola's dependency on the bucket is a blocker for that.

## Ideal future situation

Kola uses local images / files where applic

[2022-04-15 14:43] ysksuzuki opened #721 "Cilium with loadBalancer.acceleration native fails on 3139.2.0"
## Description

All worker nodes got stuck in rebooting due to kernel panics when we run cilium v1.11.3 with loadBalancer.acceleration native setting on flatcar stable 3139.2.0.

## Impact

We can't use Cilium LoadBalancer & NodePort XDP Acceleration feature. Enabling this feature is greatly beneficial for us since the XDP-based load balancer performs significantly well.

## Environment and steps

[2022-04-15 17:45] rodnymolina opened #722 "cgroupv1-revert solution breaks procfs mounts within user namespaces"
## Description

The solution introduced in `3033.2.4` to allow new nodes to revert to legacy [cgroup-v1](https://www.flatcar.org/docs/latest/container-runtimes/switching-to-unified-cgroups/#starting-new-nodes-with-legacy-cgroups) relies on the utilization of an artificial `/proc/cmdline`, which prevents the execution of unprivileged containers through the utilization of user namespaces.

## Impact

[2022-04-19 02:14] pothos commented on #722
Thanks for the report. The `unmount` workaround should not have any negative effect.
That said, this should only affect your first boot because you are expected to set the kernel parameters in the `grub.cfg` config as well, maybe we should update the example in the [docs](https://www.flatcar.org/docs/latest/container-runtimes/switching-to-unified-cgroups/#starting-new-nodes-with-legacy-cgroups) to

[2022-04-19 02:23] pothos commented on #722
I filed a docs PR to improve the situation: https://github.com/flatcar-linux/flatcar-docs/pull/242

[2022-04-19 07:27] rodnymolina commented on #722
Thanks for looking into this @pothos, it makes sense.

[2022-04-19 07:36] rodnymolina commented on #722
The above workaround proved to be valid in the field. Also, thanks to @pothos doc [PR](https://github.com/flatcar-linux/flatcar-docs/pull/242), it's more clear now that this `/proc/cmdline` bind-mount should be only utilized during the first boot -- `grub.conf` should be updated from this moment on.

Closing issue now.

[2022-04-19 07:36] #722 closed, assigned to nobody

[2022-04-19 14:37] tormath1 commented on #703
Community call has been done - recording is available here: https://www.youtube.com/watch?v=dYGhoEssdoc. Thanks all !

[2022-04-19 14:37] #703 closed, assigned to t-lo

[2022-04-20 02:26] Winnie81 commented on #608
Hi, Could you please update the newest progress for this issue? Thanks a lot.

[2022-04-20 06:45] jepio commented on #722
It would also be possible to move to setting `SYSTEMD_PROC_CMDLINE` (https://systemd.io/ENVIRONMENT/) instead of the bind mount, but that is extremely opaque to the user. Just a thought should there be more issues.

[2022-04-20 07:29] bitfisher commented on #711
Same problem here :(
Thank's for all the info you provided!

[2022-04-20 08:02] jepio commented on #608
Hi, @Winnie81
We currently have no idea what this is caused by and have not made any progress on this issue.

[2022-04-20 08:12] cpswan commented on #711
In case it helps anyone else here's how I'm using .mount and .automount together for more reliable NFS mounting:

[code]

[2022-04-20 08:27] pothos commented on #693
Scripts PR in https://github.com/flatcar-linux/scripts/pull/275

[2022-04-20 10:26] pothos commented on #693
ebuild removal PR: https://github.com/flatcar-linux/coreos-overlay/pull/1827

[2022-04-21 08:10] pothos opened #723 "[RFE] ci-automation: Push nightly build references at job start"
## Current situation

When during the packages or SDK build a push to a development/release maintenance branch is done, the job fails to push it's build reference (version.txt, submodules update, and git tag).

## Impact

The nightly needs to be restarted or one needs to be aware of not pushing something during this 3 hour window.

## Ideal future situation

A rebase is not ideal because it would

[2022-04-21 08:21] #693 closed, assigned to pothos

[2022-04-22 04:55] pothos commented on #723
The `run_sdk_container` invocation should in this case also not write the file again but use it as is (currently it prints `Writing versionfile…` each time)

[2022-04-25 04:45] knrt10 commented on #556
I would like to work on this, if nobody is currently involved.

[2022-04-25 05:16] pothos commented on #556
Go for it, you can place units and the target symlink to enable them in this folder: https://github.com/flatcar-linux/init/tree/flatcar-master/systemd/system
and then update the commit reference here https://github.com/flatcar-linux/coreos-overlay/blob/main/coreos-base/coreos-init/coreos-init-9999.ebuild#L13

[2022-04-25 05:39] pothos commented on #701
One more consideration: Maybe we can skip creating the build git tag and support building from a branch or even a commit id.

To build from a branch would assume that the user doesn't rely on the CI to set up any submodule rerefences but does this in the branch manually. Having that would make it easier to iterate over a `script` fix in some later stage of the pipeline.

[2022-04-25 15:01] jepio commented on #714
Thanks, merged the fix to all branches:
- [x] https://github.com/flatcar-linux/coreos-overlay/pull/1813

Will be part of the next release.

[2022-04-25 15:01] #714 closed, assigned to jepio

[2022-04-26 13:53] NikAleksandrov commented on #721
The fix I proposed[1] has been applied to -net tree[2] and should also get backported to stable kernels (stable was CCed on it).

[1] https://patchwork.kernel.org/project/netdevbpf/patch/20220425103703.3067292-1-razor@blackwall.org/
[2] https://git.kernel.org/pub/scm/linux/kernel/git/netdev/net.git/commit/?id=acb16b395c3f3d7502443e0c799c2b42df645642

[2022-04-26 14:18] jepio commented on #721
Thanks @NikAleksandrov, awesome work!

[2022-04-27 10:22] bikrambox commented on #201
I found that When Re-installing **docker** in AWS Amazon Linux 2 it just reinstalled Docker but when Installing Fresh Docker all Other dependencies Like **contained, runc** are installed with Docker, Therefore, Reinstallaling **containerd** resolved all the issues.

`sudo yum reinstall containerd docker -y`

This will resolve it. No need to Copy-Paste them ( i.e. `cp containerd-shim-runc-v1 contai

[2022-04-28 08:03] pothos commented on #220
We can close this now as the afterburn update is done https://github.com/flatcar-linux/coreos-overlay/pull/1769

[2022-04-28 08:03] #220 closed, assigned to nobody

[2022-04-28 08:11] pothos commented on #656
So, Ignition is done but coreos-cloudinit not - I guess that's ok for now and when we updated Ignition to include the feature we can already call it out in the [docs](https://www.flatcar.org/docs/latest/installing/cloud/azure/#container-linux-config).

[2022-05-02 10:27] pothos opened #724 "Release Flatcar Container Linux 3033.3.0 for LTS-2022"
## Release Flatcar Container Linux lts-3033.3.0

The release of Flatcar Container Linux 3033.3.0 is planned for May 5th/6th, 2022.

### Tasks
- [x] Go / No Go tracking folder created, tracking doc added: https://hackmd.io/0o9ilUkXSbCLZdehyaKqVA?view
- [x] All planned changes are merged & blocker bugs are fixed (@pothos)
- [x] Tag build branch (@pothos)
- [x] Generate manifest (@pothos)
- [x] Start

[2022-05-02 22:50] jmcgrath207 commented on #378
@igcherkaev

Is this still working for you?

[2022-05-04 03:14] pothos commented on #724
Restarted tests:

- Packet arm64: because of timeout
- Packet amd64:  `coreos.auth.verify cl.ignition.v2.xfsroot cl.update.reboot` because auf timeout/kernel warning `arch/x86/kernel/apic/ipi.c:68 native_smp_send_reschedule+0x34/0x40`
- AWS arm64: `cl.cloudinit.basic kubeadm.v1.23.4.flannel.base` because of timeout

(arm64 qemu_uefi update test can't run because there was no previous LTS arm64 rel

[2022-05-04 08:01] pothos commented on #724
The TAP summary has wrong entries but all tests have passed except the Packet arm64 test which is still running (takes ~10 hours).

[2022-05-04 08:30] pothos commented on #724
Found an issue when doing `FILE=flatcar_production_image_contents.txt FILESONLY=1 CUTKERNEL=1   CHANNEL_A=stable CHANNEL_B=lts ~/kinvolk/flatcar-build-scripts/package-diff  3033.2.4  3033.3.0`, rebuilding now and will check that the missing networkd.conf.d drop-in file shows up then. Edit: checked and it looks good

After rebuilding (see below) I had to restart a few tests again due to some timeou

[2022-05-04 09:13] sayanchowdhury opened #725 "Release Flatcar Container Linux Alpha 3227.0.0 Beta 3185.1.1 Stable 3139.2.1"
## Release Flatcar Container Linux Alpha 3227.0.0 Beta 3185.1.1 Stable 3139.2.1

### Tasks
- [x] Go / No Go tracking folder created, tracking doc added (@sayanchowdhury)
- [x] All planned changes are merged & blocker bugs are fixed (@sayanchowdhury)
- [x] Branch off main (only new major) (@sayanchowdhury)
- [x] Tag build branch (@sayanchowdhury)
- [x] Generate manifest (@sayanchowdhury)
- [x] Star

[2022-05-04 13:40] #671 closed, assigned to tormath1

[2022-05-04 16:15] miao0miao opened #727 "Community Call on Tuesday, 10nd of May 2022 17:30 CET / 11:30am EDT / 8:30am PDT"
## TODO list for the meeting
  - [x] 1 week before meeting: Create Agenda PR @miao0miao
  - [ ] 1 week before meeting: Tweet "ask for input" @miao0miao  w/ link to agenda PR (so people can add topcis)
  - [ ] Monday before meeting: Finish and merge Agenda @miao0miao
  - [ ] Monday before meeting: Tweet announcement @miao0miao
  - [ ] 1h before meeting: announce in matrix (w/ Zoom link) @miao0miao

[2022-05-05 07:28] #46 closed, assigned to nobody

[2022-05-05 09:19] #670 closed, assigned to pothos

[2022-05-05 13:02] pothos opened #728 "[RFE] Support image signing in new CI pipeline"
## Current situation

The new CI pipeline in `scripts:ci-automation/` doesn't yet make use of the `--sign(_digest)` parameter as the original CI pipeline under `scripts:jenkins/` does.

## Impact

Currently we can only use the new CI pipeline for dev builds.

## Ideal future situation

Release builds can get signed with the new CI pipeline.

## Implementation options

It could be an optional job p

[2022-05-05 15:28] t-lo commented on #727
@pothos wanted to briefly introduce the (community) LTS-2022 release.

[2022-05-06 07:37] pothos commented on #723
One more consideration: The drawback of moving the push earlier is that there is a time where no binary packages nor images would be found for the nightly reference. This impacts mainly the case of starting a leave job in the CI directly, like the "test" job to run a simple kola test from a branch that was freshly branched away from `main` after the start of the nightly and gets used before the im

[2022-05-06 08:59] defo89 opened #729 "Beta 3185.1.0: ignition fails to create partition on second disk (vmware)"
## Description

With Beta 3185.1.0 and ignition v3 we observe issues when vSphere VM has more than one disk.

## Impact

Cannot deploy VM.

## Environment and steps to reproduce

1. **Set-up**: Flatcar VM deployed in vSphere 7 using [terraform-provider-vsphere v2.0.2](https://github.com/hashicorp/terraform-provider-vsphere/tree/v2.0.2)
2. **Task**: Deploy Flatcar Beta 3185.1.0 OVA using Ignition v

[2022-05-06 09:01] defo89 commented on #729
Ignition file for Flatcar Beta 3185.1.0 (failing) [ignition-v3-example.json.txt](https://github.com/flatcar-linux/Flatcar/files/8638840/ignition-v3-example.json.txt)

Ignition file for Flatcar Stable 3139.2.0 (working) [ignition-v2-example.json.txt](https://github.com/flatcar-linux/Flatcar/files/8638841/ignition-v2-example.json.txt)

[2022-05-06 09:06] defo89 commented on #729
Hi @pothos, I have stumbled across your PR https://github.com/coreos/ignition/pull/1319 which is not merged yet and is planned for coreos/ignition release [2.14.0](https://github.com/coreos/ignition/pull/1354).
I was wondering if this could be related. Although I am not sure if Flatcar Beta 3185.1.0 (ignition 2.13.0) is already using the updated code.

[2022-05-06 09:17] jepio commented on #729
What's the value of data.vsphere_virtual_machine.template.scsi_type? Can you paste the yaml you use to create the ignition json (both for v2 and v3)?

[2022-05-06 09:51] defo89 commented on #729
Ignition v3 file (sorry have to add .txt to upload) [ignition.tf.txt](https://github.com/flatcar-linux/Flatcar/files/8639072/ignition.tf.txt)
Using this provider to create v3 spec file https://github.com/community-terraform-providers/terraform-provider-ignition

To avoid messing with v2, I just edit v3 file to make it to v2.

And for scsi_type:
[code]

I missed to provide output of device paths wh

[2022-05-06 10:29] pothos commented on #729
The fix is already part of our Flatcar release.

Can you try the same v2 config on 3185.1.0? It will be translated to v3 on the fly and I wonder it could make a difference.

[2022-05-06 10:35] #669 closed, assigned to nobody

[2022-05-06 11:29] defo89 commented on #729
Thanks for confirming.
I have tried with same v2 config json on 3185.1.0 - getting the same error.

[2022-05-06 15:01] studioph commented on #715
I’ll preface by saying that I’m using Flatcar on diskless compute nodes that are booted via iPXE and provisioned each boot. I mention this because some of the things I highlight below may not apply to a more traditional installation scenario of Flatcar (until an update probably). However, I view Flatcar’s ability to be a stateless OS to be a major strength and attraction, so I hope that whatever s

[2022-05-09 12:25] obourdon opened #733 "Moving from stable 3033.2.4 to 3139.2.0 made kitchen tests fail"
## Description

The following code now fails changing 3033.2.4 into 3139.2.0:

[code]

## Impact

Can not deliver automatically new images based on 3139.2.9 via CI

## Environment and steps to reproduce

AWS based images produced from official Flatcar AMIs

## Expected behavior

Formerly the output of the tests gave:
[code]

and now:
[code]

## Additional informations

kitchen tests are run in CI

[2022-05-09 14:00] #672 closed, assigned to nobody

[2022-05-09 14:25] jepio commented on #733
Where is the code for whatever `os.name` or `os.release` are? Does this have any connection to ansible? Can you test if creating `/etc/flatcar/update.conf` (empty) changes anything?

[2022-05-09 14:42] obourdon commented on #733
@jepio, many thanks for answering.

 AFAIK the corresponding code lies within the [inspec](https://docs.chef.io/inspec/resources/os/) Ruby Gem of kitchen tests
See [https://kitchen.ci/](https://kitchen.ci/ )for more infos on Kitchen tests

I am currently testing with an empty file as suggested (I also just checked that there is no such file, not even empty, in the original image) and will let you

[2022-05-09 15:09] obourdon commented on #733
@jepio it definitely works with an empty file. Even though I find this very strange I really appreciate you taking the time and pointing me in the right direction.
As I do not have any leverage on how the AWS base images are produced do you think this issue should be fixed more
generically and therefore I leave it open or do you have any other suggestion.
Many thanks again

[2022-05-09 15:25] jepio commented on #733
Ok, thanks. I asked about ansible, because we found that ansible was accidentally relying on the existence of that file for determining os facts (https://github.com/flatcar-linux/Flatcar/issues/719). I still can't find where in the inspec code this detection happens.

Let's leave this open because we still need to figure out what to do about this. cc: @pothos

[2022-05-10 07:33] pothos commented on #733
We talked about always creating the file, I've filed a PR for that: https://github.com/flatcar-linux/init/pull/71

[2022-05-10 07:33] pothos commented on #719
PR for creating an empty file if it doesn't exist: https://github.com/flatcar-linux/init/pull/71

[2022-05-10 11:22] #667 closed, assigned to nobody

[2022-05-10 11:31] t-lo commented on #723
+1 for pushing the tag at the start of the build. I think it's OK for leaf jobs to fail when the build did not finish yet. Also +1 for preventing `run_sdk_container` from writing a new versionfile.

[2022-05-10 14:09] invidian opened #734 "[RFE] Offer Flatcar (and CAPI Flatcar) images via Azure Community Gallery"
## Current situation

Azure has recently put into public preview [Community Galleries support](https://azure.microsoft.com/de-de/updates/communitygallerypreview/) for Compute galleries, which allows sharing the images between subscriptions and tenants and use existing SIG images building process for publishing new images, which should be significantly easier than publishing to marketplace, which a

[2022-05-10 14:14] pothos commented on #723
Good, maybe we can tweak the nightly build time a bit to prevent the case that we have to wait for it to finish.

[2022-05-10 14:40] invidian commented on #347
Some Flatcar and kexec references spotted in the wild: https://twitter.com/joonas_fi/status/1523751306489307136

[2022-05-11 02:54] pothos commented on #553
PR for GCE's NIC feature in https://github.com/flatcar-linux/scripts/pull/330 and we have a more reusable logic now which will be used in Azure, too

[2022-05-11 06:31] pothos commented on #733
The fix is merged and I'll close this now even though it will be out only in the next round of releases

[2022-05-11 06:31] #733 closed, assigned to nobody

[2022-05-11 06:32] pothos commented on #719
The fix is merged and I'll close this now even though it will be out only in the next round of releases

[2022-05-11 06:32] #719 closed, assigned to nobody

[2022-05-11 06:36] pothos commented on #733
FYI: A bug report to the project would be good because testing for `/etc/flatcar/update.conf` is not the best idea as we've seen now. Also, in the case of Flatcar there is a `/etc/coreos/update.conf` file through the `/etc/coreos → /etc/flatcar` directory symlink, so Flatcar could have been mistaken for CoreOS depending on the order of the check and a future OS that wants to be compatible and prov

[2022-05-11 06:49] jepio commented on #719
Found the code: https://github.com/inspec/train/blob/main/lib/train/platforms/detect/specifications/os.rb#L201-L207

[2022-05-11 12:02] dharrigan opened #735 "New Package Request: amazon-cloudwatch-agent"
Hi!

Firstly, thank you for considering this as an inclusion to Flatcar.

We use Flatcar at work for our staging and production environments to run docker containers on ECS as EC2 instances. It works wonderfully! We are able to capture docker container logs and send them to Cloudwatch for analysis and debugging because we are able to run the `amazon-ecs-agent` on the Flatcar instance as a docker c

[2022-05-11 13:26] invidian commented on #719
Should there be a follow-up issue to remove this file after inspec, Ansible and others are fixed?

[2022-05-11 21:56] mtougeron commented on #689
Now that `liburing` has been updated in `3200.0.0` would it be possible to get `sambda` updated so `sssd` can be cross-compiled too so https://github.com/flatcar-linux/Flatcar/issues/690 can be fixed?

[2022-05-12 01:00] Patricol opened #736 "Missing "New Package Request" issue template"
## Description

Based on older issues, it seems there used to be an actual template for issues requesting new packages; as also suggested by the `adding-new-packages.md` file.

The template appears to be missing. I believe templates are managed outside of git; so I can't point to a commit where it was removed.

[2022-05-12 01:01] Patricol commented on #736
As a side note, is this the right place to request `qemu-guest-agent`? Or is there a more specific place for packages that are only needed in certain distribution images?

[2022-05-12 01:24] pothos commented on #719
The file is empty and does not harm, we can leave it around I would say

[2022-05-12 01:35] pothos commented on #736
An issue here for qemu-guest-agent is good, thanks
(Edit: I think the agent isn't really OEM specific because QEMU gets used on different platforms and instead of the Flatcar OEM ID we could try to use the systemd virtualization detection)

[2022-05-12 07:55] QuentinBisson commented on #220
@pothos  Do you have a timeline on when this is going to stable ?

[2022-05-12 08:11] pothos commented on #220
The Alpha release 3227.0.0 has all the changes and will need some time until it gets into Beta and then Stable. There was a new major Stable release just now, so it's probably the next Stable in a month or so.

[2022-05-12 08:20] QuentinBisson commented on #220
Thanks :)

[2022-05-12 08:43] krnowak commented on #689
I'm working on samba update among some other things here - https://github.com/flatcar-linux/coreos-overlay/pull/1819.

[2022-05-12 13:05] jepio commented on #689
Perhaps you could contribute a PR to remove the amd64 condition from here: https://github.com/flatcar-linux/coreos-overlay/blob/main/coreos-base/coreos/coreos-0.0.1.ebuild#L76-L84 so that those sssd becomes part of arm64 images @mtougeron

[2022-05-12 13:08] jepio commented on #736
What other platforms would need the qemu-guest-agent, openstack? Do you suggest making it part of the /usr partition and then having a unit with `ConditionVirtualization=qemu` run it?

[2022-05-12 13:08] mtougeron commented on #689
Sure, I'd be happy to help. (I previously had no idea where to look)

[2022-05-12 13:13] jepio commented on #735
There's an ebuild that can be used here: https://data.gpo.zugaina.org/nest/app-metrics/amazon-cloudwatch-agent/. The remaining questions then would be:
* does it fit in the OEM partition of AWS images?
* any reason not to include it there?
* default config? default on/off?

and we'll need some docs to explain that it's available and how to configure it.
Contributions around this are very welcome,

[2022-05-12 14:30] bitfisher commented on #673
Any progress so far?

[2022-05-12 14:30] bitfisher commented on #598
Any progress so far?

[2022-05-12 14:36] krnowak commented on #728
If the plan is that at some point we can take a nightly build, run additional tests and make it a release, then nightly builds would also need to be signed. Or does this fall under the case of "a possible reorganization of how we sign is out of scope"?

[2022-05-12 15:46] tormath1 commented on #673
Hi @bitfisher,

No _real_ progress on this task, we got some contributions and `selinux-container` is now available upstream (https://github.com/flatcar-linux/Flatcar/issues/479#issuecomment-1098003537) so we could try to integrate it among the refpolicy upgrade.

[2022-05-12 20:33] Patricol opened #737 "New Package Request: [qemu-guest-agent]"
Hello!

I'm improvising a format as per #736.

When running Flatcar as a guest/vm in Proxmox, there is no proper way to poweroff or restart Flatcar instances. The two usual options are `qemu-guest-agent` and `acpid` (#738), neither of which appear included in Flatcar. `qemu-guest-agent` provides quite a few more useful functions than just power management, so I'd see it as the higher-priority solu

[2022-05-12 20:44] Patricol opened #738 "New Package Request: [acpid]"
Hello!

I'm improvising a format as per #736.

When running Flatcar as a guest/vm in Proxmox, there is no proper way to poweroff or restart Flatcar instances. The two usual options are `qemu-guest-agent` (#737) and `acpid`, neither of which appear included in Flatcar. `acpid` is more universally useful as a backup option for hypervisors to use to power-cycle hosts, so I'd see it as a good solution

[2022-05-13 06:04] Winnie81 commented on #608
This issue exists in 3033.3.0 and 3139.2.0, hope it could be fixed. Thanks a lot.