[2021-07-15 13:51] dongsupark commented on #427
Thanks for the report.

AFAIK, the upstream stable v5.10 tree has no fix about that issue yet.
The issue looks quite similar to https://www.spinics.net/lists/netfilter-devel/msg66430.html . (Note: the original post seems to be gone from public mailing list archives)

However, the mentioned [fix](https://github.com/torvalds/linux/commit/119e52e664c57d5f7c0174dc2b3a296b1e40591d), and its relevant co

[2021-07-16 09:25] #305 closed, assigned to nobody

[2021-07-16 09:32] dongsupark commented on #139
dbus was updated to 1.12.20 via https://github.com/kinvolk/coreos-overlay/pull/1048.

[2021-07-16 09:32] #139 closed, assigned to nobody

[2021-07-16 12:49] tormath1 commented on #282
closed via https://github.com/kinvolk/update_engine/pull/12

[2021-07-16 12:49] #282 closed, assigned to nobody

[2021-07-16 13:42] jepio opened #428 "migrate to 17.1 profiles"
## Current situation

On every emerge operation the following message is printed:
[code]

## Impact

Annoying and unsupported upstream.

## Ideal future situation

flatcar profile upgraded to 17.1.

## Additional information

The only real difference between 17.0 and 17.1 profiles is defaulting to "SYMLINK_LIB=no" (instead of "yes"), which affects whether lib is a symlink to lib64 or a proper dire

[2021-07-16 13:47] #375 closed, assigned to nobody

[2021-07-16 16:01] jepio commented on #319
So I managed to get it working with the arm64 developer container as a base, however I would not recommend trying that a second time: the developer container has the wrong profile and CHOST, making the process trickier than necessary to begin with. After that it's all about keywords and fixing x86 specific assumptions.

The built SDK can be fetched from ~https://jepio.blob.core.windows.net/flatcar

[2021-07-16 16:30] jepio commented on #376
Can you test again with 2765.2.6 - this appears to have been resolved.

[2021-07-16 16:37] ryanm101 opened #429 "Unable to build from source"
`cork create --verbose --manifest-branch flatcar-stable2512.5.0` fails as it prompts for username and password for sdnotify

![image](https://user-images.githubusercontent.com/5185337/125980493-379a2613-d7f3-4815-bab1-418a45fce71b.png)

i've checked multiple times my creds are fine, unsure as to why this repo is requesting them.

[2021-07-16 17:41] jmgilman opened #430 "Ignition file passed by QEMU not being detected at boot on MacOS"
## Description

Flatcar is not properly finding the Ignition config file being passed by QEMU through the `fw_cfg` option.

## Impact

Unable to provision a QEMU VM using Ignition configuration file.

## Environment and steps to reproduce

1. **Set-up**:
[code]
2. **Task**: Booting the QEMU image and passing an Ignition configuration
3. **Action(s)**:
  a. Perform steps outlined in setup
  b. Star

[2021-07-19 09:10] tormath1 commented on #430
hi @jmgilman, I can reproduce your issue using your steps and an _empty_ ignition file: could you check that your `config.ign` is not empty ?
For your information, we also provide a `flatcar_production_qemu_uefi.sh` helper to start an instance (https://stable.release.flatcar-linux.net/amd64-usr/current/flatcar_production_qemu_uefi.sh)

[2021-07-19 10:01] #415 closed, assigned to sayanchowdhury, dongsupark

[2021-07-19 11:00] paurosello commented on #220
Hello, I have tested this with Flatcar 2765.2.6 and facing the issues described above. Is there a plan to update Ignition to support IMDSv2?

[2021-07-19 12:19] tormath1 commented on #429
Hi @ryanm101 , starting from `v2605.7.1` git repositories have been renamed from `flatcar-linux` to `kinvolk` (see this commit: https://github.com/kinvolk/manifest/commit/cddda84e75098c933631ed47cb2978fa3b726ad5). That's why it prompts for credentials because this repo appears to be private for `git` but it actually does not exist anymore since it moves to https://github.com/kinvolk/sdnotify-proxy

[2021-07-19 13:37] glitchcrab commented on #427
thanks for the time spent looking at this @dongsupark. I've opened a bug report which is here for reference https://bugzilla.kernel.org/show_bug.cgi?id=213783

[2021-07-19 21:43] jmgilman commented on #430
Can confirm the file is not empty. The provided shell script is only applicable to Linux and not OSX which is why I chose the manual route.

[2021-07-19 22:05] jmgilman opened #431 "Cannot apply static IP address to Raspberry Pi 4"
## Description

When attempting to configure an interface using networkd via a container linux configuration, the interface fails to come up during boot. Manually restarting the networkd service after boot resolves the issue and configures the interface correctly.

## Impact

Cannot configure the network on a Raspberry Pi 4.

## Environment and steps to reproduce

1. **Set-up**: Use the below conf

[2021-07-19 22:14] jmgilman commented on #431
I'm seeing the below lines in `dmesg`:

[code]

This was seen in [this issue](https://github.com/systemd/systemd/issues/17509) which points back to the one linked in the original submission. I suspect this may require a change to the way drivers are being loaded but my knowledge is limited in this area.

[2021-07-19 22:41] jmgilman commented on #431
Was able to resolve the issue by loading the following kernel modules earlier in the boot process:

[code]

Since this is pretty specific to the hardware and can be resolved with a configuration change, I don't think this qualifies as a bug. However, hopefully, this thread helps a future RPi4 user.

[2021-07-20 03:02] jmgilman commented on #431
Sorry for the flurry of activity, I am actively working on this today and have been jumping over a lot of hurdles. I'm opening this back up because even though the above fix resolved the issue of the machine not coming up with a static IP address, it doesn't appear to solve all boot-time networking-related issues.

In particular, attempting to download remote files via Ignition causes Ignition to

[2021-07-20 03:33] jmgilman commented on #375
For context, I'm pretty confident this issue is not strictly related to PXE but rather more likely to UEFI booting in general (which I suspect is being done in this case?). Either way, I'm seeing similar errors when UEFI booting from a raw image to my RPi4. If I get some time I'll try to manually build the same image as above - otherwise, I'll wait and see if the next release resolves the issue.

[2021-07-20 06:35] jepio commented on #375
@jmgilman I agree with you (not related to PXE), I use UEFI on my RPI4. The fix is in main and will be part of the next alpha release.

[2021-07-20 06:37] jepio commented on #431
Ignition runs during early boot in initramfs and the issue was that the kernel module `mdio_bcm_unimac` wasn't part of the initramfs. Networking worked if the module was probed later and link manually brough up. This is resolved in #375.

[2021-07-20 08:11] alpana17 opened #432 "Which tool to be used to forward system logs to splunk"
I am using Flatcar AMI.
Need to send system logs to centralized splunk server. Which tool shall I use to forward the logs?

[2021-07-20 09:12] jepio commented on #297
Right now `systemd-sysctl` runs in initramfs, and doesn't have access to the sysctl settings that are part of the rootfs. There must be a way to get the unit to rerun/run later.

[2021-07-20 10:04] raballew commented on #375
@jmgilman I am using EFI as well on my set of RPi 4s.

[2021-07-20 10:37] ArkaprabhaChakraborty commented on #350
Hi, I'm new to this community, can I get some directions on how to work on this issue? or is this one solved?

[2021-07-20 11:25] tormath1 commented on #418
I will update this ticket with progresses:

* Packages with `dev-libs/openssl` dependency:
- [ ] net-misc/openssh
- [ ] net-misc/ntp
- [ ] net-analyzer/tcpdump
- [ ] sys-fs/cryptsetup
- [ ] dev-lang/python (https://bugs.python.org/issue38820)
- [ ] net-analyzer/nmap
- [ ] app-crypt/trousers
- [ ] app-admin/sudo
- [ ] app-arch/libarchive
- [ ] sys-block/open-isns
- [ ] net-misc/curl
- [ ] net-nds/o

[2021-07-20 15:41] ryanm101 commented on #429
@tormath1 Thanks i'll give that a whirl, is there any way to build the old ones as I'm trying to further troubleshoot: https://github.com/kinvolk/Flatcar/issues/286 and am trying to do it locally as having to redeploy my test cluster is a bit cumbersome

[2021-07-20 16:43] jepio commented on #297
The unit actually runs twice so rootfs sysctl get applied, but funnily enough `net.ipv4.ip_forward` is the one setting that is additionally overriden by a systemd patch that we carry https://github.com/kinvolk/coreos-overlay/blob/main/sys-apps/systemd/files/0005-networkd-default-to-kernel-IPForwarding-setting.patch. systemd-networkd applies that setting and happens to run after systemd-sysctl.

So

[2021-07-22 11:19] bparish-boomsports opened #434 "Using multiple "files:" entries in config causes bootloops"
## Description

One entry of
[code]
works.
Adding a second files/path entry causes a bootloop.

## Impact

Major blocker - cannot build working Flatcar VMs that require more than one file be included in the config.

## Environment and steps to reproduce

1. **Set-up**:
on my local Macbook using ct to transpile, then gcloud commands to create in GCP.
YAML config (input):
[code]
(etc ... more follow

[2021-07-22 14:22] raballew commented on #331
@vbatts I am currently working on a custom build of Flatcar for Raspberry Pi 4B's so that I can deploy a `sensor` k8s cluster and would love help implementing this. But since I am quite new to Flatcar, could you point me in the right direction or is it just setting `CONFIG_GPIO_SYSFS=y`?

[2021-07-22 17:21] DeltaFox0018 opened #435 "System clock not synchronized"
## Description

Hello, in the prod environment all flatcar cars do not have the clock synchronized via NTP server, instead in staging machines with flatcar have active synchronization with NTP servers
Machines re-emerge on Azure on two different resource groups but configured in the same way, the only thing that changes is the amount of machines.
In prod not having the timing synchronized I cause

[2021-07-22 20:24] jepio commented on #434
You can use multiple `files` entries, what seems to trigger the bug here is your config attempting to write into `/usr`. `/usr` is read-only and can't be modified on a running system.

I'll have to look deeper to figure out why its bootlooping. Maybe we should catch attempts to store files to /usr and fail at transpilation time.

[2021-07-22 20:32] jepio commented on #435
Hi, can you compare and paste the output of `sudo timedatectl show-timesync --all` and `sudo systemctl status systemd-timesyncd` on both machines. Is networking configured in the same way for both environments? Are you sure both VMs can access the NTP servers?

[2021-07-22 20:33] jepio commented on #435
and also `sudo timedatectl timesync-status`.

[2021-07-22 23:47] bparish-boomsports commented on #434
Thanks!  That makes a lot of sense.  I was *sure* it was a bug!  =)
That would be fantastic if you could spew an error instead of rebooting.

[2021-07-23 01:05] vbatts commented on #319
@jepio that's awesome! that was the path I began, but abandoned when I was trying from my pinebook. Looking forward to it being an option

[2021-07-23 11:41] DeltaFox0018 commented on #435
Hello,
the network configuration is configured in the same way on both Azure resource groups but on the prod environment when trying to contact an NTP server goes in timeout

here the screen of the 3 commands indicated

Prod screen
![image](https://user-images.githubusercontent.com/35847603/126776546-10609d28-251e-495b-ad92-a057e046d537.png)

Staging screen
![image](https://user-images.githubuserc

[2021-07-23 12:04] jepio commented on #435
That's weird - can you try pinging that ntp server (`94.198.159.11`) from prod to see if its a connectivity issue?

You can try a different ntp config for the prod env. Replace the contents of `/etc/systemd/timesyncd.conf` with:
[code]
and then reboot or `systemctl restart systemd-timesync`

[2021-07-23 12:34] DeltaFox0018 commented on #435
Hello,

ping in both prod and staging environments does not work even if it is all configured correctly
Also even after editing the file and restarting systemd-timesyncd continues to timeout

[2021-07-23 12:41] DeltaFox0018 commented on #435
Should I try to contact Microsoft for information about the network configuration?

[2021-07-23 12:44] jepio commented on #435
Yes please - that would probably be the best course of action.

[2021-07-23 14:34] jepio commented on #319
Here's a bit more instructions for how to use this @dongsupark:

[code]

[2021-07-23 15:08] pothos commented on #319
Currently the SDK sets up QEMU process emulation for arm64 and now you would need to set up the reverse direction because during compilation of some packages the build system has to run some amd64 binaries.

The key action is setting up `QEMU_LD_PREFIX` and the rest can actually be removed because the normal Debian/Fedora packing of qemu-user loads the qemu binary into RAM on boot and we don't nee

[2021-07-26 16:00] pothos opened #438 "vmlinuz size approaches maximum to fit twice into boot partition"
## Description

The boot partition has a fixed size of 128 MB and needs to be able to fit GRUB and the A and B partition's kernels.
The current vmlinuz size in Alpha approaches 60 MB which is the maximum to fit twice. The vmlinuz file bundles the initramfs, and both the kernel and the initramfs are currently compressed with gzip. Only a few KB margin are left and when the vmlinuz file is too big,

[2021-07-27 10:07] alpana17 opened #439 "How can I install python on Flatcar"

[2021-07-27 10:11] pothos commented on #439
Hi,

you can use https://www.pypy.org/download.html which is easier to install than cpython if you need a python interpreter. Other options are compilation to a binary with https://github.com/Nuitka/Nuitka (edit: called out numba first by mistake)

[2021-07-27 10:15] pothos commented on #439
In case you use Ansible there is this: https://github.com/vmware/ansible-coreos-bootstrap

[2021-07-27 11:06] jepio commented on #319
I agree.

It doesn't look like it's going to be as "easy" as crosscompiling arm64 from amd64 though, because some programs that are called from the SDK for image building (syslinux, x86-specific parts of grub) can't be built for arm64 natively.

My first objective is to get arm64 -> arm64 working, and get us into a state where we can support the SDK infrastructure on our servers. Without that, it'

[2021-07-27 14:04] jepio commented on #286
The 4.19 kernel in 2512.5.0 appears to have had these options enabled (`zcat /proc/config.gz` on a running system):
[code]

[2021-07-28 09:27] t-lo commented on #326
@adamnovak that's correct, I'll add context from this issue to #387 and close this issue as a dup.

[2021-07-28 09:27] t-lo commented on #387
Ading @Cougar 's input from #326 here since we'll close #326 as a duplicate.

**Package name and purpose**
ignition got many enhancements and fixes multiple bugs since 0.34.0 (dated back to Dec 21, 2019). Latest release from CoreOS is v2.9.0

Package upstream:
 - https://github.com/kinvolk/ignition/releases
 - https://github.com/coreos/ignition/releases

**Benefits of upgrading this package**
One

[2021-07-28 09:27] t-lo commented on #326
Closing in favour of #387 which is more specific.

[2021-07-28 09:27] #326 closed, assigned to nobody

[2021-07-28 09:29] #438 closed, assigned to pothos

[2021-07-28 09:49] t-lo opened #440 "Simplify the SDK sources"
**Issue**
- SDK Contains largely unused Chromium OS components like `repo`.
- Initialising SDK sources uses custom logic to keep sources and release versions aligned

**Impact**
- Package maintenance process is unnecessary complex

**Ideal future state**
- All packages use plain Gentoo approach, no need for `repo`
- Dependencies like `coreos-overlay`, `portage-stable` are pulled in via git submodu

[2021-07-28 09:57] t-lo opened #441 "Simplify SDK format and distribution"
**Issue**
- Installing an SDK release uses custom logic
- After installing, SDK needs to be "initialised" for each board

**Impact**
- SDK target toolchains are not contained in SDK by default
- SDK is not portable; Installing custom-built SDK outside build infrastructure very hard / undocumented
- Reproducing CI builds outside CI very complex, next to impossible

**TODOs**
- [x] SDK is provided i

[2021-07-28 10:04] t-lo opened #442 "(GitHub CI) Productise containerised build and release pipeline"
**Issue**
- Build and release automation largely implemented in custom logic which is product specific (Jenkins / pipelines)
- coreos-overlay / portage-stable needs to be manually tested against Jenkins

**Impact**
- Reproducible builds of releases outside of Jenkins nigh impossible
- Running vendor tests depends on access to build automation
- Test results can only be (truly) reviewed on Jenkins

[2021-07-28 10:17] t-lo commented on #387
Update: added Afterburn to the scope.

[2021-07-28 11:25] t-lo opened #443 "Deprecate Torcx in favour of e.g. systemd-sysext"
***NOTE***: This item is about deprecating torcx *the item*, not torcx *the feature*. We will continue to support the feature of installing custom core binaries at provisioning time. We will also provide a seamless migration path to the new implementation of this feature.

**Issue**
- The torcx project was discontinued upstream and is unmaintained
- Customisation features provided by torcx are des

[2021-07-28 11:42] t-lo opened #444 "Scalable release signing process"
**Issue**
- This is a legacy item from Flatcar's history as a single-vendor driven project
- Update signing is not automated, image signing is semi-automated
- Onboarding of new maintainers authorised to sign is undefined
- Signing process documentation is gappy / tribal knowledge
- A single signature suffices as signing is done with a single key

**Impact**
- Signing depends on individual key per

[2021-07-28 11:50] pothos commented on #444
We could revive https://github.com/coreos/fero which was used in CoreOS Container Linux

[2021-07-28 12:39] t-lo opened #445 "Cluster-API: upstream support for most common providers"
### Support Flatcar in Cluster-API

***Tracked Issues and PRs***
**Foundational**
- [x]  Kubeadm Bootstrap provider ignition support: https://github.com/kubernetes-sigs/cluster-api/pull/4172
   - Related / `dataurl` dependency: https://github.com/vincent-petithory/dataurl/issues/7
- [X] Image Builder support for Flatcar: https://github.com/kubernetes-sigs/image-builder/pull/248
- [x] https://githu

[2021-07-28 13:09] t-lo opened #447 "Support arbitrary container runtimes via provisioning-time images"
We ship Flatcar by default with Docker / Containerd, which suits most, but not all, use cases:
- some require older / newer Docker versions than what we ship
- some do not use Docker and work with containerd directly
- some use entirely different container runtimes like CRI-O or podman

Using systemd-sysext, we would be able to support a custom container stack at provisioning time, e.g.
- picking

[2021-07-28 13:11] t-lo opened #448 "Integrate kernel lockdown"

[2021-07-28 13:12] t-lo opened #449 "Integrate IMA with Flatcar"

[2021-07-28 13:13] t-lo opened #450 "Define and propose a Runtime API for operating Flatcar clusters from a centralised control plane"

[2021-07-28 13:14] t-lo opened #451 "Better support for BPF / BPF events framework for Flatcar"

[2021-07-28 14:55] t-lo opened #452 "Move Flatcar repositories and website (back) to its own Github org"
Revive the [flatcar-linux github org](https://github.com/flatcar-linux/) as the go-to point for everything Flatcar Linux.

**Items**
- [x] Move repositories from kinvolk org back to flatcar-linux
- [x] Use Github pages for Flatcar website, Docs ([http://flatcar-linux.org](http://flatcar-linux.org)), adjust nameserver entries accordingly
- [x] consider retiring stale repos (rkt, appc/spec, acbuild,

[2021-07-28 14:59] tormath1 commented on #410
it would maybe not be required to move the `flatcar-linux` go projects. See https://github.com/kinvolk/Flatcar/issues/452

[2021-07-28 18:50] amasover opened #453 "Support all update.conf configuration in the config transpiler"
## Current situation

Currently not all fields in update.conf are supported in the config transpiler. For example, `download_user` and `download_password` are not supported.

## Impact

If users need to use unsupported fields, they must use update.conf to configure all fields, otherwise fields from Container Linux config will overwrite the entire update.conf file. For example, this:
[code]
Will be

[2021-07-29 06:06] ericb-summit opened #454 "[RFE] failure during ignition first_boot causes loop, no way to capture logs"
## Current situation

I am deploying flatcar using terraform, vsphere and ignition.  If first_boot fails (for example, due to bad ignition config, or any error during first_boot), errors rapidly scroll on the console.  Then it pauses a few seconds, and the scripts appear to retry again, repeatedly, in a loop with no way to see the underlying cause.    (I should point out, if I power off + start th

[2021-07-29 07:42] t-lo commented on #454
Though options are limited (and we have roadmap items to address this in the future) did you have a look at [Mayday reports](https://github.com/kinvolk/mayday)?

[2021-07-29 07:51] t-lo opened #455 "Cilium breaks on stable-2905.2.0"
## Description

Cilium containers appear to be unable to start on the new Stable-2905.2.0 release. After updating a node, the cilium containers are not running. Verified with cilium 1.9.4 and 1.9.8.

## Impact

Cluster loses networking and becomes inaccessible.

## Environment and steps to reproduce

1. **Set-up**: Kubernetes Cluster with cilium 1.9.x, Flatcar 2765.2.6 or earlier.
2. **Task**: Upd

[2021-07-29 07:55] tormath1 commented on #454
In case you have access to a large console buffer, you can also edit the kernel command line to provide this options `systemd.journald.max_level_console=debug console=ttyS0` - it will increase the ignition verbosity.

In case you miss it, Ignition V3 is in progress (see: https://github.com/kinvolk/Flatcar/issues/387), you can assert that your configuration is < V3.

Let us know how it goes !

[2021-07-29 09:56] #309 closed, assigned to nobody

[2021-07-29 10:16] christianhuening opened #456 "AMI for 2765.2.6 on AWS lost"
## Description

We used the AMI `ami-0737c661a0881fd94` for flatcar community version 2765.2.6 on AWS and still have some EC2 instances running with it. Starting new instances from our tooling exposed that this AMI indeed is not available anymore.

## Impact

broken deployments and we're wondering why that AMI was removed

## Environment and steps to reproduce

try to deploy an EC2 instance with A

[2021-07-29 10:27] dibi-codes opened #457 "2905.2.0 docker containers don't start."
## Description

Cluster containers with securityContext don't start anymore:

[code]

## Impact

All containers with a securityContext setting don't start as expected.

## Environment and steps to reproduce

1. **Set-up**: RKE Cluster with Flatcar 2905.2.0 nodes
2. **Task**: Update from previous release 2765.2.6
3. **Action(s)**:
  a. Update downloads and installs automatically
  b. Node reboots
4

[2021-07-29 10:27] sayanchowdhury commented on #456
The AMI `ami-0737c661a0881fd94` should be available now. Can you check and verify?

[2021-07-29 10:30] christianhuening commented on #456
hm yes, it's there now. Can you tell us why it was gone? Was it a mistake? If not, is there anywhere to subscribe to to receive notifications about revocations or so?

[2021-07-29 10:38] christianhuening commented on #456
@sayanchowdhury hm the image is available but despite being a community image we receive the following error:

[code]

this is weird and was not the case earlier. Especially since the AMI dashboard does not list this AMI as a marketplace variant.

[2021-07-29 10:39] vpnachev opened #458 "Broken link to cloud config migration guide"
In the page https://kinvolk.io/docs/flatcar-container-linux/latest/provisioning/cl-config/ there is a link to a migration guide which is not available. The broken link is https://kinvolk.io/docs/flatcar-container-linux/latest/provisioning/cl-config/migrating-to-clcs. this pages returns 404.

[2021-07-29 11:05] pothos commented on #455
The workaround I try to verify now is:
[code]

[2021-07-29 11:16] pothos commented on #455
The newly added kubeadm.cilium.base kola test passed with the workaround for kola.

[code]

[2021-07-29 11:38] pothos commented on #455
The workaround for existing nodes is:

[code]

And when deploying new nodes you can create the file via Ignition:

Container Linux Config YAML (to be transpiled)
[code]

Please tell if this resolves your issue or now. We plan to include this file under /usr/lib/systemd/network/ for a bugfix release.

[2021-07-29 11:46] sayanchowdhury commented on #456
This was surely a bug and should not have happened. It is strange that this happened only in this region from what it seems.

[2021-07-29 11:47] sayanchowdhury commented on #456
Hmm, indeed this is weird. Let me check.

[2021-07-29 11:49] ribbybibby opened #459 "oem-gce.service is not permitted to create routes in 2905.2.0"
We front our kube-apiservers on GCE with a TCP load balancer. We've found that requests via the load balancer to nodes running 2905.2.0 stable are timing out.

It seems that the `oem-gce` service isn't permitted to create routes for eth0 that are required for ip forwarding:
[code]

If I add `--capability=CAP_NET_ADMIN` to the `systemd-nspawn` command that runs the container then the routes are cre

[2021-07-29 12:36] tormath1 commented on #457
@dabeck hi and thanks for raising this issue!
Could you share the `securityContext` applied to your containers, in order to reproduce / investigate locally. :)

[2021-07-29 12:40] dibi-codes commented on #457
Sure.

This for example is from linkerd sidecar-containers:
[code]

And this is from coreDNS:

[code]

Both failed after the upgrade.

[2021-07-29 13:26] ericb-summit commented on #454
Hi guys.  I've solved my original problem, and for context it was caused by the terraform partition ignition directive instructing ignition to create a new partition at each boot.

However, I didn't solve this because I was able to identify that from the logs. It was pretty much trial and error.

I read about Mayday, but I could never actually get to a shell console to run it.

This is what I mean

[2021-07-29 13:28] pothos commented on #459
Thanks for reporting and providing the fix, I'll look into adding it.

[2021-07-29 13:38] pothos commented on #454
As you said, it's a problem that Ignition failures result in a loop and the way forward is to do something like failing the boot so that it drops to a dracut rescue shell prompt as with other initramfs boot errors.

[2021-07-29 13:42] tormath1 commented on #457
@dabeck thanks a lot !

Could we assert that `docker` is not running with SELinux mode enabled ?

[code]

I can reproduce the issue if Docker is started with SELinux support:

[code]

[2021-07-29 13:50] jepio commented on #454
Similar issue was reported here kinvolk/Flatcar#434

[2021-07-29 14:25] dibi-codes commented on #457
thank you. You are right. Our nodes report this one:

[code]

unfortunately I'm not sure why this is enabled even on a fresh setup FlatCar node!
Do you have any advice? Our cloud-config (yes we're actually still using cloud-config) has the following config for docker:

[code]

[2021-07-29 14:29] sdlarsen commented on #455
Hi,

Thank you for swiftly dealing with this. The work-around works for me using the following terraform snippet should anyone need it:
[code]

FYI: I'm on cilium-10.3.0 and k8s 1.21.3

[2021-07-29 14:44] ericb-summit commented on #454
Yes I had read #434.  And in fact, if I specify an ignition file pointing to a remote URI, but provide no pre-boot IP or DHCP, I get the same behaviour I describe here.

Basically, any failure and I'm in Barney with ignition.

So, I take, there's no way to collect logs?  Is there some magical param I can pass to grub to bypass first_boot, like, say, `init=/bin/sh` as I would do with other OS, and

[2021-07-29 15:15] tormath1 commented on #457
@dabeck then we have a lead !

I would say that `--live-restore` could be the root cause but it should not preserve existing configuration for the daemon, only for containers. Could we assert that there is no configuration in `/etc/docker/` ?

[2021-07-29 15:21] dibi-codes commented on #457
@tormath1 affirmative. `/etc/docker` has just a few certificates inside.

EDIT: As soon as I manually add `--selinux-enabled=false` to the cloud-config it works. 🤔

[2021-07-29 15:42] tormath1 commented on #457
@dabeck

perfect, because it should be the actual behavior of the pulled `stable` (see this commit: https://github.com/kinvolk/coreos-overlay/commit/956f9757d45b7df260ed0e78213e1ad96c7409eb).

Ok ! Then we could check that there is no other remaining drop-in that could override the default behavior - what's the output of `systemctl cat docker.service` ?

[2021-07-29 15:48] dibi-codes commented on #457
[code]

[2021-07-29 15:54] dibi-codes commented on #457
Maybe I found something...

`/usr/lib/coreos/dockerd` has a default option for `selinux-enabled`

[code]

Since we use docker-machine to provision our nodes and docker-machine recognizes flatcar as coreos it uses this file as it displays in drop-in `10-machine.conf`

[2021-07-29 16:01] dibi-codes commented on #457
Possible solution: flatcar should update `/usr/lib/coreos/dockerd` which is deprecated but should keep working since it is used by docker-machine.

Our workaround is to set the `--selinux-enabled=false` option by hand.

[2021-07-29 17:02] sayanchowdhury commented on #456
@christianhuening I could not reproduce the last reported issue. I tried spinning up an instance in my personal AWS account, and it worked without any issue.

Is it possible for you to check if you face the same issue when you try to spin an instance directly via `awscli` or the AWS Management Console?

[2021-07-29 17:08] christianhuening commented on #456
That's weird. We had to explicitly accept the terms and conditions of the flatcar marketplace thingy for a price of $0 to get it started. Then it worked like a charm 😵‍💫

[2021-07-29 21:21] christianhuening commented on #456
@sayanchowdhury i can try to do that tomorrow.  Probably need to use another AWS account, but yeah.

[2021-07-30 07:27] jepio commented on #431
Thanks for all the investigations that you did 👍. This week 2942.0.0 was released, the issue is solved there. I'll close this issue, but if there are still issues please re-open.

[2021-07-30 07:27] #431 closed, assigned to nobody

[2021-07-30 07:29] jepio commented on #435
I'll close this, since it seems like an Azure networking issue.

[2021-07-30 07:29] #435 closed, assigned to nobody

[2021-07-30 07:33] jepio commented on #70
It works without that part so i've removed it from the snippet. With the go program the file has to be called 'flatcar_production_update.gz' and you also have to bind mount over the verification key in `/usr/share/update_engine/...`

[2021-07-30 07:57] pothos commented on #70
The signed update payloads can be found here https://update.release.flatcar-linux.net/amd64-usr/ (with them you don't need to use the dev key in `/usr/share/update_engine/`)

[2021-07-30 13:00] #457 closed, assigned to nobody

[2021-07-30 13:07] tormath1 commented on #457
Thanks @dabeck for raising this issue and helping in the investigation !

[2021-07-30 13:09] dibi-codes commented on #457
@tormath1 thank you very much for your help. I appreciate your effort.

[2021-07-30 15:55] pothos opened #461 "[RFE] Ignition support for OEM filesystem auto detection"
## Current situation

We wanted to switch the OEM partition to btrfs with compression but for users that want to write files to the OEM partition through Ignition it means that they need to specify `btrfs` instead of `ext4` for it to work. There is no support for `auto` because the entry is normally used to create new filesystems, optionally reusing existing ones as long as the filesystem format m

[2021-07-30 19:14] pothos commented on #461
PR in https://github.com/kinvolk/ignition/pull/22
If not ready before the release starts, https://github.com/kinvolk/flatcar-scripts/pull/138 should be merged

[2021-07-31 08:30] Cubxity opened #462 "Unable to resize root partition using ignition"
## Description

I am trying to provision a Flatcar node using a custom Ignition config. I would like to shrink the root partition and create a new partition for CEPH, however it did not partition as expected.

## Impact

I am unable to create a dedicated partition for CEPH with Ignition config.

## Environment and steps to reproduce

**Ignition config:**
[code]

1. **Set-up**: Rescue Linux; Hetzne

[2021-08-01 01:20] daviddyball commented on #456
Just wanted to chime in and say that `ami-0097d8b6241e9cf76` (`eu-west-2` AMI) also just went missing for us at `2021-08-01T00:00 UTC+1`:

![image](https://user-images.githubusercontent.com/1235844/127756143-205660ab-0370-4546-b80c-492df324dcff.png)

All our ASGs are complaining with
[code]
`DescribeImages` shows no publicly visible images for use:
[code]

[2021-08-01 01:34] daviddyball commented on #456
@christianhuening was right.... had to subscribe on the AWS marketplace and then it worked fine. Have AWS changed something or has Kinvolk changed CI/CD for the way AMIs are refreshed? Do all images now need us to subscribe to you on AWS?

EDIT: Screenshot (attached) shows a lot of images now listed as `Source: aws-marketplace/....` whereas they used to be `Source: 075585003325/Flatcar-.......`.

[2021-08-01 08:54] daviddyball commented on #456
Additional side-note... you can't clone/copy `aws-marketplace/....` images into your own account... so Kinvolk's public images are now a single-point of failure in peoples infrastructure should they go missing :disappointed:
![image](https://user-images.githubusercontent.com/1235844/127765267-c160191f-008f-4e15-85ce-f9e139eb3ef8.png)

EDIT: Every day is a school day... just read Kinvolk got acquir

[2021-08-01 10:10] george-angel opened #463 "flatcar-linux.net is gone"
Hello, we have several applications that are using that domain, we have an application to upload GCP images:

https://github.com/utilitywarehouse/flatcar-google-image-uploader/blob/master/flatcar-google-image-uploader#L19 - it uses flatcar-linux.net to find the latest version and download the image: https://github.com/utilitywarehouse/flatcar-google-image-uploader/blob/master/flatcar-google-image-

[2021-08-01 10:55] hato221 commented on #456
Hey @daviddyball,
for kops, you need to specify the full name of the source image as that was changed as well. In our case, we have changed for instance `075585003325/Flatcar-stable-2605.12.0-hvm` -> `aws-marketplace/Flatcar-stable-2605.12.0-hvm-1716ad1c-deff-42e5-86bc-228658463d0e`. You can find the images at EC2 -> Images section and look for the one you need.
Btw. Before running kops, you need

[2021-08-01 11:04] daviddyball commented on #456
Thanks @hato221 .... For now I've just switched to straight `ami-*` ids.

I must say I'm not happy with the situation at the moment. Hopefully it was just a mistake somewhere in the Kinvolk release pipelines or something, but the necessity to subscribe to marketplace images feels anti-user to me.... combined with the fact that this affected production workloads... First CoreOS gets neutered and no

[2021-08-01 12:18] ahrkrak commented on #463
Thanks, this change was not intentional. We have identified this is an issue with a third party cloud provider. We are working to resolve it.

[2021-08-01 13:47] remusb opened #464 "AMI images have changed for 2605.12.0"
## Description

We're using Flatcar-stable-2605.12.0-hvm in AWS in 4 regions and suddenly, all AMIs for Flatcar went private and are no longer available in the public market.

Previous AMI (went private):
[code]

New AMI (public):
[code]

Unfortunately, we're also using P3 instances and these are not available with the currently available AMI.

1. We're not sure why the previous AMI disappeared. T

[2021-08-01 13:50] mindw commented on #456
It is actually much, much worse. All AMIs linked from https://kinvolk.io/docs/flatcar-container-linux/latest/installing/cloud/aws-ec2/ lead to
![image](https://user-images.githubusercontent.com/578872/127772969-eefd79fb-36b2-4d49-bff1-e6afe20d450c.png)
There are no AMIs registered for account 075585003325 .

It means that even AMIs that are supposed to be there were yanked from AWS *WITHOUT ANY WA

[2021-08-01 14:02] mindw commented on #464
related https://github.com/kinvolk/Flatcar/issues/456#issuecomment-890524322 👎🏻

[2021-08-01 15:26] daviddyball commented on #456
One by one all of my clusters are slowly succumbing to this issue as auto-scaling and spot terminations take place. Worse still each account in my AWS organisation has to subscribe to these images in order to get access... which is just an awful UX. It's a brilliant way to spend my weekend :+1:

This is such a polite way to put it :joy:

[2021-08-01 16:23] sayanchowdhury commented on #456
There has been no change in the CI/CD pipeline, and the change to `aws-marketplace` is not intended and needs to be looked into. Thanks for your inputs, this would surely help with reproducing the case.

The Flatcar AWS account has been suspended (we are unsure why) due to which all the AMIs are now unavailable. We are working with the cloud provider to things quickly running again. The suspension

[2021-08-01 17:42] george-angel commented on #463
Thank you, looks like its back.

[2021-08-01 17:42] #463 closed, assigned to nobody

[2021-08-01 19:06] akio-outori opened #465 "Toolbox command now requires single layer docker images"
## Description

Moving from the rkt version of toolbox to the update here:

https://github.com/kinvolk/toolbox/pull/1

We've noticed that multi-layer images are not supported for custom toolboxes.  I imagine this isn't intentional (they worked on the old version), so wanted to report it.

## Impact

Minimal, we refactored our toolbox image to create a single layer final container.  However, it doe

[2021-08-02 00:56] dharmab commented on #456
First off, #hugops to everyone. I hope everyone is doing as well as they can be while dealing with a frustrating problem.

Once the dust settles, a written account of the issues that resulted in the account suspension would be really helpful. It is concerning that AWS can suspend an account with difficult recourse. I'm sure we all want to prepare our own orgs and accounts for any similar future ev

[2021-08-02 05:52] computeralex92 commented on #456
Seems that the issue is solved, the images are accessible again.
Thank you for the team to resolve this issue before Monday morning; that saves me of a stressful day.

That would be great; I think for every AWS / cloud customer this is one of the most worst "worst case scenario".

[2021-08-02 08:10] ahrkrak commented on #456
Yes, we are working with our contacts at AWS, who have been supportive and helpful, to find out what exactly happened and how to avoid in future. We will be sharing findings ASAP but please give us some time as we want to avoid premature conclusions.

[2021-08-02 09:45] jepio commented on #462
Thanks for the report.

With this ignition config:
[code]

I get the correct partition config:
[code]

Something is wrong in handling the spec for partition 9. If I add a fixed size entry for part 9 the log says:
[code]

[2021-08-02 10:00] hligit commented on #456
Looks like Flatcar-alpha images for arm64 are still missing.

[2021-08-02 10:04] burlacio opened #466 "[RFE] Patch FCL stable version 2512.5.x (kernel 4.x) for CVE-2021-33909"
## Current situation

At the moment [CVE-2021-33909](https://nvd.nist.gov/vuln/detail/CVE-2021-33909), a security vulnerability found in kernel versions 3.16 through 5.13, was fixed in FCL stable version [2905.2.0](https://kinvolk.io/flatcar-container-linux/releases/#release-2905.2.0) which has kernel version 5.x, but not in any FCL versions which run kernel version 4.x.

## Impact

Due to the abo

[2021-08-02 10:18] sayanchowdhury commented on #456
Oh! yes. They should be public now. @hligit Can you please verify?

[2021-08-02 10:26] pothos commented on #466
Hi,
the major version 2512.x.y releases are long replaced by new ones in Stable. Only the latest version is supported (see https://kinvolk.io/flatcar-container-linux/releases/).

You should either keep the autoupdate enabled with the default settings to keep on the latest release, or keep autoupdates enabled with a control over when the reboot happens. The options are: reboot time windows, reboot

[2021-08-02 10:26] #466 closed, assigned to nobody

[2021-08-02 10:45] abyth commented on #455
Hi,

can confirm the same for cilium `v1.8.9`. Issue occured during the update operator induced update to flatcar stable 2905.2.0 and could be resolved with the mentioned workaround. Thanks to all participants for the quick fix

[2021-08-02 12:14] keymon commented on #459
Oh! now I read about this!

The solution I had was as poor as just building and running the `google-guest-agent` in my flat instance, but this is the proper solution.

[2021-08-02 12:38] keymon commented on #459
Actually, in my case the problem is that after flatcar upgrade, the `oem-gce` service definition is still using rkt.

[2021-08-02 12:47] keymon opened #467 "oem-gce breaks after upgrading flatcar from a version with rkt to systemd-nspawn"
## Description

We were starting our VMs with an old version of flatcar that uses `rkt`. Then  we noticed the `oem-gce` was failing, as instances started to fail to register in the loadbalancer.

## Impact

We observed a similar issue to https://github.com/kinvolk/Flatcar/issues/459, the instances failing to listen the TCP loadbalancer IP and not serving traffic. Google support suggested to run th

[2021-08-02 12:48] keymon commented on #467
The workaround will use a image including the patches from https://github.com/kinvolk/Flatcar/issues/459

[2021-08-02 12:54] #432 closed, assigned to nobody

[2021-08-02 14:18] pothos commented on #467
Hello,
the OEM partition content is not updated, there are instructions how to do it manually in the release notes:
https://kinvolk.io/flatcar-container-linux/releases/#release-2905.2.0

GCE: The oem-gce.service was ported to use systemd-nspawn instead of rkt. A one-time action is required to fetch the new service file because the OEM partition is not updated: `sudo curl -s -S -f -L -o /etc/system

[2021-08-02 14:39] martin31821 commented on #455
Same problem here, fix works for a v1.9.9 and v1.10.2 too.
Last known-working version for me is 2801.1.0.

[2021-08-02 15:21] keymon commented on #467
Oh, ok. I would have expected a way to automatically update these between versions of the stable channel.

Is there any way to recreate these files from the oem partition on boot?

[2021-08-02 15:43] pothos commented on #467
Not a generic one but for VMware someone wrote a service that does this, you could roll your own for GCE as follows:

[code]

[2021-08-02 15:43] #467 closed, assigned to nobody

[2021-08-02 18:17] #458 closed, assigned to jepio

[2021-08-02 22:31] hligit commented on #456
@sayanchowdhury, I have verified that the ARM64 images are available. Thanks!

[2021-08-03 08:41] jepio commented on #458
Thanks, the link on the page should work now, and I also added an alias for the old link.

[2021-08-03 08:48] pothos commented on #461
The PR is merged and will be used in the next Alpha so that the filesystem format mismatches for the OEM partition are ignored instead of leading to a bootloop. (When `wipeFilesystem` is set a new filesystem will be created as usual.)

[2021-08-03 08:48] #461 closed, assigned to nobody

[2021-08-03 11:36] #439 closed, assigned to nobody

[2021-08-03 11:38] alpana17 opened #468 "Not able to create user via Ignition"
![image](https://user-images.githubusercontent.com/8611615/128008974-13d38c1b-af79-48ee-914d-b20116f11674.png)

I am trying this. And passing Ignition in user data while launching AWS EC2 instance
But, not able to ssh in the instance.

[2021-08-03 11:51] vpnachev commented on #458
Thanks for the quick fix! Appreciate it.

[2021-08-03 12:19] till commented on #468
The shell is nologin, you won't be able to ssh into the instance.

[2021-08-03 13:53] alpana17 commented on #468
I am trying to login with core user

[2021-08-03 14:01] jepio commented on #468
Are you passing in the ssh key via ignition?

[2021-08-03 14:30] sayanchowdhury commented on #376
The issue seems to be resolved. Closing this issue for now. Please feel free to re-open it if you are still facing this issue.

[2021-08-03 15:52] mleklund opened #469 "[RFE] Include MOSH as part of flatcar"
## Current situation

Mosh is a mobile shell, described as:

Remote terminal application that allows roaming, supports intermittent connectivity, and provides intelligent local echo and line editing of user keystrokes.

Mosh is a replacement for interactive SSH terminals. It's more robust and responsive, especially over Wi-Fi, cellular, and long-distance links.

## Impact

While I can use SSH, som

[2021-08-03 15:59] pothos commented on #469
FYI, there is a workaround for tmux inside the toolbox: https://kinvolk.io/docs/flatcar-container-linux/latest/setup/debug/install-debugging-tools/#spawn-a-toolbox-with-tmux-in-the-background (and from there you can nsenter back to the host in a tmux window)

[2021-08-03 16:26] alpana17 commented on #468
No no,
ssh key is being passed via AWS UI while launching the instance.

If I remove this user creation part from Ignition, it works fine.
Is this part correct?

[2021-08-03 16:33] jepio commented on #468
Sorry, I'm not familiar with AWS yet - @pothos do the two methods of passing ssh keys interfere?

[2021-08-03 17:01] alpana17 commented on #468
Can we have a screen share session to see the issue?

[2021-08-03 18:52] pothos commented on #468
I think you can't log in because the Ignition config is incorrect.

With the following passed as `./flatcar_production_qemu.sh -i ignition.json` it bootloops because the user creation fails.

[code]

I'll have a look which part is missing in the config.

[2021-08-03 19:04] pothos commented on #468
The `groups` field is for secondary groups, you can use the `primary_group` field in CLC (`primaryGroup` in Ignition JSON) to specify the group:

[code]

[2021-08-03 19:26] pothos commented on #107
With btrfs compression (just zlib for the start until GRUB gets updated) we are finally able to fit the 122 MB binaries into the OEM partition, resulting in a 37 MB used filesystem.

A quick estimate: Depending on what we put in we have space for ~300 MB more Go binaries until the 128 MB filesystem is full.

[2021-08-03 19:32] pothos commented on #312
With the btrfs compression for the OEM partition we are able to store the SSM agent's 122 MB binaries into a 37 MB used filesystem.
Now we just use zlib because zstd isn't available yet until we update GRUB to a newer version. But with the current setup we can store around ~400 MB of such Go binaries like the SSM agent's ones in the 128 MB OEM partition if the calculation holds.

I suggest to clos

[2021-08-04 08:37] pothos commented on #107
The SSM Agent is now included on the AWS image (released in next Alpha): https://github.com/kinvolk/coreos-overlay/pull/1162

I think we can close this issue now, please try it out after the Alpha release and give your feedback, in case we need to reopen this :)

[2021-08-04 08:37] #107 closed, assigned to nobody

[2021-08-04 12:59] tormath1 opened #470 "[RFE] kola: add a `pre-flight` check"
## Current situation

we use [kola](https://github.com/kinvolk/mantle/tree/flatcar-master/kola) to run tests on the CI but it can also be used locally. Since the  tool owns various options and has several requirements it would be helpful to provide a `pre-flight` check in order to catch any mis-configuration on the host or in the options in order to prevent eventual failures.

## Impact

it could

[2021-08-04 13:39] torrescd opened #472 "Rkt does not exist and kubelet.service still use it"
## Description

Rkt does not exist and kubelet.service still use it
## Impact

kubelet is not starting

## Environment and steps to reproduce

Update to stable 2905.2.0

## Expected behavior

kubelet works

## Additional information

* Closing as it has nothing to do with flatcar, but typhoon management

[2021-08-04 13:46] torrescd commented on #472
* Closing as it has nothing to do with flatcar, but typhoon management

[2021-08-04 13:46] #472 closed, assigned to nobody

[2021-08-04 16:58] shosti commented on #455
I'm getting similar behavior when using https://github.com/k8snetworkplumbingwg/sriov-network-operator for SR-IOV capabilities. As soon as the VFs are created, systemd seems to try to give them IP addresses through DHCP and the entire node becomes inaccessible.

[2021-08-04 21:21] dghubble commented on #472
@torrescd for clarity, Typhoon stopped using rkt in [v1.19.4](https://github.com/poseidon/typhoon/releases/tag/v1.19.4) so have a look at newer releases.

[2021-08-05 08:03] #376 closed, assigned to nobody

[2021-08-05 09:03] pothos commented on #455
@shosti Before/when creating you need to also have `.network` units which specify the right IP address assingment or mark the interface as `Unmanaged`. That's expected.

[2021-08-05 09:04] pothos commented on #455
The fix for the Cilium issue got included in the latest Stable release:
https://kinvolk.io/flatcar-container-linux/releases/#release-2905.2.1

[2021-08-05 09:04] #455 closed, assigned to nobody

[2021-08-05 09:09] pothos commented on #472
Thanks, I guess it's also good to put this link here: https://typhoon.psdn.io/topics/maintenance.html#upgrades

[2021-08-05 09:30] #304 closed, assigned to nobody

[2021-08-05 11:58] pothos commented on #459
Fixed in https://kinvolk.io/flatcar-container-linux/releases/#release-2905.2.1

[2021-08-05 11:58] #459 closed, assigned to nobody

[2021-08-06 09:14] alpana17 commented on #468
User is created
![image](https://user-images.githubusercontent.com/8611615/128487294-d2a692c2-cd5e-4ae8-a957-0d03ef3e3fca.png)

Group is also created
![image](https://user-images.githubusercontent.com/8611615/128487440-d3f2401e-e687-4ffc-926e-c0c79fa65d6e.png)

But I can not see user mentioned in group

[2021-08-06 09:18] jepio commented on #468
The 4th field in the first picture shows the primary group id, and matches the id in the picture. You can check with `id`:
[code]

[2021-08-06 10:35] alpana17 commented on #468
yes, but why user splunk is not there in groups list in /etc/group file?

[2021-08-06 11:24] jepio commented on #468
Seem only users having the group as a secondary group show up in `/etc/group`. I assure you that the configuration is correct now.

Or try the following ignition config:
[code]

Then `/etc/group` looks the way you want.

[2021-08-06 11:44] pothos commented on #468
As @jepio said, the configuration without the secondary group entry is enough. You can compare it to your login on other machines: `cat /etc/group | grep ^$USER` doesn't need to repeat the name again because the user is added directly to the group in the `/etc/passwd` file.

[2021-08-06 11:44] #468 closed, assigned to nobody

[2021-08-06 13:00] juliantaylor commented on #376
the issue still exists in the latest version (2905.2.1) but can be fixed by running

    make -C /usr/src/linux modules_prepare

as documented in https://www.kernel.org/doc/Documentation/kbuild/modules.txt (this was added ~5.10)

maybe it makes sense to add this to the base flatcar dev image for building modules?

[2021-08-06 13:02] jepio commented on #376
That step has always been necessary, our documentation also lists it: https://kinvolk.io/docs/flatcar-container-linux/latest/reference/developer-guides/kernel-modules/

[2021-08-06 14:36] dongsupark commented on #440
Another side issue is to delete `coreos-devel/sdk-extras` from coreos-overlay.
Doing that, we can delete at least ~20 other packages from the source tree.

Apparently the `sdk-extras` was originally meant to work as a meta package to pull in all the optional packages in the SDK at once.
AFAIK it has been unmaintained since 3~4 years, so an attempt of `emerge coreos-devel/sdk-extras` will give you

[2021-08-08 15:11] alpana17 commented on #468
Thank you for the help.
Really appreciate it.

[2021-08-09 11:10] ahrkrak commented on #464
This situation is resolved. We are working on a post mortem.

[2021-08-09 11:10] #464 closed, assigned to nobody

[2021-08-09 20:42] ajrpayne opened #473 "Cork: New Package not showing up in built image."
I am attempting to add the net-wireless/iwd package to a image.

First I built a base image and tested that it works with qemu.

    1  ./setup_board --default --board=amd64-usr
    2  ./build_packages
    3  ./build_image
    4  ./image_to_vm.sh --from=../build/images/amd64-usr/developer-latest --board=amd64-usr

Then I emerged the new package with all it dependencies.

emerge-amd64-usr --newuse

[2021-08-10 07:51] jepio commented on #473
When you added the package to coreos-base/coreos, did you rebuild it? Its a good idea to bump the revision of the ebuild (`mv coreos-0.0.1-rXXX.ebuild coreos-0.0.1-rXXY.ebuild`) when you modify the deps so that portage knows something has changed and considers binary packages out of date. `./build_image` uses binpkgs, so that would not care, but at least `./build_packages` would notice.

So to mak

[2021-08-10 09:32] pothos commented on #473
It's also good to run `./build_packages` before `./build_image` to make sure that all missing binary packages are generated.

And in case you work on the `main` branch or `flatcar-MAJOR` branch I recommend you to set up the nightly binary package cache to save some hours:
https://kinvolk.io/docs/flatcar-container-linux/latest/reference/developer-guides/sdk-tips-and-tricks/#use-the-nightly-build-sd

[2021-08-10 13:52] wrl opened #474 "[Tracking] arm64 kola test failures"
SELinux-related (see PR: https://github.com/kinvolk/coreos-overlay/pull/1245):
- [x] coreos.selinux.boolean (https://github.com/kinvolk/mantle/pull/209)
- [x] coreos.selinux.enforce (https://github.com/kinvolk/mantle/pull/209)
- [x] docker.userns: (https://github.com/kinvolk/mantle/pull/211)

Missing multiarch images (see PR: https://github.com/kinvolk/coreos-overlay/pull/1179):
- [x] cl.etcd-memb

[2021-08-10 13:55] pothos commented on #474
`cl.ignition.v2.btrfsroot` and `cl.update.payload` both should work, and if there are temporary failures it's due to the kernel soft lockup coming from slow QEMU emulation.

[2021-08-10 13:57] wrl commented on #474
@pothos What's the path forward on those, then? Are we sunk unless we're testing those on actual hardware?

[2021-08-10 14:03] pothos commented on #474
We can tweak the QEMU invocation but otherwise it's like on amd64 where some tests have to be rerun, too.

[2021-08-10 14:07] wrl commented on #474
Alright, have updated the list to reflect this.

[2021-08-10 14:36] jepio commented on #470
The iptables nat rules get autocreated by kola - i think it would be acceptable for kola to enable ipv4 forwarding as well.

[2021-08-10 14:59] wrl commented on #470
@jepio I could go either way on that. enabling ipv4 forwarding is easy enough that it may make sense to have the user do it themselves, especially if we also need pre-flight checks for other dependencies.

[2021-08-10 15:06] tormath1 commented on #470
@jepio @wrl that's right - iptables are generated on the fly as a part of internet access (see this PR: https://github.com/kinvolk/mantle/pull/167) but ipv4 is not automagically enabled, it's up to the user to handle it. There are also things like `kolet` who needs to be in specific location (see: https://github.com/kinvolk/mantle/blob/edd19b0404eb563b73bd5657c865af9339b23679/kola/harness.go#L583-

[2021-08-10 15:10] pothos commented on #470
Reverting IP forwarding to being disabled is also not done by systemd: https://www.freedesktop.org/software/systemd/man/systemd.network.html#IPForward=
I think it's fine to turn it on and leave it on.

[2021-08-10 15:13] wrl commented on #470
agreed with @tormath1. in my opinion, it's fine to rely on the user/documentation for some of the setup (we certainly shouldn't expect kola to install dnsmasq or qemu), but where we *do* rely on the user/documentation, a pre-flight check to ensure that the requirements are met is prudent.

I think whether IPv4 forwarding is handled by the user/documentation or by kola directly could really go eith

[2021-08-10 16:41] pothos commented on #474
For completeness, here the paste of failure messages from the 2955.0.0 release:
https://pastebin.com/raw/y93uUVs1

The `cl.flannel.*` tests also seem to be related to `flanneld.service` itself not coming up which causes `systemctl is-system-running` to return a failure.
The underlying cause there is that quay.io/coreos/flannel:v0.12.0 is not a multiarch image (one has to explicitly use quay.io/cor

[2021-08-10 16:43] pothos commented on #474
Same problem for etcd: The quay.io/coreos/etcd:v3.3.25 image is not a multiarch image, and we need to update to quay.io/coreos/etcd:v3.5.0

[2021-08-10 17:00] tormath1 opened #476 "kubernetes: `flannel` init container is crashing"
## Description

we recently upgraded SELinux libs and we added some tests to validate various CNI in Kubernetes environment - an issue has been discovered while running `kubeadm.v1.21.flannel` tests.

Flannel init container is not able to run and it crashed with the following message:

[code]

`SELinux` is set in `enforce` mode during the tests and by checking the audit logs; we have the following

[2021-08-10 17:19] pothos commented on #476
Instead of allowing all containers to write to `/etc/`, would it work to only add the `/etc/cni/` directory like done in https://github.com/containers/container-selinux/blob/main/container.fc#L46 for `/etc/crio/`?

[2021-08-10 18:01] tormath1 commented on #476
@pothos for sure, I'll give a try - it's still good to stay specific in SELinux rules... The repo you linked is super interesting - what about including the following policies to the OS ?

[2021-08-10 18:02] pothos commented on #476
Yes, we should align the SELinux policies with those from Fedora CoreOS

[2021-08-10 18:12] tormath1 commented on #474
AFAIK SELinux things are not installed on `arm64` - that's why basic tests are failing because it does not find the SELinux binary tools.

[2021-08-11 07:58] pothos commented on #474
Yes, I started a PR for installing SELinux some time ago and it needs to be done again for the current `main`: https://github.com/kinvolk/coreos-overlay/pull/135

[2021-08-11 08:38] Keithsc opened #477 "How to manualy set DNS during baremetal install (No DHCP)"
I am trying to install Flatcar onto a server in a data canter the problem is that the network that I am using does not have a dhcp server so I need to manual set a IP/Mask and DNS (Oh and probably a gateway). I can set an IP address and can ping other devices but I am unsure how to set the DNS. The online tutorials I have looked at for setting dns using systemd are all slightly different and none

[2021-08-11 08:52] pothos commented on #477
Hi,
you can have a look at these two examples here:
https://github.com/kinvolk/mantle/blob/flatcar-master/platform/machine/esx/cluster.go#L54
https://github.com/kinvolk/racker/blob/main/bootstrap/network.yaml.template
For the details see docs here: https://www.freedesktop.org/software/systemd/man/systemd.network.html

Can you share your configuration which doesn't work?

Do you also need to set up

[2021-08-11 09:04] Keithsc commented on #477
Thanks for replying @pothos, Apologies for not being clearer, I have downloaded the flatcar install .ISO file and have booted from it and plan to run "./flatcar-install -d ......" so I just need to manual set an IP on the machine, this i can do but I am stuck trying to figure out how to set the dns, I have tried setting it in /etc/resolv and also somwhere in /run/???/resolv.conf and have attempted

[2021-08-11 09:13] pothos commented on #477
Did you try to add the DNS in the networkd unit as done in https://github.com/kinvolk/mantle/blob/flatcar-master/platform/machine/esx/cluster.go#L54?

[2021-08-11 09:27] pothos commented on #474
I also got a temporary verity test failure and filed a PR to make it more robust: https://github.com/kinvolk/mantle/pull/202

[2021-08-11 10:47] tormath1 commented on #476
@pothos I did some tests with the following patch:

[code]

to have the suggested approach.

It does not solve totally the issue - `/etc/cni` will be labelled as its parent directory so `etc_t` type:

[code]

so a `restorecon` is required to have the correct labelling...

[code]

we have a similar test case in `mantle` - but it adds the `:z` option to allow docker to relabel the files correctly (s

[2021-08-11 11:46] pothos commented on #476
I don't know where the correct labeling of `/etc/` files should take place – maybe we can create the directory with systemd-tmpfiles  in https://github.com/kinvolk/baselayout/blob/flatcar-master/tmpfiles.d/baselayout-etc.conf and then add a `restorecon` call after the systemd-tmpfiles service ran?

[2021-08-11 11:49] pothos commented on #476
https://www.freedesktop.org/software/systemd/man/tmpfiles.d.html#z has something about relabling but there is also the option to set the extended file attribute directly: https://www.freedesktop.org/software/systemd/man/tmpfiles.d.html#t

[2021-08-11 11:57] tormath1 commented on #476
@pothos thanks for systemd links - they can be helpful but the issue is more on the fact that `/etc/cni` does not exist initially so when it's created it inherits from `/etc` file context (`etc_t`). Also we can't afford to relabel all `/etc` with `svirt_lxc_file_t`.

[2021-08-11 12:08] pothos commented on #476
Yes, so I suggest that we ship a tmpfiles rule to create `/etc/cni` with the right label or align the label for an existing directory.
As far as I understand, we can try to use a `Z` entry but may have to use a `T` entry (Using both doesn't work, at least I remember it like that).

[2021-08-11 12:22] tormath1 commented on #476
I'm thinking - we could also change the `flannel` manifest to use directly the `/opt/cni` directory. Like we are already doing for others: https://github.com/kinvolk/mantle/blob/1bf480818d61855b31ad5fda887e70a3dd8f344d/kola/tests/kubeadm/templates.go#L103-L118

EDIT: nope, because it will hit the same issue except that it will be for `usr_t` target.

EDIT: I found this macro: https://access.redhat

[2021-08-11 14:22] tormath1 commented on #476
alright it worked with the macro. There is another issue now:

[code]

I'm trying to add the following rule to `virt.te`:
[code]

[2021-08-11 15:31] dongsupark commented on #319
In general it looks good.
Following @jepio's instruction, I was able to create an arm64 SDK on an arm64 host. (actually an arm64 VM on Mac M1)
From that tarball, I created another flatcar-sdk environment.
Inside that, I was able to successfully build an arm64 qemu image, with fantastic speed.

However some hacks or tweaks are needed.
I am just listing all, probably some of them are just my testing

[2021-08-11 15:37] pothos commented on #319
For the last point: the script already checks for an arm64 host but it assumes that KVM is available, maybe you can enable nested virtualization for the host VM?

[2021-08-11 16:58] jepio commented on #319
Nested virt is not available on M1 right now.

@dongsupark are you using qemu for virtualization? You could try to adapt the script to get it working when ran from the host. Probably some of the helper tools are not available, and instead of `accel=kvm` you need `accel=hvf`.

[2021-08-12 06:14] yokaze opened #478 "network-cleanup.service vanished on the latest stable release (2905.2.1)"
## Description

We run the stable Flatcar OS (2905.2.1) using HTTP boot on a bare-metal server and got the following error.

[code]

## Impact

We use the list of failed systemd units for the sanity check, therefore the OS is marked erroneous on our datacenter.

## Environment and steps to reproduce

1. Run Flatcar 2905.2.1 using HTTP boot.

## Expected behavior

network-cleanup.service does not a

[2021-08-12 09:01] tormath1 opened #479 "[RFE] new package: sec-policy/selinux-container"
## Current situation

For SELinux, we currently use the following policies with custom patches:
- sec-policy/selinux-virt
- sec-policy/selinux-unconfined
- sec-policy/selinux-base

In the SELinux effort, it would be nice to port the following policy: https://github.com/containers/container-selinux to the OS to be aligned with an upstream reference and contribute to it.

## Impact

- no need to mai

[2021-08-12 09:17] pothos commented on #478
Hello,

yes, the bug fix is not yet in Stable or Beta.

I created a backport PR: https://github.com/kinvolk/coreos-overlay/pull/1182

[2021-08-12 10:27] yokaze commented on #478
Thanks for the quick fix!

[2021-08-12 12:17] dongsupark commented on #319
I am using [UTM](https://github.com/utmapp/UTM/), basically a wrapper around qemu.
UTM is already passing `accel=hvf` as expected.
Still inside the guest Linux VM, the Flatcar script fails.
Anyway don't worry, that's not super critical, I could find out other options for testing qemu images. ;-)

[2021-08-12 13:37] #476 closed, assigned to tormath1

[2021-08-12 14:01] ericlake commented on #297
We are also seeing issues with getting sysctl changes to persist on reboot. The settings we are trying to change are:
[code]

The defaults for these settings our our systems is:
[code]

We have followed https://kinvolk.io/docs/flatcar-container-linux/latest/setup/customization/other-settings/#tuning-sysctl-parameters but have observed that only the `fin_wait` and `time_wait` settings persist. If w

[2021-08-12 14:11] dongsupark commented on #319
As for the multi-arch issue in generate_au_zip, I ended up writing a PR like that: https://github.com/kinvolk/flatcar-scripts/pull/141

[2021-08-12 15:18] jepio commented on #297
Hi @ericlake
I believe what you are seeing is that various services started later on override the settings you statically configured. I confirmed that on a blank install following the instructions all settings persist. But if I then deploy kubernetes on the system I find the following:
[code]

Would you be able to confirm that this is the same thing happening on your system?

[2021-08-12 15:36] ericlake commented on #297
Yep. In our case we are using kubespray to deploy kubernetes and it turns out that kube-proxy is rewriting the settings. We are modifying the config map now to bump the settings and testing with another reboot.

[code]

[2021-08-13 13:25] pothos commented on #297
I'll close this now and if wanted we can create new specific tickets, e.g., for disabling `ip_forward` and dropping the systemd patch.

[2021-08-13 13:25] #297 closed, assigned to nobody

[2021-08-16 02:48] ericb-summit opened #480 "fstrim.service as shipped creates dependency on /etc/fstab which doesn't exist"
## Description

Stock `fstrim.service`, calls `/sbin/fstrim -Av`, which fails because `/etc/fstab` as we all know doesn't exist.

## Environment and steps to reproduce

Install flatcar in an environment whose controller and drives support the fstrim command.

1. `sudo systemctl start fstrim.service`
2. weep softly

## Additional information

If copy the unit from /usr/lib to /etc and modify it to

[2021-08-16 08:19] umezawatakeshi opened #482 "[RFE] Support of Intel E810-XXV"
## Current situation

I want support of Intel E810-XXV ethernet adapter (PCI vendor:device = 8086:159B). It seems supported by kernel 5.10.55, the version used by latest Flatcar stable.

## Impact

[ Please describe the impact the lack of the feature requested is creating ]

## Ideal future situation

[ Please describe the future situation after the improvement was implemented ]

## **Implementati

[2021-08-16 15:10] jepio commented on #417
To upload gen2 images to azure we need to update our azure-sdk-for-go in mantle. Started looking into that.

Current VHDs, uploaded manually (https://github.com/kinvolk/flatcar-cloud-image-uploader/blob/master/azure-flatcar-image-upload/upload_image.sh) get stuck during boot because of:
[code]

[2021-08-17 13:33] jepio commented on #417
Found an ignition PR that enables gen2 support, backported it and going to submit it into our ignition (https://github.com/coreos/ignition/pull/1241).

That's enough to get working boot. I see the following in boot log on a gen2 vm, but booting the same vhd as gen1 shows nothing:
[code]

[2021-08-17 14:18] tormath1 commented on #474
@pothos @wrl for `docker.userns` I get it working by removing the failing `setenforce 1` but it appears that we have some race condition with `torcx` - that would explain why we did not have the same test result in our latest meeting.

Sometimes, `torcx` is not sealed so we can't run `docker` -> `The program docker is managed by torcx, which did not run.`.

Comparing the two `console.txt` from `_k

[2021-08-18 02:53] Winnie81 commented on #55
Sorry for the late response.

For below configuration,
{
  "ignition": { "version": "2.0.0" },
   "networkd": {
    "units": [{
      "name": "00-ens192.network",
      "contents": "[Match]\nName=ens192\n\n[Network]\nAddress=10.117.16.226\nGateway=10.117.17.253\nDNS=10.117.0.1\nNetmask=255.255.255.0\nDestination=10.117.16.0\nDHCP=no"
    }]
  }
}
it didn't work. ip route and networkctl got the sam

[2021-08-18 08:22] jepio commented on #480
Thanks for reporting this. This appears to come from util-linux, we'll need to fixup the service file.

[2021-08-18 14:34] invidian opened #483 "[RFE] Rename flatcar_production_packet.ipxe to flatcar_production_equinix_metal.ipxe"
## Current situation

`flatcar_production_packet.ipxe` file which is part of the release still references to Equinix Metal as Packet.

There is also `COREOS_PACKET_IPV4_PRIVATE_0`, which could perhaps also be renamed.

## Impact

This might be confusing and harder to find for new Equinix Metal users.

## Ideal future situation

All references to Packet are renamed to Equinix Metal.

## Additional

[2021-08-19 07:15] t-lo commented on #350
Fixed in 2905. https://github.com/kinvolk/coreos-overlay/commit/8b69d294ac9885bfa2b7ae89534fefd94ccee0c4

[2021-08-19 07:15] #350 closed, assigned to nobody

[2021-08-19 07:20] t-lo commented on #483
We should keep the `flatcar.oem.id=packet` kernel command line parameter though for backwards compatibility, and just add equinix-metal.

[2021-08-19 07:26] t-lo commented on #38
We're 50% there: https://kinvolk.io/docs/flatcar-container-linux/latest/reference/developer-guides/sdk-modifying-flatcar/

We now need to add documentation to https://github.com/kinvolk/flatcar-docs/tree/main/docs/reference/developer-guides on how to host that image and use `flatcar-install` to update existing installations.

Updated the issue accordingly to reflect progress.

[2021-08-19 07:51] t-lo commented on #113
We appear to have lbzip2 in the SDK but not in the OS image. I've updated the summary and added a checklist of "done"s and "todo"s.

[2021-08-19 08:08] t-lo commented on #141
Interesting, this affects a number of certs:
[code]

Turns out our [ca-certificates](https://github.com/kinvolk/coreos-overlay/blob/main/app-misc/ca-certificates/ca-certificates-3.27.1-r1.ebuild) package uses a Mozilla bundle release from 2016 (3.27.1). We should upgrade to 3.69 or newer (if available), see https://ftp.mozilla.org/pub/security/nss/releases/.

[2021-08-19 08:13] t-lo commented on #158
Needs root causing (Flatcar console log etc.), tagging as good first issue until we now more.

[2021-08-19 08:16] t-lo commented on #183
Closing this since we have a workaround, and a Mellanox firmware update appears to mitigate the issue.

[2021-08-19 08:16] #183 closed, assigned to nobody

[2021-08-19 08:21] dongsupark commented on #440
PRs for deleting sdk-extras and its dependencies:
* https://github.com/kinvolk/portage-stable/pull/200
* https://github.com/kinvolk/coreos-overlay/pull/1207

[2021-08-19 08:24] t-lo commented on #286
So the task at hand is to add the kernel config options outlined above (see kernel module section in the [custom image docs](https://kinvolk.io/docs/flatcar-container-linux/latest/reference/developer-guides/sdk-modifying-flatcar/)), then file a PR to https://github.com/kinvolk/coreos-overlay/blob/main/sys-kernel/coreos-modules/files/commonconfig-5.10.

Labelling as "good first issue".

[2021-08-19 08:29] t-lo commented on #295
So the task is to add a systemd timer unit to the [mdadm package](https://github.com/kinvolk/coreos-overlay/tree/main/sys-fs/mdadm) and to remove the cron file from that package in the process.

Sounds like a good first issue!

[2021-08-19 08:36] t-lo commented on #331
I believe enabling `CONFIG_GPIO_SYSFS` is a good next step here.

Instructions for adding the kernel config are in the [OS image build doc's](https://kinvolk.io/docs/flatcar-container-linux/latest/reference/developer-guides/sdk-modifying-flatcar/) kernel modules section. To get this change into Flatcar we need a PR to https://github.com/kinvolk/coreos-overlay/blob/main/sys-kernel/coreos-modules/fi

[2021-08-19 08:48] t-lo commented on #429
Hi @ryanm101 - thanks for trying to get to the bottom of #286 ! I believe a more viable path forward is to work with a recent release (please base your work on the latest Alpha), just add the kernel config options, build a custom OS image, and file a PR if that resolves your issue.

[2021-08-19 08:58] t-lo commented on #482
Looks like we want to [enable `CONFIG_ICE=m`](https://cateee.net/lkddb/web-lkddb/ICE.html) in the [common kernel config](https://github.com/kinvolk/coreos-overlay/blob/main/sys-kernel/coreos-modules/files/commonconfig-5.10).

Instructions on how to add kernel modules are in the [custom OS images guide](https://kinvolk.io/docs/flatcar-container-linux/latest/reference/developer-guides/sdk-modifying-

[2021-08-19 08:59] argvk commented on #456
Hey there, I was wondering if there is an ETA for the findings/postmortem. From the tweets and issues, it wasn't clear which users were affected.

[2021-08-19 15:33] jepio commented on #417
We need to upgrade the default Azure VM size to `Standard_DS2_V2` (previously `Standard_D2_V2`) because the previous one doesn't support Gen2 VMs (https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2).

I will probably introduce a kola switch `--azure-vm-generation`, but i wonder how to integrate this with jenkins.

[2021-08-20 09:40] umezawatakeshi commented on #482
Thanks. I will try it.

[2021-08-20 10:31] ryanm101 commented on #429
ok so i've tried to build flarcar from the latest sources and having a few issues:

1. On my macbook (work laptop) (it is possible i have some brew <> installed that is causing a conflict but any ideas?
[code]

Luckily i have a laptop running Fedora 34 so doing it on that.

[2021-08-20 10:54] ryanm101 commented on #286
Reading: https://github.com/google/fscrypt#runtime-dependencies

For 4.1-5.0:
* https://cateee.net/lkddb/web-lkddb/EXT4_FS_ENCRYPTION.html
* https://cateee.net/lkddb/web-lkddb/EXT4_ENCRYPTION.html

For 5.1 onwards the correct setting is:
* https://cateee.net/lkddb/web-lkddb/FS_ENCRYPTION.html

My guess is that when it was cut over from 4.19 to 5.1+ the old deprecated CONFIG entries where removed b

[2021-08-23 13:14] pschulten opened #484 "Cilium pod hangs on alpha-2969.0.0-hvm"
## Description

Ciilium fails and kubernetes node is in status `NotReady`

## Impact

Node is not usable

## Environment and steps to reproduce

cilium version: `quay.io/cilium/cilium:v1.9.5`
kubernetes version: `Server Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1", GitCommit:"5e58841cce77d4bc13713ad2b91fa0d961e69192", GitTreeState:"clean", BuildDate:"2021-05-12T14:12:29Z", GoV

[2021-08-23 13:41] tormath1 commented on #484
Hi @pschulten, thanks for testing Alpha releases of Flatcar Container Linux ! :)

In `2969.0.0`, we did an update to `cgroupsv2` - see the changelog: https://kinvolk.io/flatcar-container-linux/releases/#release-2969.0.0.

You might be interested by reading this documentation: https://kinvolk.io/docs/flatcar-container-linux/latest/container-runtimes/switching-to-unified-cgroups/#kubernetes

Is Cili

[2021-08-23 13:55] pschulten commented on #484
Thanks. I will have a look.

It's kind of required for all other deployments (network)

Yes, lots of. Maybe you could point me to something more specific?

Cilium setup is pretty generic: `helm template` of the original chart with some changes (version/secrets)
The basic setup is: terraform -> infra; terraform ignition -> OS; kubeadm join/init with systemd oneshot script

[2021-08-23 14:03] ryanm101 commented on #429
Trying to build on the OS using the dev container per the custom kernel module instructions:
https://kinvolk.io/docs/flatcar-container-linux/latest/reference/developer-guides/kernel-modules/

[code]

[2021-08-23 14:15] ryanm101 commented on #429
Some progress..

[code]

[2021-08-23 14:22] ryanm101 commented on #429
Not sure if the loopback error is important....

Proxy issue is mine, need to get that whitelisted.

[code]

[2021-08-23 14:42] jepio commented on #484
I have seen this in the past when containerd config was invalid. Are you using dockershim or containerd as CRI? You're using systemd cgroup driver for Kubernetes, correct?

Could you paste the following commands output:
`systemctl status kubelet`
`systemctl cat containerd`
`systemctl status containerd`
`crictl info`

[2021-08-23 14:49] pschulten commented on #484
I'm using containerd.
My tests were on a manually edited nodepool ASG of an existing (stable Flatcar). I'm going to install a complete new cluster with 2969 and keep you posted.

I'm also going to modify the recommended cgroup settings, sorry for not reading :(

[2021-08-23 15:09] jepio commented on #484
Sorry, I think I found the problem. Our containerd config.toml accidentally zeros out the 'runtime_type' field. If your deployment method supports customizing the containerd config, then you need the following entry:
[code]

I'll get this fixed in the closest release.

[2021-08-23 16:06] pschulten commented on #484
no problem. I replaced to the whole config.toml with your entry and everything works like a charm:
[code]

[code]

[code]

[2021-08-23 16:07] jepio commented on #484
Lovely! We'll ship a fix in the next alpha minor (2969.1.0).

[2021-08-23 16:53] jepio commented on #484
Thank you so much for reporting this!

[2021-08-24 08:33] #484 closed, assigned to jepio

[2021-08-24 09:01] #286 closed, assigned to nobody

[2021-08-24 09:01] jepio commented on #286
@sayanchowdhury do you kinvolk/coreos-overlay#1212 is something we could cherry-pick into all channels?

[2021-08-24 11:44] umezawatakeshi commented on #482
@t-lo
I just confirmed that the custom kernel + driver module works fine on my hardware. May I send PR to https://github.com/kinvolk/coreos-overlay repo ?

[2021-08-24 13:52] t-lo commented on #445
@dongsupark The Azure image-builder PR is still failing a test (containerd version detection), can you help? https://github.com/kubernetes-sigs/image-builder/pull/652

[2021-08-25 15:03] #249 closed, assigned to nobody

[2021-08-25 18:36] tbbharaj commented on #156
Facing same issue on arm64 ami, is there a plan to get a fix rolled out for this anytime soon?

[2021-08-25 19:36] BikesAndBBQ opened #485 "[RFE] Allow tty logging (maybe via pam_tty_audit.so)"
## Current situation

I'm trying to use auditd to log commands run on TTYs on our nodes. (I'm hoping to catch both commands run after sshing directly into nodes and also commands run after execing into containers.) I can't enable pam_tty_audit because that module is not installed alongside other PAM modules.

## Impact

We're trying to enable this auditing to meet regulatory compliance goals.

##

[2021-08-25 19:40] pothos opened #486 "Add kola test for using the OEM partition with Ignition"
## Current situation

The OEM partition is a bit special in Ignition configurations because it's shipped as part of the image but needs to be declared first in an Ignition filesystem creation entry to place files on it via Ignition. In this use case, the filesystem creation entry will reuse the existing filesystem when the specs fit but a mismatch would lead to a boot error - which caused troubles

[2021-08-26 07:50] tormath1 commented on #486
@pothos I think we can label this one as a `good-first-issue` ? What do you think ?

[2021-08-26 11:44] vbatts commented on #452
oh good. I was just coming to create this issue, but you've already got it tracked.
A couple of things shake out of this.

Here are the list of [flatcar repos](https://github.com/search?q=topic%3Aflatcar+org%3Akinvolk&type=Repositories) to split out. Some we actually merged with existing kinvolk repos, like the fork of the linux kernel. (flatcar one is used for tags of releases, and kinvolk one wa

[2021-08-26 11:45] vbatts commented on #452
Also, I think we're close on getting the website portion done. @joaquimrocha and @sayanchowdhury were recently reviewing that.

[2021-08-26 11:47] vbatts commented on #452
re docs: I would love for the docs to just use github pages.

For that matter, it almost seems that most of the flatcar page could be statically served up there, and not need an outside service 🤔

[2021-08-26 12:21] joaquimrocha commented on #452
I agree for the flatcar page hosting (because we can add a custom domain).
As for the docs, would it be hosted then in "inspektor-gadget.github.io" or "inspektor-gadget.github.io/docs" ? The URL is not great, I mean.

[2021-08-26 12:41] vbatts commented on #452
I recall seeing subdomains possible. Per your example "docs.inspektor-gadget.github.io"

[2021-08-26 13:00] jepio commented on #473
I hope the above comments helped you add your package to the image. You can also get help in our  matrix room: https://app.element.io/#/room/#flatcar:matrix.org.

[2021-08-26 13:00] #473 closed, assigned to nobody

[2021-08-26 14:49] pothos commented on #474
I found one more case where the tests with verity would go wrong when not using QEMU: https://github.com/kinvolk/mantle/pull/218

[2021-08-26 15:38] jepio commented on #485
This requires adding `audit` use flag to `sys-libs/pam`, shouldn't be an issue.

Out of curiosity: which compliance are you trying to achieve and do you have any other issues with getting Flatcar approved?

[2021-08-26 15:42] jepio commented on #423
I tried it out and it was pretty cool, but a bit tricky to configure. Adding the pam module itself should not be an issue, but the `google-authenticator` program would need to be somewhere else to generate the creds. These could then be injected via ignition.

Could you share a bit more about your use case? Once the pam module is in the image, perhaps you'd be able to contribute a small guide on h

[2021-08-26 16:32] BikesAndBBQ commented on #485
Compliance might be incorrect here because I think this might be for a SOC2 rather than SOX, but essentially trying to demonstrate a control that all human initiated commands run in the production environment are logged.

Flatcar in particular hasn't really been an issue here, most of the controls we're trying to put in place we're able to do in kubernetes or AWS, but this particular control like

[2021-08-27 09:49] t-lo commented on #441
WIP PR (just a start for now) is at https://github.com/kinvolk/flatcar-scripts/pull/147.

[2021-08-27 11:02] jepio commented on #125
The lbzip2 will soon be addressed by https://github.com/kinvolk/coreos-overlay/pull/1221.

[2021-08-27 13:47] jepio commented on #417
The audit denied entries don't show up with current images.

In the meantime the CI has started running nightly tests on Azure Gen1 and Gen2 VMs, and all tests are green. So everything works as intended :)

[2021-08-27 13:47] jepio commented on #417
The only thing left to do is to officially publish the image as a Gen2 image in the marketplace. Let's see if we manage to do that in time for next weeks release.

[2021-08-27 13:51] #417 closed, assigned to jepio

[2021-08-27 15:17] #407 closed, assigned to nobody

[2021-08-28 09:29] t-lo commented on #482
Yes, please do! Sorry for the long wait.

[2021-08-28 11:12] AlexHunterCodes commented on #417
Does this mean Gen2 images for Azure will work well in Gen2 Hyper-V VMs, or will this still require manual image customisation/installation as before?

[2021-08-28 15:52] jepio commented on #417
Can you tell me more about the customisations required for Gen2 Hyper-V VMs, I wasn’t aware that there was an issue.

[2021-08-29 00:59] DRKV333 opened #490 "Perl is broken in development container"
## Description

The version of perl included in the current Flatcar development container was compiled wrong, and will immediately segfault under certain condition. This is actually a really old issue from CoreOS (coreos/bugs#2369), that was originally ignored, and has just been noticed and fixed in upstream not long ago (Perl/perl5#18739). This issue might be caused by the same problem: #307. Int

[2021-08-29 21:55] salfter opened #491 "Can't set timezone: "Failed to set time zone: Failed to set time zone: Is a directory""
## Description

I have a Home Assistant container that I moved from Gentoo to Flatcar.  It's now firing time-based events 7 hours early because the system clock is set to UTC instead of local time.  I checked the container on the Gentoo box from which I copied it; it appears to just use whatever timezone the host uses (US/Pacific).  I found the [instructions to set the timezone](https://kinvolk.io

[2021-08-30 08:31] pothos commented on #113
https://github.com/kinvolk/coreos-overlay/pull/1221 is merged which adds lbzip2 to the image. The bzip2 binary is still the original single-thread bzip2 and not a symlink but flatcar-install uses lbzip2 if detected.

[2021-08-30 08:31] #113 closed, assigned to nobody

[2021-08-30 12:28] dongsupark commented on #291
Filed a PR to update repo to 2.8 in LTS. https://github.com/kinvolk/coreos-overlay/pull/1234

[2021-08-30 12:52] tormath1 commented on #491
Hi @salfter,

What is your current Flatcar's version (`cat /etc/os-release`) ? I tried to reproduce using the current stable (`2905.2.2`) and I can successfully set the timezone using `timedatectl`.

I can reproduce if I `sudo mkdir /etc/localtime` - maybe you created this directory by mistake ?

For your information, if you use `ignition` for initial provisioning, you can directly create the syml

[2021-08-30 13:50] jepio commented on #490
Thanks, I dove into the perl-cross scripts and figured out what's going on:
If the `optimize` variable is passed by the user, then `perl-cross/cnf/configure_tool.sh` won't append `-fwrapv -fno-strict-aliasing` to it. Since we touch `optimize` (https://github.com/kinvolk/portage-stable/blob/main/dev-lang/perl/perl-5.26.2.ebuild#L505), we need to take care of passing fwrapv and fno-strict-aliasing o

[2021-08-30 17:00] salfter commented on #491
2905.2.2.

The only reference to /etc/localtime in the YAML I'm using is to include it on a read-only basis in the Home Assistant container (which would explain why it shares the same timezone as the host).  I suspect this might've created /etc/localtime as a directory when it didn't already exist, since I hadn't previously set the timezone.

I deleted the localtime file I'd copied from a Gentoo b

[2021-08-30 17:00] #491 closed, assigned to nobody

[2021-08-30 17:04] tormath1 commented on #491
@salfter awesome, feel free to reach out again if you need and I'm glad that your lamp will be back on your timezone !

[2021-08-31 08:50] #482 closed, assigned to nobody

[2021-08-31 09:57] ryanm101 commented on #286
@jepio Do you know when this is likely to make it to 'stable' ?

[2021-08-31 12:13] jepio commented on #286
Should be in the stable release coming out this/next week.

[2021-08-31 12:37] jepio commented on #490
So the fix will be part of all channels this week, and the upstream PR has been submitted. I'll go ahead and close this .

Thanks for the issue, its interesting to see what people use torcx for. We're starting to think about replacing torcx with something else that will remain compatible but be better maintained and documented (https://github.com/kinvolk/Flatcar/issues/443).

[2021-08-31 12:37] #490 closed, assigned to jepio

[2021-08-31 15:38] tormath1 commented on #485
Hi @BikesAndBBQ thanks for this report ! It has been added in the following PR: https://github.com/kinvolk/coreos-overlay/pull/1233 and it will be available in the very next alpha release !

[2021-08-31 15:38] #485 closed, assigned to nobody

[2021-08-31 16:48] aniruddha2000 commented on #295
@t-lo Do I need to add the systemd timer in the [init](https://github.com/kinvolk/init/tree/flatcar-master/systemd/system) repo?

[2021-08-31 17:35] BikesAndBBQ commented on #485
Awesome, thank you!

[2021-08-31 20:24] pothos commented on #295
It should be part of the mdadm package itself, in the `files` folder.

[2021-09-01 06:56] aniruddha2000 commented on #295
Added mdadm(timer, service) in the [files](https://github.com/aniruddha2000/coreos-overlay/tree/aniruddha/add-mdadm-timer/sys-fs/mdadm/files) . I need a clarification that do I have to use [systemd_dounit](https://devmanual.gentoo.org/eclass-reference/systemd.eclass/index.html) to install the timer unit to the package and remove the mdadm.weekly file and it's reference in the ebuild file to remove

[2021-09-01 08:35] pothos commented on #295
The timer unit needs an install section to be able to enable it:
[code]
Yes, `systemd_dounit` sounds good and removing the installation of the .weekly file.

[2021-09-01 10:00] t-lo commented on #441
- SDK container can build everything the regular SDK can
- Switching between releases (by release version) is implemented
That's 2 of 4 :)

[2021-09-01 11:44] AlexHunterCodes commented on #417
The original post says that people have previously been building their own Flatcar images to run in Azure Gen2 VMs because these were not officially provided.

Hyper-V images are provided, but there is barely any documentation referencing their existence (which struck me as odd since the MS acquisition, then again it looks like standalone Hyper-V is being killed off anyway) so I assumed these imag

[2021-09-01 14:50] pothos commented on #474
I created a new PR to install selinux tools and enable selinux on arm64 https://github.com/kinvolk/coreos-overlay/pull/1245 (replacing https://github.com/kinvolk/coreos-overlay/pull/135).
This will hopefully allow us to enable the SELinux tests for arm64 again.

[2021-09-01 15:58] mleklund commented on #59
what is the general timeline of a feature like this making it to stable?

I saw it has been released in alpha.

[2021-09-01 16:51] jepio commented on #59
In general alpha->stable transitions take between 2 and 4 months, but there is no hard rule. In this case I expect this feature to land on stable next month (October).

Are you asking because you're looking forward to it?

[2021-09-01 19:19] mleklund commented on #59
Yes, I looking to move k8s to 1.20+, I use kubeadm which wants systemd-cgroups, and we are trying to get away from root containers.

[2021-09-02 11:54] oseiberts11 opened #493 "Signing key mismatch"
I am trying to verify your files with your PGP signature, but the signatures don't seem to match.

This worked until a few days ago.

[code]
The key I have is, via https://kinvolk.io/docs/flatcar-container-linux/latest/setup/releases/verify-images/ from https://flatcar-linux.org/security/image-signing-key/Flatcar_Image_Signing_Key.asc
[code]
[code]

This is a different key than documented (which s

[2021-09-02 11:56] oseiberts11 commented on #493
I should add: what worked until a few days ago was the key obtained via `gpg --keyserver hkp://keys.gnupg.net --receive-keys 50E0885593D2DCB4`. This seems to be also the ID that can be found in the output on https://kinvolk.io/docs/flatcar-container-linux/latest/setup/releases/verify-images/ .

[2021-09-02 11:58] pothos commented on #493
The new key is under: https://kinvolk.io/flatcar-container-linux/security/image-signing-key/Flatcar_Image_Signing_Key.asc (linked from https://kinvolk.io/flatcar-container-linux/security/image-signing-key/)

We should update the old website contents.

[2021-09-02 12:00] oseiberts11 commented on #493
Thanks, that key works for my test example. Is it available from some keyserver? We used hkp://keys.gnupg.net before but that doesn't seem to exist any more?

[2021-09-02 12:12] pothos commented on #493
PR to use the new URL in the docs, which were still linking to the old website: https://github.com/kinvolk/flatcar-docs/pull/179

[2021-09-02 12:13] pothos commented on #493
It's on hkps://keys.openpgp.org but honestly, key servers are not recommended, the website is what we use.

[2021-09-02 12:18] oseiberts11 commented on #493
Thanks! I can see one advantage of using a key server with lookup by ID: you certainly get the right key. I remember there was some hardening to make it more difficult to forge a particular key ID.

[2021-09-02 13:46] pothos commented on #493
The key should now be updated in the old location, too.

[2021-09-02 13:46] #493 closed, assigned to nobody

[2021-09-02 14:22] vbatts opened #494 "[RFE] generate SPDX json, like we already do for `*_licenses.json`"
We already generate a [`*_licenses.json`](http://stable.release.flatcar-linux.net/amd64-usr/current/flatcar_production_image_licenses.json), which is an inherited and bespoke document structure.
(done in [`build_library/build_image_util.sh`](https://github.com/kinvolk/flatcar-scripts/blob/main/build_library/build_image_util.sh#L354))

Industry-wide is moving to SPDX spec for this kind of document.

[2021-09-02 15:42] jepio commented on #417
That was what we thought, but it turned out that previous releases VHDs boot looped on Azure Gen2 VMs and couldn't be used.

I understand where you're coming from, but keep in mind that Flatcar is a community project. The MSFT acquisition has not changed that. Some platforms are better documented and supported, there's no denying that, but over time things get better as users contribute issues/doc

[2021-09-02 16:29] vbatts commented on #494
probably a small utility from something like https://gist.github.com/vbatts/dc1756ec0c8fcc648081c05de64262f0 would be a place to produce the metadata, and then just output to the two different formats.

[2021-09-02 19:12] pothos commented on #295
Thanks @aniruddha2000 https://github.com/kinvolk/coreos-overlay/pull/1244 is merged

[2021-09-02 19:12] #295 closed, assigned to nobody

[2021-09-02 21:24] mikekuzak opened #495 "[REF] Support for Fuse and mount.fuse for MergerFs"
## Current situation
 Add support for FUSE

## Impact
Not able to use MergerFS as it's depending on Fuse

## Ideal future situation
Would be great if the mount.fuse helper would be available to auto-mount any fusefs.

[2021-09-03 08:57] tormath1 commented on #470
a PR has been opened to provide a bit more of documentation around the kola tests: https://github.com/kinvolk/mantle/pull/223 :)

[2021-09-03 09:03] pothos commented on #474
The tests now pass with SELinux enabled:

[code]

[2021-09-03 12:34] vbatts commented on #418
thanks for this, @tormath1

[2021-09-03 13:54] vbatts commented on #418
due to the way OpenSSL have refactored the project as it relates to the FIPS canister.
If we can upgrade to v3, then it will be much easier for users of Flatcar to boot into fips_mode, and then this openssl v3 just does the FIPS thing

[2021-09-03 14:30] ryanm101 commented on #286
Just grabbed it will be testing properly next week, thank you

[2021-09-03 15:20] dharmab commented on #469
One way to leverage Mosh could be to run an SSH bastion host running Mosh, and then SSH from the bastion to Flatcar.

[2021-09-04 15:31] AlexHunterCodes commented on #417
Oh sure, absolutely. Reading my comment back, sorry for the tone, didn't mean to come across like that. I just didn't understand why you were going to the effort of building CI images for a platform that appeared to be undocumented and somewhat abandoned. Couldn't tell if it was undocumented just because nobody has gotten around to writing it yet, or because the project explicitly decided to drop

[2021-09-06 12:54] #478 closed, assigned to nobody

[2021-09-06 12:56] jepio commented on #348
Docker 20.10 is in Flatcar v2969.0.0.

[2021-09-06 12:56] #348 closed, assigned to jepio

[2021-09-07 12:54] vbatts commented on #418
[OpenSSL v3.0.0 is released](https://www.openssl.org/news/openssl-3.0-notes.html)

[2021-09-08 10:23] alban opened #499 "[RFE] Seccomp Notify in Flatcar"
## Current situation

The Seccomp Notify feature was just merged in runc (https://github.com/opencontainers/runc/pull/2682) and it is not yet available in Flatcar

## Impact

* We cannot run containers with a Seccomp Profile that uses the Seccomp Notify feature.
* We cannot use https://github.com/kinvolk/seccompagent on Flatcar

## Ideal future situation

Flatcar can run containers with Seccomp Pr

[2021-09-08 11:18] dongsupark commented on #499
As for linux-headers, all channels of Flatcar have actually linux-headers 5.8 or older.
We should update it to >= 5.10, as most Kernels are 5.10.

[2021-09-08 12:16] dongsupark opened #500 "[RFE] publish containerd versions via flatcar_production_image_packages.txt"
## Current situation

At the moment, there is no way to fetch a containerd version of a specific Flatcar version or channel. That is different from other packages like docker, which are easily available on both `flatcar_production_image_packages.txt` and the Flatcar releases website. It has been always like that since the beginning of torcx. It is one of the most confusing aspects of Flatcar.

Edi

[2021-09-08 13:28] jepio opened #501 "[RFE] Support Secure Boot"
## Current situation

Flatcar currently does not support Secure Boot. We use a really old fork of shim and grub, and our artifacts are not signed in a way that works on machines with official UEFI CA keys.

## Impact

Users can't run UEFI with Secure Boot enabled. This doesn't only affect bare metal installs but also some VMs (e.g. Azure Trusted Launch https://azure.microsoft.com/en-us/blog/announ

[2021-09-08 14:35] pothos commented on #501
I think we also need to change the way we use the `grub.cfg` config file on the OEM partition to read in variables. Maybe we can reduce this to a OEM file that we parse for some OEM ID and inside the trusted GRUB configuration then check against this value to set the desired variables.

[2021-09-09 08:26] ribbybibby commented on #314
This is working for us now. Did anything change your side?

[2021-09-09 13:45] jepio opened #502 "[RFE] Provide RaspberryPi 4 images"
## Current situation

It is possible to boot current arm64 alpha images (2983.0.0) on RaspberryPi 4, but there are several manual steps needed to perform the setup and to gain SSH access to the board.

## Impact

It is hard for people to play around with Flatcar on a very popular platform.

## Ideal future situation

We provide pre-built images with raspberrypi specific configuration, and some nic

[2021-09-09 14:10] jepio commented on #502
I have this working on my own RaspberryPi and here's a rough description of the steps required and my WIP state. There is an easy way to get it working and a nice way.

# The easy way
You need an SD card and a USB stick (min 8GB).

## SD card

1. Format the SD card with MSDOS partition table, and create a single FAT partition.
2. Mount the FAT partition and unpack the contents of https://github.co

[2021-09-09 14:26] jepio commented on #502
Here's what I consider the nicer way, because you can do without the SD card but requires updating EEPROM and maybe modifying BOOT_ORDER EEPROM variable to boot from USB

# The nice way

## EEPROM

Update your EEPROM. I don't exactly know how this is best done, there are some files here: https://github.com/raspberrypi/rpi-eeprom/releases, you can also update with scripts from a running raspberrypi

[2021-09-09 14:28] jepio commented on #502
I would like us to provide rpi images on our servers, that have atleast the correct grub.cfg, and RPI4 UEFI firmware on the boot partition. With the right documentation people could then:
* update EEPROM, and boot from USB
* clone the boot partition onto an SD card and boot from SD

[2021-09-09 14:58] ryanm101 opened #503 "Upgrade breaks unbound DNS as systemd-resolved gets port 53 1st"
Upgraded flarcar from
`Flatcar Container Linux by Kinvolk 2512.5.0 (Oklo)   4.19.145-flatcar   docker://18.6.3`
to
`Flatcar Container Linux by Kinvolk 2905.2.3 (Oklo)   5.10.61-flatcar    docker://19.3.15`
 as https://github.com/kinvolk/Flatcar/issues/286 solves my encryption issues, the cluster is on Kubes v1.17.17

I've not hit another issue that wasnt there before where `systemd-resolved` grabs

[2021-09-09 15:05] pothos commented on #503
Hi,
see https://github.com/kinvolk/Flatcar/issues/357#issuecomment-790530324 for the details: systemd-resolved listens on localhost port 53 by default but you can turn it off if you need the port for other things. Binaries in the host that use nss will still be able to resolve through systemd-resolved as this isn't going through UDP.

[2021-09-09 15:05] #503 closed, assigned to nobody

[2021-09-10 08:25] #434 closed, assigned to nobody

[2021-09-10 08:25] #454 closed, assigned to nobody

[2021-09-10 12:57] ryanm101 opened #505 "systemd ratelimit being hit after upgrade"
Upgraded flarcar from
`Flatcar Container Linux by Kinvolk 2512.5.0 (Oklo)   4.19.145-flatcar   docker://18.6.3`
to
`Flatcar Container Linux by Kinvolk 2905.2.3 (Oklo)   5.10.61-flatcar    docker://19.3.15`
 as https://github.com/kinvolk/Flatcar/issues/286 solves my encryption issues, the cluster is on Kubes v1.17.17

We have two systemd files that are now failing:

* /etc/systemd/system/kubelet-pr

[2021-09-10 13:50] jepio commented on #500
So there is something i don't understand. Here's how I understand things:
* image-builder does not install containerd on flatcar
* the containerd version passed while building flatcar AMIs is only used to check the version contained within the OS

So what's the point of passing a containerd version at all? It would make sense to remove the containerd version related checks on Flatcar and rely on w

[2021-09-10 14:41] vielmetti commented on #97
Looking forward to hearing more on this at the community meeting.

[2021-09-12 19:10] till commented on #505
@ryanm101 Commenting per your init remark as I have felt your pain. 😂

Don't have a solution, but maybe a thought or two: SystemD has targets to avoid race conditions, so that may be one thing for you.

In addition there are different types - OneShot for example, which would negate having to run a `systemctl stop foo`, which I also tried doing but it never worked reliably for me.

LBNL, something

[2021-09-13 09:28] ryanm101 commented on #505
Honestly not 100% why it was done (previous team did this piece of code prior to leaving) so i've inherited it.

From the descriptions it looks like (again i'm not really hugely familiar with systemd) the 1st job does nothing but create some sort of watcher for that file to appear which it will once our bootstrapping is completed. that allows the 2nd job to trigger which then stops the static pods

[2021-09-13 10:13] till commented on #505
@ryanm101 Hmm, learned something new and it's just Monday: It seems like your `.service` should only run once `.path` reaches the desired state. There's already some sort of inotify thing running. But are you sure you need to stop the `.path` unit at all? It doesn't seem like that is necessary.

The other thing I would look into is, `.path` unit may need to wait for something else. Maybe the devic

[2021-09-13 10:16] akunszt opened #506 "[cork] Failed to run create with UTF-8 user.name in git config"
If you have an UTF-8 user.name value in git config then `cork create` command fails with this:
[code]
After changing the value to an ASCII-only then it will work as expected.

Please not that the stacktrace mentions only `user.email` but the whole line looks like this:
[code]

This is not working:
[code]
This is working:
[code]
I think this is a bug in [gerrit/git-repo](https://gerrit.googlesource

[2021-09-13 11:59] vbatts commented on #418
added https://www.openssl.org/docs/man3.0/man7/migration_guide.html to the opening post

[2021-09-13 14:29] ryanm101 commented on #505
@till So i never actually stop the `.path` it's requires the `ConditionPathExists=!/etc/kubernetes/kubelet.conf` to be met to run.. on the old nodes it shows something like 'condition not met' in it's eventlog.

I *think* it is else it might never run???? i'm not sure how often it 'tries' compared to the `.path` I am with you though in logic i agree i dont think it *should* be needed given it has

[2021-09-13 14:38] pothos commented on #505
Looks like you relied on some undefined behavior that is not supported anymore?
I would recommend you to rewrite the units. E.g., either use a target as suggested or turn this into a single service that acts as dependency for running the static pods, modeling it so that you use systemd-notify to mark the service ready when the prebootstrap is done - a simple shell script should be able to spawn `k

[2021-09-13 14:57] ryanm101 commented on #505
[code]

is the service that does the bootstrapping

I wonder if i added `After=` to the `/path` and `-stop.service` would that help force an order and timing.

[2021-09-13 15:10] pothos commented on #500
We talked about it today and suggest two things:

- disable auto-updates (mask update-engine) so that the containerd version doesn't change and the built Flatcar image by default behaves more like other images
- when a particular containerd version is required, it should get downloaded to `/opt` and overwrite the Flatcar in-built version similar to https://kinvolk.io/docs/flatcar-container-linux/l

[2021-09-13 21:16] invidian commented on #88
NOTE: with https://github.com/flatcar-linux/init/pull/47/commits/637123672bbd9724e8416d679bebcdbf98353aa0, it now also require `btrfs-progs` on Ubuntu or `btrfs-progs-extra` on alpine.

[2021-09-13 21:17] invidian commented on #88
BTW, this is sort of addressed by https://github.com/flatcar-linux/init/pull/50 ?

[2021-09-14 09:09] krnowak commented on #88
Yeah, there are no version checks. I suppose that the documentation could point to the `toolset` variable in the script for the list of required tools.

[2021-09-14 16:29] #312 closed, assigned to nobody

[2021-09-14 17:43] aniruddha2000 opened #508 "toolbox failing to launch Ubuntu container"
As per [this](https://github.com/flatcar-linux/toolbox#toolbox) when running the `toolbox` binary then it is giving the output -
[code]

[2021-09-15 14:51] t-lo commented on #60
Proof-of-concept PRs on the Flatcar side:
* https://github.com/kinvolk/flatcar-scripts/pull/105
* https://github.com/kinvolk/coreos-overlay/pull/724

Next steps / open issues
- distribution of OEM updates via update server
- clean implementation of PoC

[2021-09-15 15:27] tormath1 opened #509 "SELinux prevents usage of `execsnoop` in `enforcing` mode"
## Description

Observed into https://github.com/flatcar-linux/mantle/pull/233 - SELinux in `enforcing` mode (default test behavior) prevents `execsnoop` (and certainly other BPF tools related) to run correctly:
<details>
  <summary>logs</summary>

[code]
</details>

[code]

## Impact

it prevents `bpf` tools to run.

## Additional information

We could try to add this patch: https://github.com/SE

[2021-09-15 15:49] boneshark1 commented on #335
I found that I also had to edit /usr/local/etc/rc.d/tcsd and /usr/local/etc/rc.d/tpmd to alter permissions and defaults

tcsd:
tcsd_precmd()
{
        /usr/bin/install -d -m 0700 -o root -g _tss \             #changed owner  from _tss
            /var/run/tpm /var/run/ima /usr/local/var/lib/tpm
        /usr/sbin/chown root:_tss \
            /usr/local/etc/tcsd.conf
        /bin/chmod 0640 \

[2021-09-15 16:24] pothos commented on #335
@boneshark1 are you talking about Flatcar Container Linux? There is no `/usr/local/etc/`.

[2021-09-16 09:31] jepio commented on #508
Appears to be the same issue as this: https://github.com/flatcar-linux/Flatcar/issues/465

[2021-09-16 11:51] tormath1 commented on #509
NOTE: `sec-policy/base-policy` is released with the patch. (see: https://gitweb.gentoo.org/repo/gentoo.git/tree/sec-policy/selinux-base-policy/selinux-base-policy-2.20210908-r1.ebuild)

[2021-09-16 13:21] jepio commented on #500
Found out it's slightly more involved: containerd is taken from the image but containerd-shim-runc is taken from an upstream tarball, that's why the version has to match. But Flatcar ships the container-shim-runc binaries already so it doesn't make sense.

Doing what @pothos wrote in the second bullet point will clear this up.

[2021-09-16 13:34] pothos commented on #500
I don't have the clarity yet if there is a strong coupling of containerd and the rest that's put on the image or if Flatcar's inbuilt version is enough.

[2021-09-17 08:54] tormath1 opened #510 "[RFE] `locksmith`: integration with `FleetLock`"
## Current situation

`locksmith` is highly bound to `etcd`: users who want to have a cluster reboot coordination needs to use `etcd`. The idea is to implement a `FleetLock` client into `locksmith`.

## Impact

Flatcar users will benefit from `FleetLock` integration:
* more backend flexibility to orchestrate rebooting of instances inside a cluster
* remove `etcd` dependency from `locksmith`

## Id

[2021-09-17 18:53] ghost opened #512 "Error creating libvirt domain Failed to lock byte 100"
## Description

[ 1 paragraph concisely describing the bug ]

I am trying to create a VM by following this:
https://kinvolk.io/docs/flatcar-container-linux/latest/installing/vms/libvirt/#terraform

terraform apply  returns an error saying that it failed to create the libvirt domain.

## Impact

[ 1 sentence detailing the impact this bug is creating for you ]

I can't use terraform to create VMs.

[2021-09-20 09:08] pothos commented on #512
Hello,
does it work with apparmor disabled?

[2021-09-21 09:56] jepio commented on #512
@KarlNord check dmesg or the log for apparmor audit failures, and please paste those, that should contain a hint. File locking requires the 'k' permission. Who created the apparmor override files that you pasted into the issue?

[2021-09-22 05:53] ArkaprabhaChakraborty commented on #494
Hi @vbatts , I want to know how to generate the spdx id for a particular package. I'm working on this issue

[2021-09-22 09:03] #486 closed, assigned to tormath1

[2021-09-22 11:42] vbatts commented on #494
@ArkaprabhaChakraborty cool! This will be a little research on ensuring we generate ID's that are aligned with how other distributions do as well.

[2021-09-22 12:27] krnowak opened #513 "Follow the wa-linux-agent patch upstreaming"
I have filed a PR to wa-linux-agent to upstream our patch. This issue is to follow it here.

The PR: https://github.com/Azure/WALinuxAgent/pull/2365

[2021-09-23 07:08] tormath1 opened #514 "tests: `cl.ignition.oem.wipe` fails on `esx`"
## Description

In this PR: https://github.com/flatcar-linux/mantle/pull/235, we added testing for `OEM` especially for playing around the FS format since we introduced this patch: https://github.com/flatcar-linux/ignition/pull/22 - but the associated test is failing on `esx` platform:
[code]

## Impact

We can't test correctly the OEM patch.

## Environment and steps to reproduce

1. Get access t

[2021-09-23 08:24] jepio commented on #514
Wiping the OEM partition will also not work for Azure, because the waagent is responsible for reporting successful boot - without it the VM creation is considered a failure.

[2021-09-23 10:27] ArkaprabhaChakraborty commented on #494
@vbatts if possible can you provide me some links on how any other distro has done it?

[2021-09-27 07:27] Winnie81 opened #516 "New Package Request: [open-vm-tools 11.3.5]"
Open-vm-tools 11.3.5 GA was announced on 23 Sep 2021 . Please rebase OVT to our newest release in future.

About vmtools release information, please refer to https://docs.vmware.com/en/VMware-Tools/, https://github.com/vmware/open-vm-tools/releases/tag/stable-11.3.5.

Thanks.

[2021-09-27 07:49] jyotishsre36 opened #517 "Not able to ssh into cluster nodes using public key in Flatcar 2905.2.3"
## Description
We are facing login failures into kubernetes nodes using ssh core public key since migrating to 2905.2.3 version.
We are currently running version Flatcat 2765.2.3 in our production environment and ssh works perfectly fine
## Impact

We are not able to login and troubleshoot any issues into kubernetes cluster nodes
## Environment and steps to reproduce
Below is the error we get when

[2021-09-27 07:56] jepio commented on #517
None of the OpenSSL changes should affect ssh login.
Do I understand correctly that the login just hangs and no prompt comes up on screen?

Can you describe the scenario in a bit more detail:
* do you see the issue after a node upgrades from 2765.2.3 -> 2905.2.3?
* do you see the issue on new 2905.2.3 nodes after installing kubernetes?
* can you login to fresh 2905.2.3 nodes before installing kube

[2021-09-27 08:50] jepio commented on #517
What environment is this? (cloud provider, etc.)

Can you paste your ignition config (or do you use a different means to configure ssh key)?

Do you have access to a out-of-band method to verify that the nodes boot correctly (serial log)?

[2021-09-27 13:23] Chandrapal-Panwar commented on #517
What environment is this? (cloud provider, etc.)
We are not using any cloud provider but performing it in on-prem with  downloads the ova from Flatcar.
Can you paste your ignition config (or do you use a different means to configure ssh key)?
We use script to put ssh key on vm template for bringing it up.
Do you have access to a out-of-band method to verify that the nodes boot correctly (serial lo

[2021-09-27 14:41] jepio commented on #517
Hi @Chandrapal-Panwar,

So you're running on vsphere and have access to the console - that's good. This look like a connectivity issue and not anything ssh specific.

Can you paste the outputs of the following commands on a 2905.2.3 node:
* `networkctl`
* `ip addr`
* `ip route`
* `iptables -vnL`

[2021-09-28 07:37] Chandrapal-Panwar commented on #517
Hello Jepio,
Please find the output of commands from console in [attachment.](url)
![screenshot1](https://user-images.githubusercontent.com/69238204/135043212-8394f299-f21c-4740-b604-eb7053a3a3b2.JPG)
![Uploading screenshot2.JPG…]()

[2021-09-28 07:56] jepio commented on #517
I can't see the second screenshot.

Can you run a `tcpdump -i ens192 -p -n -e` on the console, while attempting  to ssh and verify that packets are being accepted?
And check if `journalctl -g ssh` on the node shows some more hints.

[2021-09-28 10:18] Chandrapal-Panwar commented on #517
Please find all details attached.
![screenshot1](https://user-images.githubusercontent.com/69238204/135068923-f7fe5163-9d64-422a-8bbb-1fb6f4cf5e64.JPG)
![screenshot2](https://user-images.githubusercontent.com/69238204/135068926-7ded53b8-ccb9-428c-913e-f0c088231d49.JPG)

[2021-09-28 10:22] Chandrapal-Panwar commented on #517
One more
![Screenshot4](https://user-images.githubusercontent.com/69238204/135069680-f3b6b7eb-7c9f-4131-b1fa-09849c46a39c.jpg)

[2021-09-28 11:58] jepio commented on #517
Im starting to run out of ideas, but here's two more questions:
* what kind of customizations do you do to `/etc` in your image build?
* can you paste the output of `ssh -i /tmp/key core@x.x.x.x -vvv` when connecting to a 2765 node?
* check journalctl if there are any error messages on the 2905 node

[2021-09-28 13:38] pothos commented on #500
We filed a PR which implements the setup of the requested version in /opt.

Including the contained version in `flatcar_production_image_packages.txt` is still wanted and there are two options: remove torcx and install containerd directly to the image, or query the torcx package versions and append them to the package file.

[2021-09-28 15:09] tormath1 opened #519 "[RFE] `update_engine`: migrate to OpenSSLv3"
## Current situation

[`update_engine`](https://github.com/kinvolk/update_engine) is not fully compatible yet with `OpenSSLv3`.

## Impact

We run on deprecated functions and we do not fully benefit from OpenSSLv3 upgrade.

## **Implementation options

The migration looks pretty straight forward (see the patch attempt) but there are this two methods:

[code]

which require a bit more of attention

[2021-09-28 15:10] tormath1 commented on #418
update:
* `update_engine` is not fully compatible with `OpenSSLv3`, see: https://github.com/flatcar-linux/Flatcar/issues/519
* `dev-python/cryptography` does not build as expected but it has been removed in https://github.com/flatcar-linux/portage-stable/pull/219
* `afterburn` needs to upgrade its openssl dependencies: https://github.com/flatcar-linux/coreos-overlay/pull/1315
* `coreos.locksmith.t

[2021-09-28 15:13] #179 closed, assigned to dongsupark

[2021-09-29 12:10] dongsupark opened #520 "Regressions in Mellanox Kernel drivers in Stable 2905.2.4, Alpha 3005.0.0"
We released on Sep. 27th (Mon) LTS 2605.21.0 (Kernel 5.4.147), Stable 2905.2.4, and Alpha 3005.0.0 (both Kernel 5.10.67).

However, both Stable 2905.2.4 and Alpha 3005.0.0 have regressions around Mellanox network drivers, so that a machine with the new Kernel could become simply unreachable.
That regression was originally caused by commit [fe6322774ca2](https://git.kernel.org/pub/scm/linux/kernel/

[2021-09-29 12:57] agiterman1 commented on #305
still not working on 2905.2.4
sample output:

/etc/selinux/mcs/contexts/files/file_contexts:  line 1 is missing fields, skipping
/etc/selinux/mcs/contexts/files/file_contexts:  line 2 is missing fields, skipping
/etc/selinux/mcs/contexts/files/file_contexts:  line 3 is missing fields, skipping

[2021-09-29 13:15] tormath1 commented on #305
Hi @agiterman1 ; SELinux upgrade did not land yet on `stable`, it should be available middle of Oct. after the next `stable` release maintenance  - it's in `beta` and `alpha` if you want to give a try.

[2021-09-29 13:58] pothos opened #521 "[RFE] Require the network-online target for update-engine.service"
## Current situation

The `update-engine.service` marks the updated partition as successful around 1 minute after the reboot.
When there is a regression and the instance has no network anymore, it has to be manually rolled back through the serial console.

## Impact

Longer downtime due to complex manual intervention.

## Ideal future situation

The instance rolls back automatically (but with or w

[2021-09-29 14:09] pothos commented on #514
We can close this, right?

[2021-09-29 14:09] #514 closed, assigned to nobody

[2021-09-29 16:32] krnowak commented on #513
The PR got merged.

[2021-09-29 16:32] #513 closed, assigned to krnowak

[2021-09-30 02:23] Winnie81 opened #522 "Version info of 2905.2.4 is 2905.2.3"
## Description

Version info of 2905.2.4 is 2905.2.3

## Environment and steps to reproduce

1. Install VM 2905.2.4.
2. cat /etc/os-release. Please refer to below screen shot.

<img width="588" alt="Screen Shot 2021-09-30 at 9 46 23 AM" src="https://user-images.githubusercontent.com/27849915/135375329-773a159e-c1e0-404e-bddb-3ecd72fa7f8d.png">

[2021-09-30 02:39] Winnie81 commented on #522
![Uploading Screen Shot 2021-09-30 at 10.38.22 AM.png…]()
Kernel is 5.10.61, not 5.10.67.

[2021-09-30 07:12] tormath1 commented on #522
Hi @Winnie81,

This behavior is caused by https://github.com/flatcar-linux/Flatcar/issues/520; we identified a regression issue in the Linux Kernel 5.10.67.

That's why you have such a behavior - we are actively working on the new release to include Linux Kernel 5.10.69 which holds the fix and a test case has been added to prevent this kind of issue in the future (https://github.com/flatcar-linux/

[2021-09-30 07:12] #522 closed, assigned to nobody

[2021-09-30 09:51] dongsupark commented on #410
Updated the title and the description.

[2021-09-30 10:24] dongsupark commented on #516
Thanks for creating the issue.

I think we should be able to auto update open-vm-tools via Github Actions.
Will try to first create a new Github workflow for that.

[2021-09-30 12:21] dongsupark commented on #516
PR https://github.com/flatcar-linux/coreos-overlay/pull/1319 for the new Github workflow.

[2021-09-30 17:56] dongsupark commented on #520
Done.
We released Stable 2905.2.5, Beta 2983.1.1, and Alpha 3005.0.1, with Kernel 5.10.69.
https://www.flatcar-linux.org/releases/

[2021-09-30 17:56] #520 closed, assigned to nobody

[2021-10-01 15:51] pothos opened #523 "Use mirror server instead of GCS bucket for SDK tar balls and binary packages"
## Description

Both `cork`'s way of downloading the SDK tar ball and the portage binary package URLs in the SDK and the developer container make use of the GCS bucket. However, we will immediately move this content to the regular release server that hosts the other release assets.

## Impact

Users can't set up the SDK or use binary packages in the developer container to compile kernel modules or

[2021-10-04 11:39] Chandrapal-Panwar commented on #517
@jepio : Issue got resolve with adding CASignatureAlgorithms ^ssh-rsa in sshd_config file.
Please close the bug.

[2021-10-04 11:44] jepio commented on #517
Awesome! Thanks for following up with your findings.

In that case it seems that you were affected by these changes that came around the 2801 release: https://github.com/flatcar-linux/Flatcar/issues/62.

Closing.

[2021-10-04 11:44] #517 closed, assigned to nobody

[2021-10-04 14:10] jonasclaes commented on #523
What's the current status? How long do you estimate the move? I would love to develop something for Hacktober, but I can't because of this issue at the moment.

[2021-10-04 15:03] pothos commented on #523
You can find the SDKs now on https://mirror.release.flatcar-linux.net/sdk/ (tar balls and binary packages for `/etc/portage/make.conf`), and the board packages on https://mirror.release.flatcar-linux.net/boards/ for `/build/BOARD/etc/portage/make.conf` in the SDK board or for `/etc/portage/make.conf` in the developer container.
The SDK download via `cork` needs a source code change and is not yet

[2021-10-05 05:30] SuhasreddyN opened #526 "403 Error while pulling flatcar SDK"
### Discussed in https://github.com/flatcar-linux/Flatcar/discussions/525

<div type='discussions-op-text'>

<sup>Originally posted by **SuhasreddyN** October  5, 2021</sup>
Getting a 403 error when trying to download the SDK:

$ cork create --manifest-branch=flatcar-stable-2765.2.3
2021-10-05T04:51:06Z cork: Detecting SDK version
2021-10-05T04:51:09Z cork: Found SDK version 2905.0.0 from remote r

[2021-10-05 07:05] t-lo commented on #526
Hi @SuhasreddyN , we're very sorry for the inconvenience. Due to an unexpected (and massive) usage spike in our dev infrastructure we were required to make parts of the infra private for a short time. We are working on resolving this issue and will issue updates to all channels as well as release a new Mantle version later this week.
We track this issue in #523 .

[2021-10-05 07:36] miao0miao commented on #523
@jonasclaes we are currently working on a new release to all channels that will fix this issue, it should be ready by the end of this week.

[2021-10-05 08:05] tormath1 commented on #523
Linking related PRs:
* https://github.com/flatcar-linux/mantle/pull/239: provide a `--json-key` argument to pull artifacts from private GCS buckets
* https://github.com/flatcar-linux/mantle/pull/238 (https://github.com/flatcar-linux/mantle/pull/240) provide a `--sdk-url` to modify the SDK location (default to `mirror.release...`)
* https://github.com/flatcar-linux/scripts/pull/158: include the `--

[2021-10-05 10:51] sayanchowdhury commented on #526
Closing this issue as a duplicate of #523.

[2021-10-05 10:51] #526 closed, assigned to nobody

[2021-10-05 11:25] jepio commented on #465
Reopening: the change is not in coreos-overlay yet.

[2021-10-05 11:28] jepio commented on #512
@KarlNord I'm fairly sure that it's an apparmor issue and you need to add the 'locking' permission to the apparmor overrides. In that case i'll close this issue. You can re-open if you think there's more to it.

[2021-10-05 11:28] #512 closed, assigned to nobody

[2021-10-05 18:13] jepio commented on #516
PR for the update https://github.com/flatcar-linux/coreos-overlay/pull/1331

[2021-10-06 08:38] pothos commented on #523
Downloading the SDK works again with the latest `cork`: https://github.com/flatcar-linux/mantle/releases/tag/v0.17.0

[2021-10-06 21:45] tbbharaj commented on #523
Hello, I tried with latest cork and getting the same download failure error with `https://github.com/flatcar-linux/mantle/releases/tag/v0.17.0`

[code]

[2021-10-07 08:56] jepio commented on #523
Hi @tbbharaj, we prioritized copying current releases over (check https://mirror.release.flatcar-linux.net/sdk/amd64/). Are you able to update to a newer version?

[2021-10-07 20:45] tbbharaj commented on #523
@jepio Thanks I was able to pull latest version. I am trying to build image from source following steps here: https://kinvolk.io/docs/flatcar-container-linux/latest/reference/developer-guides/sdk-modifying-flatcar/
1. Using latest cork `0.17.0`
2. Downloaded latest version `3005.0.0`

But still when I do `./setup_board --board=amd64-usr` I am getting following error:

[code]

[2021-10-07 20:55] jepio commented on #523
We are working on making this work again, but as of right now binary packages are still missing. I apologize for this.

[2021-10-07 20:56] tbbharaj commented on #523
No issues...Thanks for the update!

[2021-10-08 07:15] jepio opened #527 "[RFE] Use shorter TLS certificate chain for iPXE hosting"
## Current situation

Booting with iPXE from https:// urls on Equinix Metal fails in most cases.

## Impact

Users are confused, need to guess the solution and fall back to http.

## Ideal future situation

https works on Equinix Metal by default.

## Implementation options

User Arian on matrix suggested:

## Additional information

[2021-10-08 08:40] pothos commented on #527
I remember it used to work from the NGINX caching server but not from Caddy. There could be more problems involved with the TLS implementation in iPXE.

[2021-10-08 14:15] till commented on #222
@pothos Is there a way to retrieve these names at boot time? Or a programmatic way to use what you suggested? My systemd units currently depend on `/dev/sdbX`.

[2021-10-08 14:39] jepio commented on #222
You can define the partition and filesystem labels when creating the partitions/filesystems through ignition. Also, depending on your env the disks may already have well defined paths. Check the examples here https://kinvolk.io/docs/flatcar-container-linux/latest/installing/bare-metal/booting-with-pxe/#installation or here https://kinvolk.io/docs/flatcar-container-linux/latest/installing/cloud/gcp

[2021-10-08 15:26] ericb-summit commented on #222
The recipe is something like this.  At first boot, the disk order is correct, so you can rely on that to create an additional disk.  Change the `device` as needed.  And put a unique label for the partition.  This is all terraform, but pretty obvious how to translate this to ignition:

[code]

Don't forget to initialize the partition

[code]

Then you need an ignition unit for the disk mount, here

[2021-10-11 04:42] SuhasreddyN commented on #523
Any update?

[2021-10-11 07:20] jepio commented on #523
Still working on it.

[2021-10-11 10:54] ericofusco opened #528 "Stable channel still uses Go 1.13"
## Description

In releases page for `2905.2.2` it says Go got updated to 1.16.7 but docker binaries are still built with Go 1.13.

Releases page for `2905.2.2` also lists a security fix from Go but it didn't actually get fixed.

## Impact

go 1.13 contains several known vulnerabilities. This is also identified by vulnerability scanners which could alert or block deployments using flatcar AMIs.

#

[2021-10-11 12:16] jepio commented on #528
Docker upstream compiles Docker 19.03 using Go 1.13, we tried to switch that to something newer but the codebase wasn't ready (https://github.com/flatcar-linux/coreos-overlay/commit/9c17edd55def65928a1321757b4e0d2eaf172b6d#diff-243979b5b1b74a4e373c2a99196af10507ac0108f783628b0a7ba755ff770323).

I suggest deploying beta/alpha images at this time, they contain Docker 20.10.8 built with Go 1.16, soon

[2021-10-11 13:30] ericofusco commented on #528
Thanks for the quick reply @jepio. Is there a timeline for when beta usually gets promoted to stable?

[2021-10-12 05:22] sayanchowdhury commented on #528
The next Stable release would be a major release i.e. we would bump Beta to Stable. We are working on #523, a set of release will be done as soon as the issue is resolved.

[2021-10-12 08:19] dongsupark commented on #516
open-vm-tools 11.3.5 will be included in the next Alpha.

[2021-10-12 08:19] #516 closed, assigned to nobody

[2021-10-12 08:53] ericofusco commented on #528
Thanks for sharing @sayanchowdhury.

Closing this one.

[2021-10-12 08:53] #528 closed, assigned to nobody

[2021-10-12 13:38] ryanm101 opened #530 "Error: failed to create subPath directory for volumeMount "data" of container "main""
The ongoing saga of jumping many versions :)

So after re-enabling https://github.com/flatcar-linux/Flatcar/issues/286 it was looking good for existing PVs.
However when we tried to create new PVs our init container would barf with
[code]

This was resolved by adding `--filter='-x security.selinux'` to our script
[code]
per
https://unix.stackexchange.com/questions/648118/rsync-xal-set-lremovexattr

[2021-10-12 14:11] ryanm101 commented on #530
Seems to be similar to the closed issue above, but no resolution was provided.

In my case it is not a race condition as there the directory `encrypted` is created by the init container then the directory `minio` would be created by the main container on 1st mount.

[2021-10-12 14:24] ryanm101 commented on #429
Closing this as it's still an issue my end.

[2021-10-12 14:24] #429 closed, assigned to nobody

[2021-10-15 05:35] marc5feb opened #531 "getting error E1014 while update core os to flatcar and on another E1008"
## Description

While using update-to-flatcar.sh i'm getting error E1014 on 1 machine and E1008 on another.

## Impact

upgrade to flatcar is failing.

## Environment and steps to reproduce

machine 1
./update-to-flatcar.sh
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   451  100   4

[2021-10-15 08:42] jepio commented on #531
That part is just the date: `E1014`: October 14th, `E1008`: October 8th. Can you check `journalctl` for the specifics of the error?

If it's about the expired DST root certificate, then the following will help the nodes update:
[code]
but I was only able to test on Flatcar 2135.6.0, not CoreOS as I can't find images anywhere, so I'm not sure if the cert path is correct for you.

[2021-10-15 08:44] marc5feb commented on #531
thanks for your reply. i will check when i can and get back to you.

[2021-10-15 14:33] #465 closed, assigned to nobody

[2021-10-15 14:34] #508 closed, assigned to nobody

[2021-10-18 09:20] SuhasreddyN commented on #523
update?

[2021-10-18 12:38] pothos opened #533 "[RFE] GitHub Action to update the ca-certificates package"
## Current situation

We have a GitHub Action for the kernel package that helps to keep maintenance branches up-to-date. However, if the ca-certificate package gets outdated and is not able to accept new certificates, OS updates are not possible.

## Impact

When ca-certificates is outdated, some HTTPS connections fail, which could also be the one used for updating the OS itself. This is a danger

[2021-10-19 06:03] marc5feb commented on #531
I would like to thank you for your assistance. The problem has been solved. The fault was the expired root certificate.
thanks!

[2021-10-19 06:03] #531 closed, assigned to nobody

[2021-10-19 09:50] t-lo commented on #523
We'll provide a brief update in today's community meeting. TL;DR:
* Future releases will use https://mirror.release.flatcar-linux.net/ by default for SDK tarballs and for binary packages. This is the preferred source for building Flatcar. We're in the process of wrapping up releases to all channels - and to Mantle - which use that mirror by default; we expect to release later this week.
* For nigh

[2021-10-19 11:33] #474 closed, assigned to wrl

[2021-10-19 15:40] pothos commented on #523
If you develop on the `main` branch in your cork SDK, run this here to get access to the nightly packages:

[code]

[2021-10-20 07:18] jepio opened #534 "falco kernel module doesn't build on beta (2983) but works on stable (2905)"
## Description

Falco uses a docker container to bind mount kernel module paths from the host and then builds a kernel module.
This build runs inside a debian 10 container, with access to kernel modules dirs.

## Impact

Flatcar doesn't work with an upstream project, needs downstream changes to workflows.

## Environment and steps to reproduce
1. **Action**:
[code]
2. **Error**: on beta this fails

[2021-10-20 07:31] jepio commented on #534
The first bullet point would require something like this in one of the ebuilds:
``` make modules_prepare HOSTLDFLAGS=-static```

[2021-10-20 14:08] pothos commented on #141
Update to 3.69.1 was done in https://github.com/flatcar-linux/coreos-overlay/pull/1355

[2021-10-20 14:08] #141 closed, assigned to nobody

[2021-10-20 17:38] ghost commented on #512
I found this on https://kinvolk.io/docs/flatcar-container-linux/latest/installing/vms/libvirt/

https://kinvolk.io/docs/flatcar-container-linux/latest/installing/vms/libvirt/#create-the-ignition-config

If the host uses AppArmor, allow qemu to access the config files:

echo "  # For ignition files" >> /etc/apparmor.d/abstractions/libvirt-qemu
echo "  /var/lib/libvirt/flatcar-linux/** r," >> /etc/a

[2021-10-21 11:52] gunzy83 commented on #396
I ran into this running the QEMU image on Proxmox. I did think it was a bit weird that the core user was automatically logged in, and I could interact with it via the web interface. After reading this issue I agree with @pothos that unless you closed the exploit in grub as well it is pointless changing the default.

I addressed this by creating a second user in my ignition config and removing pass

[2021-10-21 12:00] pothos commented on #396
Or you can remove `flatcar.autologin` from `/usr/share/oem/grub.cfg`. Since you download the image anyway, you can customize the OEM partition's `grub.cfg` before booting by mounting it as loop device with either `qemu-img convert` or, better, through:
[code]

[2021-10-21 18:02] arianvp commented on #208
Fyi you could use https://www.freedesktop.org/software/systemd/man/systemd.unit.html#ConditionSecurity= to check the availability of tpm2

[2021-10-21 18:22] pothos commented on #208
Thanks for the hint, the existing `ConditionPathExists=/dev/tpm0` combined with `ConditionSecurity=!tpm2` should match TPM 1.

[2021-10-22 05:52] #418 closed, assigned to tormath1

[2021-10-22 10:51] #208 closed, assigned to nobody

[2021-10-22 15:11] der-eismann commented on #97
For anyone curious like me, that doesn't have the time to watch the community meeting: Last blocker was resolved, current timeline is end of October/November for the Beta and Stable release in December, if nothing unforeseen happens :partying_face:

[2021-10-24 02:17] gunzy83 commented on #396
Thanks for the tip. I might include that the next time I create a new Proxmox VM template or when I automate updating the template.

[2021-10-25 07:56] juliantaylor commented on #523
Is here any way to build kernel modules?
As documented here:
https://kinvolk.io/docs/flatcar-container-linux/latest/reference/developer-guides/kernel-modules/
still returns 403 for all stable versions

     !!! Error fetching binhost package info from 'https://storage.googleapis.com/flatcar-jenkins/boards/amd64-usr/2905.2.4/pkgs'
     !!! HTTP Error 403: Forbidden

[2021-10-25 10:03] tormath1 commented on #418
OpenSSL-3.0.0 has been merged into `main` and will be soon available in `Alpha` channel. I notified that FIPS module is not built by default: https://bugs.gentoo.org/820173 an issue has been opened upstream to conditionally build FIPS via `fips` internal USE flag.

[2021-10-25 10:59] ryanm101 commented on #530
Anyone?

[2021-10-25 14:31] jepio commented on #530
You could try attaching to kubelet with `strace -f -p <pid>` to try to find out why exactly it's failing. The one thing that comes to mind is: are using v1 or v2 fscrypt policy?

There's not much to go on here to debug from.

[2021-10-25 15:21] t-lo commented on #523
Because of a change in our build infrastructure the URL of our binhost has changed from
[code]
to
[code]
We are in the process of issuing an update to all channels to reflect the change.

[2021-10-26 09:27] ManojMondal02062019 commented on #523
What will be steps to build the Flatcar.. Meant to say that if I download the flatcar sdk from this link -> https://mirror.release.flatcar-linux.net/sdk/amd64/3005.0.0/flatcar-sdk-amd64-3005.0.0.tar.bz2 then how to proceed further with it. I extracted the file under the folder chroot and running "cork enter" - doesn't works.
@t-lo : Please suggest. Thanks

[2021-10-26 11:01] vbatts opened #536 "[RFE] include Flatcar CPE in `/etc/os-release`"
[Flatcar is in the NIST CPE dictionary](https://nvd.nist.gov/products/cpe/search/results?namingFormat=2.2&keyword=flatcar).

For scanners to more easily detect the definition of the host they're inspecting, let's get `CPE_NAME=` defined in our `/etc/os-release` file like a number of other distros do.

[2021-10-27 09:33] dongsupark commented on #156
This issue should be fixed.
The PR https://github.com/flatcar-linux/coreos-overlay/pull/1263 was recently merged, and it was included in Alpha 3033.0.0.

Thanks for the bug report.

[2021-10-27 09:33] #156 closed, assigned to nobody

[2021-10-28 15:13] pothos commented on #523
From yesterday on `cork create` will default to downloading the 3033.0.0 Alpha SDK which already has the new URLs set up for binary packages (but you need to check out the right `flatcar-3033` Alpha release branches in the repos). The latest Stable, Beta, and LTS releases also have a new SDK with the right URLs (e.g., `cork create --manifest-branch flatcar-stable-2905.2.6`), and specifying the man

[2021-10-28 15:17] #523 closed, assigned to nobody

[2021-10-31 09:04] rheinwein commented on #12
Hey, we'd be happy to retire this org and pass it over you to folks so flatcar-linux can use it. @dharmamike and I will clean this up over the next couple days and then add you to the org so you can take over as owner and take it forward. Cheers!

[2021-10-31 10:57] pathshaper opened #538 "Unable to update from old version due to SSL certificate problem"
## Description

A server running Flatcar Container Linux 2512.2.1 cannot fetch new version of Flatcar. The update-engine log contain the error "Unable to get http response code: SSL certificate problem: certificate has expired".

## Impact

I can no longer automatically update Flatcar Container Linux. I have googled for a manual workaround but was not able to find one.

## Environment and steps to

[2021-10-31 16:18] jepio commented on #538
See the solution in this comment: https://github.com/flatcar-linux/Flatcar/issues/531#issuecomment-944113528

[2021-11-01 07:35] rheinwein commented on #12
Hey @ahrkrak you should have an invite for a nice clean flatcar org. If there is some swag left from KubeCon @dharmamike and I would love a Flatcar shirt :)

[2021-11-01 12:46] george-angel commented on #480
+1

We created the following drop-in to do just that: https://github.com/utilitywarehouse/tf_kube_ignition/blob/master/resources/fstrim.conf

[2021-11-01 13:39] george-angel opened #539 "multipathd using all CPU for iowait"
[code]

We are running Trident (https://github.com/NetApp/trident) on our bare metal cluster running on prem.

Our StorageClass:

[code]

Running iscsid and multipathd config:

[iscsi-config.txt](https://github.com/flatcar-linux/Flatcar/files/7453539/iscsi-config.txt)
[mpath-config.txt](https://github.com/flatcar-linux/Flatcar/files/7453541/mpath-config.txt)

We currently run `fstrim` weekly.

Pre

[2021-11-03 14:21] surajssd commented on #445
@t-lo I don't have access to edit the issue comment. But for Ignition support to graduate out of experimental phase we need to abstract out S3 support into a separate CRD, ref: [issue comment](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/2271#discussion_r733584491).

[2021-11-04 12:15] till commented on #445
I would contribute openstack related support, if there is any interest?

[2021-11-04 17:25] t-lo commented on #247
Great work folks! I've captured all necessary steps in a gist: https://gist.github.com/t-lo/796057ca6383dbf00ddc9972f62d1a77

[2021-11-05 09:50] shibumi opened #540 "Question: How to set a persistent iptables rule"
Hello,

I would like to setup a persistent iptables rule on each of my flatcar VMs. How would I do this?
First, I have just set it manually and I thought one of the systemd services would persist it automatically before a controlled reboot/shutdown.

[2021-11-05 10:03] tormath1 commented on #540
Hi @shibumi,

You just need two things and they can be done trough ignition:
* add your rule to `/var/lib/iptables/rules-save`
* enable the systemd service: `iptables-restore.service`

With this both condition, you should be able to persist your iptables rule across the reboot. Let us know how it goes :)

[2021-11-05 10:08] shibumi commented on #540
Hi @tormath1,

first of all: Wow! That answer was fast. I did not expect that :)

I will check this out. Thanks for the help

[2021-11-05 10:08] #540 closed, assigned to nobody

[2021-11-05 10:16] tormath1 commented on #540
@shibumi : here's a simple example with a basic iptable rule: https://gist.github.com/tormath1/1184ffb73bc393c6413d94bd1317b486

[2021-11-05 15:26] t-lo commented on #539
Just out of curiosity, what's the motivation of not using discard? I would imagine it makes it a lot harder for the SSDs to manage its blocks, impacting both performance and wear levelling.

[2021-11-05 15:38] jepio commented on #539
When in this state, could you paste the contents of: `sudo cat /proc/<pid>/stack` for the multipathd processes? That might be helpful.

[2021-11-05 15:41] shibumi commented on #540
@tormath1 is the "ct" tool still recommended? Somewhere, I heard that it's deprecated and nobody should use it. If it's not deprecated, can you point me to the github repository? I would like to package it for Arch Linux :)

[2021-11-05 16:04] tormath1 commented on #540
@shibumi [`ct`](https://github.com/flatcar-linux/container-linux-config-transpiler) is still maintained by Flatcar - we even released [`0.9.1`](https://github.com/flatcar-linux/container-linux-config-transpiler/releases/tag/v0.9.1) in June 2021.

We're [currently](https://github.com/flatcar-linux/ignition/pull/23) working on adding support for `Ignition` version 3 specs into Flatcar, `ct` upgrade

[2021-11-05 16:20] shibumi commented on #540
Oh okay. Looks like I visited the wrong repository in the past. I think a few months ago the kinvolk documencation has linked to the containerOS repository instead of the flatcar-linux repo.

No. I am package maintainer. I would like to push it to the official repositories :) I maintain CNCF-related packages there (kubernetes, istio, helm, etc)..

[2021-11-05 21:45] george-angel commented on #539
@jepio Absolutely, will do next time we catch this.

@t-lo We have been on the fence about this for a while, it seems like just about most distributions advise against online discard (if possible). Citing performance impact and negative effect on SSD lifespan.

[2021-11-06 02:59] shibumi commented on #540
@tormath1 https://archlinux.org/packages/community/x86_64/ct/ done

[2021-11-06 08:41] george-angel commented on #539
@jepio

[code]

[2021-11-06 13:14] hwaastad commented on #372
Hi, not 100% sure if related but I've had an issue with rancher 2.6.2/cilium 1.10.5/purelb/flatcar-2905.2.6.
Purelb will add a kube-lb0 dummy interface and I loose connectivity with the host. It also happens when interface is removed.
pinging node from same LAN would be:
`From 10.210.151.106: icmp_seq=2 Redirect Host(New nexthop: 10.210.151.106)`
If I add kube-lb* as Unmanaged link, connectivity i

[2021-11-06 13:19] chifu1234 commented on #372
Hi @hwaastad  I actually had just yesterday a similar problem having cilium an flatcar creating a vxlan interface and loosing any connection to the outside world. I also tried it with calico but I could not reproduce this issue with this CNI.

[2021-11-08 11:38] tormath1 commented on #540
@shibumi thanks a lot, this is awesome !

Just a nit detail, the version should be passed as a `ldflag`, so we currently have:
[code]

We might need to update the `PKGBUILD` with something like:
[code]

To finally have the version:
[code]

[2021-11-08 12:09] shibumi commented on #540
@tormath1 great idea! I will change this ASAP.

[2021-11-08 15:25] tormath1 commented on #536
@vbatts , I see two versions:
* 2.2: `cpe:/o:flatcar-linux:flatcar_linux:3005.0.1`
* 2.3: `cpe:2.3:o:flatcar-linux:flatcar_linux:3005.0.1:*:*:*:*:*:*:*`

which one should be implemented ? I'd say `2.3` to use the latest "standard".

[2021-11-08 15:49] vbatts commented on #536
fair, but the distros that include `CPE_NAME`, it is the v2.2 format

[2021-11-08 16:30] vbatts opened #543 "Finish renaming "coreos" to "flatcar""
We've done this in most places, but let's track all the places that still need to be done.

* https://github.com/flatcar/afterburn (not needed)
* [x] https://github.com/flatcar/coreos-overlay
* [x] https://github.com/flatcar/coreos-cloudinit
* [x] https://github.com/flatcar/scripts
* [ ] https://github.com/flatcar/sdnotify-proxy
* [ ] https://github.com/flatcar/update-ssh-keys

[2021-11-08 18:16] vbatts commented on #536
https://www.linux.org/docs/man5/os-release.html ambiguously says that the field follows the format proposed by the MITRE corporation, with link to the now-archived https://cpe.mitre.org/specification/ which describes the v2.3 format. 🤷

[2021-11-08 22:42] ahrkrak commented on #12
Perfect! Thank you both. We're working out the move now. Can you send me your addresses and t-shirt sizes to andrew.randall@microsoft.com?

[2021-11-09 08:44] tormath1 commented on #536
@vbatts on my manual page I have:
[code]

Which leads to:

I'd be :+1: to use `2.3` version.

[2021-11-09 15:52] vbatts commented on #536
yep. Let's go with that. No need to follow other's precedent for no reason!

[2021-11-10 14:28] #59 closed, assigned to jepio

[2021-11-10 18:49] meltonbw opened #544 "All Docker containers fail to start after update to 2983.2.0"
## Description

After an update to 2983.2.0, all Docker containers fail to start with the message: `standard_init_linux.go:228: exec user process caused: operation not permitted`

## Impact

Cannot start any containers. All containers fail to start at boot.

## Environment and steps to reproduce

1. **Set-up**: Flatcar version 2983.2.0
2. **Task**: Booting up
3. **Action(s)**: None
4. **Error**: A

[2021-11-10 19:30] tormath1 commented on #544
Hi @meltonbw,

It looks like SELinux related. What's the return of:
[code]

?

[2021-11-10 19:33] meltonbw commented on #544
[code]

Doing `setenforce 0` does not seem to help.

[2021-11-10 19:45] tormath1 commented on #544
Thanks, then could you try to deactivate the `userns` security options ?

In the CI, we run every test with `selinux` mode set to `enforce` but we don't test things yet with `userns` security option, that might be the root cause then.

* could you share the content of `/etc/docker/daemon.json` or any Docker customization you have ?
* do you have custom SELinux policies ?
* do you have an orchestra

[2021-11-10 21:49] meltonbw commented on #544
Disabling userns didn't help unfortunately.

[code]

No custom SELinux policies and I don't use an orchestrator.

Here is the full docker info:

[code]

[2021-11-10 22:35] meltonbw commented on #544
Note, I am able to start a `--privileged` Docker container (with and without `userns`).

[2021-11-11 15:26] pothos opened #545 "[RFE] Add symlink from ncat to nc"
## Current situation

There is no `nc` on Flatcar but `ncat`.

## Impact

Scripts calling `nc` don't work

## Ideal future situation

Since `ncat` is a drop-in for `nc` there should be a symlink to it

## **Implementation options

Maybe do it as part of the ncat ebuild file, with a useflag for upstream Gentoo

## Additional information

I found one missing option in ncat: https://github.com/nmap/n

[2021-11-11 17:28] krnowak opened #546 "Move from deprecated tmpfiles to current tmpfiles functionality in our ebuilds"
Our ebuilds are using `systemd_dotmpfilesd` in a lot of places, but recently this function got removed upstream. Apparently it was deprecated in favor of `dotmpfiles` function in `tmpfiles.d`. This needs to be done if we want to sync our eclasses at will - currently I updated `systemd.eclass` in https://github.com/flatcar-linux/portage-stable/pull/214 and backported the function to avoid breakage,

[2021-11-11 17:43] Silvenga opened #547 "Etcd Fails to Start After Upgrading to 2983.2.0"
## Description

Etcd is failing to start after upgrading to `2983.2.0`.

## Impact

Etcd is a core component of many Flatcar deployments. When the Etcd cluster is degraded, Flatcar isn't happy.

## Environment and steps to reproduce

Using the template:
[code]

Upgrade from `2905.2.4` (our base image that nodes are based on) to `2983.2.0`.

Note that etcd-member is failing due to:
[code]

It appea

[2021-11-11 18:06] jepio commented on #544
I think this is connected to the no-new-privileges setting, there are multiple hits when searching for problems with that and selinux.

[2021-11-11 18:20] jepio commented on #547
Someone reported the same in matrix yesterday, @tormath1 was looking at a proper fix.

etcd started treating this as an error recently. For now you will need to remove the `name` setting in your config template.

[2021-11-11 18:27] Silvenga commented on #547
Ah, yes, Just noticed the upgrade from `v3.3.25` to `v3.5.0`.

I've been looking at quick fixes, I don't think removing `name` is an option, since `etcd-member.service` uses the machine id for `ETCD_NAME` - which is from `/etc/machine-id`. To bootstrap (and other operations?), a stable, "known before deployment" value is needed.

I'm currently messing with how systemd handles drop-ins with duplica

[2021-11-11 18:52] tormath1 commented on #544
I'm still trying to reproduce it - even with `no-new-privileges` + SELinux in enforce mode I'm still able to start a container.

[2021-11-11 19:12] Silvenga commented on #547
Leaving this here for future generations:
[code]

[2021-11-11 19:12] tormath1 commented on #547
Hi @Silvenga,

As @jepio mentioned - it's related to the `etcd` upgrade, in this commit: https://github.com/etcd-io/etcd/commit/748ab8c3989886c2145eea06703d2981a224024f `warning` becomes `fatal` error.

With this CLC:
[code]

`name: ${name}` will be translated to `--name ${name}` which will conflict with the `ETCD_NAME` from https://github.com/flatcar-linux/coreos-overlay/blob/main/app-admin/etcd-

[2021-11-11 19:22] Silvenga commented on #547
Thanks @tormath1 for the confirmation! Is Flatcar thinking about going one way or the other (`--name` vs `ETCD_NAME`) going forward (or otherwise detecting this breaking change during upgrades)?

[2021-11-12 10:41] tormath1 commented on #547
Looking at our testing framework, it has not been caught in the CI because we don't provide the `name` in the Container Linux Config (see: https://github.com/flatcar-linux/mantle/blob/ce713f3263d027aff4fca5ac576a7824521a7b83/kola/tests/etcd/discovery.go#L34-L39)

We need to dig around but I think the fix has to be done on the config transpiler itself:
* check for `name` key:
  * if value: we unset

[2021-11-12 14:32] serbaut commented on #544
We have the same issue on some hosts. It looks like the selinux policies differs between the hosts. What is the recommended way to install the default policies?

[2021-11-12 14:53] chrskhl opened #548 "[RFE] Utilize systemd's systext for image composability / extensability"
Issue #443 is about deprecating Torcx in favor of systemd's sysext. But it focuses on the limited use case that Torcx was for, installing multiple versions of an application, usually a container runtime. But I think systemd sysext could be leveraged in a much broader and useful way now that systemd 249 is rolling though the channels.

Flatcar has always been a bare minimum Linux distro for contain

[2021-11-12 15:08] tormath1 commented on #544
@serbaut thanks for raising this too - we're currently investigating.

Do you have the same runtime spec: SELinux in enforcing mode, no-new-privileges and so on ?

[2021-11-12 15:16] serbaut commented on #544
The following seems to fix it:
[code]

[2021-11-12 15:18] serbaut commented on #544
[code]

We dont have any docker config (node is running k8s).

[2021-11-12 15:20] tormath1 commented on #544
@serbaut thanks.

Having `Current mode: permissive` should not raised `permission denied` issue in the containers since it's in permissive mode. We're continuing to investigating.

[2021-11-12 15:22] serbaut commented on #544
This is how it looks on a bad node
[code]
vs
[code]

So depending on which image you started with you get different selinux configs.

[2021-11-12 15:24] tormath1 commented on #544
@serbaut both nodes are on the same Flatcar version ?

[2021-11-12 15:25] serbaut commented on #544
Yes both are on VERSION_ID=2983.2.0

[2021-11-12 15:31] pothos commented on #548
This is also interesting for the OEM tools because they coupled with the Flatcar release version and tested together (currently they are not updated which causes problems, see https://github.com/flatcar-linux/Flatcar/issues/60). Having the OEM tools packaged as systemd-sysext image helps to be able to update them in a reliable way.
I like the proposal use extend Nebraska to be able to update a sys

[2021-11-12 15:33] tormath1 commented on #544
@serbaut that's weird. I started a fresh `VERSION_ID=2983.2.0` :
[code]

and it looks correct according to the tmpfiles configuration:
[code]

Could it be related to some manual intervention in the past on this nodes ?

[2021-11-12 15:36] serbaut commented on #544
Strange. Both nodes are created from flatcar-stable-2765.2.3 so I dont know how they can differ like that. Is part of k8s fiddling with selinux configs? We have not touched them afaik.

[2021-11-12 15:41] tormath1 commented on #544
I'd be curious to hear from @meltonbw to have a look at this command output:
[code]

He's not using Kubernetes though.

[2021-11-12 15:43] serbaut commented on #544
[code]
[code]

Anything else I can check?

[2021-11-12 15:48] tormath1 commented on #544
@serbaut thanks for helping; maybe you can try to run the following:
[code]

On the "bad nodes" to identify any errors preventing `systemd-tmpfiles` to create the symlink ?

[2021-11-12 15:50] serbaut commented on #544
I dont see anything but we only have 90 days of logs. Im starting to suspect AquaSec, Prisma Cloud or k8s but it would be intesting to see if @meltonbw has the same issue.

[2021-11-12 15:53] serbaut commented on #544
I'll check back monday. We dont upgrade our prod nodes until next weekend so as long as we have a fix by then I'm fine :)

[2021-11-12 15:56] tormath1 commented on #544
@serbaut thanks for your help and the data you provided - it's really useful. You might be interested to run some `Beta` nodes in your cluster to try to catch this kind of behavior earlier.

[2021-11-12 15:57] serbaut commented on #544
We actually have that in another cluster but they didnt experience any issue :P

[2021-11-12 16:06] tormath1 commented on #540
Hi @shibumi , we just released a new version of `ct`: https://github.com/flatcar-linux/container-linux-config-transpiler/releases/tag/v0.9.2. (I don't know if you susbcribed to the github "release" notification)

[2021-11-12 18:06] shibumi commented on #540
@tormath1  I forgot subscribing. Thanks for the reminder! :)

[2021-11-12 19:22] meltonbw commented on #544
Very similar to @serbaut's bad setup:

[code]

I will try the fix.

[2021-11-12 19:47] meltonbw commented on #544
Ok, after trying @serbaut's fix, now Docker does not start, and the daemon is missing from `systemctl`. `systemctl daemon-reload` does not help.

[code]

[code]

[code]

[2021-11-12 20:12] meltonbw commented on #544
Was getting this in the logs:

[code]

I set selinux to `permissive` and now everything is back up and running! Thanks a bunch @tormath1 and @serbaut!

Any ideas what beef selinux has with Docker?

[2021-11-15 10:03] tormath1 commented on #544
@meltonbw glad to hear you worked-around the issue - SELinux is always full of surprise.

Regarding this comment, we can try to make `tmpfiles` stricter to avoid missing some links like in here: https://github.com/flatcar-linux/Flatcar/issues/544#issuecomment-967373614

Regarding this:

The program docker is managed by torcx, which did not run.

We can see an AVC message denial:

I'm currently pat

[2021-11-15 10:24] serbaut commented on #544
I have looked some more and it seems the "correct" policies are permissive (the ones with symlinks to /usr).
[code]

I still do not understand how some clusters have a different config.

[2021-11-15 12:44] serbaut commented on #544
I'm 99% sure its https://www.aquasec.com/ enforcer that has created custom policies and that's why some clusters have issues and others don't.

@meltonbw do you know why your selinux config was customized and not directly upstream via links?

[2021-11-15 16:06] dongsupark commented on #533
Recently nss 3.72 was released.
It looks like we really need the Github Actions to keep that up-to-date.

The default [hg repo](https://hg.mozilla.org/releases/) of nss does not look easy to deal with.
I would fetch its [Github mirror](https://github.com/nss-dev/nss/tags) to parse the latest tag with `_RTM` suffix.
Then it will get easier to write the new Github Action for ca-certificates.

[2021-11-15 16:09] pothos commented on #533
Good idea, I had only thought about extracting the release tar balls from the HTML folder listing, and sorting them to find the highest version.

[2021-11-16 09:41] dongsupark opened #549 "[RFE] update gcc to 10.x"
## Current situation

Ideally we should start updating gcc to 10.x at least, as gcc 10.x supports features like C++ 20.
Gcc 10 was already released 18 months ago, so Gentoo upstream has already gone through various issues and tests around the update via Tracker https://bugs.gentoo.org/706426.

On the Flatcar side, it should be easy to do so, because Flatcar does not have its own changes since 9.4.

[2021-11-16 10:25] dongsupark commented on #533
I will soon write the Github Actions.

[2021-11-16 20:28] vbatts commented on #548
one thing to work out about [`systemd-sysext`](https://man7.org/linux/man-pages/man8/systemd-sysext.8.html), is:
* how to make a workflow for having extensions available that are not enabled to be loaded
* figure out how racy the `merge`/`unmerge`/`refresh` are. Say we land a new/updated extension, and run `refresh`, then it will momentarily unmount all extensions, and then re-merge and mount them

[2021-11-17 08:02] borkmann commented on #372
@chifu1234 Could you paste systemd logs related to the vxlan interface? Anything interesting from `networkctl status -a` despite setting as `Unmanaged=yes`?

[2021-11-17 10:20] pothos commented on #372
@chifu1234 Which Flatcar version? We included a systemd-networkd unit to set the Cilium interface as unmanaged because the default DHCP setting interfered with the Cilium interface configuration. The workaround is present since https://www.flatcar-linux.org/releases/#release-2905.2.1

[2021-11-17 14:33] #533 closed, assigned to dongsupark

[2021-11-17 15:58] tormath1 commented on #544
SELinux patch has been submitted in  https://github.com/flatcar-linux/coreos-overlay/pull/1426 to fix the torcx error:

@serbaut I was not aware about aquasec, is that something opensource we can easily test / add to our tests ?

[2021-11-18 01:46] anhvoms opened #550 "Flatcar failing to deploy on Azure Dv5 and Ev5"
## Description

Azure flatcar images fail to provision on the new Dv5 and Ev5 VMs. These series have the SRIOV interface coming up with mlx5_core driver instead of mlx4_en. Current flatcar images exclude SRIOV interfaces in /usr/lib/systemd/network/yy-azure-sriov.network by matching for mlx4_en driver. mlx5_core needs to be added as well

## Impact

Azure flatcar images fail to provision on the ne

[2021-11-18 09:29] pothos commented on #550
Hi,
thanks for reaching out. That's strange, recent versions should have it added already: https://github.com/flatcar-linux/init/blob/flatcar-master/systemd/network/yy-azure-sriov.network (where recent is since Dec 2020, as this change is in Stable since then https://www.flatcar-linux.org/releases/#release-2605.9.0 and in Alpha since Oct 2020 https://www.flatcar-linux.org/releases/#release-2671.0.

[2021-11-18 10:31] pothos commented on #550
Can't reproduce it when deploying a new instance. I used v4 because v5 is not available, but both use the same driver anyway:
[code]

I believe the instance is not on the latest version or something else is wrong. Can you paste `/usr/share/flatcar/release`?

[2021-11-18 13:12] t-lo opened #551 "[RFE] Re-use servers on Equinix Metal during tests to ease pressure on server recycle back-end"
## Current situation

For each test, we create one or more servers using the EM API and discard these after a test concluded.

## Impact

We burn through ~300 server creations per release (all channels).

## Ideal future situation

We acquire a set of 3 servers once and re-use these through all tests (re-install Flatcar to start with a clean slate).

[2021-11-18 13:16] t-lo opened #552 "[RFE] Native SDK for ARM64"
## Current situation

We only ship the SDK for AMD64 platforms.

## Impact

There is no native way on ARM64 to work with the Flatcar SDK. Instead, AMD64 emulations needs to be used.

## Ideal future situation

The SDK ships for both ARM64 and AMD64, including toolchains for both architecture's OS images so each SDK can support each OS image arch.

## Implementation options

Evaluate the SDK contai

[2021-11-18 13:31] dongsupark commented on #552
Do you mean this issue? https://github.com/flatcar-linux/Flatcar/issues/319
I am already using the arm64-native SDK.

[2021-11-18 13:32] pothos commented on #551
The ESX platform has a similar mechanism to allocate the fixed set of static IP addresses: https://github.com/flatcar-linux/mantle/blob/flatcar-master/platform/machine/esx/cluster.go#L51 and https://github.com/flatcar-linux/mantle/blob/flatcar-master/platform/machine/esx/flight.go#L84 which could be done to allocate the packngo machines. The steps to "reset" a machine would be configuring boot fro

[2021-11-18 14:16] anhvoms commented on #550
My apologies. I did not test with latest. The latest alpha image worked for me and indeed networkctl is showing the SRIOV nic as unmanaged.

[2021-11-18 14:19] t-lo commented on #550
@anhvoms Thanks for sharing the update; could I please bug you to provide the version it _did not_ work with and update the issue summary (for documentation purposes)?

[2021-11-18 14:22] anhvoms commented on #550
@t-lo Updated. The images tested were:
kinvolk flatcar-container-linux-free alpha 2643.0.0
kinvolk flatcar-container-linux-free beta 2643.1.0
kinvolk flatcar-container-linux-free stable 2605.7.0

[2021-11-18 14:27] #550 closed, assigned to nobody

[2021-11-18 14:39] pothos commented on #550
I made 3 test runs with v5 and in one case I had no network. There may be something going on but the interactive serial console did not work - next time it happens I'll see to get the read-only serial output which could contain a hint.

[2021-11-18 14:45] pothos opened #553 "[RFE] Run the kola tests on more instance types"
## Current situation

We run the full kola test suite mostly on one instance type. For Equinix Metal we started to do additional runs of the cl.basic test on the gen 3 instance types.

## Impact

We do not cover all hardware

## Ideal future situation

Like on Equnix Metal, we do an additional simple test run on a list of instance types for the various cloud platforms

## **Implementation options

[2021-11-18 14:48] pothos opened #554 "[RFE] Set Azure NIC as unmanaged based on the metadata MAC address"
## Current situation

We carry a hardcoded list of drivers in https://github.com/flatcar-linux/Flatcar/issues/553 to detect the bonded NICs (accelerated mode)

## Impact

This breaks as soon as a different NIC gets used

## Ideal future situation

We should investigate if the network setting can be set from afterburn or waagent, by creating a networkd unit matching with the MAC address from the in

[2021-11-18 14:49] pothos commented on #550
There are two follow-up times which we can track now:
- set the NIC as unmanaged from waagent or afterburn based on the metadata instead of hardcoding drivers https://github.com/flatcar-linux/Flatcar/issues/554
- run the release validation on more instance types https://github.com/flatcar-linux/Flatcar/issues/553

[2021-11-19 17:14] chifu1234 commented on #372
Hi @pothos  this actually is working for me.
Thx a lot

[2021-11-19 17:17] #372 closed, assigned to nobody

[2021-11-22 08:43] till commented on #59
@t-lo Is there a doc with implications and how to continue on `v1` for a bit? I struggle to find something.

[2021-11-22 09:44] pothos commented on #59
@till Docs are here: https://www.flatcar-linux.org/docs/latest/container-runtimes/switching-to-unified-cgroups/
You can deploy new nodes in a way that they get the same settings as the existing nodes get during an update to make them stay on v1.

[2021-11-22 11:23] joaquimrocha commented on #548
There's no mechanism to mark extensions as enabled or not. Either they are present and compatible with the system's version or not. So the recommended way to handle this seems to be (as I understood from our chat with Lennart) by directly adding/removing symlinks (in the expected extension locations) to the actual images.

We could make it so the recommended way to apply images will require a rebo

[2021-11-22 13:51] JensVD opened #555 "Torcx not running after update to latest stable (2983.2.0)"
## Description
When updating our FlatCar VM's to the latest stable version (2983.2.0) docker is no longer available. The issue seems to be related to torcx that is not running.
`core@docker09 ~ $ docker ps`
`The program docker is managed by torcx, which did not run.`

`core@docker09 ~ $ systemctl status torcx.target`
`○ torcx.target - Verify torcx succeeded`
`     Loaded: loaded (8;;file://docker0

[2021-11-22 13:58] tormath1 commented on #555
Hi @JensVD,

Thanks for raising a complete bug description. We recently updated SELinux libraries and policies with the latest `stable`. Torcx issue seems to occur only when `enforcing` mode is set at boot time or via the `/etc/selinux/config` file (see this comment: https://github.com/flatcar-linux/Flatcar/issues/544#issuecomment-968726197).

A patch has been submitted in: https://github.com/flat

[2021-11-22 15:37] t-lo commented on #548
I strongly second this. Even more, we could consider making sysexts a **provision time feature**.
Otherwise we risk just re-inventing package management.

[2021-11-22 16:10] pothos opened #556 "[RFE] Drop logrotate"
## Current situation

Logrotate needs downstream patches for us to work, and at the same time brings no value since we rely on the systemd journal and systemd units normally have the stdout/stderr output stored there.

## Impact

Logrotate seems to be an unnecessary maintenance burden.

## Ideal future situation

If there is anything in Flatcar that writes files to /var/log and doesn't take care o

[2021-11-23 06:00] necipakca opened #557 "Machine NIC stop to works"
We lost one of our k8s node. NIC was gone so we had to reboot machine.

Flatcar Version is 2983.1.1

Trace;

Nov 23 02:31:36.641683 node6 kernel: ------------[ cut here ]------------
Nov 23 02:31:36.642058 node6 kernel: NETDEV WATCHDOG: ens32 (e1000): transmit queue 0 timed out
Nov 23 02:31:36.642135 node6 kernel: WARNING: CPU: 2 PID: 0 at net/sched/sch_generic.c:467 dev_watchdog+0x23f/0x250
Nov 2

[2021-11-23 12:05] jepio commented on #557
Was this a one time event or is this reproducible? I don't think we'll be able to give you much help other than:
* try the latest stable (2983.2.0) which has kernel 5.10.77
* you're using the E1000 network adapter, try the paravirtualized vmxnet interface

[2021-11-23 12:19] jepio commented on #270
We still occasionally use that repo in our own infra, and i had the need to update it to python3 recently. Check the flatcar-historical branch here https://github.com/kinvolk/ansible-coreos-bootstrap/tree/flatcar-historical.

[2021-11-23 17:01] tormath1 commented on #536
Just as a note, `CPE_NAME` needs to be added in there: https://github.com/flatcar-linux/scripts/blob/e86eadcdeb209ee199f282407b3ed2206ffc2db3/build_library/set_lsb_release#L46-L60

[2021-11-23 20:09] pothos opened #559 "[RFE] Add variants for some kola tests that start from an empty rootfs"
## Current situation

Kola tests run from the release image as it is published, which includes a pre-populated rootfs. These rootfs contents change from release to release, while users stick with the initial copy when they installed their machines, or even start from an empty rootfs when the Ignition directive is used to setup a new rootfs. There are systemd-tmpfile rules in place that should ensu

[2021-11-24 11:01] necipakca commented on #557
It happened only one time on VM machine on ESX since 2 month. So I want to provide feedback for that. It is not big problem for now.

- We have upgrade our cluster to 5.10.77 I am gonna watch it. It happen again I gonna update the issue.
- Actually we install machines with PXE boot because we have hybrid k8s cluster on out datacenter that's includes virtual and bare-metal machines. I can not insta

[2021-11-24 11:09] pothos commented on #557
In case you want vmware tools, add `-o vmware_raw` when running `flatcar-install`

[2021-11-24 11:23] necipakca commented on #557
Oh no I missed it :( I already installed lots of virtual machines. Is there any easy way for existing machines. ? Otherwise I have to reinstall all virtual machines which are in Kubernetes prod cluster :/

[2021-11-24 11:29] pothos commented on #557
You can copy the files under `/usr/share/oem/` from one VMware OEM image to the machines and reboot

[2021-11-24 11:31] pothos commented on #557
There is a script to update the OEM tools and it should also work to install them: https://gist.github.com/neilmayhew/358abe8f1a4d023b0e4fe49c8fc58acb

[2021-11-24 12:21] jepio commented on #557
@necipakca you can use vmxnet without the vm tools, the kernel modules and networking rules for that are present in all images.

[2021-11-24 12:53] necipakca commented on #557
Thanks guys 🙏  I am gonna try your advises on my virtual machines.
I am closing issue because it will take long time to test. Maybe it won't occur again I hope  🤞
Best Regards.

[2021-11-24 12:53] #557 closed, assigned to nobody

[2021-11-24 14:51] #536 closed, assigned to nobody

[2021-11-24 17:30] crinjes commented on #555
Do you have a `/etc/flatcar/docker-1.12` file?
Mine contained "no" and removing that file resolved the issue of missing docker and failed torcx for us.

Logs:
[code]

[2021-11-25 09:34] jepio commented on #555
@crinjes did you update from a very old version of Flatcar or create that file yourself?

[2021-11-25 09:39] crinjes commented on #555
A very old version of CoreOS, then Container Linux, then Flatcar. We did create that file ourselves as a workaround for something I believe, and it's stuck around since then (and made it into new configs as well) and forgotten.

I just mentioned it because the existence of this file produces the exact same symptoms starting with this version.

[2021-11-25 09:41] jepio commented on #555
Thanks, that helps - i was completely unaware of that file and with the update to Docker 20.10 it now references a version we no longer ship. We'll need to think about what to do with that.

[2021-11-25 11:15] jepio commented on #499
@rata @alban
I built a torcx package for upstream docker components (from current master branch), runc is statically linked against libseccomp 2.5.2. You can try it out using the following ignition yaml snippet:
[code]
This might let you proceed with your demo/testing, let me know whether it actually works.

[2021-11-25 15:30] cpswan opened #560 "[RFE] Get Flatcar added to supported operating systems for Google Ops Agent"
## Current situation

The install script for ops agent (`curl -sSO https://dl.google.com/cloudagents/add-google-cloud-ops-agent-repo.sh && sudo bash add-google-cloud-ops-agent-repo.sh --also-install`) fails with the message `Unidentifiable or unsupported platform. See
https://cloud.google.com/stackdriver/docs/solutions/ops-agent/#supported_operating_systems for a list of supported platforms.`

Fla

[2021-11-25 15:50] serbaut commented on #544
I don't know if there is an enforcer available for testing but its not open source at least. What it seems to have done is to remove the links and install its own policies.

Maybe it is enough to document how to handle customized selinux policies and possible effects.

[2021-11-26 10:43] invidian commented on #273
I introduce many improvements to the updateengine client in FLUO repo here: https://github.com/flatcar-linux/flatcar-linux-update-operator/pull/97. So perhaps this should be taken as a base instead.

[2021-11-26 15:04] dongsupark commented on #549
Updated the description.

[2021-11-27 17:59] dirien commented on #406
close, as no feedback.

[2021-11-27 17:59] #406 closed, assigned to nobody

[2021-11-28 22:50] pothos commented on #406
The linked issue has the explanation: kubevirt's detection of the SELinux mode is different and the workaround is to disable SELinux from the kernel command line instead of the `/etc/selinux/config` file: https://github.com/kubevirt/kubevirt/issues/5298#issuecomment-817670974

[2021-11-29 08:25] dirien commented on #406
@pothos, thank you for the feedback, I appriciate this very much! ❤️

[2021-11-29 10:59] tormath1 commented on #559
@pothos thanks for the issue - do you have some example of failures ? (Maybe this one: https://github.com/flatcar-linux/Flatcar/issues/544#issuecomment-967199161)

What about enforcing this behavior to all tests ? Except for the update one.

[2021-11-29 11:08] pothos commented on #559
We want to test both scenarios, the pre-populated rootfs we ship on the release image, and the empty rootfs.

Examples are when an unmodified Gentoo package would install something to `/etc/` and expect it to exist which will fail if there are no tmpfile directives symlinking to something under `/usr/` (the other alternative is a downstream patch to not use `/etc/` in the first place).
(Edit: The

[2021-11-29 11:21] tormath1 opened #561 "`mantle`: rename `packet` to `equinix-metal`"
## Current situation

Mantle still refers to `Packet` instead of `Equinix Metal`

## **Implementation options

Something like:
[code]

`em` looks relevant as package name in front of other Mantle package name (`do`, `esx` and so on.)

## Additional information

Need to be careful with automation that still relies on Packet [like](https://github.com/flatcar-linux/scripts/blob/7a0c0028b56c652f846f64

[2021-11-29 11:33] tormath1 opened #562 "`mantle`: be able to run custom binaries into the CI"
## Current situation

Any new feature merged into `flatcar-linux/mantle` is automatically built on regular basis (every 15 minutes) and becomes _de facto_ the official `mantle` widely used by the CI.

## Impact

Features can be introduced and break the CI at any point: during a release, during an automated test (like: https://github.com/flatcar-linux/mantle/pull/254).

## Ideal future situation

B

[2021-11-29 14:59] jepio commented on #561
We could make mantle cli arg handling process `--packet-xxx` the same as `--em-xxx` for a release or two, which would make it possible to deploy mantle into CI first, and later sed all the CI scripts and test properly.

[2021-11-29 15:06] tormath1 commented on #561
@jepio totally, we can try to bind two flags to the same value and mark `--packet-xxx` as [deprecated](https://pkg.go.dev/github.com/spf13/pflag#FlagSet.MarkDeprecated).

[2021-11-29 15:59] #547 closed, assigned to nobody

[2021-11-30 14:00] akunszt commented on #384
Adding the `IPv6AcceptRA=yes` worked for me on `Flatcar Container Linux by Kinvolk beta 3033.1.1 for Amazon EC2` using systemd 249.
I created `/etc/systemd/network/50-eth.network` with the contents below.
[code]

[2021-12-01 13:46] t-lo commented on #552
Good catch @dongsupark , closing this in favour of #319  .

[2021-12-01 13:46] #552 closed, assigned to wrl

[2021-12-02 08:46] t-lo commented on #445
@till There absolutely is! Please pardon the late reply. We're basing the support for individual providers on our work to support Ignition config as an alternative to cloud-init [in the kubeadm bootstrap provider](https://github.com/kubernetes-sigs/cluster-api/pull/4172); that's a good point to start.

[2021-12-02 09:45] till commented on #445
@t-lo No worries.

Is this ultimately replacing the work in lokomotive? I hacked around in it to add Openstack, but wasn't able to gain any quick wins.

[2021-12-02 09:48] t-lo commented on #445
It's not related to Lokomotive; CAPI and Lokomotive have different use cases.

[2021-12-02 18:03] pothos commented on #70
@marcelo-herrera-sp @strawgate Took a while to get to this but now there is a `flatcar-update` tool starting from the upcoming Alpha release, but you can download the script to any older release and it should work, too: https://github.com/flatcar-linux/init/pull/53

[code]

[2021-12-02 18:03] #70 closed, assigned to nobody

[2021-12-02 23:24] Beetix opened #564 "Spliting Container Linux Configuration in multiple files"
Hi,

Is it possible to split the Container Linux Configuration in multiple files? Is there an include mechanism?

Thanks

[2021-12-03 08:50] jepio commented on #564
There is a runtime include mechanism, so you can have a single config that references multiple others that get appended.  Check out `ignition.config.append` here https://www.flatcar-linux.org/docs/latest/provisioning/config-transpiler/configuration/. Is that what you're after?

[2021-12-03 10:08] Beetix commented on #564
I've just tried it like so:
[code]
I am getting an `invalid url scheme` error. My understanding is that it doesn't support inclusion of files from the local filesystem, right?

I saw in `ct`'s usage a `files-dir` option. Is this used for the configuration yaml files?

Thank you for your help

[2021-12-03 11:09] jepio commented on #564
ct's `files-dir` is applicable to `storage.files.contents.local`. `ignition.config.append` needs to be:

The only way to make this work right now, would be to format the configuration in the `source` field manually:
[code]
This value needs to go into the `source` field.

[2021-12-03 13:30] t-lo opened #565 "[RFE] Allow consecutive updates to be downloaded and written"
## Current situation

When update-engine detects that a new version is available the respective update package is downloaded and written to the inactive partition. However, if an update has already been written to that partition and a reboot is pending, then update-engine does nothing.

## Impact

In a scenario where automated download and installation of updates is desirable but reboots are const

[2021-12-03 16:11] Beetix commented on #564
I see. Not very convenient :grimacing:

Thanks

[2021-12-06 09:20] devkSerge opened #566 "containerd is not starting: /run/torcx/unpack issue"
Using the lastest Flatcar stable containerd is not able to start.
`Flatcar Container Linux by Kinvolk stable 2983.2.1 for Amazon EC2`
[The latest version that is working is: `Flatcar-stable-2765.2.6-*`]

[code]

[code]

[code]

[2021-12-06 09:28] pothos commented on #566
Hi, if you set the containerd config env variable to point to `/etc/containerd/config-kops.toml` this is normally appended to the `/run/torcx/…` path. I don't know how it worked before but I recommend you to overwrite the command start following https://www.flatcar-linux.org/docs/latest/container-runtimes/customizing-docker/#use-a-custom-containerd-configuration

You can add a `--config` option to

[2021-12-06 09:29] pothos commented on #566
To debug, can you share `systemctl cat containerd`?

[2021-12-06 09:30] devkSerge commented on #566
[code]

[2021-12-06 09:38] pothos commented on #566
Yes, not sure what you have in `/etc/environment` but I doubt that this worked before unless you emptied `TORCX_UNPACKDIR` and `TORCX_IMAGEDIR` there.

Please replace the contents of `/etc/systemd/system/containerd.service.d/10-kops.conf` with
[code]
and run `systemctl daemon-reload`.

[2021-12-06 09:47] devkSerge commented on #566
thx, seems to work

[code]

[2021-12-06 12:11] jepio commented on #566
Hi @devkSerge, this was an issue with kops that has since been fixed upstream (https://github.com/kubernetes/kops/pull/12177). An update to kops should resolve this.

[2021-12-06 12:19] pothos commented on #566
Hm, good and bad, now the torcx stuff gets hardcoded there while `ExecStart=/usr/bin/containerd …` works as well and is easier and more future-proof.

[2021-12-06 12:35] jepio commented on #566
Yeah :/ it's unfortunate we didn't notice this sooner

[2021-12-06 12:39] pothos commented on #566
It's not too much too late :D I've filed a PR https://github.com/kubernetes/kops/pull/12900

[2021-12-06 13:09] devkSerge commented on #566
danke

[2021-12-06 13:47] pothos commented on #566
Closing this now, thanks everyone

[2021-12-06 13:47] #566 closed, assigned to nobody

[2021-12-06 13:50] JensVD commented on #555
Hello @tormath1

Sorry for the late reply but there were some other things I had to take care off.
I just tested it again but it still fails, even with the new available release:
- Upgraded with SELinux in enforcing mode
- Upgraded with SELinux in permissive mode

The same issue occurs, torcx isn't running and starting it is not an option with the same error message.

Is there another setting that

[2021-12-07 11:17] dongsupark opened #567 "[Tracking] SPDX License headers in source files of repos"
So far in most Flatcar repos, each source file has a common form of copyright headers like:

[code]

We should make the header community-friendly and consistent all over the repo.

* If possible, use a neutral term to cover all other authors, instead of Kinvolk. Ideally "Copyright The [project name] Authors".
  - We should not specify years, for simplifying maintenance in the future.
  - Keep orig

[2021-12-07 13:07] pothos commented on #555
@JensVD Yes, right, the issue is still there in enforcing mode, but interesting that it also hits the permissive mode in your case… Is disabling SELinux an option for you until this is fixed?

[2021-12-08 13:15] defo89 opened #568 "VRF (Virtual Routing and Forwarding) not working"
## Description

Not possible to create VRFs. [Reference](https://www.kernel.org/doc/html/latest/networking/vrf.html)

## Environment and steps to reproduce

1. **Set-up**: Flatcar 3033.1.1, 5.10.80-flatcar (current Beta). Also tested on Stable.
2. **Task**: Trying to set up VRF
3. **Action(s)**:
[code]
4. **Error**:
[code]

To compare with Ubuntu 20.04.3 LTS, 5.4.0-90-generic.
[code]

[2021-12-08 13:52] pothos commented on #568
Hi,
right, `CONFIG_NET_VRF` is not set (I think it's rather a feature request and not a real bug?). We would need to add it to this file: https://github.com/flatcar-linux/coreos-overlay/blob/main/sys-kernel/coreos-modules/files/commonconfig-5.15

[2021-12-09 18:12] t-lo commented on #441
Updated the issue summary to reflect the current state: SDK container work has been merged and SDK container is available for development, but CI needs more work.

[2021-12-09 18:32] miao0miao opened #571 "Community Call 2021-12-14"
## TODO list for the meeting
  - [x] 1 week before meeting: Create Agenda PR @miao0miao - https://github.com/flatcar-linux/Flatcar/pull/572
  - [x] 1 week before meeting: Tweet "ask for input" @ahrkrak w/ link to agenda PR (so people can add topcis) - https://twitter.com/flatcar/status/1469250375513485312
  - [x] Monday before meeting: Finish and merge Agenda @miao0miao
  - [x] Monday before meeti

[2021-12-11 17:24] aw1cks opened #573 "Afterburn documented steps do not work"
Following [this documentation](https://www.flatcar-linux.org/docs/latest/provisioning/config-transpiler/dynamic-data/), I am unable to get Afterburn to run as intended (for a custom platform). The service appears to not run at all  - there is no unit file for it.

Hostname is not being set - my instance is spun up as `localhost`.

This is running in Oracle Cloud, on an ARM instance, using the late

[2021-12-13 08:12] kthommandra opened #574 "custom kernel module build broken with stable channel release 2983.2.1"
The packages needed to build dev container are missing from latest release on stable channel.

The latest release on stable channel as of now is https://www.flatcar-linux.org/releases/#release-2983.2.1

However the packages corresponding to this release are NOT available yet here

https://mirror.release.flatcar-linux.net/boards/amd64-usr/

The latest release on the above URL is 2983.2.0

Given tha

[2021-12-13 10:41] dongsupark commented on #574
Thanks for the bug report.
Yeah, indeed https://mirror.release.flatcar-linux.net/boards/amd64-usr/2983.2.1 does not exist.
Mirrors were not synced last time when we did the releases.
Will soon update the mirror.

[2021-12-13 10:46] pothos commented on #573
Thanks for pointing this out, yes, the drop-in approach doesn't work because you need to specify the whole service - we have to correct the docs.

See https://www.flatcar-linux.org/docs/latest/installing/cloud/vmware/#templating-with-container-linux-configs-and-setting-up-metadata for an example on how to define the full service.

[2021-12-13 11:01] JensVD commented on #555
Hello @pothos

Even when disabling SELinux we get the same issue, torcx.target isn't running and starting it fails.
Could it be that something other than SELinux causes torcx to fail when updating to the latest version?

Kind regards
Jens VD

[2021-12-13 12:18] aw1cks commented on #573
Thanks!
I just tried this, however the service does not run automatically, and the file wasn't created until I manually ran `systemctl start coreos-metadata`.

Additionally, I'm not following how afterburn will get run to e.g. change the hostname, since the unit isn't executing the afterburn binary. Do I need to manually issue a command to change my hostname?

Am I missing something?

[code]

[cod

[2021-12-13 13:04] pothos commented on #573
The service is expected to be pulled in by another service that depends on it (`Requires=coreos-metadata.service` and `After=coreos-metadata.service`).
This happens automatically when you use a template variable in your CLC config's systemd unit.

[2021-12-13 13:11] pothos commented on #573
You are using a custom platform implementation instead of afterburn here. In the regular coreos-metadata services the hostname is not set because the `--hostname=/etc/hostname` argument is not added since we already run afterburn in the initramfs with this argument.
You can write the hostname in your script.

But since you use something that's similar to OpenStack I think you can try to use afterb

[2021-12-13 13:30] dongsupark commented on #574
Fixed.
Mirrors are synced now for Stable 2983.2.1 as well as Beta 3033.1.1.
If there is any remaining issue, feel free to reopen.

[2021-12-13 13:30] #574 closed, assigned to nobody

[2021-12-13 13:49] aw1cks commented on #573
OK, that makes much more sense - thanks for clarifying! I naturally assumed that it was just supposed to be some environment variables that were passed to afterburn somehow.

[2021-12-14 06:50] kthommandra commented on #574
Thank you very much. Appreciate the quick response and fix.

FlatCar experience, including the smooth upgrade from CoreOS has been very smooth for us.
Thank you for all the work.

[2021-12-14 07:48] aw1cks commented on #573
Just to clarify for anyone else looking at this issue, the following worked nicely for me in the end:

[code]

[code]

[2021-12-14 10:20] pothos commented on #573
Thanks for sharing your solution :)
Be aware that your script can be triggered multiple times when it's a oneshot service and some other service depends on it and gets (re)started. I realize that this is also missing in the VMware docs but I recommend you to also set `RemainAfterExit=true` and `Restart=on-failure` when using oneshot services (this was an issue already when a metadata server was do

[2021-12-14 17:45] aw1cks commented on #573
Thanks for your suggestions! I've updated my comment.

[2021-12-15 14:47] frittentheke opened #575 "[RFE] Provide OpenStack images using gzip compression to allow import via web_download to Glance"
## Current situation

Flatcar images for OpenStack (https://www.flatcar-linux.org/docs/latest/installing/community-platforms/openstack/) currently are provided bzip2 compressed (https://stable.release.flatcar-linux.net/amd64-usr/current/flatcar_production_openstack_image.img.bz2 is the only version).

## Impact

While it's no issue to download the image, decompress it and then import into OpenStac

[2021-12-15 17:27] zzvara commented on #555
Same issue here. Upgraded from CoreOS to Flatcar initially.

[2021-12-15 19:21] pothos commented on #555
@JensVD I don't know yet what your issue (edit: please post logs) is but the one @zzvara ran into has a fix in the coming release: https://github.com/flatcar-linux/coreos-overlay/pull/1456
I recommend you to try this workaround in the mean time by deleting `/etc/flatcar/docker-1.12` or `/etc/torcx/next-profile` to go back to the vendor profile.

[2021-12-16 11:50] JensVD commented on #555
Hello @zzvara  and @pothos

Appaerently we were indeed hitting the docker-1.12 issue.
It looks like it wasn't configured on one server causing that one to be successfully updated but all others failed. When removing that an update works.

Thank you for your help!

[2021-12-16 11:50] #555 closed, assigned to nobody

[2021-12-16 11:57] t-lo commented on #445
@till The PR to add Ignition support to kubeadm was merged and will be part of the CAPI v1.1 release next year. That's a good point in time to get started with Openstack support ;)
Please feel free to ping us here if you have questions.

[2021-12-16 14:30] rck opened #577 "emerge-gitclone: always checks out HEAD because of 'kinvolk' git clone url vs. 'flatcar-linux' in release.xml"
## Description

In a developer container `emerge-gitclone` always checks out HEAD because there is a mismatch between the repo name `emerge-gitlclone` generates and repo names in the online `release.xml`

## Impact

As at always checks out HEAD it makes [module building](https://www.flatcar-linux.org/docs/latest/reference/developer-guides/kernel-modules/) impossible/cumbersome as host kernel and k

[2021-12-16 17:29] invidian opened #578 "/run/xtables.lock file missing after upgrading to stable 3033.2.0"
## Description

After rebooting to Flatcar stable 3033.2.0, `/run/xtables.lock` file is no longer present on the host due to iptables upgrade to use nftables backend.

## Impact

In my case, I run kubelet in a Docker container, so I have to bind-mount `/run/xtables.lock` from host into kubelet container to avoid concurrent modification of iptables rules. Because of this and lack of this file after

[2021-12-16 17:47] pothos commented on #578
Thanks, we should keep shipping this file as long as we can assume that common containers still ship binaries that interact with xtables and should add your systemd tmpfile directive to the image.

[2021-12-16 18:50] #573 closed, assigned to pothos

[2021-12-16 19:00] pothos opened #579 "[RFE] Add kubenet test to mantle's kola"
## Current situation

We have test coverage for some Kubernetes CNIs in our kubeadm tests but as far as I know not for Kubenet

## Impact

Kubenet isn't tested

## Ideal future situation

The kubeadm tests have a Kubenet variant

## **Implementation options

## Additional information

https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/#kubenet

[2021-12-16 19:15] kthommandra opened #580 "Question: How to find the OS version upon next boot"
Assuming the update-engine has updated the alternate partition with a new FlatCar version.

Post install and prior to reboot, how can I find out the exact version into which the system will boot into upon next reboot ?

update-engine logs seems to indicate current version but not the version that was last updated.

[2021-12-16 19:46] kthommandra commented on #580
update-engine upon restart did print the URL version it is trying to fetch

Url0 = https://update.release.flatcar-linux.net/amd64-usr/3033.2.0/flatcar_production_update.gz

I was trying to find out if we can know the OS version present in the USR-A and USR-B partition.

[2021-12-17 11:23] pothos commented on #580
Hello,
`update_engine_client -status` prints out the new version that got downloaded. When you booted into the new version, you find the old version in `/var/lib/update_engine/prefs/previous-version`.

The version you currently run is in `/usr/share/flatcar/release`. You can mount the inactive `/usr` partition and read the file there as well: `sudo mkdir -p /mnt/inactive-usr ; sudo mount -r "$(sud

[2021-12-17 11:23] #580 closed, assigned to nobody

[2021-12-17 13:14] #578 closed, assigned to nobody

[2021-12-17 13:32] #551 closed, assigned to tormath1

[2021-12-17 14:02] tormath1 commented on #579
I think it can be a good first issue - the idea here would be to add `kubenet` as [CNI](https://github.com/flatcar-linux/mantle/blob/54f6daa01b5c2b7a431127f0a12a22b91791239a/kola/tests/kubeadm/kubeadm.go#L38-L42) in the `kubeadm` test matrix.
[code]

Then update the template: https://github.com/flatcar-linux/mantle/blob/flatcar-master/kola/tests/kubeadm/templates.go to conditionally install and co

[2021-12-17 14:43] pothos commented on #578
The workaround is backported to the 3033 and 3066 release maintenance branches and future Stable, Beta, and Alpha releases will have it.

[2021-12-17 16:08] x4e-jonas commented on #384
Yes, I was about to post this too in #397 but I first run into a second issue: https://github.com/systemd/systemd/issues/18996

I took me some time to notice this was still broken in stable until 3033.2.0 that was just released now.

[2021-12-20 10:17] Winnie81 opened #581 "There is "metric 1024" for ip command"
## Description

For Flatcar 3033.2.0, result for "ip -br addr show" is as below:
 lo               UNKNOWN        127.0.0.1/8 ::1/128
ens192      UP             *.*.*.*/20 metric 1024 *::*:*:*:*/64

For Flatcar 2983.2.0, result for "ip -br addr show" is as below:
lo               UNKNOWN        127.0.0.1/8 ::1/128
ens192      UP             *.*.*.*/23 *::*:*:*:*/64

What's for "metric 1024"? It bl

[2021-12-20 11:45] tormath1 commented on #581
Hi @Winnie81,

`1024` is the default metric value. I'm not sure it's a "bug" and it might be related to the `libmnl` update since `iproute` relies on this lib.

I'll investigate on it though to get the origin of this sudden appearance.

[2021-12-20 11:58] Winnie81 commented on #581
This appearance blocks our testing. Thanks for your investigation.

[2021-12-20 13:10] pothos commented on #581
I can't reproduce it… Do you also have the problem when using `ip -j addr show`?
Edit: got the output shown and it also is part of the regular output. agree with @tormath1 that it seems to be a new thing to show the metric and not a bug

[2021-12-20 16:19] #469 closed, assigned to nobody

[2021-12-20 16:23] pothos commented on #469
fyi one could also provision a static binary through Ignition: https://github.com/mobile-shell/mosh/issues/1006#issuecomment-909227128

[2021-12-20 16:24] mleklund opened #582 "[RFE] Include nerdctl to use with containerd"
## Current situation

Nerdctl is a "Docker-compatible CLI for containerd, with support for Compose".  Some of us are switching to using containerd instead of docker, it would be nice if nerdctl could be installed and kept up to date with the current release of containerd.  It is a pretty tiny go program and I think would be a great addition to flatcar-linux.

## Impact

Currently I am manually ins

[2021-12-20 16:46] tormath1 commented on #581
@Winnie81

I've been through the whole `ip -br addr show` call, I didn't find exactly from where the `metric 1024` comes from but according to the manual page:
[code]

Having the `metric` value is to be expected in the `ip addr` command. As @pothos mentioned, I would recommend to use `ip -j addr show | jq ...` in order to get the _exact_ value you want to continue your test.

[2021-12-20 16:59] pothos commented on #582
Thanks for filing this issue. I thought we had one for it because we talked about it a few times already…

Since we use don't ship containerd directly in the base image but as layer on top (currently using torcx) it makes sense to add nerdctl to the torcx package instead of directly being a binary on the base `/usr` filesystem.

[2021-12-20 18:07] mleklund commented on #582
That makes sense, I'd just be happy to have it available.  Rootless containers and all.

[2021-12-20 19:14] mleklund opened #583 "[RFE] Include certs.d registry plugin in containerd config.toml"
## Current situation

I currently customize my containerd config.toml just to add the following settings:

[code]

My testing shows that containerd does not care if the directory does not exist, but I certainly would welcome further testing.

## Impact

I have to add a custom containerd config that might not keep compatibility with upstream, simply so I can add custom registries or proxies.

## Id

[2021-12-20 23:07] andy-v-h opened #584 "[RFE] Upgrade all releases to iproute2 v5.8.0+"
## Current situation

While attempting to take advantage of XDP with cilium and have found we’re hitting an issue similar to #172. and looking it seems like this libelf and iproute2 issue was resolved and merged in a few LTS branches, but it’s not currently in the stable branches. I am wondering if there is a reason I’m not finding or if it would be possible to cherry-pick the change into stable b