[2020-12-10 06:43] surajssd commented on #293
Similar to https://github.com/kinvolk/Flatcar/issues/280

[2020-12-10 09:33] ffilippopoulos opened #294 "Upgrade from Stable 2605.8.0 to 2605.9.0 breaks Kubernetes running with docker container runtime"
The current stable release 2605.9.0 has broken all our clusters (AWS / GCP / Bare metal + dev / prod). The issue we observe is that some nodes become `NotReady` after a while and traffic going to containers on those nodes times out.
Moreover it seems that `runc` processes are stuck in `D` state (uninterruptible sleep) and a remedy to make the nodes responsive again is to kill those processes.

We

[2020-12-10 11:32] pothos commented on #293
Can you run the `iscsiadm` binary on the host without this error? It sounds like the linked issue, which is due to mapping some host binaries into the container but in a broken way, can you check if this is the case?

[2020-12-10 12:05] margamanterola commented on #294
The upgrade from 2605.8.0 to 2605.9.0 upgraded the containerd version from 1.3.7 to 1.4.3. The docker version didn't change much, went from 19.03.12 to 19.03.14.

The containerd issue identified in the linked moby issue seems to be this one: containerd/containerd/issues/4509 (Containers with curl based health checks becoming unresponsive). This issue was introduced in 1.4.0 and fixed with 1.4.1. S

[2020-12-10 12:26] margamanterola commented on #294
The linked containerd issue has a bunch of strategies to get more information regarding what's going on. Check https://github.com/containerd/containerd/issues/4509#issuecomment-689671931 in particular, which includes a quote on how to create goroutine dumps as well as how to set containerd to generate debug output.

[2020-12-10 15:09] margamanterola commented on #278
Hi! First of all, thanks Dan for the reproduction case. I've used it and was able to verify that indeed this breaks when switching from 2512 to 2605. BTW, the repro case uses AWS CNI, not Cillium, so it already confirms what Greg commented.

I spent quite a few hours trying to figure out what exactly the problem is, but I wasn't able to find the root cause.  In the repro case, when using 2605 the

[2020-12-10 15:40] vbatts commented on #293
This may need an issue crosslinked with trident/SolidFire, where they are dynamic-linking to something on the host. This sounds like something that may need to be static-linked, or run in a container entirely

[2020-12-10 15:45] t-lo commented on #293
I've validated the host `iscsiadm` runs successfully in stable-2605.9.0, i.e. there is no library issue with the command line tool shipped with Flatcar Linux. Is there a way for trident/SolidFire to use host binaries?

[2020-12-10 16:59] matveybrant commented on #293
Hey folks, thanks for the responses.  After reading up a bit more it does indeed appear to be due to how our kubelet container is mounting iscsiadm (I believe trident/SF just uses kubelet's iscsadm).  We deployed this cluster a while back with poseidon/typhoon before we changed from container linux to flatcar, and we are still a few versions behind with k8s.  Is there a new best way to run iscsiad

[2020-12-10 17:28] pothos commented on #293
I think it's the wrong approach to copy things into the container even if the libraries were copied. The best way would be to either have the container have its own tools installed, or, leave the container and execute the binary in the host mount namespace (assuming `--privileged --pid host` you can invoke `nsenter -a -t 1` to leave the container). If the host binary should be copied, that works b

[2020-12-10 17:32] pothos commented on #293
In your linked example where indeed `--privileged --pid host` is used I think it would work to use a `iscsiadm` wrapper script in the container (but I don't know the details involved, just an idea):
[code]

[2020-12-10 17:35] pothos commented on #280
@iaguis I proposed another approach here: https://github.com/kinvolk/Flatcar/issues/293#issuecomment-742673711

[2020-12-10 18:43] anthr76 commented on #227
Awesome to hear @shift ! I will give this a try soon

We have a growing community of running K8s on raspberry pis and at home. I'd love to chat since it seems like it's an incredibly small crowd trying to get flatcar-linux going on RPIs. Is there somewhere we can connect?

[2020-12-10 21:17] vbatts opened #295 "mdadm: migrate cron.weekly to systemd.timer"
**Current situation**
in /etc, there is cron.weekly/mdadm, but it'll never get run. Switch it to systemd.timer instead

**Impact**
small surface of impact, but if mdadm is used, then `/usr/sbin/checkarray --cron --all --idle --quiet` isn't being run.

**Implementation options**
as a hack ... we might could land daily weekly and monthly timers, that just generically run whatever is in /etc/cron.{da

[2020-12-10 21:19] pothos commented on #295
Ah, there is https://github.com/systemd-cron/systemd-cron but I didn't realize that it was separate from systemd and thus missing.

[2020-12-11 09:00] ffilippopoulos commented on #294
@marga-kinvolk tyvm for the advise, I followed that comment and got a goroutine dump of the stuck containerd-shim process here:
https://gist.githubusercontent.com/ffilippopoulos/72406746b8969e86cc735a97e364faed/raw/a3343972e7b90142621bbc19df3ce89aff216879/goroutine-stack-dump

I am not sure here but it looks like it's stuck waiting to read from a unix socket. Could this be related to changes regar

[2020-12-11 13:30] #283 closed, assigned to nobody

[2020-12-11 14:13] dongsupark commented on #293
FYI a bit of background why iscsiadm was being used like that: https://github.com/poseidon/typhoon/issues/907#issuecomment-743024988

[2020-12-11 14:34] pothos commented on #284
About _make k8s on containerd work out of the box_: The next Stable release will enable the containerd cri plugin. The kubelet still needs to know which socket path to use but this seems to be common and is easy to set. We can switch to the default containerd socket path, too, if that helps but it is a breaking change.

[2020-12-11 14:38] dongsupark commented on #291
Filed a PR https://github.com/kinvolk/coreos-overlay/pull/740 for the first part.

[2020-12-11 15:01] shift commented on #227
@anthr76 I'm @shift on Keybase if you use keybase.
I documented some of the steps I took to get TFTP+UEFI booting working on the Pi4 here btw https://gist.github.com/shift/98f43d98ce5e47e374fa46bf67b6a3b1, may be of interest to you.

[2020-12-11 15:43] dongsupark commented on #156
FYI, I have been doing experiments of disabling policykit for systemd, only for arm64.
WIP branch: https://github.com/kinvolk/coreos-overlay/tree/dongsu/disable-policykit-systemd-arm .
With the change, failures in the units polkit and systemd-hostnamed were apparently gone.
I am still not sure if that is correct thing to do.
It's not like the whole CI ran or so.

[2020-12-11 17:06] ribbybibby commented on #294
A little bit more information from the misbehaving container and `runc init` process.

[code]

[code]

[code]

[code]

[code]

The freezer state seems to be stuck in `FREEZING`:
[code]

Frozen by itself:
[code]

I've found that I can recover the container and bring the node back to a `Ready` state by writing `THAWED` to the freezer state:

[code]

[2020-12-11 18:04] margamanterola commented on #278
I've spent another day poking at this and I haven't yet found the root cause, but at least I've reduced the list of suspects. I tried installing different Flatcar versions (from the alpha channel) to figure out when this broke. I was very suspicious that the culprit was the switch to the 5.4 kernel, but it turned out that was not the case.

To be able to poke at the problem, I deployed a debugging

[2020-12-11 21:02] vbatts opened #296 "Permission of grub/menu.lst is not persistent"
**Description**

`/boot/boot/grub/menu.lst` permissions are `0755`, and setting it to `0644` or `0600` is gone on reboot.

This could also be fixed by enforcing the permission by whatever is resetting it on boot

**Impact**

Low impact, just that the file is world readable, and doesn't need to be executable

**Environment and steps to reproduce**

1. **Set-up**: tested on 2605.9.0 in qemu
1. **Act

[2020-12-11 21:12] vbatts opened #297 "/etc/sysctl.d/ not loaded on boot"
**Description**

Setting parameters in `/etc/sysctl.d/*.conf` is not loaded on boot.

**Impact**

settings are not set.

**Environment and steps to reproduce**

1. **Set-up**: discovered on 2605.9.0 in qemu
1. **Action(s)**:
  a. `mkdir -p /etc/sysctl.d && echo net.ipv4.ip_forward=0 > /etc/sysctl.d/forward.conf`
  b. `systemctl reboot`
  c. `sysctl net.ipv4.ip_forward`

**Expected behavior**

`net

[2020-12-11 21:13] vbatts commented on #297
This can be worked around by dropping in a systemd unit to run `sysctl --system` on boot, but this ought to be default behavior.

[2020-12-12 10:20] mindw opened #298 "Unable to build custom kernel module in 2605.9.0"
**Description**

Build of a custom kernel module fails on 2605.9.0 - the same process is successful on 2605.8.0/

**Impact**

Production env is dependant on the module in question - blocked from upgrading.

**Environment and steps to reproduce**

1. **Set-up**: spin up Flatcar EC2 instance in AWS using `ami-01005e70742a799fe`
2. **Task**: build wireguard custom kernel module 1.0.20201112 for Flatc

[2020-12-12 16:17] vroad commented on #107
According to commit details, `2605.9.0` contains those changes, but systemd unit file is not in filesystem. Do I need to build AMI by myself to enable it?

[2020-12-14 13:14] pothos commented on #181
The issue is actually that due to the sorting, the baselayout settings get applied after `[0-9]*` and override the custom settings starting with `[0-9]`. We should rename the baselayout setttings to start with `00-`.

[2020-12-14 15:39] dongsupark commented on #156
Interesting.

CI runs of the WIP branch caused the whole packages-matrix builds to hang forever during `sys-libs/ldb` builds, like:
[code]
It happens always during Jenkins builds.
However, it does not happen under a local SDK.

I have no idea why the policykit change has anything to do with ldb at all.
For now I will stop looking into the issue.

[2020-12-14 15:40] #298 closed, assigned to sayanchowdhury

[2020-12-14 16:09] margamanterola commented on #298
Hey there! Thanks for the report! The fix for it has been merged and will be present in the next patch release for each channel.

In the meantime, if you need to build the module, you can modify the `/etc/portage/make.conf` file in the container to point to `https://storage.googleapis.com/flatcar-jenkins/boards/amd64/2605.9.0/{pkgs,toolchain}` instead of the developer addresses.

[2020-12-14 19:44] pothos commented on #181
PR here with a ordering at 60 that allows us to overwrite systemd defaults: https://github.com/kinvolk/baselayout/pull/13

[2020-12-14 19:46] pothos commented on #181
The systemd changes that we did before were not enough not only because of the ordering but also because they did not set `net.ipv4.conf.default.rp_filter` which is used for new interfaces.

[2020-12-14 20:01] #293 closed, assigned to nobody

[2020-12-14 20:02] #280 closed, assigned to nobody

[2020-12-15 10:18] dongsupark commented on #107
We wanted to enable it, but could not.
See https://github.com/kinvolk/coreos-overlay/pull/510 for details.

[2020-12-16 07:03] binchenX opened #299 "failed to download the sdk due to gpg error: openpgp: signature made by unknown entity"
**Description**

[ 1 paragraph concisely describing the bug ]

I was following the [instruction](https://docs.flatcar-linux.org/os/sdk-modifying-coreos/) trying to download the sdk but failed due to gpg issue.

**Impact**

[ 1 sentence detailing the impact this bug is creating for you ]

Can't download the sdk and play around

**Environment and steps to reproduce**

1. **Set-up**: [ describe the e

[2020-12-16 07:47] dongsupark commented on #299
Thanks for creating the issue.

Recently the original [Flatcar docs](https://docs.flatcar-linux.org/os/sdk-modifying-coreos/) was moved to https://kinvolk.io/docs/.
So the URL you are referring to is outdated. The up-to-date version is actually on https://kinvolk.io/docs/flatcar-container-linux/latest/reference/developer-guides/sdk-modifying-flatcar/.
And recently mantle [v0.15.2](https://github.c

[2020-12-16 08:29] binchenX commented on #299
Thanks for your prompt response and with the new instruction I'm now be able to download the sdk. (I'm in the sdk unpack stage so I would consider the download is successful).

[2020-12-16 08:29] #299 closed, assigned to nobody

[2020-12-16 16:27] pothos commented on #181
This is fixed in the latest Stable release (2605.10.0)

[2020-12-16 16:27] #181 closed, assigned to nobody

[2020-12-16 18:39] riccardo32 opened #300 "Developer board specified in Developmental Container is not accessible"
**Description**

the PORTAGE_BINHOST in the make.conf of Flatcar Developmental container specified is not accessible for latest Flatcar release  2605.9.0
uses
PORTAGE_BINHOST="https://storage.googleapis.com/flatcar-jenkins/boards/development/2605.9.0/pkgs/
￼https://storage.googleapis.com/flatcar-jenkins/boards/${BOARD}/${FLATCAR_VERSION_ID}/toolchain/"

**Impact**

Can not compile custom kernel mo

[2020-12-16 18:43] pothos commented on #300
Hello,
thanks for reporting, this seems to be https://github.com/kinvolk/Flatcar/issues/298 which is fixed in the release done a few hours ago.

[2020-12-17 06:46] riccardo32 commented on #300
Apologies mustve missed that one.. thanks

[2020-12-17 06:46] #300 closed, assigned to nobody

[2020-12-17 10:10] matti commented on #227
@shift awesome! what's the reason to use TFTP and not just HTTP ipxe...?

[2020-12-17 10:18] sayanchowdhury opened #301 "Upgrade Package Request: systemd 247"
**Package name and purpose**
systemd-247 was released last month. Flatcar Container Linux currently ships v246. This is a tracking issue to upgrade the systemd

Package upstream repo & tags:

- https://github.com/systemd/systemd
- https://github.com/systemd/systemd/releases/tag/v247
- https://github.com/systemd/systemd-stable/releases/tag/v247.2

Gentoo ebuild:
- https://github.com/gentoo/gentoo/t

[2020-12-17 11:44] pothos commented on #300
No problem, thanks for reporting

[2020-12-17 13:10] mindw commented on #298
Unfortunately this fix re-opens a can of worms - the build fails on what seems a regressions of
https://github.com/kinvolk/coreos-overlay/pull/19

[code]

Adding `emerge perl` allows building wireguard but with ranings

[2020-12-17 13:20] shift commented on #227
@matti The net booting doesn't support iPXE booting, so the TFTP server is only to fetch the UEFI and iPXE files. They could be on the sdcard or fetched via TFTP.

[2020-12-17 13:35] margamanterola commented on #298
Huh, that's interesting, but I think it's unrelated to this bug (which was due to a bad URL in the dev container) and something perl specific. Could you please open a new issue about this? In that new issue, please include whether you're cross compiling or not (the old bug you pointed to was about cross compiling).

[2020-12-17 14:00] matti commented on #227
but what about this? https://github.com/ipxe/pipxe

[2020-12-17 16:32] ribbybibby commented on #294
Some more findings.

Firstly, the issue can be reproduced with a very simple exec livenessProbe:

[code]

I wasn't able to reproduce it with an equivalent docker healthcheck though. At least not within a day of soaking it across a number of nodes.

[code]

Secondly, I tried running 2605.9.0 with binaries from the official docker 19.03.14 release as laid out here: https://kinvolk.io/docs/flatcar-co

[2020-12-18 07:35] zainal-abidin-assegaf opened #302 "i/o timeout kubernetes v1.19.5 cluster-ip container runtime containerd"
**Description**
`i/o timeout to kubernetes cluster-ip 10.100.0.10:443`

**Impact**
`coredns pod not working`

`flatcar linux kubernetes cluster domain cluster.local not working`

**Environment and steps to reproduce**
[code]
1. **Set-up**: [ describe the environment Flatcar/Lokomotive/Nebraska etc was running in when encountering the bug; Platform etc. ] `cloud-config with ignition`
2. **Task**: [

[2020-12-18 11:00] margamanterola commented on #302
Thanks for the report. I have a few questions:

1. On what platform are you running this? (AWS, Azure, EKS, GKE, bare metal, etc).
2. Was this working before, or did you only now start trying to move to containerd?
3. This looks very much like pod connectivity issues. Can you please try running another pod in the cluster and check whether you can reach the node, the outside world, etc? For example

[2020-12-18 11:11] dongsupark commented on #225
Created a PR https://github.com/kinvolk/coreos-overlay/pull/753, to enable BTF.
It is now possible to do so, as Alpha 2723.0.0 includes dwarves 1.19.

[2020-12-18 13:11] zainal-abidin-assegaf commented on #302
1. On what platform are you running this? (AWS, Azure, EKS, GKE, bare metal, etc). `We run it on bare metal vmware vsphere`
2. Was this working before, or did you only now start trying to move to containerd? `Always working with container runtime docker`
3. This looks very much like pod connectivity issues. Can you please try running another pod in the cluster and check whether you can reach the n

[2020-12-18 13:24] dongsupark commented on #291
Alpha 2723.0.0 SDK will include repo 2.8.
We should wait for a few release cycles, until that could be propagated into a stable SDK.

[2020-12-18 16:29] dongsupark commented on #225
https://github.com/kinvolk/coreos-overlay/pull/753 was merged, will be included in the next Alpha.

[2020-12-18 16:29] #225 closed, assigned to dongsupark

[2020-12-20 00:59] zainal-abidin-assegaf commented on #302
Wait, I think i've made configuration mistake,

Here is my flannel cloud-config:
[code]
flannel network cidr 10.244.0.0/16,
But my apiserver and controller manager configurations are :

[code]
cidr 10.100.0.0/16 is outside flannel cidr 10.244.0.0/16,
what if i change something like this:

[code]

Will it fix the issue ??

Need your advice,

Thank you

[2020-12-21 12:17] margamanterola opened #303 "Improve SELinux docs"
**Current situation**

Our [SELinux documentation](https://kinvolk.io/docs/flatcar-container-linux/latest/clusters/securing/selinux/) is not relevant in our current state. It mentions steps to enable SELinux Enforcing for rkt containers, which is deprecated. It's also unclear what works and doesn't work right now.

**Impact**
Our documentation is outdated and confusing, leading to user issues when

[2020-12-21 12:24] margamanterola opened #304 "Add kola tests to verify SELinux functionality"
**Current situation**
Our current test suite verifies that changing the SELinux enforcement mode works, but doesn't actually verify that it does anything.

**Impact**
Certain SELinux operations may break due to some Flatcar update and we won't notice because we only check enforcement mode.

**Ideal future situation**
We should verify that any documented functionality works as expected, not just mo

[2020-12-21 14:43] margamanterola opened #305 "SELinux: running `semodule -DB` fails with "file_contexts: line X is missing fields, skipping""
**Description**

When trying to run `semodule -DB` before enabling enforcing mode in SELinux, a lot of errors like the following are printed:

[code]

**Impact**

I'm not sure. I don't know if this means SELinux is using no contexts or if it's using some default contexts. Needs further investigation.

**Environment and steps to reproduce**

1. **Set-up**: a Flatcar Container Linux machine, with th

[2020-12-21 15:16] margamanterola commented on #305
I tried with 2605.8.0 and with 2512.4.0 and got the same errors, so this is not a recent regression.

[2020-12-24 11:03] bjethwan commented on #107
@samm-git
Hi Alex, Can you please simplify and tell us if we can use your AWS AMI with SSM agent installed and enabled?
I need this badly and I need this fast. In fact, one of the future requirements would be to allow the SSM agent to upgrade itself in prod. I guess it would be a red flag for anyone running a big fleet of flatcar not being able to get the operational insights.
I can sure give a ha

[2020-12-29 12:10] dvulpe commented on #278
I've had some more time to look into this issue closer, I think I may have found something.

In `2512.5.0` with `systemd 241` the `/usr/lib/systemd/network/99-default.link` file contains:
[code]
In `2513.0.0` with `systemd 243` the `/usr/lib/systemd/network/99-default.link` file contains:
[code]
`MACAddressPolicy=persistent` appears to instruct systemd to generate a stable mac address for virtual

[2020-12-29 15:35] f-bn commented on #284
Do we still need to empty the containerd configuration file (like explained in docs) with the lastest release of Flatcar (2605.10.0) then ?

[2020-12-30 10:25] margamanterola opened #306 "Consider incorporating etcd docs from coreos"
Our docs currently include a couple of pointers to [coreos' etcd documentation on live cluster reconfiguration](https://github.com/coreos/docs/blob/master/etcd/etcd-live-cluster-reconfiguration.md). This page is still live for now, but it might go away. We should consider incorporating at least that page and maybe other etcd pages from the same site to our own docs.

[2020-12-31 15:54] pysen commented on #187
I also ran into a similar problem with UEFI booting a bare-metal install of Flatcar-Linux (2705.1.0 & 2723.0.0, earlier release install fail completely) on Odroid-H2+ hardware. The installation was successful using PXE but once it had finished and tried to boot the installed Flatcar-Linux from the filesystem it fails with "Failed to Set MokListRT: Not Found".

I mounted the /boot partition from a

[2020-12-31 17:05] pothos commented on #278
@dvulpe Thanks for finding this out! Maybe a start would be to use `MACAddressPolicy=none` for PCI interfaces on AWS. If other setups are also affected, it seems more feasible to have the issue fixed in general…

[2020-12-31 17:09] pothos commented on #284
No, you can use the shipped configuration if you want to keep Docker around (the first case outlined in the docs _Running containerd with CRI plugin enabled alongside with Docker_).

I think we can remove the first case in the docs again and call out that this is the default now.

[2020-12-31 17:17] f-bn commented on #284
Sorry, I was not clear in my question, I would say, do we still need to empty the configuration file for Kubernetes usage only (such as mentionned in the documentation) if CRI is enabled by default in the lastest Flatcar release.

[2020-12-31 17:29] pothos commented on #284
You don't need to set up an empty containerd configuration, but you can if you want to brick Docker and use the default socket location for containerd.
The difference between the Flatcar configuration and the empty configuration is the socket path for the `kubelet --container-runtime-endpoint=` parameter.

Docs PR: https://github.com/kinvolk/flatcar-docs/pull/146

[2020-12-31 17:40] f-bn commented on #284
Thanks for your answer ! Will dive into it ;)

[2021-01-01 11:46] mindw opened #307 "Unable to build custom kernel module in 2605.10.0"
**Description**

Build of a custom kernel module fails on 2605.10.0 - the same process is successful on 2605.8.0

This is the outcome of #298

**Impact**

Workaround is available otherwise production env is dependant on the module in question - blocked from upgrading.

**Environment and steps to reproduce**

1. **Set-up**: spin up Flatcar EC2 instance in AWS using `ami-01005e70742a799fe`
2. **Task

[2021-01-01 23:26] carpenike commented on #187
@pysen my device was also an h2

[2021-01-02 23:18] matti opened #308 "iPXE booted tmpfs raspberry 8gb pi 4 has 50% root fs"
Docs say that:

but when btrfs is not in use, then it looks liek root is still 50%

[code]

[code]

[2021-01-02 23:18] matti commented on #308
#227

[2021-01-03 19:43] pothos commented on #308
The tmpfs has to have either a fixed size in MB or a size relative to the RAM size. Having up to 50% used for files is the default. You can still use more than 50% of the RAM as long as you don't fill the file system.

[2021-01-04 08:44] pipo02mix commented on #220
Hey @t-lo any updates here? We are waiting for this to switch to IMDSv2 🙏

[2021-01-04 11:46] hakman commented on #284
@pothos If the purpose of this issue is to simplify use of containerd for k8s setups, this should also change the default socket location as most tools (like `ctr`, `crictl`, ...) expect it to be in `/run/containerd/containerd.sock`. If anyone wants to use those becomes a hassle to always specify `--address ...`.
Is there any way to use `/run/containerd/containerd.sock` as default and create a sym

[2021-01-04 15:13] margamanterola commented on #278
I've tested this and verified that indeed the `MACAdressPolicy` is the likely culprit.  To a broken node, I added:

[code]

And after rebooting, new virtual interfaces work correctly. We had dealt with a similar issue for flannel here: https://github.com/kinvolk/coreos-overlay/pull/282. In my tests, I also tried matching by name (`eni*`) and it also solved the problem.

As with in the linked flann

[2021-01-04 16:24] margamanterola opened #309 "Add tests for more CNIs"
**Current situation**
We currently have a [kola test for flannel](https://github.com/kinvolk/mantle/blob/flatcar-master/kola/tests/flannel/flannel.go). It starts a cluster of three machines using flannel, and verifies that etcd is healthy and that the machines can communicate with each other.

**Impact**
As we don't test the other CNIs, we rely on users reporting issues, which has meant breaking t

[2021-01-04 16:26] margamanterola opened #310 "Add tests for building kernel modules with the developer container"
**Current situation**
We keep breaking the build environment of out-of-tree kernel modules and rely on users reporting when it doesn't work.

**Impact**
Users are blocked from deploying new Flatcar versions when they can't build the drivers they need.

**Ideal future situation**
We should have a kola test that verifies that building out-of-tree kernel modules works as expected.

[2021-01-04 16:47] pothos commented on #284
I agree, it would be best to migrate to the new socket location. Does it work for you to create a symlink the other way round in the mean time?

[2021-01-04 18:26] bjethwan commented on #107
@pothos
Do you see any new way of enabling ssm agent in flatcar linux?
It's a red flag from the security reviewers.

[2021-01-04 18:30] pothos commented on #107
You can run it in Docker container https://thepracticalsysadmin.com/deploy-aws-ssm-agent-to-coreos/ but I would probably add some more Docker parameters to be able to access the host environment from within the container.

[2021-01-04 18:32] samm-git commented on #107
I am doing it from userdata, without docker. I was proposing different options to solve it in flatcar but so far no luck. I personally see this as a serious issue for the flatcar/aws.

[2021-01-04 18:42] samm-git commented on #107
@bjethwan i can share my recipe later if you interested.

[2021-01-04 18:42] samm-git commented on #107
@dongsupark may be we should just extend oem part. size as a workaround before oem mechanism is recreated?

[2021-01-04 18:45] pothos commented on #107
Or we could host some resources that are too large elsewhere and fetch them through Ignition…

[2021-01-04 18:54] samm-git commented on #107
@pothos this also could be an option, however, will require connectivity to such location, what is not always a good option. This is what i am doing now, from s3 bucket. However, still think it must be part of the base in aws. Like it is with other cloud-native distros.

[2021-01-05 00:09] vroad commented on #107
What I'm doing now is downloading SSM agent rpm file from S3 bucket stated in official AWS docs, then extract binary from the rpm.

I used busybox image for extracting agent binary because Flatcar doesn't seem to contain tools required for extracting rpm files.

[2021-01-05 11:01] margamanterola opened #311 "Make one-shot units more robust"
**Current situation**
We have some one-shot units, like `coreos-metadata`, that don't get retried if they failed when they ran the first time. They just stay around as failed.

**Impact**
For `coreos-metadata` this means that if the metadata service is unavailable when the machine boots, but later becomes available, the machine never recovers.

**Ideal future situation**
To make this type of units

[2021-01-05 11:22] margamanterola commented on #220
The metadata version seems to be mostly a red-herring. I've filed a PR for updating it so that we don't let it distract us from actual problems, but I think it will make zero difference for the issue reported here.  The actual issue is the token that needs to be passed, as Thilo mentioned.

This was added upstream here: https://github.com/coreos/ignition/pull/1154 (which probably requires the SDK

[2021-01-05 12:52] samm-git commented on #107
@pothos i still feel that as short-term solution changing partition size is a way to go.

[2021-01-05 13:50] margamanterola commented on #276
I fixed this in my latest submission to the docs.

[2021-01-05 13:50] #276 closed, assigned to nobody

[2021-01-05 13:57] margamanterola commented on #275
100% agree with this. The "quickstart" is a terrible document full of pre-required knowledge and very cluster specific. Not a quickstart at all.

[2021-01-05 13:58] hakman commented on #284
Thanks @pothos.
At the moment I am thinking about a more permanent fix for kOps, like overriding the config file (which is a nice thing to have anyway). Adding a symlink that may not work in the future would generate issues for those that use kOps with Flatcar.

[2021-01-05 14:33] margamanterola opened #312 "Increase the OEM partition size"
**Current situation**
Currently we are limited to shipping a maximum of 128MB in the OEM partition.

**Impact**
This means that if we're trying to ship big OEM tools, we can't. Users can run those tools as containers, but it means that running those tools requires an internet connection. This is affecting AWS in particular (https://github.com/kinvolk/Flatcar/issues/107)

**Ideal future situation**

[2021-01-05 15:06] margamanterola commented on #47
With the migration to the new docs, these files became visible through the side bar navigation. They are now grouped together under "Community Platforms" and the Overview page explicitly says that they are not officially supported:

https://kinvolk.io/docs/flatcar-container-linux/latest/installing/community-platforms/

We haven't reviewed them, but I don't think we will get to that any time soon,

[2021-01-05 15:06] #47 closed, assigned to nobody

[2021-01-05 16:43] margamanterola commented on #302
Hey there! Did you try out your proposed solution? Did it work?

[2021-01-05 16:57] margamanterola commented on #258
Hey there! Thanks for using Flatcar and reporting this issue. Are you still experiencing it?

If you are, please note that it's not clear this is really a Flatcar issue. It sounds more like some daemon that you have running on your instance is unmounting the drive. Is there a reason you think Flatcar is at fault?

I'd suggest you use `journalctl` to look at the journal of the instance and see if y

[2021-01-05 17:09] margamanterola commented on #261
The page has been recently updated. We now have official images, so the uploading part is not the recommended way anymore, the commands to use the official images work out of the box.

[2021-01-05 17:09] #261 closed, assigned to nobody

[2021-01-05 18:08] KillahB33 commented on #258
I switched to centOS cause I never got word back.

The reason I believe it was flatcar was because there was an issue with how flatcar did mounting after moving over from CoreOS and an updated happened that broke mounting, and it wasn't an issue until I switched from CoreOS to flatcar.

[2021-01-05 18:23] margamanterola commented on #258
I see. Sad to hear that you went with CentOS.

It's likely that the difference was due to either a newer kernel version or a newer systemd version, with different defaults.

I'm going to close this bug now, as we don't have enough information to do anything about it. Thanks!

[2021-01-05 18:23] #258 closed, assigned to nobody

[2021-01-06 02:51] zainal-abidin-assegaf commented on #302
@marga-kinvolk ,
No it doesn't work, i can not curl https://10.100.0.1:443/version,
kubernetes service targetport is 192.168.207.221:6443,
Should i expose kubernetes secure port via haproxy ??

[code]

But it doesn't work either, i need help please

[2021-01-06 09:21] iaguis opened #313 "Pods with exec liveness/readiness show periodic debug logs in the journal"
**Description**

Pods having exec liveness or readiness probes show periodic debug logs in the journal with an error.

**Impact**

This pollutes the journal.

**Environment and steps to reproduce**

1. **Set-up**: A Lokomotive cluster running on Flatcar 2605.10.0
2. **Task**: Run a pod with an exec liveness or readiness probe
3. **Action(s)**: Access the journald log.
4. **Error**: Messages like t

[2021-01-06 16:00] #313 closed, assigned to nobody

[2021-01-06 22:05] samm-git commented on #312
+1

[2021-01-07 12:33] margamanterola commented on #278
I've applied the fix to all flatcar branches. I've verified that the test case provided by @dvulpe passes with this fix applied.

This fix will be included in the next set of flatcar releases.

[2021-01-07 15:41] krnowak commented on #149
Could we just drop `bindist` from `RESTRICT` in openssl ebuild? The openssl ebuild already is in coreos-overlay because of some modification we are making there. That should allow forcing the `ssl` USE flag on wget without getting into problems with openssl. I'm trying to update portage and I'm repeatedly getting the same stage1 build error. Now running a build with this modification in openssl eb

[2021-01-08 10:10] #311 closed, assigned to nobody

[2021-01-08 15:59] ribbybibby opened #314 "Permissions error when creating a GCE instance template with an image family reference"
**Description**

I can't seem to create a GCE managed instance template with a reference to the image family `flatcar-stable`. I get an unexpected permissions error.

**Impact**

Providing a managed instance template with a family, as opposed to a direct image reference like `flatcar-2605-10-0`, means that new instances will be created from the latest image.

If I can't do that I need to provide a

[2021-01-08 16:29] ribbybibby commented on #294
Another update.

We started getting the same runc hangs on exec probes with containerd after enabling systemd cgroups:
[code]

We were previously enabling the systemd cgroup driver in docker.

After discovering this in containerd, I tried to reproduce the issues with systemd cgroups disabled in docker and I couldn't. So it seems like systemd cgroups are significant here.

[2021-01-08 17:22] margamanterola commented on #314
Thanks for reporting!

I tried this command, which ran successfully:
[code]

And then tried this other command which failed:
[code]

As you say, this might be because our images are not in the global list of public images, I'll ask our Google Cloud contacts for help.

[2021-01-11 00:49] pysen commented on #187
I was able to successfully boot my Odroid-H2+ with the latest 1.22 firmware and Flatcar-Linux Alpha 2723.0.0.

The issue with the "Failed to Set MokListRT: Not Found" is no longer present like it was on the previous 1.12 firmware that the board was delivered with.
I was able to get rid of the MokListRT error on firmware 1.12 by adding a MOK following the Debian wiki instructions at https://wiki.de

[2021-01-11 11:17] pothos commented on #284
Filed a PR to switch the socket location and create a symlink for the old location: https://github.com/kinvolk/coreos-overlay/pull/771

[2021-01-11 11:32] hakman commented on #284
Thanks for the update @pothos.
May want to sync the service file with the [upstream](https://github.com/containerd/containerd/blob/master/containerd.service), at least add `Type=notify`.

[2021-01-11 11:43] pothos commented on #284
Thanks, added it

[2021-01-11 15:05] jbanety commented on #106
Hi,
For those who still have problems, I added the linux capabilities ` --capability=CAP_NET_ADMIN` to allow the container to work.
[code]

[2021-01-11 18:43] pothos opened #315 "Signal 23 (SIGURG) Docker event flood"
**Description**
Beginning with release 2605.9.0 Docker containers generate many signal 23 events which flood monitoring systems (example: https://github.com/kubernetes/kops/issues/10388). The SIGURG signal does not kill the process but is generated by Go runtime scheduling (https://go.googlesource.com/proposal/+/master/design/24543-non-cooperative-preemption.md). Because the Go runtime does not kn

[2021-01-11 19:06] pothos commented on #315
To compare against the behavior of the upstream binaries from the Docker GitHub release I updated the guide to install them via Ignition: https://github.com/kinvolk/flatcar-docs/pull/148

[2021-01-12 12:07] pothos commented on #294
@ribbybibby The issue you linked was also about the unconsumed shim debug log, did you disable shim debug or did you use the Flatcar defaults which have it enabled (at least for the releases up to now)?

Thanks for finding out that the cgroup driver makes a difference. The default on Flatcar is `cgroupfs`.

[2021-01-12 12:13] pothos commented on #294
Did you set the Kubelet `cgroupDriver` setting to the same value as the containerd setting?

[2021-01-12 12:25] ribbybibby commented on #294
@pothos Yep, the kubelet `cgroupDriver` setting matched the containerd setting. For a while we were mistakenly running with a mismatch (`cgroupDriver : systemd` in kubelet, but not in containerd) and the issue wasn't reproduced in that state.

We've been using the flatcar default shim debug setting.

[2021-01-12 12:51] pothos commented on #315
It seems that `containerd-shim` is not yet filtering the signal and `runc` is not that much related because it's not active anymore.

Edit: Seems the signal comes actually from the Docker CLI client, not the shim itself.

[2021-01-12 19:04] pothos commented on #294
Ok, so the question is what freezes the cgroup (and doesn't unfreeze it). Just to make sure, this happens with cgroup v1, right? (This is the default under Flatcar unless one forces it to use a hybrid or v2 cgroup setup.)
We only test and ship Docker on Flatcar with the cgroupfs driver and cgroup v1, but eventually it would be good to be able to switch and make sure there are no bugs.

[2021-01-13 06:19] Winnie81 opened #316 "New Package Request: [open-vm-tools 11.2.5]"
Open-vm-tools 11.2.5 GA was announced on 01/12/2021. Please rebase OVT to our newest release in future.

About vmtools release information, please refer to https://docs.vmware.com/en/VMware-Tools/, https://github.com/vmware/open-vm-tools/releases/tag/stable-11.2.5.

Thanks.

[2021-01-13 09:04] ribbybibby commented on #294
Yep, we haven't touched the cgroup version so it must be v1. Not sure how to check that definitively though.

[2021-01-13 09:10] dongsupark commented on #149
Yeah, I have just bumped into the same issue again, when trying to update completely different ebuilds.
If you can make things work by dropping `bindist` from RESTRICT in openssl ebuild, let's go for it.

[2021-01-13 12:38] lukasgr90 opened #317 "Network issues with flatcar 2605.10.0 and Docker in Docker builds"
**Description**

A "Docker in Docker" (DinD) solution running on the recent, stable flatcar version seems to have network issues. Downloads within Docker builds start and then fail or get stuck (until they time out). It worked as expected before upgrading from 2605.5.0 to 2605.10.0. Everything beside the Docker builds using DinD works with the recent flatcar version.

**Impact**

Downloads within

[2021-01-13 15:29] margamanterola commented on #278
The fix got released yesterday in all channels (2605.11.0, 2705.1.1, 2748.0.0). Please test your setups and let us know if this solves the issue or not.

[2021-01-13 15:35] margamanterola commented on #312
While talking about this, it was raised that for some specific architectures (e.g. nodes running "on the edge"), increasing the partition size if it's going to be empty or almost empty would be wasteful. We might want to consider having different partition sizes depending on whether or not we actually use them.

[2021-01-13 15:51] jaysiyani commented on #278
Thanks @marga-kinvolk, I deployed the latest image today and the test i conducted before are now passing!

[2021-01-13 19:45] dvulpe commented on #278
Thanks @marga-kinvolk - I've verified 2605.11.0 and it worked great!

[2021-01-14 11:44] margamanterola commented on #278
Awesome, thanks everyone. I'm now closing this bug (and will also retitle it a bit to make the issue clearer). If you encounter further issues with running Flatcar with EKS, please file new bugs.

Thanks!!

[2021-01-14 11:44] #278 closed, assigned to margamanterola

[2021-01-14 21:28] tilleyc opened #318 "iscsiadm buffer overflow with open-iscsi v2.1.2"
**Description**

open-iscsi version 2.1.2 (version included in Flatcar from 2605.9.0) has a bug wherein discovery of too many targets results in buffer overflow in iscsiadm, resulting in the program exiting with errors. This is documented in the [Changelog for 2.1.3](https://github.com/open-iscsi/open-iscsi/blob/master/Changelog) and [this commit](https://github.com/open-iscsi/open-iscsi/commit/0c

[2021-01-15 09:13] t-lo commented on #318
Thank you for reporting this issue, and please pardon the inconvenience caused. We'll have a look at updating open-iscsi.

[2021-01-15 10:15] ahrkrak commented on #116
Instructions should use Flatcar Pro image from Marketplace.

[2021-01-15 10:15] CptDaniel commented on #317
Experiencing this as well. And somehow having a docker-in-docker build stuck leads to a corrupted filesystem with logs like
[code]

This seems to still be happening with 2605.11.0.

[2021-01-15 18:10] vbatts opened #319 "[RFC] arm64 SDK"
**Current situation**
the flatcar sdk is for an amd64 host. All arm64 image and binaries are cross-compiled.

**Impact**
now that powerful arm64 machines are readily available, it's currently not an option to use them for builds

**Ideal future situation**
A flatcar arm64 image can be built from an arm64 host.

**TODO**
- [x] Provide SDK for ARM64
- [ ] Integrate ARM64 SDK into release pipeline an

[2021-01-17 10:26] obourdon opened #320 "2605.11.0 not available on Azure marketplace"
**Description**

Subject says it all. Seems like images for 2605.11.0 have been made available on AWS but not on Azure

**Impact**

Can not upgrade

**Expected behavior**

Stable (and potentially Beta & Alpha) release should be available cross IaaS providers

[2021-01-18 08:37] samm-git commented on #312
@marga-kinvolk its pity that we are not using something like zfs where volume sizes are dynamic. Anyway, i dont think that these days it will make such a big deal, especially because it will be compressed anyway during distribution

[2021-01-18 09:34] ribbybibby opened #321 "/etc/iscsi/initiatorname.iscsi is not generated on boot"
**Description**

We recently rolled our on-prem cluster from 2605.7.0 -> 2605.11.0 and discovered that, contrary to [what is expressed in the docs](https://kinvolk.io/docs/flatcar-container-linux/latest/setup/storage/iscsi/), `/etc/iscsi/initiatorname.iscsi` is no longer generated on boot.

**Impact**

This broke the ability of affected nodes to mount pvcs via iscsi. We have had to generate it our

[2021-01-18 09:50] ffilippopoulos commented on #318
@tilleyc for what is worth we had a similar problem when discovering luns from our netapp and managed to work around that via setting scans to manual (`node.session.scan = manual`) and doing targeted discoveries (which is actually the proposed configuration from trident/netapp for our case). No idea if that can be useful for you though, just mentioning.. :))

[2021-01-18 10:34] pothos commented on #319
A first step would be to align the USE flags and related things of the package setup to be equal on or independent of both architectures.
The SDK bootstrap needs a seed tar ball with a compiler – I guess the arm64 developer container can be used for that.

[2021-01-18 10:56] pothos commented on #320
Hello,
sometimes it takes longer for a new image to be reviewed and published.
Since Flatcar can still update this is not really a big issue, and as long as updates are not turned off, you will see the system update in the first five minutes after deploying an outdated image.

[2021-01-18 11:02] margamanterola commented on #320
The images were uploaded to Azure on January 12th. I've created a support ticket to ask why our image is stuck (it's supposed to take a maximum of 3 business days). It should be live soon.

[2021-01-18 11:08] t-lo commented on #321
Thank you for reporting this issue. This indeed appears to have been a miss when updating the package; please pardon the inconvenience. We are working on a fix and aim to include it in the next releases (we'll also cover https://github.com/kinvolk/Flatcar/issues/318).

As a temporary workaround please consider provisioning the [iscsi-initiatorname service file](https://github.com/kinvolk/coreos-ov

[2021-01-18 11:16] margamanterola commented on #312
Increasing the partition size would have no effect on our image tarballs, but it would affect the amount of available disk space on the running instances.

The concern raised was that on machines where the oem partition is not heavily used and use a small disk size (like edge VMs), this could be a significant penalty for little gain.

We think it could be possible (and not too hard) to have 2 OEM

[2021-01-18 14:50] margamanterola opened #322 "Clean up development manifest-builds tags"
**Description**

We currently have thousands of tags in the manifest-builds repo that were created for doing development builds.  These are the tags for actual (CoreOS or Flatcar) released versions:
[code]

And these are the non-released versions:
[code]

These versions are created whenever we run a Jenkins build, be it a nightly build or a development build to try out a change.

**Impact**

This

[2021-01-18 17:22] obourdon commented on #320
@marga-kinvolk many thanks

[2021-01-19 11:09] dongsupark opened #323 "Build nghttp2 with cxx enabled"
While we update curl to 7.74, we had to introduce a new dependency package [net-libs/nghttp2](https://github.com/kinvolk/portage-stable/pull/137).
However it was required to [disable](https://github.com/kinvolk/coreos-overlay/pull/782) `cxx` USE flag to avoid configure errors during configuration of nghttp2.

If we nevertheless enable `cxx` flag, we would have the 2 issues:

- [ ] Missing boost AS

[2021-01-19 15:55] tilleyc commented on #318
Interesting, thank you for this. I'll look into it!

[2021-01-20 14:46] jaysiyani opened #324 "releases from 2605.5.0 onwards no longer has /etc/localtime"
**Description**

When deploying AWS Flatcar-stable-2605.5.0-hvm AMI. I noticed that the symbolic for `/etc/localtime` was missing. This was there on the last releases.

**Impact**

Containers requiring `/etc/localtime` are failing.

**Environment and steps to reproduce**

1. **Set-up**: Flatcar-stable-2605.5.0-hvm on AWS
2. **Task**: Deploy node-problem-detector

**Expected behavior**
[code]

[2021-01-21 11:53] dongsupark commented on #59
FYI, cluster-api and kubeadm [decided](https://github.com/kubernetes/kubeadm/issues/2376#issuecomment-764566612) to together move on to systemd cgroup.
Effective starting from Kubernetes 1.21, which will be probably released in March or April 2021.
It is not a breaking change per-se on the Flatcar side.
However, we should really think about the transition.

[2021-01-21 15:25] dongsupark opened #325 "New Package Request: cri-tools"
**Package name and purpose**

[cri-tools](https://github.com/kubernetes-sigs/cri-tools) consists of `crictl`, a standard CLI tool for CRI, and `critest`, a validation testsuite for CRI. The latter is not needed by Flatcar, but the former tool is quite often used nowadays.

In the past, only the Edge channel included `cri-tools`. But it was never a part in Stable-Alpha.
Nowadays, Stable-Alpha alrea

[2021-01-21 15:55] dongsupark commented on #316
Added a Github link to the release 11.2.5.

[2021-01-21 15:57] dongsupark commented on #322
Totally agree. It is not only an issue of manifest-builds, but also other repos.
Anything older than 15 days sounds ok.
Not sure about how to implement.

[2021-01-21 16:19] krnowak commented on #322
This could be a github action running once a week.

[2021-01-22 10:37] obourdon commented on #320
Seems like Azure support has not come up with a solution yet :-( (already 8 business days since submission)

[2021-01-22 11:09] margamanterola commented on #320
Indeed, I have not yet received a reply from them. I'm trying other Azure contacts.

[2021-01-22 14:06] Cougar opened #326 "Upgrade Package Request: ignition"
**Package name and purpose**
ignition got many enhancements and fixes multiple bugs since 0.34.0 (dated back to Dec 21, 2019). Latest release from CoreOS is v2.9.0

Package upstream:
 - https://github.com/kinvolk/ignition/releases
 - https://github.com/coreos/ignition/releases

**Benefits of upgrading this package**
One important fix was an ability to use [systemd instantiated services](https://gi

[2021-01-22 14:18] pothos commented on #326
Regarding the wait-online service: The `--any` parameter is enabled by default on Flatcar(/CoreOS) CL: https://github.com/kinvolk/coreos-overlay/blob/main/sys-apps/systemd/files/0004-wait-online-set-any-by-default.patch

[2021-01-22 14:29] Cougar commented on #326
Ok, this is the problem then. Doesn't look correct solution as it is not possible to disable that any more. Would be better to add `--any` flag to the `/usr/lib/systemd/system/systemd-networkd-wait-online.service` `ExecStart` line..

[2021-01-22 15:45] dongsupark commented on #316
Filed PR https://github.com/kinvolk/coreos-overlay/pull/795

[2021-01-25 08:55] #316 closed, assigned to dongsupark

[2021-01-25 08:55] dongsupark commented on #316
Merged. open-vm-tools 11.2.5 will be included in the next Alpha.

[2021-01-26 12:42] margamanterola commented on #318
This was addressed in https://github.com/kinvolk/coreos-overlay/pull/791/, that updated the iscsi version to 2.1.3.

This will be included in the upcoming set of releases for stable, beta and alpha.

[2021-01-26 12:42] margamanterola commented on #321
This was addressed in https://github.com/kinvolk/coreos-overlay/pull/791/, that updated the iscsi version to 2.1.3 and fixed the service units. Please note that the services are now called iscsi (instead of iscsid) and iscsi-init (instead of iscsi-initiatorname), as those are the upstream names.

This will be included in the upcoming set of releases for stable, beta and alpha.

[2021-01-26 14:09] margamanterola commented on #315
This change will be part of the next set of releases (alpha, beta and stable).

At least one of the missing signals is now handled here:
https://github.com/docker/cli/pull/2929

It's tagged 20.10.3 milestone, so we can probably revert this fix once we upgrade docker to 20.10.3.

[2021-01-26 18:11] mleklund opened #327 "Move /boot/coreos to /boot/flatcar after upgrade"
**Description**

I would like to move /boot/coreos to /boot/flatcar after upgrade, also would like to update the menu, but I cannot find docs on how to do this.

**Impact**

No real impact, other than it hurts my feelings.

**Environment and steps to reproduce**

1. Have a CoreOS server
2. run update-to-flatcar.sh
3. Be bothered in your soul that the menu still says CoreOS and that it is using /bo

[2021-01-26 18:22] pothos commented on #327
GRUB and it's config are not migrated, you would have to replace all this which is not an easy task to automate in the general case.

[2021-01-26 19:10] margamanterola commented on #324
So, I checked this out and found that on the previous stable release (2512.5.0) the file didn't exist in the image, but it got created on boot. The timestamp resolution is 1 second and a lot of things happen in that second, so I couldn't really pinpoint what created the file, but it seems to be mostly stuff that happens in the initrd.

I checked other versions and I found that:
* 2513.0.0 alpha ->

[2021-01-26 19:47] mleklund commented on #327
Is there a hard way? Does not have to be something I automate at the moment.

[2021-01-27 08:14] mindw opened #328 "flatcar 2605.9.0+ with systemd 246 journal logs produced is not readable by older versions"
**Description**

**Impact**

This affects all current dockerized systemd log collection methods. Specifically the reference k8s one.

**Environment and steps to reproduce**
We have a custom setup - but the below should work. The links below should provide a lot better reference.

1. **Set-up**:
  a. setup a k8s cluster using flatcar https://typhoon.psdn.io/flatcar-linux/aws/
  b. install the fluen

[2021-01-27 10:20] margamanterola opened #329 "QEMU process eventually consumes 100% CPU under double nested setup"
Two customers have reported seeing the same problem when running workloads in a double nested setup like this: VMWare ESXi 6.7 > Flatcar 2247.7.0+ > Docker container > Guest Flatcar (version doesn’t matter).

The problem manifests itself as a QEMU process using 100% of the CPU in the Host OS (Flatcar 2247.7.0 or later), and becoming unhealthy. Inside the Guest OS, the CPU usage stays low.

From th

[2021-01-27 11:30] margamanterola commented on #329
I had a look at the differences between 4.19.78 and 4.19.81 and [this commit](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/virt/kvm?h=v4.19.84&id=30d8d8d6cd928b5bc8547aca6d8eb30b334d5451) looks the most suspicious to me. It's a change that turns the `kvm_lock` structure from a spinlock to a mutex.

Although this change would have the inverse effect, there [are other lock

[2021-01-27 12:16] surajnarwade opened #330 "CVE-2021-3156"
CVE link: https://blog.qualys.com/vulnerabilities-research/2021/01/26/cve-2021-3156-heap-based-buffer-overflow-in-sudo-baron-samedit

from the post:

[code]

I tried it on flatcar linux and I can see it's not patched.

[code]

OS version:

[code]

[2021-01-27 12:18] pothos commented on #327
Depending on how you boot Flatcar I guess you can replace the GRUB EFI binary for example and the grub.cfg.tar file. I did not try this myself.

[2021-01-27 12:22] margamanterola commented on #330
The fix has already been submitted and integrated in our branches:
https://github.com/kinvolk/coreos-overlay/pull/803

This will be part of our upcoming releases for all Flatcar channels (to be released either later today or early tomorrow).

[2021-01-27 14:57] vbatts opened #331 "[RFC] GPIO support"
**Current situation**

As Flatcar is being included in more edge deployments (amd64 and arm64), there are integrations with devices needed (sensors, cameras, etc.), which is not included

**Impact**
blocks certain edge use-cases

**Ideal future situation**
GPIO is present so folks can continue doing cool stuff on Flatcar

**Implementation options**
`CONFIG_GPIO_SYSFS` so that `/sys/class/gpio/...`

[2021-01-27 15:45] pothos commented on #249
Another thing to look out for is whether there are existing LVM partitions that are active. One can try something like `lvchange -an /dev/mapper/vg*` until logic to cover this is part of `flatcar-install`.

[2021-01-27 16:08] pothos opened #332 "flatcar-install fails to detect active LVM partitions"
**Description**

Installation fails because active LVM partitions are overwritten and result in a problematic system state, which can either happen when the disk is specified explicitly or when the `-s` flag searches for the smallest unmounted partition but does not take LVM into account.

**Impact**

Either a reboot to retry installation is needed, or before running `flatcar-install`, a manual re

[2021-01-28 01:17] dennisme commented on #330
Awesome! Thanks a ton

[2021-01-28 10:57] n-marciniak opened #333 "Local mirror of http://public.update.flatcar-linux.net/v1/update/"
**Current situation**
Flatcar update required internet access. it is not always available even through a proxy server.
Non internet connected servers should be able to update from a locally hosted server
ie mirror of http://public.update.flatcar-linux.net/v1/update/

**Ideal future situation**
Make http://public.update.flatcar-linux.net/v1/update/ possible to be mirrored

**Implementation options*

[2021-01-28 11:18] pothos commented on #333
The URL you mentioned is for the update server API which can't be mirrored. You can mirror the image server and we have a script for that.

For running a local update server look into https://github.com/kinvolk/nebraska/ (use `-enable-syncer true -host-flatcar-packages true` but at least this part needs Internet access of course, without these options you would have to create the packages manually

[2021-01-28 12:18] ryanm101 commented on #286
This breaks as soon as we go to 2605.5.0, so the break seems to be related to the change of kernel (or maybe docker)
We are using https://www.kernel.org/doc/html/v4.18/filesystems/fscrypt.html

Requirements:
* Seccomp -- pod policy needs to allow keyring-related syscalls.
* Key needs to be in session keyring for the processes that wish to use encrypted filesystem.

Below is the function we use to

[2021-01-28 12:56] margamanterola commented on #320
After several rounds of requesting this, the image is finally live. Just in time for us starting the publishing of 2605.12.0 :-/

Closing now. Sorry about the inconvenience.

[2021-01-28 12:56] #320 closed, assigned to nobody

[2021-01-28 13:00] margamanterola commented on #321
The new flatcar releases with these fixes are in the process of getting published. Closing now. Thanks for reporting.

[2021-01-28 13:00] #321 closed, assigned to sayanchowdhury

[2021-01-28 13:01] margamanterola commented on #318
The new flatcar releases with these fixes are in the process of getting published. Closing now. Thanks for reporting.

[2021-01-28 13:01] #318 closed, assigned to nobody

[2021-01-28 17:50] mleklund commented on #327
Thanks! I think I have it mostly figured out.

[2021-01-28 17:50] #327 closed, assigned to nobody

[2021-01-28 18:25] mitchellmaler opened #334 "Support Rancher on vSphere by adding extra config-drive label check and file path for cloudinit"
**Current situation**
Currently you cannot provision Flatcar Linux nodes using Rancher on vSphere due to how the cloudinit labels and paths are setup. Rancher uses rancher-machine (fork of docker-machine) and it creates a config drive with the label cidata and the root path just has the files user-data and meta-data instead of user_data/meta_data under an openstack/latest path.

https://github.com

[2021-01-29 10:48] margamanterola opened #335 "tcsd doesn't start due to wrong permissions (affects 2605.9.0 and later)"
**Description**

In https://github.com/kinvolk/coreos-overlay/pull/684 we merged a patch to apply some security fixes to trousers. Unfortunately we didn't realize that part of what the patch did was enforce certain permissions on the files in /etc that are not the permissions that we ship.

**Impact**

Using tcsd requires manually fixing the ownership and permissions of /etc/tcsd.conf

**Environme

[2021-01-29 19:00] shosti commented on #243
This looks like it’s been implemented upstream: https://github.com/coreos/ignition/pull/960

[2021-01-31 11:41] HubertBos opened #336 "docker restart flag not working correctly after locksmithd OS update"
**Description**

When FlatCar has been updated by locksmithd docker engine is not starting(?) but all starts when someone ssh to machine

**Impact**

Every stable release I need to ssh to all my machines

**Environment and steps to reproduce**

1. A standard flatcar AWS machine with single locksmith coordinator
2. Run docker image with the flag --restart=always
3. Let locksmithd to reboot the mach

[2021-01-31 18:19] pothos commented on #336
There is documentation for this topic: https://kinvolk.io/docs/flatcar-container-linux/latest/container-runtimes/getting-started-with-docker/#permanently-running-a-container

You can enable the Docker service and disable the socket activation (on-demand start of Docker), to always have Docker running.

The preferred way however is to use systemd units:

[code]

[2021-01-31 18:26] HubertBos commented on #336
Hello

Thank you for an update, I will apply changes and update the ticket in next release.

[2021-02-01 10:52] Keithsc opened #337 "Setting /etc/profile.env breaks PATH"
**Description**
If the file /etc/profile.env is created then the default PATH variable changes so that it doesn't include /opt/bin/ any more.

**Impact**
If I "touch" a /etc/profile.env file I am unable to execute anything in /opt/bin by just name alone and need to supply the full path.

**Environment and steps to reproduce**
Using a brand new Flatcar VM in azure, I echo the PATH then touch a /etc

[2021-02-01 11:07] pothos commented on #337
Hello,
that topic is indeed difficult. There are various ways to define the environment (`/etc/environment`, `/etc/profile(.d)` etc) and it's all different depending on whether you have a login bash shell, use `sudo -s`, `su -`, or systemd services.

For systemd services the env is hardcoded anyway and you have to specify it through systemd units, as far as I know.

Since `/etc/profile.env` is doc

[2021-02-01 11:12] margamanterola opened #338 "New Package Request: update qemu to latest version"
**Package name and purpose**

Qemu is one of our main VM emulation components. We're still using version 5.0. Version 5.2 includes significant updates:  https://www.qemu.org/2020/12/08/qemu-5-2-0/

- Package upstream repo: https://gitlab.com/qemu-project/qemu
- Latest Gentoo ebuild: https://github.com/gentoo/gentoo/blob/master/app-emulation/qemu/qemu-5.2.0-r2.ebuild

**Impact of adding this packag

[2021-02-01 11:22] pothos commented on #338
Zero because it's not part of the image

But I hope it will help with the soft lockups we see while running tests

Edit: Of course we can change our mind and include QEMU in the image, probably with libvirtd. At least for the binary translation helpers I had created an issue: https://github.com/kinvolk/Flatcar/issues/205

[2021-02-01 11:49] dongsupark commented on #338
All right, good to know. Let's update to 5.2.
We were already thinking about updating qemu to 5.1 due to security issues, but so far had no chance to do so. As it is not part of production images, has been a rather lower priority.

[2021-02-01 13:40] Keithsc commented on #337
Thanks @pothos, Switching to using the /etc/environment file worked, the proxy settings are working correctly and my PATH var still includes /opt/bin.

  - owner: root:root
    path: /etc/environment
    append: true
    content: |
          export http_proxy=http://proxy.server.address:3128
          export https_proxy=http://proxy.server.address:3128

[2021-02-01 13:40] #337 closed, assigned to nobody

[2021-02-01 15:44] dongsupark opened #339 "Delete docker 1.12"
**Current situation**

One of the torcx profiles in Flatcar is for docker 1.12, which is outdated since a long time. It takes ~27 MB of space in production images almost for no reason.
We can and should delete docker 1.12.

In the past, we already tried to delete docker 1.12, but failed to do so because there were so many different places to be updated.
Not only torcx profiles, but also mantle tes

[2021-02-01 17:07] pothos commented on #335
The fix will be part of the next releases (all of Alpha, Beta, Stable)

[2021-02-01 18:15] jcrowthe commented on #328
We ran into this issue as well. In our case, we use a fluent-bit daemonset to ship the journal from all kubernetes hosts into splunk. In moving to Flatcar 2605.10.0 we stopped receiving journal logs. We fixed this by making two changes, both of which were necessary:

[code]

**Update:** FYI if you need to update an existing host, you will need to erase the journald log directory before the compres

[2021-02-01 18:16] dharmab commented on #328
Fluent Bit issue: https://github.com/fluent/fluent-bit/issues/2998

[2021-02-01 19:13] dharmab commented on #294
We've seen something similar. We have coredumps disabled for security compliance reason but see this in the kernel logs:

[code]

[2021-02-01 19:42] pothos commented on #294
Does it work with `cgroupfs` as cgroup driver in containerd/kubelet?

P.S.: Interesting that you are still on a 4.19 kernel ;)

[2021-02-01 19:56] dharmab commented on #294
We had a mix of 4.19 and 5.4 running while we were debugging #328 :)

We had `--exec-opt native.groupdriver=cgroupfs` added to the dockerd flags, and use the default `cgroupfs` in the Kubelet config. I don't think we are setting containerd explicitly as documented here, though: https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd. Although we are using k8s 1.18.14

[2021-02-01 20:13] pothos commented on #294
Thanks for the response, I wonder if this is really the same because the above report is about `self_freezing` being turned on while you saw a hung task in demsg.

[2021-02-02 17:19] #325 closed, assigned to nobody

[2021-02-02 19:25] wernerb commented on #227
Fyi using the latest flatar alpha does not work with the PI in my case, the following when booting with iPXE:
[code]
Curious if anyone has this working? Im using UEFI->iPXE with 8gb enabled

[2021-02-03 08:27] #333 closed, assigned to nobody

[2021-02-03 08:27] n-marciniak commented on #333
Thanks for clarification

[2021-02-03 08:32] t-lo commented on #330
A fix has been released on all channels; closing.

[2021-02-03 08:32] #330 closed, assigned to nobody

[2021-02-03 13:04] Jasper-Ben commented on #284
I am not sure the steps described at https://kinvolk.io/docs/flatcar-container-linux/latest/container-runtimes/switching-from-docker-to-containerd-for-kubernetes/ currently work (2605.12.0).

When trying to init a kubernetes cluster using kubeadm I still get the following Warning:
`W0203 12:46:11.599434   84665 kubelet.go:205] detected "cgroupfs" as the Docker cgroup driver, the provided value "sy

[2021-02-03 13:21] pothos commented on #284
I think you shouldn't set `cgroupDriver: systemd` unless you also set it for containerd (and I think it has a bug about self freezing cgroups). The default is `cgroupfs`.

About disabling Docker, you don't need this. You can use the default containerd config that Flatcar has without any unit drop-ins. The socket location is now under `/run/containerd/containerd.sock` by default. I think I'll file

[2021-02-03 13:26] Jasper-Ben commented on #284
So just to be clear: Do I need to change the kubelet systemd service to add the flags `--container-runtime=remote --container-runtime-endpoint=unix:///run/containerd/containerd.sock` or should it just work without any modifications whatsoever?

[2021-02-03 13:30] pothos commented on #284
I think the kubelet parameters need to have it passed explicitly but I didn't check the defaults. No modifications in Flatcar's containerd are needed.

Done here: https://github.com/kinvolk/flatcar-docs/pull/153

[2021-02-03 13:31] #284 closed, assigned to invidian

[2021-02-03 13:50] Jasper-Ben commented on #284
I am still getting the following warnings and healthz fails:
[code]

So again, one by one just to cover all the bases:
- running flatcar linux stable (2605.12.0)
- `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` contains:
[code]
- init config contains:
[code]
- kubeadm called with `kubeadm init --config conf.yaml --upload-certs`

Of course there is a chance of the whole setup being bricked

[2021-02-03 14:10] pothos commented on #284
What is the error message? Can you still run docker containers? I don't know what the rest of your kubelet.service file has.
In doubt, you can remove any containerd/docker unit files or drop-ins under /etc/systemd/system/ and restart…

[2021-02-03 14:37] Jasper-Ben commented on #284
The systemd config I am using is:
https://raw.githubusercontent.com/kubernetes/release/v0.4.0/cmd/kubepkg/templates/latest/deb/kubelet/lib/systemd/system/kubelet.service
and
https://raw.githubusercontent.com/kubernetes/release/v0.4.0/cmd/kubepkg/templates/latest/deb/kubeadm/10-kubeadm.conf

and I'm not sure adding `--container-runtime=remote --container-runtime-endpoint=unix:///run/containerd/cont

[2021-02-03 14:48] pothos commented on #284
`/var` is not read-only but `/usr`: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#usr-mounted-read-only

[2021-02-03 15:05] Jasper-Ben commented on #284
whoops, my bad...

well, then I have no clue what the issue might be here. But at least I can confirm that `--container-runtime=remote --container-runtime-endpoint=unix:///run/containerd/containerd.sock` are added by kubeadm init, so there is no need to modify the default kubelet systemd service, as indicated by a dry-run:

[code]

At this point I'll just assume that something messed up during one

[2021-02-03 15:08] pothos commented on #284
There you also can find this: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#kubeadm-reset-unmounts-var-lib-kubelet
You can create a new issue if you discover a problem.

About the default args, thanks, then it's really nothing special to take care of but the flex-volume I hope ;)

[2021-02-03 15:18] Jasper-Ben commented on #284
I am using v1.20, so this issue should be fixed. I am not sure how well kubeadm handles early aborts during the init phase, which I might have done once or twice :innocent:

[2021-02-03 16:34] #315 closed, assigned to nobody

[2021-02-04 12:46] Jasper-Ben commented on #284
@pothos: followup: after reinstalling the OS the kubernetes cluster installed without any issues. One minor nitpick though: At least in the current stable release the containerd service is not enabled by default (at least after masking the docker service). Other than that... it's so simple now! :+1:

edit: s/systemd/containerd/g

[2021-02-04 16:19] Finkregh opened #340 "flatcar image with open-vm-tools + cloud-init metadata from openstacks' metadata_urls"
**Current situation**
We are running Openstack for management and vSphere/ESXi as hypervisor.
The openstack flatcar image does get cloud-init data from the usual metadata_urls but does not have open-vm-tools installed.
The vmware flatcar image does try to get cloud-init data from somewhere else (config-drive? i'll have a look at the logs if that it important) and fails but does have open-vm-tools

[2021-02-04 16:57] #339 closed, assigned to dongsupark

[2021-02-04 17:53] pothos commented on #340
Do you have a way of specifying VMware guestinfo variables for the instances?
You should use the VMware images (e.g., ova) and set the `guestinfo.ignition.config.url` to point to the OpenStack metadata URL.
Here are the details: https://kinvolk.io/docs/flatcar-container-linux/latest/installing/cloud/vmware/
Noteworthy is that the Ignition with VMware can only use DHCP, do you have DHCP?
(There are

[2021-02-05 12:14] ffilippopoulos opened #341 "Package Update Request: multipath-tools"
**Package name and purpose**
Flatcar comes with an old multipath-tools version `multipath-tools v0.6.4 (03/11, 2016)` thats is already a few years old. A lot of the modern kubernetes csi volume drivers rely on multipathd for operations (for example we are currently using netapp/trident which does multipathd calls to determine which dm to mount).

Most recent version appears to be `0.8.5` (https://

[2021-02-08 15:03] pothos opened #342 "Support Ceph"
**Current situation**
The Ceph mount tool is not available and probably something else is missing (e.g., check kernel config).

**Impact**
No Ceph for network storage, just NFS

**Ideal future situation**
Ceph is supported

**Implementation options**
FUSE vs kernel driver

**Additional information**

[2021-02-08 15:25] mback2k commented on #342
I would prefer the kernel option since it seems like the required kernel modules are already in place. I guess just the mount helper tool mount.ceph is missing. I will try to compile it somewhere else and then test it on Flatcar manually.

[2021-02-09 16:07] ribbybibby commented on #294
I had a suspicion that the downgrade from go 1.15 -> 1.13 for docker binaries in 2605.12.0 might squash this bug but I can still reproduce it.

[2021-02-09 17:44] mback2k commented on #342
So it seems like Ceph itself is already supported by the kernel in Flatcar Linux. It is just the helper `mount.ceph` missing which is not a requirement for mounting according to https://docs.ceph.com/en/latest/cephfs/mount-using-kernel-driver/.

I was able to successfully mount CephFS via IP addresses without the helper. But taking the helper from Ubuntu's `ceph-fs-common` also worked.

[2021-02-11 12:49] Finkregh commented on #340
Thanks for the quick reply.

I think we could get there, but we'd have to automate that for every new VM with a flatcar image.
I suspect that this will not happen as it would require some engineering effort.

An easy way out would be a mixed image with vmware-tools+metadata from openstack :)

[2021-02-11 13:22] pothos commented on #340
You could modify the flatcar image you use by embedding a default `config.ign`  ignition file on the OEM partition which contains a `replace` directive to point to the openstack URL:
`{ "ignition": { "version": "2.1.0", "config": { "replace": { "source": "http://..." } } } }`

[2021-02-12 14:56] b4ck3r commented on #183
Hi all,

We figured we were having some issues in a subset of nodes with a specific firmware version of the Mellanox ConnectX4LX, ```14.26.1040```, and also confirmed the issue was not present on version ```14.22.4020``` of the firmware.
We mitigated by upgrading the firmware to the latest release  ```14.29.1016```.

[2021-02-15 13:28] margamanterola commented on #156
It's possible that the hanging that Dongsu saw on ARM was due to the same issue that Thilo fixed last week with regards to the old qemu version. I'm going to rebase the change against the latest main and retry running the CI with that.

[2021-02-15 19:27] mauriciovasquezbernal opened #343 "Enable kernel config CONFIG_BPF_LSM for kernels >= 5.7"
**Current situation**

`CONFIG_BPF_LSM` kernel config option is not set on Alpha and Beta channels that ship kernel >= 5.7.

**Impact**

It's not possible to use [LSM hooks](https://www.kernel.org/doc/html/latest/bpf/bpf_lsm.html) with eBPF in Flatcar.

**Ideal future situation**

`CONFIG_BPF_LSM`  is enabled to make it possible to use LSM hooks with eBPF in Flatcar.

**Additional information**

T

[2021-02-16 03:55] fransvanberckel commented on #246
Did you know the config-transpiler bin files are not build anymore? I have got to go to CoreOS releases to download ct v0.6.1.
- https://github.com/coreos/container-linux-config-transpiler/releases
- https://github.com/kinvolk/container-linux-config-transpiler/releases

[2021-02-16 17:06] margamanterola commented on #156
Indeed, as I suspected the build of Dongsu's branch succeeded in the first try and didn't get stuck.  However, when testing this on a machine with an explicit ignition config (i.e. without the default one that calls cloud-init), the hostname gets stuck with `localhost`.  In the journal I can see:

[code]

If I understand this correctly, `systemd-networkd` is trying to set the hostname (from the DH

[2021-02-17 08:30] Kenevist-admin opened #344 "Dead link to examples in /provisioning/config-transpiler/getting-started/"
The link in the last sentence  to the examples is https://kinvolk.io/docs/flatcar-container-linux/latest/provisioning/config-transpiler/getting-started/examples but it should be https://kinvolk.io/docs/flatcar-container-linux/latest/provisioning/cl-config/examples/

[2021-02-17 10:05] margamanterola commented on #344
Thanks for the report, I'll take care of this.

[2021-02-17 10:29] #344 closed, assigned to margamanterola

[2021-02-17 17:42] Finkregh commented on #340
Thanks, that looks like a solution for us.
I'll close the ticket and eventually add a note with the commands/script that we used. You can then use it in your docs if you like.

[2021-02-17 18:51] cespo commented on #100
Hi @vbatts ,
Could you point me to the public documentation page?

[2021-02-18 02:45] vbatts commented on #100
hey @cespo!

Looking back at this, I closed this after we had concluded internal coordination on the release cadence, but we did not formally post anything public about this cadence.
It seems that the most logical spot for this would be https://github.com/kinvolk/flatcar#release-process, but maybe also somewhere on https://kinvolk.io/docs/flatcar-container-linux/latest/ ...

I'll open an issue req

[2021-02-18 17:19] #343 closed, assigned to nobody

[2021-02-19 12:54] dgsardina commented on #151
I am struggling to deactivate autologin by using ignition config. Has anyone successfully deactivated it this way? Thank you and regards.

[2021-02-19 12:59] pothos commented on #151
If you overwrite the file with Ignition the setting will only take effect after the next boot.
Here the CLC you can use (convert it to Ignition JSON with `ct`):

[code]

[2021-02-19 13:01] pothos commented on #151
Can you confirm this works after an additional reboot? Then I will create a PR to have this covered in the docs.

[2021-02-19 17:13] dgsardina commented on #151
@pothos Thank you, the snippet you sent works perfectly fine, just replacing some tabs by spaces :)

I used the following command to convert to ignition, in case it helps someone else:
` docker run --rm -i quay.io/coreos/ct:latest-dev --platform=custom -strict -pretty  - < t.yaml   > t.json  `

[2021-02-19 17:26] pothos commented on #151
Ok, docs PR here: https://github.com/kinvolk/flatcar-docs/pull/156

[2021-02-22 10:04] #151 closed, assigned to nobody

[2021-02-22 10:20] dongsupark commented on #288
Thanks for the work.
Samba 4.12.9 is included in Alpha 2783.0.0, and will be available also in other channels.

One remaining issue is that the new dependency libs like icu take more space in production images.
I am trying to figure out how we can minimize the deps.
Will soon create a new issue about that.

[2021-02-22 10:20] #288 closed, assigned to nobody

[2021-02-22 11:35] dongsupark opened #346 "Optimize dependencies of samba"
**Current situation**
Samba is well-known for its full-blown dependencies on a huge number of libraries. Whenever it bumps into a release, like 4.12, it pulls in another libs.
Recently we [updated](https://github.com/kinvolk/coreos-overlay/pull/834) samba to 4.12.9, and apparently the latest Alpha release 2783.0.0 has ~50 MB of less free space compared to the previous version.

To improve that, we

[2021-02-22 13:17] invidian opened #347 "Support rebooting (e.g. for updates) via kexec"
**Current situation**
In some situations rebooting machines might take time, which adds up on large fleet of machines (e.g. bare-metal), extending the "maintenance" window.

**Ideal future situation**
[ Please describe the future situation after the improvement was implemented ]
Flatcar could make use of kexec for rebooting while updating to optimize reboot time of each machine.

[2021-02-22 13:24] pothos commented on #347
The logic to alter the counter of the A/B partition and which one to choose, and to generate the new kernel command line arguments is implemented in GRUB and would have to be reimplemented in userspace. Other than that it's a question on how reliable kexec is with certain hardware.

[2021-02-22 14:52] mback2k opened #348 "Support Docker 20.10"
**Current situation**
Docker version 20.10 is not yet available (not even optional) for Flatcar, but would bring a bunch load of new features, see:
https://docs.docker.com/engine/release-notes/#20100

**Impact**
Missing out on new features, especially around using devices from within services.

**Ideal future situation**
I would propose to have Docker version 20.10 available as an optional torcx p

[2021-02-22 14:57] pothos commented on #348
Hi,
you can follow this guide to run a custom version through Ignition:
https://kinvolk.io/docs/flatcar-container-linux/latest/container-runtimes/use-a-custom-docker-or-containerd-version/
Maybe some adjustments are needed but the first thing to do is switching a newer version in the `url: https://download.docker.com/linux/static/stable/x86_64/docker-19.03.14.tgz` line.

[2021-02-23 04:09] jasonbraganza commented on #248
Hello folks! I’m an old sysadmin learning to write code. Am used to old unices/linuxen and only now getting up to speed with the modern distributions and the container / image world.

Would love to tackle this issue with your help, because it kinda ticks all my boxes. i have wrestled with init/grub in the past to get systems booting, *and* this helps me learn and get familiar with modern stuff.

W

[2021-02-23 06:38] jasonbraganza commented on #248
also, while i will keep this thread updated with what i have done, there must be some place where you folk gather and i can ask idiot level questions (on a general level)? because the more i read about flatcar, the more fascinated, I am getting and the more questions I have
have joined #flatcar on irc. if there is any other place, please do tell, and I’ll join up.

[2021-02-23 08:36] mback2k commented on #348
Thanks for the information, but are there plans for Docker 20.10 availability in Flatcar?

[2021-02-23 09:50] jasonbraganza commented on #248
i realise this is not related to doing anything with the sdk and is pure bash manipulation.
however i am rusty there. so reading up the script closely and looking at the web for what each bash line does (as well as speed reading a couple of bash books)
will update with progress

P.S.
also currently trying to actually run the script and write to a ramdisk in my vm, to see how long it takes and how

[2021-02-23 14:25] jasonbraganza commented on #248
Hello folks,

Just a little note to tell you what I learnt today

- I gave up on reading all about bash, it would take me too long to figure it all out
- i tried the small d option to write to a disk to see how the script works.
- I decided to copy/and adapt the `install_from_url` function in the script and make it download
- i cannot seem to run the script without sudo. gpg complains
- as of now,

[2021-02-23 14:33] pothos commented on #285
For the record, the symlink `/etc/resolv.conf` was not switched yet because kublet/coredns don't detect the symlink and that they should use `/run/systemd/resolve/resolv.conf` for the container (or use host network namespace, or some other trick like setting up port forwarding).

[2021-02-23 15:30] pothos commented on #248
Hi,
I didn't have a look yet but wanted to tell that there is also https://github.com/poseidon/matchbox/blob/master/scripts/get-flatcar which we didn't mention in this issue yet as current alternative to the mirroring with https://github.com/kinvolk/flatcar-release-mirror

[2021-02-24 02:01] jasonbraganza commented on #248
and this is why i should have not worked all day, just to compensate for the fact that I am beginning all over :joy:
i should have asked for help right in the beginning :)

Thank you @pothos! I’ll look at the poseidon repo script too. maybe that’ll help me more :)

will keep updating progress or asking for help here :)

[2021-02-24 05:13] jasonbraganza commented on #248
​​Had to stop work abruptly today. Have a death in the family. Trying to figure out how to send my mom over to another state.
​will restart tomorrow. sorry folks

[2021-02-24 06:43] zainal-abidin-assegaf commented on #302
Now it's working properly,
I did this command: `sudo update-ca-certificates`

![image](https://user-images.githubusercontent.com/22811935/108958921-3d4c6e80-76a6-11eb-9748-cfcd78c415eb.png)

Thank you

[2021-02-24 06:43] #302 closed, assigned to nobody

[2021-02-24 09:17] pothos commented on #248
They have a slightly different purpose, and I just wanted to state that it exists and it may be useful to compare the approach.

[2021-02-24 17:02] judexzhu opened #349 "2605.12.0 Unable to find device after multiple discovery attempts: [can't find active iSCSI session]"
**Description**
Dell CSI Operator install CSI-Unity using ISCSI

install 2605.12.0 or upgrade from 2605.11.0

can successfully create pv and pvc , but pod stuck on creating, shows errors

[code]
was good on 2605.11.0

**Environment and steps to reproduce**

1. **Set-up*:
Vanilla Kubernetes managed by Ansible
v1.19.7

2. **Task**:
enable and start iscsid and multipathd on worknodes
install calico o

[2021-02-24 21:41] vbatts opened #350 "sshd@.service should not log to syslog"
found in my journal:
[code]
Found in even the latest 2783.0.0 release, `/usr/lib/systemd/system/sshd@.service`:
[code]

The `systemd.exec` man page says:

Proposing to remove that `StandardError=syslog` line.

[2021-02-25 06:37] nathanielhourt opened #351 "[Minor] Documentation formatting issue"
Looking at https://kinvolk.io/docs/flatcar-container-linux/latest/provisioning/ignition/network-configuration/ in the "Using static IP addresses with Ignition" section, it seems that two different formats are being described, but the way it's written is a bit confusing unless you already understand that. The two "This format" paragraphs are not initially clear as to what "This" they are referring

[2021-02-25 10:12] pothos commented on #351
Yes, the first is suggesting that they could be individual parameters but only the second one is correct as far as I know.

[2021-02-25 12:11] fransvanberckel opened #352 "Move most of the non essential cli tooling into a console container"
The Rancher OS project uses os-* console container images.

- https://github.com/rancher/os-services/tree/master/images/10-alpineconsole
- https://github.com/rancher/os-services/tree/master/images/10-centosconsole
- https://github.com/rancher/os-services/tree/master/images/10-debianconsole
- https://github.com/rancher/os-services/tree/master/images/10-fedoraconsole
- https://github.com/rancher/os-

[2021-02-25 15:55] dongsupark commented on #346
Gentoo PR https://github.com/gentoo/gentoo/pull/19650 .

Flatcar PRs, WIP:
* https://github.com/kinvolk/portage-stable/pull/150
* https://github.com/kinvolk/coreos-overlay/pull/864

The `doc` USE flag was not included, because it causes strange side effect of pulling in a bunch of dependencies.
Had to keep `liburing`, as it might be needed in the future when io_uring is widely used.

[2021-02-25 16:54] nathanielhourt commented on #351
Ahh, I was just going to put together a PReq for this, but before I do... are you saying the first format no longer works?

[2021-02-25 17:11] pothos commented on #351
Ok, tried it and it works (it generates a `/etc/systemd/network/10-dracut-cmdline-99.network` for the initramfs), so all good, maybe I used it wrong last time

[2021-02-25 17:14] pothos commented on #351
(tested with adding `rd.break=pre-mount rd.shell` to the kernel arguments in the GRUB menu of the qemu image)

[2021-02-25 17:20] nathanielhourt commented on #351
OK, I made the edit [here](https://github.com/kinvolk/flatcar-docs/compare/main...nathanhourt:patch-1?short_path=b1ef021#diff-b1ef02131cf4a282e4c8ed3f596ce12148c6bb35d3e90050ac30382b4b0863ae) -- should I PReq that to `main` or a different branch?

[2021-02-25 18:40] bbagwellffn opened #353 "No documentation on Ignition or Ignition Validate"
Hey all,

I was going through the website and I'm trying to use legacy CoreOS ignition configs inside of Flatcar.

Several questions:
* What is an easy way for me to tell what version(s) of Ignition should be used for any given build of Flatcar?  I would imagine there would be some command like 'ignition -version', or a table on the website, or some way to confirm this.
* The configs I have been u

[2021-02-25 18:48] pothos commented on #351
yes, to `main`

Maybe you can say there that the simple format is just for a single device while the other is suited for multiple interfaces

[2021-02-25 18:59] pothos commented on #353
Hello,

all current channels use Ignition 0.34: https://kinvolk.io/flatcar-container-linux/releases/#stable-release
Yes, the currently supported specification version is not easily visible but only here: https://github.com/kinvolk/ignition/tree/flatcar-master/config

So you could use spec version 2.3.0 but the latest version the validator knows about is 2.2.0: https://github.com/kinvolk/container-

[2021-02-25 21:45] nathanielhourt commented on #351
Hmm, perhaps it would be clearer to name them "Single-Interface Format" and "Multi-Interface Format" rather than "Expanded" and "Comprehensive"? What do you think?

[2021-02-26 09:46] pothos commented on #351
Yes, sounds good

[2021-02-26 11:23] vbatts commented on #62
Incoming fixes:
- https://github.com/kinvolk/init/pull/36
- https://github.com/kinvolk/coreos-overlay/pull/852

[2021-02-26 11:51] dongsupark commented on #346
https://github.com/gentoo/gentoo/pull/19650 was merged

[2021-02-26 14:40] pothos commented on #349
Thanks for the report,
where does the `iscsiadm` segfault in dmesg belong to? Can you show the `journalctl` output of the unit where it fails? If it's not part of a unit but run by a Kubernetes component, how does it run it?¹

¹ If it runs in a container, you have to ensure that the container iscsiadm binary is compatible the host version. And it maps the binary from the host into the container, t

[2021-02-26 14:47] #351 closed, assigned to nobody

[2021-02-26 22:06] fransvanberckel opened #354 "move root from 9 to partition 10 during installation"
Fixed! What would be the right way to move root to /dev/sda10 on the fly during setup?  What if I create a new 10th partition. Which is the same size as the 9th. Do a # dd from the 9th to the 10th. Beware, this includes the id and label information. And rename the 9th to local and format? So I can reuse the 2 GB /dev/sda9 to mount /use/local. It's because on Flatcar by default /use is mounted read

[2021-02-26 22:14] fransvanberckel commented on #354
Version of March 1, 2021, 10 a.m.
[code]

[2021-02-27 12:56] pothos commented on #354
By default the sda9 partition will be expanded on the first boot. You can restructure the partition layout in Ignition but in principle it would also work to do what you did; using the GPT partition type coreos-resize for the root device: https://kinvolk.io/docs/flatcar-container-linux/latest/reference/constants-and-ids/ but not for the old sda9. For the rest I would need to compare the result of

[2021-02-27 14:12] fransvanberckel commented on #354
@pothos I updated the above script with coreos-resize, and added the current layout. With # ls on by-label it does list LOCAL but not the ROOT partition, even after adding # udevadm settle to the script.
[code]

[2021-02-27 15:06] fransvanberckel commented on #354
Strange, If i do a # mount on sda10 and # ls on by-label, i have got ROOT. If i do a # umount next, it's gone again?
[code]

[2021-02-27 20:24] fransvanberckel commented on #354
@pothos Fixed! I have found a working solution, updated the above script. Still got to find out, if i could drop the partprobe, udevadm, sync, or the blockdev. Closing the issues for now. Thanks for supporting!
[code]

[2021-02-27 20:24] #354 closed, assigned to nobody

[2021-03-01 09:55] joaquimrocha opened #356 "update_engine_client: Improve feedback when an update is not needed"
If an instance has a the same version that's being served by the group/channel it points to, then the `update_engine_client` returns "Update failed". This may be misleading so we should investigate how to improve the feedback of this tool dependening on why the update actually fails. i.e. if the reason is that the local version is >= than what's being served, then it should probably say:
`Update c

[2021-03-01 16:55] #346 closed, assigned to nobody

[2021-03-02 03:51] jasonbraganza commented on #248
back at work today.
today onwards, i’ll give two hours to doing this little project, until it is done.
I’d love to do more, but life is currently crazy.

@pothos once again, thank you for showing me the script. and yes i understood your intent as soon as I ran it. will try to understand it and adapt what i learn here.

[2021-03-02 05:58] jasonbraganza commented on #248
Log for 2021-03-02

### Aim
- current direction is to just *somehow* get a file to download.

once I get that done and hopefully can parse scripts better in my head (as i read and look this up daily), the idea then is to
- consider refactoring `install_from_url()` into multiple functions. (use something from my `save_to_disk` function in there)
- preserve the implementation of the actual installat

[2021-03-02 07:12] nchowinf commented on #21
@neilmayhew  I just wanted to give you a big shout out for this. Thank you very much for saving our asses.

[2021-03-02 21:03] ltagliamonte-dd commented on #328
@jcrowthe tried this looks not working, i tried also restarting the server still no logs collected by fluent-bit

[2021-03-03 13:20] jasonbraganza commented on #248
### What got done today
- Managed to get the file and the signature downloaded

### Blockers
- Stuck on how to verify the file that i downloaded with the signature
[code]
i’m using this line https://github.com/jasonbraganza/init/blob/9c0dd0c8c35996309e3f3c024369f5c25b6becfc/bin/flatcar-install#L414 to try to verify the file.

now i think I need help. @pothos, @marga-kinvolk and other kind folk, wo

[2021-03-03 22:03] cdemers opened #357 "It appears that since v2765.2.0 port 53 is gripped by systemd-resolve and what was previously using port 53 will now fail"
**Description**

Some of our machines run a dns server in a docker container, bound to port 53. Since v2765.2.0 port 53 seems to be held by _systemd-resolve_ and what was previously using port 53 will now fail to start (complaining that port 53 is already attributed).

I'm pretty certain that _2605.12.0_ didn't have _systemd-resolve_ starting up by default and grabbing onto port 53.

On version _2

[2021-03-04 01:33] judexzhu commented on #349
@pothos  I rebuilt my cluster with 2605.11.0 version and everything works fine , the iscsi  storage class mount successfully

after I success deployed one WordPress instance, I upgrade one node to the newest 2765.2.0 version

![image](https://user-images.githubusercontent.com/17834225/109896037-1b725f00-7c45-11eb-867c-05f71d98c89d.png)

the Pod on the upgrade node are not able to mount the PVC any

[2021-03-04 09:31] dongsupark commented on #341
Thanks for creating the issue.
multipath-tools 0.8.5 is now included in Alpha 2801.0.0.
It will be available in other channels in the future.

[2021-03-04 09:31] #341 closed, assigned to nobody

[2021-03-04 09:35] dongsupark commented on #301
systemd v247 is now available in Stable 2765.2.0, Beta 2765.1.0, and Alpha >= 2765.0.0.

[2021-03-04 09:35] #301 closed, assigned to nobody

[2021-03-04 09:39] dongsupark commented on #291
Stable 2765.2.0, Beta 2765.1.0 and Alpha versions have repo 2.8.
However, LTS does not have it yet.

[2021-03-04 10:03] dongsupark commented on #62
Alpha 2801.0.0 includes the fix https://github.com/kinvolk/init/pull/36 .

On its production image, you can see:
[code]
As it shows, the kexalgorithms do not include weak ones like `diffie-hellman-group14-sha1`.

The fix will be included in other channels as well in the future.
Thanks!

[2021-03-04 10:03] #62 closed, assigned to nobody

[2021-03-04 11:02] pothos commented on #357
Hello,
this is a new feature, relevant for split DNS and more things that systemd-resolved offers. It was introduced in https://kinvolk.io/flatcar-container-linux/releases/#release-2748.0.0 and not present in the old Stable release. If you have to use the localhost port 53 for something else, you can disable the stub listener by appending `DNSStubListener=no` to `/etc/systemd/resolved.conf`.

In t

[2021-03-04 11:06] pothos commented on #349
The logs don't tell where the `iscsiadm` binary is run and where it comes from. Is it the version Flatcar ships and run on the host itself? If it's used inside a container, then my previous note applies.

[2021-03-04 13:22] jasonbraganza commented on #248
### What got done today
-  Figured out, how to download and verify the file. tested it a couple of times and it seems to work fine
Worked around the gpg blockers from yesterday, by looking at https://kinvolk.io/docs/flatcar-container-linux/latest/setup/releases/verify-images/

Would request you, please have a look see at https://github.com/jasonbraganza/init/blob/849250aa0e351d61dd472b51af52363059

[2021-03-04 13:36] pothos commented on #248
Hi,
haven't tried it but just from looking here some comments.
You don't need to download `https://flatcar-linux.org/security/image-signing-key/Flatcar_Image_Signing_Key.asc` because it doesn't add much security if you download something from SSL to verify something downloaded from SSL in the same run, and also the lines above have the key embedded into the script which avoids this problem and mak

[2021-03-04 13:40] margamanterola commented on #248
Hi Jason,  I also took a look. I'm sharing some first impression comments.

You're calling the function directly from the argument parsing, this means that the parameters might not all be processed when that function is called.  This is why all the other options just set variables and then the script does one thing or the other depending on those variables.

Once you've moved to setting a variable

[2021-03-04 13:53] jasonbraganza commented on #248
@pothos, I was a little confused about that part of the key and did not know if it was a valid key or not. will work at using the embedded key.
@marga-kinvolk, While I understood what needs be done, I have no clue (right now) how to go about it (setting variables using code to call the function)
Will read up on getopts and functions and try to get this to work.
Thank you both, so much! All ears, i

[2021-03-04 14:05] cdemers commented on #357
Ah, I suspected it might actually be a feature and not a bug, I was not certain as we only looked at the Flatcar release notes and didn't realize the extent of the upgrade.  It seems Flatcar has become a pretty dynamic distribution and we need to adapt. Thanks for your answer.

[2021-03-04 14:05] #357 closed, assigned to nobody

[2021-03-04 15:35] pothos commented on #357
New features are introduced in the new major release versions like 1234.0.0. They first enter the Alpha channel and you can find the changes there before they hit the Stable channel a couple of weeks later (with an increased minor version like 1234.3.0):
https://kinvolk.io/flatcar-container-linux/releases/#alpha-release

[2021-03-04 15:55] judexzhu commented on #349
@pothos yes, Both the iscsid and multipathd are shipped with the OS
![image](https://user-images.githubusercontent.com/17834225/109991044-d0952d80-7cbe-11eb-96b9-06028b6d800d.png)

I just run

[code]

to enable and start them

[2021-03-04 16:32] pothos commented on #349
Yes, but I asked about `iscsiadm`, does it segfault in `iscsi.service` and can you give the logs for that unit?

[2021-03-04 16:36] cdemers commented on #357
Agreed, I understand well how the release channels work. Still, in our situation, I'm not sure we can realistically run and monitor multiple channels on all our various server types (in this occurence our two DNS), maybe we are not a big enough company. Thanks again for having taken the time to followup.

[2021-03-04 16:59] judexzhu commented on #349
@pothos

Sorry, I'm not very good at the iscsi

but the iscsiadm I used it also shipped with the OS

[code]

for the iscsi.service I found no logs there

[code]

this iscsi.service is not running, so do you meaning I need to start it also?
[code]

[code]

Please accept my apologies for the inconvenience. and Thank you

[2021-03-04 21:18] Finkregh commented on #340
somehow this did not work as expected and i cant find something pointing to errors in the oem-ignition file...
I added the file via guestfish:

[code]
That did create this file: `/usr/share/oem/base/user.ign`

[2021-03-04 23:38] neilmayhew commented on #21
I used the script again myself today, to bring the OEM directories in line with the new Flatcar stable release that just arrived (`2765.2.0`). The system wasn't degraded like it was last time, but I definitely want to keep the `open-vm-tools` up to date. (It's moved from `11.1.5` to `11.2.5`.)

[2021-03-05 03:56] jasonbraganza commented on #248
Will be reading up on bash today.

[2021-03-05 09:38] pothos commented on #340
Thanks for sharing. Can you try again using `/config.ign` instead? And I think the URL would be `http://169.254.169.254:80/latest/meta-data`, or?

[2021-03-05 14:53] endzyme opened #358 "Nonfunctional change breaks automation"
**Description**

We rely on the contract of releases existing at `https://www.flatcar-linux.org/releases-json/releases-stable.json`, but as of the latest release all the URLs appear to have been changed to `https://kinvolk.io/flatcar-container-linux/releases-json/releases-stable.json`. If you're planning a change like that can it please be mentioned in the release nodes as a non-functional change?

[2021-03-05 16:53] pothos commented on #349
I also see that https://github.com/dell/csi-unity is running `iscsiadm` – can you tell where that comes from?

[2021-03-05 19:01] judexzhu commented on #349
@pothos
I login to the csi-unity nodes and try to find if there are iscsiadm binary but found none

[code]
I also searched the https://github.com/dell/csi-unity with keyword "iscsi"

and I think they might not using iscsiadm binary but using go iscsi client

![image](https://user-images.githubusercontent.com/17834225/110160961-8df85180-7da1-11eb-93eb-88a216d1984b.png)

the only iscsiadm keyword fo

[2021-03-05 19:12] pothos commented on #349
That's using https://github.com/dell/goiscsi which runs `iscsiadm` https://github.com/dell/goiscsi/blob/43ee7665f84b238cc7a70f18f7cfa0e4cd59622d/goiscsi_iscsi.go#L71
But if it's not part of the Pod it may be unrelated.
I think it's enough context now and the next step is to find the `isciadm` command that fails and try to run it manually and debug it with maybe the Flatcar developer container…

[2021-03-05 22:55] judexzhu commented on #349
@pothos I think you're right, here is the logs of the csi-unity-node on the 2765.2.0 worknodes

[code]

the iscsiadm was failed on the dell unity-node pods

I go inside and try to find the iscsiadm binary but still can not fine

I think they merge everything together to a single binary

![image](https://user-images.githubusercontent.com/17834225/110182611-f820ee80-7dc1-11eb-8b5a-64184b3afee3.png)

[2021-03-07 11:11] agiterman1 opened #359 "Network cards firmware missing on 2765.2.0"
**Description**

after auto upgrade in the stable channel
from: release-2605.12.0
to: release-2765.2.0

**Impact**

the network is not working anymore! (netwrok is down)

tried to ip set link up... and it failed with complain:

Direct fw load for bnx2 failed with error -2

had to rollback and stop the upgrade service.

[2021-03-07 23:01] pothos commented on #359
Please provide more details on what happened. Is sounds like the interface is down? Have you tried `sudo systemctl restart systemd-networkd`? It seems the NIC you have needs a firmware loaded and an issue could be that this firmware has changed with the new update or similar. I could start to search making my own assumptions on your error but it would be helpful to have more information upfront (l

[2021-03-08 04:23] agiterman1 commented on #359
Yes, after the auto upgrade, the network was down and could not take it up.

The sever is STANDARD HP G6
no special nics.

The sever located in a cold data center... I saw that was auto upgrade, the kernel has changed and saw the missing module,
So, made rollback and stopped the auto upgrade.

here are section from the failed boot log: ( and attached the full log )

Mar 07 10:10:42 localhost kerne

[2021-03-08 05:50] jasonbraganza commented on #248
just putting in a note to say i spent until yesterday learning bash. not well today.
i think i’ve figured enough bash to figure it out, the way you folk suggested.
will start up tomorrow.

[2021-03-08 08:46] agiterman1 commented on #359
I have found same machine, HP G6
made fresh install.

same problem.

attached screen shot
![20210308_103953](https://user-images.githubusercontent.com/22808586/110296814-6dc3cf00-7ffb-11eb-897e-1e82c6637e6b.png)

[2021-03-08 11:12] margamanterola commented on #359
Thanks for the screenshot, that was really helpful in understanding the problem.

For searching purposes, the error message shown in the image is: `bnx2: Can't load firmware file "bnx2/bnx2-mips-06-6.2.3.fw"`

Unfortunately, this is not the only missing firmware in this image :(. I found that the following 64 files used to be shipped until 2605.12.0 and are now gone:

[code]

The code that bundles

[2021-03-08 14:29] #359 closed, assigned to margamanterola

[2021-03-08 14:33] margamanterola commented on #359
The fix is in, this will be released with the next set of patched versions. Likely to happen later this week.

[2021-03-08 16:29] obourdon opened #360 "Error using coreos-metadata.service file in 2765.2.0"
**Description**

There seems to be a strange side-effect upgrading our Flatcar based Packer images for AWS from 2605.12.0 to 2765.2.0

We have some rspec script which validates our final image but this now fails with the following error:

[code]

This is very strange as nothing seems to have really changed for the script `/usr/lib/systemd/system/coreos-metadata.service` between those 2 releases. I

[2021-03-08 17:10] margamanterola commented on #360
Hi, thanks for reporting.

I've created a PR to address this issue (and fix the containerd unit that had the same problem). This should be fixed in the next set of releases, which will likely happen later this week.

Regarding why this is failing now and not before, the systemd version changed from 246 to 247. I quickly scanned the systemd changelog and I couldn't find something about this, but I

[2021-03-08 17:57] obourdon commented on #360
@marga-kinvolk many thanks for this quick response, really appreciated

strangely enough I remember working on another issue (not at all related with this one) on our side early february when upgrading to Flatcar 2605.12.0 where systemd was already upgraded to 247 but seems that also strangely it reverted to 246. I must admit that this gets a lot of confusion in my head but I am pretty sure workin

[2021-03-08 17:59] obourdon commented on #360
My bad, looking deeper into my story of changes on our side, the systemd was indeed 246 but we were migrating from 2605.8.0 where this was 245. Sorry for the confusion, and hopefully, my brain is not that deficient in the end

[2021-03-08 18:17] margamanterola commented on #360
GitHub automatically linked the PR when I mentioned this bug, it's right above my comment.  In any case, this is the link: https://github.com/kinvolk/coreos-overlay/pull/888

[2021-03-08 20:18] mt-inside commented on #326
I have the same question about an Ignition upgrade - is there anything holding it to version 0.x?
The 0.34 version of Ignition (and corresponding 2.x schema) means the ignition terraform provider has to be pinned back one major release.

I'd also point out that when boot fails due to version incompatibility between the supplied Ignition config and the package version, it's pretty hard to find out

[2021-03-09 05:13] norve opened #361 "Protocol "telnet" not supported or disabled in libcurl"
Prior to the last release, it used to be possible to run, for example:
`curl -v telnet://towel.blinkenlights.nl:23` to open a telnet/socket connection. Right now it errors the following message:
[code]

This was a nice to have feature as there aren't any other tools on the system for quickly troubleshooting TCP connectivity issues.

Please re-add telnet support in libcurl.

[2021-03-09 06:08] jasonbraganza commented on #248
alright, i think i now know enough bash to parse this file intelligently and ask for advice.

Here’s my understanding of the script. and then my plea for help.

in my mind the script’s divided into three main parts.
1. setting up functions for disk probing and setting up the usage screen and all the variables and the gpg key and the loop to get input
2. Disk probing and sanity checks
3. The actual

[2021-03-09 06:55] jasonbraganza commented on #248
~~am in favour of and slowly plugging away at the second method because that kinda sounds more elegant in my head~~
changed my mind. now that i think about it.

method i makes more sense.

the flow would be like
- set up variables and stuff
- do sanity check (skip each one if -D is set)
- then do the download
- then decide whether to save it or write to disk

[2021-03-09 06:57] obourdon commented on #360
thanks for the link and PR. I was looking inside the body of the comments and not a the top of the description of my issue therefore not seing the link which was already there as you mentioned. Many thanks again

[2021-03-09 07:04] bonkko opened #362 "boost-1.75.0 port on kinvolk portage-stable"
**Proposal**
Add _boost-1.75.0_ to stable portage tree.
**Impact**
Use of _Python 3_6_.
**Ideal future situation**
The package should work on the same arch of _Gentoo_.
**Additional information**
see https://github.com/kinvolk/portage-stable/pull/153 PR
see https://github.com/kinvolk/Flatcar/issues/362#issuecomment-801875240 as reference

[2021-03-09 09:57] margamanterola commented on #248
As far as I can see, there's only one sanity check that needs to be modified (the one that verifies that a device was selected or that the write to smallest flag was passed). All the others can just remain as they are.  The approach should be:

1. Assign a DOWNLOAD_ONLY variable if the flag was passed
2. Modify the "Device required" check to not require a device if it's download only
3. Split inst

[2021-03-09 10:48] margamanterola commented on #361
We use curl directly from Gentoo without changes.  When we updated curl to the latest version, the curl ebuild file changed from always enabling telnet, to conditionally enabling telnet (and other protocols) depending on USE flags: https://github.com/kinvolk/portage-stable/commit/d42ea0935e460dca8bc151b135e3d78f196c0c06#diff-87c1bc20b512568d3faf0582bc9289e7bf81d8febdb4da8741ac8c78fe6e9a5fL178

Whe

[2021-03-09 11:03] pothos commented on #326
Agree that the newer spec version should be supported but it needs some porting work because we still want the old spec to stay for some time but it was dropped upstream.

[2021-03-09 11:24] pothos commented on #358
We have updated the old URL now again but it will be removed or redirected soon (but it turns out people often don't make use of `curl -L` and need manual intervention anyway…).

[2021-03-09 11:32] jasonbraganza commented on #248
gosh darn it! I started that way and decided to skip the entire block :joy:
will redo it the way you told me to @marga-kinvolk

here’s where i have ended up.

- i split the `install_from_url` into `prep_url` / `download_from_url / and `install_from_url`
- have slowly been dragging stuff out of `install_from_url` and putting them into `prep_url`
- and now that i read your advice, it makes more sens

[2021-03-09 11:33] jasonbraganza commented on #248
also @marga-kinvolk and @pothos, just wanted to say thank you, for pushing me along :)

[2021-03-09 15:20] #360 closed, assigned to margamanterola

[2021-03-09 15:23] margamanterola commented on #360
The fix has been cherry picked and will be present in the next stable release.

[2021-03-09 15:32] t-lo commented on #347
I don't think this is a good use case of `kexec` in general - regular production systems' state can become very complex (think driver states, DMA I/O queues, etc.). Merely `kexec`ing into a new kernel without going through a reboot for resetting the underlying hardware / devices is likely to introduce inconsistent drivers/hardware state.

[2021-03-09 16:00] bonkko commented on #362
### Documentation of the proposal (first draft)
**Current situation**
I made a successful build of boost-1.75 with the boost-build taken from _https://github.com/boostorg/build_ **version 4.4.1**. I put the _compilation with -j1_ and I _disabled python_ because with _python flag enabled_ the  compilation fail. With _-.j1_ and _-python_ the compilation is slow but It finished without any fatal erro

[2021-03-09 17:21] invidian commented on #347
Hmm, I was using `kexec` on Ubuntu for few years for kernel upgrades on bunch of bare-metal servers and I've never encountered any issues related to it.

[2021-03-10 03:47] judexzhu opened #363 "New Package Request: BIRD"
**Package name and purpose**
The BIRD Internet Routing Daemon. I believe most people like me will use flatcar-linux as Kubernetes nodes, and consider using cilium + Bird for the Kubernetes network topology.

https://docs.cilium.io/en/v1.9/gettingstarted/bird/#using-bird-to-run-bgp

Currently, I cannot find a proper way to enable bird service on flatcar-linux(please correct me if I'm wrong.)

for F

[2021-03-10 07:23] dghubble commented on #363
BIRD is a containerizable application like any other. Flatcar should probably add additional requirements for package proposals for why something truly must be on-host.

[2021-03-10 10:57] jasonbraganza commented on #248
i think i am done.
but i cannot be sure because i am trying it out.
and the downloads are slow. (between 20-100kbps with frequent interruptions)

once i have a successful update, will ask you folk for further advice and direction.
code is at https://github.com/jasonbraganza/init/blob/mjb-adapt-init-2/bin/flatcar-install

[2021-03-10 11:14] jasonbraganza commented on #248
curious question, do i get rate limited? maybe that’s why the download is slow.
got my friend to run the script and it works!

@marga-kinvolk, @pothos please have a look see and tell me if i can raise a pr?

[2021-03-10 11:16] jasonbraganza commented on #248
![](https://janusworx.com/images/2021/flatcar/fcdl.jpg)

[2021-03-10 11:25] pothos commented on #248
Hi,
looks good so far, yes, please file a PR for review. I think the additional `trap` is not needed, or?

There is no rate limit, not sure what's going on, might be a cold cache.

[2021-03-10 11:27] jasonbraganza commented on #248
@pothos that additional trap is to release the trap set earlier. without it bash hiccups a bit, which is why i put it in.
will raise a pr. thank you.

[2021-03-10 20:45] blanquicet opened #364 "New Package Request: ncurses"
**Package name and purpose**
Update sys-libs/ncurses from version 6.1-r2 to 6.2-r1.

for Flatcar:

- Package upstream repo and Gentoo ebuild: https://github.com/gentoo/gentoo/tree/master/sys-libs/ncurses

**Impact of adding this package to the Flatcar OS image [TO BE DEFINED]**
- The package improves on the following core values:
  - [ ] Secure by default
  - [ ] Always up to date
  - [ ] Improve

[2021-03-10 22:50] endzyme commented on #357
Why would these changes not be listed in the release notes on the stable channel. The release notes should note _any_ changes between the previous version of the stable channel and the next immediate release in the stable channel. The fact it's completely missing in the release notes is a huge red flag. Is there a process for you all internally to bubble these up more clearly so someone doesn't ha

[2021-03-11 00:18] amayausky opened #365 "Include Amazon Root CAs in Flatcar's trust store"
**Current situation**
Flatcar does not currently include Amazon Trust Services' CAs in its trust store. It does, however, contain the necessary Starfield CAs to support the upcoming S3/CloudFront CA migration as referenced in this [blog post](https://aws.amazon.com/blogs/storage/reminder-amazon-s3-and-amazon-cloudfront-migrating-service-certificates-to-amazon-trust-services-starting-march-23-2021/

[2021-03-11 08:51] margamanterola commented on #357
Historically, CoreOS only published the release notes only for the changes within a major.minor version, and not the whole set of changes comparing a version to the previous version on that channel, and we've kept that tradition. We'll take your feedback into account and decide whether we should do this differently in the future.  Thanks.

[2021-03-11 14:53] bonkko commented on #362
### Port of boost with minor modification from Gentoo(second draft)
From https://github.com/kinvolk/portage-stable/pull/153#issuecomment-796724935

**Differences with Gentoo**

**dev-util/boost-build-1.74.0**    _EAPI6_  and _variable name for the environment_
[code]

**dev-util/boost-build-1.75.0**    _EAPI6_  and _variable name for the environment_

[code]

**dev-libs/boost-1.74.0-r2** **    _EA

[2021-03-11 18:59] pothos opened #366 "Root partition resizing fails due to a race"
**Description**

When booting from a disk prepared with `flatcar-install`, the root partition is resized to fill the disk out. This sometimes fails due to a race.
The error message comes after _resizing on a mounted filesystem, needs an online resize_.

**Impact**

The system is degraded and one cannot log in via SSH, a reboot is needed which also likely succeeds to resize.

**Expected behavior**

[2021-03-12 05:52] endzyme commented on #358
Thank you!

[2021-03-12 05:52] #358 closed, assigned to nobody

[2021-03-12 21:06] judexzhu commented on #363
@dghubble You're right. I did more research later. bird can be a containerizable application.
Calico use bird inside their node agent.
although I cannot find an official bird docker image, there is a good example from "Pier Carlo Chiodi"

https://github.com/pierky/dockerfiles/blob/master/bird/2.0.7/Dockerfile

For anyone who might have the same need to run bird on Flatcar-Linux, I wrote a systemd

[2021-03-12 21:09] #363 closed, assigned to nobody

[2021-03-15 09:29] blanquicet commented on #364
Hello,

After downloading the SDK and successfully building the Flatcar OS image (Without any change), I booted it with QEMU and tried to identify some files belonging to the ncurses library so that I will be able to validate later in the modified image that they were effectively updated. Yes, it was a very "empirical" way to do so, in fact, after reading the documentation, I understood that it ca

[2021-03-15 10:15] Finkregh commented on #340
Yes, the URI was of course wrong. Do you mean `partition6/config.ign` or `partition3/config.ign`?

I tried to put it in `partition6` and now have a loop starting some services. As i get new logs every few seconds i cant scroll up. `systemd.debug-shell`, `earlyprink` and `console` did also not work to get logs to ttyS0.
https://kinvolk.io/docs/flatcar-container-linux/latest/provisioning/ignition/bo

[2021-03-15 12:54] juliantaylor commented on #218
with flatcar 2605 and the newer systemd the message now looks like this:

[code]

and still occurs in pretty high frequency (about 15000 per hour from 60 hosts total with default systemd/journalctl settings)

[2021-03-15 13:44] pothos commented on #218
Seems you are using `rkt` through `kubelet-wrapper` to run the kubelet. You can also use the binaries directly, see section 1.2 here: https://suraj.io/post/2021/01/kubeadm-flatcar/ for an example.

[2021-03-15 13:49] pothos commented on #340
Partition 6 is correct. Hm, having it loop means that Ignition runs into some problem either when accessing `http://169.254.169.254:80/latest/meta-data` or when processing its contents. The logs should go to the serial console with someting like `console=ttyS1 earlyprintk=serial,ttyS1` (use `ttyS1,57600n8` or similar depending on your hardware), is it blank for you?

[2021-03-15 16:38] dongsupark commented on #364
Yes, it sounds good. Please keep only ncurses-6.2-r1.

That's also fine.

Anyway the PR should consists of at least 2 commits: one for pure sync with Gentoo, and the other for Flatcar-specific changes on top of the 1st commit.

[2021-03-15 16:50] pothos commented on #364
These here are the steps which help to create a commit that _resets_ the package and then another one to migrate the patches: https://github.com/kinvolk/coreos-overlay#updating

[2021-03-16 13:39] blanquicet commented on #364
Thanks to @dongsupark and @pothos for your responses.

I am following the steps for [updating package](https://github.com/kinvolk/coreos-overlay#updating) and I have two questions:

1. I apologise but I not sure I understood the following statement: "_mention the commit ID in the body (git show update_ebuilds/master)_". From the first sentence I immediately thought it referred to the commit ID of

[2021-03-16 16:22] dongsupark commented on #364
Yes, that's correct.
For example, please see the commit [ffc40d2b651d](https://github.com/kinvolk/coreos-overlay/commit/ffc40d2b651d92d2f79798e6112f7ebce5432607) in intel-microcode.
Its commit message includes a link to https://github.com/gentoo/gentoo/commit/c1d8ba62ab0bcbea3133864a8dfce246406f181c .
That allows other folks to easily understand the relation to its corresponding commit in Gentoo.

[2021-03-16 20:34] blanquicet commented on #364
Understood. After these clarifications, now it is completely clear.

Yes, it has diverged so I will work on resolving the conflicts.

Thanks!

[2021-03-17 11:20] dongsupark opened #367 "Configure failure of sqlite 3.33 on arm64"
**Description**

So far in Flatcar, sqlite was not installed for arm64.
However, to be able to fix the [polkit issue](https://github.com/kinvolk/coreos-overlay/pull/863) on arm64, we have to enable the `sqlite` USE flag for python. As a result, it becomes required to enable sqlite for arm64.

However, enabling sqlite uncovers other build issues on arm64 like:

[code]

It basically means that the c

[2021-03-17 11:33] pothos commented on #367
It looks for the wrong header files (`-I/usr/include`). It shouldn't be `/usr/include` but the paths set up by the cross compiler.

[2021-03-17 11:34] dongsupark commented on #367
Exactly. I already know what to do.
Will soon create a Gentoo PR after some testing.

[2021-03-17 11:37] pothos commented on #367
Nice :) Sometimes it is due to directly calling gcc (the regular host compiler) or using some hardcoded paths, what is it now?^^

[2021-03-17 13:41] dongsupark commented on #367
The main reason was that the `--enable-tcl` option simply provides the default prefix, no matter whether it is to look up cross-toolchains or not.
I believe there are millions of similar bugs out there, they are just hidden for some reasons.

Filed a Gentoo PR https://github.com/gentoo/gentoo/pull/19972.
I hope the PR could be merged soon, then we could simply sync, without having to move sqlite a

[2021-03-17 13:45] pothos commented on #367
Thanks

[2021-03-17 20:44] blanquicet commented on #364
I resolved the conflicts and I checked there were no compilation errors by performing a scratch build.

On the other hand, I just updated the issue description with the information about the increase of the image size. I computed it by using the following commands:

On v2801.0.0 build without modifications:
[code]

After update:
[code]

[2021-03-18 10:24] pothos commented on #292
PR in https://github.com/kinvolk/baselayout/pull/17

[2021-03-18 12:08] bonkko commented on #362
### Port of boost with minor modification from Gentoo (final draft)
This document describe the port of dev-libs/boost and dev-util/boost-build in portage-stable. EAPI 7 is used to follow original Gentoo ebuild(see https://github.com/kinvolk/portage-stable/pull/153/commits/7858867395caff1dd45d407831dc8c62b81b90a3).

**Differences with Gentoo**
_dev-libs/boost-1.74.0-r2_ **Python3_6** (see https://g

[2021-03-19 10:57] margamanterola commented on #362
As mentioned on the PR, I've run CI against it and it build and run successfully on ARM. We currently don't support ppc, so I don't think that's necessary.

Regarding unit testing, it's not clear what you'd test, given that this is just building the newest boost version.  We run our tests using kola, they are more integration tests than unit tests. Our CI already did a run with the existing integr

[2021-03-19 11:05] bonkko commented on #362
Yes, in my opinion may be nice to test boost with the current ABI and make some security unit test in the system with packages that use boost.

As second stuff we can add security unit test for the boost source code. It is an additional review to the boost library. The proposed flow is:  boost community write code and make a review ---> gentoo community make a review and check the code ---> we wri

[2021-03-19 13:42] ribbybibby opened #368 "etcd: higher disk latency and round trip time since 2765.2.0"
We're seeing slower network peer round trip times for our bare metal etcd nodes since the update from stable 2605.12.0 to 2765.2.0 (and now 2765.2.1). This correlates with an increase in wal fsync and backend commit durations.

The 99th percentile for `etcd_network_peer_round_trip_time_seconds` has increased from an average of 100ms to 400ms.

Rolling back to 2605.12.0 restores the previous level

[2021-03-19 15:17] goshlanguage commented on #158
If you look at the console, I'd be willing to bet you see a "tsc: Marking TSC unstable due to clocksource watchdog" error as the last log line in `VirtualBox`?

If not, you might simply try to extend the timeout in your Vagrantfile:
[code]

I have also gotten around this by reducing the amount of vCPUs to 1, but this is not a solution either as the software I need to test requires no less than 2 c

[2021-03-19 17:10] dongsupark opened #369 "configure failure of mit-krb5 on arm64"
**Description**

During the cross-toolchains builds, `app-crypt/mit-krb5` fails during configure, like:
[code]

The issue does not happen when installing mit-krb5 with a normal `emerge-arm64-usr` command.
It only happens when building cross toolchains via `build_toolchains`.

Tried updating mit-krb5 to 1.18.3-r3 and 1.19.1, but no luck.

It fails when trying [run a cross-compiled binary](https://g

[2021-03-19 19:45] pothos commented on #369
The `QEMU_LD_PREFIX` variable is set to `/build/arm64-usr/`. If that folder is not existing at that point, we can try to set something else (wherever the libraries are). Actually I think these compiler tests don't make so much sense to run at all with a standard GCC, and disabling sounds the better option.

[2021-03-19 20:17] goshlanguage opened #370 "Documentation for Vagrant produces failed results on select hardware, TSC watchdog issue"
Hi Kinvolk maintainers,

First, thank you for your contributions to the community.

I wanted to have a suitable local environment for testing changes to our flatcar environment, so when I saw [this article outlining flatcar on vagrant](https://kinvolk.io/docs/flatcar-container-linux/latest/installing/vms/vagrant/), I was glad to see solutions for this already exist.

However, when following the do

[2021-03-20 23:01] anguslees opened #371 "Beta older than stable?"
**Description**

https://kinvolk.io/flatcar-container-linux/releases/ currently matches what my machines are seeing, and says:

Stable - 2765.2.1
Beta - 2765.1.0

**Impact**

This concerns me in two ways:
- My beta machines are lacking recent CVE fixes.
- The version on stable machines was not tested through my beta machines first.

**Expected behavior**

I _expected_ all versions to go beta->stab

[2021-03-22 10:29] t-lo commented on #371
Hello @anguslees ,

please pardon the release delay the Beta channel; we are going to address the current Beta staleness in our next wound of releases in the week of March 29th.

In general, we use the alpha -> beta -> stable transition process for *major* version updates (e.g. 2605 vs. 2765 vs. 2801). Major releases ship significant changes (e.g. kernel or systemd upgrades, or major version bumps

[2021-03-22 11:14] margamanterola commented on #370
We are using pretty much the kernel as provided by upstream, we have only a couple of small local patches that are located [here](https://github.com/kinvolk/coreos-overlay/tree/main/sys-kernel/coreos-sources/files/5.10).

So, to answer your question, you need to track whether that patch is applied in the latest upstream releases or not.

This is the `check_system_tsc_reliable` function in the `arc

[2021-03-22 15:01] goshlanguage commented on #370
Thank you @marga-kinvolk for your explanation and support.

[2021-03-22 15:01] #370 closed, assigned to nobody

[2021-03-22 17:06] chifu1234 opened #372 "Flatcar linux network L3"
**Description**
If you create a interface with `ip` and after `ip` exists you directly create a L3 configuration for that new interface, the new L3 will not bee properly configured.  Some examples:
[code]
If we perform the same command but give it a little bit more time after the `ip link add` command. The L3 configuration ist correctly configured. Here some examples;
[code]

**Impact**
- If you u

[2021-03-22 17:25] #248 closed, assigned to nobody

[2021-03-22 18:24] pothos commented on #372
Network interfaces are managed by `systemd-networkd.service`. If you want to take control of an interface, you first need to create a networkd unit file where you set the interface to `Unmanaged=yes`.
E.g., create a file `/etc/systemd/network/10-myinterface.network`:
[code]
(or `Name=lo*` for all interfaces starting with this prefix)

This will allow you to set the IP address directly with the `ip

[2021-03-22 20:02] pothos commented on #352
Thanks for the suggestion, sounds interesting. Though there is a difference between core utilities that services can use without needing to download container images for them and those utilities that a user would want. Switching should not impact the system services because they are tested with one specific version and not with something similar that breaks in subtle ways (cf. compatibility issues

[2021-03-22 21:53] chifu1234 commented on #372
@pothos Thanks for you response! We are aware of these other solutions to configure network interfaces on flatcar. I think however, this issue is related to flatcar linux kernel and this should be further investigated(because we could not reproduce this issue with ubuntu linux kernels nor rancher linux kernel).

[2021-03-23 03:30] mfw78 opened #373 "iscsiadm update segfaulting"
**Description**

When using `democratic-csi` for managing iSCSI-based storage classes, Segmentation Faults are thrown

**Impact**

Kubernetes cluster in race condition to create the mount point, resulting in a failure to initialise pods relying upon iSCSI mount points.

**Environment and steps to reproduce**

1. **Set-up**:  Flatcar Container Linux by Kinvolk stable (2765.2.1) as deployed by Typho

[2021-03-23 10:10] pothos commented on #372
Can you reproduce this with `Unmanaged=yes`?

[2021-03-23 10:19] pothos commented on #292
and in https://github.com/kinvolk/coreos-overlay/pull/911

[2021-03-23 10:23] sayanchowdhury commented on #373
Hi @mfw78, Thanks for reporting the issue! The [PR](https://github.com/kinvolk/coreos-overlay/pull/912) to update the iSCSI package to `2.1.4` is created and should be available in the upcoming releases.

[2021-03-23 10:27] sayanchowdhury commented on #349
Hi @judexzhu, The issue seems to be an [upstream one](https://github.com/open-iscsi/open-iscsi/commit/76a5ebf955702f676a5ea5f7b43bb8fb436edc40), and fixed in the `2.1.4` release. The [PR](https://github.com/kinvolk/coreos-overlay/pull/912) to update the iSCSI package to 2.1.4 is created and should be available in the upcoming FCL releases.

[2021-03-23 12:06] pothos commented on #292
Will be part of the next major Alpha

[2021-03-23 12:06] #292 closed, assigned to pothos

[2021-03-23 15:36] judexzhu commented on #349
@sayanchowdhury Thank you so much for letting me know. I will test it as soon as the 2.1.4 has been upgraded on flatcar.

[2021-03-24 07:36] samm-git opened #374 "systemd-resolved randomly failing on 2765.2.1"
**Description**

After upgrade to the 2765.2.1 and enabling systemd-resolved we have random resolution errors. We use `consul` to run node checks. I found that after recent upgrade many network related checks starts to flapping. After i analyzed these shell script i found that failure is related to DNS and binded to `systemd-resolved`. I was able to see error in the logs after setting `resolvectl

[2021-03-24 10:01] #364 closed, assigned to nobody

[2021-03-24 11:04] dongsupark commented on #362
https://github.com/kinvolk/portage-stable/pull/153 was merged, so boost 1.75.0 will be included in the next Alpha.
Thanks!

[2021-03-24 11:04] #362 closed, assigned to nobody

[2021-03-24 11:57] samm-git commented on #374
Was able to reproduce issue also with cache disabled.

At the moment o see 2% requests failing (based on the checks status):

[code]

[2021-03-24 12:22] samm-git commented on #374
Was able to reproduce it w/o consul.

[2021-03-24 13:01] samm-git commented on #374
Ok, so few more notes:

1. I was able to trigger this bug with curl, w/o consul.
2. Not able to reproduce using dig on 127.0.0.53, so it is likely only caused by `gethostbyname` and friends.

I collected bad and good response here:

[code]

and good

[code]

[2021-03-24 13:20] pothos commented on #374
Thanks, maybe this is already reported upstream in one of https://github.com/systemd/systemd/issues?q=is%3Aissue+is%3Aopen+resolved or even closed?

[2021-03-24 13:25] samm-git commented on #374
@pothos very very possible. But not sure which exactly. Now going to reproduce it on clean non modified instance running in default vpc. 2% of the DNS failures is a very big problem from my POV, so likely will have to revert.

[2021-03-24 13:30] samm-git commented on #374
@pothos do you have an idea how to turn off systemd-resolved completely? I tried to mask it but looks like it is required to create /etc/resolv.conf file in that case...

[2021-03-24 13:47] pothos commented on #374
I do not recommend to disable the whole service due to the integration with networkd but just remove `resolve [!UNAVAIL=return]` from `/etc/nsswitch.conf`:

[code]

Yes, otherwise, if you mask the unit you would have to create `/etc/resolv.conf` yourself and loose the network integration.

[2021-03-24 13:57] samm-git commented on #374
@pothos thank you, will try that! BTW, i was able to reproduce the bug on a very clean setup, from your AMI, with a 0 customization.

Steps performed:

1. Run EC2 with CoreOS using official image, default VPC, external IP address, no customization.
2. Run `resolvectl  log-level debug` to enable debug of the `systemd-resolved`
3. Run `watch -n 0.1 ncat -w 0.1  collector.sysdigcloud.com 443` in one

[2021-03-24 14:04] pothos commented on #374
Thanks. Does that mean the error even happens when responding a cached entry after a successful resolution?

[2021-03-24 14:07] samm-git commented on #374
@pothos i was not able to identify exact pattern, but from the logs its looking that it happens when cache is getting expired, what makes me thinking about some race.

Here are 2 examples of failed req:

First one:
[code]

And 2nd one:
[code]

As you could see - in both cases it was expiring right now.
[code]

[2021-03-24 14:30] samm-git commented on #374
@pothos one thing to note -  i was not able to trigger that with `watch -n 0.1 resolvectl query  collector.sysdigcloud.com`. It makes me thinking that only gethostbyname() calls are impacted.

[2021-03-24 17:09] samm-git commented on #374
@pothos your workaround seems to work, thank you. Will use it for now and wait for upstream fix. Let me know if any tests needed.

[2021-03-24 17:54] pothos commented on #366
`journalctl -u extend-filesystems.service` error:
[code]

`dmesg` errors:
[code]

[2021-03-24 17:56] pothos commented on #366
Seems it is not a race but an actual hardware failure

[2021-03-24 19:18] #366 closed, assigned to nobody

[2021-03-24 19:38] samm-git commented on #374
can easily reproduce with `watch -n 0.1 getent ahostsv4 collector.sysdigcloud.com`

[2021-03-24 20:09] pothos commented on #374
Can you create a new upstream issue for this?

It could be some internal logic not involving syscalls but if it is, it's worth capturing a syscall trace. Either with strace, perf trace, or traceloop (here a [quick reference](https://github.com/kinvolk/traceloop/blob/master/contrib/run-benchmark)).

[2021-03-24 20:19] samm-git commented on #374
@pothos i feel that it could be https://github.com/systemd/systemd/commit/e6fda8f67587ee58afc2ae9391db4388ed60f24d.

[2021-03-25 11:21] chifu1234 commented on #372
@pothos I tested this but there was no improvements. I think we should lay the focus on a linux kernel issue rather then focus it on `systemd`. This behavior can be reproduced with `ip` from alpine/ubuntu and voidlinux.

[2021-03-25 14:07] samm-git commented on #374
@pothos done. I have strace log as well, will attach it to the upstream ticket if needed.

[2021-03-25 14:36] pothos commented on #374
Thanks, yes, makes sense to create a new ticket since it looks like a different issue that the commit you found.

More info is always good, please share the trace if you think it contains something relevant :)

[2021-03-25 20:45] samm-git commented on #374
@pothos one more issue pointed in upstream ticket:

1. Flatcar is not reporting _exact_ systemd version
2. It is also not using latest stable from it, e.g. it is now using 247.2 with 247.6 released with many relevant patches.

I think it would be nice if flatcar would publish exact version on the site and also try to follow latest pachset in the series, what do you think?

[2021-03-26 10:58] sayanchowdhury commented on #371
A new FCL Beta release 2801.1.0 was done yesterday: https://kinvolk.io/flatcar-container-linux/releases/#release-2801.1.0

[2021-03-26 10:58] #371 closed, assigned to nobody

[2021-03-26 11:02] sayanchowdhury commented on #373
The updated open-iscsi package `2.1.4` was shipped yesterday across all the FCL channels. If the issue persists, feel free to re-open the issue.

[2021-03-26 11:02] #373 closed, assigned to nobody

[2021-03-26 11:04] sayanchowdhury commented on #349
The updated open-iscsi package `2.1.4` was shipped yesterday across all the FCL channels.

[2021-03-26 11:18] bonkko commented on #362
I'm glad for it.

[2021-03-26 11:32] samm-git commented on #374
jfyi - was able to reproduce also on  247.6 and local (non-ec2) install. So it seems that this is impacting _every_ user.

May be its good idea to revert it in `/etc/nsswitch.conf` until issue is fixed?

[2021-03-26 16:03] judexzhu commented on #349
@sayanchowdhury I confirmed that my issue has been fixed, we can close this issue now

Thank you so much for you guys' help!!

[2021-03-26 16:03] #349 closed, assigned to nobody

[2021-03-26 18:29] pothos commented on #374
Thanks for the work, I'll be back next week and have a look

[2021-03-29 10:43] wernerb opened #375 "Raspberry Pi no network after PXE boot with flatcar due to missing kernel"
**Description**

Support has already been added for RPI4 network in #227 .  However, when using PXE booting, we need an additional flag called `CONFIG_MDIO_BCM_UNIMAC`. More details can be found here https://bugzilla.redhat.com/show_bug.cgi?id=1943983

**Impact**

No ethernet adapter when network booting (either PXE or UEFI HTTP).

**Environment and steps to reproduce**

boot `http://boot.netboot.

[2021-03-29 15:50] dongsupark commented on #227
This issue was already fixed via https://github.com/kinvolk/coreos-overlay/pull/716.
Will close.
The iPXE boot issue is be discussed in https://github.com/kinvolk/Flatcar/issues/375 .
Thanks!

[2021-03-29 15:50] #227 closed, assigned to nobody

[2021-03-29 20:40] samm-git commented on #374
@pothos problem is that i cant reproduce that on other OS. E.g. fedora or alpine. Even in chroot to the flatcar sdk.

[2021-03-30 09:53] dongsupark commented on #367
Should be fixed via Gentoo upstream https://github.com/gentoo/gentoo/commit/b2b164ba52c04ff6fb7b8879d35f0f08ee01aed9 .
Still to be tested by the Flatcar cross buildchain.

[2021-03-31 05:53] bguenthner opened #376 "Latest stable Flatcar 2765.2.2 dev image cannot build latest Nvidia drivers (460.32.03)"
**Current situation**
We have tried to build the latest Nvidia drivers (460.32.03) for the current Flatcar release (2765.2.2) with the newest 5.10 Kernel.
This won't work because of a missing .lds file in the Linux kernel sources of Flatcar.

**Impact**
The Nvidia driver build fails with the latest Kernel.
[code]
**Ideal future situation**
Add the missing .lds file from https://raw.githubuserconte

[2021-04-01 09:11] Winnie81 commented on #55
It doesn't work, please reopen this issue. Thanks a lot.

[2021-04-01 09:12] Winnie81 commented on #55
BTW, I tested it with 2765.2.0.

[2021-04-01 11:30] obourdon opened #377 "2765.2.2 not available on Azure marketplace"
**Description**

Subject says it all, release was one week-ago

**Impact**

Can not test&deploy new release on Azure

[2021-04-01 12:33] margamanterola commented on #55
So, could you please tell us what output does `ip route` and `networkctl` give you when you log in on the VGA console?

Also, could you please show the config that you used in your last test?

Thanks.

[2021-04-01 12:49] margamanterola commented on #377
Sorry about that, the offers were stuck. I've pushed them now. Both the free offer and the bring your own license offer should be available shortly. The Pro offer is stuck in a different way and requires intervention from the Azure side :-/.

[2021-04-01 12:49] #377 closed, assigned to nobody

[2021-04-02 02:57] Winnie81 commented on #55
My configurations are as below:

[Match]
Name=ens192
[Network]
DNS=10.117.0.1
[Address]
Address=10.117.16.226
Netmask=255.255.254.0
[Route]
Gateway=10.117.17.253

After customization, I got:
![Uploading Screen Shot 2021-04-02 at 10.22.34 AM.png…]()

[2021-04-02 02:58] Winnie81 commented on #55
<img width="581" alt="Screen Shot 2021-04-02 at 10 22 34 AM" src="https://user-images.githubusercontent.com/27849915/113375617-609fc300-93a2-11eb-922b-b6a005bcbb9b.png">

Repost.

[2021-04-05 16:03] sfudeus commented on #15
With the end of official hyperkube support (even out-of-tree) in k8s-1.19, this seems to be superfluous.

[2021-04-05 16:03] #15 closed, assigned to nobody

[2021-04-05 18:47] pothos commented on #15
For the record, the binaries can be downloaded and run directly without Docker or rkt.
Here how to do it manually https://suraj.io/post/2021/01/kubeadm-flatcar/ but I would recommend to use Ignition remote references for that.

[2021-04-06 06:54] sfudeus commented on #15
IMO the main issue with running kubelet natively on container linux is the fact that you might need additional binaries to run kubelet properly, e.g. for storage integration, which either need to be installed by native container linux means or could easily provided in the same image as the kubelet.

[2021-04-06 07:17] dongsupark commented on #149
Recently we dropped `bindist` from `RESTRICT` in `openssl`, so it is now possible to turn on ssl for wget again.
The issue of openssl being blocked by `masked by: bindist in RESTRICT` etc. has now disappeared.
Filed a PR to turn on the ssl USE flag for wget again: https://github.com/kinvolk/coreos-overlay/pull/932

[2021-04-06 08:06] dongsupark commented on #375
Thanks for the PR https://github.com/kinvolk/coreos-overlay/pull/929.
From my understanding, we would have to also update dracut to >= 0.52, to fix the rpi4 issue.
Though Gentoo does not seem to have its stabilized ebuild. Well.

[2021-04-06 08:17] wernerb commented on #375
Yes, but not just for rpi4. Per my understanding *all* `net/mdio` modules are currently not working since kernel 5.10.

[2021-04-07 07:43] samm-git commented on #374
It seems that in upstream work stalled despite the fact that i was able to reproduce it...

[2021-04-07 11:56] #367 closed, assigned to dongsupark

[2021-04-07 14:35] seh opened #378 "Flatcar Container Linux fails and reboots: "kernel BUG at net/core/skbuff.c""
**Description**

On AWS EC2 instances using Flatcar Container Linux versions [2765.1.0](https://kinvolk.io/flatcar-container-linux/releases/#release-2765.1.0) and [2801.1.0](https://kinvolk.io/flatcar-container-linux/releases/#release-2801.1.0) from [the Beta channel](https://kinvolk.io/flatcar-container-linux/releases/#beta-release), with a _kOps_-provisioned Kubernetes installation on top, we en

[2021-04-08 13:27] mrdima opened #379 "Flatcar sometimes won't boot after installation or after upgrade on VMware"
**Description**

Once every while when we deploy a new VM or when we upgrade Flatcar to the latest version, the operating system doesn't boot anymore. This happens on 2 different VMware environments...one with vCloud Director, one with vRealize as frontends. We  only have access to the frontends offered.
Hard to give an estimate, I think it's less than 3% of the occurrences that this happens.
We'r

[2021-04-08 22:28] mikekuzak opened #380 "update-engine not updating on hyper-v images"
Hi,

Can't find any explanation why our our Flatcar hosts on hyper-v are not able to get the latest updates.

[code]

The error messages are not helpful in this case. Would appreciate any suggestion or advice.
Thanks !

[2021-04-09 10:02] pothos commented on #380
The error here from yesterday is that an update was already in progress. In the server I see the most recent error from march as _DownloadTransferError with ResumedFlag_. Can you check that you don't use the same machine ID on multiple instances?

[2021-04-09 10:58] mikekuzak commented on #380
@pothos is there a way to change the machine ID ? Looks like we have the same machine id for multiple hosts, clone of the image.
I see  /etc/machine-id which is the ID.  Is there any impact in changing this now ?

[2021-04-09 11:39] pothos commented on #380
Ok, there were similar cases and it's not supported, sorry (maybe file a Nebraska issue?).

The ID is generated on first boot and should be unique. You can delete the file and reboot or write a new ID with `systemd-id128 machine-id | sudo tee /etc/machine-id`.

[2021-04-09 11:40] pothos commented on #380
This will help you do the update and then you can let it reboot once to make the ID get picked up for everything.

[2021-04-09 12:17] simonello commented on #380
The following worked for me:

`rm -f /etc/machine-id`
`systemd-machine-id-setup`
`update_engine_client -update`
`reboot`

I have a question.    We ran into this issue due to using the HyperV image,

`https://stable.release.flatcar-linux.net/amd64-usr/current/flatcar_production_hyperv_image.vhd.bz2`

and then deploying it to multiple servers on multiple sites via powershell.   Besides running the a

[2021-04-09 12:35] pothos commented on #380
If you clone the image, you need to do it before the first boot

[2021-04-09 12:54] simonello commented on #380
Ok, understood.  The funny thing is, we used to deploy the same way in VMWare, and never got an issue.

[2021-04-09 13:01] pothos commented on #380
I don't think the platform matters. Here is an old report with the same problem: https://github.com/kinvolk/Flatcar/issues/228

There are other problems related to having the image booted already and trying to use it again as normal image. For example, Ignition won't run again even if you pass Ignition user data, and systemd preset handling also doesn't work anymore which means that even if you fo

[2021-04-09 13:01] #380 closed, assigned to nobody

[2021-04-12 09:55] t-lo commented on #378
Thank you for reporting @seh , we'll have a look. Do you think you could investigate into a reliable repro case for this issue?

[2021-04-12 16:49] Keithsc opened #381 "Fix Azure backups is possible ?"
Azure backups seem to work from within the Azure portal so I thought I would try the Azure "Fire Recovery" feature and see if backups were actually working. (They don't)  The way "File Recovery" works is Azure gives you python script to download  and run (on a supported OS) and when the script runs it uses iscsi / tls magic to mount your backup onto the VM your running the script on.

I ran the py

[2021-04-12 18:30] seh commented on #378
That is going to be very difficult, as so far it amounts to, "Run this Kubernetes cluster with this workload."

We have confirmed that downgrading to the Flatcar Container Linux beta version 2705.1.2 alleviates the problem. Again, versions 2765.1.0 and 2801.1.0 both suffer this same kernel bug.

Looking at the workload that runs on all the machines on which we've seen this occur, we identified onl

[2021-04-12 21:34] seh commented on #378
I neglected to mention earlier that in our clusters where Flatcar Container Linux's _locksmithd_ service is enabled, we don't see this bug arise. In our clusters where _update_engine_ is enabled but _locksmithd_ is disabled, the bug occurs on 10-15 out of 200 machines every day.

[2021-04-13 08:26] t-lo commented on #378
Interesting, thank you for sharing. While we're still looking for a solid repro the information you've provided will help with narrowing down the issue.

[2021-04-13 12:29] seh commented on #378
I mentioned that on our machines where both _update_engine_ and _locksmithd_ are enabled that we don't see this kernel bug arising. However, I did notice something odd in the system logs on those machines.

I've been polling our machines regularly via SSH, running a command like _journalct --grep=skbuff_ and collecting the output, in order to see how often and on which machines the kernel bug has

[2021-04-13 15:24] PavloZabudskyi commented on #368
We experience scimark2 test degradation for 15% as well after upgrading to 2765.2.0+

[2021-04-14 05:23] patrickshan commented on #374
We've also noticed some DNS issues with Flatcar 2765.2.1 and 2765.2.2. In our case, we disabled the DNSStubListener as we are using node local dns. We are also going to try to switch back nsswitch.conf back to the old one used in 2605.12.0 to see if that will solve it.

[2021-04-14 06:13] samm-git commented on #374
@pothos any chance to get it fixed? Bug is very easy to reproduce and affects every installation.

[2021-04-14 12:53] margamanterola commented on #378
Are these machines in-place-upgraded from CoreOS or were they freshly installed with Flatcar?

[2021-04-14 14:33] seh commented on #378
These are fresh "installations" on EC2 instances by way of the published AMIs.

[2021-04-14 16:45] hasso opened #382 "DefaultTasksMax is 15% regardless of documentation"
**Description**

The problem seems to be that 0007-core-use-max-for-DefaultTasksMax.patch in
coreos-overlay/sys-apps/systemd/files does nothing actually – it defines DEFAULT_TASKS_MAX_PERCENTAGE and DEFAULT_USER_TASKS_MAX_PERCENTAGE, but these are not used in anywhere.

[2021-04-19 06:23] patrickshan commented on #374
Confirmed that switching back to old 2605.12.0 nsswitch.conf fixed the DNS issue we had after the upgrade.

[2021-04-19 10:09] samm-git commented on #374
@pothos any chance to at least revert it officially?

[2021-04-19 10:26] pothos commented on #374
Yes, makes sense, and we document how to enable it for those that need split DNS.

[2021-04-19 12:50] comphilip opened #383 "How to setup flatcar build environment of c++ projects"
**Current situation**
[tmux](https://github.com/tmux/tmux) is not included in flatcar container linux. While the tool is very useful for me for administration and troubleshooting. I want to build static-link tmux on my own.

I cannot found document how to setup c++ build environment for flatcar container linux. So I build tmux in ubuntu and debian docker image, the built tmux runs well in ubuntu a

[2021-04-19 13:48] pothos commented on #383
Hi,
here is a workaround to use tmux in the toolbox:
https://kinvolk.io/docs/flatcar-container-linux/latest/setup/debug/install-debugging-tools/#spawn-a-toolbox-with-tmux-in-the-background

[2021-04-19 14:18] #383 closed, assigned to nobody

[2021-04-20 13:05] akolosov-a opened #384 "IPv6 address auto-configuration doesn't work on AWS EC2 instances"
**Description**
Flatcar Linux doesn't configure IPv6 address on AWS EC2 instances with IPv6 address assignment enabled.

**Impact**
AWS EC2 instances running Flatcar Linux don't have IPv6 connectivity.

**Environment and steps to reproduce**

1. **Set-up**: Flatcar Linux 2765.2.2 on an AWS EC2 instance with IPv6 enabled.
2. **Task**: Running an IPv6-enabled Kubernetes node using Flatcar Linux in A

[2021-04-22 07:58] Beetix opened #385 "Missing binaries in releases of ct"
**Description**

Although mentioned in the README the binaries are missing in releases of ct

**Impact**

Unable to run ct without compiling (or docker)

**Environment and steps to reproduce**

1. **Set-up**: ct v0.9.0
2. **Task**: Download binary from release
3. **Action(s)**:
  a. `curl -L https://github.com/flatcar-linux/container-linux-config-transpiler/releases/download/v0.9.0/ct-v0.9.0-x86_6

[2021-04-22 11:04] Beetix opened #386 "NFS not mounted at boot"
**Description**

I am trying to mount a NFS but it is not mounted at boot

**Impact**

Missing mount at boot

**Environment and steps to reproduce**

1. **Set-up**: Flatcar 2765.2.2
Container Linux config:
[code]
2. **Task**: Running Flatcar image
3. **Action(s)**: Boot Flatcar image
4. **Error**: No mount
[code]

**Expected behavior**
NFS mounted

**Additional information**
Mounting works once lo

[2021-04-22 11:08] pothos commented on #386
Was the image was booted once already? The service is disabled which I think means that the `enabled: true` did not work because it was not the first boot, read https://kinvolk.io/docs/flatcar-container-linux/latest/provisioning/ignition/boot-process/#reprovisioning

[2021-04-22 11:12] Beetix commented on #386
Yes it was but I created a file under `/boot/flatcar/first_boot` for reprovisioning as mentioned in the link you gave

[2021-04-22 11:26] pothos commented on #386
Yes, and that is not enough because Ignition handles `vendor preset: enabled` but if you want to enable the service after the very first boot, you need to create the symlink manually with Ignition as written in the link.

[2021-04-22 11:26] #386 closed, assigned to nobody

[2021-04-22 13:37] Beetix commented on #386
Ah... I missed that, excuse me. Thanks for your help!

[2021-04-22 13:40] pothos commented on #386
No problem. The same thing can also happen when the image is cloned after being booted (and more bad things like having the same `/etc/machine-id` etc).

[2021-04-26 01:28] smalltown opened #387 "Upgrade Ignition to version v2.x / spec v3.x, Afterburn to latest upstream"
**Current situation**
HashiCorp doesn't maintain [Terraform provider](https://github.com/hashicorp/terraform-provider-ignition) for Ignitoin v0.x /spec 2.x  for a long time, and RedHat W/ community maintain a new [Terraform Ignition Provider](https://github.com/community-terraform-providers/terraform-provider-ignition), that supports Ignition version v2.x / spec v3.x, do you have any plan to upgra

[2021-04-27 14:59] pothos opened #388 "Update-engine sends empty requests when restarted before a pending reboot"
**Description**

Update-engine sends empty requests to an empty URL when the update-engine service is restarted before a pending reboot. This can only be resolved by rebooting or by resetting the update-engine state.

**Impact**

The instance does not communicate with the update server anymore.

**Environment and steps to reproduce**

1. **Set-up**: Run an old Flatcar version with standard setting

[2021-04-28 06:54] jlsan92 commented on #294
Edit: I'm using K8s `1.18.18` along Kops `1.18.3`

I'm not 100% sure if I'm hitting the same issue but it feels similar.

I upgraded a Kubernetes cluster from `2605.12.0` to `2765.2.2`. I see that Docker gets updated from `19.03.14` to `19.03.15`.

The rollout went fine, but then I found out that (only) Masters nodes start flapping from Ready to NotReady. It happens very fast.

Checking `container

[2021-04-29 06:52] dongsupark commented on #338
PR https://github.com/kinvolk/coreos-overlay/pull/964 was merged,
qemu 5.2 will be included in Alpha 2857.0.0.

[2021-04-29 06:52] #338 closed, assigned to nobody

[2021-04-29 10:38] mikekuzak opened #389 "Changing Docker Version on Flatcar"
Hi,

Does the possibility of changing the Docker version still exists in Flatcar ?
For CoreOS this was the way to go:

https://support.coreos.com/hc/en-us/articles/360005202674-Update-Docker-on-CoreOS-using-torcx

[2021-04-29 13:10] pothos commented on #389
Torcx is still around but here is another way which is more accessible: https://kinvolk.io/docs/flatcar-container-linux/latest/container-runtimes/use-a-custom-docker-or-containerd-version/
Currently it has the problem that you need to invoke the binary at the right path (or setup the PATH) but in the future one could use systemd-sysext for an overlay on /usr.

[2021-04-30 09:44] dongsupark commented on #196
As Alpha 2857.0.0 dropped rkt binaries, disk usage of the system partition has dropped significantly to 82%.

[code]

Hopefully your concern was mostly addressed.
We will continuously keep an eye on the image size issue.

[2021-04-30 09:47] dongsupark commented on #180
Alpha 2857.0.0 removed rkt.
Please see https://groups.google.com/g/flatcar-linux-user/c/MeinndLqJO4 for details.

[2021-04-30 09:47] #180 closed, assigned to nobody

[2021-04-30 09:59] dongsupark commented on #189
Alpha 2857.0.0 removed rkt, using docker instead.
Please see https://groups.google.com/g/flatcar-linux-user/c/MeinndLqJO4 for details.

[2021-04-30 09:59] #189 closed, assigned to t-lo, krnowak

[2021-05-03 05:58] sayanchowdhury commented on #382
Thanks for filing the issue. A fix has been merged and deployed across all the channels. https://github.com/kinvolk/coreos-overlay/pull/971

Please upgrade to the latest version and verify if the fix works. Feel free to open the issue, if the issues persist.

[2021-05-03 05:58] #382 closed, assigned to nobody

[2021-05-03 07:32] #335 closed, assigned to nobody

[2021-05-04 08:10] mazzy89 commented on #329
This issue still persists running QEMU 5.2 onto a container running on Flatcar Container Linux by Kinvolk 2605.12.0 (Oklo)

This is the CPU footprint before the container dies

![Screenshot 2021-05-04 at 10 09 19](https://user-images.githubusercontent.com/5463218/116976041-e1631f00-acc0-11eb-95dd-061fa1bed1cf.png)

[2021-05-04 14:58] dongsupark opened #391 "Update containerd to 1.5"
## Current situation

Containerd 1.5 was [released](https://github.com/containerd/containerd/releases/tag/v1.5.0).

As the new release has quite a lot of changes, it might not be trivial for Flatcar to update containerd to 1.5.

One of the issues is Go modules, which is now turned on by default.
`app-emulation/containerd` ebuilds in coreos-overlay need some changes.

Config formats have also chang

[2021-05-04 18:37] obourdon opened #392 "2765.2.3 not available on Azure marketplace"
:-(

[2021-05-05 10:49] obourdon commented on #392
@sayanchowdhury thanks for taking care of this, seems like the image is now available

[2021-05-05 10:49] #392 closed, assigned to nobody

[2021-05-08 10:48] #389 closed, assigned to nobody

[2021-05-10 22:04] amitsingla opened #394 "Update Iptables from 1.6.2 to 1.8.x in flatcar OS version 2605.8.0"
## Current situation

Currently, we are running Kubernetes clusters on flatcar OS in production.
Kubernetes 1.16.x onwards updated their internal iptables version within the hyperkube images to 1.8.3(nft) . However the iptables version on flatcar OS remains 1.6.2.

Kube-proxy which is a component of kubernetes utilizes iptables internally for all pod routing and the version of iptables they are us

[2021-05-11 08:59] invidian opened #395 "[RFE] Update OpenSSH to at least 8.2 for FIDO support"
## Current situation

Currently Flatcar use OpenSSH 8.1p1

## Impact

OpenSSH 8.2 supports FIDO/U2F authentication (https://www.openssh.com/releasenotes.html#8.2), it would be great to be able to utilize it on Flatcar as well.

## Ideal future situation

OpenSSH is updated to latest available version.

[2021-05-12 12:52] omniproc opened #396 "Allow controlling autologin through a flag file"
## Description

Deploying Flatcar currently results in a unlocked / not-password-protected console by default.

## Impact

We considere this a security issue since anyone with permissions to _access_ the console is also able to perform changes to Flatcar without authentication. Currently there doesn't seem to be a way to disable this behaviour at bootstrap time which means that we'd need to run ad

[2021-05-12 13:20] dongsupark commented on #139
As we merged https://github.com/kinvolk/coreos-overlay/pull/998 updating dbus to 1.10.32 , this issue is not related to security issues any more.
Updated the description, pushed new WIP branches to `dongsu/dbus-1.12` in coreos-overlay and portage-stable.
Those branches are decoupled from the selinux issue, so it might be easier than before to get those merged in the future.

[2021-05-12 13:42] pothos commented on #396
The docs to disable autologin are [here](https://kinvolk.io/docs/flatcar-container-linux/latest/installing/cloud/vmware/#disabling-autologin) and as you said it needs an additional reboot. Why the boot breaks is your case is not clear without logs. Please try again to follow the docs and provide the log output.

I don't see the autologin as a real security issue. Who has access to the console of t

[2021-05-12 15:16] x4e-jonas opened #397 "DHCPv6 broken since 2765.2.0/Systemd 247"
## Description

DHCPv6 is broken since 2765.2.0/Systemd 247.

## Impact

With the configuration below, Flatcar Container Linux 2605.12.0 with Systemd 246 gets a (static) DHCPv6 lease assigned as expected. Since 2765.2.0/Systemd 247 no IPv6 is assigned anymore.

## Environment and steps to reproduce

Container Linux Config:
[code]

1. **Set-up**: deploy a Flatcar installation with the above config

[2021-05-14 13:42] opiumfor opened #398 "[RFE] Upgrade Config Transpiler so it would support new ETCD versions"
## Current situation

The Config Transpiler (ct) seem to be not upgraded since 2018, just forked
from CoreOS as is. The problem is that current version of Config Transpiler does not allow us
to upgrade etcd, because allowed versions are hardcoded into ct:

https://github.com/coreos/container-linux-config-transpiler/blob/master/config/types/etcd.go#L51

## Impact
We can't upgrade ETCD to fresh vers

[2021-05-14 14:01] pothos commented on #398
Thanks for filing the issue. As workaround you can directly specify the resulting Ignition entries as regular Container Linux Config entries (for etcd this is mostly the systemd drop in unit).

Maybe we need to think whether it actually makes sense to have Flannel and Etcd as special cases baked into the specification of the Container Linux Config.

[2021-05-16 22:10] omniproc commented on #396
Hi.

thanks for the reply. I'll double check and try to provide logs. This is kinda hard probably since, as I said, currently we end up in a boot loop. But if you say you tested this and it works in general on your system I'll try to find out why it didn't in our tests.

Regarding your arguments around security however I have to disagree.

Depending on the environment / platform the users with acc

[2021-05-17 08:32] pothos commented on #396
I mainly agree with you, but don't want to sell disabling autologin as security feature when the GRUB menu is still there. It makes sense to disable both together and we should document this.
Default behavior is another question. My preference would be to have the VMware guestinfo variables as a way to control autologin. This makes it easily accessible at any time and allows to turn the default of

[2021-05-17 10:38] #332 closed, assigned to pothos

[2021-05-17 14:51] tormath1 opened #399 "test/azure: kubeadm does not pass"
## Description

[kubeadm](https://github.com/kinvolk/mantle/tree/flatcar-master/kola/tests/kubeadm) kola test fails on Azure. It's currently excluded from the tests (https://github.com/kinvolk/mantle/pull/174)

## Additional information

From an initial investigation, there are a lot of spamming related to `FlexVolume` on the controller node:
[code]

some warnings too:
[code]

from the worker node

[2021-05-20 01:43] igcherkaev commented on #378
Hello. We've noticed the same behavior here in our environment on VMWare provisioned VMs.

Few times a day a box which happens to be the busiest in terms of network load crashes with the following
[code]
Happens on 5.10.32-flatcar as well. pstore is empty too.

[2021-05-20 01:51] igcherkaev commented on #378
Less loaded VMs  (in terms of network I/O) even having same kernel don't crash. We also run kubernetes on them with calico as our CNI (with eBPF mode enabled).

[2021-05-20 01:54] igcherkaev commented on #378
We have another Kubernetes cluster with the same setup, but it's still running older kernel (e.g., Flatcar Container Linux by Kinvolk 2605.10.0 (Oklo)   5.4.83-flatcar), and there's no crashes at all.

[2021-05-20 02:38] g-edwards opened #400 "[2765.2.4] 5.10.37 kernel oops in __domain_mapping+0xa7/0x3a0"
## Description

The 5.10.37-flatcar kernel (2765.2.4 stable release) panics on boot each time on a Dell server with a Intel Xeon E5-2640 v3 processor.

[    5.317108] #PF: supervisor read access in kernel mode
[    5.317108] #PF: error_code(0x0000) - not-present page
[    5.317108] PGD 0 P4D 0
[    5.317108] Oops: 0000 [#1] SMP PTI
[    5.317108] CPU: 8 PID: 1 Comm: swapper/0 Not tainted 5.10.37-f

[2021-05-20 08:57] pothos commented on #400
Thanks for reporting, the rollout of the 2765.2.4 Stable update got stopped in the update server and it announces 2765.2.3 as latest version for the mean time. A new kernel bug fix release already got published and we will include the fix soon in a follow-up release.

[2021-05-20 10:25] pothos commented on #400
In case your instances have downloaded the new version already but not yet rebooted, you can discard the pending update as follows:
[code]
The second command will make sure that even when the system reboots, it will not attempt to use the 2765.2.4 partition because there are zero boot "tries" for it.

[2021-05-21 07:29] dongsupark commented on #391
Fixed build issues with containerd 1.5, and the PR https://github.com/kinvolk/coreos-overlay/pull/1006 was merged.
containerd 1.5.2 will be included in the next major Alpha release.

[2021-05-21 07:29] #391 closed, assigned to nobody

[2021-05-21 13:21] dongsupark commented on #395
Filed PR https://github.com/kinvolk/coreos-overlay/pull/1023

[2021-05-21 13:35] pothos commented on #400
The Stable 2765.2.5 update will be published now

[2021-05-21 13:35] #400 closed, assigned to nobody

[2021-05-21 22:57] g-edwards commented on #400
2765.2.5 works great.  Thank you!

[2021-05-21 23:08] dukedorje commented on #294
I'm seeing the `shim reaped` / `shim started` repeating in my containerd logs too. Our prod API mysteriously stops working until docker is restarted, then it works for around 5-24 hours. We're not even using kubernetes in front of it.

[2021-05-23 16:57] invidian opened #401 "calico/kube-controllers healthchecks fail on latest Flatcar beta (2823.1.2) and alpha (2879.0.1)"
## Description

Conformance tests for [libflexkube](https://github.com/flexkube/libflexkube) using Flatcar in VMs currently fails, as Calico chart is not able to converge, getting stuck at `calico-kube-controllers` not becoming ready.

## Impact

Possible breakage of existing cluster when they upgrade to latest beta.

## Environment and steps to reproduce

0. Install git and Vagrant.
1. `git clone

[2021-05-23 18:05] invidian opened #402 "[RFE] Add instruction for reporting security issues to README.md and via GitHub security policy"
## Current situation

`README.md` currently only mentions that problems should be reported via issues. It would be good to better align with https://kinvolk.io/flatcar-container-linux/security/ and mention channels for reporting security issues.

## Impact

Security issues might get accidentally disclosed because of lack of clear secure communication channels for reporting security issues.

## Ide

[2021-05-24 05:43] hligit opened #403 "Docker overlay native diff disabled resulting image build failure"
## Description

Docker storage native overlay diff is disabled by default

## Impact

Some Docker image build failed for error layer doesn't exist.

## Environment and steps to reproduce

1. **Set-up**:

Launch an EC2 instance from Flatcar-stable-2765.2.5.

2. **Task**:

Build a Docker image with below Dockerfile:
[code]

Notice overlay module features `redirect_dir` and `metacopy` are enabled and

[2021-05-24 16:51] igcherkaev commented on #378
Just a quick update: after disabling gso and gro on the box it hasn't crashed in 4 days already. We're monitoring the box, but it's already a great sign. It used to do it every other day or every day.

[2021-05-25 07:43] oliwer commented on #384
This is certainly linked to #397.

[2021-05-25 07:50] oliwer commented on #361
There is a better tool than curl for this: ncat.

`ncat towel.blinkenlights.nl 23`

[2021-05-25 12:14] tormath1 commented on #388
From an initial look, we can clearly see that even the values of the payload are missing between the restarts of the `update-engine` service:
[code]

After restart:

[code]

This parameters (and the `update_url`) are computed in this lines:
https://github.com/kinvolk/update_engine/blob/312ab260fce283e84635b73d92dd6d526d1e3d96/src/update_engine/update_attempter.cc#L159-L162

This method is not call

[2021-05-25 12:30] pothos commented on #388
Good find, seems ok to try calling this earlier but maybe a special case is needed for the pending update state.

[2021-05-25 17:28] nitramiz opened #404 "Flatcar boots from wrong disk after a reboot (2765.2.2 and some prior versions)"
I apologize in advance for any missed details and wrongfully explained things. Please bear with me. (first issue)

## Description
 We have a cluster of physical machines, which we boot into Flatcar via PXE and use the `flatcar-install` script to install on disk (/dev/sda). We always stick to the Stable Flatcar releases and are currently using 2765.2.2. We provision the boxes with a simple ignition

[2021-05-25 20:51] pothos commented on #404
Hello,
thank you for the detailed report. You run into a tricky behavior of the Linux kernel: it will assign the device names in the order they got detected which is not stable over reboots. This is often the case for NICs or hard disks and the solution is to always refer to the devices by their stables names.
You can't assume that OS disk is always called `/dev/sda` just because it was called `/d

[2021-05-25 20:51] #404 closed, assigned to nobody

[2021-05-26 15:40] nitramiz commented on #404
Wow, thanks for the prompt response! Thanks for the clarification and the tip!

 I guess that makes sense and explains our case. I don't remember if the first box we saw the issue had been rebooted before it needed a reboot due to that lockup. It sounds plausible that a few times in a row the same disk (with the OS) was named `/dev/sda` but after that problematic reboot, that disk became `/dev/sdb

[2021-05-26 15:42] igcherkaev commented on #378
Almost 7 days now without crashing since GSO/GRO got disabled.

[2021-05-26 15:46] pothos commented on #404
Within the same _boot_ it does not matter much, but maybe you need logic to find the disk that's better for the OS or the data. Also, you should not run mkfs on the disk which you use for flatcar-install because this created filesystem will be overwritten anyway. I would change `mkfs.ext4` to `mkfs.ext4 -L mylabel` but all these steps are not your problem, your problem happens afterwards when you

[2021-05-26 15:49] nitramiz commented on #404
Hmm, ok. I'm not quite sure I understand how to handle that consistency - keep the OS disk as an OS disk and the data disk as a data disk.

I guess we should not use `dev/sdb` in the below snippet, but rather a `/dev/disk/by-label/DATA`?

We use a very basic OpenEBS setup for the data disk:
[code]

[2021-05-26 15:53] pothos commented on #404
Yes, you found your problem (or at least one of them), `What=/dev/sdb` is not stable over reboots and should be by-label/DATA or similar.

[2021-05-26 15:56] nitramiz commented on #404
Got it! Thanks. I'll have some time in the next couple of weeks to test. Very much appreciate the help and will report any further developments:)  🙌🏻

[2021-05-26 16:11] seh commented on #378
How did you disable those, Igor?

[2021-05-26 16:16] igcherkaev commented on #378
[code]
where iface name is your NIC card, e.g. eth0.

We have a systemd unit now to disable it on boot.

[2021-05-27 07:44] tormath1 commented on #282
For the record, I took a look at the CI while fixing https://github.com/kinvolk/Flatcar/issues/388.

We first need to expand the `LD_LIBRARY_PATH` because `librootdev` was not found (`ldd ./update_engine_unittest`): https://github.com/tormath1/update_engine/commit/5552df4e583f6875eafc02bd01063b12c4b2f116

Then we hit a segfault ...
[code]

I feel that some refactoring is required to get it working

[2021-05-27 07:47] #388 closed, assigned to nobody

[2021-05-27 09:49] #395 closed, assigned to dongsupark

[2021-05-27 21:51] scottmalkie commented on #97
Hi @sayanchowdhury - Is there anything y'all need to get arm64 images working for the beta and stable channels? What is the remaining work to be done here? How can we help?

[2021-05-28 09:54] pothos commented on #97
The remaining things are updating Polkit/spidermonkey (there is a PR for that), including SELinux libraries in the image, and tweaking the kernel config to support more targets.

[2021-05-28 15:03] scottmalkie commented on #97
@pothos Awesome! Thank you so much. We'll take a look.

[2021-05-29 10:40] dirien opened #406 "Flatcar and Kubevirt"
## Description

I tried to install kubevirt on a kubernetes cluster, where the nodes are all use flatcar linux as a OS.

During the install of the pods, i get following error message:

[code]

There are other discussions (https://github.com/kubevirt/kubevirt/issues/5298#issuecomment-815580390) but i cant really see where the issue is? Is there something I need to do in Flatcar or is kubevirt need

[2021-05-31 10:06] t-lo commented on #97
Thanks for reaching out @scottmalkie  - as @pothos mentioned there are a number items to address which currently cause some of our release tests to fail. While our test suite is reasonably complex, it would actually be a good place to get started with ARM64 work at this time.

We'll have a spotlight on release testing / the release process in our upcoming community meeting (tentatively planned for

[2021-05-31 10:17] #399 closed, assigned to nobody

[2021-05-31 12:29] tobgu opened #407 "locksmithd will reboot outside of reboot windows, if no semaphore was acquired before"
## Description
This ticket mirrors https://github.com/coreos/bugs/issues/1886 which has been left to fade away.

## Impact
Unexpected reboots and updates of machines outside of designated reboot windows.

## Expected behavior
Once locksmithd gets the semaphore it should check again that we're still within the update window. If not, no update should take place and the semaphore should be released a

[2021-05-31 12:47] tobgu opened #408 "locksmithd sometimes fail to release held ETCD lock when in status UPDATE_STATUS_UPDATED_NEED_REBOOT"
## Description
locksmithd sometimes fail to release held ETCD lock when in status UPDATE_STATUS_UPDATED_NEED_REBOOT

## Impact
No other machines in the cluster can reboot/update since the semaphore is held by a machine that is not allowed to update since it is outside of the configured reboot window.

## Environment and steps to reproduce

1. **Set-up**: Flatcar 2765.2.3/2765.2.4, different types

[2021-06-01 09:03] tormath1 commented on #407
Hi, thanks for backporting this issue.

Here a few steps to reproduce locally the behavior:

- Download an "old" release `wget https://alpha.release.flatcar-linux.net/amd64-usr/2879.0.0/flatcar_production_qemu_image.img.bz2`

Write ignition to setup a local `etcd-member`, configure `locksmithd` to use `etcd`

[code]

_N.B_: Notice the `LOCKSMITHD_REBOOT_WINDOW_START=03:00` and `LOCKSMITHD_REBOOT_W

[2021-06-01 13:32] scottmalkie commented on #97
Fantastic - thank you so much @t-lo and @pothos - I'll definitely attend the meeting next week. Eager to assist however possible. Thanks again!

[2021-06-02 13:24] t-lo commented on #329
This is likely a kernel bug resulting from an edge scenario (nested virtualisation isn't in widespread use unfortunately, and is known to have regressions between major kernel releases). I think it's worthwhile to dive into this, maybe we can file a kernel bug as a result. We'll need more detailed telemetry in order to get a better idea of what's going on.

1. Could you please use a QEMU version b

[2021-06-03 15:18] dongsupark opened #410 "Rename github org to flatcar-linux in each repo"
The following Github repos still rely on Github org name `coreos`.

* https://github.com/kinvolk/afterburn
* https://github.com/kinvolk/coreos-cloudinit
* ~https://github.com/kinvolk/ignition~
* ~https://github.com/kinvolk/mantle~
* https://github.com/kinvolk/sdnotify-proxy
* https://github.com/kinvolk/update-ssh-keys

We should update the repos above, so they could have the correct Github org nam

[2021-06-06 13:39] tobgu commented on #407
Thanks for looking into this!

Yes, in case you fail to get the semaphore you can probably sleep until the update period starts again followed by a reset of the backoff interval (if `sleeptime` > 0 as in the example you linked).

[2021-06-06 16:46] obourdon opened #411 "2765.2.5 not available on Azure marketplace"
Again ...

[2021-06-07 05:48] sayanchowdhury commented on #411
Sorry for the troubles, The offer publishing got stuck again after the last release, and we are working on the Azure team to sort out the issue. The release should be available in the next few days.

[2021-06-07 06:21] obourdon commented on #411
@sayanchowdhury many thanks for this. Will close the issue right after confirming availability

[2021-06-07 12:46] tormath1 commented on #407
Hi @tobgu , would you be interested by doing the implementation yourself then ? :)

[2021-06-08 14:52] ronnessim opened #412 "Doesn't explain how to add more than one static route"
The documentation doesn't explain how to add multiple static routes.

https://kinvolk.io/docs/flatcar-container-linux/latest/setup/customization/network-config-with-networkd/

Should the [route] section be repeated?

[2021-06-10 11:44] JesusRo opened #413 "GROUP is overwritten after upgrade and reboot on update.conf"
## Description

Custom `GROUP` configured on /etc/flatcar/update.conf is reset to `stable` (the channel of the group) after an upgrade.

## Impact

When vms are updated, reconfiguration of the group on  /etc/flatcar/update.conf is needed

## Environment and steps to reproduce

1. **Set-up**:
VMs deployed on Openstack using cloud-init
update.conf manually configured afterwards
Nebraska instance dep

[2021-06-10 14:31] sayanchowdhury commented on #403
This looks like an upstream issue to me.

Related:
issue: https://github.com/moby/moby/issues/37965
PR: https://github.com/moby/moby/pull/34342

[2021-06-10 21:36] amasover commented on #387
I would also recommend adding which Ignition version Flatcar supports to the docs, somewhere under the "Provisioning Tools" section. If you do supply the wrong config version, you'll get a helpful error on startup:

[code]

However, this error message can be easy to miss, especially since many other boot processes will be failing at the same time, for example:

[code]

[2021-06-11 06:39] obourdon commented on #411
@sayanchowdhury still not there today

[2021-06-11 06:41] aniruddha2000 commented on #407
@tormath1 I want to work on this issue

[2021-06-11 07:39] till commented on #387
To add some colour: we use the hashicorp provider for ignition and it works.

We build all kinds of systemd units, configure user accounts, set hostname, etc..

Not opposed to updating in general although it means fixing something that isn't broken. What exactly doesn't work or is the concern that Hashicorp doesn't actively maintain the provider?

[2021-06-11 08:33] tobgu commented on #407
@aniruddha2000 If you want to pick it up I'm happy with that. I would expect the code change to be pretty minimal based on the above suggestion but verifying it in any meaningful way would probably be the biggest effort for me.

[2021-06-11 13:35] sayanchowdhury commented on #411
There were some issues due to which we were unable to publish the images and had to work with the Azure team to get them looked at. The issue is sorted now and the images are available on Azure now. sorry for the delay.

[2021-06-11 13:35] #411 closed, assigned to nobody

[2021-06-14 12:23] t-lo commented on #375
To summarise, we would need to:
- merge https://github.com/kinvolk/coreos-overlay/pull/929
- update dracut to 053 (upstream gentoo ebuild available, even though it's masked currently [i.e. unstable])

Adding a label "good first issue" for users who want to accustom themselves with [building custom images](https://kinvolk.io/docs/flatcar-container-linux/latest/reference/developer-guides/sdk-modifyi

[2021-06-14 12:45] surajnarwade commented on #328
any update on this issue ?

[2021-06-14 15:52] bobhenkel commented on #385
In addition the helper script that is in the README that points to a public signing key at a coreos link no longer exists. The link is https://coreos.com/dist/pubkeys/app-signing-pubkey.gpg. Everything coreos.com is forwarded to openshift.com landing page.

[2021-06-15 07:52] dongsupark commented on #375
Fortunately Gentoo [stablized](https://bugs.gentoo.org/795981) dracut 053.
amd64: https://gitweb.gentoo.org/repo/gentoo.git/commit/?id=6a934a75bbc054b3ae7c14948df6a4ac6d69e643
arm64: https://gitweb.gentoo.org/repo/gentoo.git/commit/?id=a35bed081b36613d414a7a24534a4706e11fb2b0

[2021-06-16 20:46] pothos commented on #413
Hi, can you share your cloud-config userdata?

[2021-06-16 20:58] pothos commented on #413
I understood that `REBOOT_STRATEGY` stays part of the cloud-config userdata. It is expected for it to be written to the file again because the cloud-config data gets processed on every boot.

[2021-06-17 07:09] JesusRo commented on #413
Hi,

I did have nothing on user_data related to this (my goal is actually to provision the update config afterwards), and I hardly think it comes from there as this only happens after an update.
If I just reboot the vm, there is no issue, the update.conf file is ok
[code]

user-data:
[code]

Thanks for taking a look

[2021-06-17 12:11] ryanm101 commented on #286
can anyone confirm the new kernel is built with `CONFIG_FS_ENCRYPTION=y`?

[2021-06-18 09:34] tormath1 commented on #328
Hi @surajnarwade, following what it has been said into the issue it seems there are two options:

- wait for the upstream to fix this issue (see https://github.com/fluent/fluent-bit/pull/3177)
- patch systemd in the way `bottlerocket`  did (see https://github.com/bottlerocket-os/bottlerocket/pull/1206)

Seems like we don't have much activity on fluent-bit PR - let us explore the other option !

[2021-06-18 21:31] amasover commented on #384
This is broken in Stable, but still works on LTS (testing on Azure).

[2021-06-22 05:00] Winnie81 opened #415 "New Package Request: [open-vm-tools 11.3.0]"
Open-vm-tools 11.3.0 GA was announced on 17 JUN 2021 . Please rebase OVT to our newest release in future.

About vmtools release information, please refer to https://docs.vmware.com/en/VMware-Tools/, https://github.com/vmware/open-vm-tools/releases/tag/stable-11.3.0.

Thanks.

[2021-06-22 21:20] xh116 opened #416 "systemd-resolved fail to start after rebooting ( mostly)"
## Description

systemd-resolved fails on booting sometimes.
/etc/resolv.conf( symlink to /run/systemd/resolve/resolv.conf ) will be missing.

![resolv](https://user-images.githubusercontent.com/37950502/123001376-3c70e280-d3e3-11eb-9dc7-76e3551bba3a.gif)
<img width="929" alt="resolv2" src="https://user-images.githubusercontent.com/37950502/123001465-59a5b100-d3e3-11eb-98ec-f2b5caa13bfd.png">

##

[2021-06-23 09:01] pothos commented on #416
Hello,
DHCP is the default already. Can you please provide the `journalctl -u systemd-resolved --no-pager` output when the unit fails to run?
The output of `networkctl status eth0` would also be good to know what DHCP DNS information was sent.

[2021-06-23 09:23] t-lo commented on #415
Thank you @Winnie81 for your continued effort of raising awareness of new releases!
We'll have a look.

[2021-06-23 09:32] t-lo opened #417 "[RFE] - Support Azure Generation 2 VMs"
## Current situation

The Flatcar offers on Azure (both free and commercial) support Gen1 VMs only. Flatcar is not release tested on Gen2 VMs.

## Impact

Flatcar users need to provision OS images in a manual way / create their own VM images on Azure in order to deploy to Gen2. Users risk running into potential issues that affect Gen2 only.

## Ideal future situation

Flatcar has release tests run

[2021-06-23 13:11] xh116 commented on #416
Thanks for reply.

[code]

[code]

[2021-06-23 13:40] pothos commented on #416
There are these `Failed to emit notification about changed property DNS: Transport endpoint is not connected` errors and then the service suddenly stopps and isn't restarted? That's strange because it has `Restart=always` set.
Can you share more about your setup (Ignition configuration or any other changes)?

Maybe for debugging it helps to add this as a unit drop-in file:
[code]

While it runs, w

[2021-06-23 14:24] xh116 commented on #416
Just rebooted with creating debugging config. (Now tested on another machine. )

**iginition file**
[code]

**debugging info for  systemd-resolved**
[code]
output
[code]

Yes, systemd-resolved may start up itself but mostly it will not work.

` resolvectl status` will print :
`Failed to get global data: Unit dbus-org.freedesktop.resolve1.service not found.`

[2021-06-23 14:36] vbatts opened #418 "[spike] upgrade to OpenSSL v3 to begin fixing everything that break"
## Current situation

We have the OpenSSL v1.1.1 series in flatcar,
and upstream OpenSSL (after 15+ alpha releases) have finally had their first [beta1 release candidate](https://www.openssl.org/blog/blog/2021/06/17/OpenSSL3.0ReleaseCandidate/).

## Impact

This brings flexibility to additional features flatcar can enable.

This will likely break, or fail to build a number of tools that link again

[2021-06-23 14:50] xh116 commented on #416
Waited about half an hour, it doesn't restart itself.
so manually restart it.

[code]

[code]

[2021-06-23 15:06] pothos commented on #416
Thank you for the quick follow-ups!
It's quite strange… we need to file an upstream bug report (or find an existing one) and also check if this is reproducible with the latest systemd version. Unfortunately we had to hold back a newer version in Alpha as long as we are on cgroup v1.

One more question, when the service terminates, do the files in `/run/systemd/resolve/` still exist? Then it could

[2021-06-23 15:34] xh116 commented on #416
Thanks for reply also.
Only systemd-resolved is running, the files  `/run/systemd/resolve/`  exist.
or missing.

For now, I think I can only try to do it manually.

Thanks again.

[2021-06-23 16:11] #416 closed, assigned to nobody

[2021-06-23 16:45] x4e-jonas commented on #384
[code]
This didn't work for me in #397.

Systemd 249 announced a bunch of DHCP related fixes. I can give it a try once there is an alpha/beta.

[2021-06-25 18:47] xh116 commented on #416
I confirm the problem should be with the ignition file.
The way to create swap cause the problem.  ()
After reinstalling with following, problem solved.

[code]

this should be a bug.

[2021-06-29 09:05] t-lo commented on #328
Hey folks,

As has been mentioned above, keyed hashes can be [deactivated](https://github.com/systemd/systemd-stable/blob/v247-stable/src/journal/journal-file.c#L3468) by setting `SYSTEMD_JOURNAL_KEYED_HASH=0` as documented in @jcrowthe 's [comment above](https://github.com/kinvolk/Flatcar/issues/328#issuecomment-771052779).

Keyed hashes are a security / integrity feature employed by journald to

[2021-06-30 15:38] dongsupark opened #420 "flatcar_production_qemu.sh fails to run due to missing slirp"
## Description

When running [`flatcar_production_qemu.sh`](http://stable.release.flatcar-linux.net/amd64-usr/current/flatcar_production_qemu.sh), it fails like that:

[code]

It happens because `app-emulation/qemu` is [built](https://github.com/kinvolk/coreos-overlay/blob/059dce7d6966ec8b757554b387bf5ae4c291c673/profiles/coreos/base/package.use#L17) without USE flag `slirp`.
As a result, it is no

[2021-07-01 10:31] #420 closed, assigned to nobody

[2021-07-02 07:07] dongsupark commented on #369
Huh, since we merged https://github.com/kinvolk/flatcar-scripts/pull/126 to break the dep loop in the toolchain, the mit-krb5 build failure does not happen any more.
Kind of strange, not completely sure.
Anyway I will reopen this issue when the build failure happens again.

[2021-07-02 07:07] #369 closed, assigned to nobody

[2021-07-02 09:41] #308 closed, assigned to nobody

[2021-07-02 09:55] pothos commented on #307
`echo 'print("Hello, World!\n");' | perl` works in the current Stable's developer container, please reopen if there are still any crashes.

[2021-07-02 09:55] #307 closed, assigned to nobody

[2021-07-02 09:55] tormath1 commented on #412
Hi @ronnessim , thanks for raising this issue !

Actually, this question is more on the side of `systemd.network`. Please find the associated documentation:

[[doc](https://www.freedesktop.org/software/systemd/man/systemd.network.html#%5BRoute%5D%20Section%20Options)]

[2021-07-02 09:55] #412 closed, assigned to nobody

[2021-07-02 10:00] dongsupark commented on #196
Will close, as the current Alpha and Beta have enough free space in /usr.

[2021-07-02 10:00] #196 closed, assigned to nobody

[2021-07-02 10:10] pothos commented on #286
No, `CONFIG_FS_ENCRYPTION` is not set yet

[2021-07-02 10:14] #272 closed, assigned to nobody

[2021-07-02 10:15] #222 closed, assigned to nobody

[2021-07-02 10:25] pothos commented on #55
Can you please try if adding `DHCP=no` under `[Network]` and adding the right `Destination=…` under `[Route]` makes a difference?

[2021-07-02 10:27] #120 closed, assigned to nobody

[2021-07-02 10:32] sayanchowdhury commented on #348
There is ongoing work-in-progress PR on Docker 20.10 support in Flatcar https://github.com/kinvolk/coreos-overlay/pull/931

[2021-07-02 10:34] pothos commented on #193
I will close this now but feel free to reopen if there are any reasons why automounting should be replaced by mounting  `/boot` unconditionally.

[2021-07-02 10:34] #193 closed, assigned to pothos

[2021-07-02 10:39] pothos commented on #204
@hwaastad  @straffalli Can you try again with disabling SELinux through the kernel parameter `selinux=0`? This is the only way to really disable it.

[2021-07-02 10:43] tormath1 commented on #385
Hi @Beetix,

Thanks for raising the issue - the missing binaries are back in the latest v0.9.1 [release](https://github.com/kinvolk/container-linux-config-transpiler/releases/tag/v0.9.1) :tada:

[2021-07-02 10:43] #385 closed, assigned to nobody

[2021-07-02 11:06] sayanchowdhury commented on #322
Agreed this could be implemented via Github Actions. This could be low-hanging fruit.

[2021-07-02 11:18] sayanchowdhury commented on #336
@HubertBos Closing this issue. Feel free to reopen if the issue persists.

[2021-07-02 11:18] #336 closed, assigned to nobody

[2021-07-02 12:51] pothos commented on #353
We have this issue about including the Ignition spec in the docs website: https://github.com/kinvolk/Flatcar/issues/281

I'll close this now and we can create a new issue for better error reporting but actually it only makes sense after updating to the latest Ignition version and implement this upstream.

[2021-07-02 12:51] #353 closed, assigned to nobody

[2021-07-02 15:12] #356 closed, assigned to nobody

[2021-07-02 16:01] tormath1 commented on #401
Hi @invidian , thanks for reporting this issue !

I tried to reproduce the issue using our `kubeadm.base` test in the mantle test suite using latest beta (`2905.1.0`) - it uses calico as CNI - the `calico-kube-controller` started successfully.

Could you try to reproduce using one of the latests beta (2823.1.3 or 2905.1.0) also is there something specific to your manifest that we could try to inte

[2021-07-02 21:28] invidian commented on #401
Hmm, last time I tried beta I didn't have this issue anymore, so I think this can be closed then! Thanks for looking into it :)

[2021-07-02 21:28] #401 closed, assigned to nobody

[2021-07-05 07:28] straffalli commented on #204
Hi, yes we disabled SELINUX in order to get it working. But now Rancher changed the way it works with OS like Flatcar or CoreOS  and they avoid the relabeling. So it should also work with Selinux enabled.

[2021-07-05 20:40] pothos opened #422 "[RFE] Stricter dm-verity error handling"
## Current situation

Corruption of `/usr` leads to failed read syscalls which can lead to certain binaries not being able to run or configuration files not being read but otherwise the system stays normal.

## Impact

An attacker can alter the system behavior by corruption certain files.

## Ideal future situation

`veritysetup` gets called with either `--restart-on-corruption` or `--panic-on-cor

[2021-07-06 00:16] mathcantin opened #423 "[RFE] two-factor authentication / google-authenticator"
## Current situation

There are no easy way to install it on flatcar.

## Impact

Two-factor authentication may be a good practice for security.

## Ideal future situation

Preinstalled google authentication or a simple way to install it.

## **Implementation options

The package exists on gentoo: https://wiki.gentoo.org/wiki/Google_Authenticator

## Additional information

[2021-07-06 14:51] tormath1 commented on #361
since it's a `good first issue`, let's bring some elements to work on this:
* building a custom Flatcar image will be required to validate the changes: https://kinvolk.io/docs/flatcar-container-linux/latest/reference/developer-guides/sdk-modifying-flatcar/
* once the SDK installed, we should assert that `curl` is installed without `telnet` USE flag.
[code]
* In the [making changes](https://kinvolk

[2021-07-07 04:57] peanutduck commented on #361
@tormath1, I would like to work on this issue

[2021-07-07 05:00] sayanchowdhury commented on #361
@peanutduck Feel free to start working on the issue. The steps mentioned above should help you understand the issue and get started. For any more queries, join our [Matrix channel](https://app.element.io/#/room/#flatcar:matrix.org).

[2021-07-09 08:23] dongsupark commented on #361
PR https://github.com/kinvolk/coreos-overlay/pull/1099

[2021-07-09 12:50] ravish0007 commented on #350
In latest alpha 2920.0.0 release, StandardError is set to journal

[2021-07-12 20:45] adamnovak commented on #387
In https://github.com/DataBiosphere/toil we're wanting to use Ignition JSON in AWS user data instead of the old could-config, and we're running into AWS's 16KB user data size limit. The Ignition format at spec version 3.1 got support for compression of file data or a whole config, which would help our use case.

[2021-07-12 20:48] adamnovak commented on #326
Is #387 a duplicate of this? Or does it have slightly different semantics?

[2021-07-13 09:55] jepio commented on #375
The effect of the dracut fix still needs to be tested.

[2021-07-13 13:12] raballew commented on #375
@jepio I used the latest version of the alpha channel on Raspberry Pi 4 and it seems that the issue is still present causing the same error as described in https://github.com/kinvolk/Flatcar/issues/227#issuecomment-771912283 when using iPXE to netboot. I will build a custom image later today and rerun the test.

[2021-07-13 13:17] jepio commented on #375
I saw that same error (failed to connect to PHY) even without iPXE and netboot. I will try to push my WIP dracut update PR, that allows the network to be configured on my RPI4, you could test and see if that also solves the issue when netbooting.

[2021-07-13 13:27] raballew commented on #375
@jepio That would speed up the entire process! I will test your WIP PR once pushed.

[2021-07-13 13:28] ryanm101 commented on #286
Was it ever?

As the way of interacting with the encryption has changed between 2512 and 26xx, I wonder if this is either a new requirement as of kernel 5.xx or if you were building with that flag prior (my guess is more likely the former).

Could I request this flag be enabled? as it makes encryption more efficient and for me is a dependency preventing me from upgrading flatcar.

 https://cateee.

[2021-07-13 14:13] jepio commented on #375
@raballew try kinvolk/coreos-overlay#1105.

[2021-07-14 20:56] raballew commented on #375
@jepio My machine is currently rebuilding everything. This will take a while and now I am wondering how both `flatcar_production_pxe.vmlinuz` and `flatcar_production_pxe_image.cpio.gz` are generated. Could you point me in the right direction?

EDIT: I guess it is something similar to `./image_to_vm.sh --from=../build/images/arm64-usr/developer-latest --format=pxe`

[2021-07-15 06:03] raballew commented on #375
@jepio Have a look at https://github.com/raballew/picar/blob/03df9c5dd370ca31104f1cf78b768787c27d2c18/Makefile#L14 where I try to build your WIP PR. The build succeeds, but I still see the same issue occuring everytime when PXE booting even with the new build.

[2021-07-15 06:45] jepio commented on #70
Another usecase is development: taking an update payload and upgrading an existing node. @iaguis wrote the following PoC code:
server.go:
[code]
update.sh:
[code]

[2021-07-15 07:14] jepio commented on #375
`./build_image` builds a generic image, that is then converted to platform (or deployment) specific images by running `./image_to_vm.sh`. You have the right command.

There is currently something wrong with dependencies and the initramfs does not get rebuilt when dracut is updated, sorry about that. You need to run an explicit `emerge-arm64-usr coreos-kernel` between `build_packages` and `build_im

[2021-07-15 07:39] #149 closed, assigned to nobody

[2021-07-15 07:43] sayanchowdhury commented on #361
The fix is merged now and will be available in the next Alpha release https://github.com/kinvolk/coreos-overlay/pull/1099

[2021-07-15 07:43] #361 closed, assigned to nobody

[2021-07-15 09:49] glitchcrab opened #427 "Kernel panics with use_after_free on 2765.2.4"
## Description

We have observed a kernel panic in the networking stack on `5.10.37-flatcar`:

[code]

## Impact

Impact is currently limited large clusters which have pod counts and high levels of pod churn. Impact is currently relatively low, in a cluster with 40 workers we see the issue occurring on 5 workers.

## Environment and steps to reproduce

1. Flatcar runs inside a QEMU VM which itself

[2021-07-15 09:59] pothos commented on #70
Would be good to try if it also works without these steps:
[code]

[2021-07-15 12:42] raballew commented on #375
@jepio Thanks for the hint! Manually forcing a rebuild of the `coreos-kernel` did the trick and I can confirm that the issue is solved for PXE environments as well. The build artifact that I used for testing is available [here](https://github.com/raballew/picar/pkgs/container/picar%2Fpicar/3896902) and can be pulled with [oras](https://oras.land/cli/).