[2022-05-13 08:38] jepio commented on #630
Mantle now publishes GCP images with UEFI features including vTPM enabled. With Azure CommunityGalleries we can also enable vTPM support on our images. AWS has GA'd their vTPM, but requires switching the AMI to UEFI boot mode (dropping compat with Xen HVM instances). We will need to consider publishing separate ami's for UEFI and BIOS boot.

Secure boot has not been tackled yet, but started thinki

[2022-05-13 08:57] pothos commented on #736
Yes, the QEMU "OEM image" has no real customizations except the autologin setting and the fact that it is a qcow2 image. The generic image is quite good for usage with QEMU and is easy to customize through mounting it without any conversion, that's why I wouldn't want to make the QEMU "OEM image" more mandatory by introducing extra features that are otherwise not available.

[2022-05-13 09:00] pothos commented on #728
Yeah, let's not get distracted by future possibilities^^ It's perfectly fine to reimplement what the original pipeline does but make it optional instead of on-by-default.

[2022-05-13 11:38] pothos commented on #701
I moved this to the Upcoming queue again with the intention that we should first make a release with the new pipeline and then get more insights on what changes we want to have.

For the record, on Matrix we discussed a bit more and it could also be interesting to think about alternatives to writing the OS version into the version.txt in git (e.g., it could be written by the SDK container on the f

[2022-05-13 11:49] pothos commented on #728
Since you already found out that it won't be straight port due to things not getting uploaded, you could also decouple the signing a bit more and do it at the end of the job instead of through the scripts parameters. Duplication of logic is not too bad then if the code gets more accessible than the magic hidden inside the current `sign_and_upload_files` function.

[2022-05-13 11:56] pothos opened #739 "[RFE] ci-automation: Publish SDK container to ghcr for releases"
## Current situation

When releases are done we have to build and publish the SDK container to ghcr manually at the moment.
Since we do the release in the original pipeline and no the new one, this kind of makes sense.
However, as soon as we use the new pipeline for releases, it should also publish the SDK container to ghcr automatically.

## Impact

Lack of automation if we move to the new pipeli

[2022-05-13 12:00] pothos opened #740 "[RFE] ci-automation: Rethink if we need the images container"
## Current situation

The image job of the new pipeline builds an image container that is multiple GBs big and takes >10 mins to be loaded in the vms job.
However, I think the vms job could also do its work by running from the packages container from the packages job when it fetchs the built image from bincache first (assuming the images job copies it there).

## Impact

Looking at the vms job mak

[2022-05-13 13:11] pothos opened #741 "networkd units not supported in ign-converter"
## Description

There was a bug report on Matrix that networkd units in a v2 config didn't get translated to v3 by ign-converter (i.e., when our Ignition sees a v2 config and lifts it to v3 internally).

## Impact

Either broken networking or the instance fails to boot? Didn't check

## Environment and steps to reproduce

## Expected behavior

The v2 networkd unit (either a unit file or a drop-in)

[2022-05-13 17:54] till commented on #740
@pothos You are not referring to this right? https://stable.release.flatcar-linux.net/amd64-usr/current/flatcar-container.tar.gz

Just in case, I am using that. 😅

[2022-05-14 00:16] pothos commented on #740
Yes, not this^^ But interesting, what do you use it for and how?

[2022-05-14 12:27] till commented on #740
Building a (Docker) container for [footloose](https://github.com/weaveworks/footloose). To run a few tests for Ansible.

[2022-05-15 20:10] aebruno opened #742 "Booting via PXE fails with pxe is not a valid platform"
## Description

Booting a bare metal server with PXE fails when trying alpha/beta releases with this error:
[code]

## Impact

Unable to test alpha/beta releases on bare metal. I'm interested in testing Systemd-sysext which appears to require flatcar version > 3185.0.0.

## Environment and steps to reproduce

Environment is bare metal (not qemu) following directions [here](https://flatcar-linux.or

[2022-05-16 06:33] obourdon commented on #733
@pothos I fully understand and agree, I'll dig deeper into this whenever times permit however I am definitely not an expert in kitchen/inspec/... source code investigations but I'll see what I can come up with

[2022-05-16 09:06] tormath1 commented on #742
Hi @aebruno thanks for the report. The issue has been fixed last week, it has been raised directly from our Matrix [channel](https://app.element.io/#/room/#flatcar:matrix.org) conversation.
Here's the PR: https://github.com/flatcar-linux/bootengine/pull/45 and it should be available in the next set of beta / alpha releases.

In the meantime, you can explicitly define the OEM id to `metal` and it s

[2022-05-16 12:04] aebruno commented on #742
@tormath1 Thanks for the reply. I can confirm this works great. Appreciate the help!

[2022-05-16 12:04] #742 closed, assigned to nobody

[2022-05-17 14:25] gabriel-samfira commented on #442
Hi,

I attempted to create a workflow for building flatcar packages and images. The hope was to create a series of workflows that would migrate what is currently running in Jenkins (not really accessible to contributors), into github workflows.

Unfortunately, the runner uses a [Standard_DS2_V2](https://docs.microsoft.com/en-us/azure/virtual-machines/dv2-dsv2-series) Azure VM size, which has only

[2022-05-18 15:29] invidian commented on #734
According to https://www.packer.io/plugins/builders/azure/arm#azure-arm-builder-specific-options:

I've previously tested building VHD from VHD which works fine and I just tested building a SIG image from another SIG image, which also works without issues. This is not something supported by image-builder project at the moment though, I had to apply the following patch:
[code]

So if there is a pro

[2022-05-19 12:09] albertpx opened #743 "shutdown-script metadata in GCP not working. Was working in old coreos."
You can set a shutdown-script metadata in GCP, that will run upon instance shutdown:
https://cloud.google.com/compute/docs/shutdownscript

This used to work in CoreOS, but with Flatcar the script is not triggered.

Could be related to #737 and #738 - but I'm not sure if that is what's missing.

[2022-05-19 13:26] miao0miao opened #744 "[RFE] configurable GRACE period before taking the next update"
A user has automatic updates applied as soon as update_engine sees it, but they do not reboot the machines every 4 weeks or so.
As it happens, the machine may be in a NEEDS_REBOOT state, while another update is already available.
Immediately on reboot, the machine will begin to take that next update, thereby eliminating the chance of performing the rollback procedure.

A UPDATE_GRACE_PERIOD option

[2022-05-19 15:36] mister2d opened #747 "Is there a way to capture some debug on first boot? Instance never reboots to apply ignition."
### Discussed in https://github.com/flatcar-linux/Flatcar/discussions/745

<div type='discussions-op-text'>

<sup>Originally posted by **mister2d** May 19, 2022</sup>
I am attempting to provision bare metal Dell servers. The PXE process works fine with a `dnsmasq` and `matchbox` combo, but once the servers boot up, it appears some process fails and retries over and over causing some sort of loop.

[2022-05-19 15:37] mister2d opened #748 "Ignition: networkd unit not applied (Link aggregation config not applied as a clc snippet)"
### Discussed in https://github.com/flatcar-linux/Flatcar/discussions/746

<div type='discussions-op-text'>

<sup>Originally posted by **mister2d** May 19, 2022</sup>
Trying to bring up a DHCP `bond0` interface with no success. I based the config from this [example](https://www.flatcar.org/docs/latest/provisioning/ignition/network-configuration/#bonded-nics) in the Flatcar docs. Using this as a cl

[2022-05-20 09:42] tormath1 commented on #741
as a follow-up action, we should update our doc to reflect this breaking change (like: https://www.flatcar.org/docs/latest/provisioning/ignition/network-configuration/)

[2022-05-20 09:44] Winnie81 commented on #608
I'd like to know do you have any plan for this issue? Thanks a lot.

[2022-05-20 14:09] #741 closed, assigned to nobody

[2022-05-20 14:39] #717 closed, assigned to nobody

[2022-05-20 14:40] tormath1 commented on #717
PR has been merged - this feature should be available in the next major alpha release.

[2022-05-20 14:40] tormath1 commented on #741
PR has been merged - and the fix should be available in the next beta / alpha release.

[2022-05-21 06:11] mister2d commented on #187
@jepio
I believe this issue should be re-opened. UEFI boot does not work when using the `flatcar_production_iso_image.iso` image on UEFI bare metal. In my case, a Dell PowerEdge R450 with Secure Boot disabled running Flatcar LTS 3033.3.0. Flatcar will only boot with the iso when I change the mode to standard BIOS.

Please don't confuse what works (PXE/iPXE bootstrapping) with installing a standalo

[2022-05-21 08:04] mister2d commented on #187
Just following up to my post because I witnessed some odd behavior. While the Flatcar `.iso` boots only with standard BIOS to perform a `flatcar-install`, I had to change BIOS back to UEFI in order to boot into installed instance.

[2022-05-23 02:23] pothos opened #750 "Ignition: Networkd unit not working (Link aggregation config not applied as a clc snippet)"
### Discussed in https://github.com/flatcar-linux/Flatcar/discussions/746

<div type='discussions-op-text'>

<sup>Originally posted by **mister2d** May 19, 2022</sup>
Trying to bring up a DHCP `bond0` interface with no success. I based the config from this [example](https://www.flatcar.org/docs/latest/provisioning/ignition/network-configuration/#bonded-nics) in the Flatcar docs. Using this as a cl

[2022-05-23 02:24] #750 closed, assigned to nobody

[2022-05-23 02:27] pothos commented on #748
PR for ign-converter in https://github.com/flatcar-linux/ign-converter/pull/6#event-6650669848

[2022-05-23 02:28] pothos commented on #748
Previous issue: https://github.com/flatcar-linux/Flatcar/issues/741

[2022-05-23 02:30] pothos commented on #748
I assume this happen with a Beta (3185) or Alpha release?

[2022-05-23 05:10] pothos opened #751 "[RFE] ci-automation: Build option to specify which tests should run"
## Current situation

The new pipeline only builds and tests "qemu_uefi", "qemu", and "vmware" images by default.

## Impact

To build/test other images, the vms job needs to be restarted manually.

## Ideal future situation

The top job has an optional format parameter where either the empty value would default to building/testing the three images mentioned above or the empty value would default

[2022-05-23 07:20] tormath1 commented on #748
Hi, yes Ignition translation fix should be available in the Beta (3227) / Alpha release :)

[2022-05-23 07:49] mister2d commented on #748
I resolved with the following yaml. Had to change the unit name prefix to something higher than `10-`. I chose `60-` and it worked. Safe to close? Or is it a real bug?

[code]

[2022-05-23 07:54] mister2d commented on #747
Surprisingly I'm not having this issue anymore and I don't know why. Consider this resolved (at least for now).

[2022-05-23 07:54] #747 closed, assigned to nobody

[2022-05-23 07:54] pothos commented on #724
Sayan posted the last state for the GCP offer update in Matrix:

[2022-05-23 07:57] pothos commented on #748
Ok, so this was on Stable, good.
Were there any other unit files under /etc/systemd/networkd/ or /run/systemd/networkd/ that had higher priority?

[2022-05-23 08:03] tormath1 commented on #748
Maybe this `afterburn` conflict (https://github.com/flatcar-linux/Flatcar/issues/731)  - what's your platform / provider @mister2d ?

[2022-05-23 08:04] mister2d commented on #748
Bare metal.

[2022-05-23 09:23] ahjohannessen opened #752 ".ssh/authorized_keys and .ssh/authorized_keys.d/flatcar-ignition"
## Description
On my Flatcar machines I noticed that `core` has both `.ssh/authorized_keys` and `.ssh/authorized_keys/flatcar-ignition` with the same content. If I remove `.ssh/authorized_keys` then sshd does not use `.ssh/authorized_keys/flatcar-ignition`.

On Fedora CoreOS the following is done wrt. authorized_keys.d:
[code]

and this is in `/etc/ssh/sshd_config`:
[code]

## Environment
Flatcar

[2022-05-23 09:42] pothos commented on #752
Sounds like it works as expected. Flatcar uses the update-ssh-keys tool to assemble the fragments under `.ssh/authorized_keys.d/` to a merged `.ssh/authorized_keys` file. The `AuthorizedKeysCommand` logic to read the drop-in files directly is not used (only by the GCE OEM tools).

[2022-05-23 09:58] ahjohannessen commented on #752
Ok, I see. If I need to change the content of `.ssh/authorized_keys` do I need to update `.ssh/authorized_keys.d/flatcar-ignition` and then run `update-ssh-keys` manually afterwards?

[update-ssh-keys](https://github.com/coreos/update-ssh-keys) seems to be deprecated.

[2022-05-23 10:24] pothos commented on #752
Yes, correct. Edit: or create a new file in the folder if you just want to add something

The fork lives on under https://github.com/flatcar-linux/update-ssh-keys - if a solution is found for multiple `AuthorizedKeysCommand`s we may want to revisit this and migrate to ssh-key-dir.

[2022-05-23 10:25] ahjohannessen commented on #752
Ok, I'll figure it out. Thanks :)

[2022-05-23 10:25] #752 closed, assigned to nobody

[2022-05-24 07:27] #743 closed, assigned to nobody

[2022-05-24 07:36] tormath1 commented on #743
hi @albertpx,

Thanks for raising this. The issue has been identified and fixed there: https://github.com/flatcar-linux/coreos-overlay/pull/1912 and should be part of the next releases.

Feel free to re-open the issue if it does not work as expected :)

[2022-05-24 08:41] #723 closed, assigned to pothos

[2022-05-24 14:27] #725 closed, assigned to nobody

[2022-05-24 14:52] #738 closed, assigned to nobody

[2022-05-24 14:53] tormath1 commented on #738
Hi @Patricol,

Thanks for opening this package request. `acpid` is now part of Flatcar and should be soon available in an Alpha release. :)

[2022-05-24 18:36] mohsenmottaghi commented on #598
We have the same issue in our production cluster, and we are stuck in v1.21.X. As @tormath1 and @tsde mentioned, we can disable `SELinux` by adding a systemd drop-in, but it's not a good idea for the production environments. So we can't upgrade to newer versions.

[2022-05-24 20:15] Patricol commented on #738
Thank you so much!

[2022-05-26 16:23] MattCrum1 opened #755 "[RFE] Flatcar update.conf - Certificates / SSL Verification"
## Current situation

I am reviewing Flatcar/Nebraska and have stood up Nebraska to provide updates to air-gapped servers in our customer environments. These remote servers cannot route directly to Nebraska and do not have internet access.

I've set up a Traefik reverse proxy to bridge the gap between the server and Nebraska, there will be one of these per customer environment:

Remote server -> R

[2022-05-27 03:03] pothos commented on #755
There are docs already, can try if it works after adding your cert? https://www.flatcar.org/docs/latest/setup/security/adding-certificate-authorities/

[2022-05-27 06:11] pothos commented on #668
Sayan's PR https://github.com/flatcar-linux/scripts/pull/274 is in now :tada:

[2022-05-27 06:12] #668 closed, assigned to sayanchowdhury

[2022-05-27 16:58] MattCrum1 commented on #755
Thanks - this solves the 2nd bullet above

[2022-05-27 17:15] MattCrum1 opened #756 "CT - custom update group name"
## Description

I'm setting up Nebraska to control updates on Flatcar instances and want to make use of Update Groups to control when updates are available to specific customers.

I have done a script to convert some host details into an Ignition YML file, which I feed into CT using Docker. It looks like CT does not support custom update group names?

- Setting the group name to "testgroup" or the

[2022-05-27 17:22] MattCrum1 commented on #756
Worth noting that manually updating the JSON afterwards with the custom group name works fine; the new Flatcar machine has the name in /etc/flatcar/update.conf

[2022-05-30 02:02] pothos commented on #756
That should work and maybe we need to fix something in ct.
As workaround, you can directly use the file directive in CLC:
https://www.flatcar.org/docs/latest/setup/releases/update-strategies/#disable-automatic-updates
In the example you would replace `SERVER=disabled` with `GROUP=mygroup`.

Edit: Ah, the lines
[code]
are the config you used but the whitespace didn't get displayed.

[2022-05-30 02:07] pothos commented on #756
Yes, thanks for reporting, the update: group: directive doesn't allow custom group names 🙀:
https://github.com/flatcar-linux/container-linux-config-transpiler/blob/flatcar-master/config/types/update.go#L51

The spec says `group (string): the update group to follow. Most users will want one of: stable, beta, alpha.` which means that it's not exclusive.

[2022-05-30 06:06] alpana17 opened #757 "Packer can't SSH into stable-3139.2.0"
Earlier I was using Flatcar 3033.2.4.
Now, my packer template is not able to login to launched instance. Error is:
Error waiting for SSH: Packer experienced an authentication error when trying to connect via SSH. This can happen if your username/password are wrong. You may want to double-check your credentials as part of your debugging process. original error: ssh: handshake failed: ssh: unable to

[2022-05-30 07:13] tormath1 commented on #757
Hi @alpana17,

`stable-3139.2.0` comes with `openssh-8.8` so I think you're hitting this issue: https://github.com/hashicorp/packer/issues/11733 (https://groups.google.com/g/golang-announce/c/-cp44ypCT5s/m/wmegxkLiAQAJ for more details).

Upgrading Packer to [`1.8.1`](https://github.com/hashicorp/packer/releases/tag/v1.8.1) should fix the issue as it embeds the lib update.

Let us know how it goes

[2022-05-30 16:38] invidian commented on #718
Closing as this turn out to be incompatibility between my local machine and I believe https://github.com/hashicorp/packer-plugin-ansible/issues/100, there is nothing to do on Flatcar side to fix it.

[2022-05-30 16:38] #718 closed, assigned to nobody

[2022-05-31 07:34] Winnie81 opened #759 "New Package Request: [open-vm-tools 12.0.5]"
VMware Tools 12.0.5 is GA as of May 24, 2022. Please rebase OVT to our newest release in future. Thanks a lot.

About vmtools release information, please refer to https://docs.vmware.com/en/VMware-Tools/.

Thanks.

[2022-05-31 07:41] dongsupark commented on #759
Thanks for creating the issue.
Our Github Actions already automatically updated open-vm-tools to [12.0.5](https://github.com/flatcar-linux/coreos-overlay/pull/1915).
The next Alpha release will included the new version.

[2022-05-31 07:41] #759 closed, assigned to nobody

[2022-05-31 07:48] Winnie81 commented on #608
Since this issue blocks some of our testing, hope it could be fixed. Thanks a lot.

[2022-05-31 09:20] cpswan opened #760 "[RFE] better diagnostic suggestions on error from flatcar-update"
## Current situation

At present when `flatcar-update` fails it just says:

[code]

## Impact

Users have to figure out for themselves what caused the failure, and how they might deal with that.

When it's not clear how to do that they might open a bug ticket like #758 causing support load on the Flatcar team.

## Ideal future situation

The ideal future situation would be for `flatcar-update` to

[2022-05-31 09:35] pothos commented on #760
Thanks, these are welcome suggestions.

The `Try:` output could also recommend to set the key argument. A small check to know which of the dev or the production key argument could be needed is looking if `/usr/share/update_engine/update-payload-key.key.pem` exists which is the case for dev images where the dev key is used, so it could suggest the prod key and vice versa.

I think it's also possibl

[2022-05-31 11:19] jepio commented on #608
Hi @Winnie81,

I took the time to investigate this again. The change comes from this commit https://github.com/util-linux/util-linux/commit/c90a8f1a3cdf116e050708098f0188349b55abc3, part of util-linux 2.37. You will note that in both cases (flatcar 2983.2.0 and 3033.2.0) the /dev/sda node is present after hotunplug, but has a size == 0. Old lsblk filters this out from it's output, and new lsblk do

[2022-06-01 03:30] Winnie81 commented on #608
Thanks for your update. From my testing with Flatcar 2983.2.0, after hot remove, its size doesn't change:
core@localhost ~ $ lsblk
NAME    MAJ:MIN RM  SIZE RO TYPE  MOUNTPOINT
sda       8:0    0  8.5G  0 disk
|-sda1    8:1    0  128M  0 part
|-sda2    8:2    0    2M  0 part
|-sda3    8:3    0    1G  0 part
| `-usr 254:0    0 1016M  1 crypt /usr
|-sda4    8:4    0    1G  0 part
|-sda6    8:6    0

[2022-06-01 07:58] jepio commented on #608
I understand that on 2983.2.0 `sdb` does not show up in `lsblk` output after rescan. Please check if `ls -l /dev/sdb` still shows that the underlying device node exists after the rescan. In my testing this is the case regardless of Flatcar version (and also on other distros), and so the `sdb` entry being shown in `lsblk` output is purely dependent on the util-linux version. If you could confirm th

[2022-06-01 08:10] Winnie81 commented on #608
Yes, as described  in https://github.com/flatcar-linux/Flatcar/issues/608#issuecomment-1143078433, for 2983.2.0, after rescan, sdb doesn't exist.

[2022-06-01 12:54] pothos opened #761 "Release Flatcar Container Linux Alpha 3255.0.0, Beta 3227.1.0, Stable 3139.2.2, LTS-2021 2605.28.1 LTS-2022 3033.3.1"
## Release Flatcar Container Linux Alpha 3255.0.0, Beta 3227.1.0, Stable 3139.2.2, LTS-2021 2605.28.1, LTS-2022 3033.3.1

The releases are planned for 2nd June 2022

### Tasks
- [x] Go / No Go tracking [hackmd created](https://hackmd.io/6SCdWxODQzamuHMdmb3eIw) (@pothos)
- [x] All planned changes are merged & blocker bugs are fixed (@pothos, @sayanchowdhury )
- [x] Branch off main (only new major)

[2022-06-01 12:57] pothos commented on #761
Links to the Jenkins builds:

- Alpha 3255.0.0 http://jenkins.infra.kinvolk.io:8080/job/os/job/manifest/5756/cldsv/ (was Alpha 3248.0.0 http://jenkins.infra.kinvolk.io:8080/job/os/job/manifest/5732/cldsv/)
- Beta 3227.1.0 http://jenkins.infra.kinvolk.io:8080/job/os/job/manifest/5687/cldsv/
- Stable 3139.2.2 http://jenkins.infra.kinvolk.io:8080/job/os/job/manifest/5686/cldsv/
- LTS-2022 3033.3.1 ht

[2022-06-01 23:49] amayausky opened #762 "[RFE] Vagrant artifacts for ARM64"
## Current situation

Currently Flatcar only provides Vagrant artifacts, e.g. box files for Parallels and VMWare, for x86.

## Impact

As ARM-based processors become more available, e.g. M1 Macs, it becomes more difficult to support high-level virtualization tools like Vagrant + VMWare (or Parallels). These providers only plan to offer ARM64 on ARM64 virtualization support so the x86 artifacts are

[2022-06-02 06:23] pothos commented on #688
Current situation: `58 MiB (must be < 60 MiB or updates will break)`

[2022-06-02 07:55] tormath1 commented on #656
ignition-2.14.0 has been merged including the Azure IMDS userData feature - it should be available in the next Alpha release. We still have this PR remaining PR https://github.com/flatcar-linux/mantle/pull/321 to enable tests. :)

[2022-06-02 07:59] jepio commented on #762
I love the idea. Vagrant also has experimental support for cloud-init which I think could be used to inject ignition data as well, but would require some additional work on ignition (although "ibmcloud" platform already appears to read the cidata iso).

On the flatcar team side we don't have people working on M1 Macs (except @dongsupark?) so that will make it tricky for us to work on this. If anyo

[2022-06-02 12:44] miao0miao opened #763 "[RFE] adding devstats to Flatcar"
adding devstats to Flatcar https://github.com/cncf/devstats#deploying-on-your-own-projects

[2022-06-02 16:38] dongsupark commented on #761
Blocked on `Update payload signed/published` step, due to issues on Nebraska.

[2022-06-03 08:15] sayanchowdhury commented on #761
The LTS-2021 2605.28.1 would need a separate issue, as the release was still building when we started the Alpha, Beta, Stable, and LTS-2022 was already ready.

The 2605.28.1 would be released on 06-06-2022

[2022-06-03 08:20] tormath1 commented on #761
Regarding the AWS marketplace update the following versions are currently excluded:
 * lts-2605.28.1 (release on monday), see :arrow_up:
 * ARM64 lts-3033.3.1 (needs a new a offer)

[2022-06-03 12:01] dongsupark commented on #761
Nebraska issues were all fixed.
Rolling updates started.

[2022-06-03 13:53] jepio opened #764 "Enable (more) Azure extensions to work on Flatcar"
## Current situation

Currently Azure extensions do not work on Flatcar because:
- Flatcar does not ship the required dependencies
- the extensions explicitly list supported distributions, and these lists dont include flatcar for various reasons

## What we tried

https://github.com/flatcar-linux/coreos-overlay/pull/1815
By adding a full python interpreter, with all standard modules, to the OEM pa

[2022-06-03 16:55] amayausky commented on #740
@till That's pretty interesting. Do you mind sharing how you get the flatcar container running? I'm able to build an image and run it but it's missing a lot, including systemd. There's no real good docs on how to work with it. Hoping you might have something if you're using it to test Ansible.

[2022-06-04 03:49] bignay2000 opened #765 "Hard drives out of order after reboot"
## Description

I have a newer flatcar vm in VMWare ESXi that has 4 hard drives.  These drives have different size amounts.  df command correctly associates the Filesystem and Mounted on, but the Size of disk changes when I reboot.  Navigating to the the Mounted on path shows the wrong files and folders.  If I keep rebooting, eventually the drives are correct and return to the initial installed or

[2022-06-04 10:02] till commented on #765
I share your frustration. I think this actually works 9/10 times but that one time is really "something" when the order of the drives is wrong.

To overcome this you can add a label to each drive via ignition and then mount it by label via `/dev/disk/by-label`, vs `/dev/sdX`. This is the (reliable) way and also suggested somewhere in the flatcar docs.

[2022-06-07 09:20] pothos commented on #765
This is not a bug but standard Linux behavior. The kernel detects the disks in not guaranteed order and will start with sda, then sdb etc. You should set up a partition/filesystem label when partitioning/formatting the disk and use this for the mount unit instead of `What=/dev/sdX`.

The example in https://flatcar-linux.org/docs/latest/setup/storage/mounting-storage/ is a bit special because it us

[2022-06-07 13:04] 4ad commented on #112
Any progress on this?

[2022-06-07 14:08] jepio commented on #112
I recently prototyped getting podman working as a sysext, in this repo https://github.com/jepio/flatcar-podman-overlay/releases/tag/v1.0. The `podman.raw` file can be dropped on a flatcar 3200.0.0 system at `/etc/extensions/podman.raw` and after rebooting (or refreshing sysexts) one can use podman.

[2022-06-07 23:10] bignay2000 commented on #765
@till  @pothos  Thanks for the feedback.  I will test out this with a new fresh install and confirm by-label.

While I realize Flatcar is intended to be ephemeral, any idea how to change this post deployment?

[2022-06-08 02:35] bignay2000 commented on #765
@till @pothos
Updated my config to use by-label, but now the disks are out of order on the first time boot.  VMWare Disks do not match the order in the Container linux config yaml.
While this may fix the drives changing on reboot, how do I associate a VWMARE disk # with a Systemd unit order?

Specifically /srv/dockerlogs changed to Disk 4 96 GB and was Disk 5 20 GB in my original box.

VMWare Disk

[2022-06-08 03:20] bignay2000 commented on #765
VMWare uses a single SCSI controller and adds drives to it when you add additional drives to a VM.  So there needs to be a way to mount drives that honors the SCSI order.

Example when the drives are correct
[code]

Example when the drives are out of order.
[code]

[2022-06-08 08:02] pothos commented on #765
You can use `/dev/disk/by-path/` entries if you are sure about their naming. There is no correct or wrong order of sda, sdb, sdc, as far as I know because the kernel assigns the next name to the fastest drive appearing which could also be a USB stick that gets detected in the middle of the two SCSI devices being detected, and it will get sdb as name then.

[2022-06-08 08:58] jepio commented on #765
@Winnie81 do you know of any solutions to this issue?

[2022-06-08 12:52] pothos commented on #65
Actually it's only recommended for use it starting from Flatcar 3227.1.0 Beta.
We have docs for sysext images here: https://www.flatcar.org/docs/latest/provisioning/sysext/
In this case it's just a single file besides the sysext metadata file, so you can also put them into a directory instead of using a squashfs.

Here a CLC yaml to be transpiled to Ignition:
[code]

[2022-06-08 12:58] pothos commented on #65
Would be good to add this example to the docs.

[2022-06-08 13:26] pothos opened #766 "Move OEM mount point out of /usr"
## Current situation

The OEM partition is mounted under `/usr/share/oem/` which requires a workaround for systemd-sysext because the management of the overlay mounts on `/usr` results in the OEM mount point to be lost without the workaround.

## Impact

We had to add a special handling for the OEM mount point in the systemd-sysext service. Users manually invoking `systemd-sysext` will lose the pa

[2022-06-08 13:43] pothos opened #767 "Make flatcar-update provide OEM payloads"
## Current situation

The `flatcar-update` tool supports downloading the generic update payload or specifying it as file in the CLI parameter.
Nebraska added support for additional payloads that are added after the first one, and are planned to be used for OEM update payloads (as sysext images).

## Impact

For developing the update-engine changes one would currently need a local Nebraska instance

[2022-06-08 14:10] pothos opened #768 "Support systemd-sysext OEM update payloads in update-engine"
## Current situation

The OEM partition doesn't get updated and contains a base Ignition config and config files that get copied over to the rootfs or binaries/tarballs that get used directly from the OEM partition.

## Impact

The OEM tools get outdated and may even be break.

## Ideal future situation

Change update-engine to recognize the additional files (systemd-sysext images) in the Omaha re

[2022-06-08 14:26] pothos opened #769 "Implement the Azure OEM tools as systemd-sysext image"
## Current situation

The Azure OEM partition holds a custom Python distribution for waagent and a base Ignition definition to create a systemd service.
The custom Python causes problems because of the non-standard location and missing parts of the library.

## Impact

Some Azure extensions won't run with the custom Python distribution and we also don't have an update mechanism for the OEM partiti

[2022-06-08 14:38] #727 closed, assigned to nobody

[2022-06-08 14:55] jepio commented on #608
@Winnie81

I've just created an ESXI environment with a Flatcar 2983.2.0 VM and using LSILogicParallel controller. The attached harddrive is called sdb.

After hot-removing the harddrive from the controller, and running the rescan command, sdb disappears from the `lsblk` output but `ls -l /dev/sdb` confirms that the device node still exists. I also see:
[code]

So based on that, I can't see any bu

[2022-06-09 09:48] pothos commented on #767
We can restrict the OEM ID to the current one or the one passed as CLI flag

[2022-06-09 13:24] t-lo commented on #763
Also see https://github.com/cncf/devstats-example/blob/master/INSTALL_UBUNTU18.md in particular.

[2022-06-09 13:34] pothos commented on #764
Have started a rebuild of the latest Alpha: http://192.168.42.7:8080/job/os/job/manifest/5823/cldsv/ with
[0001-dev-lang-python-oem-use-python-from-python-build-sta.patch](https://github.com/flatcar-linux/Flatcar/files/8870841/0001-dev-lang-python-oem-use-python-from-python-build-sta.patch.txt)

[2022-06-10 12:16] t-lo opened #771 "[RFE] Document Flatcar build / release chain of trust / supply chain"
## Current situation

Flatcar supply chain security is not documented.

## Impact

Users and contributors are unable to educate themselves on how Flatcar ensures validity of the bits we ship.

## Ideal future situation

Input validation, secure build, output signing are documented on the producer end as well as image / update validation on the consumer end.

## Implementation options

Write docs,

[2022-06-10 12:20] t-lo opened #772 "[RFE] Write maintainer on-boarding guide"
## Current situation

On-boarding new contributors or maintainers is done ad-hoc by existing maintainers.

## Impact

On-boarding requires maintainer mentorship. On-boarding quality varies and on-boarding info is inconsistent.

## Ideal future situation

An on-boarding doc exists to walk people interested in contributing through contribution / maintenance processes.

## Implementation options

Wri

[2022-06-10 12:53] TheKangaroo opened #773 "[RFE] disable user namespace flag"
## Current situation

With CVE-2022-1966 we see another vulnerability which can be mitigated by disabling user namespaces at all, e.g. with the
`kernel.unprivileged_userns_clone=0` flag implemented in some linux distributions.
As long as https://github.com/kubernetes/enhancements/issues/127 is still open it would be great to disable user namespaces on kubernetes worker completely to reduce attack

[2022-06-10 13:33] jepio commented on #773
The `unprivileged_userns_clone` sysctl is an out-of-tree kernel patch. Are you suggesting that Flatcar carry that patch?

[2022-06-10 13:44] jepio commented on #773
The upstream supported way of achieving this is:
[code]
This is stronger than `unprivileged_userns_clone` because it disables the feature altogether.

[2022-06-12 08:47] thefirstofthe300 opened #774 "[RFE] Unmasking systemd units"
## Current situation

I am in the situation currently where I am using Flatcar as provided by the K8s cluster-api-aws project. They are shipping flatcar-stable images that currently have Ignition/CLC v0.36.1 bundled with it. As a result, [this commit](https://github.com/flatcar-linux/ignition/commit/18ac09ab0f699f85dd253e688ae89ac6066be14a) isn't available.

This particular project has had issues

[2022-06-13 08:34] Winnie81 commented on #55
Verified it with 3139.2.0, it works. Thanks a lot.

[2022-06-13 08:34] #55 closed, assigned to nobody

[2022-06-13 08:48] ahrkrak commented on #771
See https://documentation.suse.com/sbp/server-linux/html/SBP-SLSA4/index.html for example

[2022-06-13 11:05] pothos commented on #442
Using your garm tool to set up a provisioner that sets up ephemeral runners on EM (or maybe Azure) is good, thanks for pioneering in this area.
We now need to split the tasks up like setting up the provisioner, coming up with a workflow to build, publish the image and build logs, run kola qemu tests and publish the test logs etc.

[2022-06-13 12:22] #689 closed, assigned to nobody

[2022-06-13 12:22] #690 closed, assigned to t-lo

[2022-06-13 12:41] pothos commented on #689
I've checked with
[code]
and when ignoring some harmless differences I see the following files missing:
[code]
and of course the kernel configs are a bit different which results in different modules being available in `/usr/lib/modules/a.b.c-flatcar/kernel/drivers/`.

I think the oslogin parts are only relevant for GCE which doesn't have an arm64 image at the moment, so ok to ignore, but the firmw

[2022-06-13 13:12] TheKangaroo commented on #773
Oh I wasn't aware of `user.max_user_namespaces`, I think this will do the job for me.
Just to make sure I understand correctly:
`unprivileged_userns_clone = 0` prevents non root users to spawn new (unprivileged) user namespaces
and
`max_user_namespaces = 0` disables user namespaces altogether,
right?

[2022-06-13 14:00] #553 closed, assigned to nobody

[2022-06-13 14:51] jepio commented on #773
That is correct.

[2022-06-13 14:55] TheKangaroo commented on #773
Perfect, thank you for pointing this out.

I'll close the issue.

[2022-06-13 14:55] #773 closed, assigned to nobody

[2022-06-13 19:22] kopiczko commented on #445
@t-lo I opened an issue for openstack https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/1261. I'm working on this currently.

[2022-06-13 19:24] kopiczko commented on #445
There will be changes required to the image-builder as well. Currently I'm basing my work on the QEMU image but grub.cfg requires modification. There is also a WIP PR to fix ongoing issues with the build https://github.com/kubernetes-sigs/image-builder/pull/907

[2022-06-14 06:44] t-lo commented on #445
Please feel free to reach out if you feel stuck. @pothos and @dongsupark are good peers for Flatcar related image builder issues, and @johananl did quite some work on image builder lately, too.

[2022-06-14 12:03] defo89 commented on #729
Just confirmed that same is happening with latest beta 3227.1.0.

[2022-06-14 13:38] jepio commented on #729
Hi @defo89, looked into this:
Right now the ignition conversion does not handle ignition version 2.1.0, that's why ignition-v2.json is failing on newer Flatcar's. You can make it work by manually editing it in the following way:
[code]
The older "size" and "start" properties are expressed in sectors, which is mostly 512 bytes.

As to ignition-v3.json not working: are you sure your disk is 10TB in

[2022-06-14 16:24] t-lo opened #775 "[RFE] Cherry-pick ARM64 support for cifs-utils, realmd, sssd, adcli, go-tspi to June 20th Beta release"
## Current situation

ARM64 OS image is not on par with x86-64 image since it lacks a number of tools present in x86. While support for these binaries has recently been added to alpha-next, it is likely to miss the next major Stable release by end of July (based on the June 20 Beta), likely pushing out availability of the tools on ARM64 to September or even October.

## Impact

Lack of support for

[2022-06-14 16:25] t-lo commented on #775
CC @mtougeron

[2022-06-15 07:19] t-lo commented on #775
Backports / cherry-picks ready to review in https://github.com/flatcar-linux/portage-stable/pull/336 and https://github.com/flatcar-linux/coreos-overlay/pull/1961.

[2022-06-15 08:08] jepio commented on #534
So with this https://github.com/falcosecurity/falco/pull/2043 merged, this should work out-of-the-box when Falco 0.33.0 is released. You can already test this with the master tag of the falco container images:
[code]
Pre-built kernel modules/bpf probes would require adding to falco test-infra, I wonder if there are enough users of falco+flatcar that this would be justified.

[2022-06-15 11:34] pothos commented on #763
WIP under http://147.28.155.199:3001/

[2022-06-15 11:45] #761 closed, assigned to nobody

[2022-06-15 11:48] pothos commented on #724
@sayanchowdhury Can we close this?

[2022-06-15 14:07] t-lo commented on #775
Scheduled for Beta-3227.1.1 in the week of June 20th.

[2022-06-15 14:07] #775 closed, assigned to t-lo

[2022-06-15 15:26] jepio opened #777 "weekly testing failed on AWS"
## Description

Weekly all platform test run has failed on AWS. As far as I can tell, all instances failed to boot. I've managed to capture the following boot log (only the last 64KB is available): [m4.xlarge-boot.log](https://github.com/flatcar-linux/Flatcar/files/8910805/m4.xlarge-boot.log), which points at disk corruption.

## Additional information

Failing job: http://jenkins.infra.kinvolk.io

[2022-06-15 15:27] jepio commented on #777
Initially thought this was m4 instance related, but t3 instances have the same issue. Re-running prerelease/aws job to see if it fixes the disk corruption.

[2022-06-15 21:58] bignay2000 commented on #765
Going to test this tonight to see if this honors the SCSI order...

/dev/disk/by-path $ ls -alth
total 0
lrwxrwxrwx. 1 root root  10 Jun 13 02:36 pci-0000:03:00.0-scsi-0:0:0:0-part6 -> ../../sda6
lrwxrwxrwx. 1 root root  10 Jun 13 02:36 pci-0000:03:00.0-scsi-0:0:0:0-part1 -> ../../sda1
lrwxrwxrwx. 1 root root  10 Jun 13 02:36 pci-0000:03:00.0-scsi-0:0:0:0-part2 -> ../../sda2
lrwxrwxrwx. 1 root roo

[2022-06-16 11:25] tormath1 opened #779 "Flannel >= 0.17.0 is crashing with enforced SELinux"
## Description

While integrating `kubernetes-1.24.1`, we bumped the `flannel` tested version from `0.16.3` to `0.18.1` - we notified that the `kube-flannel` daemon set is unable to start because of missing SELinux rule:
[code]

The issue has always been there but silently ignored until this commit: https://github.com/flannel-io/flannel/commit/9dfcc8787f66211a749933a29d97060b27dec0f5#diff-27988e53

[2022-06-18 11:38] Teeed commented on #737
This one is badly needed!

[2022-06-19 20:04] bignay2000 commented on #765
Early testing of using /dev/disk/by-path/ is working!  Going to try a few more restarts, but so far is consistently mapping the drives correctly on first install and subsequent reboots.

Not sure if VMWare ESXi/Workstation/Fusion would always uses "pci-0000:03:00.0-scsi-0:0:**#**:0" as their SCSI card.

ls -d /sys/block/sd*/device/scsi_device/*

[code]
ls /dev/disk/by-path
[code]

[code]

[2022-06-20 06:57] Winnie81 opened #781 "New Package Request: [open-vm-tools-containerinfo]"
As https://github.com/vmware/open-vm-tools/blob/stable-12.0.0/ReleaseNotes.md#continfo described, VMware Tools 12.0.0 supports for gathering and publishing list of containers running inside Linux guests.  Checked latest alpha build 3255.0.0, open-vm-tools-containerinfo is missing.

Could you please help add it? Thanks a lot.

[2022-06-20 07:20] t-lo opened #782 "[RFE] Add supply chain provenance to Flatcar releases"
## Current situation

While our supply chain security story is rather good we do not generate user-verifiable provenance (e.g. in accordance with https://slsa.dev/provenance/v0.2).

## Impact

Users are unable to attest validity of origins (sources and dependencies) of our builds and releases.

## Ideal future situation

Signed provenance is published in a user-digestable format with every release

[2022-06-23 10:19] sayanchowdhury opened #784 "Release Flatcar Container Linux Alpha 3277.0.0, Beta 3227.1.1, Stable 3139.2.3, LTS-2021 2605.29.1 LTS-2022 3033.3.2"
## Release Flatcar Container Linux Alpha 3277.0.0, Beta 3227.1.1, Stable 3139.2.3, LTS-2021 2605.29.1 LTS-2022 3033.3.2

The release of Flatcar Container Linux Alpha 3277.0.0, Beta 3227.1.1, Stable 3139.2.3, LTS-2021 2605.29.1 LTS-2022 3033.3.2 is planned for June 23rd, 2022.

### Tasks
- [x] Go / No Go [hackmd doc](https://hackmd.io/team/flatcar?nav=overview) created from previous one for test tr

[2022-06-23 12:36] tormath1 opened #785 "[RFE] Add Openstack to Flatcar test coverage"
## Current situation

Mantle does support `openstack` platform and Flatcar has Openstack releases but we do not have a deployed Openstack infrastructure to run tests against.

## Impact

No Openstack coverage.

## Ideal future situation

Having an Openstack test environment.

## Implementation options

- https://github.com/flatcar-linux/mantle/pull/350
- https://github.com/flatcar-linux/mantle/pul

[2022-06-23 13:57] pothos opened #786 "[RFE] ci: Test dev container in new pipeline"
## Current situation

The existing CI pipeline uses something like `git -C flatcar-scripts checkout "${REF}"; flatcar-scripts/jenkins/systemd-run-wrap.sh flatcar-scripts/jenkins/kola/dev-container.sh` to validate the dev container.
The new pipeline under `scripts/ci-automation` doesn't have this yet.

## Impact

We can't switch to the new pipeline for releases.

## Ideal future situation/Implement

[2022-06-23 14:11] pothos commented on #650
As a quick initial version I suggest the following:
- We implement a new "release" job that executes `plume pre-release` and `plume release` and then we also combine the existing scripts we have to generate the release notes draft (with `package-diff` we get the kernel versions for `show-fixed-kernel-cves.py` and then we can add this info to the output of `show-changes`: done [here](https://github

[2022-06-23 14:42] tormath1 commented on #784
EC2 marketplaces images sent to verification except for:
* LTS-2022 3033.3.2 (ARM64): need to create the offer
* LTS-2021 2605.29.1 (AMD64) because we can't upload two versions on the same offer at the same time - so it should be good my tomorrow.

EDIT:
* LTS-2022 3033.3.2 (ARM64): offer should be available the next week
* LTS-2021 2605.29.1 (AMD64): is failing to be scanned atm

[2022-06-23 14:54] tormath1 commented on #650
a few more notes:
* we can add a simple script to `ci-automation/` for building and uploading containerized SDK and invoke it from Jenkins
* after the `os/release` we can kick-off the AWS marketplace update by using the `ore` dedicated command and the script in the documentation
* we need to move the `cve-generator` to a public repository for CVE differents from the kernel ones and/or merging it t

[2022-06-24 15:28] dongsupark commented on #687
Done already a long time ago.

[2022-06-24 15:28] #687 closed, assigned to dongsupark

[2022-06-24 15:33] dongsupark commented on #708
Done already a long time ago.

[2022-06-24 15:33] #708 closed, assigned to nobody

[2022-06-25 06:48] hakman commented on #220
@pothos I tried the `3227.1.1` beta image with kOps. Unfortunately the boot sequence doesn't finish successfully:
[code]
Full journal log can be found [here](https://storage.googleapis.com/kubernetes-jenkins/logs/e2e-kops-aws-distro-flatcar/1540556462403620864/artifacts/63.34.28.190/journal.log).

Maybe this issue should be reopened.

[2022-06-26 18:27] till commented on #760
@pothos Where does it live? Also, is there a doc about this vs `update_engine_client`?

[2022-06-26 21:45] pothos commented on #220
Right, coreos-cloudinit support wasn't done and while not in the title it was meant to be part of this GitHub issue. Since we closed this I think it's worth opening a new issue for coreos-cloudinit.

[2022-06-26 22:00] pothos commented on #760
It's here: https://github.com/flatcar-linux/init/tree/flatcar-master/bin

The tool is mentioned in https://www.flatcar.org/docs/latest/setup/releases/update-strategies/ and https://www.flatcar.org/docs/latest/setup/debug/manual-rollbacks/

[2022-06-27 04:19] hakman opened #787 "Add support for AWS IMDSv2 to coreos-cloudinit"
## Current situation

Partial AWS IMDSv2 support was added by https://github.com/flatcar-linux/Flatcar/issues/220 in v3227.0.0.

## Impact

At the moment, the Flatcar instance boots but user-data is not processed due to lack of support for IMDSv2 in `coreos-cloudinit`:
[code]
Full journal log can be found [here](https://storage.googleapis.com/kubernetes-jenkins/logs/e2e-kops-aws-distro-flatcar/154

[2022-06-27 08:03] tormath1 commented on #787
Hi @hakman and thanks for opening this issue.

Looking at the codebase, we should update this file: https://github.com/flatcar-linux/coreos-cloudinit/blob/flatcar-master/datasource/metadata/ec2/metadata.go#L47 to add the IMDSv2 support and fallback on IMDSv1 in case of support is missing.

Something similar is already done on the Ignition side: https://github.com/coreos/ignition/commit/585c029f36c

[2022-06-27 09:05] tormath1 commented on #781
Hi @Winnie81 thanks for the follow-up on this package. Quickly looking at the configuration, this plugin is enabled in `auto` mode - if the required dependencies are found, the plugin is built: https://github.com/vmware/open-vm-tools/blob/b7ab96e6e38f6559cb882278a53d7a7ea5c0592c/open-vm-tools/configure.ac#L660-L661.

From a quick look, missing build/runtime dependency for Flatcar is `grpc` (`net-l

[2022-06-27 09:34] dongsupark commented on #781
@tormath1 Yes, that sounds correct.
Though I am not sure how much free space we have in the OEM partition.

[2022-06-27 09:56] pothos commented on #442
PR testing is implemented in https://github.com/flatcar-linux/scripts/pull/354 for basic builds, I'll create new issues for including qemu kola test workflows and PR workflows in coreos-overlay/portage-stable that spawn the scripts workflow.

[2022-06-27 09:57] tormath1 commented on #720
Mantle side is implemented, we now need to implement it on the scripts side, we need:
* a user and a SSH key for uploading contents on the bincache server
* a folder served by a webserver for http/https accessing

[2022-06-27 10:01] pothos commented on #720
I think this should work with the existing bincache SSH user: https://github.com/flatcar-linux/scripts/blob/main/ci-automation/ci_automation_common.sh#L117
The only thing to check is whether the kola Docker container has access or needs the key to be forwarded.

[2022-06-27 10:09] pothos opened #789 "[RFE] Run qemu kola tests as part of the GitHub Action workflow"
## Current situation

A new GitHub Action CI workflow for PRs got added in https://github.com/flatcar-linux/scripts/pull/354 and covers basic builds and artifact uploading.
However, the kola tests are not run.

## Impact

We don't know if a PR breaks a kola test.

## Ideal future situation

We add a new step to the workflow that runs kola qemu tests. The step should be able to be rerun independent

[2022-06-27 10:16] pothos opened #790 "[RFE] Trigger the scripts CI GitHub Action workflow for coreos-overlay/portage-stable PRs"
## Current situation

A new GitHub Action CI workflow for PRs got added in https://github.com/flatcar-linux/scripts/pull/354 and gets triggered for "scripts" PRs but not coreos-overlay/portage-stable PRs.

## Impact

The workflow has to be triggered manually.

## Ideal future situation

The coreos-overlay/portage-stable repos get a workflow that spawns the scripts CI workflow with the matching ref

[2022-06-27 12:35] invidian opened #791 "Consider providing uncompressed QEMU disk images"
Right now Flatcar releases only offers `flatcar_production_qemu_image.img.bz2` images for QEMU, which cannot be used directly with e.g. [QEMU Packer builder](https://www.packer.io/plugins/builders/qemu), which possibly blocks some speed improvements to building Flatcar images (https://github.com/kubernetes-sigs/image-builder/issues/924).

I'm aware that images are compressed likely to reduce the d

[2022-06-27 13:42] pothos commented on #791
Not sure if you can use it as in in packer - it seems you would loose the resize option (`disk_size` parameter) unless packer can grow the existing image. If this is not supported I recommend downloading, uncompressing and resizing the image in a Makefile step before packer is run (e.g. in https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/Makefile#L413).

[2022-06-27 13:44] pothos commented on #791
Found it in the docs, resizing existing images is supported: _disk_image (bool) - Packer defaults to building from an ISO file, this parameter controls whether the ISO URL supplied is actually a bootable QEMU image. When this value is set to true, the machine will either clone the source or use it as a backing file (if use_backing_file is true); then, it will resize the image according to disk_siz

[2022-06-27 16:57] invidian commented on #791
Now that I think about it, served images could be compressed on the fly using e.g. `gzip`

[2022-06-27 16:59] seh commented on #378
This is still happening to us with [Flatcar Container Linux version 3227.1.1](https://flatcar-linux.org/releases#release-3227.1.1).

[2022-06-27 17:42] tormath1 commented on #430
Hi @jmgilman, we recently got some MacOS related changes on the Flatcar QEMU script: https://github.com/flatcar-linux/scripts/pull/348. It would be worth to see if it solves your issue...

[2022-06-28 07:08] sayanchowdhury commented on #784
GCP is published. Closing the release.

[2022-06-28 07:08] #784 closed, assigned to nobody

[2022-06-28 09:16] invidian commented on #791
According to my test switching from bzip to gzip won't affect number of data transferred much. It will of course affect CPU usage.

Below download, bunzip, then gzip and count bytes produced.
[code]

[2022-06-28 09:24] pothos commented on #791
I wouldn't block on this and add a step in the Makefile that downloads and unpacks (this is what packer would do anyway if it had support for compressed images).

[2022-06-28 09:29] invidian commented on #791
BTW, it's not the first time I hit this limitation. E.g. with `libvirt_volume` in Terraform (https://registry.terraform.io/providers/multani/libvirt/latest/docs/resources/volume), it also supports network-based volumes, having uncompressed image available would make it much easier to use. Current situation requires exiting your domain (Terrafrom -> Makefile, Packer -> Makefile) to make it work.

I

[2022-06-28 09:40] pothos commented on #791
What we have now as mechanism is `COMPRESSION_FORMAT` in the VM image generation. We can try to specify `bz2,none` for the qemu images to host them compressed and uncompressed.

[2022-06-28 10:26] invidian commented on #791
That seem straightforward, cool.

However, we still need to make sure hosting we use supports gzip compression. Or perhaps we want to only enable gzip for uncompressed images to avoid double compression?

[2022-06-28 12:10] pothos commented on #791
I'm not sure if we want to have on-the-fly compression, the qcow image is 850MB because it's sparse, so not that bad compared to a raw image.

[2022-06-28 13:47] invidian commented on #791
Raw? The biggest image released right now is GKE image, which is 465 MiB from what I see. 850MB is almost double of that and the fact being a sparse image does not make a difference here I think, as all those zeroes will still be transferred I think. At least Python HTTP server does transfer all of them:
[code]
With gzip, this can be avoided.

[2022-06-28 14:23] pothos commented on #791
The raw (.bin) image is much larger uncompressed because it would be transfered non-sparse. The qcow2 format is internally already sparse, that's why it is only 850MB.

[2022-06-28 21:29] pothos opened #793 "New build pipeline uploads uncompressed artifacts"
## Description

The new build pipeline compresses images but uploads both the compressed and uncompressed files.

## Impact

We can't switch to the new pipeline yet for releases because the uncompressed Azure disk alone would be 30 GB already plus all the other duplicates which takes too much storage and bandwidth and is not what we have in the existing release build pipeline.

## Expected behavio

[2022-06-29 13:37] #740 closed, assigned to pothos

[2022-06-29 13:41] pothos commented on #751
Before we default to building all image formats, https://github.com/flatcar-linux/Flatcar/issues/793 should be fixed

[2022-06-29 13:51] pothos opened #794 "Refactor ci-automation entry scripts to be usable by the ci.yaml PR workflow"
## Current situation

The new GitHub Action PR workflow in `.github/workflows/ci.yaml` in the `scripts` repo has the logic from the `ci-automation` folder's entry scripts duplicated.

## Impact

Things get out of sync fast

## Ideal future situation

The entry scripts like `packages.sh`, `vms.sh` etc get split to expose the individual sub functions and the existing entry function called by Jenkins

[2022-07-01 11:57] tormath1 commented on #781
To give an update - I can successfully install grpc in the OEM partition (with a few tricks to build `grpc_cpp_plugin`). There is now this thing to solve: https://github.com/vmware/open-vm-tools/blob/master/open-vm-tools/configure.ac#L726-L755

Not sure how to manage this dependency.

[2022-07-01 12:42] krnowak commented on #781
Probably by a patch in FILESDIR that adds those files somewhere in the workdir, and also patches the configure script to search those proto files in our directory, not `/usr/share/gocode/whatever`.

[2022-07-01 12:46] tormath1 commented on #781
Yeah - I wanted to avoid that because we're missing the versioning of these file. I don't see other options at the moment.

[2022-07-01 12:48] jepio commented on #781
These are development files, I would install them to the expected path since they are not needed at runtime, so don't need to be in the OEM partition.

[2022-07-01 12:58] tormath1 commented on #781
@jepio I'm not sure I can install them in the expected path - since they need to be present at the `open-vm-tools` compilation time I won't be able to install them properly from `${FILESDIR}` to `/usr/share/gocode/whatever`

[2022-07-01 13:01] krnowak commented on #781
You could do that by adding separate package (`dev-util/proto-files-for-open-vm-tools`), but let's not do that, ok? :)

[2022-07-05 10:42] defo89 commented on #729
Thanks for looking at this @jepio. For now I worked this around by switching to a single vsphere disk for the affected VMs.

~On the related note, is there an ETA for bringing ignition-v3 to stable release (in other words, when >=3185.0.0 will become stable)?~ nvm, it's now in stable

[2022-07-05 10:45] sayanchowdhury opened #796 "Bug Smashing - July 8th, 2022"
The goal of this event is to go through the Flatcar [issues](https://github.com/flatcar-linux/Flatcar/issues) and try to:
- Check if they are still relevant
- Add steps to reproduce the issue
- Add the correct labels
- Ask for more information on the ticket
    ...

For more information, please follow the Github Discussion: https://github.com/flatcar-linux/Flatcar/discussions/795

Checklist for th

[2022-07-05 11:16] invidian commented on #734
While working on this, we should also decide on publisher, offer and SKU names for SIG image definitions. Currently image-builder use publisher `capz`, offer `capz-demo` and SKU `flatcar-stable-2905.2.3`.

Seems SKU can be as well e.g. `Flatcar-CAPI-stable-v1.22.11`, following image definition name.

**If** we would plan to continue building images from the marketplace offer, it would perhaps make

[2022-07-05 21:19] invidian commented on #734
This is how images look like using Azure CLI with proposed schema:
[code]

And using Azure Portal:
![Selection_584](https://user-images.githubusercontent.com/16539896/177326304-02980e5c-49c0-4ebc-be6d-77621f1eab7a.png)

Here is the branch with a bunch of changes I needed to make this happen: https://github.com/kinvolk/image-builder/tree/invidian/flatcar-community-sig

And here is my extra `packer.

[2022-07-06 11:26] justjanne opened #798 "[RFE] Add support for mirrored boot drives (as e.g., Fedora CoreOS implements it.)"
## Current situation

It’s not currently possible to easily mirror the entire boot drive. It’s possible to create a mirror for the ROOT partition, but even that requires custom configuration. Butane supports syntax sugar to automatically do this, it’d be ideal if flatcar supported the same.

## Impact

For bare-metal servers it’s important to be able to continue running if any disk has failed, eve

[2022-07-06 11:28] ahrkrak commented on #716
Flatcar support for Arm64 virtual machines in Azure is now supported.
Enabling a different operating system for AKS worker nodes is an AKS product feature, and should be directed to the AKS team here: https://github.com/Azure/AKS

[2022-07-06 11:28] #716 closed, assigned to nobody

[2022-07-06 13:54] #793 closed, assigned to pothos

[2022-07-08 08:09] tormath1 commented on #132
Hi @ryanm101, do the signatures proposed work for you (sha512, sha1 and md5)? I'll close this issue for now since it's been almost 2 years. Feel free to re-open if it remains a major issue for you, thanks! :)

[2022-07-08 08:09] #132 closed, assigned to nobody

[2022-07-08 08:29] tormath1 commented on #159
Hi @tinjaw and sorry for the delay. I think there are two issues:
* MAC address should match this format: https://github.com/hashicorp/vagrant-vmware-desktop/blob/5cb6a81a166ca6adaa109e816c5aeae8ccb9b752/lib/vagrant-vmware-desktop/config.rb#L16
* MAC address should start with `00:50:56`

Currently, generated MAC address is something like: `080027E87F12` - we should patch this file here: https://gi

[2022-07-08 08:44] tormath1 commented on #748
@mister2d hi, did you get a chance to check this:

Just to know if there are some generated files or remaining config that could conflict with your provided configuration.

[2022-07-08 08:45] pothos commented on #774
Support for Ignition spec version 3 is currently available in Beta and soon this will be the next Stable release.
For the old Ignition spec version 2 I wonder if you could overwrite the masking symlink with an empty file. Will have to test it.

[2022-07-08 08:48] tormath1 commented on #737
Moving here the discussion initially made in this issue: https://github.com/flatcar-linux/Flatcar/issues/736

- _Patricol_: As a side note, is this the right place to request qemu-guest-agent? Or is there a more specific place for packages that are only needed in certain distribution images?
- _pothos_: An issue here for qemu-guest-agent is good, thanks
(Edit: I think the agent isn't really OEM sp

[2022-07-08 08:51] pothos commented on #751
While testing I noticed that we have additional files uploaded which we don't need, but at the same time are missing files like https://stable.release.flatcar-linux.net/amd64-usr/current/flatcar_production_azure.DIGESTS

[2022-07-08 08:52] pothos commented on #728
The signing works but I see only the .sig files and not the .asc files and the digest files are also missing (e.g., we expect to get something uploaded like `flatcar_production_azure.DIGESTS ….DIGEST.sig and ….DIGEST.asc`).
Other files we don't expect but land in the upload are the folders `oem-gce-aci pcrs rootfs torcx` (edit: now tracked in https://github.com/flatcar-linux/Flatcar/issues/801).

[2022-07-08 08:59] pothos commented on #762
As first step we can try to generate the same vagrant images as we do for amd64 (definitions in `scripts/build_library/vm_image_util.sh` and `coreos-overlay/coreos-base/oem-vagrant/oem-vagrant-0.0.3.ebuild` where currently only `amd64` is set in `KEYWORDS`). In general I think we need to (re-)test Vagrant and update the [docs](https://www.flatcar.org/docs/latest/installing/vms/vagrant/).

[2022-07-08 09:11] tormath1 commented on #702
@Akshaybaisla did you get a chance to give another try on this issue? Can we assist you further?

[2022-07-08 09:18] tormath1 commented on #103
I think we can close it now. The helper is now saying:

[2022-07-08 09:18] #103 closed, assigned to nobody

[2022-07-08 09:22] #757 closed, assigned to nobody

[2022-07-08 09:23] tormath1 commented on #757
Hi @alpana17, we're closing this issue for now - feel free to re-open it if the proposed suggestion does not work. Thanks!

[2022-07-08 09:25] tormath1 commented on #281
It's now available here: https://www.flatcar.org/docs/latest/provisioning/ignition/specification/

[2022-07-08 09:25] #281 closed, assigned to nobody

[2022-07-08 10:13] tormath1 commented on #452
I think this issue is mainly done.

Is it still something we want to do?

[2022-07-08 10:18] tormath1 commented on #502
We can close this is issue now - RPI 4 documentation is available here: https://www.flatcar.org/docs/latest/installing/bare-metal/raspberry-pi/ :rocket:

[2022-07-08 10:24] tormath1 commented on #427
Hi @glitchcrab, did you get a chance to reproduce the issue with latest Flatcar releases? They ship kernel 5.15 - that would be interesting to see if you still have these panics...

[2022-07-08 10:52] pothos commented on #502
I think we still wanted to generate the OEM images with the firmware, or?

[2022-07-08 11:41] pothos commented on #751
Have pasted the comment about the DIGESTS also in the signing issue which is still open, closing this here as it's done now.

[2022-07-08 11:41] #751 closed, assigned to pothos

[2022-07-08 12:02] pothos opened #799 "Putting a user in the group "systemd-journal" or "kvm" does not work anymore from Ignition"
## Description

I have an old config where a new user gets created and added to the systemd-journal group from Ignition and another one with the kvm group. This fails to boot because Ignition does not find the group.

## Impact

Regression, instance fails to boot (initrd emergency console)

## Environment and steps to reproduce

The 2.2.0 config has an entry `passwd → users → "name": "myuser", "gr

[2022-07-08 12:12] pothos commented on #774
Ok, what works is to replace the symlink to /dev/null with a symlink to the original unit file:

[code]
You can use this as workaround for now. Locksmithd should remain masked (see https://github.com/flatcar-linux/flatcar-linux-update-operator/issues/110).

[2022-07-08 13:09] jepio commented on #734
The names are case-insensitive, so lower-case makes sense.

I saw two conflicting ideas for how to use publisher:offer:sku in galleries: either it's a hint to the user what information they need to enter as plan info when spawning instances from gallery image. Or it's a placeholder for what the values would be if one were to publish the image on the marketplace. Don't know how that helps us, but i

[2022-07-08 13:55] tormath1 commented on #87
@alpana17 hi, I'm going ahead and closing this issue - if you need further help on this topic, feel free to re-open the issue. Thanks!

[2022-07-08 13:55] #87 closed, assigned to nobody

[2022-07-08 14:10] #736 closed, assigned to nobody

[2022-07-08 14:26] pothos commented on #798
Hello,
yes, as far as I know, only the root filesystem is supported on a RAID at the moment: https://flatcar-linux.org/docs/latest/setup/storage/raid/
With GRUB doing the GPT partition counting at the moment, I don't think we can support having the whole GPT layout on top of a RAID but it needs further investigation.

[2022-07-08 14:38] #774 closed, assigned to nobody

[2022-07-08 14:46] pothos commented on #765
Even with a more stable path like `/dev/disk/by-path/pci-0000:03:00.0-scsi-0:0:3:0` I would recommend to use `/dev/disk/by-label/dockercompose` when you already set a unique label in
[code]
This makes the config independent from changes in the way the disks are attached and instead you match by content which is stronger and probably what you intend to do in the end.
I'll file a [docs PR](https://g

[2022-07-08 14:46] #765 closed, assigned to nobody

[2022-07-08 14:58] pothos commented on #222
Thanks for the good reply, I've also pointed this out in the docs now: https://github.com/flatcar-linux/flatcar-docs/pull/252

[2022-07-08 15:23] tormath1 commented on #545
Sent a PR upstream: https://github.com/gentoo/gentoo/pull/26287

[2022-07-08 16:19] invidian commented on #734
Thanks for feedback @jepio, greatly appreciated.

Make sense, adopted.

Yeah, I think that make sense. `flatcar-stable-capi-v1.22.11-gen2` sounds good.

Do you have some details regarding arm64 images? How can you build those? I'm not even sure actually if image-builder supports arm64. If so, would the image name must be different as well, like `flatcar-stable-capi-v1.22.11-arm64`?

[2022-07-10 10:28] glitchcrab commented on #427
@tormath1 I'm afraid not, we were experiencing the issues on a platform of ours which is now EOL and so we aren't investing any more time into upgrade work

[2022-07-11 11:09] pothos opened #801 "ci: Don't upload oem-gce-aci pcrs rootfs torcx folders to bincache"
## Description

When building (all image formats) the following additional folders get stored in bincache:
`oem-gce-aci pcrs rootfs torcx`

## Impact

Publishing a release to Origin would need manual filtering

## Expected behavior

Only the folders we need get uploaded

## Additional information

Maybe the `torcx` folder has a valid case if we store it there instead of GCS, the I don't think we n

[2022-07-11 15:37] tormath1 commented on #796
Event is done - closing this. Here's the notes took during the day: https://hackmd.io/eYCdnFnfTyO3hUaxtse5wQ

[2022-07-11 15:37] #796 closed, assigned to nobody

[2022-07-12 07:31] krnowak commented on #801
torcx directory is uploaded on purpose here - https://github.com/flatcar-linux/scripts/blob/056752222eb167bd6713078594577d4f2ff0cae6/ci-automation/packages.sh#L181-L184

[2022-07-12 07:34] krnowak commented on #801
rootfs and pcrs are created as a part of images job, oem-gce-aci comes from vms job.

[2022-07-12 10:23] invidian commented on #734
Notes from today's meeting:
- We may still want to consider `-amd64` prefix for images so we would be consistent with `-arm64` and possibly other architectures in the future.
- [x] We should check if CAPZ supports using gen2 images. If so, we can consider only publishing gen2 images and dropping `-gen2` prefix all together.
  It has also been mentioned that arm64 images only supports gen2, so drop

[2022-07-13 08:19] bitfisher commented on #598
Any updates?
Disabling SELinux in production clusters isn't really an option!

[2022-07-13 08:22] bitfisher commented on #673
Any updates?

[2022-07-13 08:36] tormath1 commented on #673
Hi @bitfisher,

We started to work on this recently - see the office hours dedicated section: https://youtu.be/r3VPy5tsKmE?t=553 and the associated PRs: https://github.com/flatcar-linux/coreos-overlay/pull/1993#issue-1287623166

[2022-07-13 09:03] bitfisher commented on #673
Hi @tormath1,

Glad to hear there is progess!

Can you give any estimate on when this will be available?

[2022-07-13 14:39] invidian commented on #734
RE: vanilla Flatcar SIG images. As we have Flatcar VHD available as a blob object, we can simply do `az sig image-version create --os-vhd-storage-account --os-vhd-uri` to add it to the SIG, which is very simple. Then we can use this for building the CAPI image, although image-builder right now only supports building from the marketplace image. We would have to extend it to allow it building from t

[2022-07-13 18:09] invidian commented on #734
Based on the recent checks (https://github.com/flatcar-linux/Flatcar/issues/734#issuecomment-1181588540), I propose the following changes to the proposed schema:
- Start with creating just V2 image definitions without `-gen2` prefix. If the need arise for V1 images, we create them with `-gen1` suffix. Hopefully V3 won't be introduced anytime soon.
- Create both Flatcar and Flatcar CAPI SIGs as com

[2022-07-14 09:47] pothos commented on #789
Done in https://github.com/flatcar-linux/scripts/pull/374

[2022-07-14 09:47] #789 closed, assigned to tormath1

[2022-07-14 11:42] jepio commented on #494
https://github.com/anchore/syft now supports the portage package database, and can be used to generate an SPDX SBOM.

[2022-07-14 14:53] #801 closed, assigned to nobody

[2022-07-15 12:35] mikekuzak opened #802 ""ipset v7.1: Kernel and userspace incompatible: settype hash:net with revision 7 not supported by userspace"
## Description

When trying to federate to K8S clusters running  Canal via submariner.io the Canal plugin is crash-looping after the federation setup

## Impact

K8s network plugin crashing. I'm not sure who should be looking as this is an interaction between Cancal/Calicio/Flatcar/Submariner.io/Rancher/K8s

## Environment and steps to reproduce
submariner-io/submariner#1922

[2022-07-15 15:04] pothos commented on #802
To understand, the container has its own `ipset` binary, right? That should be good then and it sounds like the kernel interface in this area is API is not really backwards compatible (probably not a regression but by design?). Sounds like the solution is to use newer versions of the Calico/whatever containers - can you try that?

[2022-07-15 15:13] pothos commented on #623
While testing that the dev container works, we should also check if it can use binary packages (e.g., in case it is https://mirror.release.flatcar-linux.net/boards/ we need to make sure we still upload the binary packages there).

[2022-07-15 17:07] dghubble commented on #802
Calico fixed this https://github.com/projectcalico/calico/issues/5011

[2022-07-19 08:25] krnowak commented on #132
When adding digests generation to the new pipeline, I actually added a TODO about dropping sha1 and md5 in favor of blake2, while keeping sha512 as is. Maybe we could also use whirlpool. But maybe it's too early for such move?

[2022-07-19 09:14] pothos commented on #132
If we don't really have to drop something, I think it's good to drag it along for backwards compatibility. Regarding modern hash functions, [b3sum](https://github.com/BLAKE3-team/BLAKE3) is what comes to mind ;)

[2022-07-19 12:12] #545 closed, assigned to nobody

[2022-07-19 12:32] tormath1 commented on #802
Hi @mikekuzak,

Thanks for raising this issue. I quickly checked: rancher-1.20.12 ships calico-v3.17.2 which is not yet fixed for the issue linked by @dghubble.

You can try to upgrade your Rancher version to one that ships >=calico-3.22.1 or you can try to bump directly your calico version to >=3.22.1.

It was called out in the Flatcar release notes as a known issue: https://www.flatcar.org/relea

[2022-07-19 15:20] krnowak commented on #728
Signing works, digests are generated, is there anything else to do?

[2022-07-19 15:43] pothos commented on #728
I think we are good in terms of feature parity with the original pipeline :)

[2022-07-19 15:43] #728 closed, assigned to nobody

[2022-07-19 18:05] #724 closed, assigned to sayanchowdhury, pothos

[2022-07-21 14:28] sayanchowdhury opened #803 "Release Flatcar Container Linux Alpha 3305.0.0 Beta 3277.1.0 Stable 3227.2.0 LTS-2022 3033.3.3"
## Release Flatcar Container Linux Alpha 3305.0.0 Beta 3277.1.0 Stable 3227.2.0 LTS-2022 3033.3.3

The release of Flatcar Container Linux Alpha 3305.0.0 Beta 3277.1.0 Stable 3227.2.0 LTS-2022 3033.3.3 is planned for July 21st, 2022.

### Tasks
- [x] Go / No Go [hackmd doc](https://hackmd.io/team/flatcar?nav=overview) created from previous one for test tracking and release notes: [link](TODO) (@don

[2022-07-21 14:33] sayanchowdhury commented on #803
/cc @flatcar-linux/flatcar-maintainers

[2022-07-22 13:59] Oleksii-Melnyk-UA opened #804 "Can't login via vault ssh to EC2 instance built from Flatcar 3227.2.0"
Hi team,

I built an image based on Flatcar 3227.2.0 using Packer.
Then via Terraform created AWS EC2 instance using this image.
When try to connect to this EC2 instance via vault ssh command, receive an error:

failed to generate credential: failed to get credentials: Error making API request.
URL: PUT https://my_vault_url/path
Code: 500. Errors:
* 1 error occurred:
	* failed to add public key to

[2022-07-22 14:29] jepio commented on #804
I'm not familar with `vault ssh`, could this be this issue: https://github.com/hashicorp/vault/issues/15488?
You might need to add the following to `/etc/ssh/sshd_config`:
[code]

[2022-07-23 22:10] salfter opened #807 "Flatcar instance at Linode loses network connectivity after 3227.2.0 upgrade"
## Description

I have two Flatcar instances running, both at 3227.2.0.  One is a bare-metal instance on a home server (an Asrock Rack X470D4U2-2T with a Ryzen 5 2600) that continues to run properly, but the other is a Linode VM (messages at boot time indicate they're using kvm).  I tried accessing a service that should be running on it, but got nowhere.  I tried to ssh in...no dice.  I brought up

[2022-07-24 20:24] till commented on #807
I had something similar (not linode) once where dhcp failed to hand out a new lease.

Can you dig up more from the journal to see if you find something there?

Basically, search in `sudo journalctl` around the time where the units failed. Maybe boot log since it seems to happen then?

[2022-07-25 08:17] jepio commented on #807
could anyone here attach a full `journalctl -b0` output?

[2022-07-25 08:39] jepio commented on #807
Would you be able to save some debug logs to disk, and then extract them after performing a manual rollback?https://www.flatcar.org/docs/latest/setup/debug/manual-rollbacks/#performing-a-manual-rollback

The first things that would help:
[code]

[2022-07-25 08:42] jepio commented on #807
And could you verify whether the issue also happens when a fresh VM is provisioned with 3227.2.0? Or does it require updating.

[2022-07-25 11:07] zhanbalam opened #808 "Wireguard does not work after upgrade to 3227.2.0"
Wireguard interface stopped getting ip address. Showing link status: ` link/none`.

Minimal WG config to reproduce:

1) Create file at /etc/wireguard/wg0.conf with the contents:
[code]
2) Run `wg-quick wg0 up`
3) Run `ip a`

The output on flatcar v. 3227.2.0:
[code]

The output on flatcar v. 3139.2.3:
[code]

[2022-07-25 11:49] tormath1 commented on #808
Hi @zhanbalam,

Sorry about that - we're currently investigating on some issues related to `systemd-networkd`, yours might be linked.

Could you please provide the output of:
[code]

[2022-07-25 12:09] sms-system commented on #808
[code]
[code]
[code]

[2022-07-25 13:26] defo89 opened #809 "multipathd fails to start after 3139.2.3 upgrade to 3227.2.0"
## Description

When 3139.2.3 is upgraded to 3227.2.0, `multipathd` service fails to start.
Flatcar deployed with OVA template to vSphere 7.0.3.

## Impact

Server is available only after ~50 minutes after reaching the timeout to start multipathd.

## Environment and steps to reproduce

1. **Set-up**: server running 3139.2.3 with multipathd enabled.
[code]
ignition-v2 file to reproduce:
[code]

2.

[2022-07-25 13:37] defo89 commented on #809
full log
[code]

[2022-07-25 13:48] defo89 commented on #809
[journalctl-b0.log](https://github.com/flatcar-linux/Flatcar/files/9181721/journalctl-b0.log)

[2022-07-25 14:18] tormath1 commented on #808
Thanks @sms-system for providing the logs. If you have the hand on the instance, could you try to set the `KeepConfiguration=yes` parameter?

Or directly use this Ignition configuration:
[code]

[2022-07-25 14:38] jepio commented on #809
ldconfig cache is out of date, and needs an update after the "/lib"/"/lib64" split. I'll check if this is the only issue and then see how to get this done during/after the update.

[2022-07-26 07:08] whites11 commented on #807
Not 100% sure I have the same issue, but I had problems with `systemd-resolved` not respecting dhcp settings and it was 100% on a new VM (no upgrades at all involved).

See https://kubernetes.slack.com/archives/C03GQ8B5XNJ/p1658762999205499

[2022-07-26 10:55] miao0miao opened #810 "Regressions in 3227.2.0 release - tracking parent issue"
We created this issue to group all related issues/discussions to the regressions observed in 3227.2.0, we are working on a patch release currently and will keep posting here for updates.

Related issues:
- [x] https://github.com/flatcar-linux/Flatcar/issues/804
- [x] https://github.com/flatcar-linux/Flatcar/issues/808 (PR: https://github.com/flatcar-linux/coreos-overlay/pull/2061)
- [x] https://gi

[2022-07-26 13:34] Oleksii-Melnyk-UA commented on #804
I added the following configuration to /etc/ssh/sshd_config on the Flatcar server image, but it didn't help.
Received same error.

`PubkeyAcceptedAlgorithms +ssh-rsa-cert-v01@openssh.com`

[2022-07-26 13:58] jepio commented on #804
Do you have instructions for how to recreate the problem to further investigate?

Blind suggestions: there is also another parameter (`HostkeyAlgorithms`), or you might need `+ssh-rsa` instead?
See this: https://github.com/flatcar-linux/coreos-overlay/commit/fb4af8fdce9df1c0c9f8217f691759fba2b273a6

[2022-07-26 17:04] mickymiek opened #812 "Ignition: Bad networkd translation"
## Description
One of our .network file had a little issue when launching flatcar. The ignition file looked fine, the problem occurs when installing flatcar with this file.
The problematic line is this one:  `Type=!vlan bond bridge`, it got translated as `Type=!vlan+bond+bridge` in the .network file.
We managed to work around it by moving our networkd units to the files section.

## Impact
The net

[2022-07-27 07:58] tormath1 commented on #812
Hi, thanks for the report!

It's actually an interesting one - in the translation, `url.QueryEscape` encodes the content of the networkd:
[code]

Which is later decoded by Ignition to:
[code]

Space is encoded differently (`+` or `%20`) whether it's being in the path or in the query of an URL - Ignition seems to expect the URL to be encoded from the path.

Will patch the converter and add the test

[2022-07-27 08:54] Oleksii-Melnyk-UA commented on #804
Thank you for help.
Issue fixed after I added 2 lines, as you mentioned in https://github.com/flatcar-linux/coreos-overlay/commit/fb4af8fdce9df1c0c9f8217f691759fba2b273a6

[2022-07-27 08:55] #804 closed, assigned to nobody

[2022-07-27 10:13] t-lo opened #813 "[RFE] SLSA: record builder ID"
## Current situation

Builder ID (github actions, Jenkins timer, manual trigger) is not generated with SLSA provenance.

## Impact

SLSA provenance does not record what action or individual triggered the build.

## Ideal future situation

Builder ID is automatically determined at build time and added to SLSA provenance records in accordance with [SLSA provenance 0.2](https://slsa.dev/provenance/v0

[2022-07-27 10:24] t-lo opened #814 "[RFE] SLSA: add provenance report for whole OS image."
## Current situation

Per-package SLSA provenance is generated and available in the live image at `/usr/share/SLSA/`. Package provenance contains all materials (sources, patches, and build logic files) for all subjects (binaries of a package) of all packages and is stored individually in per-package reports.

However, there is no "summary" provenance report on the overall image. While summary can

[2022-07-27 10:40] t-lo opened #815 "[RFE] Repos: enforce PR reviews (2-person rule) for scripts and ebuild repos"
## Current situation

2-person rule is obeyed for most changes but not enforced.

## Impact

In theory the same person filing a PR could merge it.

## Ideal future situation

Github feature for enforcing 2-person rule is active on repos in the Flatcar org. At least `scripts`, `coreos-overlay`, and `portage-stable` should be covered. An exception needs to be made for version file updates and tags g

[2022-07-27 11:14] vickeyrihal1 opened #816 "gen2 flatcar image is missing gpu modules"
## Description

gen2 flatcar image is missing gpu modules (i2c_core)

## Impact

This is in reference to get NVIDIA GPU driver support for Gen 2 Flatcar images.

We recently tried to provision a GPU machine against “kinvolk:flatcar-container-linux:stable-gen2:3139.2.0”. When we tried to run the nvidia driver[1], it ended up in following errors:

[  115.965785] nvidia: Unknown symbol i2c_add_adapte

[2022-07-27 11:21] sms-system commented on #808
@tormath1 Nope, it doesn't work

[code]
[code]
[code]
[code]

[2022-07-27 11:36] jepio commented on #808
Sorry, the correct path should be: `/etc/systemd/network/zz-default.network.d/keep.conf`

[2022-07-27 11:45] sms-system commented on #808
Oh, yes. Wireguard works with this drop-in now

[2022-07-27 11:48] jepio commented on #816
The gen1 and gen2 images have the exact same disk contents, but the gen1 hardware automatically probes the i2c module, whereas on gen2 hardware it is not used by default. You'll need to create a config in `/etc/modules-load.d` (https://www.freedesktop.org/software/systemd/man/modules-load.d.html) to have the modules loaded by default (recommend doing it for both generations). There is also some do

[2022-07-27 12:14] tormath1 commented on #808
according to the documentation[^1]:

I think we could default to `KeepConfiguration=yes` in place of this: https://github.com/flatcar-linux/init/blob/b99ff0626f5983af7aee47e95f34991d42f68e5b/systemd/network/zz-default.network#L3

[^1]: https://www.freedesktop.org/software/systemd/man/systemd.network.html

[2022-07-27 13:24] bpetermannS11 opened #817 "Cannot SSH into Flatcar 3227.2.0 instance created in OpenStack"
## Description

Cannot SSH into an OpenStack VM created from a Flatcar 3227.2.0 image if the VM is provisioned with an ssh key (not with ignition user_data). Most likely the ssh key is not actually provisioned.

## Impact

Our pipelines that publish Flatcar images to Glance include a basic test that it would be possible to ssh into a VM built from the image and that test fails now.

## Environment

[2022-07-27 14:19] dongsupark commented on #810
Updated the title and the description, as they are not only DHCP issues.

[2022-07-27 14:42] jepio commented on #817
Can you login via console to probe whether `enable-oem-cloudinit.service` ran but `oem-cloudinit.service` didn't? Or do you atleast have access to a console log that you could upload?

We need to add a conversion for openstack in `oem-cloudinit.service`. Unfortunately we don't have openstack in our CI.

Btw: we recently started publishing gzipped images specifically so that glance can directly imp

[2022-07-27 14:46] bpetermannS11 commented on #817
I couldn't log in via console because I don't know the password. Is there a default password for "core" (or root)?

[2022-07-27 14:54] jepio commented on #817
There isn't a default password, you would need to modify the OEM partition (partition 6), following these instructions https://flatcar-linux.org/docs/latest/installing/customizing-the-image/customize-the-image/#mounting-a-partition-for-customization, before uploading the image. You would need to extend `grub.cfg` in that partition to contain the line:
[code]
then you will have access to the consol

[2022-07-27 15:19] robertdavidsmith opened #818 "NVIDIA driver - support machines without direct internet access"
The NVIDIA driver installer currently downloads the driver from the internet. This doesn't work for machines that don't have direct internet access.

It's not clear how best to fix this. Some options are
1) Bake nvidia driver kernel+userspace components into the flatcar image. This is easy, but may bloat out the image too much.
2) Bake only the kernel part of the nvidia driver into the image. This

[2022-07-27 15:21] robertdavidsmith opened #819 "NVIDIA driver - please add support for flatcar_production_openstack"
Currently installing the NVIDIA driver is only supported by Azure and AWS versions of flatcar. It would be great if the openstack version could include this too.

Thanks,

Rob

[2022-07-27 15:24] bpetermannS11 commented on #817
I created an image with autologin and checked the journal: oem-cloudinit.service is activated, but when it tries to start it says "oem-cloudinit.service: Skipped due to 'exec-condition'."

[2022-07-27 15:46] till commented on #817
I can confirm this even with older releases. I never bothered to check or make a ticket here (mea culpa). I noticed it in the very beginning of using Flatcar. It only works with ignition supplied user data. Not with the key itself provided via OpenStack.

[2022-07-27 15:52] jepio commented on #817
@till could you check if enabling `coreos-metadata-sshkeys@.service` service makes that work? Afterburn is responsible for reading the ssh keys from the metadata service, it should support openstack but is not currently enabled for openstack.

[2022-07-27 15:55] till commented on #817
@jepio You mean, roll ignition with the service enabled? And then test if that makes the supplied key work?

[2022-07-27 16:03] jepio commented on #817
Yes. You might also be able to test it from the command line, just `systemctl enable --now coreos-metadata-sshkeys@.service`

[2022-07-28 00:03] RyanSquared opened #820 "System does not boot properly when using ignition config with dropin of provided unit"
## Description

When given an Ignition configuration with a systemd unit and a separately configured dropin for that systemd unit, the machine doesn't properly boot. I am not able to SSH to the machine or perform any debugging.

## Impact

I believe the machine halts while applying the Ignition configuration and doesn't boot properly.

## Environment and steps to reproduce

1. **Set-up**: AWS AMI

[2022-07-28 06:52] jepio commented on #820
Can you paste your ignition config? I just tried this out  on 3227.2.0 with the following:
[code]
and see no issues.

[2022-07-28 07:23] RyanSquared commented on #820
This is the rendered config:

[code]

It is listed as two components because this way I can define the "vault.service" unit once and reuse it for multiple instances, with each instance getting its own dropin.

[2022-07-28 07:41] RyanSquared commented on #820
Closing as I have found a solution. In my Terraform, I use (basically) `jsonencode(merge(jsondecode(first_rendered_unit), jsondecode(second_rendered_unit)))`.

[2022-07-28 07:41] #820 closed, assigned to nobody

[2022-07-28 08:05] #812 closed, assigned to nobody

[2022-07-28 08:29] tormath1 commented on #812
Thanks again @mickymiek for raising this issue. Fix should be available in the next batch of releases and a test has been added in our test suite.

[2022-07-28 10:29] ffilippopoulos commented on #809
This is a blocker for our on-prem cluster as well. Is there a workaround that would allow us to upgrade to the latest flatcar image, while we wait for fixes to be merged into a new release?

[2022-07-28 11:39] jepio commented on #809
Create this file before rebooting `/etc/systemd/system/multipathd.service.d/pre.conf`:
[code]
This should work as a workaround, normally ldconfig will run during boot after an update but it runs after multipathd starts, and there would be an ordering cycle if one were to add a dependency between `multipathd.service` and `ldconfig.service` (the ordering is already: `multipathd.service -> local-fs-p

[2022-07-28 11:43] ffilippopoulos commented on #809
tyvm @jepio !

[2022-07-29 04:37] vickeyrihal1 commented on #816
Awesome! thank you @jepio for the information.

[2022-07-29 04:37] #816 closed, assigned to nobody

[2022-08-01 07:44] jepio commented on #807
hi @salfter,
any chance you could provide some more information, we would really love to track this down and fix this before the next bugfix release.

[2022-08-01 09:35] #808 closed, assigned to nobody

[2022-08-01 14:00] defo89 opened #821 "Bonding issues in 3227.2.0 / systemd 250: Cannot enslave bond to itself"
## Description

This is just a friendly warning that we observed changes in bonding configuration and order of operation in Flatcar 3227.2.0 that comes with systemd 250.

## Impact

Server with LACP bond configuration would not come up online after upgrade from 3139.2.3 to 3227.2.0 (or fresh 3227.2.0 deployment).

## Environment and steps to reproduce

1. **Set-up**: Our old configuration which wa

[2022-08-03 15:49] dghubble commented on #803
The latest Flatcar Linux stable release on Azure seems to be 3139.2.3, should 3227.2.0 be available according to this checklist?

[code]

[2022-08-03 17:06] tormath1 commented on #817
@jepio I justed tested with Flatcar deployed on Openstack:
[code]

works fine - SSH keys are provisioned from metadata.

`coreos-metadata-sshkeys@.service` is enabled by a base ignition configuration which should be added like here: https://github.com/flatcar-linux/coreos-overlay/blob/9ac91d73a735834c38334c899376528b6354ea6d/coreos-base/oem-ec2-compat/oem-ec2-compat-0.1.2-r2.ebuild#L63-L65

[2022-08-04 08:10] #787 closed, assigned to nobody

[2022-08-04 08:14] dongsupark opened #822 "Release Flatcar Container Linux Alpha 3305.0.1 Beta 3277.1.1 Stable 3227.2.1 LTS-2022 3033.3.4 LTS-2021 2605.30.1"
## Release Flatcar Container Linux Alpha 3305.0.1 Beta 3277.1.1 Stable 3227.2.1 LTS-2022 3033.3.4 LTS-2021 2605.30.1

The release of Flatcar Container Linux Alpha 3305.0.1 Beta 3277.1.1 Stable 3227.2.1 LTS-2022 3033.3.4 LTS-2021 2605.30.1 is planned for August 4th, 2022.

### Tasks
- [x] Go / No Go [hackmd doc](https://hackmd.io/team/flatcar?nav=overview) created from previous one for test trackin

[2022-08-04 09:34] MarwanNour opened #823 "Ignition file ignored in Openstack"
I am trying to deploy a FlatcarOS VM  on Openstack and I am following the documentation https://flatcar-linux.org/docs/latest/installing/community-platforms/openstack/#container-linux-configs

My issue is that the ignition file I am passing to Openstack seems to be ignored since the files and directories I specified in the ignition file are not created in the VM.

My ignition file:
[code]

[2022-08-04 09:43] jepio commented on #823
Can you see if `journalctl -b 0 -t ignition` prints anything? If this comes out empty, then it could mean that your disk was previously booted (ignition only runs once, on first boot). Check if `cat /proc/cmdline` contains `flatcar.first_boot=detected`.

[2022-08-04 09:54] MarwanNour commented on #823
Thank you @jepio . It seems the disk was previously booted. The `journalctl -b 0 -t ignition` command returns `-- No entries --` and there is no `flatcar.first_boot=detected` in `/proc/cmdline`. I'll close the issue and try with another disk image.

[2022-08-04 12:44] MarwanNour commented on #823
@jepio The reason why flatcar rebooted was because of the automatic update which was still enabled. I re-created the VM and added `SERVER=disabled` in `/etc/flatcar/update.conf` immediately. Then I checked the output of the commands you previously stated:

[code]

[code]

[2022-08-04 12:53] jepio commented on #823
This is the issue -> `flatcar.oem.id=qemu`. For actual openstack images this would say `flatcar.oem.id=openstack`, that way ignition knows how to fetch the ignition metadata from the correct source.

Are you sure you're using the openstack images?

[2022-08-04 13:10] MarwanNour commented on #823
Thank you @jepio, I was using the wrong image. It worked with the openstack image https://stable.release.flatcar-linux.net/amd64-usr/2765.2.0/flatcar_production_openstack_image.img.bz2

[2022-08-04 13:10] #823 closed, assigned to nobody

[2022-08-04 13:47] jepio commented on #787
PR https://github.com/flatcar-linux/coreos-overlay/pull/2070 was merged, this will be available in beta soon (after v3277.1.1), and then later in stable.

[2022-08-05 12:07] dongsupark commented on #810
Updated the description, as the recent releases fixed most issues.
Only systemd-networkd issues are in progress.

[2022-08-05 14:33] tormath1 commented on #785
A devstack instance has been deployed and Mantle codebase updated to work with only one public IP. The last thing to do: add vendor script to flatcar-linux/script to implement the kola logic.

[2022-08-07 20:08] dipakparmar commented on #737
+1 for this would help a lot instead of manually installing.

[2022-08-08 14:06] pothos commented on #790
Related, the CI report could be improved by using https://github.blog/2022-05-09-supercharging-github-actions-with-job-summaries/

Edit: With https://github.com/flatcar-linux/Flatcar/issues/794 done we could also use the image diff logic to report any possibly unwanted image differences.

[2022-08-08 14:51] pothos commented on #810
We also have https://github.com/flatcar-linux/Flatcar/issues/685 still open as regression from an earlier release

[2022-08-08 15:14] pothos commented on #821
It looks like your problem is that when the bond device gets the same MAC address as one of the bonded interfaces, the bonded match rule for the boned interface applies. I think the proper solution would be to add `Type=!bond` to the `[Match]` section of `PCI5-P0.network` and `PCI5-P1.network`.

[2022-08-10 10:36] dongsupark commented on #803
@dghubble Thanks for asking.
Recently we released new bugfix releases including Stable 3227.2.1.
Can you please try to use the new version?

[code]

[2022-08-10 16:03] tormath1 opened #826 "[tracking] signing key is expired"
## Description

From the 10th of August, users might notified expired signing key while verifying Flatcar downloads (https://www.flatcar.org/docs/latest/setup/releases/verify-images/):

[code]

## Impact

Downloads can't be fully verified.

## Environment and steps to reproduce

https://www.flatcar.org/docs/latest/setup/releases/verify-images/

[2022-08-11 14:44] pothos commented on #826
The new image signing sub key is published on the website and will be used to sign the next releases. To install the releases via `flatcar-install`, the latest version of `flatcar-install` has to be used (e.g., by PXE booting the newest release).

[2022-08-13 10:16] gunzy83 commented on #396
This has been very useful but comes with a caveat: it requires transpiling from Butane config (Coreos) which has deprecated `systemd-networkd` support (Coreos uses NetworkManager). Luckily, ignition will attempt to create files that do not require network access before starting the network, so something like this will work:

[code]

[2022-08-15 12:15] jepio commented on #782
Merged these PRs:
- [ ] https://github.com/flatcar-linux/scripts/pull/378
- [ ] https://github.com/flatcar-linux/coreos-overlay/pull/2027

Once releases happen through the container pipeline, `/usr/share/SLSA` will contain the required information.

[2022-08-16 08:17] tormath1 commented on #785
OpenStack CI scripts are missing on the two pipelines:
* https://github.com/flatcar-linux/scripts/tree/main/ci-automation/vendor-testing
* https://github.com/flatcar-linux/scripts/tree/main/jenkins/kola

## Implementation options

Flatcar OpenStack image first needs to be created on the OpenStack infra using the URL of the build image, example:
[code]

Then the `IMAGE_ID` can be used to run the te

[2022-08-16 18:21] kiyose opened #827 "coreos-ct homebrew formula is outdated"
## Description

The coreos-ct [homebrew formula](https://github.com/Homebrew/homebrew-core/blob/master/Formula/coreos-ct.rb) tracks `coreos/container-linux-config-transpiler` and has been recently disabled with a `:repo_archived` tag.  Either this formula needs to be updated or a new one created and the [documentation updated here](https://github.com/flatcar-linux/container-linux-config-transpiler

[2022-08-16 18:32] pothos commented on #827
Hello,
thanks for raising this. I don't think we have anyone active in this area at the moment and would recommend to use the Docker image instead, see https://www.flatcar.org/docs/latest/provisioning/config-transpiler/getting-started/

[2022-08-16 18:36] kiyose commented on #827
Thanks for the quick response. If the recommended installation method on Mac is to not use `brew` then the instructions on this page need to be removed.
https://github.com/flatcar-linux/container-linux-config-transpiler#macos-homebrew

[2022-08-18 18:22] pothos commented on #734
Using the explicit `-amd64` and `-arm64` suffixes is nice (assuming there has to be one). In the past we only had `-arm64` suffixes and it's a mess in the code base and it's easy to overlook that both have to be handled.

Starting with the `stable` offer is good, but I expect `lts` and maybe `beta` if not `alpha` to also be available.

[2022-08-18 18:51] invidian commented on #734
I definitely like always having the suffix. But I'm considering `flatcar-stable-amd64-capi-v1.22.11` for the format, so then the base remains the same as `flatcar-stable-amd64` and `capi-v1.22.11` becomes a "flavor". And over time we can make `flatcar-stable-amd64-gen3`, `flatcar-stable-amd64-capi-v1.22.11-gen3` and whatever else we need.

Same for the offer, I'd make them `stable` and `stable-cap

[2022-08-18 19:04] invidian commented on #734
To summarize, I think things would look roughly like following:
[code]

[2022-08-18 22:36] igcherkaev opened #828 "Ignition v2 support is broken in Flatcar 3227.2.0 or newer"
## Description

Attempting to re-use ignition v2 configs with Flatcar image 3227.2.0 leads to a non-provisioned VM, which just offers an emergency shell or auto reboot in 5 min.

## Impact

Unable to provision new VMs in VMWare using ignition v2 configs.

## Environment and steps to reproduce

1. **Set-up**:
  a. Download https://stable.release.flatcar-linux.net/amd64-usr/current/flatcar_productio

[2022-08-19 06:42] tormath1 commented on #828
Hi @igcherkaev,

VMWare is tested with `guestinfo.ignition.config.data.encoding` set to `base64`. I would assume yours is `gzip+base64`? Could you try to boot the instance with `systemd.log_level=debug systemd.log_target=kmsg log_buf_len=1M printk.devkmsg=on` to try getting more logs?

If you have access to the emergency shell could you identified the failing stage (`systemctl --failed`) and provi

[2022-08-19 07:36] jepio commented on #828
Please attach your ignition config so that we can test it ourselves (censor out any secrets that may be contained within).

[2022-08-19 09:38] pothos commented on #828
Would be great to add this to the release test suite

[2022-08-20 11:56] EhsanLunar opened #829 "Flatcar not supporting EKS on versions above 1.21"
## Description

When an EC2 instance boots up with a flatcar image (even the latest) the kubelet fails.
The userdata defines (and should do so) that the `/etc/eks/bootstrap.sh` should run, which it does.

This seems to add a ExecStartPre to the kubelet.service:
`ExecStartPre=/usr/share/oem/eks/download-kubelet.sh`

Both the `bootstrap.sh` and the `download-kubelet.sh` are consistent with:
https://

[2022-08-22 08:57] necipakca opened #830 "Failed to allocate directory watch: Too many open files"
Sometimes on my k8s cluster I am getting this output when I login to node and try to do basic linux commands.
I already try to increase fs.inotify.max_user_watches but result is same.
The issue continues until restart OS.

My Environment is ;
Bare Metal
K8s - > 1.22.8
Linux node6 5.15.32-flatcar #1 SMP Tue Apr 5 17:17:31 -00 2022 x86_64 Intel(R) Xeon(R) Gold 5218R CPU @ 2.10GHz GenuineIntel GNU/Li

[2022-08-22 09:11] tormath1 commented on #829
Hi @EhsanLunar and thanks for the investigation on this issue.

Would you be interested to fill a PR to add the EKS support for 1.22 and 1.23, that would be great!

[2022-08-22 11:28] EhsanLunar commented on #829
@tormath1 Sure thing, here it is :) https://github.com/flatcar-linux/coreos-overlay/pull/2110

[2022-08-22 12:27] krnowak commented on #829
That sounds like a candidate for a github action to keep that list up to date.

[2022-08-23 13:47] #829 closed, assigned to nobody

[2022-08-24 15:07] igcherkaev commented on #828
Sorry, guys, I am a bit swamped right now, but I'll get you all the requested information as soon as possible!

[2022-08-24 15:09] igcherkaev commented on #828
Hi @tormath1 ! I'll try that to see if it reveals the underlying issue, but as I said, it doesn't really let me into the emergency shell. It just keeps attempting to boot over and over (without actual reboot of the whole VM) if I press Enter when prompted.

[2022-08-24 15:25] t-lo opened #833 "[RFE] Flatcar infra: support for "Hermetic builds""
## Current situation

Flatcar builds are automated and fully reproducible, and build using staged input (from our source package mirror). However, network access remains during build, since sources are not staged on the build host.

## Impact

We do not satisfy the SLSA ["Hermetic builds" requirement](https://slsa.dev/spec/v0.1/requirements#hermetic) needed for SLSA level 4 conformance.

## Ideal

[2022-08-25 15:19] krnowak opened #834 "equinix metal s3.xlarge.x86 won't boot"
## Description

CI fails recently on s3.xlarge.x86 instances with a timeout error. But the problem is not with the too short timeouts, but rather with the fact that for some reason the instance won't boot after ignition does its stuff and the machine reboots. Creating an instance through a website with OS option set to "flatcar stable" works fine - machine boots up and it's possible to SSH into it

[2022-08-25 21:29] pothos commented on #834
It could be that the captured error may not be the first error but a subsequent error that comes when the instance tries to PXE boot again but it wasn't configured for always-PXE-booting?

[2022-08-26 09:56] krnowak commented on #834
I'll need to get mantle logs too, as I forgot to actually gather and paste them here.

But without that, the workflow at some point is that on mantle side we upload ipxe script and userdata to some bucket. On server side we open a discard port, install flatcar and reboot. On mantle side, we establish the connection to the discard port and wait for it to be closed. Closed connection means that the

[2022-08-29 10:44] vbatts commented on #410
worth mentioning, we have github.com/flatcar that we've discussed whether and how to migrate to

[2022-08-30 06:23] krnowak commented on #834
So the issue is that flatcar is installed to some nvme disk (which the scripts finds as the smallest one of the all disks available on the host), from which the boot agent at startup can't boot. Or there needs to be some extra setup done to be able to boot it from them. I excluded these devices from installation and it worked when tested locally. PR filed: https://github.com/flatcar-linux/mantle/p

[2022-08-30 08:38] #834 closed, assigned to nobody

[2022-08-30 11:40] pothos commented on #650
In the beginning we can do it manually, I think it would be good to be flexible when this happens, be it before or after the release job runs (the release job would directly use the bincache). Edit: Actually not so easy because the release job creates the AMI txt files and those will be stored on Origin. So for now we must run the copy to Origin after the release job.

[2022-08-30 13:36] miao0miao opened #836 "[TRACKING] [MAJOR CHANGE] Change the GitHub Org name from "flatcar-linux" to "flatcar""
# Change GitHub org from https://github.com/flatcar-linux to https://github.com/flatcar.
## **The change will commence on Wednesday, 14th of September, 2022.**

We plan to rename our github organisation to "Flatcar" (without the -linux).

**There _should_ be automated forwarding for all repositories from `flatcar-linux/...` to `flatcar/...` (see https://docs.github.com/en/organizations/managing-or

[2022-08-31 07:19] tormath1 commented on #630
As a side note, Clevis (and friends) are now available on `::guru`: https://github.com/gentoo/guru/tree/master/app-crypt/clevis. Including Clevis should then follow the same process as including a package from `::gentoo` overlay (https://www.flatcar.org/docs/latest/reference/developer-guides/sdk-modifying-flatcar/#add-or-update-a-package).

Butane `clevis` restriction should also be dropped once d

[2022-08-31 08:06] krnowak commented on #623
Taking it.

[2022-08-31 08:43] pothos commented on #623
One way would be coreos-overlay/portage-stable symlinks to the scripts repo's submodules, another is to clone separately and check out the submodule ref by getting it like in https://github.com/flatcar-linux/flatcar-build-scripts/blob/master/show-changes#L55

[2022-08-31 08:47] pothos opened #837 "Migrate source tar ball mirror script to new SDK container"
## Current situation

On the Origin server we have a job that uses cork to run `scripts/update_distfiles` and copies the results to the mirror web server that hosts the tar balls. Now cork is broken because it uses the old subkey and anyway we don't use it anymore.

## Impact

No new tar balls are backed-up.

## Ideal future situation

The script uses the sdk container to run update_distfiles and

[2022-08-31 09:52] krnowak commented on #623
Reassigning to Sayan, since he has started working on it. I'll pick up something else.

[2022-08-31 12:26] pothos commented on #837
With the fix from https://github.com/flatcar-linux/scripts/pull/438 I was able to prepare an infra change and once approved I'll run Ansible.

[2022-09-01 01:52] salfter commented on #807
This issue got away from me for a bit, but whatever was broken was fixed when I grabbed the most recent image this evening and ran through some of the steps in my Flatcar-on-Linode guide to get it up and running again:

https://alfter.us/2021/09/20/installing-flatcar-container-linux-on-linode/

Hopefully it was a one-time glitch, as this node had been through several updates previously without any

[2022-09-01 01:52] #807 closed, assigned to nobody

[2022-09-01 07:58] t-lo commented on #650
@tormath1 could you please assign yourself if you're still planning to work on SDK publishing?

[2022-09-01 08:16] tormath1 commented on #650
@t-lo what do you think about this one: https://github.com/flatcar-linux/Flatcar/issues/739 ?

[2022-09-01 08:30] t-lo commented on #650
I missed that one, thanks for the reference!

[2022-09-01 09:11] pothos commented on #650
I can have a look at setting up a new publish job to run mantle's plume for AWS and Azure publishing and we can also do the mantle ore commands there for AWS marketplace uploads, now tracked in https://github.com/flatcar-linux/Flatcar/issues/838

[2022-09-01 09:32] pothos opened #838 "Run plume in the new build pipeline"
## Current situation

The scripts in the `scripts/ci-automation` folder don't run mantle's plume yet for AWS and Azure image uploads.

## Impact

We can't use it for releases yet.

## Ideal future situation

We have a release job that does this (and more as described in https://github.com/flatcar-linux/Flatcar/issues/650)

## Implementation options

## Additional information

The images are not pu

[2022-09-01 09:36] #837 closed, assigned to pothos

[2022-09-01 09:39] pothos commented on #688
This may be a blocker for Clevis integration for LUKS setup from Ignition with TPM unlocking

[2022-09-01 11:51] dongsupark opened #839 "Release Flatcar Container Linux Alpha 3346.0.0 Beta 3277.1.2 Stable 3227.2.2 LTS-2022 3033.3.5 LTS-2021 2605.31.1"
## Release Flatcar Container Linux Alpha 3346.0.0 Beta 3277.1.2 Stable 3227.2.2 LTS-2022 3033.3.5 LTS-2021 2605.31.1

The release of Flatcar Container Linux Alpha 3346.0.0 Beta 3277.1.2 Stable 3227.2.2 LTS-2022 3033.3.5 LTS-2021 2605.31.1 is planned for September 1st, 2022.

### Tasks
- [x] Go / No Go [hackmd doc](https://hackmd.io/team/flatcar?nav=overview) created from previous one for test trac

[2022-09-01 12:51] dongsupark opened #840 "Intermittent AWS AMI corruptions"
## Description

During the recent release process, we encountered an unknown issue that `os/kola/aws` failed only with AWS arm64 of Stable 3227.2.2.

Console log of the Kola test says:
[code]

Tried rerunning the specific kola tests, no luck.
Tried rerunning the whole vm-matrix to regenerate the AMIs, and running kola tests again. Still no luck.
It is obviously not possible to manually initiate an

[2022-09-01 13:56] dongsupark commented on #839
FYI, `ami-02ea825969d1f499b` for Stable arm64 was set to private due to the issue https://github.com/flatcar-linux/Flatcar/issues/840.

[2022-09-02 00:41] sfotony commented on #803
@dongsupark I have a dependency on kernel 5.15.55.  Can you confirm that `3227.2.0` has been removed from Azure?  It appears to still be available on AWS.

[2022-09-02 08:02] sayanchowdhury commented on #803
@sfotony We provide a more recent kernel [5.15.58](https://lwn.net/Articles/902917)  in `3227.2.1`. We are also in between a release at the moment which would provide a more recent kernel. Would it be possible for you to upgrade to those versions?

[2022-09-02 08:03] sayanchowdhury commented on #803
I'll close this issue, but we can keep the conversations ongoing.

[2022-09-02 08:03] #803 closed, assigned to nobody

[2022-09-02 10:02] pothos commented on #838
Work started in https://github.com/flatcar-linux/scripts/pull/445

[2022-09-02 14:27] sfotony commented on #803
Thanks @sayanchowdhury !  My use-case is a piece of third-party-supplied software with strict kernel version requirements.  @t-lo gave me the info I needed in Kubernetes Slack today as well, and I'm bringing those options back to my team.  Thanks for the response, and have a good weekend!

[2022-09-02 14:58] t-lo commented on #839
Azure marketplace offers `flatcar-container-linux-free` and `flatcar_pro` are published; `flatcar-container-linux` is still in Certification.

[2022-09-02 16:13] krnowak commented on #786
Initial work here: https://github.com/flatcar-linux/mantle/tree/krnowak/dev-container-test

[2022-09-03 20:01] pfremm commented on #112
@jepio I was trying your repo for podman on 3227.2.2 and it seems to work refreshing context, but then if I reboot systemd seems to hang during boot process.  Updated if I mask ensure-sysext .service reboots are fine and the systemd extension works.

[2022-09-05 08:28] pothos opened #844 "Migrate GitHub actions to SDK or dev container"
## Current situation

The coreos-overlay GitHub Actions under `.github/workflows/*-releases-*.yml` make use of `.github/workflows/setup-flatcar-sdk.sh` to setup the SDK using cork. However, will not be supported anymore.

## Impact

GitHub Actions fail

## Ideal future situation

They don't use cork

## Implementation options

Use either the SDK container or the dev container

## Additional inform

[2022-09-05 10:38] sayanchowdhury commented on #803
Thanks @sfotony

[2022-09-05 11:36] StevenMaude opened #845 "Cloud Providers documentation does not mention LTS version release channel"
## Description

The [Cloud Providers documentation](https://flatcar-linux.org/docs/latest/installing/cloud/) does not mention the LTS version release channel.

For AWS, at least, it does seem that the AMIs are available; [example](https://lts.release.flatcar-linux.net/amd64-usr/current/flatcar_production_ami_hvm_us-east-1.txt).

## Impact

It makes it more difficult for users to discover and use L

[2022-09-05 12:36] StevenMaude commented on #845
(Should be the `kind/docs` label; it's not really a bug. The issue template options when opening on GitHub don't have a documentation option. That's unlike the link *from* the documentation to open an issue which auto-adds this label; unfortunately I spotted that link later.)

[2022-09-05 12:41] krnowak opened #846 "ci-automation: Missing SDK after a no-op build"
Nightly build will stop build early if the automation detects that there were no changes, so no rebuild is necessary. But it will do it after setting SDK version to the unbuilt version. Thus packages build from a branch basing on the main branch will fail, because automation won't find the old SDK.

In case of early build quit, the automation should either revert the SDK version change, or it shou

[2022-09-05 12:47] krnowak commented on #846
Also, the detection of changes between nightly 3348 and 3349 went wrong, because there was a actually a change in coreos overlay, but the script said that there were none.

[2022-09-05 13:03] krnowak commented on #846
Hm, my bad. It looks like that the detection between 3348 and 3349 was correct - the build actually happened, but it failed because the official 3346 SDK image is missing from bincache and ghcr. And then the detection of changes between 3349 and 3350 stated correctly that there were no changes, so it didn't create a tag or modify the version. So a work branch basing on the main branch will try to

[2022-09-05 13:11] jepio commented on #830
Hi @necipakca,
What flatcar version are you using? Do you run very many pods/containers on that node? Have you tried increasing `fs.inotify.max_user_instances` sysctl to a greater value?

[2022-09-06 05:49] Winnie81 commented on #608
Sorry for the late response. I missed your reply.

As https://github.com/flatcar-linux/Flatcar/issues/608#issue-1115887651 described, this issue started from 3033.2.0.

And also please refer to our above discussions about the different behaviors between 2983 and its later visions.

[2022-09-06 05:53] necipakca commented on #830
What flatcar version are you using: Flatcar 3139.2.0
Do you run very many pods/containers on that node : Yes I have many pods on machines approximately over the 200.

Have you tried increasing fs.inotify.max_user_instances sysctl to a greater value?

Nope I did not tried  to increase "fs.inotify.max_user_instances" parameter. I don't have same issue now. When it happen I will try the parameter and

[2022-09-06 06:24] sayanchowdhury commented on #844
Assiging this to Dongsu as he was working on it.

[2022-09-06 09:49] jepio commented on #608
lsblk changed their output, you will need to adapt your test to filter out devices with size 0. In util-linux 2.38.1 there is a new cli flag (`--noempty`) that does this for you https://github.com/util-linux/util-linux/commit/554e866b94fc9965fef089cf480abea474dc9e34, but since this flag is not available in older versions you will need to handle size 0 devices anyway.

There's nothing further that

[2022-09-06 14:37] pothos commented on #799
I hit this again with the kvm group, this is a regression, maybe we can work around it by creating the group from ignition using the same ID but it means to have a duplicate entry in /etc/groups

[2022-09-06 15:08] pothos commented on #799
Adding the group in Ignition doesn't work because it already exists… I think we should prioritize this if there is no easy workaround.

Original error `[failed]   creating or modifying user "build": exit status 6: Cmd: "useradd" "--root" "/sysroot" "--create-home" "--password" "*" "--groups" "docker,sudo,kvm" "build" Stdout: "" Stderr: "useradd: group 'kvm' does not exist\n"`

Error after trying t

[2022-09-06 16:42] pothos commented on #799
As @tormath1 found out, `useradd` looks for the group manually in `/etc/groups` instead of only looking up the known groups. I think in our case this even makes sense because we pass `--root /sysroot` but it's not consistent with the behavior of `groupadd` and I think it should be controllable by flag whether the known groups are resolved or explicitly looked up in `/etc/groups` and only one behav

[2022-09-07 12:59] Nuckal777 opened #847 "Stable 3227.2.2 randomly causes processes to hang on I/O related operations"
## Description

We've seen multiple nodes (different regions and environments) stalling completely (unresponsive kubelets and containerds, journald and timesyncd units failing, no login possible, ...) on the 3227.2.2 release. This seems to be happening mostly on the reboot after the update, but we also had this occurring **at random**.

## Impact

This causes Kubernetes nodes to become `NotReady`

[2022-09-07 13:06] pothos commented on #847
Thanks for reporting, in https://www.flatcar.org/releases#release-3227.2.2 we have the links to the kernel changelogs for each bugfix release since the last Flatcar stable release. We need to find suspicious changes and try to see if the problem goes away if they are reverted.
Do you have an easy reproducer with https://stable.release.flatcar-linux.net/amd64-usr/3227.2.2/flatcar_production_qemu.sh

[2022-09-07 14:40] pothos commented on #623
Let's reopen until the [coreos-overlay update](https://github.com/flatcar-linux/flatcar-dev-util/pull/9#issuecomment-1239422100) is done

[2022-09-07 15:42] whites11 opened #848 "journald core dump on 3227.2.1 and 3227.2.2"
## Description

On a newly deployed VM on Azure or AWS, journald-related units are failing:

[code]

Logs talk about a core dump:

[code]

This started happening when we upgraded to aforementioned flatcar versions. We did some changes to the ignition config together with the version bump, but nothing related to journald settings.

## Impact

Nothing major as far as we can tell.

## Environment and

[2022-09-07 15:50] Nuckal777 commented on #847
Could not reproduce it using QEMU so far. I tried plenty of reboots and letting the VM ran for while using one of our ignition templates. Also starting with 3227.2.1 and updating did not trigger it. :(

[2022-09-07 15:57] jepio commented on #848
Would you share your ignition config with sanitized secrets so that we can reproduce this?

[2022-09-07 16:31] iaguis opened #849 "The gettext package seems to have been removed by mistake"
## Description

I was trying to use the `envsubst` tool on the latest Flatcar stable and it's not there.

## Impact

This breaks some of my automation.

## Environment and steps to reproduce

1. Boot Flatcar on any platform
2. Try to run `envsubst`
5. **Error**: `-bash: envsubst: command not found`

## Expected behavior

I expect the `envsubst` binary to be present.

## Additional information

It

[2022-09-07 16:37] t-lo commented on #836
**Affected**
* https://github.com/search?q=org%3Aflatcar-linux+github.com%2Fflatcar-linux&type=code or now https://github.com/search?q=org%3Aflatcar+github.com%2Fflatcar-linux&type=code
* https://pkg.go.dev/search?limit=25&m=package&q=github.com%2Fflatcar-linux
* https://pkg.go.dev/github.com/flatcar-linux/container-linux-config-transpiler/config?tab=importedby
* https://cs.github.com/?scopeName=A

[2022-09-07 22:03] nealey commented on #847
We think we're having this same problem. It seems to manifest most often as sshd hanging. We'll keep a test server running things and hopefully get some idea about what's going on, but probably can't help with a reproduction case if QEMU isn't working.

[2022-09-08 07:22] Winnie81 commented on #60
I'd like to confirm whether there is any update for this issue. Thanks a lot.

[2022-09-08 07:36] tormath1 commented on #849
Thanks for raising this. It looks like the package is still in `::portage-stable` (https://github.com/flatcar-linux/portage-stable/tree/main/sys-devel/gettext).
I think one of the `coreos-base/coreos` dependencies pulling this package has been removed, so it's not anymore pulled in the OS. If we want to have it in Flatcar, we would need to add it explicitly in https://github.com/flatcar-linux/core

[2022-09-08 08:14] pothos commented on #623
One PR for LTS-2021 is opened https://github.com/flatcar-linux/coreos-overlay/pull/2134 but we still need it for main and backports

[2022-09-08 08:22] pothos opened #852 "Use Butane in docs"
## Current situation

Flatcar Stable now uses Ignition v3 and the Butane transpiler has a Flatcar variant for it. The Flatcar docs however still use CLC.

## Impact

CLC is not maintained and has its shortcomings and traps. Also, it only generates a v2 Ignition config which has to be transpiled by ign-converter behind the scenes (that works and we fixed many bugs but it adds a layer of possible pr

[2022-09-08 08:27] tormath1 commented on #852
Quick grep on the documentation (https://github.com/flatcar-linux/flatcar-docs/):
[code]
and
[code]

[2022-09-08 09:20] defo89 opened #853 "[RFE] kernel updates in Flatcar stable and beta releases"
## Current situation

Kernel version is updated in stable/beta/alpha channels simultaneously.

## Impact

Last update to `5.15.63` resulted in https://github.com/flatcar-linux/Flatcar/issues/847. Despite running Flatcar beta in QA environment, there was no good possibility to catch and report this issue in a timely manner.

## Ideal future situation

Update kernel in rolling manner same as it's do

[2022-09-08 10:24] dongsupark commented on #849
`sys-auth/realmd` 0.17.0-r2 changed the dependency on `sys-devel/gettext` from DEPEND to [BDEPEND](https://github.com/flatcar-linux/coreos-overlay/pull/1724/commits/4a06200e9d92dc8066425cfc18dd6b7c5aa99131).

Looks like one of the relevant changes.

[2022-09-08 11:54] whites11 commented on #848
I found out that if I disabled kubelet from the node, journald didn't crash.
So I tried disable the pods one by one until I found the offending one.
I think this is caused by Falco.

fun fact: we didn't change anything on falco compared to previous release, this means this happened either because the kernel was upgraded or kubernetes was upgraded

[2022-09-08 15:00] whites11 commented on #848
We verified that this happens with upstream falco chart as well, without any modification.

[code]

As soon as the falco pod starts, journald crashes.
As soon as the falco pod gets deleted, journald recovers.

[2022-09-08 16:53] dongsupark commented on #844
PR https://github.com/flatcar-linux/coreos-overlay/pull/2136

[2022-09-08 18:29] goochjj commented on #112
@pfremm I don't have a problem with ensure-sysext - it's not causing lockups on reboot, using the version that I've modified in my PR to exclude the /opt/ folder.

Can you provide further diagnostics? I realize not being able to run that service at boot makes that difficult. If you unmask after boot and run the service, does it fail?

I've also found that all-service OnFailure= statements can caus

[2022-09-08 18:49] goochjj commented on #112
@pfremm Try my release here https://github.com/goochjj/flatcar-podman-overlay/releases/tag/v1.0.1

[2022-09-08 18:49] goochjj commented on #112
@jepio Take a look at
https://github.com/jepio/flatcar-podman-overlay/pull/1
https://github.com/goochjj/flatcar-podman-overlay/releases/tag/v1.0.1

[2022-09-08 21:37] leogr commented on #848
PTAL :point_right: https://github.com/falcosecurity/falco/issues/2196#issuecomment-1241258603

[2022-09-09 06:27] databus23 commented on #847
We are still seeing lock-ups of nodes with 3227.2.2 on a daily basis in our fleet but still fail to reproduce the error some what consistently. Affected nodes are hanging, login via ssh or console is just haging. We are always seeing stack traces of "hung task timeouts" that are io/fs related.

[2022-09-09 08:43] jepio commented on #112
I don't know why this would cause the boot process to hang, what's the last boot message? `ensure-sysext.service` is what we use to try to get systemd files from the sysext to apply to the currently running boot (doesn't work for everything). It's kind of hack but the alternative requires more work (activating sysexts from the initramfs)

[2022-09-09 09:27] jepio commented on #848
So this is the backtrace:
[code]

This Dockerfile creates an environment for analyzing the coredump:
[code]

Might be worth reporting to systemd? Although looking at changes between the flatcar releases, this might end up being attributed to a kernel regression.

[2022-09-09 09:31] #771 closed, assigned to t-lo

[2022-09-09 12:15] invidian commented on #578
It seems this has regressed with Flatcar stable 3227.2.2?

[code]

EDIT:
Hmm, it actually appeared later. Odd.

[2022-09-09 13:03] tormath1 commented on #578
@invidian weird indeed. `xtables.lock` is created by `systemd-tmpfiles` maybe `systemd-tmpfiles-setup.service` took some time to start (because of dependencies):
[code]

[2022-09-09 14:27] invidian commented on #578
I think everything is fine, sorry for the noise. kube-proxy was not starting because of some other reason and the warning keeps showing up and this is because of my setup, where kubelet simply don't have access to `/run/xtables.lock` as it runs inside the container.

[2022-09-09 18:02] nealey commented on #847
The main node we see hangs on has several cephfs mounts. This kernel module has been problematic in the past: does anyone else with this problem use cephfs?

[2022-09-12 07:09] whites11 commented on #848
I started from a vanilla flatcar, installed k8s on top of it using [this](https://suraj.io/post/2021/01/kubeadm-flatcar/), then run falco through the helm chart.
Unfortunately I still can't replicate the issue.

@jepio If you think this is the right thing to do, would you be available to open the systemd ticket yourself? I'm not quite sure I'm the right person to do so.

[2022-09-12 07:46] whites11 commented on #848
I might have something, finally.
It seems the problem goes away if we disable out custom auditd default rule that replaces flatcar's default.
This is the rule in place:

[code]

[2022-09-12 11:37] t-lo commented on #853
Thank you for speaking up - usually we would argue that kernel patch level releases only contain bug fixes (for LTS kernels, no less) and therefore it's better to update than not to. However, recent events (which you've referenced) show that we need to apply more care and be more conservative with updating Stable.

We are therefore planning to introduce a week of delay between Beta and Stable rele

[2022-09-12 15:23] Nuckal777 commented on #847
We experienced the issue with ext4 on vmware disks.

[2022-09-12 16:37] schmitch commented on #847
my company see's these issues aswell under vmware and 3227.2.2 will be ready to provide more info if necessary.
btw. we also have a baremetal cluster that does not have this problem, so it's probably related to vmware.

[2022-09-13 08:39] #623 closed, assigned to sayanchowdhury

[2022-09-13 12:15] #844 closed, assigned to dongsupark

[2022-09-13 15:06] goochjj commented on #112
(response copied from merged PR @jepio )

In my repo, I included a torcx package with the podman sysext.

The problem I ran into with just the sysext was that docker still tries to call docker. (/usr/bin/docker -> /run/torcx/bin/docker).  If you don't use the torcx, you could use docker too - and have a dual setup.

In my case, I want docker to call podman, so my options as I see it are:
1. Expand

[2022-09-13 15:24] pothos commented on #112
Thanks for documenting the status quo here; we hoped to be further on the roadmap to phase out torcx but it's taking some more time.

The best would be to get static linking working and use `SYSEXT_LEVEL` until we have a path forward with Podman officially in Flatcar. Currently it looks like we could eventually include it as (optional?) sysext in the image so that it gets auto-updated together wit

[2022-09-13 15:44] goochjj commented on #112
I am moving forward with using Podman 4.2 (which isn't officially "stable" in gentoo just yet, PR forthcoming) as my baseline going forward and will report back and/or fix any problems as I run into them - however, I'm not going full boar on "rootless", just "a container engine that works better with`systemd` and cgroupsv2 and doesn't require ugly hacks like `systemd-docker`".

The squashfs podman

[2022-09-13 16:07] goochjj commented on #112
Podman v4.2
https://github.com/goochjj/flatcar-podman-overlay/releases/tag/v4.2
https://github.com/jepio/flatcar-podman-overlay/pull/2

Dockerless podman torcx
https://github.com/goochjj/flatcar-podman-docker-torcx/releases/tag/v1.0

[2022-09-13 16:33] #849 closed, assigned to tormath1

[2022-09-13 16:39] tormath1 commented on #849
Thanks @iaguis for the report. `gettext` (and `envsubst`) has been added back to the OS and should be available in the next batch of releases (including `stable`)!

[2022-09-13 16:47] iaguis commented on #849
Awesome! Thanks a lot for the quick fix!

[2022-09-14 09:42] tormath1 commented on #540
Hi @shibumi,

A new version of `ct` ([0.9.4](https://github.com/flatcar/container-linux-config-transpiler/releases/tag/v0.9.4)) is available - it's mainly to follow the recent [renaming](https://github.com/flatcar/Flatcar/issues/836) of `flatcar-linux` org to `flatcar`, here's the patch to apply on the `PKGBUILD`:
[code]

I can submit the patch myself if you're busy at the moment. Thanks again for

[2022-09-14 15:18] goochjj commented on #112
Further FYI - the binaries above (built against 3277.1.2) work with current alpha 3346.0.0 without recompilation.

[2022-09-15 04:38] tylerauerbeck commented on #830
@necipakca We've seen similar issues. I believe this was related to a containerd issue (I'll see if I can dig up the issue link), but increasing `fs.inotify.max_user_instances` has resolved the issue in our case. The fix for this issue landed in containerd 1.6 and I believe was in the process of being backported to 1.5. At this point, we haven't seen any issues on our nodes with flatcar 3227 (cont

[2022-09-15 08:21] procinger commented on #847
The servers in our company have the same symptoms after an update to 3227.2.2.

We can reproduce it as soon as we generate a lot of IO on the hard disk.

Unfortunately I don't see any errors in systemd / kernel ring buffer. Only
`File /var/log/journal/<some-id>/system.journal corrupted or uncleanly shut down, renaming and replacing.`
shortly after that the system stops responding.

As a temporary

[2022-09-15 08:29] jepio commented on #830
The same fixes were backported to containerd [v1.5.12](https://github.com/containerd/containerd/releases/tag/v1.5.12), could it be that you're on Flatcar 3139.2.0?

[2022-09-15 09:04] necipakca commented on #830
Yes you are right same issue.
Ok I am kindly closing this issue after we distribute new Flatcar version probably it will be fixed.

Thanks a lot

[2022-09-15 09:04] #830 closed, assigned to nobody

[2022-09-15 11:18] Nuckal777 commented on #847
Any specific you executed for that? I shuffled around some 100 GB's using `dd` and could not trigger the issue.

[2022-09-15 14:01] sfudeus commented on #847
I could reproduce hung task errors on bare metal  by running `stress -i 10 -d 5` within a pod's emptyDir, backed by the host's SSD Raid1 after a while. I didn't crosscheck against the previous version so far.

No further negative consequences, esp. after shutting down stress. No more errors AFAICS and load is still usual.

[code]

[2022-09-15 16:11] pothos opened #855 "[RFE] Review kernel config to enable new features"
## Current situation

The kernel config is mostly constant and is not adjusted for new kernel releases (unless it breaks) or compared with other distros.

## Impact

- Flatcar doesn't profit from new features while users expect them from other distros
- Certain hardware isn't supported while users expect it from other distros

## Ideal future situation

We review the kernel config on kernel update

[2022-09-16 14:39] procinger commented on #847
We tried to reproduce the case again today in our test cluster. We installed one node with flatcar version 3227.2.1 and the other with 3227.2.2.

Both nodes have the following hardware

- 128 GB DDR4 ECC
- 2 x 1.92 TB NVME
- AMD Ryzen 9 3900 (24 cores)
- K8S v1.24.5

We have used dd, stress as well as stress-ng, unsuccessfully! We had a high load, but the 3227.2.2 nodes did not crash.

Then we cra

[2022-09-19 18:12] igcherkaev commented on #828
Hi folks.

Finally found some time to try the options/troubleshooting steps suggested above, but it doesn't look like it revealed anything new to me.

Could someone try to reproduce the issue with the following ignition config (gzipped and encoded with base64): https://gist.github.com/igcherkaev/7b1cf58ada8fadbff3e84461c9918ea4 ?

VMWare guest Info was set as following:

![image](https://user-imag

[2022-09-19 18:36] shibumi commented on #540
@tormath1  Sorry for the delay :D let me work on it.

[2022-09-19 18:42] igcherkaev commented on #828
It boots just fine with the same guestInfo data with the 3139.2.2 ova image:
![image](https://user-images.githubusercontent.com/18666442/191091687-e19248a6-e83c-4746-a0da-b2fc5f51fa2b.png)

[2022-09-20 06:59] jepio commented on #828
@igcherkaev

you have multiple conflicting entries in the `systemd` section for the key `etcd-member.service`. These are not accepted any longer, we are looking to restore that but for now you'll need to manually merge the entries into one.

[2022-09-20 10:40] pothos commented on #828
The fix is being prepared in https://github.com/flatcar-linux/ign-converter/pull/9

[2022-09-20 16:04] igcherkaev commented on #828
I see. Thanks for pointing it out! It's just we didn't expect things to break since we kept using old ignition version (v2). I'll work on my ignition config generator/templates to make sure we don't create conflicting entries for services.

[2022-09-20 16:14] pothos commented on #828
If you can continue to deploy the old Flatcar version and let it directly update, that would be a temporary solution until we fix this. We didn't expect this to break so subtle, v2 should work without problem hopefully after fixing this.

[2022-09-20 16:57] igcherkaev commented on #828
OK. However, I merged that conflicting entry for etcd-member.service by hand and tried again. Even ran it with `ct-config -strict`, it generated a configuration without any warnings. Unfortunately, ran into same issue. 3227.2.0 doesn't boot with it.
[code]

[2022-09-20 17:30] jepio commented on #828
`/etc/coreos/update.conf` is also a duplicate (and will collide with `/etc/flatcar/update.conf`) so you need to fix those as well.

The way I verify this is:
[code]

This is the same code that runs during boot to convert ignition from v2 to v3.

@pothos / @tormath1 I had this idea once of having `./ct` have a mode where it runs the conversion directly and shows any errors that might occur.

[2022-09-20 18:30] igcherkaev commented on #828
@jepio , thanks! It turns out, ct-config creates those duplicates for me... In a sense, that when I need to add a drop-in for etcd-member.service, it creates a separate unit in addition to its own pre-generated etcd-member.service unit... In that case the fix by @pothos should help, I guess.

[2022-09-20 18:49] igcherkaev commented on #828
After running it through ign-converter and having no errors printed, it indeed tried to boot with it, but failed with:

![Screenshot 2022-09-20 134652](https://user-images.githubusercontent.com/18666442/191339802-ef341ab6-315f-4268-916d-faf6efe482dd.png)

Emergency shell isn't usable as it keeps trying to boot over and over, not letting you type anything. Not sure how to stop this boot loop in ord

[2022-09-22 03:41] tylerauerbeck commented on #827
@pothos I went ahead and updated this here: https://github.com/Homebrew/homebrew-core/pull/111401

This will at least prevent folks from stumbling upon this while going through the docs until a time that it is indicated that `ct` is deprecated / going away.

[2022-09-22 09:16] jepio commented on #828
This is weird. Can you try debugging it (collecting logs) in QEMU, you can follow these docs https://flatcar-linux.org/docs/latest/installing/vms/qemu/ and then pass the ign like so: `./flatcar_production_qemu.sh -i config.ign -curses`.

I tried fixing up your original ignition file and came up with the following that boots in qemu: [config.json.txt](https://github.com/flatcar/Flatcar/files/962426

[2022-09-22 13:16] till opened #857 "Cannot stop containerd and keep dockerd running"
## Description

When I start docker with `systemctl start docker`, it also starts containerd.

## Impact

We are installing a k8s distro on top of Flatcar, so we don't want/need to run Flatcar's containerd.

## Environment and steps to reproduce

1. **Set-up**: Flatcar Linux (on OpenStack)
2. **Task**: Noticed that docker wasn't running.
3. **Action(s)**:
  a. `systemctl status docker` 👉🏼 Docker i

[2022-09-22 13:20] pothos commented on #857
Do you provide a `containerd.service` unit yourself? I would make sure that it takes precedence and then leave your version of containerd running through your custom unit, satisfying docker's requirements.

[2022-09-22 13:48] till commented on #857
Hmm, I can doublecheck but no. I use `k0sworker.service` to start it. And it continues to run when I shut flatcar's down.

I just don't understand why stopping your containerd stops your docker as well.

[2022-09-22 13:51] pothos commented on #857
It has `Requires=containerd.service`. Maybe you could also implement a dummy containerd service with `ExecStart=/usr/bin/true`  if you don't really need one.

[2022-09-22 13:52] till commented on #857
Maybe I phrased in a confusing way.

What I want from Flatcar is (only) Docker. But I can't have docker (running) without the built-in containerd (running).

[2022-09-22 13:53] till commented on #857
Ah! Why would it need that? 😬

[2022-09-22 13:53] pothos commented on #857
As soon as you provide a systemd service unit with higher priority than the inbuilt one, yours will be used; it can be a dummy service unit if you start containerd through something else

[2022-09-22 13:54] pothos commented on #857
You can also try to get rid of this `Requires=` through a unit drop-in for Docker (here the original one https://github.com/flatcar/coreos-overlay/blob/main/app-emulation/docker/files/docker.service#L6) in `docker.service.d/10-nocontainerd.conf` with `[Unit]\nRequires=`.

[2022-09-22 13:57] pothos commented on #857
That said, I would recommend you to use a custom docker like this: https://www.flatcar.org/docs/latest/container-runtimes/use-a-custom-docker-or-containerd-version/
You would just skip the containerd service unit creation and don't require it. The empty `/etc/systemd/system-generators/torcx-generator` files is for disabling torcx which brings the inbuilt docker+containerd.

[2022-09-22 14:25] till commented on #857
@pothos Thanks. I'll use the override.

Can I PR a change to get rid of the `Requires=`? Or is there a reason.

[2022-09-22 14:27] pothos commented on #857
Well, docker needs containerd to be running, or it fails later when it tries to access it.

[2022-09-22 14:31] pothos commented on #857
There is also the weaker `Wants` which allows the unit to be missing as far as I know but I don't think it would help here?

Upstream has this: https://github.com/moby/moby/blob/master/contrib/init/systemd/docker.service#L5

[2022-09-22 15:10] till commented on #857
Meh, apologies. You are right. Long week for me.

I used the override to make it work and it now points to k0s' and it seems to work:

[code]

[2022-09-22 15:10] #857 closed, assigned to nobody

[2022-09-22 16:44] #838 closed, assigned to pothos

[2022-09-22 16:44] #739 closed, assigned to tormath1

[2022-09-22 17:38] igcherkaev commented on #828
@jepio I could try, but what if the issue is vmware specific? Anyway, I'll try to reproduce it with qemu and report back.

[2022-09-23 06:47] jepio commented on #828
If the issue is vmware specific then we'll need to look at reproducing on vmware, but this is not typically the case for ignition boot problems. The ignition config should either work on all platforms or on none.

[2022-09-25 12:10] shibumi commented on #540
I released 0.9.4. :)

sorry for the delay again, I recently switched the job and the first few weeks were a little bit overwhelming.

[2022-09-26 09:00] Tariq-dev commented on #787
Hi @jepio, Can you please share the expected date to Add AWS IMDSv2 support in stable version?

[2022-09-26 09:13] Champ-Goblem commented on #847
We are also experiencing this problem but on 3227.2.1 that we have updated some packages of. On 3227.2.1 the only updates we made were containerd 1.6.8 and kernel 5.15.62.

When this issues occurs, our CPU metrics show that containerd jumps to 90% utilisation of the node's CPU and some services such as SSHD stop responding. As stated in previous replies the node becomes entirely unresponsive and k

[2022-09-26 10:23] jepio commented on #787
I would expect it to arrive in stable around end of October.

[2022-09-26 10:36] hakman commented on #787
Until then, I can confirm that Beta works nicely and passes k8s e2e tests with IMDSv2 enabled:
https://testgrid.k8s.io/kops-distros#kops-aws-distro-flatcar

[2022-09-26 12:50] pothos commented on #633
Currently it would already help to have plume generate a valid SAS URL that can be pasted into the web UI. Needs an Azure Go SDK update in mantle.

[2022-09-26 12:52] pothos commented on #688
When `CONFIG_EFI_ZBOOT` is available we will gain kernel compression for arm64. Not sure if we can/should also switch amd64 over to it.

[2022-09-26 12:54] pothos commented on #786
Done in https://github.com/flatcar/mantle/pull/367

[2022-09-26 12:54] #786 closed, assigned to krnowak

[2022-09-26 14:48] Tariq-dev commented on #787
Thanks @jepio @hakman for the quick response.

[2022-09-26 23:15] kjaleshire commented on #737
+1

[2022-09-27 12:54] defo89 commented on #847
@Champ-Goblem since you have decent testing capabilities, would you mind also reproducing this with 5.15.70 kernel? Looks that it will be in the next stable release https://github.com/flatcar/coreos-overlay/commit/ea82f1873da310245cbb174ac9fa6f9908c493c6

[2022-09-27 13:15] jepio commented on #847
I was not able to repro with the reproducer in my own testing, but an infrastructure VM that we have on the stable channel has also hit this (14 days of uptime, no particular io load):
<details>
<summary>log:</summary>

[code]
</summary>

[2022-09-27 16:16] dongsupark opened #860 "Release Flatcar Container Linux Alpha 3374.0.0 Beta 3346.1.0"
## Release Flatcar Container Linux Alpha 3374.0.0 Beta 3346.1.0

The release of Flatcar Container Linux Alpha 3374.0.0 Beta 3346.1.0 is planned for September 29th, 2022..

### Tasks
- [x] Go / No Go [hackmd doc](https://hackmd.io/team/flatcar?nav=overview) created from previous one for test tracking and release notes: [link](https://hackmd.io/NuLz3rKZQl2B44jbZrSaRw?view) (@dongsupark)
- [x] All pl

[2022-09-27 19:04] tylerauerbeck commented on #827
This is resolved now: https://github.com/Homebrew/homebrew-core/blob/master/Formula/coreos-ct.rb . Homebrew now points to the flatcar maintained release of ct and pulls in the latest tagged version (v0.9.4).

[2022-09-27 20:55] igcherkaev commented on #828
OK, the problem was that the flatcar image has `/etc/flatcar/update.conf` symlink to `/etc/coreos/update.conf` and my ignition config had file content (re)defined for `/etc/flatcar/update.conf`, which ignition couldn't write to disk because of the existing symlink.

[2022-09-28 02:29] igcherkaev commented on #828
P.S. Had the emergency shell worked in vmware image, it would've been much easier to troubleshoot and most likely this issue wouldn't have been raised :)

[2022-09-28 06:31] t-lo commented on #853
We're putting this into practice with the ongoing release (Beta-3346.1.0, Alpha-3374.0.0) and will release the respective Stable version at least one week later. This pattern will also go into our releases retrospective later this year (where we'll rough-draft the 2023 releases) and we'll make sure to follow it from now on.

@defo89  Please let us know if this satisfies your inquiry and we can clo

[2022-09-28 06:44] t-lo commented on #847
State of our research so far:
- syzbot found a potential deadlock and a kernel dev noted there's a likeliness of this being a real issue: https://lore.kernel.org/lkml/20220824100652.227m7eq4zqq7luir@quack3/#t
- the commit causing the above issue, 51ae846cff5, was included in 5.15.61, so 3227.2.2 would have it (5.15.63) while 3227.2.1 would not (5.15.58)

The suspicious commit has not been reverted

[2022-09-28 07:45] tormath1 commented on #827
Hi @tylerauerbeck thanks a lot for this contribution, this is truly appreciated! I think we can close this issue for now. On a last note, we slowly start to recommend using `butane` instead of `ct` (see this issue: https://github.com/flatcar/Flatcar/issues/852)

EDIT: just seen this PR: https://github.com/flatcar/flatcar-docs/pull/260 great :smiley:

[2022-09-28 07:45] #827 closed, assigned to nobody

[2022-09-28 09:25] t-lo commented on #847
@Champ-Goblem Since we still have trouble reproducing this on our end, would it be possible for you to apply below patch to 5.15.63 (i.e. 3227.2.2) and check if you can still reproduce the issue? The patch reverts the suspicious commit 51ae846cff5.

We have just started a discussion on linux-ext4 (replying to the syzbot thread) to raise awareness of potential issues with 51ae846cff5. A clear bisec

[2022-09-28 09:30] defo89 commented on #853
@t-lo thank you for improving the process and making it transparent. This indeed will win us more time to catch potential issues.

[2022-09-28 09:30] #853 closed, assigned to nobody

[2022-09-28 09:44] Champ-Goblem commented on #847
@t-lo Yep I can give this a go, although I may not be able to provide results till some time next week

[2022-09-28 09:47] pothos commented on #847
Should we help by building the patched image?

[2022-09-28 09:57] Champ-Goblem commented on #847
I have already started a build on our infra for the patched image, so that should be fine, it will probably take an hour and a bit for this to build. Ill look at getting it rolled out and start testing by the afternoon, so hopefully ill have some results either later today or tomorrow some time.
Ill be off from Friday till Monday so it may also be worth you guys doing some testing on your end in c

[2022-09-29 08:48] Champ-Goblem commented on #847
Okay I think the patch provided above fixes the problem. Ive deployed two nodes, one running stock 5.15.63 and a second running with the patch.
On the regular node without the patch, I could recreate this reliably by spawning 20-30 pods each pulling different images. Every test run would result in SSH connections dying and the node would be become completely unresponsive with most of the images st

[2022-09-29 09:26] #785 closed, assigned to nobody

[2022-09-29 13:21] t-lo commented on #847
Awesome, thank you very much for testing! We're discussing this issue with Jan Kara, an Ext4 maintainer, upstream. (https://www.spinics.net/lists/linux-ext4/msg85417.html ff., messages from today will become available in the archive tomorrow).
Unfortunately, there seems to be an issue with the stack traces we provided (from this very issue); we're currently looking into possible causes and will fo

[2022-09-30 09:11] jepio commented on #847
@Champ-Goblem would you be able to rebuild and test and image with the 5.15.63 kernel, without the revert but with this PR applied: https://github.com/flatcar/coreos-overlay/pull/2196? This should fix the issue with the stacktraces being slightly off, and help upstream come up with a proper fix.

[2022-09-30 10:03] pothos opened #861 "Boot failure on 3346.1.0 arm64"
## Description

When booting 3346.1.0 from disk on a c3.large.arm Equinix Metal instance the boot can hang and end up in an emergency mode that reboots the machine after some time.

## Impact

Not sure if how reproducible and wide-spread this is but I hit it quite reliably on the mentioned instance type, rendering it useless.

## Environment and steps to reproduce

1. **Set-up**: Install to disk v

[2022-10-01 14:16] till commented on #430
The changes don't seem to work? Or are they not in stable?

[code]

[2022-10-02 13:09] till commented on #430
Per my last comment, I tried to mess around with the provided qemu script (in stable) but I also went the manual route. At first I took the parts of the script that created a config drive in order to see if I can have something that works with our existing configuration. But if I follow through and boot the image, the config drive is not read and nothing is applied.

Then I went ahead and tried wh

[2022-10-03 11:34] Champ-Goblem commented on #847
I have rebuilt flatcar with the above PR, below should be the logs from the system during the failure.
[code]

[2022-10-04 06:23] jepio commented on #847
Thanks, @Champ-Goblem, I'll forward that to the mailing list, any chance you can also provide the following:

your kernel and fix them. And then, if the hang happens, please trigger
sysrq-w (or do echo w >/proc/sysrq-trigger if you can still get to the
machine) and send here the output. It will dump all blocked tasks and from
that we should be able to better understand what is happening.

[2022-10-04 08:56] QuentinBisson commented on #848
Was there a regression of systemd in the latest flatcar releases?

There was an issue between auditd and systemd in the past so I'm trying to see  if it can be related

[2022-10-04 09:33] pothos commented on #861
Problem seems to be gone now, could have been very hardware-related :shrug:

[2022-10-04 09:33] #861 closed, assigned to nobody

[2022-10-04 10:00] Champ-Goblem commented on #847
@jepio I think I have managed to get some of the list of hung tasks, I cant be sure how complete the list is, but I think it should be a good starting point nonetheless
[hung-tasks.txt](https://github.com/flatcar/Flatcar/files/9704768/hung-tasks.txt)

[2022-10-04 23:39] Mitsuwa commented on #378
This still seems to be happening in `3033.3.5`

worse so i do not seem to be able to do the workaround

[code]

[2022-10-05 15:23] seh commented on #378
We suffered through this bug through the night and this morning, and have found the workaround suggested by @igcherkaev in https://github.com/flatcar/Flatcar/issues/378#issuecomment-847189739 is working acceptably, so long as we're using Flatcar Container Linux with a kernel at version 5.15 or so. We found that using that new of a kernel wasn't enough without disabling generic receive and segmenta

[2022-10-06 07:23] pothos opened #865 "[RFE] Use common boot complete systemd target"
## Current situation

`update-engine.service` marks the booted partition as working after ~2 mins

## Impact

Users would have to add a unit dependency for update engine to add a required service that must come up for the booted partition to be marked as working. However, this is Flatcar specific.

## Ideal future situation

We use the systemd boot complete target so that users can add dependencie

[2022-10-06 10:33] till commented on #430
@pothos If this is a mac related issue in qemu. Is there anything to follow?

[2022-10-06 18:01] pothos commented on #430
I think nobody reported this upstream yet. Would be good to do one manual check whether the fw cfg file is somehow accessible or not (path should be `/sys/firmware/qemu_fw_cfg/by_name/opt/org.flatcar-linux/config/raw` after `modprobe qemu_fw_cfg`).

[2022-10-07 14:21] till commented on #430
@pothos I used the command by @jmgilman

![QEMU 2022-10-07 at 4 19 48 PM](https://user-images.githubusercontent.com/27003/194575694-94cba314-65d7-44b1-8e00-3f70e5cf9843.jpg)

No config?

Noticed my qemu is more recent than his:

[code]

[2022-10-07 22:49] till commented on #430
I compiled qemu and I think I was wrong, it is all there. I have to check tomorrow with the one I had installed. I just ran it with the alpha it seems to at least populate the authorized keys. I'll try stable again too tomorrow. Only realized now that `by_name/opt/fqdn/etc` is a symlink. 🤦🏼

[2022-10-08 15:33] till commented on #430
Deleted everything and tried again, with qemu 7.1.0 and an old ignition file (`v2.3.0`) it works. I couldn't get it to read it the other day but now everything in journal is a-ok. 👍🏼 But not sure why it wouldn't find anything the other day. Maybe I typo'd a path when I started the VM?

Also (unrelated), but half the time the VM dies or loops with a clocksource error. Not on the latest qemu though.

[2022-10-08 17:27] ruuda commented on #852
Does this mean that https://github.com/flatcar/container-linux-config-transpiler is deprecated, and Butane is preferred? In addition to updating the docs, it may be helpful to add a note to the readme over there.

[2022-10-09 01:44] geckolinux opened #866 "Unable to access flatcar-linux.net due to certificate / server errors"
Hi there, I can't seem to access `flatcar-linux.net` at all on my desktop or from my cloud VM due to certificate problems, is there something I'm not getting?

[code]

https://flatcar-linux.org/docs/latest/migrating-from-coreos/update-from-container-linux/

[code]

[2022-10-09 03:09] Jeremy-Boyle commented on #866
Also getting issues

[code]

[2022-10-09 13:54] Jeremy-Boyle commented on #866
Adding chat from slack
https://kubernetes.slack.com/archives/C03GQ8B5XNJ/p1665320134211289

Seems the issue is:
I was able to connect via pulling the ip address from outside the united states and using that ip to then curl.

[code]

Looks like your issue has to do with something happening on `136.144.58.113`
[code]

[code]

@geckolinux

Try adding `147.75.87.17 beta.release.flatcar-linux.net` to y

[2022-10-09 14:28] till commented on #852
Along with suggesting butan, is there a list of what the major user-facing changes are? E.g., it seems that before there was a `networkd` entity, which is no longer and you have to use `files`.

I also find the "official" documentation of butan a bit hard to read (HTML list of possible attributes/objects/nested lists, etc.) as I literally had to scroll up and down to understand the level of indent

[2022-10-09 16:32] till commented on #866
Which DNS servers are you using yourself? I've been pulling images all weekend, no issues.

[2022-10-09 16:36] Jeremy-Boyle commented on #866
It seems like the issue is geo filtering from the United States it works via vpn.

I'm using 1.1.1.1

[2022-10-09 16:45] till commented on #866
Odd indeed, just adding this here — as it seems to be working from "here" when I query with Cloudflare:

[code]

Are you by chance in Seattle (or in the vicinity)? Cloudflare seems to have issues locally per their status page. Maybe try [`9.9.9.9`](https://www.quad9.net/) instead as a resolver?

[2022-10-09 16:52] ruuda commented on #852
Yeah, it would be nice to have some kind of update guide that explains how to move from CT to Butane, so far I haven’t found one. Differences that I did discover when updating:

* There is a new top-level key `variant`, which should be set to `flatcar`. There is also a new top-level key `version`.
* The `locksmith` section is no longer supported. Instead one can use the files section to write `/et

[2022-10-09 17:04] Jeremy-Boyle commented on #866
Im actually in Texas.

Ive spun up instances in the following aws regions to test aswell

US West (Oregon) Region
US West (Northern California) Region
US East (Ohio) Region
US East (Northern Virginia) Region

Also tried the following vpn locations that did not work

West Coast
Central
East Coast

They resolve to  `136.144.58.113`

Also tried the following DNS servers:
[code]

AWS Locations outside

[2022-10-09 17:32] geckolinux commented on #866
I ran into this problem on a Hetzner Cloud VM, I think it's using their internal DNS (`185.12.64.2`). Also my workstation is unable to access it using `8.8.8.8` DNS.

[2022-10-09 18:28] till commented on #430
The error came back (even with the compiled qemu), albeit sporadic. Added kernel args `tsc=reliable` (in butane) which "fixed" it. From reading tickets on various projects, it seems Monterey related.

[2022-10-09 21:12] pothos commented on #866
Affected is 136.144.58.113 - I've restarted nginx there and it helped but it gets flooded with many requests and it could happen again - we need to tweak the config or find the bug that causes the empty responses.
FYI, you can test this with `curl --resolve stable.release.flatcar-linux.net:443:136.144.58.113 https://stable.release.flatcar-linux.net/amd64-usr/2079.3.2/version.txt`

[2022-10-09 21:14] Jeremy-Boyle commented on #866
Confirmed fixed (for now)!

Also, I couldn't help notice that your nginx is replying with your nginx version when I was curling.

You may want to consider removing the severname from the config or changing it to something that doesn't give the direct version away. Cheers !

[2022-10-09 22:54] seh commented on #378
Using [the stable Flatcar Container Linux version 3227.2.2](https://www.flatcar.org/releases#release-3227.2.2) atop kernel version 5.15.63, we see this kernel bug occur [in file _net/core/skbuff.c_ on line 4219](https://elixir.bootlin.com/linux/v5.15.63/source/net/core/skbuff.c#L4219) when the expression `list_skb->head_frag` is false, due to [that (bit)field](https://elixir.bootlin.com/linux/v5.1

[2022-10-10 09:00] pothos commented on #378
Can we interact with upstream maintainers despite having no clear trace and did someone start that discussion? The source code link from the `BUG at net/core/skbuff.c:123!` messages and the workarounds may give some hints already.

[2022-10-10 09:17] pothos commented on #852
The `ct` transpiler is still the way to go for Flatcar LTS.

More Butane examples would be great, yes, specially for a "migration guide".

[2022-10-10 14:55] till commented on #852
Is it smart to tie Flatcar to Fedora? I mean, longer term. Just wondering what your thoughts are as they are leading development. Sounds like custom proposals won't make it as long as FCOS doesn't use something (e.g. locksmith, systemd-networkd).

[2022-10-10 14:59] pothos commented on #852
Flatcar and FCOS have different variants in Butane, e.g., currently the Flatcar variant doesn't allow clevis because it's not supported

[2022-10-10 17:50] seh commented on #378
We noticed that when running with GRO and GSO enabled again, with MTU ratcheted down on the _eth0_ interface from the default 9,001 to 1,500, this time using [Flatcar Container Linux beta version 3346.1.0](https://www.flatcar.org/releases#release-3346.1.0) and kernel version 5.15.70 atop the "m5.4xlarge" EC2 instance type, we see a different problem arise: Instead of the kernel reporting through t

[2022-10-10 19:20] seh commented on #378
Running with GRO and GSO enabled with the MTU for the _eth0_ interface back up at 9,000, this time using Flatcar Container Linux version 3227.2.2 and kernel version 5.15.63 atop the "z1d.12xlarge" EC instance type, the kernel bug does arise, but now we're getting more diagnostic output, per the following log fragment.

<details>
<summary>dmesg output</summary>

[code]
</details>

[2022-10-11 07:25] jepio commented on #378
Thanks @seh, these kinds of logs are enough to start a discussion on lkml. I'll start a thread. Just to be sure I have all the facts straight: this is using ENA?

[2022-10-11 12:15] pothos commented on #347
Let's come up with a helper script that assembles the right kernel cmdline. The tasks are detecting first boot and OEM, evaluating/setting GPT attributes, and fetching the dmverity hash.

If desired we could even move some more logic into the initrd (e.g., first boot and OEM detection doesn't actually need to be done in GRUB and we could append the dmverity hash in a secondary initrd appended to t

[2022-10-11 12:25] seh commented on #378
If by ENA you mean _Elastic Network Adapter_, then I think the answer is yes. We didn't do anything deliberate to choose that, but running _modinfo ena_ shows that the module is installed.

[2022-10-11 12:26] pothos opened #867 "[RFE] Use systemd-boot for EFI booting"
## Current situation

GRUB is on the MBR for BIOS booting and also on the ESP for EFI booting. GRUB has custom logic for A/B GPT attribute handling, the reading of the dm-verity hash from a kernel offset, and the detection of first boot and OEM. Users may also customize the kernel parameters through the grub.cfg file.
For TPM usage, however, GRUB's supported mode is not really useful because it do

[2022-10-11 12:38] pothos opened #868 "[RFE] Investigate using systemd-repart/growfs to create/grow the rootfs"
## Current situation

The root filesystem is grown on boot to fit the disk size. One can also reformat the root partition with Ignition, and even try to [create two partitions instead of one](https://github.com/flatcar/Flatcar/issues/462) but it's not so straight forward. Setting up LUKS is supported but not with TPM enrollment.

## Impact

The root filesystem growing is a custom implementation an

[2022-10-11 12:47] pothos opened #869 "[RFE] OS reset helper"
## Current situation

Factory reset is something common for consumer devices but it also is useful for servers when we follow the idea of immutable infrastructure and want to "reprovision" to apply a config change but newly installing the OS takes too long or is too disruptive due to local data.
We have example usage with terraform helper scripts in the `without-instance-replacement` variants of h

[2022-10-11 17:33] pothos opened #870 "Release Flatcar Container Linux Stable 3227.2.3 LTS-2022 3033.3.6 LTS-2021 2605.32.1"
## Release Flatcar Container Linux Stable 3227.2.3 LTS-2022 3033.3.6 LTS-2021 2605.32.1

The release of Flatcar Container Linux Stable 3227.2.3 LTS-2022 3033.3.6 LTS-2021 2605.32.1 is planned for Oct 13 2022.

### Tasks
- [x] Go / No Go [hackmd doc](https://hackmd.io/team/flatcar?nav=overview) created from previous one for test tracking and release notes: [link](https://hackmd.io/SzVBsJTeS--cySnQJ

[2022-10-11 17:40] pothos commented on #870
Stable: http://jenkins.infra.kinvolk.io:8080/job/container/job/packages_all_arches/516/cldsv/
LTS-2021: http://jenkins.infra.kinvolk.io:8080/job/container/job/packages_all_arches/514/cldsv/
LTS-2022: http://jenkins.infra.kinvolk.io:8080/job/container/job/packages_all_arches/515/cldsv/

[2022-10-11 23:32] seh commented on #378
My colleague @nbourikas disabled panic upon softlockup and was able to capture a more detailed failure trace atop kernel version 5.15.70 and Calico version 3.21.5.

<details>
<summary>dmesg output</summary>

[code]
</details>

@tomastigera and @fasaxc, note this frame in that call stack, in between `tcp_gso_segment` and `inet_gso_segment`:

[2022-10-12 06:14] sdlarsen commented on #840
This is not intermittent to me. All my arm64 instances fail on stable. They run fine on beta.

[2022-10-13 07:30] Snaipe opened #871 "arm64: unable to PXE boot, hang after AHCI errors"
## Description

On Gigabyte arm64 servers, the Flatcar PXE images hang during the boot process, making them unusable, while Fedora CoreOS images work. We think we narrowed it down to CMA not being enabled in the kernel config, and enabling it generally and for DMA seems to get the boot process farther along.

## Impact

Inability to use flatcar images altogether on arm-based servers

## Environmen

[2022-10-13 08:24] jepio commented on #871
Hi @Snaipe,
it may very well be down to cma, but could you try the following kernel parameters on stock Flatcar: `coherent_pool=64M pci=realloc`. Could you also upload the FCOS kconfig? The bigger atomic pool could come down to FCOS defaulting to 16K pages (reading kernel source here, need to verify).

[2022-10-13 09:23] Snaipe commented on #871
Just tried to boot the vanilla 3227.2.2 pxe images with `coherent_pool=64M pci=realloc` -- same issue: [flatcar-vanilla-with-opts.log](https://github.com/flatcar/Flatcar/files/9774936/flatcar-vanilla-with-opts.log)

I'm not sure why, but here or even in my own tests I'm not seeing any effect when setting coherent_pool=xyz; the boot logs still contain `DMA: preallocated 4096 KiB GFP_KERNEL pool for

[2022-10-13 09:44] jepio commented on #871
Would you be able to test build a Flatcar image with the following value set in the kernel config:
[code]
That would be the source of the 16M vs 4M atomic pool difference. But to be honest I have no idea why CMA would make a difference here, especially with assigning io space.

[2022-10-13 11:13] jepio commented on #840
@dongsupark if the AMI is corrupt we should take it down

[2022-10-13 11:41] dongsupark commented on #840
@jepio As describe in the [comment](https://github.com/flatcar/Flatcar/issues/839#issuecomment-1234317400), the corrupt AMI was set to `private`.

[2022-10-13 12:05] jepio commented on #378
@seh, would you be able to test with calico 3.23? This PR https://github.com/projectcalico/calico/pull/5753/files makes calico stop changing gso_size on vxlan decapsulation, which lkml suggests might be the cause (https://lore.kernel.org/netdev/194f6b02-8ee7-b5d7-58f3-6a83b5ff275d@gmail.com/).

[2022-10-13 12:19] seh commented on #378
Thank you for the suggestion. Yes, we've been testing Calico version 3.23.3 over the last couple of days together with Flatcar's beta version 3346.1.0. So far, we haven't been hitting this kernel bug. I'll have more confidence after another day or two of testing.

[2022-10-13 15:01] dghubble commented on #840
I've seen this corruption on stable 3227.2.2 arm64 AMIs in us-east-2 in the last few days. I'd suspect the issue affects the whole set, rather than just one AMI (since they're regional)

[2022-10-13 17:59] dghubble opened #872 "[RFE] Publish Flatcar Linux Arm64 images to Azure"
## Current situation

Flatcar Linux has alluded to arm64 images being available on Azure in #716 and https://twitter.com/flatcar/status/1580307641011576833

The [Flatcar Linux Azure docs](https://flatcar-linux.org/docs/latest/installing/cloud/azure/) don't mention arm64 offerings. Looking around, Kinvolk does have a `flatcar-container-linux-corevm` offering that is marked for `Arm64`:

[code]

How

[2022-10-13 21:47] ahrkrak commented on #872
Please try: https://azuremarketplace.microsoft.com/de-de/marketplace/apps/kinvolk.flatcar-container-linux-corevm?tab=Overview

And let us know if this solves the issue.

[2022-10-13 22:09] dghubble commented on #872
Can you show in the `az` CLI some of the Arm64 images that should be used? Which `offer`, `sku`, or `urn`? The marketplace marketing page doesn't seem to contain that info or link to it.

[2022-10-14 08:00] jepio commented on #872
Hi @dghubble,
You're right, docs are missing, I apologize for that and we'll add them.

We do publish the images, and you should not need to upload/publish yourself. I think the likely source of your error is that you are still supplying plan information, though I don't really know why that wouldn't work :shrug:. We have finally found a way to reduce the burden on users and remove the need for sep

[2022-10-14 08:03] Snaipe commented on #871
I thought I had done something wrong and had to rebuild the kernel twice to confirm, but that config didn't seem to have any effect. I'm a bit puzzled.

I am also noticing that when I pass cma=0 to the kernel cmdline, I'm back at the same point as above, so maybe it's something else.

I'm also noticing that I am consistently getting a BTF mismatch on the scsi_common module so I think I might be do

[2022-10-14 08:35] jepio commented on #871
That's weird. If I find some time i'd check it myself.

Sorry, just noticed that the guide has some issues. Try patching the config in `coreos-overlay/sys-kernel/coreos-modules/files` and then rebuild in this order:
[code]

Would you open a PR with the kconfig changes after you've checked which one works best?

[2022-10-14 10:42] Snaipe commented on #871
Thanks, doing this right now.

Yep, will do.

[2022-10-14 12:50] Snaipe commented on #871
Okay, this was very helpful -- the image I got reproduces the original problem, which mean I'll be able to properly troubleshoot things. I can confirm that CMA might have been a red herring, as with all of the above config set, I'm still seeing the problem.

[2022-10-14 14:31] jepio commented on #871
What about enabling `CONFIG_IOMMU_SUPPORT=y` and related ARM settings `CONFIG_ARM_SMMU=y` and `CONFIG_ARM_SMMU_V3=y`?

[2022-10-14 20:07] Snaipe commented on #871
Progress! Enabling IOMMU got me past the original failure. We're now blocking for about 300 seconds after the NICs get initialized and the disks get SCSI-attached, before it gives up and reboots. [Boot logs](https://github.com/flatcar/Flatcar/files/9789748/klog-with-iommu.log).

I'm going to try to bisect the kernel config differences with FCOS too in the meantime.

[2022-10-16 16:20] dghubble commented on #872
Ok, I think I see the situation. So `flatcar-container-linux-corevm` is the intended Arm64 offering name.

* For Arm64, its important to **not** specify a plan otherwise you'll get the `is not to be sold in market: 'US'` error.
* For x86, I **must** specify the `plan` and terms otherwise we get the `a Marketplace image requires Plan information in the request` error. And maybe in future you plan t

[2022-10-17 07:58] Snaipe commented on #871
Unfortunately I was not able to bisect the config diff to something that worked -- the initial set was nonfunctional from the get-go (can't even boot) and too large to efficiently trim to find something that worked. I did try investigating the DMA differences a bit further, but I wasn't really trusting the config at that point, so I applied this patch:

[code]

This didn't seem to have any effect

[2022-10-17 08:36] jepio commented on #871
I don't know which console you grab the logs from but make sure you have this in the command line:
```console=ttyXXX systemd.journald.forward_to_console=1```

[2022-10-17 08:39] Snaipe commented on #871
From serial through IPMI -- I've added forward_to_console=1 and I think it might be a config issue pulling something over the network. Currently troubleshooting, but it seems that the IOMMU configs were what really unwedged me. I'll report back if/once I get the config issues working and make a PR with the kconfig changes if nothing else is breaking

[2022-10-17 09:04] jepio commented on #871
I think you may want to set `ignition.config.url` instead of `cloud-config-url`, which will fetch the provisioning config and should run it through https://github.com/flatcar/coreos-cloudinit if it's not an ignition file (https://www.flatcar.org/docs/latest/installing/bare-metal/booting-with-ipxe/).

[2022-10-17 09:59] kailasandhale opened #873 "Unable to create custom flatcar image on GCP"
## Description

I am trying to create custom image from Virtual Hard disk which can then be deployed on GCP, but I do not see flatcar linux option on GCP's list of operating systems when I try to create image

## Impact

Due to this issue, I am not able to deploy the customized version of flatcar to GCP and my VHD is considered as data VHD instead of OS VHD and hence I am not able to access OS lev

[2022-10-17 11:46] jepio commented on #873
Hi @kailasandhale,

Can you confirm that you are performing the equivalent of:
[code]
I'm also not sure how this is supposed to work with VHD files, as far as I can tell this expects the image to be called `disk.raw` inside of a `tar.gz` https://github.com/flatcar/scripts/blob/main/build_library/vm_image_util.sh#L1030-L1038. @tormath1 do you know more?

[2022-10-17 12:07] Snaipe commented on #871
I finally got it to work -- removing everything in the config except for a pretty bare bones ignition config, it managed to finally get all the way to login:

[code]

I guess we have some stuff to revise in our current configuration -- it was the same config used for older flatcar deployments so I had assumed it would continue working, but perhaps not. At the very least, being able to boot means I

[2022-10-17 14:29] robertdavidsmith commented on #819
We are happily using gpu-operator for this now.

[2022-10-17 14:29] #819 closed, assigned to nobody

[2022-10-17 14:30] robertdavidsmith commented on #818
We are happily using gpu-operator for this now, which is probably a better solution than any of the above. Closing.

[2022-10-17 14:30] #818 closed, assigned to nobody

[2022-10-17 14:55] njegosrailic commented on #737
+1

[2022-10-17 17:42] till commented on #737
Having it in the OpenStack image would be beneficial to us. :)

[2022-10-18 07:38] tormath1 commented on #873
@jepio I only use Terraform or GCP Marketplace to create instances on GCP. One can use `ore` to upload the image but it's basically the equivalent of your `gcloud` command (which uses the `flatcar_production_gce.tar.gz` image)

[2022-10-18 09:35] Snaipe commented on #871
I've made a PR at flatcar/coreos-overlay#2235 with the kconfig changes.

[2022-10-18 10:42] tormath1 commented on #873
I checked once again with `ore` on my personal account. It successfully created an image and I've been able to boot an instance from it.

Maybe @kailasandhale has tried to import a boot image[^1] which has the following requirement:

That said, Flatcar seems to fulfill the other requirements - so we could see to add Flatcar as a supported image.

[^1]: https://cloud.google.com/compute/docs/import/

[2022-10-18 11:45] kailasandhale commented on #873
I am trying to import image using vhd file. https://cloud.google.com/compute/docs/import/importing-virtual-disks is the link which I was following. It would be really helpful, if flatcar is added to the https://cloud.google.com/compute/docs/images/os-details#import list.

[2022-10-18 12:06] tormath1 commented on #873
Thanks, that's what I thought then. In the meantime to wait for the image to be supported, could you elaborate on your customization? Maybe we can provide the customization with boot provisioning (using Ignition) ?

Or try to use the Flatcar SDK to extend your image and build the `flatcar_production_gce.tar.gz` image which can be later used via `gcloud compute images create ...`

[2022-10-18 12:48] seh commented on #378
Apparently our testing did not tell the full story. It was a late one last night.

We've now seen this same kernel failure occur using Calico 3.23.2 with Flatcar Container Linux 3346.1.0 (kernel version 5.15.70) _and_ Ubuntu 22.04.1 ("Jammy Jellyfish") (kernel version 5.15.0). The line number in file _skbuff.c_ moves by one from 4218 to 4217 in the Ubuntu image. Disabling GRO and GSO again allevia

[2022-10-18 13:39] jepio commented on #873
@kailasandhale can you provide all the steps needed to reproduce this (including any commands you run, what formats everything is).

[2022-10-19 06:40] vojtechDB commented on #378
same issue `kernel BUG at net/core/skbuff.c:4082` on `Red Hat Enterprise Linux release 8.6 (Ootpa)` with `4.18.0-372.26.1.el8_6.x86_64`

Calico's eBPF data plane enabled. I agree with you @seh

[2022-10-19 07:02] kailasandhale commented on #873
@jepio The steps are mentioned in the description, I will just elaborate them a bit. Please find following steps

1. Downloaded [https://stable.release.flatcar-linux.net/amd64-usr/current/flatcar_production_gce.tar.gz](url) and decompressed it
2. Converted the disk.raw to .vhd format (With some additional directories mounted to it, which I will not be able to mention her )
3. Upload this VHD to go

[2022-10-19 16:22] t-lo opened #875 "[RFE] Rate-limit OS image caching servers"
## Current situation

OS Image cache HTTP servers are not rate-limited.
Image caches popular not only for OS images but also offer a way for automation to determine whether an update is available, via the `/<ARCH>-usr/current/version.txt` endpoint.

## Impact

Some clients are over-eager and check ´version.txt´ many times per second, resulting in millions of requests per hour on the servers.

## I

[2022-10-20 18:37] alpana17 opened #876 "Terraform can't SSH into stable-3227.2.1"
Earlier I was using Flatcar 3033.2.4.
Now, my terraform template is not able to login to launched instance. Error is:
Error: timeout - last error: SSH authentication failed (core@18.236.192.11:22): ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain

If I move to Flatcar 3033.2.4, it will start working properly.

[2022-10-21 06:38] wayfrro commented on #847
We also experience this. Any ideas if and when this will be solved? Is this certain that's vanilla kernel issue? If so, other distos should have the same problem as well.
We're already making decision to come back to LTS due this... but what if this comes to LTS too?
This is pretty serious. :/

[2022-10-21 06:39] wayfrro commented on #876
Might be worthy to check if it's not due https://github.com/flatcar/Flatcar/issues/847 .

[2022-10-21 08:16] jepio commented on #876
Hi @alpana17,
What version of terraform are you using? Openssh deprecated older keyexchange mechanisms. You might need to update terraform, this should be the same as this issue: https://github.com/flatcar/Flatcar/issues/757. An alternative you can try is to add the following to your `/etc/ssh/sshd_config` location:
[code]

[2022-10-21 08:21] jepio commented on #847
This is definitely a vanilla kernel issue, as Flatcar runs a vanilla kernel (the 6 patches we carry are arm64 specific or build system tweaks).

We agree this is pretty serious, but since none of us are filesystem developers, we don't just want to go around reverting filesystem code patches, and risking the integrity of users' data. We're waiting on upstream kernel developers. In the mean time I s

[2022-10-21 09:37] #875 closed, assigned to pothos

[2022-10-21 10:16] t-lo commented on #60
We're investigating this issue to be the first use case of #548 - and support OEM tools via sysexts. This will solve the update problem and also allow for significant more flexibility (see e.g. #781).

[2022-10-21 10:18] t-lo commented on #781
Minor update: Implementation currently suffers from
1. the fact that we need to pull in dependency libraries (`grpc` and friends) and
2. that we are required to make these libraries work in `/usr/share/oem`, so dependencies are only included with the VMWare OEM image.

We believe that adding sysext support (see #548 ) will resolve this and other (e.g. #60) issues. Leaving this issue open for track

[2022-10-21 12:21] #817 closed, assigned to nobody

[2022-10-21 12:33] #871 closed, assigned to nobody

[2022-10-21 12:40] jepio commented on #871
Thank you for this contribution @Snaipe. This fix will now progress through alpha->beta->stable.

[2022-10-21 17:55] seh commented on #378
Just to make sure we're following along on this side, did you all see [Jiri's candidate patch](https://people.redhat.com/~jbenc/net-gso-fix-panic-on-frag_list-with-mixed-head-alloc.patch) that he mentioned in https://github.com/projectcalico/calico/issues/6865#issuecomment-1286936333?

[2022-10-22 06:39] vojtechDB commented on #378
with [Jiri's candidate patch](https://people.redhat.com/~jbenc/net-gso-fix-panic-on-frag_list-with-mixed-head-alloc.patch) I'm not able to reproduce the issue anymore `4.18.0-372.26.1.el8_6.BZ_2136229_test_V1.x86_64`

[2022-10-23 18:56] alpana17 commented on #876
ok
I will try it

[2022-10-24 08:58] #737 closed, assigned to nobody

[2022-10-24 09:06] jepio commented on #737
We hear you, this will soon be available across all images.

[2022-10-24 09:21] till commented on #737
@jepio thank you, do I need to build a unit myself or will it start post install/update (to new OS)?

[2022-10-24 10:34] jepio commented on #737
It should start automatically if you set `hw_qemu_guest_agent=yes` in your openstack instance config. You can testdrive one of the images from here: https://bincache.flatcar-linux.net/images/amd64/3396.0.0+qemu-guest-agent/.

[2022-10-24 11:15] till commented on #737
@jepio so I guess that's for Glance. But can I make it work on existing infrastructure?

[2022-10-24 11:29] jepio commented on #737
Disclaimer: I know nothing about openstack.

Might be possible following this guide https://www.thenoccave.com/2021/07/openstack-qemu-guest-tools-after-creation/ after the instance has updated (once the Flatcar release is available on our update servers).

[2022-10-24 11:44] till commented on #737
Thanks, anyway! :) I'll have a look.

[2022-10-24 12:07] till commented on #737
Ha... just read the link completely. Looks like I'll be editing the ☁️ soon.

For running instances, the gist of it is:

[code]

Then stop, start instance (reboot is not sufficient) and LBNL verifying the agent started: `systemctl status qemu-guest-agent.service`.

[2022-10-25 06:59] sayanchowdhury opened #879 "Release Flatcar Container Linux Alpha 3402.0.0, Beta 3374.1.0"
## Release Flatcar Container Linux Alpha 3402.0.0, Beta 3374.1.0

The release of Flatcar Container Linux Alpha 3402.0.0, Beta 3374.1.0 is planned for October 24th, 2022.

### Tasks
- [x] Go / No Go [hackmd doc](https://hackmd.io/team/flatcar?nav=overview) created from previous one for test tracking and release notes: [link](https://hackmd.io/UplvERGgREKFgV7CXGclMQ) (@sayanchowdhury )
- [x] All pla

[2022-10-25 07:02] sayanchowdhury commented on #879
Beta 3374.1.0 - http://jenkins.infra.kinvolk.io:8080/job/container/job/packages_all_arches/608/cldsv/
Alpha 3402.0.0 - http://jenkins.infra.kinvolk.io:8080/job/container/job/packages_all_arches/610/cldsv/

hackmd doc: https://hackmd.io/UplvERGgREKFgV7CXGclMQ

[2022-10-25 15:38] #836 closed, assigned to nobody

[2022-10-26 06:57] daMupfel opened #883 "upcoming openssl critical security vulnerability fix / disclosure"
Hi :wave: ,

Not sure where the right spot to put this is.

Openssl announced a new version, fixing and disclosing a critical vulnerability (new version will be 3.0.7).

Info: https://mta.openssl.org/pipermail/openssl-announce/2022-October/000238.html

To my knowledge, stable is currently using OpenSSL 3.0.2 and beta OpenSSL 3.0.3.

Is there any plan for a timely stable release including the new v

[2022-10-26 10:28] alpana17 commented on #876
Currently, we use Terraform v0.12.7
what is the minimum version of terraform that will work??

[2022-10-26 10:34] pothos commented on #855
Here the recommendation for `DM_VERTIY` settings:
[code]
(The last is for IMA policy usage)
I guess this should go along with a kernel update to something > 5.15 → Maybe just do the jump to 6.0 in Alpha?

[2022-10-26 11:13] jepio commented on #876
Judging by issues on the terraform repository (https://github.com/hashicorp/terraform/issues/30134), v1.2 and newer.

Have you tried adding the two lines to `/etc/ssh/sshd_config` through ignition? If you must use terraform v0.12.7, then that should allow it to keep working.

[2022-10-26 11:55] t-lo commented on #782
Released; resolving.

[2022-10-26 11:55] #782 closed, assigned to t-lo

[2022-10-26 16:49] t-lo commented on #866
Closing this as we deployed a mitigation which appears to work. Thank you again for the report!

Please re-open if the issue persists / comes back for you.

[2022-10-26 16:49] #866 closed, assigned to nobody

[2022-10-26 16:56] t-lo commented on #847
@Champ-Goblem Thanks again for getting the list of tasks! This is helpful but we don't have a smoking gun yet. Upstream suspects that additional patches to 6.x mitigate the issue there, which were not backported to 5.15.x when 51ae846cff5 was.

Upstream linux-ext4 folks produced a debug helper patch (attached) and kindly request to reproduce the issue with a kernel that has this patch. We once aga

[2022-10-26 18:22] alpana17 commented on #876
@jepio I tried adding the two lines.
It worked.

[2022-10-26 18:24] alpana17 commented on #876
@jepio But how it worked by adding these two lines?

[2022-10-27 07:50] jepio commented on #876
Newer openssh disables the ssh-rsa mechanism used in the public key exchange when establishing a connection. Go ssh stack didn't support other key exchange mechanisms until recently. All go binaries that use the ssh stack are affected, all of them need to use the updated go stack to work, or openssh settings need to be changed to re-enable the disabled ssh-rsa mechanism.

[2022-10-27 11:08] kailasandhale commented on #873
@jepio @tormath1  Do we have any tentative dates in mind to get Flatcar added to Supported OS list?

[2022-10-27 11:32] jepio commented on #873
No, we don't have a contact at GCP right now that would facilitate such discussions.

[2022-10-27 11:36] pothos opened #884 "Release Flatcar Container Linux Stable 3227.2.4 Beta 3374.1.1 Alpha 3402.0.1"
## Release Flatcar Container Linux Stable 3227.2.4 Beta 3374.1.1 Alpha 3402.0.1

The release of Flatcar Container Linux Stable 3227.2.4 Beta 3374.1.1 Alpha 3402.0.1 is planned for Nov 1, 2022.

### Tasks
- [x] Go / No Go [hackmd doc](https://hackmd.io/team/flatcar?nav=overview) created from previous one for test tracking and release notes: [link](https://hackmd.io/WAGW6sitQ3SayjI2sD3KOQ) (@pothos)

[2022-10-27 12:03] pothos commented on #884
Started the builds:
Stable http://jenkins.infra.kinvolk.io:8080/job/container/job/packages_all_arches/642/cldsv/
Beta http://jenkins.infra.kinvolk.io:8080/job/container/job/packages_all_arches/643/cldsv/
Alpha http://jenkins.infra.kinvolk.io:8080/job/container/job/packages_all_arches/644/cldsv/

[2022-10-27 14:17] pothos commented on #607
It got implemented in https://github.com/flatcar/toolbox/pull/7 by using `ctr`, and will be available in a future Alpha release (you can also copy the script and invoke it as `./toolbox` to get it now already).

[2022-10-27 14:17] #607 closed, assigned to nobody

[2022-10-28 07:37] vojtechDB commented on #378
The fix has been proposed in kernel upstream https://patchwork.kernel.org/project/netdevbpf/patch/559cea869928e169240d74c386735f3f95beca32.1666858629.git.jbenc@redhat.com/

[2022-10-28 10:17] pothos commented on #883
We are working with upstream OpenSSL and are closely monitoring the event. Even though our preliminary analysis suggests Flatcar is not as critically impacted like general purpose distributions we will issue a security release on Tuesday.
We have visibility into both advisory and patch and have started vetting the patch for Flatcar.

[2022-10-28 10:24] t-lo commented on #883
Oh no, it's not - this clearly is a bug. The kind of bug with Consequences.

[2022-10-28 15:44] pothos commented on #840
I've traced it down to AWS EC2 imports when the VMDK format is used. With the plain format everything works but after conversion to VMDK the same image becomes a corrupted AMI while locally it's still ok to boot the file with QEMU.
As workaround I've prepared a change that will create the Flatcar AMIs from plain image uploads: https://github.com/flatcar/mantle/pull/391

[2022-10-30 04:39] sayanchowdhury commented on #879
Marking as complete.

[2022-10-30 04:39] #879 closed, assigned to nobody

[2022-10-30 04:40] sayanchowdhury commented on #870
Marking as complete

[2022-10-30 04:40] #870 closed, assigned to nobody

[2022-10-31 09:56] invidian opened #885 "Old kernel boot options customization with Ignition v2 breaks booting"
## Description

With previously working CLC config:
[code]

Translated to:
[code]
Booting the machine fails. Relevant log from booting:
[code]

## Impact

I had to investigate and eventually it made me migrate to Butane to mitigate.

## Environment and steps to reproduce

1. Create Ubuntu 22.04 VM.
2. Run `flatcar-install.sh` script with Ignition file provided above.
3. Reboot
4. Watch it fail.

#

[2022-10-31 10:00] pothos commented on #885
Also discussed in the chat was that the current check is for `oem` while it should also cover `OEM` which users might use because the FS label is also `OEM` and not `oem`.

[2022-10-31 12:44] pothos commented on #840
For the record, instead of going through `vmdk-convert` as we do now I've also tried to use `qemu-img` directly to create the  streamOptimized VMDK but it didn't help (`qemu-img convert -O vmdk -o subformat=streamOptimized,adapter_type=lsilogic flatcar_production_ami_image.bin flatcar_production_ami_image.vmdk`).

[2022-10-31 18:02] till commented on #847
This also happened on one of our clusters today.

Environment: OpenStack

(Not a flatcar problem, but) I think rebooting the nodes made k0s/etcd barf somehow and it generated a lot of load while trying to start up and join the cluster. i/o is through the roof for some reason and eventually overwhelmed the node and even crashes the k0s service.

SSH somewhat unresponsive (it seems to be vary betwee

[2022-10-31 18:07] pothos commented on #378
@jepio has built patches images: https://bincache.flatcar-linux.net/images/amd64/3346.1.99+issue-378-fix/ and @seh is testing them, maybe for others following that also may be interesting

[2022-10-31 20:47] seh commented on #378
So far, after five hours running with both GRO and GSO enabled, the machine (EC2 instance of type "z1d.12xlarge") has not crashed yet. Another machine running Flatcar Container Linux beta version 3346.1.0 and the same configuration otherwise (same EC2 instance type, same AZ, same workload) fails at least twice every hour.

[2022-11-01 10:54] jepio commented on #847
Hi @Champ-Goblem, are you still able to help with debugging? Could you try it with the patch (and previous patch that prevents symbol stripping) and steps that @t-lo posted. We're getting close to finding the bug

[2022-11-01 11:32] george-angel opened #886 "OpenSSL 2022 critical vulnerability"
## Description

https://mta.openssl.org/pipermail/openssl-announce/2022-October/000238.html

I have not seen an issue created on this yet, but thought it would worthwhile having it to keep track of patching.

I believe Stable channel is on `OpenSSL 3.0.2 15 Mar 2022 (Library: OpenSSL 3.0.2 15 Mar 2022)`

## Impact

Will be announced today.

## Environment and steps to reproduce

Run Stable channel

[2022-11-01 11:45] jepio commented on #886
Duplicate of https://github.com/flatcar/Flatcar/issues/883

[2022-11-01 12:02] george-angel commented on #886
Thanks!

[2022-11-01 12:02] #886 closed, assigned to nobody

[2022-11-01 13:57] kailasandhale commented on #873
@jepio @tormath1 Could you please help me with steps for deploying https://stable.release.flatcar-linux.net/amd64-usr/current/flatcar_production_gce.tar.gz to gcp? I will try to create similar custom image

[2022-11-01 14:37] Champ-Goblem commented on #847
@jepio @t-lo I will try and have a look at this over the next 2 days

[2022-11-01 15:19] kiich opened #887 "AWS AMI catalog does not show later version of Flatcar LTS in its catalog page"
## Description

in AWS AMI catalog page, when you look for Flatcar LTS 2605 version, the latest as of November 2022 that show is 2605.27.1 which is from April 2022.
However on Flatcar's release page, we can see later version such as 2605.32.1 as of November 2022 at https://flatcar-linux.org/releases#release-2605.32.1

This prevents users from finding the right AMI id for these versions in AWS thus

[2022-11-01 16:04] eyenx commented on #883
It was released a few minutes ago

[code]

   See also https://github.com/NixOS/nixpkgs/pull/198999

[2022-11-01 16:05] jepio commented on #873
@kailasandhale the steps are basically here: https://github.com/flatcar/flatcar-cloud-image-uploader/blob/master/google-cloud-flatcar-image-upload/upload_image.sh#L146-L167.
So download the image, upload to a bucket with `gsutil` and then:
[code]

[2022-11-01 16:24] sfotony commented on #883
Can you elaborate on this?

[2022-11-01 16:26] eyenx commented on #883
Release is here #884

https://www.flatcar.org/releases/#release-3227.2.4

Probably he's talking about this

[2022-11-01 16:30] pothos commented on #883
Flatcar security releases are available and include the patches.

[2022-11-01 16:33] jepio commented on #887
HI @kiich,

This seems to be some kind of mistake, we'll need to check the AWS marketplace (@sayanchowdhury). `2605.32.1` is definitely available on AWS, for the time being I recommend looking up the AMI ID in the regions where you deploy and using that directly:
[code]

[2022-11-01 16:40] tormath1 commented on #887
The AWS Marketplace was not supporting correctly the upload of two versions at the same time of the AMIs on the same offer (LTS-2022 and LTS-2021).
I'll have a look to add the missing AMIs to the marketplace then. :)

@kiich please also keep in mind that the LTS you're refering is about to be end-of-life, as mentioned in this release note: https://www.flatcar.org/releases#release-2605.31.1

[2022-11-01 23:31] kiich commented on #887
Thanks for this info @jepio - this cleared it up for me! The issue was, we were using owner ID `679593333241` and filter on the version - which brings me to next question... Are these 2 owners both `Flatcar`/`Kinvolk`

Also to add that the latest I could find from that owner was 2605.31.1 for HVM with no tags - is that correct?

[2022-11-01 23:36] kiich commented on #887
That's great to hear @tormath1 thank you for looking into the AMI catalog issue!
Your last statement made me think... Does this mean Flatcar release `2605.*` is going to be stopped as well? (Apologies, i am not up to date with LTS 2021/LTS 2022 channel differences)

If so, this is kind of show-stopper for us as we are heavily reliant on use of `rkt` - which from your chanelog indicates is deprecat

[2022-11-02 10:11] dahicks opened #888 "ign-converter: formatting root device does not work if called 'root'"
## Description

Device not booting on stable versions > 3139.2.3 using ipxe.  Root drive is not being properly labeled and is causing machine to not boot.  Disk and filesystem partition configuration provided via ignition.

## Impact

OS Never boots.  Same (exact) configuration works on stable 3139.2.3

## Environment and steps to reproduce

1. **Set-up**: Flatcar Stable 3227.2.4 on Equinix Metal

[2022-11-02 10:47] tormath1 commented on #888
Hi @dahicks,

Thanks for the clear bug report - we can clearly see that the following line is missing on the 3227.2.4 logs:
[code]

Between 3139.2.3 and 3227.2.4 there is a major bump in the Ignition version: while we tried to provide the seamless transition, it seems that reformatting the filesystem named "root" is now a no-op operation (https://github.com/flatcar/ign-converter/blob/b03b4e55d1f74

[2022-11-02 11:25] pothos commented on #887
Yes, `rkt` is not shipped in Flatcar anymore, as alternative there is Docker/containerd and `systemd-nspawn`.
You can continue to use `rkt` if you copy it to, e.g., `/opt/bin` and the needed units directly to `/etc/`.
That said, if you want to migrate, here are two examples that use `systemd-nspawn`, once by downloading an OCI image and either extracting it with Docker or mounting it (with `ctr`),

[2022-11-02 11:25] #883 closed, assigned to nobody

[2022-11-02 11:34] pothos commented on #888
Our tests are using `ROOT`: https://github.com/flatcar/mantle/blob/flatcar-master/kola/tests/ignition/filesystem.go#L34
This label is also documented in https://www.flatcar.org/docs/latest/reference/developer-guides/sdk-disk-partitions/ (Edit: An example config can be found in https://www.flatcar.org/docs/latest/setup/storage/raid/#example-container-linux-config)
Maybe we can fix that case in ign-

[2022-11-02 12:47] pothos commented on #883
In the end Flatcar doesn't seem to be vulnerable. I've tested https://github.com/colmmacc/CVE-2022-3602 on amd64 and arm64.

[2022-11-02 12:50] pothos commented on #883
Flatcar has ships no TLS server that listens on the internet by default and the only outgoing TLS connections by default are the ones to our update server. Outgoing TLS to untrusted servers is something the user can initiate with curl/git, though.

[2022-11-02 13:29] dahicks commented on #888
Thanks for looking into this so quickly!  Changing to something other than **_root_** does indeed work.

[2022-11-02 13:53] pothos commented on #888
I guess we can leave this open, or?

[2022-11-02 13:56] dahicks commented on #888
I'm fine with leaving it open, if y'all are planning a fix vs the workaround.

[2022-11-02 15:55] gamethis commented on #886
So I have tested stable, alpha, and beta,

all three when I run `openssl version` are still showing an old version pre 3.0.7

[2022-11-02 16:10] tormath1 commented on #886
Hi @gamethis,

This is normal - as mentioned in the duplicated issue[^1]:

At this very moment, OpenSSL provided by Flatcar is patched at the build time against the CVEs - that's why the `openssl version` still returns an old version.
The proper upgrade comes into: https://github.com/flatcar/coreos-overlay/pull/2267. The ending result is the same: Flatcar is correctly patched against the CVEs.

[^

[2022-11-02 16:43] gamethis commented on #886
Hi @tormath1  thanks for the reply,
This is probably my ignorance so please forgive me if so.
I installed stable release [3227.2.4](https://flatcar-linux.org/releases#release-3227.2.4) -- and validated that image.
So are you saying that this is expected to not have the proper version in it?
If so can you please point me to the instructions I am missing on how to make sure on a new build of this re

[2022-11-02 17:44] pothos commented on #886
The openssl version you see in the license file or in https://stable.release.flatcar-linux.net/amd64-usr/3227.2.4/flatcar_production_image_packages.txt has the `-rc1` suffix which relates to https://github.com/flatcar/coreos-overlay/blob/stable-3227.2.4/dev-libs/openssl/openssl-3.0.2-r1.ebuild#L56

[2022-11-02 17:45] pothos commented on #886
As said in the other issue, Flatcar does not even seem to be vulnerable by testing with https://github.com/colmmacc/CVE-2022-3602

[2022-11-03 05:59] skshandilya opened #890 "openssl version still reports old version inspite of CVE-2022-3602 and CVE-2022-3786 being fixed"
## Description
openssl version still reports old version (3.0.2) but the release page reports that the
CVE-2022-3602 and CVE-2022-3786

## Impact

This is critical CVE, that needs an urgent fix

## Environment and steps to reproduce
Install flatcar on a VMware setup
testuser@localhost ~ $ cat /etc/os-release
NAME="Flatcar Container Linux by Kinvolk"
ID=flatcar
ID_LIKE=coreos
VERSION=3227.2.4
VERSI

[2022-11-03 07:57] jepio commented on #876
I will close this since the issue is understood.

[2022-11-03 07:57] #876 closed, assigned to nobody