[2020-07-09 16:24] mazzy89 commented on #247
Thank you @pothos. I took a look at it immediately after and I've noticed that I would have out of it always the 9 partitions typical of CoreOS/Flatcar.

I'm going to try with https://stable.release.flatcar-linux.net/amd64-usr/current/flatcar-container.tar.gz

I'll report here

[2020-07-09 16:33] mazzy89 commented on #247
Using flatcar-container as root filesystem, which would be the best way to load ignition? mounting a device under `/usr/share/oem`?

[2020-07-09 16:42] pothos commented on #247
Would you use an uncompressed Flatcar kernel? This would have an initramfs with Ignition. But I think the whole idea won't work well because all assumptions are breaking if you separate the kernel from the disk and use just a single rootfs.

[2020-07-09 16:43] mazzy89 commented on #247
Yeah the requirement for Firecracker is to use an uncompressed ELF kernel image.

[2020-07-09 16:48] pothos commented on #247
And won't it work to use the standard Flatcar image as disk image and pass the same kernel parameters that GRUB would pass?

[2020-07-09 16:53] mazzy89 commented on #247
I would need to try.

For standard Flatcar image you mean `flatcar_production_image.bin` right?

Where can I get the parameters that the GRUB passes?

Also, do you guys release an uncompressed kernel image? I've found only the compressed one vmlinuz.

[2020-07-09 17:03] pothos commented on #247
Yes, that's it.
Booting in QEMU I get `rootflags=rw mount.usrflags=ro BOOT_IMAGE=/flatcar/vmlinuz-a mount.usr=/dev/mapper/usr verity.usr=PARTUUID=7130c94a-213a-4e5a-8e26-6cce9662f132 rootflags=rw mount.usrflags=ro consoleblank=0 root=LABEL=ROOT console=ttyS0,115200n8 console=tty0 verity.usrhash=775c6092bc6a0c6504a6530347ee748314ba8445a1c1c5be737e07a8c89867b1`
where the verity hash and depends on w

[2020-07-09 17:10] mazzy89 commented on #247
All right. I will definitely try it. I just miss then the uncompress kernel image of Flatcar but it should not be a problem for that.

Thank you @pothos. I will let you know soon.

[2020-07-09 17:18] mazzy89 commented on #247
I've sadly found that https://raw.githubusercontent.com/torvalds/linux/master/scripts/extract-vmlinux does not work with your kernel image however seems pretty standard image
[code]
Also according the constant `CONFIG_KERNEL_GZIP=y` seems gzip.

Am I missing anything?

[2020-07-09 18:11] margamanterola commented on #155
I did a quick test with a c1.small and a c3.small machines, which are using BIOS mode to boot, and they both rebooted successfully. So, there's something more at play that includes the hardware used by c3.medium / m2.xlarge.

[2020-07-09 21:23] mazzy89 commented on #247
Seems at the end I got it fine. that extract-vmlinux script seems outdated and does not have the right magic number

[code]

I'll test then.

[2020-07-09 22:04] pothos commented on #247
Thanks, but that `grep -a -b -o -m 1 -P '\x1f\x8b\x08\x00' flatcar_production_image.vmlinuz` command is empty for the vmlinuz image I linked. Is some argument different?
Does this include the initramfs or is this really just the plain kernel without anything else?

[2020-07-10 05:36] mazzy89 commented on #247
Weird because I get the result.
[code]

[2020-07-10 13:17] pothos commented on #247
I just used your constant to uncompress and then extracted the resulting file with `binwalk -e -M vmlinuz`. It contains the initramfs and in theory it should work…

[2020-07-10 13:18] mazzy89 commented on #247
The nice news here is that once I got the kernel decompressed and passed into the VM with the image and kernel flag, it booted but it failed then because it expect the device /dev/vda while I believe flatcar names differently.

[2020-07-10 13:35] pothos commented on #247
Could also be because I used an older image hash.

You also need the first boot kernel parameters. Here, with the hash for the `2512.2.1` Stable image:

`rootflags=rw mount.usrflags=ro BOOT_IMAGE=/flatcar/vmlinuz-a mount.usr=/dev/mapper/usr verity.usr=PARTUUID=7130c94a-213a-4e5a-8e26-6cce9662f132 rootflags=rw mount.usrflags=ro consoleblank=0 root=LABEL=ROOT console=ttyS0,115200n8 console=tty0 flat

[2020-07-10 13:53] mazzy89 commented on #247
I also realized that I need to boot the VM specifying the partuuid of the root otherwise it will fallback using /dev/vda.

At the moment I'm out of office but once back i give a try with the kernel flags you posted and more importantly making the installation having a loop device and passing in ignition.

Thanks a lot Kai. I'll let you know once ive tried that.

[2020-07-12 13:51] pothos commented on #155
On first sight on m2.xlarge it seems to be related to the kernel version because Flatcar Stable 2247.7.0 with Linux x86_64 4.19.84-flatcar boots fine but when trying to update it doesn't find the drive in the initramfs. Maybe it's just bad luck that this only happens on the update reboot and less likely on the other reboots (and I think I hit it there too, as stated above, but I'm not sure anymore

[2020-07-12 20:32] mazzy89 commented on #247
I tried to start the VM with the decompressed kernel, `flatcar_production_image.bin` and the following kernel flags:

[code]

I specify the `PARTUUID` of the `ROOT` in Firecracker and then I get these flags at the boot:

[code]

The result:

[code]

Still investigating why partitions are not read

[2020-07-12 21:04] pothos commented on #247
Great to see that you came so far!

Did you really add `nomodules`? That would mean that the modules in the initramfs are not loaded, or? Modules are needed to find the partitions.
I don't get why you want to use the PARTUUID because `root=LABEL=ROOT` is already set previously (Were you told to use PARTUUID because it doesn't rely on kernel modules? They are needed anyway, so just `LABEL=ROOT` is

[2020-07-12 21:09] mazzy89 commented on #247
Yeah `nomodules` it was just a test. I've also removed and it does not work. Partitions are not loaded. The reason why I need to pass the partuuid is due to firecracker that by default load /dev/vda (this is indeed hardcoded). When root-partition flag is passed in during VM creation then the specific partition is loaded but even without specifying the partuuid does not work. Problems is that parti

[2020-07-12 21:11] pothos commented on #247
Does it not give access to the full image as block device with a partition table?

[2020-07-12 21:14] mazzy89 commented on #247
No it does not

[2020-07-12 21:21] pothos commented on #247
Sounds like a patch for firecracker makes sense then?

[2020-07-12 21:24] mazzy89 commented on #247
Yeah. I thought the same. Need to check deeper that part of code where the mounting of the root device is executed. I have some feeling that there is an issue there. I'll definitely let you know. Thank you Kai

[2020-07-13 14:04] mazzy89 commented on #247
Found the reason why block device is not mounted. If I'm not wrong Flatcar does not come with virtio modules already loaded

[code]

the command above is indeed empty.

Firecracker uses virtio to emulate block devices.

-----

**Update**

No, actually that is not true.

Even with virtio modules loaded

[code]

still the device is not mounted.

[2020-07-13 14:53] mazzy89 commented on #247
Actually it seems that it's the kernel of the host machine that must have `virtio` modules enabled on and by default `flatcar_production_image.vmlinuz` does not seems to be shipped with `virtio` modules enabled by default.

[2020-07-13 16:21] mazzy89 commented on #247
Do you have guys a kernel module with `virtio` config parameters set to `y` or all the kernel have it set to `m`?

[2020-07-13 16:29] pothos commented on #247
Hm, it's set to `m`, see https://github.com/flatcar-linux/coreos-overlay/blob/adaeebd7e6d013cb9be0ec711981579c508959a3/sys-kernel/coreos-modules/files/commonconfig-4.19#L904
But since the module should be in the initramfs, there should be no problem because it also works with QEMU if you break in the initramfs via adding `rd.break=pre-pivot rd.shell` to the kernel command line parameters and see t

[2020-07-13 16:33] mazzy89 commented on #247
Getting into the emergecy mode shell I get this

[code]

[2020-07-13 16:41] pothos commented on #247
What does `insmod /usr/lib64/modules/4.19.128-flatcar/kernel/drivers/block/virtio_blk.ko` do?

[2020-07-13 16:42] pothos commented on #247
I wonder why they are not loaded like it happens with QEMU. After loading in the initramfs, can you continue with `exit` to resume the boot?

[2020-07-13 16:48] pothos commented on #247
(In your case I think `rd.break=pre-mount` would be it since the modules are not loaded? But you end up in the shell anyway, or?)

[2020-07-13 16:52] mazzy89 commented on #247
So I get here:

[code]

Seems that the module is there:

[code]

in fact I get
[code]

However I tried another kernel https://s3.amazonaws.com/spec.ccfc.min/img/hello/kernel/hello-vmlinux.bin

and the block device seems loaded so I think is a problem of flatcar kernel. continue to debugging.

[2020-07-13 16:55] mazzy89 commented on #247
exec `exit`, it continues with the boot but I get again to the same results because the device is not found so dracut timeout and again again.

[2020-07-13 16:59] mazzy89 commented on #247
Tried the flag `rd.break=pre-mount` no much difference.

[2020-07-13 17:10] mazzy89 commented on #247
The only thing that my eyes can catch from the recommended kernel [config](https://github.com/firecracker-microvm/firecracker/blob/master/resources/microvm-kernel-x86_64.config) by Firecracker is that `VIRT` parameters are in `y` while Flatcar has in `m` but as discussed above `virtio_blk` seems already loaded so I do not get the reason why the blk would not be mounted. also seems that the device

[2020-07-13 18:40] mazzy89 commented on #247
So according to the community around Firecracker, it does not support yet booting from UEFI partitions and if I do not make a mistake Flatcar has UEFI partitions so the problem is right that.

[2020-07-13 19:19] mazzy89 commented on #247
The only thing I got it working at the moment is

1. using the Firecracker cooked kernel - available in here https://s3.amazonaws.com/spec.ccfc.min/img/hello/kernel/hello-vmlinux.bin
2. use as root fs the https://stable.release.flatcar-linux.net/amd64-usr/current/flatcar-container.tar.gz

In this way, I get at least to the login shellSo  but it fails in

[code]

and no idea how to upload Ignition

[2020-07-14 11:20] mazzy89 commented on #247
I got finally an official answer from the Firecracker maintainers https://github.com/firecracker-microvm/firecracker/issues/2021#issuecomment-658107440

**TL;DR** Firecracker does not use a boot-loader. It sets up the emulated HW to run straight into kernel code from the provided kernel image.

So I believe that the provided kernel image does not support this use case so this is the reason why it

[2020-07-14 11:33] pothos commented on #247
That's what GRUB also would do and it's not a problem because you already provided the kernel/initramfs manually. I just wonder why the provided block device doesn't show up…

[2020-07-14 11:42] mazzy89 commented on #247
The thing I've noticed

Firecracker kernel
[code]

Flatcar kernel
[code]

and Firecracker passes automatically the kernel parameter `virtio_mmio.device=4K@0xd0000000:5` and according the info

[2020-07-14 12:29] mazzy89 commented on #247
I will compile the kernel but do you think @pothos I should wire a PR to make the Flatcar kernel supporting setting mnio device by the command line?

[2020-07-14 12:48] pothos commented on #247
Thanks for tracking this down! Sure, turning it on won't hurt, I guess, but didn't have a deeper look.

[2020-07-14 12:50] mazzy89 commented on #247
A pleasure. I love this shit 😇

[2020-07-14 18:22] pothos commented on #247
Maybe it makes sense to disable updates in Ignition (mask `update-engine.service`) because GRUB is responsible for selecting the correct partition and all this is not really possible when Firecracker starts the kernel separately.

[2020-07-14 18:34] mazzy89 commented on #247
And... we have something 🤠

so I get again in the dracut emergency shell but this time when I run

[code]
all the `vda` are mounted in fact

[code]

Now I'm wondering why the module `virtio_mmio` is not loaded if we compiled the kernel with `y`

[2020-07-14 18:43] pothos commented on #247
Maybe because `CONFIG_VIRTIO_MMIO=m` is still set? Just an idea…

[2020-07-14 18:44] mazzy89 commented on #247
Yeah I was thinking the same.

[2020-07-14 18:45] mazzy89 commented on #247
should we consider also to move all the flag `virtio` flag from `m` to `y`?

[2020-07-14 18:59] pothos commented on #247
Worth giving it a try, but we need to decide if this is ok to be merged. I hope it's not necessary to do it for all virtio modules.

[2020-07-14 19:06] mazzy89 commented on #247
Ok. My idea would be to set to `y` at least all the virtio devices used by Firecracker which are set to `y` in the config recommended config `https://github.com/firecracker-microvm/firecracker/blob/master/resources/microvm-kernel-x86_64.config`

I can build on my side everything again and tomorrow give a try.

Also once I've enabled in the dracut emergency shell the kernel module I still was not a

[2020-07-14 19:20] pothos commented on #247
Can you try again without specifying the PARTUUID, just adding `console=ttyS0 noapic reboot=k panic=1 virtio_mmio.device=4K@0xd0000000:5` to the parameters I posted? (then load the module manually again and `exit`)

[2020-07-14 19:21] mazzy89 commented on #247
I made another try. I've removed the selection of the `PARTUUID` by Firecracker and leave the kernel to select the `ROOT` via the `ROOT=LABEL` and I got further but fails in here

[code]

[2020-07-14 19:29] mazzy89 commented on #247
Sorry the output above is the case when I've removed `flatcar.randomize_disk_guid=00000000-0000-0000-0000-000000000001`

----

The case instead when `flatcar.randomize_disk_guid=00000000-0000-0000-0000-000000000001` is present

[code]

The look the same. there is still the issue of the bad magic present.

[2020-07-14 19:43] pothos commented on #247
`flatcar.randomize_disk_guid=00000000-0000-0000-0000-000000000001` is only needed on the first boot of an image.

I think that Firecracker itself passed something like `root=/dev/vda` which is the problem here. If that is the case it should be improved to only set the root device when it wasn't set explicitly by `root=LABEL`. So yes, maybe you have to use the PARTUUID flag then – where did you get

[2020-07-14 19:50] mazzy89 commented on #247
oh I see. yeah it makes sense. by default Firecracker set root=/dev/vda but in our case does not make sense so `PARTUUID` *must* be selected manually in Firecracker.

Also I though PARTUUID is static instead seems that it changes. I'm going to try then.

[2020-07-14 19:56] mazzy89 commented on #247
LoL now what I get is something very weird with the following Firecracker config

[code]

the system goes in loop w/o even getting into the dracut shell. trying to separate the output of the shell to get what it fails.

[2020-07-14 20:06] mazzy89 commented on #247
[code]
this is the output of the VM in loop

[2020-07-14 20:19] pothos commented on #247
I think this is because the image was booted once, you have to remove `flatcar.randomize_disk_guid=00000000-0000-0000-0000-000000000001`? (and the `first_boot` is also not needed anymore)

[2020-07-14 20:30] mazzy89 commented on #247
Yeah it makes sense. Need to find out a way then  to stop shutdown the VM after the first boot, change the config and then boot again.

Just wondering how this is handled in QEMU. Does QEMU automatically handle this?

[2020-07-14 20:48] pothos commented on #247
It's GRUB :)

Short summary of provisioning:

*   GRUB
    *   detects` /boot/flatcar/first_boot` and passes `flatcar.first_boot=detected` kernel parameter
    *   detects if GPT disk GUID needs to be randomized
    *   loads `/usr/share/oem/grub.cfg` to set OEM ID and additional kernel parameters

↓

*   Initramfs
    *   randomizes GUID if needed
    *   runs Ignition if needed
        *   data

[2020-07-14 20:54] mazzy89 commented on #247
Thanks Kai for the exhaustive explaination. Some part of this does not work in this scenario because Firecracker does not support bootloaders so no grub no mechanism to remove the flag. Did i get it right?

[2020-07-14 21:01] pothos commented on #247
Yes, you could try always to boot without `randomize_disk_guid` but still set `first_boot=1`. This way Ignition will always run which doesn't hurt in most cases and you just loose the GUID randimization which should be fine (or just do it once when downloading the image with `sgdisk --disk-guid=R image.bin`). The first boot flag file will stay there but since there is no GRUB to read it it doesn't

[2020-07-14 21:13] mazzy89 commented on #247
Yeah I was exactly thinking about any bad use cases where running Ignition multiple times would hurt but nothing comes into my mind so far.

The randomization of the GUID i think I can do it offline. I have seen some cases.

Going offline now. Tomorrow going to test this it everything works and after that build also the newer artifacts with virtio flags. At least as I said i would try to enable th

[2020-07-14 21:26] pothos commented on #247
I gave it a try, this here worked for me (note that PARTUUID is not needed anymore and autologin is set):

[code]

Edit: Also networking works.
About the updates: It's ok to leave them on but in the long run it would be nice to have some helper script that runs before the VM starts/reboots and extracts the new kernel of the active /usr partition (`cgpt`, i.e., seismograph can query the GPT attribu

[2020-07-15 08:40] mazzy89 commented on #247
Niceee. My idea would be to use the CNI that Firecracker supports out of the box. so you can chain your CNI (Calico, Cilium, etc...) with Firecracker and get the best out of it.

About the script yeah that sounds a nice idea. Actually I have in mind to wrap everything in the Firecracker Golang SDK so all your ideas would be easily doable.

Seems that it is not in the roadmap and likely won't be ev

[2020-07-16 07:19] pms1969 commented on #107
I think I agree with @samm-git here.  We've been running the SSM agent on all our containers for a while, and not via docker.  The whole point of SSM is to give you a great deal of control of the host from the AWS console/api's and to do that means you'd need to essentially mount every host directory to the docker container, which completely defeats the purpose of sandboxing it in docker in the fi

[2020-07-16 23:50] bobhenkel opened #156 "ARM64 polkit.service Unit failed on startup"
Spun up an alpha channel instance on OpenStack VM. On my first ssh login I see the the output below.  I was able to spin up a x86_64 production channel instance and it didn't cause this failure.
[code]
polkit.service is not starting up.

**Impact**

Not sure.

**Environment and steps to reproduce**

1. **Set-up**: OpenStack VM, Alpha ARM64 Channel (Flatcar Container Linux by Kinvolk alpha (2513.1.

[2020-07-17 15:01] margamanterola commented on #155
Kai identified that the issue happens during [the probing that GRUB does to find the disk with UUID 00000000-0000-0000-0000-000000000001](https://github.com/flatcar-linux/scripts/blob/flatcar-master/build_library/grub.cfg#L77).

I created a developer image that had that block commented out and tried booting it with the disk UUID having different values, and it booted fine for all values. So, every

[2020-07-21 16:06] mazzy89 commented on #247
This PR https://github.com/flatcar-linux/coreos-overlay/pull/485 enable the kernel module that Flatcar *must* have to run properly with Firecracker.

Besides that to push Ignition properly, it is enough to have a virtual device namely loop device, and run the script https://github.com/flatcar-linux/init/blob/flatcar-master/bin/flatcar-install pointing to the loop device and passing ignition as inp

[2020-07-21 16:06] mazzy89 commented on #247
I think we can close this now.

[2020-07-21 16:06] pothos commented on #247
For the record, there is a Xen GRUB ELF binary which I tried to use instead of vmlinuz but Firecracker didn't load it. That would be the best way because it would support kernel updates. However I don't know if it's just a matter of compiling GRUB the right way or if it doesn't work at all with Firecracker either because of the way it provides the MMIO virtio disk and GRUB misses support for that

[2020-07-21 16:09] mazzy89 commented on #247
I believe there are a lot of follow-ups here and many edges that can be explored better which I will definitely report. Please if everything else comes to your mind do not hesitate to report.

[2020-07-21 16:20] pothos commented on #247
The extraction of the usrhash is done by GRUB from the kernel binary
https://github.com/flatcar-linux/grub/blob/0863c013179c5addee289fb4037e6df39ca4e351/include/grub/verity-hash.h#L8
It's stored there as ASCII and should be the same offset always… but I didn't try yet to replicate this in a shell script.

[2020-07-21 16:42] pothos commented on #247
Thanks for the PR and all the investigations :+1:

[2020-07-21 16:48] pothos opened #157 "Publish new mantle binary release for cork"
**Current situation**

The last binary release lacks some feature which we rely on for future releases.
One example is the `cork verify` command which now can check if the correct tags are checked out.

**Impact**
Users have to compile from source or will run into an error message.

**Ideal future situation**
A new mantle binary release is done on GitHub and mentioned in the SDK development docs.

[2020-07-22 13:56] mazzy89 opened #255 "Fetching files from remote URL in Ignition does not work because DNS is not up in a Firecracker VM"
**Description**

Fetching files in Ignition does not work because DNS with systemd-networkd is not set up in a Firecracker VM

**Impact**

I cannot fetch files from remote URL in Ignition

**Environment and steps to reproduce**

1. **Set-up**: I'm running Flatcar from the kernel and image cooked by this PR https://github.com/flatcar-linux/coreos-overlay/pull/485 and I'm running it with Firecracker

[2020-07-22 14:08] mazzy89 commented on #255
The boot that can help here

[code]

and it shows that

[code]
is executed before the files are fetched so I do not get why the DNS is not set it up at that point.

[2020-07-22 14:16] pothos commented on #255
The networkd config you created in Ignition is not applied during the initramfs but only later. If you don't have a DHCP server, you can provide a static IP address configuration with these parameters https://docs.flatcar-linux.org/ignition/network-configuration/#using-static-ip-addresses-with-ignition
`ip=ADDR::GATEWAY:255.255.255.0::eth0:none:8.8.8.8:8.8.4.4` (Address without a `/24`)

[2020-07-22 14:55] mazzy89 commented on #255
I see 😊 thanks a lot Kai as always

[2020-07-22 18:27] mazzy89 commented on #255
Tested. We can close this. it works as expected also on Firecracker.

[2020-07-23 08:34] martin31821 commented on #94
Any chance we see a beta release with the 5.4 LTS soon?

[2020-07-23 09:51] margamanterola commented on #155
I have a fix for this, but I haven't been able to fully test it because alpha is currently broken (I've only tested it manually on the affected Packet machines, I want to do a full test run on all platforms to verify that this change doesn't break something else).  As soon as alpha gets fixed, I'll do the full test run and if everything looks good, submit the fix.

[2020-07-23 09:55] margamanterola commented on #94
Funny that you would ask this today :) The beta release 2513.2.0 is in the process of going out and includes kernel 5.4. You should see it in your servers in the next few hours. Cheers.

[2020-07-23 12:18] sayanchowdhury commented on #94
The Beta release 2513.2.0 is out, with the 5.4 kernel: https://www.flatcar-linux.org/releases/#release-2513.2.0

[2020-07-23 13:45] tinjaw opened #158 "Vagrant virtualbox not starting"
**Description**

I wanted to try flatcar so I chose the option to use alpha and virtualbox. The VMs won't start up.

**Impact**

I am unable to explore flatcar.

**Environment and steps to reproduce**
[code]

**Expected behavior**
successful startup of the cluster

**Additional information**
Please add any information here that does not fit the above format.

[code]

[2020-07-23 14:13] tinjaw opened #159 "Vagrant vmware_fusion not starting up"
**Description**

I want to try out flatcar. I have vagrant and the vmware_fusion plugin.

**Impact**

I cannot explore flatcar

**Environment and steps to reproduce**

[code]

**Expected behavior**
smooth start up

**Additional information**
Please add any information here that does not fit the above format.

[2020-07-23 19:27] fwmsn opened #160 "Unable to use static IP address before Ignition on VMWare"
**Description**
We are unable to use a static IP before Ignition following https://docs.flatcar-linux.org/ignition/network-configuration/#using-static-ip-addresses-with-ignition

**Impact**
Every provisioned Flatcar VM gets two leases from DHCP and we need them to get only one lease

**Expected behavior**
We create a template using an Ignition with the following grub.cfg
[code]
Once the template i

[2020-07-23 23:32] pothos commented on #160
Hi,
thanks for reporting, this should be fixed in the new Beta release, can you please give it a try? https://www.flatcar-linux.org/releases/#release-2513.2.0

[2020-07-24 08:24] hakman commented on #94
Big difference in stability when running Kubernetes e2e tests. Looking forward to see the changes in the stable channel.
https://testgrid.k8s.io/kops-distros#kops-aws-distro-flatcar
👍

[2020-07-24 14:27] fwmsn commented on #160
Hi,
I ran some tests and it worked like a charm!
Thank you so much for all your help.
I love Flatcar!

[2020-07-24 14:28] #160 closed, assigned to nobody

[2020-07-29 13:57] dmazhar-cogniance commented on #57
Hi @t-lo
Could you please suggest when this will be propagated into the stable channel? It looks like we found a little-bit incompatibility in our set-up between 18.x and 19.x, so we trying to schedule fix before this will go to stable.

[2020-07-29 14:08] t-lo commented on #57
Hello @dmazhar-cogniance,
It's on the roadmap but we don't have a fixed ETA yet; I'll keep you posted.

To mitigate your risk you might want to investigate supplying a custom [torcx](https://docs.flatcar-linux.org/os/torcx-overview/#what-is-torcx) profile which you could use to install a custom docker version. Not suggesting anything, just making sure you're aware of alternatives.

[2020-07-29 14:15] dmazhar-cogniance commented on #57
Thanks for the suggestion :)
We have identified an issue and prepared a fix, so we'll be ready to migrate to docker 19.x. Just a little bit afraid that will not be able to propagate it through all the environments before this will get to stable channel. Is it something that will happen this/next week or later?

[2020-08-01 10:35] orbatschow opened #243 "[ignition] Add luks support"
# Feature Request #

## Environment ##

What hardware/cloud provider/hypervisor is being used to run Ignition?

Bare-metal

## Desired Feature ##

There doesn't seem to be a way to decrypt already existing LUKS block devices with ignition, this could be useful for scenarios where data decryption is needed in order to mount drives properly.

[2020-08-04 20:48] xeor opened #161 "nfs mount problems because of start-statd and PATH"
**Description**

Kubernetes not able to run /usr/sbin/start-statd on nfs mounts, because of PATH?

**Impact**

Unable to use simple nfs mounts inside containers without using `-o nolock`

**Environment and steps to reproduce**

1. **Set-up**: Setup a normal k8s cluster, no special requirements. You also need an nfs share.
2. **Action**: Try creating a pod, like this:

[code]

3. **Error**: Dedscri

[2020-08-05 12:38] schu opened #270 "Update ansible-bootstrap to Python 3"
https://github.com/kinvolk/ansible-coreos-bootstrap

[2020-08-05 12:41] schu opened #271 "Consider publishing via Ansible Galaxy"
https://docs.ansible.com/ansible/latest/galaxy/dev_guide.html

Maybe not worth the effort until explicitly asked for by users.

[2020-08-05 15:24] pothos commented on #157
Done

[2020-08-05 15:24] #157 closed, assigned to nobody

[2020-08-06 23:26] mikekuzak commented on #57
Hi

Back on CoreOS I froze the Docker version 18.06 via this script:
https://support.coreos.com/hc/en-us/articles/360005202674-Update-Docker-on-CoreOS-using-torcx

I have migrated CoreOS to Flatcar and now running Beta 2513.2.0 with Docker 19.
How do I unfreeze the docker version to use the one which comes with Flatcar in this case docker 19 ?

Thanks

[2020-08-07 09:21] pothos commented on #57
Hi,

writing `vendor` to `/etc/torcx/next-profile` and rebooting should bring you back to the default version.

[2020-08-10 17:41] vbatts opened #262 "SDK doc update"
**Description**

Currently https://github.com/flatcar-linux/docs/blame/master/os/sdk-modifying-flatcar.md#L124 returns a 404
[code]

**Impact**

unable to set the version for the image build

**Environment and steps to reproduce**

1. **Set-up**: following the doc

**Expected behavior**

Set version to the nightly alpha version and SDK

[2020-08-10 17:45] pothos commented on #262
There is no `alpha` branch and it should be `./set_version --dev-board --board-version amd64-usr/main-nightly --dev-sdk --sdk-version sdk-main-nightly`.

[2020-08-10 17:47] pothos commented on #262
We have a new name for the branch and can name it there but there is no new branch name for edge yet.

[2020-08-10 20:11] rikatz opened #162 "Add Pressure Stall Information into Kernel"
**Current situation**
Current Kernel version supports [PSI](https://www.kernel.org/doc/html/latest/accounting/psi.html), which might help system administrators to detect bottleneck in cpu, memory and io in a easy way.

This is just a ``CONFIG_PSI=y`` in the Kernel configuration, and can also be used by cgroups2

**Impact**
Make the bottleneck and latency detection easier.

Kernel will get a little

[2020-08-11 01:27] raravena80 opened #163 "CNCF SIG-Runtime discussion/presentation(?)"
**Description**

Hello Flatcar team,

I'm one of the co-chairs of the CNCF SIG-Runtime, we believe your project is very relevant to the cloud-native ecosystem and we think it would be great for you to present/discuss it at one of our meetings. Let me know if this something you'd be interested in doing. If yes, please feel free to add it to our [agenda](https://github.com/cncf/sig-runtime) or reach

[2020-08-11 08:55] margamanterola commented on #163
Hi!

We're always happy to discuss Flatcar with interested parties :)

What kind of presentation / discussion are you looking for exactly?

Thanks for reaching out!

[2020-08-11 10:43] pothos commented on #247
FYI you can extract the usr hash from the compressed (unmodified downloaded) kernel binary as follows:
[code]

[2020-08-11 20:13] mazzy89 commented on #247
Thanks a lot @pothos gonna try that

[2020-08-12 16:18] vbatts opened #164 "[2513.2.0 beta] udev rule for md-raid: invalid value"
**Description**

looking at errors in journal on a fresh boot of 2513.2.0 beta

**Impact**

from `journalctl`
[code]

**Environment and steps to reproduce**

1. **Set-up**: flatcar_production_qemu_image.img.bz2
2. **Task**: review `journalctl`

**Expected behavior**
valid rules loaded

[2020-08-12 17:03] raravena80 commented on #163
Hi @marga-kinvolk,

Thanks for replying! For example, a general overview of the project, its architecture, how it compares to other projects, where it fits into the cloud native ecosystem, etc.

Let me know if that works.

Thx!

[2020-08-13 06:01] siodor commented on #134
I agree, this should be documented. Long time ago on CoreOS it took me ages to figure out why the Docker containers were not starting on reboot but when I pocked Docker suddenly they were running :-)

[2020-08-13 15:29] pothos commented on #134
Yes, thanks, I took your information to create a PR: https://github.com/flatcar-linux/docs/pull/112

[2020-08-13 23:08] bobhenkel commented on #156
Still seeing this on Flatcar Container Linux by Kinvolk alpha (2592.0.0) What does this failing impact?

Thanks
Bob

[2020-08-14 08:57] margamanterola commented on #163
Sure, yes. We can do that. We could be there for the September 3rd meeting.  A few more questions:
* How long a presentation should this be?
* Would you want us to present with slides, or just have a conversation?
* How many people from the Flatcar team would you want to have there?

[2020-08-14 10:54] mikekuzak opened #165 "qedf kernel module missing for iscsi"
Flatcar Version 2512.2.1

We are trying to install Flatcar on our new kit. We are not able to see our storage through the  host bus adapter because the the HBA kernel module is absent. This does work with redhat.

The old kit was working with Flatcar because it was using qla2xxx

[2020-08-14 12:58] mikekuzak commented on #165
![image](https://user-images.githubusercontent.com/18675587/90251763-39f24380-de36-11ea-8b90-f82a4fca35d8.png)
This is with Red Hat

[2020-08-14 13:02] t-lo commented on #165
Thank you for your request and please pardon the inconvenience while bringing up your new hardware with Flatcar Container Linux. We'll look into adding the kernel module.

[2020-08-17 08:55] dongsupark commented on #156
Thanks for the reminder.

We have been aware of the issue since a long time. It only happens on ARM64.
I suppose it has something to do with SELinux libs or policies that are not available on ARM64.
It is just that we have not had a chance to have a deeper look into the issue, like other ARM-related issues.

[2020-08-17 16:46] raravena80 commented on #163
* How about 30 mins including questions? There might be another project looking at present that day too.
* Up to you. It could be showing documentation too, but probably best to share something online.
* Also, up to you, the more the merrier 😄

[2020-08-18 18:51] bryanlatten opened #166 "AWS C5A support"
Hi Flatcar folks,
Looking to leverage Flatcar on the somewhat-new AWS c5a machines, which are AMD-based. Are these officially supported?

From the product page:
https://aws.amazon.com/ec2/instance-types/

- 2nd generation AMD EPYC 7002 series processors running at frequencies up to 3.3 GHz
- Elastic Network Adapter (ENA) provides C5a instances with up to 20 Gbps of network bandwdith and up to 9.5

[2020-08-18 19:22] vbatts commented on #166
Hi @bryanlatten
These machines haven't gotten a full validation yet, but also have not had any issues reported yet (here or otherwise).
Nothing jumps out that seem like an issue.

I'll slate this for a review, and would love to hear your early experiences with this machine type.

[2020-08-18 19:28] bryanlatten commented on #166
Thanks for the fast response @vbatts - I'll keep an eye on this ticket.

[2020-08-19 17:03] vbatts commented on #166
looks like the `c5a.large` went through out test suite as a SUCCESS, while the `c5ad.large` reported a number of failed tests that do not seem isolated to particular components. We're investigating this further.

Update: switched the type names. thanks Kai for pointing out my error!

[2020-08-19 19:13] pothos commented on #166
@vbatts the machine names are swapped

[2020-08-20 02:28] Winnie81 opened #167 "New Package Request: [open-vm-tools 11.1.5]"
Open-vm-tools 11.1.5 GA was announced on 08/18/2020. Please rebase OVT to our newest release in future.

About vmtools release information, please refer to https://docs.vmware.com/en/VMware-Tools/.

Thanks.

[2020-08-20 03:05] johnwvmw commented on #167
See https://github.com/vmware/open-vm-tools/releases/tag/stable-11.1.5 for available source and release information.

[2020-08-20 09:45] Winnie81 commented on #68
For 2592.0.0, the CoreOS related items still exist and the default user is "coreos", please reopen and fix it. Thanks.

[2020-08-20 09:51] pothos commented on #68
Hi,
the default user being `coreos` probably won't change as Flatcar is a CoreOS Container Linux drop-in.
What related items can we improve? The only mentioning left should be `coreos-cloudinit` in the field explanations which refers to a particular cloud-init implementation.
https://github.com/flatcar-linux/scripts/blob/main/build_library/template_vmware.ovf

[2020-08-20 09:54] Winnie81 commented on #68
"coreos" related items, such as "CoreOS config data", "CoreOS config url" and "CoreOS config data encoding", can they be modified?

[2020-08-20 09:57] pothos commented on #68
That were the old field and the current versions don't have them. Here e.g. Stable: https://stable.release.flatcar-linux.net/amd64-usr/current/flatcar_production_vmware_ova.ovf

[2020-08-20 10:02] Winnie81 commented on #68
I checked it with 2592.0.0, they still exist. And for  https://stable.release.flatcar-linux.net/amd64-usr/current/flatcar_production_vmware_ova.ovf, I can see "Ignition/coreos-cloudinit data" .

[2020-08-20 14:29] kgwaters6 opened #168 "Packet s3.xlarge.x86 instances can't provision flatcar OS"
**Description**

Provisioning failures of Flatcar OS (Alpha, Beta, Stable, and Edge) on the s3.xlarge. Suspect issue is related to installing on NVMe disks in BIOS mode (not UEFI/EFI).

**Impact**

Flatcar Container is not working on these instances.

**Environment and steps to reproduce**

1. **Set-up**: Select Flatcar for a s3.xlarge instance on Packet
2. **Task**: Provisioning
3. **Action(s)**:

[2020-08-20 15:26] pothos commented on #168
Hello,
thanks for creating the issue here. Can you tell which Alpha version got installed?
The latest Alpha has a fix for the c3.medium and some m2.xlarge instances which probably is relevant:
https://www.flatcar-linux.org/releases/#release-2592.0.0
Without the fix the instance would hang in GRUB.

About checking the version: The first update happens after a couple of minutes, so either be fast or

[2020-08-20 16:41] kgwaters6 commented on #168
Thanks, we have confirmed we have the latest releases for all versions with @t-lo

Some more detail that may be helpful:
We see it get this far:

Update Strategy: No Reboots
Failed Units: 1
  tcsd.service
core@localhost ~ $
core@localhost ~ $

Then it reboots again and never loads an OS

Ends with:

or Insert Boot Media in selected Boot device and press a key

[2020-08-20 17:11] pothos commented on #168
Ah, I see, the GRUB menu never showed up for me and it's only trying FlexBoot.

What I did was booting via iPXE: https://alpha.release.flatcar-linux.net/amd64-usr/current/flatcar_production_packet.ipxe
with this user-data:
[code]

and then installing to disk with: `sudo flatcar-install -o packet -s`
This chose the an NVMe block device for installation. You said it works with UEFI but not BIOS? The

[2020-08-20 17:38] pothos commented on #168
(Installing to `/dev/sda` worked)

[2020-08-21 18:11] vbatts commented on #137
2512.2.1 has been released https://www.flatcar-linux.org/releases/#release-2512.2.1

[2020-08-21 18:11] #137 closed, assigned to nobody

[2020-08-24 12:29] vbatts opened #169 "udev rule shows red in the journalctl"
**Description**

[code]
Though in the journal this shows in RED.

**Impact**

This does not seem to block anything, just that the udev rule is ignored.

**Environment and steps to reproduce**

1. **Set-up**: fresh install of beta (2513.3.0)
2. **Task**: look through `journalctl`
3. **Action(s)**: [ sequence of actions that triggered the bug, see example below ]
  a. [ requested the start of a new

[2020-08-24 14:55] pothos commented on #168
To install to a `/dev/sdX` device add the `-e MAJOR` flag with the major device number of the NVMe disk (on my laptop it's `-e 259` but maybe the device major number is different on the server).

[2020-08-24 16:07] dongsupark opened #170 "Kernel: Enable metacopy and redirect_dir in overlayfs"
**Current situation**
At the moment, Kernel module `overlay` enables its features, neither `metacopy` nor `redirect_dir`, as it is given so by default. According to the overlayfs developer [Amir Goldstein](https://linuxplumbersconf.org/event/7/contributions/639/attachments/501/969/Overlayfs-containers-lpc-2020.pdf) at LPC 2020, distros and container runtimes should enable both features for overlay

[2020-08-24 19:35] krnowak commented on #164
About `11-dm-lvm.rules`: Support for `OPTIONS+="event_timeout=180"` was removed in https://github.com/flatcar-linux/systemd/commit/dd5eddd28a74a49607a8fffcaf960040dba98479, so this could be fixed by either patching the rules file or updating the `sys-fs/lvm2` in coreos-overlay. The fix in upstream is here: https://sourceware.org/git/?p=lvm2.git;a=commit;h=125f27ac37bc9b93cc96f64052b9681b3d479ee1.

[2020-08-24 19:38] zeemba opened #171 "Unable to pass in userdata with Terraform"
**Description**
Creating a simple EC2 instance with Terraform using Flatcar OS 2512.3.0 on us-east-1 region works but SSH fails
[ 1 paragraph concisely describing the bug ]

**Impact**

[ Unable to SSH into the created instance ]

**Environment and steps to reproduce**

1. **Set-up**:
 I am using Terraform version 0.12.29 and  AWS provider version 3.3
2. **Task**:
 run `terraform plan --out test.o

[2020-08-24 20:25] vbatts commented on #164
mdadm: take the 4.1 update.

dm-lvm:  while I don't think updating lvm2 is a bad idea, that may have more issues that just dropping that value like upstream did.

[2020-08-25 07:29] t-lo commented on #169
Seems to affect Alpha, Beta, and (in some variation) Stable. The message in Stable is `Specified group 'render' unknown`.

[2020-08-25 08:13] dongsupark commented on #164
@krnowak Great findings!

You are right.
However, while Alpha has mdadm 3.4 in portage-stable, Edge has mdadm [4.1](https://github.com/flatcar-linux/coreos-overlay/tree/7e71177a86568f1a0bb7a8911b7459322ee755c8/sys-fs/mdadm) in coreos-overlay with Flatcar-specific patches to support the default layout. Reason for adding it was to avoid RAID0 disk layout issues introduced in Kernel 3.14. (see the [m

[2020-08-25 10:56] alban opened #172 "tc (from sys-apps/iproute2) fails to load BPF code"
**Current situation**
On alpha, 2605.0.0:
[code]

**Impact**
I cannot setup traffic control with BPF code using the iproute2 tools included in the Flatcar OS image.

**Workaround**
I can use tc from a container. Example:
[code]

**Ideal future situation**
`tc` is compiled with libelf and can load BPF programs.

**Implementation options**
See how to compile iproute2 with libelf:
https://github.com/

[2020-08-25 12:31] t-lo commented on #169
The system group "render" was missing, but is referenced in udev rules (for `/dev/dri`). In order to fix the error message the group needs to be added to both OS image and initramfs.

PRs to address the issue:
* [x] PR for baselayout to add the group to the initramfs: https://github.com/flatcar-linux/baselayout/pull/5
* ~PR for portage-stable to provide `acct-group/render`:  https://github.com/fla

[2020-08-25 13:00] zeemba commented on #171
Hello,

This issue has been resolved. The issue was caused by an error in the way I passed in user_data into the ec2 in the Terraform config.

[2020-08-25 13:00] #171 closed, assigned to nobody

[2020-08-25 13:11] dongsupark commented on #162
Yeah, I remember that Johannes Weiner gave a talk about PSI last year at All Systems Go.
I think it is a well-designed feature, used by a fair amount of userspace tools.
:+1:

[2020-08-25 13:17] dongsupark commented on #172
Right.
We should first update iproute2 to the latest version, like 5.7.
The current iproute2 4.13.0 does not have the USE flag `elf` at all.
Then we need to set the `elf` flag in coreos-overlay profiles.

[2020-08-25 14:40] t-lo commented on #172
@alban what's a good generic way to verify `tc` supports loading ELF programs (without having `mybpf.elf` from your example available)?

[2020-08-25 14:50] alban commented on #172
@t-lo you can still run the same command without the file `mybpf.elf`. If `tc` has the proper support, the error message will be different:

[code]

[2020-08-26 11:15] #169 closed, assigned to t-lo

[2020-08-26 13:14] dongsupark commented on #118
Closing in favor of https://github.com/flatcar-linux/Flatcar/issues/167 .

[2020-08-26 13:14] #118 closed, assigned to sayanchowdhury

[2020-08-26 13:18] dongsupark commented on #167
Thanks for the issue.
We should update open-vm-tools to 11.1.5.

[2020-08-26 14:10] t-lo commented on #165
Modules [are included in Apha-2605](https://www.flatcar-linux.org/releases/#release-2605.0.0) (released last Thursday) and will undergo the regular stabilisation process.

I'll close this issue, please test with Alpha-2605 and re-open if you encounter any issues.

[2020-08-26 14:10] #165 closed, assigned to sayanchowdhury

[2020-08-26 14:17] vbatts opened #173 "provide the vmlinux for the release"
For debugging, we should provide the corresponding vmlinux of the build, like we do with the `vmlinuz` already.
That file is:
* 558M uncompressed
* 162M `zstd -9` compressed
* 206M bzip2 compressed
* 221M `gzip -9` compressed
* 114M `xz -9` compressed (took a looong time to compress)

Example of debugging: https://nickdesaulniers.github.io/blog/2018/10/24/booting-a-custom-linux-kernel-in-qemu-and-

[2020-08-27 11:42] dongsupark commented on #167
Filed a PR https://github.com/flatcar-linux/coreos-overlay/pull/552

[2020-08-27 12:02] t-lo commented on #172
Updated `iproute2` to 5.8.0 and added ELF support.

[2020-08-27 12:02] #172 closed, assigned to nobody

[2020-08-27 14:11] #164 closed, assigned to krnowak

[2020-08-27 16:14] alban opened #174 "ipset does not work because of incompatible kernel and userspace protocols"
**Description**

Flatcar Container Linux by Kinvolk alpha (2605.0.0):
[code]

**Impact**

I cannot easily inspect ipsets.

**Environment and steps to reproduce**

1. **Set-up**: Lokomotive cluster with calico having configured ipset rules
2. **Task**: list rules fom command line
3. **Action(s)**: `sudo ipset list`
4. **Error**: see above

**Expected behavior**
`ipset list` lists the ipsets, e.g. f

[2020-08-27 17:11] #167 closed, assigned to dongsupark

[2020-08-28 09:59] t-lo commented on #174
The kernel protocol version warning can be reproduced by feeding a valid command with garbage arguments to `ipset` since the tool will print protocol information if a command failed, no matter `why` the command failed.

Repro without having Calico establish `ipset` rules:
[code]

[2020-08-28 11:04] xeor opened #175 "docker service not starting"
**Description**

containerd/docker service not always starting after flatcar-upgrade

**Impact**

All nodes upgraded itself, but all of them came back in NotReady state, essentially killing the cluster.

**Environment and steps to reproduce**

1. **Set-up**: flatcar running rke
2. **Action(s)**: waiting for nodes to upgrade themself.
3. **Error**: docker-service and containerd service not running.

[2020-08-28 11:10] pothos commented on #175
Hello,
by default the Docker service is socket-activated but you can change it to run Docker directly after boot:
https://docs.flatcar-linux.org/os/getting-started-with-docker/#permanently-running-a-container

[2020-08-28 11:16] dwagelaar opened #176 "/dev/null permissions are wrong"
**Description**

Since 20-Aug-2020, the access rights for /dev/null are set to crw-r--r-- instead of crw-rw-rw- every few hours. This happens on two Flatcar Container Linux stable releases:

- 2345.3.1
- 2512.3.0

**Impact**

Most shell scripts break when unable to write to /dev/null.

**Environment and steps to reproduce**

1. **Set-up**: VMWare ESX with six Flatcar Container Linux clusters, all

[2020-08-28 11:58] xeor commented on #175
Thanks for the info, that was very helpful :) Maybe info about this should be a warning-label in the docs? I felt like I read everything, however, I did miss this crucial little part..

[2020-08-28 12:31] pothos commented on #176
Hello,

thank's for reaching out. I checked some of the servers we have running and didn't see this issue. Would be good if you can trace which process changes the permissions. I'll try to come up with instructions for doing it.

[2020-08-28 12:54] dwagelaar commented on #176
We're doing this right now: https://access.redhat.com/solutions/1240813
When the issue hits again, I hope to know more.

[2020-08-28 14:07] t-lo commented on #174
Updated to `ipset-7.6`, validated that the update fixes the API issue(via flatcar dev container on the Calico host) and merged the fix. Will be included in the upcoming Alpha refresh which we expect to publish early next week.

Closing - please re-open if you continue experiencing issues.

[2020-08-28 14:07] #174 closed, assigned to nobody

[2020-08-28 15:44] pothos commented on #176
I can't access the contents of the link you posted, but I would try it with this here:
[code]
Yet, it will only print the process name and PID, not the parents.

Edit: It's more complicated:
You would also need to trace `sys_enter_chmod` and `sys_enter_fchmod`… but for `fchmod` it's not easy to find the path name.
Also @alban pointed out that `mknodat(..., mode, ...)` may have caused this.

[2020-08-28 16:13] pothos commented on #176
You can try to watch for the modification with
[code]
and when a line is printed, dump the contents of a long running tracer, for example, some bpftrace commands like in the comment above or simply
[code]

[2020-08-31 10:49] #175 closed, assigned to nobody

[2020-08-31 11:03] xeor commented on #161
The `start-statd` is an upstream script, so I guess the better approach to fix this would be to
* make a symlink to it from another /bin (that is in the PATH)
* correct the PATH for whoever calls it. Anyone with an idea of whom?

[2020-08-31 14:01] EthraZa opened #177 "New Package Request: [iPerf 3]"
iperf3: A TCP, UDP, and SCTP network bandwidth measurement tool

[ iperf is a tool for active measurements of the maximum achievable bandwidth on IP networks. It supports tuning of various parameters related to timing, protocols, and buffers. For each test it reports the measured throughput / bitrate, loss, and other parameters. ]

- Package upstream repo: https://github.com/esnet/iperf
- Gentoo e

[2020-08-31 14:17] pothos commented on #177
Hello,

I think iperf3 is a good candidate to be run in a container yet within the host network namespace to achieve your goal of running directly on the host:

[code]

[2020-08-31 16:08] EthraZa commented on #177
From Kirk (Flatcar):
[code]

From Spock (still Ubuntu):
[code]
So I was able to test the Kirk's net speed as iperf server, but when all of my server become Flatcar, If I can't connect as iperf client, them I will not be able to test it again.

I tryed to just wget iperf3 into Kirk but I don't know how to tell it where to look for libiperf.so.0.

[code]
That's are the problens I'm having with iperf

[2020-08-31 16:36] pothos commented on #177
Why does it say `Connection refused`? Can you connect with `ncat` to the port?

[2020-08-31 18:24] EthraZa commented on #177
Yes, ncat does indeed connect from kirk to spock, I can see it connecting on spock's iperf server. :-/

`xxx@kirk ~ $ ncat spock 5001
`

[2020-08-31 19:49] pothos commented on #177
You can also try the toolbox if something is wrong with Docker containers.
https://docs.flatcar-linux.org/os/install-debugging-tools/
This gives you Fedora in a systemd-nspawn chroot where you can install iperf.

[2020-08-31 21:12] EthraZa commented on #177
I didn't know about toolbox, I loved it.

I didn't find how to use .toolboxrc to use a local custom image, it seens to like just images it can download from some registry. But I let it download it's default fedora image, installed iperf3 and it just worked as client and server.

Thank you.

[2020-08-31 21:12] #177 closed, assigned to nobody

[2020-08-31 21:42] pothos commented on #177
Happy to help, but I still wonder what the problem was with the container.

[2020-08-31 21:57] EthraZa commented on #177
The best info so... after I successfully run iperf inside toolbox, I was showing off to a colleague the error iperf was given within docker and it just worked. After this one, I gave up for today!

[2020-08-31 22:05] pothos commented on #177
Ok, thanks for the quick answers :)

[2020-09-01 15:15] raravena80 commented on #163
@marga-kinvolk just checking are we on-schedule for the upcoming meeting? Thanks!

[2020-09-02 08:27] margamanterola commented on #155
Somehow this issue didn't get updated when the fix got merged. Sorry about the lack of communication here.  The fix has been merged almost a month ago. It was first included in the alpha release 2592.0.0. It's currently only available in the alpha channel, but will move to beta with the next beta release, which should happen in a matter of days.  It should then land in stable before the end of Sep

[2020-09-02 11:52] dwagelaar commented on #176
We eventually found it with a kernel audit rule:

`-w /dev/null -p a -k null-watch`

[code]

The process was /home/core/pypy/bin/pypy, which lead to an ansible playbook that was run every 24 hours.

That means the problem was not caused by Flatcar Container Linux. Thank you for thinking along with us!

[2020-09-02 11:52] #176 closed, assigned to nobody

[2020-09-02 15:00] vbatts opened #178 "[RFC] additional Reboot strategies needed?"
for component: https://github.com/flatcar-linux/locksmith

**Current situation**
Looking at https://docs.flatcar-linux.org/os/update-strategies/
Most folks rely on `reboot`, because it's simplest and the default.
Next up, folks may set it to `off`, in order to reboot at their own will.
And then we have `etcd-lock` which allows adequate sophistication, but I venture that not many folks use this.

s

[2020-09-02 15:59] margamanterola commented on #163
Sure, I'll be there tomorrow (and maybe bring along some other colleague).

[2020-09-04 11:13] dongsupark commented on #117
Alpha and Beta already have gnupg 2.2.20.
Stable is pending.

[2020-09-04 11:19] dongsupark opened #179 "Package Update Request: GnuPG 2.2.29"
**app-crypt/gnupg** 2.2.29

GnuPG 2.2.29 was [released](https://dev.gnupg.org/T5498).

- Package upstream repo: http://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git
- Gentoo ebuild: https://github.com/gentoo/gentoo/tree/master/app-crypt/gnupg

- The package improves on the following core values:
  - [x] Secure by default
  - [x] Always up to date

Note: we should keep gnupg in coreos-overlay, as th

[2020-09-04 14:07] bugre opened #180 "RKT EndOfLive / Archiving - Any Plans on dropping and/or replacing it ?"
**Description**
Hi,
Not sure this is the correct place, but as it's not a bug, i think it's better here..

Now a few months passed since announcement of RKT project EndOfLive / Archiving (https://github.com/rkt/rkt/issues/4024), would like to know if there is any plan to drop rkt from the FlatCar distro and/or replace it with the like of podman/libpod?

Thanks for your work on keeping 'coreOS' CL

[2020-09-04 14:25] pothos commented on #180
Hello,
it's still in use but limited to being a more advanced chroot and not to confine something. It will be replaced but that's not yet prepared. I guess the replacement depends on the context, sometimes Docker may do it, sometimes systemd-nspawn, and Podman also has many advantages. We will announce the deprecation when ready.

[2020-09-04 14:36] bugre commented on #180
Halo @pothos ,

that means that for the short/medium term the stable version will have rkt included, correct?

Danke u. wünsche dir ein schönes Wochenende.
-wm

[2020-09-04 15:00] pothos commented on #180
Yes, it won't disappear over night and we will make sure to announce the deprecation plan in the mailing list and in the release notes. Maybe even in the motd at the login prompt or when a rkt-using script is invoked like etcd/kublet/flannel-wrapper… not sure yet.
Thanks

[2020-09-04 15:24] matoszz opened #181 "systemd 245 (channel 2605) breaks cilium pod to out-of-node traffic"
**Description**

The latest flatcar move to systemd 245 introduces this problem with cilium: https://github.com/cilium/cilium/issues/10645

A quick fix is to create a systemd override: echo 'net.ipv4.conf.lxc*.rp_filter = 0' | sudo tee -a /etc/sysctl.d/90-override.conf && sudo systemctl restart systemd-sysctl

Or via ignition:

[code]

**Impact**

This broke / breaks our production clusters after

[2020-09-06 09:31] arizvisa opened #256 "app-emulation/{libpod,buildah}, etc?"
**Current situation**
First of all thank you sooo freaking much for inheriting the CoreOS project and working at retaining some of its paradigms that made is so great in the first place.

I've been unable to find any discussion in the mailing lists or any information in the roadmap discussing the other container engines, such as the future of rkt, and whether or not docker will now become the prim

[2020-09-06 13:46] arianvp opened #251 "Sync with the latest systemd-stable/v245 changes (Fixes problem with networkd and DNS servers)"
**Is your feature request related to a problem? Please describe.**
I'm running on the following problem on Flatcar Alpha: https://github.com/systemd/systemd/issues/16959
and it was just fixed in https://github.com/systemd/systemd-stable/commit/25f1b107cd4ea5b00c919e6fe1cc68d119be2e1e

**Describe the solution you'd like**
Include the above commit in the systemd version that flatcar Alpha ships

**D

[2020-09-07 12:50] margamanterola commented on #168
Hi Kelsey!

Were you able to work around the problem with the information we provided?

Do you need any more information from the flatcar side?

Cheers!

[2020-09-07 14:22] jbguerraz opened #269 "Reconcile with vmware ansible fork"
Hello @schu
Thank you for such initiative :+1:
We were wondering why not starting this based on vmware fork instead (since it's still maintained and is 70 commits ahead of defunctzombie one): https://github.com/vmware/ansible-coreos-bootstrap
Any good reason or worth an update ?
Thank you!

[2020-09-08 13:15] surajssd opened #259 "Docs does not mention what `UPDATE_STATUS_UPDATED_NEED_REBOOT` means"
In the docs if I search for `UPDATE_STATUS_UPDATED_NEED_REBOOT`, there is no mention in docs as to what it means? Who sets it? Is there a work around it?

[2020-09-08 13:23] pothos commented on #259
It means that the instance updated by applying the update to the next partition but didn't yet reboot into the next partition. This is probably because reboots are turned off or delayed by coordination with etcd/FLUO or reboot time windows.

[2020-09-08 22:14] surajssd commented on #259
This should be documented right?

[2020-09-09 08:52] margamanterola commented on #259
Yes, this should be documented and you should be able to find the string when searching for it.

This should go into the most basic "How Flatcar works" doc, that explains the immutable /usr, the usr-a and usr-b partition, how updates are applied, etc. Maybe this should even be several docs, because I'm thinking we should also explain the settings in /etc vs the settings /usr, how users are suppose

[2020-09-09 12:10] invidian opened #182 "Beta 2605.3.0 and Alpha 2605.1.0 returns error when running with Vagrant with synced folders"
**Description**

Given following `Vagrantfile`:
[code]

When running `vagrant up`, Vagrant returns the following error:
[code]

The directory gets synced, however provisioning script never runs then.

**Impact**

This breaks running [libflexkube](https://github.com/flexkube/libflexkube) conformance testing if run on channel other than `stable`. I've tried using different channel to verify https://

[2020-09-09 20:33] iaguis opened #183 "[Tracking] Calico Pod-to-pod connectivity interrupted on kernel 5.4 with Mellanox ConnectX4 Lx (MT27710 Family)"
**Flatcar Status**: A [workaround](https://github.com/flatcar-linux/Flatcar/issues/183#issuecomment-691000397) is in place for releases 2605.4.0 and above. This issue is kept for tracking the bug with newer kernel releases.

**Description**

On Kubernetes, pod-to-pod connections between pods running on different nodes don't work on current Flatcar Beta (2605.3.0) and Alpha (2605.1.0). Stable (2512

[2020-09-10 08:59] margamanterola commented on #163
Closing as this has happened now.

[2020-09-10 08:59] #163 closed, assigned to nobody

[2020-09-10 09:14] margamanterola commented on #161
I've checked the contents of `/usr/sbin/start-statd` in both the stable and alpha channels of Flatcar and they both have this line as the first uncommented line:

[code]

Which version of Flatcar are you running? Can you show the full contents of `/usr/sbin/start-statd`?

[2020-09-10 09:51] margamanterola opened #184 "Move away from manually updating the CROS_WORKON_COMMIT entries"
**Current situation**
Currently we have to manually update the `CROS_WORKON_COMMIT` entries of all projects that are built from our own git repos. If we don't, then we ship with whatever commit was pointed at when the release is cut, regardless of how old that is.

**Impact**
This is error prone because we might forget to update them (for example, we forgot to update mantle and ran into issues whe

[2020-09-10 09:54] xeor commented on #161
I tried this just now using `2512.4.0`, and the problem is still there. There `PATH` variable is, as you say set. I can see that in mine as well, however, the error is still `/usr/sbin/start-statd: line 23: systemctl: command not found`.
systemctl is in both under `/bin/systemctl` and `/usr/bin/systemctl`

I'm not sure how to debug this since start-statd is from the nfs-utils package and /usr/ is

[2020-09-10 10:13] margamanterola commented on #182
I've checked the latest stable and it also doesn't have an `/etc/fstab` file. Do you know if this used to work in the past?

[2020-09-10 10:33] xeor commented on #161
Mounting manually like `/sbin/mount.nfs 10.1.2.3:/data tmpmount` works.

I tried doing a bind-mount to overwrite whats under /usr/sbin on the os so I could change the start-statd script. My changes didnt have any effect, so maybe this is run inside a container (which doesnt get affected by bind-mounts).

Maybe this is happening inside the `kubelet` container? systemctl inside there is under /host/

[2020-09-10 10:36] margamanterola commented on #161
So, how are you running the kubelet?

[2020-09-10 10:54] xeor commented on #161
Thats a good question... I'm using rancher and `rke`. Problem might not be that easy to fix then..

The best soluition might be just putting something like this in the flatcar install-yaml if you know you are going to mount nfs shares, but are running the kubelet inside a container. I've didnt test this during the install..

[code]

To enable withouit reinstall

[code]

[2020-09-10 10:55] margamanterola commented on #182
The code that does the sed call is here:
https://github.com/hashicorp/vagrant/blob/master/plugins/guests/linux/cap/persist_mount_shared_folder.rb

There doesn't seem to be any obvious way to make it not fail, apart from having an empty file.

Flatcar uses systemd mounts and doesn't need /etc/fstab to exist. I'm not sure how long its been since it last had the file. It feels to me that this is a bu

[2020-09-10 13:07] margamanterola commented on #182
I've reported this to Vagrant. It's a bug on their side. Vagrant should work without an /etc/fstab file and it used to do that with version 2.2.9.

[2020-09-10 13:12] invidian commented on #182
(Reported in hashicorp/vagrant#11894)

Thanks for reporting @marga-kinvolk. I think we can close it then :+1:

[2020-09-10 15:02] t-lo commented on #183
Repro case:
* alpine-0 pod on worker-0
* alpine-1 pod on worker-1
* alpines can ping each other
* `python -m SimpleHTTPServer 12345` on alpine-1
* `curl <alpine-1-ip>:12345 -vvvv` on alpine-0
* alpine-0 curl times out

Symptoms / packet traces
* Client (alpine-0):
  * client pod opens a TCP connection
  * TCP Syn packet leaves local calico interface
  * TCP Syn packet enters tunl0 ipip calico inte

[2020-09-10 16:24] pothos commented on #183
I got some entries logged with `sysctl net.netfilter.nf_conntrack_log_invalid=255` and `conntrack -E` which weren't invalid but still it didn't seem to work.
Edit: Maybe it was the first packet on `tunl0` and makes a new entry but the response packets don't come.

[2020-09-11 08:16] t-lo commented on #183
Pod to pod connections on the same node work.

[2020-09-11 10:05] t-lo commented on #183
Manually turning OFF tcp offloading on Calico's `tunl0` interface (on all nodes) mitigates the problem.
[code]

[2020-09-11 13:32] t-lo commented on #256
Hello @arizvisa ,

thank you for reaching out. We are tracking a `podman` package request in https://github.com/flatcar-linux/Flatcar/issues/112, it would be great if you could share your thoughts there. I'll resolve this issue in favour of the aforementioned one.

Also, please note that, if you want to experiment with adding podman build recipes, https://github.com/flatcar-linux/portage-stable wo

[2020-09-11 16:25] t-lo commented on #183
We were able to isolate the issue down to a specific hardware type, [c2.medium](https://www.packet.com/cloud/servers/c2-medium-epyc/) , which sports a mellanox ConnectX-4 NIC. Other hardware types (with other NICs) did not show the issue.
We're currently validating with Flatcar stable but suspect that the issue is related to the newer mellanox driver shipped with kernel 5.4, which is included in F

[2020-09-11 17:01] arizvisa commented on #256
Ty.

[2020-09-11 18:08] margamanterola commented on #183
I deleted my previous comment, as all my tests were completely broken, because I didn't really understand how the `node_private_cidr` setting worked.

That said, I've now done a few tests now that I finally understand this and I can have actual reproduction cases.

I created a cluster using beta (2605.3.0) running in EWR c1.small machines, using 10.99.0.0/25, that I set up with lokomotive 0.4.0, a

[2020-09-11 18:39] margamanterola commented on #183
Further investigation with other Flatcar versions has shown that the test setup works fine with 2466.0.0 (the last alpha to ship with kernel 4.19) and it doesn't work with 2492.0.0 (the immediately next alpha, the first one to ship with kernel 5.4). The kernel is the prime suspect, but for completion, here's the full list of updates that shipped with 2492.0.0:

- Linux 5.4.35
- Go 1.13.10
- contai

[2020-09-11 20:11] sfudeus commented on #181
On my setup (bare metal, calico), with stable flatcar, rp_filter is all set to 1, which is more strict than 2, which happens on beta. Connectivity on stable is fine though. So it seems for me, at least for calico, rp_filter is not (alone) the culprit.

Example from stable:
[code]

[2020-09-13 21:07] sfudeus commented on #181
Today I found out that my connectivity issues have been caused by a different change - which I was able to solve now and which are unrelated to the FlatCar update. 2605.2.0 looks good currently in my VirtualBox setup, will got to bare metal next.

[2020-09-14 07:41] t-lo commented on #183
More specifically, the Mellanox driver included with upstream 5.4. We do not observe the issue on systems with an Intel NIC.

[2020-09-14 12:34] t-lo commented on #183
**TODO**: Deploy a Lokomotive cluster on unaffected hardware and run an `iperf` benchmark with `ethtool --offload tunl0 rx off tx off` and `ethtool --offload tunl0 rx on tx on` to better understand the performance impact of turning off HW checksum calculation on `tunl0` interfaces when offloading does not break TCP/UDP checksums.

[2020-09-14 12:46] alban opened #185 "Always enable BPF JIT with CONFIG_BPF_JIT_ALWAYS_ON=y"
**Current situation**
Current Linux kernel options:
[code]
Current default setup:
[code]

**Impact**
Using the eBPF interpreter instead of generating efficient JIT code has an impact on:
- performance
- security

See CONFIG_BPF_JIT_ALWAYS_ON documentation:

**Ideal future situation**

- Better performance
- Better security

**Implementation options**
- CONFIG_BPF_JIT_ALWAYS_ON=y

**Additional info

[2020-09-14 16:44] iaguis commented on #183
I've deployed a Lokomotive cluster running Flatcar Alpha on Packet's `c1.small.x86` (which is unaffected by this issue) and did some simple benchmark of pod-to-pod traffic with iperf3.

It was not a systematic test but from what I could see there was no significant difference both in throughput and CPU usage between HW checksum offload enabled and disabled.

[2020-09-14 18:51] EthraZa opened #252 "Make toolbox multi user"
When I try to open another terminal, it shows **Directory tree /var/lib/toolbox/sailor-ethraza_backops-latest is currently busy**.
As you can see, I tryed to set **--ephemeral** flag but it didn't work at all.

Is it possible to get toolbox to work for multiple logins?

$ cat /etc/lsb-release
[code]

$ cat /home/sailor/.toolboxrc
[code]

$ ssh -C sailor@kirk
[code]

[2020-09-14 19:00] pothos commented on #252
Hi,

yes, that's a problem with the current implementation. A workaround is documented here:
https://docs.flatcar-linux.org/os/install-debugging-tools/#spawn-a-toolbox-with-tmux-in-the-background

[2020-09-14 20:00] EthraZa commented on #252
Hi, thanks for answering.

I had to change the host sailor shell from /usr/bin/toolbox back to /bin/bash to be able to login to it in the host shell and execute the systemd-run command.
But after I managed to get it running (sudoing tmux and strace inside the container), I saw that every nsenter would get the same session, not a new one. Maybe I'm missing something, not sure.

[2020-09-14 21:20] pothos commented on #252
Correct, with `nsenter` the namespace of the current `tmux` process is entered and with `tmux a` it attaches to the session. You can change it to run multiple tmux sessions and create new ones. Without the `a` you create a new tmux session but when you have multiple sessions you need to give them a name and attach to this name or otherwise end up looking for PIDs and trying each.

[2020-09-14 21:40] EthraZa commented on #252
I see.

Well, in the mean time, I learned that run the same image with docker using **pid:host**, will give me what I want while keeping the multi user possible.

I will let the toolbox/rkt asleep for the day docker will not run for some reason, till there, I will keep to docker.

Thank you.

[2020-09-15 21:09] xeor commented on #161
Closing this as there is nothing flatcar can do about this.
My last comment works, at least the bottom commands. The unit-file is still untested but should probably work.

[2020-09-15 21:09] #161 closed, assigned to nobody

[2020-09-16 11:07] margamanterola opened #186 "Make our GCE image pass the GCE requirements for official images"
**Current situation**
This page details the requirements for official GCE images: https://cloud.google.com/marketplace/docs/partners/vm/build-vm-image#test_the_vm_image

From the checks listed there we are missing:
* Having python installed
* Having a working gcloud / gsutil (a docker error is printed when calling these commands)
* Having `dhcp` in the process list. I'm not sure why they want that

[2020-09-16 11:17] margamanterola commented on #186
These are the errors printed when trying to execute gsutil or gcloud:

[code]

I thought this could be due to the docker service not being running, but starting it didn't make a difference:
[code]
And running with sudo simply says it can't find the command:

[code]

This is because they are aliases, not real commands:

[code]

[code]

[2020-09-16 12:18] carpenike opened #187 "UEFI Boot Support for Bare Metal Installs"
**Current situation**
Existing documentation indicates that UEFI boot support is not available and that the original CoreOS team did not have sufficient time to implement it prior to the acquisition by RedHat.

**Impact**
The lack of UEFI boot support precludes the ability to boot from PXE with non-embedded NICs (a la 10GB PCIe). Also prevents usage of UEFI Secure Boot.

**Ideal future situation**

[2020-09-16 14:09] dongsupark commented on #91
Lockdown is [available](https://github.com/flatcar-linux/coreos-overlay/pull/553) in kernel config since Alpha 2632.0.0.

[2020-09-16 19:03] EthraZa opened #188 "How to get etcd / locksmith to work?"
I have Flatcar installed on bare metal. The problem is that it is booting in the midle of the day when we got an update. It happened 2 times already since I instaled Flatcar as the host.
I tryed to get it to boot at Sundays but it's ignoring it and, for the life of me, I can't find how to setup it in the docs.

My boss is about to force me to install Ubuntu as the host because, in his words - "I c

[2020-09-16 19:11] EthraZa commented on #188
Looks like it relates to #178

[2020-09-16 19:28] vbatts commented on #188
@EthraZa since the machine is already provisioned, the locksmithd will respect environment variables for this window.
the `locksmithd.service` loads env variables from `/etc/flatcar/update.conf`.
If you add something like from https://github.com/flatcar-linux/locksmith#reboot-windows:
[code]
to that file, and restart locksmithd.service, it will load that schedule

[2020-09-16 19:29] carpenike commented on #187
One other thing I just discovered, newer, particularly embedded systems are being released without SCM/legacy BIOS support:

https://forum.odroid.com/viewtopic.php?t=33097

 https://www.anandtech.com/show/12068/intel-to-remove-bios-support-from-uefi-by-2020

Intel NUCs are having their legacy boot option removed by firmware update: https://community.intel.com/t5/Intel-NUCs/legacy-boot/td-p/585096?

[2020-09-16 19:31] carpenike commented on #187
And it would appear that fedora-coreos does support UEFI: https://docs.fedoraproject.org/en-US/fedora-coreos/bare-metal/

[2020-09-16 21:04] ahrkrak commented on #188
Also worth mentioning: you can install Nebraska locally (https://github.com/kinvolk/nebraska) and use that as your update server, in which you can define when updates are made available to hosts. For customers with a support subscription, Kinvolk also provides this as a managed service.

[2020-09-16 21:37] EthraZa commented on #188
@vbatts
The updater is ignoring the config...

$ cat /etc/flatcar/update.conf (or /etc/coreos/update.conf)
[code]
I was under the impression that this configs are for locksmith and not the updater itself, because in the yml file it's under locksmith key tag.
So maybe the problem is the "etcd-lock"? If I change it to "reboot" do you think it will respect when to reboot to apply the update?

@ahrkra

[2020-09-17 08:14] margamanterola commented on #186
Summary of what was discussed in slack:

We have two packages in the coreos-overlay repo that handle GCE images: `oem-gce` and `coreos-oem-gce`. The first one is the one used to customize GCE images. The second one is used to create a container that then runs with rkt.

The aliases come from `coreos-base/oem-gce/files/files/google-cloud-sdk.sh`, which is copied to `/etc/profile.d/google-cloud-sdk.

[2020-09-17 08:29] pothos commented on #188
Since you know when you want to reboot, you can remove the `etcd-lock` line and use the default `reboot` strategy. I guess combining both should also work but if you just have a small number of machines, it seems easier to allocate the hours manually.

P.S.: The `SERVER` and `GROUP` values are not needed there if they are the same as in `/usr/share/flatcar/update.conf`.

[2020-09-17 09:00] margamanterola commented on #187
Hey Ryan,

We actually test UEFI on a few platforms and it works fine. It's possible that this is just a documentation issue and we need to update our docs to say that we support UEFI. Or maybe there's some specific use case that needs to get UEFI support and doesn't have it yet.

Did you encounter any specific issues trying to use UEFI? If yes, please detail your use case and the problems you enc

[2020-09-17 10:53] EthraZa commented on #188
Ok, I have changed the REBOOT_STRATEGY to "reboot" so.
I'm just skeptical that the LOCKSMITHD_REBOOT_WINDOW_START will work since locksmithctl itself is returning an error.
Now lets wait for the next Flatcar update to see how it will act.

ps. But I still think the docs are lacking more explanating about this. The docs are missing an etcd functional setup example and to be sincere, it is lacking a

[2020-09-17 11:46] margamanterola commented on #186
The rkt container that runs with the oem-gce service is intended for the "guest tools" that run on GCE instances, it's not intended to be used by normal users to run commands in it.  Also, it's quite outdated, we probably do want to run a more updated version of it.

As we've discussed with Kai, we could ship an alias that runs python with a docker container. It would be similar to the gcloud/gsut

[2020-09-17 13:03] carpenike commented on #187
@marga-kinvolk,

Great news!

I've been trying to get it to work with systems deployed via PXE/iPXE & Matchbox. System installs fine, but does not register as an available boot option within the UEFI firmware. Is there a particular switch that needs to be passed to the system for the UEFI install or should it auto-detect based on boot type?

[2020-09-17 13:04] carpenike commented on #187
Here is the resultant partition table on the disk:

[code]

[2020-09-17 13:10] margamanterola commented on #187
Can you give more details on how you're doing the installation? What command are you using to install? Which image are you installing?

Also, which channel are you using?  If you've tried stable, please also try the beta channel in case your issue is fixed with the upcoming update (the new version that's about to go to stable includes a ton of changes).

[2020-09-17 13:13] carpenike commented on #187
Yup. Here's the config files that the system installs with. I'm using Beta channel, 2605.3.0.

profile:
[code]

ignition profile:

[code]

[2020-09-18 06:50] t-lo opened #189 "Update kubelet-wrapper, flannel-wrapper and etcd-wrapper to use docker instead of rkt"
**Current situation**

kubelet-wrapper, flannel-wrapper and etcd-wrapper use rkt for pulling images from dockerhub and for extracting image contents. rkt however is [retired upstream]([url](https://github.com/rkt/rkt/issues/4024)) and poses an increasing maintenance burden.

**Impact**

rkt and related binaries like actool cannot currently be removed from the Flatcar Container Linux OS image witho

[2020-09-18 12:31] vbatts commented on #189
prior work that can be rebased: https://github.com/kinvolk/lokomotive-kubernetes/pull/100/files

[2020-09-21 10:34] pothos opened #190 "No symlink from /etc/coreos to /etc/flatcar when Ignition creates the root filesystem"
**Description**

With a simple Ignition config it works to write to `/etc/coreos/update.conf` because the folder is a symlink to `/etc/flatcar`.
However, the following Ignition config with rootfs creation results in a `/etc/coreos` folder instead of a symlink to the `/etc/flatcar` folder which does not exist.

[code]

**Impact**

`ct` generated configs don't work when a rootfs is created.

**Envir

[2020-09-21 10:36] pothos commented on #189
The parameters of the scripts are somehow tied to rkt. The scripts also sometimes suffered from incompatibility with all available kubelet and etcd versions. I suggest to remove them entirely or maintain them (using Docker) in an external repository where they can be pulled from with Ignition (`"contents": { "source": "http…"`) with version tags decoupled from the OS version.

[2020-09-21 12:03] vbatts commented on #189
that is an option. lokomotive have worked around these wrappers alrighty. I do see merit in having a bootstrapper for etcd, since tools like locksmith are partially relying on it.

[2020-09-22 12:32] mritalian commented on #21
FYI, with auto-updating images (the default) and the recent bump from kernel 4 to 5, this breaks vmtoolsd on 100% of systems updating from kernel 4 to 5.

As an immediate response it would be cool if you might provide an easy way (easier than vmware silly solution) to update the vmtoolsd, or you will get bombarded with issues on github.

And moving forward, it seems a bad idea to lock the bundled

[2020-09-22 12:39] #146 closed, assigned to pothos

[2020-09-22 12:41] #186 closed, assigned to nobody

[2020-09-22 12:51] a2yp opened #191 "remote-fs.target not active when upgrading from older systemd versions"
**Description**

Since version 2605.5.0 NFS shares are not mounted after reboots.

**Impact**

NFS share is not mounted after reboot and upgrade.

**Environment**

`flatcar-install -d /dev/sda -i ignition.json -o vmware_raw`
NFS share: https://docs.flatcar-linux.org/os/mounting-storage/#mounting-nfs-exports

**steps to reproduce**

<details><summary>cat /etc/systemd/system/mnt-nfs.mount</summary>

[2020-09-22 13:05] margamanterola commented on #191
The upgrade to 2605.5.0 meant upgrading to systemd 245. It's likely that there's some difference there causing your unit not to start automatically. Could you check the status of `remote-fs.target`?

[2020-09-22 13:10] a2yp commented on #191
@marga-kinvolk
[code]

[2020-09-22 13:12] a2yp opened #192 "vmtoolsd misses libssl.so.1.0.0"
**Description**

Since version 2605.5.0 vmtoolsd misses `libssl.so.1.0.0`.

**Impact**

vmtoolsd failes to start.

<details><summary>systemctl status vmtoolsd.service</summary>
<p>
<pre>● vmtoolsd.service - VMware Tools Agent
     Loaded: loaded (/etc/systemd/system/vmtoolsd.service; enabled; vendor preset: enabled)
    Drop-In: /etc/systemd/system/vmtoolsd.service.d
             └─90-tmpfiles-cve

[2020-09-22 13:16] margamanterola commented on #191
Right, it's disabled.  It's a consequence of this change:

[code]

(From https://github.com/systemd/systemd/blob/master/NEWS)

We solved this for getty in flatcar-linux/coreos-overlay#400, I guess we need to solve it for remote-fs.target as well.

In the meantime, you can enable the unit yourself to solve the issue for your instances.

[2020-09-22 13:20] t-lo commented on #191
On a fresh (qemu) Stable-2605 installation I see:
[code]
@a2yp just to narrow down the symptoms, did you upgrade or deploy a fresh instance?

[2020-09-22 13:26] a2yp commented on #191
@t-lo The instance automatically upgraded from 2512.5.0 to 2605.5.0.

[2020-09-22 13:41] ahrkrak commented on #21
Yes, indeed it's a bad idea - that's why we have this issue open! We're working on it, but it's not a simple one-line fix and we want to do it right.

[2020-09-22 13:43] t-lo commented on #192
Related to https://github.com/flatcar-linux/Flatcar/issues/21. Unfortunately, vendor tools like `open-vm-tools` are not updated on system update. While we are working on structural changes to make vendor tools part of a system update, currently a fresh deployment is required in order to receive the latest vendor tools version.
VMWare has documented a workaround to update existing deployments: http

[2020-09-22 13:48] pothos commented on #192
@a2yp Can you confirm that this was on node that got updated and not a fresh installation?

[2020-09-22 13:51] mritalian commented on #21
Here is oem partition from 2605.5.0 clean install in case someone is totally hosed and cannot follow vmware suggestion.

[oem-2605.5.0.tgz.zip](https://github.com/flatcar-linux/Flatcar/files/5261862/oem-2605.5.0.tgz.zip)

Caveat: security-wise it is an abysimally bad idea to download binaries that run as root from arbitrary sources (i.e. me)

[2020-09-22 13:51] dongsupark commented on #117
Stable 2605.5.0 also has gnupg 2.2.20.
All done.

[2020-09-22 13:51] #117 closed, assigned to dongsupark

[2020-09-22 13:54] a2yp commented on #192
@pothos The instances were automatically upgraded from 2512.5.0 to 2605.5.0.

@t-lo Thank you, will give the workaround a try.

[2020-09-22 13:55] dongsupark commented on #93
All channels including Stable have strace 5.6.
Closing.

[2020-09-22 13:55] #93 closed, assigned to dongsupark

[2020-09-22 13:57] dongsupark commented on #74
Both Stable and Beta have runc 1.0.0-rc90.
Closing.

[2020-09-22 13:57] #74 closed, assigned to sayanchowdhury

[2020-09-22 14:00] dongsupark commented on #52
Both Stable and Beta have open-vm-tools 11.1.5.

[2020-09-22 14:00] #52 closed, assigned to nobody

[2020-09-22 14:06] dongsupark commented on #182
Vagrant already [fixed](https://github.com/hashicorp/vagrant/pull/11897) the issue.

[2020-09-22 14:06] #182 closed, assigned to margamanterola

[2020-09-22 14:08] margamanterola commented on #191
I installed a qemu instance with 2512.5.0 and upgraded and I could reproduce this issue.  With 2512:

[code]

Notice how it says it's disabled, but still active. And there are no events (it's not that I forgot to copy them, there were no events).

After upgrading and rebooting:
[code]

Now it's disabled and inactive, but we do see a couple of events. So, maybe something else is at play.

[2020-09-22 15:01] margamanterola commented on #191
This is relevant, I think.

In the previous stable:
[code]

In the current stable (after upgrading):
[code]

So, `/usr/lib/systemd/system/multi-user.target.wants/remote-fs.target` is missing.

[2020-09-22 15:09] margamanterola commented on #191
And, for completion, on a freshly installed machine:

[code]

This is of course the same, BUT we have this file which is not present in the upgrade machine:

[code]

[2020-09-22 16:00] carpenike commented on #187
Could it be an issue with the partition table being placed on the drive? Getting these errors in the console before it reboots:

![IMG_2131](https://user-images.githubusercontent.com/1302442/93907336-3373a900-fccb-11ea-8ac0-652771e23504.jpeg)

[2020-09-22 16:21] a2yp commented on #192
@t-lo

Works for me, I backed up/restored the `config.ign` file and did not adjust a "version-id" in it.
Now vmtoolsd is running. (Version:11301)

[2020-09-22 16:48] margamanterola commented on #187
You mentioned not seeing the image from the UEFI firmware... Do you see a GRUB menu when it reboots? I think our UEFI installations all go through GRUB. I don't think we've tested booting directly from the firmware.

[2020-09-22 17:00] carpenike commented on #187
Hey @marga-kinvolk -- Doesn't get to a grub screen. I get a black screen post firmware.

[2020-09-23 07:03] t-lo commented on #192
Glad to hear @a2yp! I'll resolve this issue - please consider following the tracking issue https://github.com/flatcar-linux/Flatcar/issues/21 to stay up to date on vendor tools updates.

[2020-09-23 07:03] #192 closed, assigned to nobody

[2020-09-23 07:24] doets001 opened #193 "/boot not visible after upgrade 2605.5.0"
**Description**
After the upgrade our monitoring is missing the /boot FS. After a logon it is not visible with a df. But when doing a df in the FS itself it is there. After that DF the monitoring is fine again.

**Impact**
well, it is working, but for we got a lot of escalations in the monitoring. :-)

**Environment and steps to reproduce**

1. **Set-up**: [ describe the environment Flatcar was ru

[2020-09-23 08:03] margamanterola commented on #191
I'm not sure why `multi-user.target.wants/remote-fs.target` ended up in `/etc/` instead of `/usr`, but I think that's what we should fix. It should be in `/usr` so that it reaches all users, not just the fresh installs.

(Same goes for `getty.target.wants/getty@tty1.service`)

[2020-09-23 08:16] margamanterola commented on #193
This is reproducible in a Flatcar qemu instance and happens both on the upgrade version and the fresh-install version.

[code]

These are the involved units:
[code]

This second unit is what makes `/boot` appear when trying to access it. This is controlled through the `local-fs.target` wants:

[code]

We can change this behavior by having this target "want" the `boot.mount` unit instead of the `bo

[2020-09-23 09:03] anakaiti commented on #32
I'm having the same issue on AWS nano instances on version 2605.5.0. It runs normally on larger instances.

[2020-09-23 09:09] crinjes opened #194 "Update to 2605.5.0 breaks kerberos / adcli / sssd / AD"
**Description**

After update from 2512.5.0 to 2605.5.0 `adcli` is unable to authenticate with kerberos: `/etc/krb5.keytab: Bad encryption type`, `sssd` fails with `Failed to init credentials: Preauthentication failed`

**Impact**

Users are unable to authenticate using Active Directory credentials, machines cannot be joined to AD:

[code]

**Expected behavior**
After rollback of the same machine

[2020-09-23 10:43] KillahB33 commented on #191
Thanks for this got my mounts fixed now! I'll update as soon as the permanent fix get's pushed.

[2020-09-23 10:47] t-lo commented on #194
Thank you for reporting the issue.
It appears that the new version of mit-krb5 shipped with 2605.5.0 - 1.18.2 - retired a number of outdated crypt algorithms (e.g. [DES](https://web.mit.edu/kerberos/www/krb5-latest/doc/admin/advanced/retiring-des.html)) which are still in use in some scenarios. We'll have a look.

[2020-09-23 12:35] crinjes commented on #194
For existing computer accounts, setting `msDS-SupportedEncryptionTypes` to `24` (AES128-CTS-HMAC-SHA1-96 and AES256-CTS-HMAC-SHA1-96  [doc](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-kile/6cfc7b50-11ed-4b4d-846d-6f08f0812919)) in AD at least allows the keytab to be updated.

[2020-09-23 13:42] pothos commented on #193
It seems automounting was the intended behavior since five years but something triggered the mount before and now doesn't.

On 2512.2.1 I see:
[code]

[2020-09-23 15:35] alban commented on #185
Note: as a workaround, to enable BPF JIT manually:
[code]

[2020-09-23 20:12] endzyme opened #195 "2605.5.0 building kernel modules doesn't work"
**Description**

Broken makefile in `build/` stops the ability to build modules which use `--with-linux-obj=/usr/lib64/modules/5.4.66-flatcar/build`.

See `2512.5.0` in `/usr/lib64/modules/5.4.66-flatcar/build/Makefile` vs `2605.5.0`:

**2512.5.0**
[code]

**2605.5.0**
[code]

`/build/amd64-usr/var/tmp/portage/sys-kernel/coreos-modules-5.4.66/work/coreos-modules-5.4.66/source` doesn't exist..

I w

[2020-09-24 09:50] alkar commented on #32
We see the same issue in both AWS (t3a.nano) and GCP (f1-micro) running 2605.5.0
Neither reboot nor a re-deploy fixes this.

[2020-09-24 10:33] george-angel commented on #32
The problem is default tmpfs size is 50% of your physical RAM:

ref: https://www.kernel.org/doc/Documentation/filesystems/tmpfs.txt

And thats what torcx is using, default: https://github.com/flatcar-linux/torcx/blob/flatcar-master/internal/torcx/perform.go#L287

`2512.3.0` - had unpacked size of ~`200M` - so it would run on any machine with 400M+ physical RAM.
`2605.5.0` - has unpacked size of ~`

[2020-09-24 10:45] pothos commented on #32
Thanks for the detailed report. Yes, it looks like we need to specify the size of the tmpfs directly and not rely on the percentage.

[2020-09-24 11:23] pothos commented on #32
I created a PR here https://github.com/flatcar-linux/torcx/pull/4

[2020-09-24 13:25] goochjj commented on #195
This is the solution I'm using
[code]
Where KV is the kernel version

[2020-09-24 13:29] goochjj opened #196 "/usr image size"
**Description**
The /usr image is getting pretty close to the USR-A/USR-B partition sizes

/dev/mapper/usr   1007760   942388     13356  99% /usr

Is there a plan to expand the USR-A and USR-B partitions?

**Impact**
If the image gets much bigger it won't fit on existing systems

**Implementation options**
Possible options
1) Maybe combine 3+4 into one 2G partition and tack an additional one onto

[2020-09-24 13:36] goochjj commented on #188
There's very little point in running ETCD if you're just trying to control a single machine's reboot behavior.  You'll always get a lock.  The only reason to use etcd-lock strategy is if you have a cluster of 2+ machines, and you don't want them all to reboot at the same time(i.e. 1 at a time, or 2 at a time)

This is spelled out here https://coreos.com/os/docs/latest/update-strategies.html. (for

[2020-09-24 13:37] pothos commented on #196
Hello,
thanks for creating a ticket here for visibility. The plan is to reduce the content size by removing the unused Docker 1.12 torcx image and other deprecated or unneeded software.

This should address the problem for the mean time but as software binaries tend to grow larger and larger over the course of a few years we don't know yet what will happen later and if in the future we need to exc

[2020-09-24 13:41] pothos commented on #188
For completeness, the Flatcar docs are under https://docs.flatcar-linux.org/os/update-strategies/ and there is also FLUO for Kubernetes: https://github.com/kinvolk/flatcar-linux-update-operator/

[2020-09-24 13:42] goochjj commented on #170
+1

[2020-09-24 13:45] goochjj commented on #59
`unified` will likely break Docker, until Docker 20 is released. `hybrid` will not

[2020-09-24 13:46] goochjj commented on #196
If I choose to expand my partitions, will everything work? It looks like you're using partition labels.  Or is there something hardcoded somewhere for 1GB image sizes?

[2020-09-24 14:01] margamanterola commented on #188
BTW, Allan, we had a release on Tuesday. What happened? Did the fix work?

[2020-09-24 14:08] goochjj commented on #196
If I read the initrd correctly, it should work because you use e2size to find the hash at the end of the filesystem.  But I guess it's not necessary or desired to do anything until the image requires it.  So I'll just wait I guess :-D

[2020-09-24 14:10] goochjj commented on #196
Is there some place where you're discussing/identifying "deprecated/unused" software?
The docker 1.12 torcx only saves 27M

[2020-09-24 14:11] goochjj commented on #196
I'd also recommend if expansion is in the future, changing the partition layout now for new deployments, before we need it, would be a great way to handle it.

[2020-09-24 14:18] goochjj commented on #21
I didn't have this problem because internally, I generate a (private) docker container that contains new tools, and on execution rsync's the new tools into /usr/share/oem.  I've been running 11.1.0 for quite some time.

A similar technique could be used with an image on Docker hub... or by adding a separate image to the update servers. (i.e. add oem-2605.5.0.tar.gz files with appropriate .sig file

[2020-09-24 14:19] goochjj commented on #21
Also interesting to note the version I compiled doesn't depend on libssl at all.. :-D

[2020-09-24 15:18] EthraZa commented on #188
Wow! Thank you for warning me. I didn't know about the update yet because the server did not rebooted.
Now I'll get back to it at Sunday to see if it reboots at the configured time.
[code]

For now, it's still at:
$ uname -r
`4.19.145-flatcar`

[2020-09-24 15:34] EthraZa commented on #188
@pothos Thank you for pointing me the links. Dind't know abot FLUO, I'll take a look at it, but since I'm not running Kubernets, but Swarm mode, I don't know if it'll be useful right now.

About the Flatcar docs, beside the docs not leting it clear that an "etcd-lock" strategy would invalidate the rest of the config if etcd is not correct configured, I guess the biggest problem to me is that I was

[2020-09-24 16:08] pothos commented on #32
This will be addressed in the next Stable bugfix release (and any other releases).

[2020-09-24 16:11] goochjj commented on #188
@EthraZa I don't leave anything to chance, my monitoring looks at `update_engine_client -status` (which I suggest you run now).  This will tell you if it has found the update, applied it and it's just waiting for a reboot... Or if it hasn't even noticed yet.

You can also use -check_for_update or -update

If you wanted to be absolutely safe, do this:
1) Take note of which partition is active with

[2020-09-24 16:18] pothos commented on #188
`journalctl -u locksmithd -b 0` will also tell you when it would reboot once you configured the time window:
[code]

And after it downloaded an update `systemctl status locksmithd` will show when it reboots:
[code]

[2020-09-24 16:32] pothos commented on #196
I don't think we will change the disk layout soon. Having a hard limit of 1 GB helps to enforce the goal of aiming for a minimal but functional OS. I'm sure there are many areas where the we can reduce the content size.

[2020-09-24 17:32] EthraZa commented on #188
You guys are right. Looks like it's indeed waiting for reboot.

$ systemctl status locksmithd
[code]

$ journalctl -u locksmithd -b 0
[code]

$ rootdev -s /usr
`/dev/sda4`

$ update_engine_client -status
[code]

[2020-09-24 18:35] goochjj commented on #188
Sounds like you're all set then!

[2020-09-25 02:41] kinghuang opened #197 "Override ID in /etc/os-release to work with Docker Machine"
**Current situation**

I used to use CoreOS with [docker/machine](https://github.com/docker/machine) and GitLab Runner for running GitLab CI/CD jobs. Docker Machine's CoreOS provisioner unfortunately only checks if `ID=coreos` in `/etc/os-release`, and not `ID_LIKE=coreos`. As a result, it is unable to launch machines with Flatcar AMIs.

**Impact**

I am unable to launch Flatcar Linux instances us

[2020-09-25 09:29] margamanterola opened #245 "[ignition] Possible race condition when setting up btrfs root partition"
When running our usual tests, we saw some flaky errors in the cl.ignition.v1.btrfsroot and cl.ignition.v2.btrfsroot tests that succeed after a retry, so it looks like some race condition or something that needs to be given time to settle.

This is ignition setting up the btrfs partition:

[code]

And this is systemd right after that, trying to mount the partition that was just created and not find

[2020-09-25 09:39] pothos commented on #197
Hello,

like other files that are outside of `/usr` you can create it through an Ignition config (or Container Linux Config YAML transpiled to Ignition JSON).

Something like this:
[code]
gets transpiled via `cat FILE | docker run --rm -i quay.io/coreos/ct:latest-dev`.

Not sure how to supply the config to Docker Machine as I don't know it well.

In case it's not possible you could also embed the

[2020-09-25 10:43] margamanterola commented on #186
The fixes have been cherry picked to all channels and should be included in the upcoming releases. Once they are released we can upload the new images to GCE and try again.

[2020-09-25 11:17] alban opened #198 "Make BPF tracing tools (bcc, bpftrace) easier to use in Flatcar"
**Current situation**

BPF tracing tools bcc and bpftrace are difficult to use in Flatcar:
- the Docker command is complicated to remember and not documented
- toolbox does not work out of the box, flags have to be added manually
- it's not clear which container image to use, and which ones are up-to-date
- some bcc tools or bpftrace commands don't work and we don't have tests for them, so it's di

[2020-09-25 12:47] chrskhl commented on #186
Awesome! Thx so much, Marga.

Chris

On Fri, Sep 25, 2020, 06:43 Marga Manterola <notifications@github.com>
wrote:

[2020-09-25 14:24] neilmayhew opened #199 "vmtoolsd.service fails to start on 2605.5.0"
**Description**

On login:

[code]

**Impact**

The Flatcar guest doesn't integrate with the VMWare host properly.

**Environment and steps to reproduce**

1. **Set-up**: Flatcar 2605.5.0 running on a VMWare host
2. **Task**: Booting
3. **Action(s)**: Automatic reboot after upgrade to 2605.5.0
4. **Error**: Failed systemd unit

**Expected behaviour**

`vmtoolsd.service` should be running.

**Addit

[2020-09-25 14:30] t-lo commented on #199
Hello @neilmayhew ,

thank you for the report. The underlying root cause is a missing feature in Flatcar Container Linux (missing in CoreOS, too) to upgrade vendor tools alongside of OS updates. Vendor tools like `open-vm-tools`, once provisioned, traditionally lack a process for being updated. This is a CoreOS legacy which we aim to remove - by adding a respective update feature, tracked in https

[2020-09-25 15:00] neilmayhew commented on #199
Thanks for your quick response. This is indeed a duplicate of #192 (but I didn't see that when I was creating this issue since it's closed, and I didn't think of looking as far back as #21 for related issues).

I'll try the workaround when I get a chance, but that won't be until the second half of next week.

[2020-09-25 15:31] kinghuang commented on #197
Thanks! I had it in my mind that I couldn't just write a file because it's symlinked into `/usr`. Adding that to my Ignition config worked perfectly. Docker Machine is treating the launched instance as CoreOS.

[2020-09-25 15:31] #197 closed, assigned to nobody

[2020-09-25 19:10] margamanterola commented on #195
This has been fixed with flatcar-linux/coreos-overlay#614, which will be included in the upcoming releases.

[2020-09-25 19:17] alban opened #200 "Package Update Request: libseccomp 2.5.0"
**Current situation**
Flatcar includes libseccomp 2.4.0 (see [packages.txt](https://alpha.release.flatcar-linux.net/amd64-usr/2632.0.0/flatcar_production_image_packages.txt))

**Impact**
runc cannot be compiled with Seccomp Notify from [seccomp 2.5.0](https://github.com/seccomp/libseccomp/releases/tag/v2.5.0).

**Ideal future situation**
Flatcar includes a new version of libseccomp

[2020-09-26 14:06] #191 closed, assigned to nobody

[2020-09-27 13:08] invidian opened #201 "Provide containerd-shim-runc-v1 binary"
**Current situation**

Currently, when one tries to run `kubelet` with `--container-runtime=remote` and `--container-runtime-endpoint=unix:///run/docker/libcontainerd/docker-containerd.sock` flags, to use `containerd` directly as a container runtime for pods, instead of using default Docker, `kubelet` is not able to create any pods and prints the following errors:
[code]

**Impact**
Unable to use

[2020-09-28 08:18] dongsupark commented on #201
True.
I have seen similar issues when testing Flatcar via image-builder for Cluster API.
It is not only about `containerd-shim-runc-v[12]`, but also necessary tools like `crictl`.

On the other hand, however, we need to figure out how we can make some free space in the production Flatcar image. At the moment ~95% of the system partitions are full.

[2020-09-28 08:34] invidian commented on #201
Isn't `crictl` more for CRI-O? `containerd` can be interacted with `ctr` as far as I know. For CRI-O support, which would also be nice, I'd create separate feature request :)

[2020-09-28 09:07] dongsupark commented on #201
Both `ctr` and `crictl` are possible for communication with `containerd`.
Anyway image-builder needs both `crictl` and `ctr`.

Well, anyway I suppose the runc-shim issue is more critical here, as you described.

EDIT: image-builder actually uses both crictl and ctr.

[2020-09-28 16:50] invidian opened #202 "Enable CONFIG_PSI kernel config flag"
**Current situation**
Despite running kernel 5.8.9, PSI information is not available.

[code]

**Impact**
Having PSI is useful while debugging performance issues: https://unixism.net/2019/08/linux-pressure-stall-information-psi-by-example/

**Ideal future situation**
PSI should be available by default on all channels.

**Implementation options**
I guess setting `CONFIG_PSI` option should be suffic

[2020-09-28 17:11] pothos commented on #202
Thanks for the report. Looks like it's a duplicate of https://github.com/flatcar-linux/Flatcar/issues/162 ;)

[2020-09-28 17:16] invidian commented on #202
Ah, I didn't check it this time! :smile: Sorry for the noise.

[2020-09-28 17:16] #202 closed, assigned to nobody

[2020-09-28 21:54] EthraZa commented on #188
It did work all right.

I have even changed the LOCKSMITHD_REBOOT_WINDOW_START to "Sun 12:00" and it worked like a charm and rebooted itself at sunday 12pm.

Since I'm good for now, I'm going to close this issue, but I know I will need to revisit it in the future, when I get more Flatcar Linuxes in the Swarm, to get etcd in a working state so the servers can use it to place a lock and reboot one a

[2020-09-28 21:54] #188 closed, assigned to nobody

[2020-09-30 07:04] t-lo commented on #145
Thank you for the great work leading here, Dongsu!
New WIP branches w/ toolchain updates:
- https://github.com/flatcar-linux/coreos-overlay/tree/t-lo/update-glibc-gcc-tools (glibc etc.)
- https://github.com/flatcar-linux/portage-stable/tree/t-lo/update-glibc-gcc-tools (gcc, binutils, etc.)

[2020-09-30 07:06] t-lo commented on #145
Updated nss-altfiles with a [patch](https://github.com/flatcar-linux/nss-altfiles/commit/9078c543ba7d2bc5011737675b3dddb882673ce7) to un-break for glibc-2.30 or newer.

[2020-09-30 07:08] t-lo commented on #145
The SDK build breaks when trying to build the old gcc, 8.3.0, with a libsanitizer error:
[code]

[2020-09-30 16:44] dongsupark commented on #201
Filed a PR to add container-shim-runc-v* binaries to the torcx profile for Docker 19.03. https://github.com/flatcar-linux/coreos-overlay/pull/623

Though before doing that, we should first review and merge https://github.com/flatcar-linux/coreos-overlay/pull/622 to get some free space in production images.

[2020-10-01 02:38] endzyme commented on #195
Looks like it was released on https://www.flatcar-linux.org/releases/#release-2605.6.0

[2020-10-01 02:38] #195 closed, assigned to sayanchowdhury

[2020-10-01 08:00] t-lo commented on #194
@crinjes we upgraded to `adcli 0.9.0` in the latest releases (Stable-2605.6.0, Beta-2632.1.0, and Alpha-2643.0.0) - could you please verify if the update resolves your issue?

Also, please consider operating a small number of Beta canaries in your cluster to detect upcoming issues early, before these hit Stable.

[2020-10-01 09:17] crinjes commented on #194
@t-lo I've verified it works in both the beta and stable release now, from a fresh install and a long time upgraded one with existing krb5.conf (where configured encryption types are now honored \o/). Thanks for the quick turnaround.

At the very least "try signing in to the beta machine" will have to go on a checklist/test somewhere, yes.

[2020-10-01 09:17] #194 closed, assigned to nobody

[2020-10-01 09:26] dongsupark commented on #57
Now all channels have Docker 19.
Can we close?

[2020-10-01 09:27] dongsupark commented on #94
Now all channels have Kernel 5.4 or newer.
Can we close?

[2020-10-02 17:27] #200 closed, assigned to nobody

[2020-10-05 16:42] ipochi commented on #185
In Lokomotive, one can provide a clc snippet to enable `bpf_jit_enable` upon cluster deployment.

[code]

https://github.com/kinvolk/lokomotive/blob/master/docs/concepts/flatcar-container-linux.md#customization

[2020-10-06 15:46] der-eismann commented on #189
For the kubelet-wrapper I'd prefer a script that's downloading and running the native binary on the host like it's suggested in the [kubernetes docs](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl). There are no more official hyperkube images, so I don't really see a future for this.

[2020-10-06 16:49] bersace commented on #134
I don't understand the purpose of flatcar linux with docker not started at boot :/ Can anyone explain this ?

[2020-10-06 17:48] bersace opened #203 "docker restarts containers before containerd socket is opened"
Hi,

**Description**

For a few days, my flatcar server doesn't reboot containers (set to always).

**Impact**

Since updates triggers reboot, I often have all my services down :-((

**Environment and steps to reproduce**

1. Create a container with restart policy as always
1. reboot

**Expected behavior**

I expect the containers to successfuly restart.

**Additional information**

My server is m

[2020-10-06 20:35] hwaastad opened #204 "Relabeling of content in /usr"
**Description**

stable version of flatcar >= 2605.5.0 does not work with rancher

**Impact**

It is not possible to create k8s clusters via rancher (custom cluster) or rke.
The last version working is 2512.5.0

**Environment and steps to reproduce**

1. **Set-up**: flatcar >=2605.5.0 running in vmware
2. **Task**: rke up --config cluster.yaml
3. **Action(s)**:
4. **Error**: Relabeling of /usr fai

[2020-10-06 20:49] vbatts commented on #204
@hwaastad are you using rancher v1.2.0?

[2020-10-06 21:01] hwaastad commented on #204
@vbatts, yes. same issue on 1.1.7 and 1.2.0.
Issue is the same deploying custom clusters in rancher 2.4.7 and 2.4.8 (Have'nt had the guts yet to try out 2.5.0)

[2020-10-06 21:12] vbatts commented on #204
let's see, I was just deploying rke 1.2.0 this morning, onto 2605.6.0 and not hitting this issue. I did encounter this and opened https://github.com/rancher/rke/pull/2214 to fix it.
Perhaps this could be due to creating it _from_ the Rancher UI? I'll have to investigate this.

The work around in the past had been to set SELinux to disabled (not just Permissive):
[code]

[2020-10-06 22:35] mikekuzak commented on #204
@hwaastad You said the last working version was flatcar release 2512.5.0. There were are lot of changes in Rancher and Flatcar since then, Docker version has changed to 19.03.x, Kernel to 5.4.x, not sure is this a Rancher or Flatcar issue. Btw I have the same issue with Fedora CoreOS 32.xx and I'm not able to check Rancher 2.5 as it's not coming up at all :(

[2020-10-07 04:39] pothos commented on #203
Seems like a race condition because the containerd service unit treats the services as ready as soon as it runs but it should only be ready if it is actually able to accept requests on the socket. It needs to be changed to `Type=notify` but this requires containerd support for a `sd_notify` call after it set up the socket. It seems that it is supported and we can try to use it: https://github.com/

[2020-10-07 07:08] hwaastad commented on #204
@vbatts and @mikekuzak, I think rke works fine. it was a etcd restore that did'nt work.(just a stress situation during havoc). And yes, issue exists on creating custom clusters on flatcar 2605.XX.
@mikekuzak , not sure myself, but since the same rancher deployment (2.4.8) work on 25xx, but an install of 2.4.8 on 26xx is failing, there must be a change but I cannot but I cannot see the reason.
Both

[2020-10-07 07:10] bersace commented on #203
Hi @photos, thanks for the quick answer :-)

Here is the docker.service unit content :

[code]

Why does docker.service runs **two** services : dockerd and containerd ?

[2020-10-07 07:12] bersace commented on #203
Here is the tree of processes in docker.service:

[code]

[2020-10-07 07:21] pothos opened #205 "New Package Request: app-emulation/qemu static-user amd64 binary translation on the arm64 image"
**Package name and purpose**

The qemu package provides, besides the KVM-based emulation, a set of binaries that can be used to register a binary translator for ELF files of foreign architectures. By pre-loading the binary translator at startup any container image of the foreign architecture can be run. This helps arm64 nodes in a hybrid cluster where multiarch container images or [node selectors]

[2020-10-07 08:27] pothos commented on #205
Or alternative suggestion, provide the binaries and the binfmt entry as release artifact so that they can be included via Ignition more easily? Then we can add it to the docs and make binary translation a conscious decision.

[2020-10-07 08:35] dongsupark commented on #201
https://github.com/flatcar-linux/coreos-overlay/pull/623 was merged, and it will be included in the next Alpha release.

[2020-10-07 08:35] #201 closed, assigned to dongsupark

[2020-10-07 13:20] hwaastad commented on #204
@vbatts, it seems that disabling selinux works on new cluster nodes. In my current situation it turns out that disabling selinux on existing servers has to be handled with care.

1. Existing rancher 2.4.8 (18.8) k8s automatically has bee upgraded to 2605.6.0, selinux permissive -> all OK
2. if any rancher upgrade happens, relabeling issues will occure
3. disabling selinux:
3.1 Cordon and remove no

[2020-10-07 18:27] skshandilya opened #206 "unable to get build environment of the sdk on ubuntu 20.04"
**Description**

Sorry newbie here,
cork create fails to build the sdk environment

**Impact**

Not able to get started with building custom images

**Environment and steps to reproduce**
download the latest cork and run
 cork create
2020-10-07T17:39:49Z cork: Detecting SDK version
2020-10-07T17:39:52Z cork: Found SDK version 2643.0.0 from remote repo
2020-10-07T17:39:52Z cork: Downloading SDK ver

[2020-10-07 18:38] vbatts commented on #206
Hi @skshandilya, which version of cork are you using? `cork version`

[2020-10-07 19:10] vbatts commented on #206
I just spun up a clean ubuntu 20.04 instance:
[code]
log in again as the limited user (cork environment does not work correctly as `root`):
[code]
The output rolled right through where yours errored out:
[code]

It is my guess that possibly a network connection or dns resolution failed. Possibly the dns servers 8.8.8.8 and 8.8.4.4 are not reachable.
Try again with the flag `cork create --use-host-

[2020-10-07 19:10] #206 closed, assigned to nobody

[2020-10-08 00:47] igcherkaev commented on #189
agree with @der-eismann
kubelet-wrapper needs to be updated or a new wrapper added to maintain backwards compatibility, allowing users to choose which way they want to run kubelet.

Found this issue while upgrading from v1.17 to v1.18 running on flatcar linux.

[2020-10-08 00:51] vbatts commented on #189
Good point 👍

On Wed, Oct 7, 2020, 20:48 Igor Cherkaev <notifications@github.com> wrote:

[2020-10-08 03:05] skshandilya commented on #206
cork version
mantle/cork version 0.15.0+38-gdcd6f832

[2020-10-08 03:05] skshandilya commented on #206
--use-host-dns worked

[2020-10-08 06:18] pothos commented on #205
For amd64 the file `/usr/lib/binfmt.d/qemu-x86_64-static.conf` (or `/etc/binfmt.d/…`) is:
[code]

[2020-10-08 14:51] t-lo commented on #155
Patch has arrived in Stable on Sep. 22nd, closing this.

[2020-10-08 14:51] #155 closed, assigned to nobody

[2020-10-08 15:59] vbatts commented on #206
@skshandilya oh good

[2020-10-09 07:44] #71 closed, assigned to nobody

[2020-10-09 08:19] dongsupark commented on #162
Filed a PR https://github.com/flatcar-linux/coreos-overlay/pull/638.

[2020-10-09 10:27] rikatz commented on #162
Thank you!!

[2020-10-12 08:12] invidian opened #246 "Switch to Go releaser with GitHub actions for releases"
As it is a super nice and quick way of getting releases out in automated fashion. Examples here: https://github.com/kinvolk/terraform-provider-tinkerbell.

[2020-10-13 04:26] pothos commented on #168
@kgwaters6 This was resolved recently by excluding the NVMe drives' major device numbers from the installation, or was this for another instance type?

[2020-10-13 06:51] pothos commented on #181
Can we close this now or is there any remaining issue?

[2020-10-13 07:01] #94 closed, assigned to nobody

[2020-10-13 07:01] #76 closed, assigned to sayanchowdhury

[2020-10-13 07:02] #57 closed, assigned to nobody

[2020-10-13 07:32] pothos commented on #39
This is fixed now.

[code]

[code]

where the `usrhash` comes from the `/proc/cmdline` of a booted QEMU VM instance, for example. Note that updates won't work because the kernel is kept outside of the image, so I recommend to disable update engine.
On first boot to run Ignition you have to add `flatcar.first_boot=1`.

[2020-10-13 07:32] #39 closed, assigned to nobody

[2020-10-13 07:35] #32 closed, assigned to nobody

[2020-10-13 13:22] dustinmiller commented on #168
@pothos https://github.com/tinkerbell/boots/pull/86 accomplished this goal, I believe this issue can be resolved

[2020-10-13 13:59] pothos commented on #168
Thanks

[2020-10-13 13:59] #168 closed, assigned to nobody

[2020-10-13 14:04] #190 closed, assigned to nobody

[2020-10-13 17:14] sfudeus commented on #189
I'd appreciate a natively running kubelet as well (to prevent problems with mount propagations), but I'd not like the kubelet binary being pulled by a wrapper at arbitrary times. We use ContainerLinux to have a more or less immutable installation, so IMHO the kubelet should be fetched and frozen upon node installation only, not ad-hoc.

[2020-10-13 20:11] pddenhar opened #207 "Haveged entropy gathering daemon (new package) or rngd.service by default"
### Haveged
Haveged allows generating randomness based on variations in code execution time on a processor.

- Package upstream repo: https://github.com/jirka-h/haveged
- Gentoo ebuild: https://gitweb.gentoo.org/repo/gentoo.git/tree/sys-apps/haveged

**Impact of adding this package to the Flatcar OS image**
- [x] This package meets the requirements of Flatcar Container Linux’ new package guideline

[2020-10-13 23:51] pothos commented on #125
@invidian Do you think your work with the Ubuntu or alpine container image can be upstreamed?

[2020-10-13 23:59] pothos commented on #125
One more note: Installing lbzip2 in the container will also help to speed decompression up greatly. This is also missing on the PXE installation method. Last time I measured this was saving ~30 seconds.

[2020-10-14 06:29] invidian commented on #125
Upstreamed where you mean?

The only difference between my process and what @johananl describe is that instead of booting Flatcar initramfs, Tinkerbell boots [OSIE](https://github.com/tinkerbell/osie) image for me, which then runs this Ubuntu container to install Flatcar. I don't think it's any faster.

[2020-10-14 06:54] pothos commented on #125
Upstream to the Equinix Metal tinkerbell repository. This will be faster because booting from iPXE and the additional reboot is slow. As far as I know installing from the container to disk also allow the machine to be pre-provisioned based on popularity count because the write to disk can happen in advance, further reducing the installation time in lucky cases (only setting the user-data and reboo

[2020-10-15 02:26] pothos commented on #207
Hi,
thank you for the proposal, worth exploring, also whether it should be part of the initramfs.

I also see that `rngd.service` is not enabled by default, did you try to enable it and check for the existence of `/dev/hwrng` on your machines? (Edit: It should be active in the initramfs already, so maybe we just have to enable it for the system. This makes probably sense if we assume it has a diff

[2020-10-15 12:17] pothos opened #208 "tcsd.service starts up on a TPM 2.0 machine"
**Description**

For machines like the Equinix Metal `c3.small.x86` the `tcsd.service` unit is reported as failing on the login prompt. This is due to the implementation only working with TPM 1.2 devices while the newer machines are using TPM 2.0.

**Impact**

It is not only confusing but also causes the kola test suite to report errors.

**Environment and steps to reproduce**

1. **Set-up**: Boot

[2020-10-15 19:19] pddenhar commented on #207
Thank you for the suggestion, I had assumed that there was not HW RNG support on my host (DigitalOcean) because of open issues requesting it (https://ideas.digitalocean.com/ideas/DO-I-2147) but `sudo rngd -v` does actually report an available entropy source:
`Available entropy sources:
	Intel/AMD hardware rng`

I'll have to do more research to make sure this is available on all of our hosts, but t

[2020-10-16 03:24] pothos commented on #207
Did you check what `/dev/random` is based on? `head /sys/class/misc/hw_random/rng_*`
The `/dev/hwrng` device should be the visualized HW random device then and be picked up by rngd.

Good, curious to hear back. As first result of this request here I would at try to enable rngd by default but we keep can keep the request open to consider haveged for corner cases.

[2020-10-16 13:42] invidian opened #209 "Add favicon.ico to Flatcar website"
https://www.flatcar-linux.org/favicon.ico currently returns 404. It would be cool to have Flatcar logo there, so for example, release website is easy to find in bookmarks.

[2020-10-16 13:44] invidian opened #210 "Fix all channels RSS feed title"
Currently https://www.flatcar-linux.org/releases-feed/releases.xml shows `Flatcar :: stable` title. I think it should show something else, maybe just `Flatcar` or `Flatcar :: all channels`, to avoid confusion.

[2020-10-16 13:46] invidian opened #211 "Consider rendering RSS feed content to valid HTML instead of Markdown"
This is how currently XML feed looks like in https://feedly.com/, which is a popular newsfeed reader:
![Selection_256](https://user-images.githubusercontent.com/16539896/96266149-9c96c580-0fc6-11eb-936b-fc8f63a89bde.png)

As far as I understand, feed content is currently the following:
[code]

Which is markdown. It would be good to render this to valid HTML before injecting into `content` block.

[2020-10-16 17:24] vbatts commented on #150
@dghubble give today's release of alpha/arm64-usr 2661.0.0 a try.
I just spun it up on an a1.medium
[code]

[2020-10-16 17:28] vbatts opened #212 "rngd failure on AWS ARM"
**Description**

booting up 2661.0.0 on an AWS a1.medium shows a failure to initialize `rngd`.

**Impact**

random numbers :smile_cat:

**Expected behavior**
normal boot

**Encountered behavior**
[code]

[2020-10-16 17:36] vbatts commented on #150
and likewise for m6g.medium are working.
Closing this one. Let's open incremental issues found once running.

[2020-10-16 17:36] #150 closed, assigned to nobody

[2020-10-18 07:26] awprice opened #213 "Stable 2605.6.0 shutdown order prevents closing of TCP connections"
**Description**

When shutting down a node running Flatcar Stable 2605.6.0, we have noticed that the order of termination of processes prevents the closing of long-running TCP connections. In Flatcar Stable 2512.5.0 however, we do not see this issue - long-running TCP connections are closed, with a FIN and RST being sent to the client prior to the node being shutdown.

**Impact**

This impacts our

[2020-10-19 03:45] pothos commented on #125
With an Ubuntu container the lbzip2 package is available for fast decompression but an additional `ln -s /usr/bin/lbzip2 /usr/local/bin/bzip2` is needed after the lbzip2 package installation with apt.

[2020-10-19 07:31] pothos commented on #213
Hi,
I did not try to reproduce your setup but just tested with `ncat -l PORT` that a node in general sends the FIN on shutdown. Maybe something is different with the way the API server is terminated or it's the network setup, or the packet got lost somehow. Anyway, the FIN is not the relevant part because it only closes the writing part of the node's connection. The RST is the interesting part bec

[2020-10-19 08:08] awprice commented on #213
Thanks @pothos, some answers to your questions:

 - This isn't a reboot of the node - it's a shutdown of an old Kubernetes API server, with new nodes running the API server ready to accept requests. Kubernetes service IPs and endpoints are used to send traffic to the new nodes.
 - I don't think the packet is getting lost - I can reproduce this every single time the node is shut down on 2605.6.0, b

[2020-10-19 08:44] pothos commented on #213
Ah, thanks, not a shutdown of the machine but the `kubelet.service` – That would be `systemctl stop kubelet.service` or something else? Can you paste your `systemctl cat kubelet.service` definition?

[2020-10-19 08:48] awprice commented on #213
@pothos No - I am talking about a shutdown of the node/machine. The inclusion of `kubelet.service` in the above systemd unit is to ensure the shutdown of the kube-apiserver process is done after the kubelet is shutdown to prevent it from being started back up.

[2020-10-19 10:57] pothos commented on #213
Ok, yes, the behavior of systemd could have changed in the new version. This may be a bug, it may be a documented change, or it may be a change of undefined behavior the service relied on. To reproduce this and find a small example it would be good if you can provide the relevant service units. Then we can try to adjust the service units and/or maybe file an upstream bug.

[2020-10-20 03:58] awprice commented on #213
@pothos Thank you for your diagnosis on what could be the issue.

Here are the relevant service units that we run on the nodes with kube-apiserver. It's a pretty simple setup.

Let me know if there is anything else I can provide you with.

**containerd.service**
[code]
`/opt/bin/containerd-init.sh` is a script to download and install the containerd binaries.
This systemd unit is similar to the ups

[2020-10-20 11:06] vbatts opened #214 "polkit.service fail on AWS ARM"
**Description**

fresh boot of 2661.0.0 and an AWS t4g.medium

**Impact**

System still boots and seems usable enough, but shows as a "degraded" state.
[code]

**Expected behavior**

normal boot

[2020-10-20 11:27] dongsupark commented on #214
Duplicate of https://github.com/flatcar-linux/Flatcar/issues/156 ?

[2020-10-20 12:14] vbatts commented on #214
oh maybe? the other died with 11/SEGV as well, but didn't show a coredump.
And now I find, I forgot to pull the coredump :facepalm:

[2020-10-20 15:53] dongsupark commented on #142
Is it still an issue?
Stable 2605.5.0 or newer has open-vm-tools 11.1.5, which should already have the bug fix against the issue.

[2020-10-20 15:56] dongsupark commented on #91
Looks like it was already done a long time ago.

[2020-10-20 15:56] #91 closed, assigned to nobody

[2020-10-20 16:00] dongsupark commented on #53
Stable 2512.2.0 or newer already has wa-linux-agent 2.2.46.

[2020-10-20 16:00] #53 closed, assigned to nobody

[2020-10-20 16:05] neilmayhew commented on #142
It is an issue until the root cause of #199 is fixed since existing installations that self-upgrade to 2605.5.0 will still have an older version of `open-vm-tools`. However, when that happens the tools won't work at all and there won't be any further log messages, so I think it's appropriate to close this issue and leave #199 open.

[2020-10-20 16:05] #142 closed, assigned to nobody

[2020-10-22 06:04] ipochi opened #215 "Enable power class supply support in Flatcar"
**Current situation**
[code]
As seen in the output, support for power class supply is disabled.

I'd like to know the reasons behind its default behavior in Flatcar and discussions around enabling the said configuration and its impact.

**Impact**
`node_exporter` in Prometheus Operator scraps the metrics from different collectors, one of them about the power supply class from the location `/sys/cl

[2020-10-22 08:33] dongsupark commented on #215
I am not sure why power supply has not been enabled.
I have just tried to search for the old coreos bug tracker, git logs etc., but no discussion about it.
Basically I think it is ok to add it to the Kernel, if the Kernel size does not get too much bigger.
If you think it is a small change, feel free to create a PR to update the [kernel config](https://github.com/flatcar-linux/coreos-overlay/blob/

[2020-10-23 04:11] johnwvmw opened #216 "New Package Request: [open-vm-tools 11.2.0]"
**Package name and purpose**
The open-vm-tools 11.2.0 has been released.  Please update the open-vm-tools package(s) to
- Package upstream repo: https://github.com/vmware/open-vm-tools/releases/tag/stable-11.2.0

**Impact of adding this package to the Flatcar OS image**
- [ x ] This package meets the requirements of Flatcar Container Linux’ new package guidelines: https://github.com/flatcar-linux/

[2020-10-26 08:36] juliantaylor opened #218 "Stable 2605.6.0 systemd log spam Failed to set up mount unit: Invalid argument"
**Description**

In flatcar 2605.6.0 systemd spams the logs with following message:
Failed to set up mount unit: Invalid argument

The message was not present in that high rate in 2512.3.0

full message:

[code]

**Impact**

This produces several hundred gbs of logs in our ~250 node clusters

**Additional information**
The cause seems to be too long paths in mount units which systemd wants to crea

[2020-10-26 12:26] ffilippopoulos opened #219 "Upgrade Package Request: open-iscsi"
**Package name and purpose**
Flatcar comes with an old open-iscsi tools version `iscsid version 2.0-873`, where we are not able to configure iscsid to only perform manual scans. This is needed by kubernetes iscsi driver:
https://github.com/kubernetes/kubernetes/pull/90985

Also, automatic scans can cause cpu lockups due to iscsi process hangs when the devices map is too big.

Trying to modify `nod

[2020-10-27 04:51] mdaniel opened #220 "Add AWS IMDSv2 mode support for ignition and afterburn"
**Description**

Booting Flatcar Stable (`075585003325/Flatcar-stable-2605.6.0-hvm`) (or even Alpha `075585003325/Flatcar-alpha-2661.0.0-hvm`) in AWS on an instance with [IMDSv2](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/configuring-instance-metadata-service.html#instance-metadata-transition-to-version-2) turned on causes `coreos-metadata` (or its `ignition` friend) to exit, which causes

[2020-10-27 08:01] straffalli commented on #204
Hello,
Any update on this issue? I have the same problem on rancher 2.4.8 and Flatcar 2605.6.0. It is mainly impacting kube-proxy on running clusters.

[2020-10-27 11:52] t-lo commented on #220
Thank you for raising this issue. There seems to be an upstream ignition [bug report](https://github.com/coreos/ignition/issues/989) with accompanying [patch](https://github.com/coreos/ignition/pull/993) which we will investigate.

[2020-10-27 12:38] t-lo commented on #220
Additionally, IMDSv2 requires fetching an access token required to access the metadata, see https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-data-retrieval.html .

[2020-10-28 02:43] vbatts opened #221 "remove vimdiff (or compile with diff feature)"
**Description**

went to use `/usr/bin/vimdiff` and get the error:

[code]

**Impact**

confusion or lack of vimdiff or both :smile_cat:

**Environment and steps to reproduce**

2605.6.0

[2020-10-28 12:25] #214 closed, assigned to nobody

[2020-10-28 17:34] mritalian opened #222 "sda/sdb drives sometimes swap after update"
Sometimes after updates, the sda drive (carrying the OS) and sdb (storing the data) end up swapped:  OS root is mounted from /dev/sdb, and my mnt-sdb1.mount unit fails.  On reboot, everything is ok.

**Impact**

This is a major problem; docker services depending on volume data from /mnt/sdb1 fail.

**Environment and steps to reproduce**

1.  Add a second drive to the VM, partition and format as ex

[2020-10-28 18:06] vbatts commented on #204
I'm trying to narrow down the use case here. Specifically this is affecting https://github.com/rancher/rancher, when running on a flatcar host? (Not particularly when deploying rke itself)

[2020-10-28 23:46] dghubble commented on #156
This prevents other components from running too (systemd-hostnamed, coreos-metadata, etc), same message. @bobhenkel

[2020-10-29 02:17] endzyme opened #223 "AWS AMI: ami-0312c8ef72c898c8 in us-west-2 fails to boot"
When running an AMI from us-west-2 using Flatcar-stable-2605.7.0 AMI (ID: ami-0312c8ef72c898c8e) the instance never boots. I've attached a screenshot of the host in AWS for the error.
![image](https://user-images.githubusercontent.com/1903525/97517130-4593d780-195a-11eb-829d-64c29f1df678.png)

The error is `Wrong EFI loader signature`

**Impact**

Can't deploy instances with this AMI

**Environmen

[2020-10-29 02:22] vbatts commented on #223
Please try again with release 2661.0.0 or newer.

[2020-10-29 02:28] vbatts commented on #223
(also, thanks for reporting the issue :smile_cat: )

[2020-10-29 02:35] endzyme commented on #223
Using Flatcar-alpha-2661.0.0-hvm (075585003325/Flatcar-alpha-2661.0.0-hvm & ID: ami-0c7fa97342e18ae64) in us-east-1 I get the same error: see screenshot -- I'm using a t3.large in my scenario. Any clues as to why this might happen?

![image](https://user-images.githubusercontent.com/1903525/97518577-19c62100-195d-11eb-8cbe-532f271352e7.png)

[2020-10-29 03:07] endzyme commented on #223
Ok - super interesting but it seems like it's some weirdness either with my config or with Amazon. I was able to book a server with no userdata, but I still saw the Wrong EFI loader signature message, it just boots past that in a few seconds. Not clear why this is inconsistent but likely something on my end. I'll keep digging into it.

[2020-10-29 03:42] endzyme commented on #223
Going to close this and reopen until I can reliably reproduce.

[2020-10-29 03:42] #223 closed, assigned to nobody

[2020-10-29 04:24] endzyme commented on #223
Found the problem - issue was definitely on my side and was two fold. One was that a new ignition policy did allow access to an s3 object, which appears to then just rerun ignition over and over (causing what appears to be a hung system). My initial issue is that this `Wrong EFI loader signature` is a red herring. It doesn't actually indicate a problem at all, and thus when I was testing without a

[2020-10-29 09:03] straffalli commented on #204
Yes exactly, we started to notice these troubles with Flatcar 26xx versions.

[2020-10-29 11:20] vbatts commented on #223
@endzyme nice find. Glad you found the culprit!

[2020-10-29 15:12] dongsupark commented on #221
`vimdiff` is not installed because the `minimal` USE flag is [enabled](https://github.com/flatcar-linux/coreos-overlay/blob/cf7b010ace6a47cb4f0d6288f9307f29c617a454/profiles/coreos/targets/generic/package.use#L5) for `app-editors/vim`.
The symlink `vimdiff` is still created because upstream Gentoo [does](https://github.com/gentoo/gentoo/blob/22be0a20b032405eaa17774c3435b30104dc9575/app-editors/vim

[2020-10-30 05:41] awprice commented on #213
I've tested Flatcar Stable 2605.7.0 and can confirm that this issue is still occurring.

@pothos Any update on your investigation into this? Are the details provided above sufficient, or is there more I can provide?

[2020-10-30 22:37] invidian opened #224 "Document available settings for /etc/flatcar/update.conf file"
**Current situation**
Values in `/etc/flatcar/update.conf` file like `GROUP` or `SERVER` are currently not well documented and easily accesible.

**Ideal future situation**

Flatcar documentation website should have a page dedicated for updates configuration.

**Additional information**

As far as I see, searching for `GetConfValue` in https://github.com/flatcar-linux/update_engine/blob/ace0de561e

[2020-11-02 15:21] rata commented on #267
Thanks!

[2020-11-03 03:33] pothos commented on #222
I wouldn't recommend to use the sda or sdb names because they have a similar issue to using eth0 or eth1 instead of the persistent interface names. Luckily for disks it's easy to use symlinks, so I recommend to pick one scheme from `/dev/disk/by-*`.

[2020-11-04 08:23] t-lo commented on #145
We'll first update gcc & friends (crossdev, binutils, etc.) rebuild the SDK, then update glibc.

[2020-11-04 09:25] pothos commented on #213
Thanks for the details, also about the custom containerd. I've been on vacation for two weeks. For the Kubernetes setup I'll probably use Lokomotive as I guess the `node-init.sh` script alone wouldn't help me much?

What I verified now is that with a plain Flatcar Stable VM on a bridge `docker run -d --rm --network host alpine nc -i 65000 -l -p 8888` followed by a system shutdown sends a FIN so th

[2020-11-04 10:15] Lplazier commented on #60
Hi t-lo, any indication as to when we can expect an update on this?
Especially regarding the vmtools issues.

Thanks in advance.

[2020-11-04 15:56] t-lo commented on #145
Updated perf to make it work with new binutils.
Hitting https://bugs.gentoo.org/690788 after updating kernel-headers. Will update dnsmasq to 2.28 to mitigate.

[2020-11-05 07:46] awprice commented on #213
@pothos If it helps, I've come up with an even simpler method for reproducing/replicating this.

1. Create instance running Flatcar Stable 2605.7.0 on cloud provider. In our case we started an m5.xlarge on AWS.
2. Create and start containerd.service. You don't need a custom containerd config.toml for this, I started it without one.
3. Using `crictl` (https://github.com/kubernetes-sigs/cri-tools/bl

[2020-11-05 07:49] pothos commented on #213
Great, I'll have a look!

[2020-11-05 10:54] iaguis opened #225 "Add CONFIG_DEBUG_INFO_BTF=y"
**Current situation**

Currently running [BTF/CO-RE BPF programs](http://www.brendangregg.com/blog/2020-11-04/bpf-co-re-btf-libbpf.html) on Flatcar is not supported.

**Impact**

This means running BPF programs on Flatcar require access to the kernel headers, LLVM, Clang... which makes it very inconvenient.

**Ideal future situation**

`CONFIG_DEBUG_INFO_BTF` is enabled in the Flatcar kernel.

**A

[2020-11-06 03:23] silencej opened #226 "PXE boot install fails to create bootloader"
**Description**

iPXE boot flatcar with root=LABEL=ROOT. lsblk shows /dev/sda1 is mounted to /, but /boot is empty
And booting with disk fails after rebooting.

**Environment and steps to reproduce**

The flatcar version is 2605.7.0, BUILD_ID 2020-10-23-1713

[2020-11-06 03:29] pothos commented on #226
Setting the `root=` argument¹ only means that instead of a tmpfs the root filesystem you specified is used. This is only needed if you want to preserve some state and thus not used by default, e.g., as in https://stable.release.flatcar-linux.net/amd64-usr/current/flatcar_production_packet.ipxe
The `root=` argument does not install to disk, you have to run `flatcar-install` for that (e.g., with `-d

[2020-11-06 03:43] silencej commented on #226
I see. If users can specify one more kernel option on how to install to disk directly, it will be very convenient to automate the installation.

[2020-11-06 03:53] silencej commented on #226
@pothos Another problem, since I have setup base linuz images and ignition in my local DNS server, I prefer to use them directly to install the OS. However flatcar-install doesn't support the web URL like http://ip:flatcar.ign

[2020-11-06 03:58] pothos commented on #226
Since you control the kernel command line, you can set `ignition.config.url=` there with a config similar to https://github.com/kinvolk/lokomotive/blob/master/assets/terraform-modules/packet/flatcar-linux/kubernetes/workers/cl/install.yaml.tmpl but with a step that downloads `/opt/postinstall-ignition.json` from a URL. In the end it looks like you could use Matchbox if you have multiple machines t

[2020-11-06 04:56] pothos commented on #213
`crictl` doesn't work with the containerd we ship by default even when the cri plugin is enabled. Can you provide your `/etc/containerd/config.toml` (if used) and `/opt/bin/containerd-init.sh` files to me so that I can reproduce your custom containerd setup?

[2020-11-06 05:28] silencej commented on #226
I see, will give matchbox a try.

[2020-11-06 05:28] #226 closed, assigned to nobody

[2020-11-06 05:37] awprice commented on #213
@pothos As stated above, I was able to reproduce this without a custom `/etc/containerd/config.toml`, as in the file did not exist - containerd will fall back to the default.

Additionally, I got `crictl` to work with the containerd version Flatcar ships, with the CRI plugin enabled.

Have you set the `CONTAINER_RUNTIME_ENDPOINT` env variable for `crictl`?
[code]

[2020-11-06 06:05] pothos commented on #213
The containerd service file is created by torcx under `/run/systemd/system/containerd.service` and references `/run/torcx/unpack/docker/usr/share/containerd/config.toml` which sets `/run/docker/libcontainerd/docker-containerd.sock` as socket address. That's what I used but the runtime doesn't match:

[code]

[2020-11-06 06:11] awprice commented on #213
@pothos I used the following containerd systemd unit:
[code]

[2020-11-06 07:37] pothos commented on #213
I still get this error even with a vanilla Docker. See the following Container Linux Config I used to set up Docker without using torcx:

(Needs to be transpiled to JSON with `ct`.)

[ignition-docker.yaml](https://github.com/flatcar-linux/Flatcar/files/5499781/ignition-docker.txt)

[2020-11-06 07:37] pothos commented on #213
Can you provide the contents of `/etc/containerd/config.toml`, please?

[2020-11-06 07:40] pothos commented on #213
Ah, now I got it running, I also added the binaries from https://github.com/containerd/containerd/releases/tag/v1.2.14 to `/opt/docker/`

[2020-11-06 07:44] awprice commented on #213
As stated above, we are not using Docker at all in our stack. I'm not sure why you keep trying to reproduce this with Docker - I haven't mentioned the use of it.

I'll mention it again - I can reproduce this without a file in `/etc/containerd/config.toml`. We are using the **default containerd config**.

You can view this default containerd config with `containerd config default`.

We aren't using

[2020-11-06 07:51] pothos commented on #213
I'm not trying to reproduce it with Docker but the `crictl` as you wrote, but maybe I use a different version (1.19.0) which results in the error `binary not installed "containerd-shim-runc-v1"`? Since this binary is not shipped with Flatcar, I found out that it is part of the upstream containerd release I mentioned.

[2020-11-06 07:57] pothos commented on #213
Same problem with `crictl version v1.17.0`:

[code]

[2020-11-06 08:12] pothos commented on #213
Ok, so the difference is that you use upstream containerd 1.3.7 and not the one included in Flatcar, where the containerd-shim-runc-v1 binary was missing. I copied the upstream binaries to `/run/torcx/bin` and now can run it successfully.

[2020-11-06 08:41] #162 closed, assigned to dongsupark

[2020-11-06 09:21] pothos commented on #213
When shutting down, I can see something like `systemd-shutdown: Waiting for containerd-shim, containerd-shim` because `KillMode=process` means that the container processes are not terminated when the systemd service is stopped. Now they are left and nothing will kill them on shutdown until systemd has waited enough to kill them – at this point there is no guarantee for the FIN to be send because t

[2020-11-06 09:28] awprice commented on #213
@pothos Yes - I noticed this too, but what concerns me is the behaviour change from Flatcar 2512 to 2605. On 2512 we received the FIN on shutdown - this suggests something has changed between releases.

As you noted `KillMode=process` is used to prevent the containers from being terminated when the containerd process is restarted. I would prefer to keep this behaviour as I see this as beneficial.

[2020-11-06 09:30] pothos commented on #213
If you don't expect containerd to be restarted you can also comment out the `KillMode=process` line and the containers will be terminated on shutdown. Now it depends on Kubernetes to be able to restart the pods when the containerd service restarts, which could happen if it crashes or gets restarted via something like Ansible.

[2020-11-06 09:42] pothos commented on #213
Yes, I'll try to get a logs for the shutdown process to see when the network is down, when SIGTERM is send, and when SIGKILL is send. Maybe the shim processes didn't react on SIGTERM?

[2020-11-06 10:02] pothos commented on #213
By the way, the containerd-shim-runc-v1 processes do nothing on SIGTERM in my case:

[code]

This means the child process is also not terminated until `sudo pkill -f -9 containerd-shim-runc-v1`.

I don't know if systemd stops at the parent process or continues with the child processes where SIGTERM should have an effect.

[2020-11-06 12:21] t-lo commented on #145
SDK build succeeded (gcc-9.3.0 and binutils-2.35) but toolchains build now fails with a circular dependency similar to https://bugs.gentoo.org/630880 .

[2020-11-06 13:30] anthr76 opened #227 "Raspberry Pi 4 onboard NIC Support"
**Current situation**
Raspberry Pi 4 doesn't have onboard NIC support.

**Impact**
After chaining off a matchbox configuration flatcar-linux can't reach it's matchbox endpoint after booting into flatcar-linux-installer

See [photo](https://photos.google.com/u/1/photo/AF1QipPT4eSPtwJYoVNZZ0E6-kKLHzMglMJ5536JkTYP)

**Ideal future situation**
Enable the Raspberry Pi 4 networking stack for better Arm6

[2020-11-06 13:47] pothos commented on #227
The `m` means it's build as module, so that is not the problem, I think, but there are many RPi related config flags we can check to be `m` or `y` and not unset.

[2020-11-06 13:57] anthr76 commented on #227
So if it's built it should be being loaded automatically I presume? For reference I'm on the latest alpha build 2671.0.0. For what it's worth it's definitely NIC related. After iPXE exits the onboard NIC no longer blinks for activity.

[2020-11-06 14:05] pothos commented on #227
Yes, the module will be loaded automatically (there is a way to force it via a dracut kernel command line option but I don't expect it to help).
Maybe this here is the list for relevant RPi4 flags? https://github.com/torvalds/linux/blob/master/arch/arm/configs/bcm2835_defconfig Not sure…

[2020-11-06 14:13] anthr76 commented on #227
The Raspberry Pi 4 has a Broadcom 2711 perhaps this would be a better basis https://github.com/raspberrypi/linux/blob/rpi-5.8.y/arch/arm64/configs/bcm2711_defconfig this is the Linux 5.8 branch following the Alpha channel.

I can also attempt to dracut the module but looking at this that's likely not the only culprit.

[2020-11-06 15:49] CptDaniel opened #228 "Migration from CoreOS to Flatcar not working"
**Description**

For some of our servers the migration from CoreOS to Flatcar is not working. Neither with the provided script nor by doing the steps manually. A reboot of the machine also does not fix this issue.

**Impact**

If this is not fixable we have to migrate the machine manually to a new flatcar server, which is quite tedious.

**Expected behavior**
The server should migrate from CoreOS

[2020-11-06 19:41] gprakosa opened #229 "What is username / password for Hyper-V stable production image?"
Hi,

Just boot using image from https://stable.release.flatcar-linux.net/amd64-usr/current/flatcar_production_hyperv_image.vhd.bz2 (2605.7.0) just don't know how to login. Tried username / password with **core** and still no luck.

Ah, before this I already tried using the ISO file, it was stuck on _downloading, verifying the-image-name.bin.bz2_ when fire-up `flatcar-install -d /dev/sda -i ignitio

[2020-11-06 21:39] anthr76 commented on #229
You would have to specify one or provide a SSH key with your ignition file.

[2020-11-09 03:52] pothos commented on #228
The output of `Omaha request response: <response protocol="3.0" server="nebraska"><daystart elapsed_seconds="0"></daystart><app appid="{e96281a6-d1af-4bde-9a0a-97b76e56dc57}" sta>` is truncated, you can pipe the `journalctl` output to `cat` to prevent the interactive display where you have to scroll with the arrow keys.

[2020-11-09 08:38] CptDaniel commented on #228
Oh, haven't seen that I cut off something. Thanks. Here's the full log output:
[code]

[2020-11-09 08:52] pothos commented on #213
Looking at the source code, systemd-shutdown is not signalling to parents first but to children as well, so the above issue with the containerd-shim-runc binary is not causing the problem, but, as you said, the order of when systemd signals the SIGTERM, as you suspected. The shim process only dying at SIGKILL is just causing a delay before the system can poweroff.

Overall the system behaves as su

[2020-11-09 08:58] pothos commented on #213
This change here seems relevant: https://github.com/systemd/systemd/commit/800603524a7ab076d40450286ff7802a04289b7f

The previous behavior was
[code]

[2020-11-09 10:00] pothos commented on #213
Thanks for reporting this!
I will file a PR to reenable this behavior for the rootfs networkd, but not the initramfs networkd. The transition from the initramfs should to deconfigure to return the address lease and also to prevent that the interface looks like manually configured when the rootfs networkd sees it.

[2020-11-09 11:58] pothos commented on #228
Was this instance tried to be migrated already in September and October? From the server log it looks like the machine wasn't rebooted then and somehow ended up using the CoreOS partition again, but in October booted into Flatcar. I somehow don't see an entry for a recent event – with `journalctl -u update-engine` there is normally a date and time prefix for each line, can you try again to get the

[2020-11-09 12:25] pothos commented on #228
By the way, when running the script and rebooting you have to make sure that the `update-engine` service is enabled and runs for at least a minute after the system booted into the new partition.

[2020-11-09 18:49] neilmayhew commented on #21
The workaround documented by VMWare involves creating a new VM. This isn't a viable option for me, so I wrote a script that can be run on an existing VM to upgrade it. The script downloads the current stable VMWare Flatcar image and extracts the OEM partition from it. It then copies the files across to the running OEM partition and restarts the daemons. If you specify a tar filename on the command

[2020-11-09 18:50] neilmayhew commented on #199
A modified version of the workaround was successful for me. I've posted the script that I used in #21.

[2020-11-09 18:50] #199 closed, assigned to nobody

[2020-11-09 18:51] neilmayhew commented on #192
I've posted an improved workaround in #21.

[2020-11-10 02:07] pothos commented on #21
Thanks for sharing! You also have to add a step to copy the new `vmtoolsd.service` file to `/etc/systemd/system/vmtoolsd.service` and issue `sudo systemctl daemon-reload` before restarting.

[2020-11-10 13:42] CptDaniel commented on #228
I tried updating every now and then. The try I got the logs from was yesterday 9:35 CET, just before I posted them. I removed the timestamps since I thought they would be a bit noisy, sorry for this. Ya, I rebooted the server multiple times.
Here fresh logs with timestamp, I got one run I triggered manually and one before that was automatic:
[code]
The error code of the manual run was 1, so it got

[2020-11-11 01:43] silencej opened #230 "dependency failed for filesystem check on /dev/mapper/user after installing to disk"
## Description

Use matchbox to install flatcar 2605.7.0, then boot from disk, the error stops booting: dependency failed for filesystem check on /dev/mapper/user. WARN: /dev/disk/by-label/ROOT doesnot exist

## Details

The Matchbox configs are as follows:

### groups

groups/install.json

[code]

groups/flatcar.json

[code]

### profiles

profiles/flatcar-install.json
[code]

profiles/flatcar.js

[2020-11-11 02:45] pothos commented on #230
Can you please provide both configs for installation and the final system, either as the rendered Ignition config or the Container Linux Config (that's the YAML format)?

[2020-11-11 02:52] silencej commented on #230
I have just added the ignition files.

To be more informative, the vm now shows:

![图片](https://user-images.githubusercontent.com/1061428/98759432-09f21680-240c-11eb-8d46-ca4d2439d614.png)

[2020-11-11 03:40] pothos commented on #230
Thanks. It looks like the /usr partition verification failed but without a full log it's hard to tell. Can you hit enter and review the journalctl output?
Does this happen on every install or did you only do one install until now? `flatcar-install` should verify the image while writing it and the reboot wouldn't happen if it failed, right (`bash -e`)?

[2020-11-11 03:51] pothos commented on #228
Thanks! Now I see that the problem is being stuck in the _Downloading_ instance state at the server side. Normally there is a request which brings it out of this state again but somehow this was missing for you. I guess instead of trying to fix this in update-engine it would be better if the server would detect that the instance doesn't really download since it's already doing a new update request

[2020-11-11 06:20] silencej commented on #230
Thanks for the guidance. The sos report is attached. Looks like the ignition file is not accessed during the installation.

[rdsosreport.txt](https://github.com/flatcar-linux/Flatcar/files/5522169/rdsosreport.txt)

[2020-11-11 07:31] silencej commented on #230
This time I make sure the ignition file is avaible to the VM, but the problem persists.

[rdsosreport.txt](https://github.com/flatcar-linux/Flatcar/files/5522539/rdsosreport.txt)

[2020-11-11 09:48] pothos commented on #230
Looks like the content of the sda3 partition is corrupted? The error message ` Device /dev/disk/by-partuuid/7130c94a-213a-4e5a-8e26-6cce9662f132 is not a valid VERITY device.` comes from `veritysetup`.

[2020-11-11 11:25] CptDaniel commented on #228
Oh, ok. So this means there's not much I can do to fix this and I have to wait, at least for now, until this is fixed on the update servers, right?

[2020-11-11 11:29] silencej commented on #230
Thank you for help! I can try to reinstall it. Just deleting
/etc/machine-id and reboot, right?

On Wed, Nov 11, 2020, 17:49 Kai Lüke <notifications@github.com> wrote:

[2020-11-11 14:13] pothos commented on #230
That won't reinstall, you have to boot from PXE again and run `flatcar-install`.

[2020-11-11 17:25] doets001 commented on #60
I also would be very happy if a standard solution comes up for this vmware-tools issue. We have 300+ flatcare VMs running and normally we upgrade right after a new release. We stopped with this at the last kernel-4 release. I know there are work arounds, but I prefer an out of the box solution :-).
I see the issues in the queued lane, is there any sight on when it will move to 'in progress" ?

[2020-11-11 21:29] vbatts commented on #100
this is done

[2020-11-11 21:29] #100 closed, assigned to t-lo

[2020-11-12 02:54] silencej commented on #230
I create a new VM, install from PXE, but the same issue is still there.

![图片](https://user-images.githubusercontent.com/1061428/98889404-d29b6c80-24d4-11eb-9112-1c6c208073fc.png)

One thing I need to mention is that, in the beginning the system enters the console of PXE-boot environment, and I `reboot` it, then it becomes like this. I assume that the PXE install should be automatically, e.g. the

[2020-11-12 03:47] silencej commented on #230
OK, this time I tried again and waited for systemd to restart itself, and now the installation succeeds.

[2020-11-12 04:28] pothos commented on #230
Yes, since there is a reboot command you have to wait for the installation to finish this way. Otherwise the disk image is not completely written.

[2020-11-12 04:28] #230 closed, assigned to nobody

[2020-11-12 07:26] awprice commented on #213
Thanks for looking into this @pothos! I've tested out
[code]
in our clusters and it solves the shutdown issue for us. I really appreciate you taking the time to discover/test this!

[2020-11-12 12:17] #213 closed, assigned to nobody

[2020-11-12 14:23] t-lo commented on #145
Backporting gcc and binutils recipes to EAPI 6 resolved the circular dep.

Strace needs to be updated to 5.8 or newer since the build breaks against the new kernel headers (reference e.g. here https://patchwork.openembedded.org/patch/175096/).

[2020-11-12 17:13] #232 closed, assigned to nobody

[2020-11-12 17:13] #233 closed, assigned to nobody

[2020-11-12 17:14] #234 closed, assigned to nobody

[2020-11-12 17:32] akunszt opened #235 "extend-filesystems.service fails sometimes"
Hello!

We're hunting an elusive issue for a long time ago. We noticed that sometimes our Flatcar Linux instances fails to boot up properly. The basic system is up and running but our SystemD services configured through Ignition fails to start at all. They are all masked. It happens very rarely so it's hard to debug but we noticed that when this happens the root filesystem isn't resized properly.

[2020-11-12 17:48] #237 closed, assigned to pothos

[2020-11-12 17:48] #238 closed, assigned to nobody

[2020-11-12 17:48] #239 closed, assigned to nobody

[2020-11-12 17:49] #240 closed, assigned to nobody

[2020-11-12 17:49] #241 closed, assigned to nobody

[2020-11-12 17:49] #242 closed, assigned to nobody

[2020-11-12 17:51] vbatts commented on #243
Thanks for opening.

[2020-11-12 17:52] #244 closed, assigned to nobody

[2020-11-12 17:59] vbatts commented on #246
Specifically opened for https://github.com/kinvolk/container-linux-config-transpiler, but really this issue can apply to a number of our repos.

[2020-11-12 18:03] #247 closed, assigned to nobody

[2020-11-12 18:07] invidian commented on #246
IMO we should have an issue for this kind of things independently for all affected repos. We can still link here to track global progress on that.

[2020-11-12 18:12] #250 closed, assigned to nobody

[2020-11-12 18:26] KillahB33 opened #258 "Mounting Issue"
**Description**

So I am mounting drives from nfs unraid share. All of them are fine except for one mount that keeps unmounting.
I can remount it with a umount and then mount but it usually breaks a few hours later, I am restarting now but I am not sure how I go about diagnosing this and fixing it.
One not is that I am a transition from CoreOS, so I ran that mount fix that was posted a while back

[2020-11-12 19:21] #252 closed, assigned to nobody

[2020-11-12 20:10] #253 closed, assigned to nobody

[2020-11-12 20:10] #254 closed, assigned to nobody

[2020-11-12 20:10] #255 closed, assigned to nobody

[2020-11-12 20:10] #256 closed, assigned to nobody

[2020-11-12 21:04] vbatts commented on #259
https://docs.flatcar-linux.org/os/update-strategies/#double-update-workaround touches on this now. Should there be more added?

[2020-11-12 21:06] #262 closed, assigned to nobody

[2020-11-12 21:06] #263 closed, assigned to nobody

[2020-11-12 21:06] #264 closed, assigned to nobody

[2020-11-12 21:07] #265 closed, assigned to nobody

[2020-11-12 21:07] #266 closed, assigned to pothos

[2020-11-12 21:08] #267 closed, assigned to nobody

[2020-11-12 21:38] vbatts commented on #229
Thanks for the report!

There is no password for root or core.
Like @anthr76 said, most often an ssh-key is provided to ignition or cloudinit, via userdata.

Refer to https://github.com/kinvolk/ignition/blob/flatcar-master/doc/configuration-v2_3.md for information on setting the password or ssh-keys via ignition
It is also possible to set a password with cloudinit https://github.com/kinvolk/coreos

[2020-11-12 21:38] #229 closed, assigned to nobody

[2020-11-13 01:39] pothos commented on #235
Interaction with block devices and partitions are definitely prone to races. I think if it's hard to reproduce the best is to go through the code that interacts with the devices and think about any obvious race possibilities.

[2020-11-13 01:52] pothos commented on #251
Was done in https://github.com/kinvolk/systemd-legacy/pull/12 and released in https://www.flatcar-linux.org/releases/#release-2605.4.0

[2020-11-13 01:52] #251 closed, assigned to t-lo

[2020-11-13 02:10] pothos commented on #229
A `flatcar.autologin` kernel parameter exists to not require a password for the VGA or serial console.

[2020-11-13 04:07] pothos opened #268 "Remove unused repositories from manifest"
**Current situation**
Some ebuild files use upstream repositories but unused downstream repositories are still referenced in the manifest XML.

**Impact**
This download is unnecessary and the existence of a repository can be confusing.

**Ideal future situation**
Only repositories that use CROS_WORKON_COMMITs are part of the manifest, besides the three obligatory portage, overlay, and scripts repo

[2020-11-13 10:49] dongsupark commented on #216
PR https://github.com/kinvolk/coreos-overlay/pull/681

[2020-11-13 12:19] #219 closed, assigned to nobody

[2020-11-13 13:25] t-lo commented on #145
SDK, image and toolchains build successfully with gcc-9.3.0 and binutils-2.35. Now that we have a working gcc-9.3 SDK we can ingest glibc-2.32.

[2020-11-13 15:03] vbatts commented on #6
this works now on flatcar-stable, beta and alpha

[2020-11-13 15:03] #6 closed, assigned to nobody

[2020-11-13 15:09] vbatts commented on #269
@jbguerraz good point! It's worth doing a reconcile.

[2020-11-13 15:29] #216 closed, assigned to dongsupark

[2020-11-13 15:38] vbatts commented on #269
I have made a proper fork of the vmware repo, and for history preservation sake, push our old branch to https://github.com/kinvolk/ansible-coreos-bootstrap/tree/flatcar-historical. After review, there was nothing there worth pushing back upstream to the VMWare repo.

[2020-11-13 15:41] vbatts commented on #271
there is also https://galaxy.ansible.com/vmware/coreos-bootstrap, which we are now reconciling with

[2020-11-13 15:43] vbatts commented on #269
and done

[2020-11-13 15:43] #269 closed, assigned to nobody

[2020-11-13 22:01] vbatts commented on #224
opened https://github.com/kinvolk/flatcar-docs/pull/125

[2020-11-14 09:32] gprakosa commented on #229
I used to know how to use guest customization on VMWare, but not sure how to do that on Hyper-V for supplying my user-data using ignition file or cloudinit.

But, I confirmed that @pothos solution is works on my Hyper-V instead it's [stated](https://www.flatcar-linux.org/releases/#release-2512.2.0) for Azure. The rest is to put my pubkey into `~/.ssh/authorized_keys`.

Thanks all!

[2020-11-16 04:46] pothos commented on #229
The Hyper-V and Azure OEM images are different. If you are on Azure, you can use our official images there.

[2020-11-16 05:05] pothos commented on #55
Closing this as stale, please reopen if needed.
As written in the docs, this is what should work (here both private and public IP addresses are used, only one would also work):
[code]

[2020-11-16 06:27] pothos commented on #213
This will be part of the next bugfix release for the Stable 2605 branch.

[2020-11-16 13:05] #148 closed, assigned to nobody

[2020-11-16 13:06] pothos commented on #143
Looks good, thanks for sharing. I'll close this now.

[2020-11-16 13:06] #143 closed, assigned to nobody

[2020-11-16 13:08] #134 closed, assigned to nobody

[2020-11-16 13:09] pothos commented on #134
The current way docker is used via torcx implies additional RAM usage.

[2020-11-16 13:10] #122 closed, assigned to nobody

[2020-11-16 15:15] akunszt commented on #235
I will be on vacation for a week but after that if I create a PR to extend the logging in that script - and maybe add a few extra checks - then is it possible to include that in an upcoming release? Assuming that the code quality is okay. We don't want to deviate from the vanilla/official AMIs if we can but we would like to solve this race condition as it causes hiccups in the scale-up procedure.

[2020-11-17 03:29] pothos commented on #235
On a first look I think that the `cgpt resize` call directly followed by the block size check is the problem because I had to deal with these issues in UDisks, too. There are three scenarios, the first is that the block device disappeared because the kernel re-reads the partition table, thus getting the size fails and the device is skipped. The second case is that the old size is returned, the thi

[2020-11-17 03:31] pothos commented on #235
Maybe the return code of `cgpt resize` can help, I'll have a look.

[2020-11-17 03:36] pothos commented on #235
`cgpt` notifies the kernel about the new size, so the second scenario of getting the old size can be left out and it's only needed to retry querying the size.

[2020-11-17 05:47] pothos commented on #235
I wonder how this is related to the masked services that you configure – why won't it work with the original filesystem size?

[2020-11-17 14:24] dongsupark commented on #225
I wanted to enable the option in the upcoming Alpha release, but realized I could not, because of the exact same issue we had in the Edge channel.
To build BTF, we need `dev-util/dwarves` that includes `pahole`. However, current Alpha does not have it.
We need to first import `dev-util/dwarves` and its dependencies, just like we did in the PRs:
https://github.com/kinvolk/coreos-overlay/pull/164 an

[2020-11-17 14:56] dongsupark commented on #225
Filed PRs for dwarves:
* https://github.com/kinvolk/coreos-overlay/pull/690
* https://github.com/kinvolk/portage-stable/pull/126

[2020-11-17 15:29] dongsupark commented on #170
Filed PR https://github.com/kinvolk/coreos-overlay/pull/691

[2020-11-17 15:29] dongsupark commented on #185
Filed PR https://github.com/kinvolk/coreos-overlay/pull/691

[2020-11-17 15:29] dongsupark commented on #215
Filed PR https://github.com/kinvolk/coreos-overlay/pull/691

[2020-11-17 19:48] gyalowitzdtlr opened #272 "VMware VM Fails to load with Terraform"
Since the update our terraform kubernetes spinups have all been failing to load.  They get stuck with that error start job /dev/dis error.  What is strange is that this issue just cropped up since they were working without issue before.  Could this all be caused by the issue with the guest OS that have cropped up?

[2020-11-17 22:33] invidian opened #273 "Provide an updateengine Go library"
**Current situation**

Currently both locksmith and FLUO has copy-pasted Go code for interacting with update engine via D-Bus. It would be nice to actually have a library like `go-updateengine`, which would provide required implementation so those 2 projects can pull them.

**Impact**

Currently it doubles the effort in maintaining the code and it might be difficult to sync when changes to update_

[2020-11-18 02:51] pothos commented on #272
I can't really follow what your setup looks like, but are you deploying new instances and they are stuck in the first boot? This can be an Ignition config issue if it's during the initramfs. Do you rely on fetching remote files in Ignition? This only works for DHCP, not static IP addresses.
Are you using the latest Stable images?

By the way, currently the VMware tools on the OEM partition are not

[2020-11-18 03:01] pothos commented on #235
The next Alpha release will have the fix for the race which I think could be a problem. It will also do additional logging so that we can know what is going on:

[code]

[2020-11-18 10:23] #170 closed, assigned to dongsupark

[2020-11-18 10:23] #185 closed, assigned to dongsupark

[2020-11-18 10:23] #215 closed, assigned to dongsupark

[2020-11-18 10:30] CptDaniel commented on #228
Hi @pothos, could you find any fix for this issue or is this something I have to change on our server? Thanks again.

[2020-11-18 11:26] pothos commented on #228
We will have to fix this in the update server because it rejects the state transitions unless the exact version is reported as previous version. I was able to get into this state with new instances but also out of this state through a custom request. However, for your instance this wasn't possible. I don't know what I missed. I recommend setting a different value in `/etc/machine-id` for the mean

[2020-11-18 11:40] CptDaniel commented on #228
Oh wow, that helped! I guess, since we cloned all our VMs they all had the same machine-id. This would also explain why all of our VMs had this issue with migration to Flatcar. If it helps in any way, I can leave a machine in this faulty CoreOS state, otherwise I'll just change the machine-id and migrate them all to Flatcar. Thanks a lot!

[2020-11-18 12:00] pothos commented on #228
If you clone a VM, you have to do it before the first boot. Otherwise Ignition won't run and you also have the same machine ID and GPT ID.

[2020-11-18 12:16] pothos commented on #228
No need to keep the machine, thanks for finding the duplicate machine ID issue. Your initial report helped to spot a case we need to fix anyway. I now created https://github.com/kinvolk/nebraska/issues/303 for that and will close this issue here.

[2020-11-18 12:16] #228 closed, assigned to nobody

[2020-11-18 12:36] CptDaniel commented on #228
Ok. Thank you for helping with our VM issue.

[2020-11-18 13:54] t-lo commented on #145
PRs for updating the compiler to gcc-9.3.0 (https://github.com/kinvolk/portage-stable/pull/127, https://github.com/kinvolk/coreos-overlay/pull/693) tested successfully, merged to main.

[2020-11-19 02:58] Winnie81 opened #274 "Rebase open-vm-tools in Flatcar to version 11.2.0"
Open-vm-tools 11.2.0 GA was announced on 15 Oct 2020. Please rebase OVT to our newest release in future.

About vmtools release information, please refer to https://docs.vmware.com/en/VMware-Tools/.

Thanks.

[2020-11-19 07:46] dongsupark commented on #274
Isn't it the same as https://github.com/kinvolk/Flatcar/issues/216 ?
We already merged PR https://github.com/kinvolk/coreos-overlay/pull/681 , which will be included in the next Alpha release.

[2020-11-19 07:48] Winnie81 commented on #274
Ok, they are same. I'll close it.

[2020-11-19 07:48] #274 closed, assigned to nobody

[2020-11-19 11:59] pothos opened #275 "docs: Rework Quickstart Guide content and most config examples"
**Current situation**
The Quickstart Guide is not very useful but is supposed to help users get familiar with Flatcar concepts and interactions. I would expect it to contain more explanations as done in https://kinvolk.io/docs/flatcar-container-linux/2605.7.0/reference/migrating-to-clcs/provisioning/ and a use case that is more realistic than running an etcd cluster.

**Impact**

**Ideal future si

[2020-11-19 12:43] surajssd commented on #259
I think so we should expand on it more. What all the different states are and what they mean, even state diagram might help.

[2020-11-19 13:05] vbatts commented on #259
sounds good

On Thu, Nov 19, 2020 at 7:43 AM Suraj Deshmukh <notifications@github.com>
wrote:

--

Vincent Batts

CTO

---
Kinvolk GmbH | Adalbertstr.6a, 10999 Berlin | tel: +491755589364
Geschäftsführer/Directors: Alban Crequy, Chris Kühl, Iago López Galeiras
Registergericht/Court of registration: Amtsgericht Charlottenburg
Registernummer/Registration number: HRB 171414 B
Ust-ID-Nummer/VAT ID num

[2020-11-19 13:17] pothos opened #276 "docs: Image not rendered"
https://kinvolk.io/docs/flatcar-container-linux/2605.7.0/reference/migrating-to-clcs/provisioning/
does not show
https://docs.flatcar-linux.org/os/img/ct-workflow.svg
as done in in https://docs.flatcar-linux.org/os/provisioning/ but only the _alt_ text.

[2020-11-19 13:19] pothos opened #277 "docs: Link to update-to-flatcar.sh not working on new docs portal"
**Description**

The link to the in-place CoreOS to Flatcar migration script to update nodes is broken under
https://kinvolk.io/docs/flatcar-container-linux/2605.7.0/migrating-from-coreos/update-from-container-linux/
because in https://docs.flatcar-linux.org/os/update-from-container-linux/ it used to refer to the top level but now that's not possible. The file also isn't in the right directory any

[2020-11-19 14:20] jaysiyani opened #278 "Upgrade to systemd 243+ breaks pod networking with AWS CNI due to veth MAC Address getting overwritten"
**Description**

Our flatcar image was auto-updated from 2512.4.0 to 2605.5.0, this somehow broke the ability for the Node to talk to pods running on it.

**Impact**

Pods on worker nodes are not able to communicate with Master Nodes API server pods.

**Environment and steps to reproduce**

1. **Set-up**:
- Kubernetes Client Version: version.Info Major:"1", Minor:"19", GitVersion:"v1.19.1"
- Kuber

[2020-11-19 14:42] invidian commented on #278
Hm, duplicate of #181?

[2020-11-19 15:19] jaysiyani commented on #278
Yeh looks similar, but the quick fix doesn't seem to work `echo 'net.ipv4.conf.lxc*.rp_filter = 0' | sudo tee -a /etc/sysctl.d/90-override.conf && sudo systemctl restart systemd-sysctl`

[2020-11-19 15:21] invidian commented on #278
@jaysiyani perhaps this must be applied to all interfaces, also inside containers? Or try rebooting the machine.

[2020-11-19 22:09] shift commented on #189
Just throwing this out there, what about running them via systemd-nspawn instead of docker?

[2020-11-19 22:14] shift commented on #97
Does this mandate a requirement for uBoot with UEFI support for booting? As the original CoreOS required this for rkt signed images to run correctly (I may not have that correct but I do remember trying to remove it to get it running on ARM64 machines for a dev cluster).

[2020-11-19 22:27] ghost opened #279 "Incorrect /opt mount permission on 2605.8.0 on AWS"
**Description**

We updated our AWS EC2 Kubernetes worker nodes to the latest AMI version, ami-006c88b6ca69f7811, which is version 2605.8.0.  Our weave CNI plugin was not loading.  When looking at the permissions of /opt we found it to be 711. Our weave plugin is expecting to reside in /opt/cni/bin

```drwx--x--x.   3 root root  4096 Nov 19 21:18 opt```

We reverted back to 2512.2.1 and opt is 755

[2020-11-19 22:30] ghost commented on #279
Could this problem be why https://github.com/kinvolk/Flatcar/issues/278 exists?

[2020-11-20 05:13] pothos commented on #279
Interesting, this folder is not created by Flatcar because it doesn't exist by default nor has a systemd-tmpfile directive to be created. In https://github.com/kinvolk/Flatcar/issues/176 you can see some ways how to find the process that does the modification. Can you try to find it out?

[2020-11-20 05:25] pothos commented on #97
The requirement is to run somehow run GRUB. This works quite well with the UEFI support that many machines have. The main blockers we encounter are missing kernel config settings for various boards and some system service failures.

[2020-11-20 08:48] #277 closed, assigned to nobody

[2020-11-20 10:00] #136 closed, assigned to sayanchowdhury

[2020-11-20 13:11] dongsupark commented on #225
Alpha 2697.0.0 was released, and its SDK includes dwarves (pahole).
So it is possible to build Kernel with `CONFIG_DEBUG_INFO_BTF` enabled.
I pushed a branch to https://github.com/kinvolk/coreos-overlay/tree/dongsu/kernel-config-btf . With the branch, everything works in case of amd64.

However, it uncovers a hidden issue in arm64.
Kernel build fails like:

[code]

It seems to happen only with Ker

[2020-11-20 13:53] pothos commented on #225
Oh, I thought `CONFIG_DEBUG_INFO_BTF` was set already, it's in the release notes

[2020-11-20 15:52] zytrik commented on #279
I created a new EC2 instance with the referenced AMI with no userdata at all. @pothos to your point it looks like `/opt` is not part of the base image, it doesn't exist immediately on start up. However, without starting or placing any special software, after a minute or so the following directory tree appeared:

[code]

I suspect it's being triggered by the initial dockerd or containerd startup, b

[2020-11-20 21:17] zytrik commented on #279
Shutting down dockerd and containerd then starting them up individually, I was able to isolate the containerd startup as the action causing /opt to be created. This is approximately discussed [here](https://github.com/containerd/containerd/blob/master/docs/managed-opt.md).

Workarounds aside, what's the best way to get back to having sane permissions on /opt by default? Does containerd need to be

[2020-11-21 01:31] gyalowitzdtlr commented on #272
Thank you for the response.  It is actually starting to look like it could be a few things.  I moved the flatcar image we are using to alpha and now it seems like the ignition userdata is not being used at all.  The ignition file is base64 encoded and supplied through terraform ignition config.  SO I am basically trying to figure out if its:
1.  Vmware tools
2.  L1TF and MDS mitigations we have in

[2020-11-21 03:12] gyalowitzdtlr commented on #272
![image](https://user-images.githubusercontent.com/59739698/99865945-4b589380-2b7b-11eb-8baf-416e2762bd48.png)

![image](https://user-images.githubusercontent.com/59739698/99866023-f49f8980-2b7b-11eb-95a5-f03c20e288af.png)

![image](https://user-images.githubusercontent.com/59739698/99866347-9e801580-2b7e-11eb-905e-01c5220f0b75.png)

![image](https://user-images.githubusercontent.com/59739698/9986

[2020-11-23 03:49] pothos commented on #279
Thanks for tracking it down. I think containerd shouldn't create `/opt` with restrictive permissions but since it doesn't change existing permissions we can work around this by creating a systemd tmpfile directive.
Until it is shipped you can create your own and reboot:
[code]
It will also adjust existing wrong permissions.

[2020-11-23 04:59] pothos commented on #272
Thanks for the infos. Do you also have `ignition.config.data.encoding` set to `base64`? Do you need to pass the `guestinfo.` prefix or not in Terraform? Can you try out please if `/usr/share/oem/bin/vmware-rpctool 'info-get guestinfo.ignition.config.data'` works?

[2020-11-23 08:37] #224 closed, assigned to nobody

[2020-11-23 09:34] t-lo commented on #145
Alpha-2697.0.0 SDK ships gcc-9.3.0 and binutils-2.35. Will now ingest glibc-2.32.

[2020-11-23 09:58] iaguis opened #280 "iscsiadm links to many libraries on 2697.0.0"
**Description**

On 2697.0.0, the iscsiadm binary links to many more libraries than in previous version. This causes problems because in Lokomotive we mount it in the kubelet container, which misses some of the libraries.

**Impact**

Kubernetes workloads depending on the iscsiadm binary fail. This would probably break any distro that runs the kubelet in a container.

**Environment and steps to re

[2020-11-23 10:11] pothos commented on #280
So you would run the binary with the libraries you have in a container? That's not what is guaranteed to work as dependencies will change on updates. It was not a static binary before. Can you copy/mount the libraries alongside (`ldd $(which iscsiadm) | grep -o /lib'[^ ]*' | sort -u`)?

[2020-11-23 10:31] t-lo commented on #145
WIP branches are https://github.com/kinvolk/coreos-overlay/tree/t-lo/update-to-glibc-2.32 and https://github.com/kinvolk/portage-stable/tree/t-lo/update-glibc-to-2.32 .

[2020-11-23 11:54] akunszt commented on #235
@pothos Thanks for the changes and the fix. I see it's in `2697.0.0` already. We'll deploy it to our test cluster, alas we can deploy only the stable to our production services. So it'll take some time to use - and test - the fix in widespread.

Honestly I didn't instigate why our services were masked when the resize failed. Even if they starts up they can't properly run. The initial size of the f

[2020-11-23 12:06] jaysiyani commented on #278
Interestingly after reboot this works, but as the pod get's rescheduled (on the same node) with a different IP it stops working again.

[2020-11-23 12:09] invidian commented on #278
@jaysiyani blind guess, but maybe you also hit #279? Maybe you can try a workaround from https://github.com/kinvolk/Flatcar/issues/279#issuecomment-731912626 ?

[2020-11-23 17:55] gyalowitzdtlr commented on #272
The info-get result:
![image](https://user-images.githubusercontent.com/59739698/99997120-b4622600-2d8a-11eb-9107-681b73433139.png)

Encoding being passed in:
![image](https://user-images.githubusercontent.com/59739698/99997182-cc39aa00-2d8a-11eb-8dd3-414a2ffab75f.png)

How ignition is being passed in:
![image](https://user-images.githubusercontent.com/59739698/99997259-ea070f00-2d8a-11eb-91b5-5e9

[2020-11-23 17:58] gyalowitzdtlr commented on #272
Here is a link to the KB article that I followed.
https://kb.vmware.com/s/article/55806

[2020-11-23 18:18] gyalowitzdtlr commented on #272
Also, looking at my ignition config it looks like it is being generated using version 2.1.0 and I wonder if the new flatcar images or vmware upgrades is now no longer compatible with that version.  Would you know if it is?

[2020-11-23 20:29] gyalowitzdtlr commented on #272
Also, using the following command:
![image](https://user-images.githubusercontent.com/59739698/100012049-a6b79b00-2da0-11eb-9fc8-ad38b61ba9ad.png)

You can see the base64 encoded guestinfo variable being read:
![image](https://user-images.githubusercontent.com/59739698/100012079-b46d2080-2da0-11eb-8590-47a47301cef5.png)

[2020-11-24 00:06] neilmayhew commented on #21
Good point. That did complicate things a little, but I've updated and tested the script, and put it in a [gist](https://gist.github.com/neilmayhew/358abe8f1a4d023b0e4fe49c8fc58acb).

I realise that most people are running ephemeral instances and will just recreate their VMs, but hopefully this still helps some.

[2020-11-24 00:12] neilmayhew commented on #21
The recent new alpha release (2697.0.0) introduces another new version of `open-vm-tools` so the script may be needed again.

[2020-11-24 04:11] pothos commented on #235
Thanks, yes, testing Alpha would be great. Maybe we can uncover another race. The whole resizing is done after the initramfs – this makes it easy to ensure that the rootfs is there but on the other hand it could mean that downloading large files is possibly not working when the resize takes too long, and a workaround with `After=extend-filesystems.service` would be needed ;)

I'm ok closing now, b

[2020-11-24 04:11] #235 closed, assigned to nobody

[2020-11-24 05:26] #279 closed, assigned to nobody

[2020-11-24 05:37] pothos commented on #279
The fix will be part of the next releases in all channels, e.g., > 2605.8.0 for Stable.

[2020-11-24 05:44] pothos commented on #278
I don't know the details fo Cilium networking but that's what is needed here I guess. Is there any difference in the routing table `ip route get POD-IP-ADRESS` before and after it stops working? It should give the interface on the host networking namespace where the pod is reachable, and I would expect this to be changed to the right interface (but even this may not be the case with Cilium in gene

[2020-11-24 19:37] gyalowitzdtlr commented on #272
Good news is that I managed to get ignition to load again.  The terraform provider for ignition is pulling from the fork that only does 3.x spec which is a problem for Flatcar, at least from what I read.  I also had to go in and seriously tweak the versions of providers that terraform is pulling to make sure it's the correct version and uniform across all modules.  Now the only issue is the vmware

[2020-11-25 05:09] pothos commented on #272
For vmtoolsd make sure it is updated: https://github.com/kinvolk/Flatcar/issues/21#issuecomment-732497148

[2020-11-26 10:57] pothos opened #281 "docs: Include Ignition specification"
**Current situation**
The Ignition docs like the specification are available under the original https://coreos.com/ignition/docs/latest/ location but not under https://kinvolk.io/docs/flatcar-container-linux/latest/

**Impact**
The user needs to know that the specification can be found under https://github.com/kinvolk/ignition/tree/flatcar-master/doc as markdown files

**Ideal future situation**
A

[2020-11-26 12:29] t-lo commented on #145
PRs merged to main; glibc-2.32 will be included in the upcoming Alpha release.

[2020-11-26 13:34] jaysiyani commented on #278
Our file permissions on /opt seem fine.

[2020-11-26 13:36] jaysiyani commented on #278
Very strange. As now i can't seem to get it to work at all even after reboot

[2020-11-26 14:06] jaysiyani commented on #278
also, looks like `/usr/lib/sysctl.d/50-default.conf` gets overwritten by `/usr/lib/sysctl.d/baselayout.conf `

[code]

[2020-11-26 16:19] jaysiyani commented on #278
how can i apply this inside containers?

[2020-11-26 16:21] invidian commented on #278
If you set it on the host before containers starts, they will automatically pick it up. This is why I suggested a reboot.

[2020-11-26 18:05] shift commented on #227
I've submitted a patch here https://github.com/kinvolk/coreos-overlay/pull/712 which should resolve the NIC issue. I've currently got 10 8GB Pi4s sat waiting to be turned into a cluster, so if any more issues crop up, I'll be submitting changes for them also.

[2020-11-26 19:13] shift commented on #97
I've managed to get Raspberry Pi 4's to iPXE boot flatcar via UEFI, no GRUB involded. And submitted a kernel config change to the overlay to enable the BCM7XXX PHY to get the NIC working. My guess would be the ARM64 initramfs will need as much set as modules as possible to support the widest range of boards, unless you want to focus specifically on only a few. Then there needs to be an easier opti

[2020-11-27 02:56] pothos commented on #37
Another idea may be to approach them to use lbzip2/lbunzip2 for decompression.

[2020-11-27 13:16] t-lo commented on #145
Included in [Alpha-2705.0.0](https://www.flatcar-linux.org/releases/#release-2705.0.0).

[2020-11-27 13:16] #145 closed, assigned to t-lo, dongsupark

[2020-11-29 16:39] dvulpe commented on #278
We're seeing a similar issue with AWS CNI and `Flatcar 2605.8.0`. Network connectivity appears to work with `2512.5.0` but fails with newer versions of Flatcar.

I have created a repository with Terraform driven by Terratest in [here](https://github.com/dvulpe/flatcar-eks-278) which can be used to further troubleshoot and/or verify any fixes.

[2020-11-30 14:22] vbatts commented on #97
@shift nice! I was recently looking at building https://github.com/tianocore/edk2-platforms/tree/master/Platform/RaspberryPi/ for testing the UEFI bootloader approach. Do you have a write-up on how you're doing this?

[2020-11-30 14:53] dongsupark commented on #225
dwarves [1.19](https://git.kernel.org/pub/scm/devel/pahole/pahole.git/tag/?h=v1.19) was released with the bug fix included.
Created a PR for updating dwarves to 1.19. https://github.com/kinvolk/portage-stable/pull/131

[2020-11-30 20:56] vbatts opened #282 "[update_engine] unittest fails to build on googletest"
**Description**

Found when adding CI for update_engine
https://github.com/kinvolk/update_engine/blob/flatcar-master/.github/workflows/c-cpp.yml#L29

[code]

**Impact**

Not yet automating the unit tests for update_engine

**Environment and steps to reproduce**

1. **Set-up**: this is on ubuntu-18.04 and then review that workflow for all the other steps
1. **Action(s)**: `make  check`

**Expected

[2020-11-30 21:23] vbatts commented on #282
got closer, but the now a different issue
https://github.com/kinvolk/update_engine/runs/1476408792?check_suite_focus=true#step:9:66

[2020-12-01 02:43] brandonmcclure commented on #63
I second this. I tried to setup a proof of concept flatcar cluster today at work. I work in healthcare and there are some organizational features that make it difficult to navigate the political layer to setup any sort of automation or modern development practices that access the internet.

My experience today was hampered by the online requirement of the installer. Instead of showing a working en

[2020-12-01 08:19] t-lo commented on #280
As raised by @pothos I'm not sure how this is a bug. We updated the version of `open-iscsi` to latest upstream to address security issues with the outdated version, and to ship bug fixes. The tools are not shipped as static binaries, so run-time compatibility to 3rd party containers cannot be guaranteed.

In fact, since C only supports compile-time type safety but no run-time type safety, this mig

[2020-12-01 09:18] pothos commented on #63
I think it's possible to embed the installation image into the LiveCD together with an Ignition config that starts the installation. It's just a matter of doing it, documenting the steps and assembling a nice script for it. We also have a proof-of-concept for offline updates but it wasn't really a priority; I recommend reaching out to https://kinvolk.io/contact-us/ if you have resources to sponsor

[2020-12-01 09:41] pothos commented on #280
To add, there comes a glibc update to Stable. I think it would work in one direction; using an old binary with a newer library as long at the SONAME (library major version) is the same but maybe not in the reverse direction when new symbols are used.

[2020-12-02 09:22] shift commented on #97
@vbatts I've created a quick gist here outlining what was done, let me know if you need more details https://gist.github.com/shift/98f43d98ce5e47e374fa46bf67b6a3b1

[2020-12-03 12:26] dongsupark opened #283 "Enable CRI plugin in containerd"
[Recent](https://github.com/kinvolk/lokomotive/issues/1058) [discussions](https://github.com/poseidon/typhoon/issues/899) in Lokomotive remind me of the complicated history of containerd/cri in Flatcar.
By default, upstream containerd disables the CRI plugin. Its reasons: conflicts with listening ports https://github.com/moby/moby/issues/37507 . However, at the moment, I am not sure if the issue w

[2020-12-04 08:17] t-lo opened #284 "K8s 1.20 docker deprecation: simplify use of containerd for k8s"
**Current situation**
Kubernetes 1.20 deprecated docker use; docker is still supported but issues a deprecation warning; support will be dropped in a future release. While we ship a CRI compatible containerd which can be used by kubernetes with some effort, it's not straightforward and it does not work out of the box.

**Impact**
* users are required to entirely replace the systemd unit of contain

[2020-12-04 10:19] dongsupark commented on #221
Filed PRs:
* https://github.com/gentoo/gentoo/pull/18496
* https://github.com/kinvolk/coreos-overlay/pull/727

[2020-12-04 10:30] #221 closed, assigned to dongsupark

[2020-12-04 13:14] t-lo commented on #21
I did a spike to better understand the major challenges left; WIP PRs are
* https://github.com/kinvolk/flatcar-scripts/pull/105
* https://github.com/kinvolk/coreos-overlay/pull/724

Major blockers left:
- integrate the above script into the vendor tools update mechanism to also update systemd units etc.
- release process to produce signed vendor update tarballs
- vendor update distribution mechani

[2020-12-04 14:36] invidian commented on #283
I just tested in on beta channel:
[code]

And with the following configuration applied, nothing is listening for me neither on all IPs or on port `10010`:
[code]

Diff from base config:
[code]

Output from `ss`:
[code]

Looks to me that CRI can be enabled without major side-effects :tada:

[2020-12-04 14:42] invidian commented on #284
Following Ignition configuration can be used to prepare `containerd` to be used by `kubelet` on Flatcar Beta (2705.1.0):
[code]

Diff from base `containerd` config:
[code]

This configuration keeps backward-compatibility with Docker.

To tell `kubelet` to use containerd, make sure `kubelet` process has access to following directories on host file system:
- `/run/docker/libcontainerd/`
- `/var/lib/

[2020-12-04 15:20] f0o opened #285 "/etc/resolv.conf should point to /run/systemd/resolve/stub-resolv.conf"
**Current situation**
currently `/etc/resolv.conf` points to `/run/systemd/resolve/resolv.conf` which basically merges all DNS entries from all links and configs into 1 file regardless of hierarchy, caching, routing or other settings.

**Impact**
Routed Domains become inherently unsupported as well as systemd-resolved's caching and other advanced features

**Ideal future situation**
By using `/run

[2020-12-04 16:12] pothos commented on #285
Thanks for creating the ticket, yes, the default `/etc/resolv.conf` is not using 127.0.0.53 because it may get propagated into another network namespace where an separate loopback interface exists. Most non-container programs on the host will be using the /etc/nsswitch.conf where adding `hosts: … resolve [!UNAVAIL=return] dns myhostname` would be enough to make it use systemd-resolved directly wit

[2020-12-04 16:38] f0o commented on #285
If that's the sole reason then why not skip resolved? There's no necessity as networkd will propagate /etc/resolv.conf by itself if I remember right.

Right now we employ resolved and have it consume resources but do not use any part of it whatsoever as we default to the discouraged `/run/systemd/resolve/resolv.conf` file.

docker, rkt & containerd are systemd-resolved aware and will switch by the

[2020-12-04 16:47] pothos commented on #285
You are right, we can try it if all parts are ready and we call it out as breaking change.
Nevertheless I think it would be good to first get nsswitch.conf to use resolved directly since, at least on the first look, that it doesn't do it right now which surprises me. Fixing that would address the initial issues you stated.

[2020-12-04 16:49] f0o commented on #285
~~For nss-switch there might be https://www.freedesktop.org/software/systemd/man/nss-resolve.html as option. Untested but I can run a quick portage run and see what happens~~

Turns out `/usr/lib64/libnss_systemd.so.2` already exists, let's test nsswitch's config

Update:

[code]

Seems to work as expected. However tools that dont support nsswitch (ironically docker uses /etc/resolv.conf when pull

[2020-12-04 17:06] f0o commented on #285
I will submit a PR to the baselayout with the nsswitch changes

[2020-12-04 17:15] f0o commented on #285
I would like to keep this issue open despite the merge as the fundamental issue is still the same. I agree that having nsswitch working with systemd is a step in the right direction but ideally we should have all parties using resolved and not a patchwork like it is now.

[2020-12-04 17:41] f0o commented on #285
Ok opened 3 PRs, One is for keeping the current status-quo regarding /etc/resolv.conf and only deals with nsswitch labelled as partial fix. It does not change the behavior of namespaced applications as they still rely on /etc/resolv.conf.

The other 2 PRs are for the `Full` fix, which mean re-enabling stub-resolver and changing the symlink back to it.

Those are potentially breaking changes as the

[2020-12-04 18:01] pothos commented on #285
Great, thank you so much, I'll run some tests, too, when the changes look good.

[2020-12-04 21:12] ryanm101 opened #286 "Encryption at Rest (EAR) using e4crypt breaks after update to 2605.8.0"
Updating from 2512.5.0 to 2605.8.0 breaks encryption at rest using e4crypt.

`e4crypt get_policy /var/lib/kubelet/plugins/kubernetes.io/vsphere-volume/mounts/\[MYDatastore\]\ kubevols/kubernetes-dynamic-pvc-axx32d6b-xxx-xxxx-xxxx-0xxx45dc2.vmdk/encrypted`
returns
`Error getting policy for /var/lib/kubelet/plugins/kubernetes.io/vsphere-volume/mounts/\[MYDatastore\]\ kubevols/kubernetes-dynamic-pvc-

[2020-12-04 21:30] vbatts commented on #286
Thanks for opening the issue. We'll look to reproduce, so any additional information is appreciated

[2020-12-04 22:03] vbatts opened #287 "certify Flatcar+Rancher"
Flatcar+Rancher works, but it is an effort that community has carried.

This issue is a tracker for cross-linking issues related to this.

[Rancher is working on validating Flatcar 2605](https://github.com/rancher/rancher/issues/30299).

[2020-12-06 20:13] tormath1 opened #288 "New Package Request: net-fs/samba-4.12.9-r1"
**Package name and purpose**

Hi, `net-fs/samba` is already present on Flatcar with the version: `4.11.13-r1` ([ebuild](https://github.com/kinvolk/coreos-overlay/blob/9e7732bfdde5ef35013af2e75c6a7e461e5ac19d/net-fs/samba/samba-4.11.13-r1.ebuild)). The goal of this issue is to track its update to the latest stable version on Gentoo: `4.12.9-r1`.

for Flatcar:

- [Gentoo ebuild](https://gitweb.gento

[2020-12-07 07:59] t-lo commented on #284
PR for Flatcar docs (than you @invidian !) : https://github.com/kinvolk/flatcar-docs/pull/132

[2020-12-07 08:58] dongsupark commented on #221
Gentoo PR https://github.com/gentoo/gentoo/pull/18496 was merged as well.

[2020-12-07 11:39] dongsupark opened #289 "Github Actions: auto-update coreos-firmware"
Kernel packages, i.e. `sys-kernel/coreos-{sources,kernel,modules}`, are already being automatically updated in a daily basis.
However, the firmware package `sys-kernel/coreos-firmware` is not in the list of the auto-updated packages.
We should add Github Actions for coreos-firmware as well, basically to detect new releases from the upstream [linux-firmware repo](https://git.kernel.org/pub/scm/linu

[2020-12-07 19:01] tormath1 commented on #288
I identified three new dependencies for this package:

- [dev-perl/Parse-Yapp](https://packages.gentoo.org/packages/dev-perl/Parse-Yapp)
- [dev-libs/icu](https://packages.gentoo.org/packages/dev-libs/icu)
- [sys-libs/liburing](https://packages.gentoo.org/packages/sys-libs/liburing)

This missing dependencies have been added to my fork of `portage-stable`. PR will come in time with the `samba` one.

[2020-12-08 08:28] t-lo commented on #288
Good work with the missing dependencies! It's a good idea to bundle everything into a single PR.

[2020-12-08 13:57] Crazyigor1987 opened #290 "Upgrade from Stable 2605.8.0 to 2605.9.0 breaks Kubernetes installed with RKE"
Our Kubernetes isn't available since the autoupdate on 07.12.2020 from stable channel. I am not quite sure where exactly the problem is, but it looks like the internal network communication between the pods aren't working anymore. We've installed Kubernetes 1.16 with rke on bare metal. The dmesg on every nodes is full with those messages.

[ 4020.042233] SELinux: mount invalid.  Same superblock, d

[2020-12-08 14:35] t-lo commented on #290
Hello @Crazyigor1987 , thanks for the report, and sorry for the bad user experience. The latest Stable release contains a number of user space changes to address security issues. I understand this is a big ask, but would you be able to re-provision the nodes (instead of updating) and check if the problem persists?

[2020-12-08 15:28] pothos commented on #290
If it's a networking problem, something similar is reported here https://github.com/kinvolk/Flatcar/issues/278
I would try to do debug the connectivity issue by altering some of the settings mentioned in the linked issue.

[2020-12-09 08:56] Crazyigor1987 commented on #290
Hi @t-lo ,

done it, getting worse. Now the docker containers cannot start up. Here is my journalctl output, when i perform rke up.

[code]

[2020-12-09 14:29] dongsupark opened #291 "[Tracking ] Update dev-vcs/repo to 2.8 in stable"
**Current situation**
[repo v2.10](https://groups.google.com/g/repo-discuss/c/rpSfMCl83Sk) was released dropping python2 support. As a result, every `repo init` failed to run.
To unblock CI builds, we released mantle [v0.15.2](https://github.com/kinvolk/mantle/releases/tag/v0.15.2), including a [workaround](https://github.com/kinvolk/mantle/pull/151) to set the target branch to [`maint`](
https://

[2020-12-09 15:49] pothos commented on #283
Docs to enable CRI manually are published under https://kinvolk.io/docs/flatcar-container-linux/latest/container-runtimes/switching-from-docker-to-containerd-for-kubernetes/

[2020-12-09 15:50] pothos commented on #284
Docs to manually use containerd with Kubernetes are published under https://kinvolk.io/docs/flatcar-container-linux/latest/container-runtimes/switching-from-docker-to-containerd-for-kubernetes/

[2020-12-09 17:05] #289 closed, assigned to dongsupark

[2020-12-09 17:21] pothos opened #292 "Use pam_faillock"
**Current situation**
The previously used pam_tally2 module got deprecated and was removed in https://github.com/kinvolk/baselayout/pull/12 but we didn't migrate to pam_faillock yet.

**Impact**
The use case of pam_tally2/pam_faillock might not be covered now in the next Alpha release, since in our `baselayout/pam.d/system-auth` file we don't have a setting for pam_faillock.

**Ideal future situat

[2020-12-09 17:51] alban commented on #284
Do you know which version of Kubernetes is supported by the containerd in Flatcar? It would be nice to add that in the doc (or explain where to get that information)

There are some support matrix at https://github.com/containerd/cri/#support-metrics but I am not sure if they are up-to-date, now that containerd/cri has been moved to containerd/containerd.

[2020-12-09 20:21] matveybrant opened #293 "2605.9.0 Breaks iSCSI - error loading shared libraries"
**Description**

After automatic update to 2605.9.0 from 2605.8.0, our solidfire pvcs will not mount, journalctl has following error:

iscsi_util.go:301] iscsi: could not read iface default error: iscsiadm: error while loading shared libraries: libisns.so.0: cannot open shared object file: No such file

**Impact**

Took some critical workloads offline as they could not mount their pvcs, had to rol

[2020-12-09 21:03] gregsymons commented on #278
I can also confirm that the 2605 series has broken the AWS CNI. Pods with host networking (e.g. kube-proxy or the CNI daemonset itself) are able to communicate outside the node fine, but pods without host networking fail to connect to anything as if the packets are being dropped, whether the destination is in-cluster, out-of-cluster, or even on the same node. This includes calls to the `kubernetes